[2021-01-04 17:46] jennyf19 commented on #692
Thanks @damienbod

[2021-01-04 18:19] #692 closed

[2021-01-05 20:18] GeoK commented on #851
` ---> System.Net.Http.HttpRequestException: Resource temporarily unavailable`
Looks like some sort of networking/routing issue. I can open https://login.microsoftonline.com/common/discovery/instance?authorization_endpoint=https://login.microsoftonline.com/common/oauth2/v2.0/authorize&api-version=1.1 in my browser.

[2021-01-07 06:23] Servellia commented on #851
I am now at a point, where I am almost certain, that the issue is _not_ Asp.net Core. Microsoft.Identity.Web or any other configuration, but the Microk8s cluster config and DNS, since not pod on that cluster can reach the outside world.

Theoretically this can be closed. If I can resolve it, I will post the solution here.

[2021-01-07 10:25] jmprieur commented on #851
Thanks for the update @Servellia
Closing as you proposed.

[2021-01-07 10:25] #851 closed

[2021-01-07 11:36] PieterJanVdb opened #857 "[Question] Functionality of AuthorizeForScopes in Resource Filter"
I'm currently implementing a Resource Filter in a Razor Page web application where `TokenAcquisition.GetAccessTokenForUserAsync` is called which might result in a `MsalUiRequiredException`. Now usually that's handled by using the `AuthorizeForScopes` attribute on the Page. However, any exceptions thrown in a Resource Filter will not be handled by any Exception Filters (like `AuthorizeForScopes`).

[2021-01-07 13:16] Servellia commented on #851
To tie up lose ends:
This was in fact a DNS based problem, although I could not find the cause of it.  I did a reset of the cluster, removed it and reinstalled it. After I've added the ssl certifcates the build pipeline did its magic and eerything went to work.

[2021-01-07 13:24] jmprieur commented on #851
Thanks for the update @Servellia !
We're glad you got it working.

[2021-01-07 13:29] jmprieur commented on #857
@PieterJanVdb : you could use the `MicrosoftIdentityConsentAndConditionalAccessHandler` class which is the solution for Blazor pages, but can also be used in MVC or Razor pages.

https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access#in-the-blazor-page-itself

Can you inject it by dependency injection in your resource filter?

[2021-01-07 13:33] jmprieur commented on #843
Closing this issue as it was answered

[2021-01-07 13:33] #843 closed

[2021-01-07 13:43] PieterJanVdb commented on #857
@jmprieur That seems to do the trick, thanks!

[2021-01-07 13:43] #857 closed

[2021-01-07 13:44] jmprieur commented on #857
Thanks for the update, @PieterJanVdb. We're glad you're unblocked.

[2021-01-08 19:44] jayoungers opened #860 "[Feature Request] IGraphServiceClient Injection"
**Is your feature request related to a problem? Please describe.**
Currently, `AddMicrosoftGraph()` adds `GraphServiceClient` to the service collection as the type opposed to the interface.

**Describe the solution you'd like**
If this line was updated to reference the interface: https://github.com/AzureAD/microsoft-identity-web/blob/ee038c26145e7f42c0f44461c57cc39d55e5598f/src/Microsoft.Identity.

[2021-01-08 20:16] jennyf19 commented on #860
@jayoungers please see the [comment here](https://github.com/AzureAD/microsoft-identity-web/issues/625#issuecomment-702765953), this is against the recommendation from the Graph SDK team. Closing as by-design.
cc: @darrelmiller

[2021-01-08 20:16] #860 closed

[2021-01-08 20:36] jayoungers commented on #860
Thanks @jennyf19 !  I'll look into pulling out our references to the interfaces

@darrelmiller I fully agree with the stance on interface usage, but is the comment inferring that in order to test `GraphServiceClient` in isolation, the expectation is to mock it out at a lower level (i.e. http requests/responses)?

If my logic is injecting `GraphServiceClient`, I'm not 100% sure from a testing persp

[2021-01-08 21:05] bradtwurst opened #861 "ITokenAcquisition injected into IClaimsTransformation implementation fails to return access token"
**Which version of Microsoft Identity Web are you using?**
1.4.1
**Where is the issue?**
* Web app
    * [x] Sign-in users - blazor server

**Is this a new or an existing app?**
c. This is a new app or an experiment.

**Repro**

attempting to call GetAccessTokenForUserAsync inside an implementation of IClaimsTransformation so that additional application specific claims can be retrieved from a lega

[2021-01-08 22:12] relakhani commented on #814
B2C does not allow multiple resources (web apis) as scope parameter value in a single authorize request. You need to send separate auth requests for each resource

[2021-01-11 11:36] jmprieur commented on #861
What is the failure? is there an exception?

I would think that IClaimsTransformation  is called before the HttpContext.User is even populated.
You might want to try to call the override of [GetAccessTokenForUserAsync](https://docs.microsoft.com/dotnet/api/microsoft.identity.web.itokenacquisition.getaccesstokenforuserasync?view=azure-dotnet-preview#Microsoft_Identity_Web_ITokenAcquisition_GetAcces

[2021-01-12 13:54] bradtwurst commented on #861
Thanks for the response.

The exception reported is

    MsalUiRequiredException inner exception of "No account or login hint was passed to the AcquireTokenSilent call."

I was not aware that the GetAccessToken method had an override for passing in the claims principal.

I used that override with the principal that is provided to the claims transformation method and it does resolve the situation.

[2021-01-12 13:54] #861 closed

[2021-01-12 13:55] jmprieur commented on #861
Thanks for the update, @bradtwurst !

[2021-01-13 09:52] juho-hanhimaki commented on #168
Ran to this same issue when using B2C with AD common endpoint sign in.

Luckily its not too hard to replace the IssuerValidator, but suboptimal user experience either way.

[2021-01-13 09:55] luismanez opened #864 "[Bug] Token Cache not persisting all tokens when API calls downstream API"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.4.1
Microsoft.Identity.Client 4.7.1

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [x] Sign-in users and call web APIs
* Web API
    * [x] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [x] Protected web APIs call downstream web APIs
* Token cache ser

[2021-01-13 13:08] jmprieur commented on #864
@luismanez
Yes you are right for the first part

Do you use the same SQL database for all your applications?

Microsoft.Identity.Web maintains, for OBO, one cache per user. The key is the [SuggestedCacheKey](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/7a2be0afeb6be812115ac4e866c7f67e9f6583cf/src/client/Microsoft.Identity.Client/TokenCacheNotificationArgs.cs#L76) mem

[2021-01-13 14:07] luismanez commented on #864
Thanks @jmprieur, you´re absolutely right!! just realised about that other record in the table with that "weird" ID!! I didn´t do it before as I thought it was some internal stuff from any .net core middleware... sorry.

Before closing the issue, one last question. I´m using the same DB and Table for Distributed token cache for all the apps in my scenario (webapp, api1, api2)... is this a bad appr

[2021-01-13 14:24] jmprieur commented on #864
Thanks for the update, @luismanez
Using the same db / table is probably ok. I guess you'd need to see if the table could be the bottleneck, but we don't have anybody complaining so far.

[2021-01-13 19:17] jennyf19 commented on #804
@ThatMouse and @BrettMahon you would need to override the page. Have you seen our wiki [documentation](https://github.com/AzureAD/microsoft-identity-web/wiki/customization#implement-a-custom-signedout-page) on how to set this up? If you need more, please tag me.

closing for now.

[2021-01-13 19:17] #804 closed

[2021-01-13 19:20] jennyf19 commented on #775
closing, but feel free to reopen @OnAzureCloud9 with the information @navyasric asked for above. thanks.

[2021-01-13 19:20] #775 closed

[2021-01-13 19:36] JasonImageOne commented on #804
I don't think this is a very good solution, since it would easily be solved by defining a URL. The best workaround for Blazor is to  use a rewriter. This way I can redirect to a Blazor page and not use cshtml at all. This is in my Startup.cs in a Blazor app.
`            app.UseRewriter(
            new RewriteOptions().Add(
                context =>
                {
                    if (cont

[2021-01-13 20:54] luismanez commented on #864
Thanks @jmprieur really appreciate it. Hope it helps others to understand better how the Token cache works. Closing the non-issue XD

[2021-01-13 20:54] #864 closed

[2021-01-14 14:49] jmprieur commented on #846
@Shama-K @kalyankrishna1 why is this assigned to Kalyan?

[2021-01-14 14:50] jmprieur commented on #814
Closing as this is external

[2021-01-14 14:58] jmprieur opened #870 "[Bug] AuthorizeForScopesAttribute should specify an alternate AuthenticationScheme name"
**Which version of Microsoft Identity Web are you using?**
1.5.0

**Where is the issue?**
* Web app
    * [ x] Sign-in users and call web APIs

**Is this a new or an existing app?**
Apps that want to use several identity providers / authentication schemes. We have, for instance this request for documentation on how to sign-in with both AAD and B2C: https://github.com/AzureAD/microsoft-identity-web

[2021-01-14 18:53] m-hicks-OH opened #872 "[Feature Request] Automatically retrieve additional claims from UserInfo Endpoint"
**Is your feature request related to a problem? Please describe.**
If I were to user OpenIdConnect middleware, there is an option to ".GetClaimsFromUserInfoEndpoint" which if set to "true" will automatically hit the userinfo endpoint from the discovery document and retrieve additional claims (whcih can be added to the ticket).

It appears that when using .AddMicrosoftIdentityWebApp there is no def

[2021-01-14 19:15] vitali-karmanov commented on #554
I have the same issue as @shanemikel, I would like to instead of being redirect to /MicrosoftIdentity/Pages/Account/SignedOut change it to redirect to a custom url. I have SignedOutCallbackPath defined but it doesn't work, it always ends at /MicrosoftIdentity/Pages/Account/SignedOut.

[2021-01-14 19:43] jmprieur commented on #872
@m-hicks-OH
Microsoft.Identity.Web already requests the claims from the user info endpoint in web apps. See https://github.com/AzureAD/microsoft-identity-web/blob/5539157a9e42c57d1a27b1be980caef6f8443086/src/Microsoft.Identity.Web/WebAppExtensions/MicrosoftIdentityWebAppAuthenticationBuilderExtensions.cs#L337

It's just that the claims you are looking fore are in the **IDToken**, not the access to

[2021-01-14 19:48] m-hicks-OH commented on #872
@jmprieur But it's not, I mean I'm looking at the back-channel HTTP request traffic and it's never making that call.  Additionally, when I check the User.Claims, those extra claims aren't there.

[2021-01-14 21:18] m-hicks-OH commented on #872
Perhaps I'm either not explaining myself or I'm doing something wrong, but how am I supposed to turn the GetClaimsFromUserInfoEndpoint option to true, when it's default, and it seems that the option is being ignored by the ConfigSection.  I looked through the constructor and service registration code you linked, and I see the part where it gets the GetClaimsFromUserInfoEndpoint value from the pass

[2021-01-15 00:18] Shama-K commented on #846
@jmprieur, it was assigned for Kalyan's reference.

[2021-01-15 08:35] hajekj commented on #846
@Shama-K @jmprieur: Would you like me to try to prepare a pull request for this? Or eventually give some comments on the specification?

[2021-01-15 08:54] jmprieur commented on #846
Sure @hajekj, any additional spec would be welcomed. You can also propose a PR if you wish.

[2021-01-15 09:08] hajekj commented on #846
I will try to prepare the PR this weekend. Will keep you posted. Thanks!

[2021-01-15 09:14] jmprieur opened #878 "[Feature Request] Microsoft.Identity.Web helps authenticating Azure Functions with AAD and B2C"
**Is your feature request related to a problem? Please describe.**
Azure functions can be considered as Web APIs. It's possible to call with with a header containing a bearer token.

**Describe the solution you'd like**
Microsoft.Identity.Web should provide a helper and documentation on how to do that.

**Describe alternatives you've considered**
-  See https://github.com/AzureAD/microsoft-identit

[2021-01-15 16:37] m-hicks-OH opened #879 "[Bug]"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
1.4.1

**Where is the issue?**
* Web app
    * [x ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Other (please describe)

**Is this a new or an existing app?**
<!-- Ex:
a. The app is in production and I have attempted to change from OpenIDConnect middleware to Microsof

[2021-01-15 16:38] m-hicks-OH opened #880 "[Bug] Set option "GetClaimsFromUserInfoEndpoint" should go to user info endpoint"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
1.4.1

**Where is the issue?**
* Web app
    * [x ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Other (please describe)

**Is this a new or an existing app?**

a. The app is in production and I have attempted to change from OpenIDConnect middleware to MicrosoftIdentit

[2021-01-15 17:18] jennyf19 commented on #872
similar [issue](https://github.com/AzureAD/microsoft-identity-web/issues/880)

[2021-01-15 17:18] jennyf19 commented on #879
closing, as no info provided

[2021-01-15 17:18] #879 closed

[2021-01-15 19:33] johnnyreilly opened #881 "Documentation: How to use EasyAuth with Azure AppService and Roles?"
### Documentation related to component

How to use EasyAuth with Azure App Service with Roles.  I may be reporting a bug here also - but I'm not sure.

### Please check all that apply

- [ ] typo
- [x] documentation doesn't exist
- [x] documentation needs clarification
- [ ] error(s) in the example
- [ ] needs an example

### Description of the issue

Hello!  I've been working on trying to make us

[2021-01-15 20:37] jmprieur commented on #878
Reopen until we release it (it's fixed)

[2021-01-16 16:58] johnnyreilly commented on #881
I think I've come up with a workaround using `IClaimsTransformation`.  Inside our `Startup.cs` I've registered a claims transformer:

[code]

And that claims transformer looks like this:

[code]

I've done some testing and it seems to work.  We'll be able to move forward with this for now.  I'll try and blog about this to share the knowledge.  It would be tremendous if this wasn't necessary though

[2021-01-16 17:18] abhisheksiddhu commented on #554
@vitali-karmanov You can write a redirect after the loading of this page

[2021-01-16 21:45] jennyf19 commented on #836
the edit profile v3 user flow doesn't seem to work. also, noticing interesting things in the URL in the browser, so reverting back, and will need to an investigation into this at a later time.

[2021-01-17 11:35] StefH opened #886 "Why does the extension method 'MicrosoftGraphAppOnly' setup a Scoped registration for GraphServiceClient instead of IGraphServiceClient?"
In this code:
https://github.com/AzureAD/microsoft-identity-web/blob/master/src/Microsoft.Identity.Web.MicrosoftGraph/MicrosoftGraphExtensions.cs#L142

The `GraphServiceClient` is registered as `GraphServiceClient`.

But why is not the **interface** registered ?
Like:
[code]

Registering as an interface makes it possible to use the IGraphServiceClient in your own implementation classes like:

[cod

[2021-01-17 20:14] jmprieur commented on #886
Closing as "by design" as duplicates of
- https://github.com/AzureAD/microsoft-identity-web/issues/860
- https://github.com/AzureAD/microsoft-identity-web/issues/625

Please @StefH, see the justification (coming from the Graph SDK team) in these issues

[2021-01-17 20:14] #886 closed

[2021-01-18 02:14] husseinkorly commented on #878
It will be really useful for us if it can decrypt and validate v2 tokens!

[2021-01-18 07:09] rsrinivasanhome opened #889 "Sample to use subscribeToJwtBearerMiddlewareDiagnosticsEvents: true"
**Is your feature request related to a problem? Please describe.**
I want to see the jwt bearer events but not able to do even though I am setting subscribeToJwtBearerMiddlewareDiagnosticsEvents: true

Here is the sample I am using.

services.AddAuthentication()
                   .AddMicrosoftIdentityWebApi(Configuration, "AzureAd", "ADScheme", subscribeToJwtBearerMiddlewareDiagnosticsEvents: tru

[2021-01-18 13:40] husseinkorly commented on #878
@jmprieur when 1.5.0 expected to be released?

[2021-01-18 15:04] juchom opened #890 "[Documentation] Add / Remove claims in a filter"
### Documentation related to component
Customization of claims at application level

### Please check all that apply

- [ ] typo
- [ ] documentation doesn't exist
- [X] documentation needs clarification
- [ ] error(s) in the example
- [ ] needs an example

### Description of the issue

I have setup a simple ASP.Net Razor Pages app with AAD B2B authentication and everything works fine.

My problem

[2021-01-18 16:41] snebjorn opened #891 "[Feature Request] Allow for configuring HttpClient in AddDownstreamWebApi"
**Is your feature request related to a problem? Please describe.**
I want to be able to configure the HttpClient made inside the `AddDownstreamWebApi` call.

I'd like access to `HttpClient` to be able to set default headers etc. `client.DefaultRequestHeaders`.
I'd like access to `IHttpClientBuilder` to be able to call `ConfigurePrimaryHttpMessageHandler`.

**Describe the solution you'd like**
The

[2021-01-18 16:55] munkii commented on #460
We'd like to be able to centralise the configuration of our HttpClient in Startup.cs. So instead of

`services.AddHttpClient<IMyService, MyService>();`

We are moving to something like this,

[code]

That works fine but if we wanted to move the following in there too

[code]

We'd need access to ITokenAcquisition in Startup. There are a few references that suggest calling

[code]
However if you do

[2021-01-18 19:53] jmprieur commented on #878
This week, @husseinkorly
(today is a public holiday in the US)

[2021-01-19 02:53] m-hicks-OH commented on #880
As a side note, I downloaded the sample app for .net core web apps configured all the settings in the appsettings.json, and got the same effect.  The user signs-in, app gets the authcode, app sends the authcode to the token endpoint, app gets an access token, and does not call the userinfo endpoint.  I then tried to manually set that option (either in the appsettings or on the options delagate, an

[2021-01-19 16:57] juchom commented on #890
I made some progress on my issue, working with the OnTokenValidated event seems ok to persist application claims.

Now, to refresh the claims I'm calling this method in order to have the OnTokenValidated event called

[code]

Is there a way to update claims without calling `HttpContext.ChallengeAsync` ?

Let me know if I'm not clear :)

[2021-01-20 09:44] madshaun1984 commented on #544
Can I get an example of which options need to be set for use with downstream api token acquisition please?

[code]

I'm concerned that storing a ClientSecret in appsettings.json isn't secure (it gets checked into source control), so I'd like to override the method and insert the client secret from keyvault. This also prevents a need to publish a new version of the site when the client secret expir

[2021-01-20 12:22] KalyanChanumolu-MSFT opened #895 "[FEATURE REQ] : Passing scopes to EnableTokenAcquisitionToCallDownstreamApi() vs AddMicrosoftGraph()"
We need to streamline and document the right way to pass scopes to EnableTokenAcquisitionToCallDownstreamApi() vs AddMicrosoftGraph()

What is the difference between passing scopes to EnableTokenAcquisitionToCallDownstreamApi vs AddMicrosoftGraph
Which one should be used?

[code]

[code]
Can we change AddMicrosoftGraph() to accept an array of scopes instead of scopes separated by space?

[code]

[2021-01-20 13:07] jmprieur commented on #895
@KalyanChanumolu-MSFT
Thanks for the heads-up
The former uses a property which is rather used in the configuration.  The second indeed, pre-requests the scopes
We might want to improve this to make it more consistent

Note, however, that you shouldn't have an infinite loop. Did you use the [AuthorizeForScopes] attribute in your controller or pages ? See https://github.com/AzureAD/microsoft-identit

[2021-01-20 13:08] jmprieur commented on #895
Adding an enhancement label, so that we try to register the initialScopes if not passed to EnableTokenAcquisitionToCallDownstreamApi (if possible)

[2021-01-20 13:20] jmprieur commented on #544
You have to solutions to avoid having the client secret in the appsettings.jon:
1. Use the user secrets feature in ASP.NET Core: https://docs.microsoft.com/aspnet/core/security/app-secrets
2. Use certificates instead of app secrets: See https://github.com/AzureAD/microsoft-identity-web/wiki/Certificates

Finally you could always initialize parameters from the configuration, and then initialize the

[2021-01-20 13:37] madshaun1984 commented on #544
@jmprieur thanks for the tips, however the snippet I provided above is working, I'm more concerned here with the need to then override ".EnableTokenAcquisitionToCallDownstreamApi".

The concern is that setting an instance (for example) or not setting an option may introduce issues further down the line.

Are there any caveats I should be aware of here, or would I be OK setting the options shown in

[2021-01-20 17:12] jennyf19 commented on #878
included in [1.5.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.5.0)

[2021-01-20 17:12] #878 closed

[2021-01-20 17:13] jennyf19 commented on #792
included in [1.5.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.5.0)

[2021-01-20 17:13] #792 closed

[2021-01-20 17:13] jennyf19 commented on #628
included in [1.5.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.5.0)

[2021-01-20 17:13] #628 closed

[2021-01-20 17:13] jennyf19 commented on #847
included in [1.5.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.5.0)

[2021-01-20 17:13] #847 closed

[2021-01-21 04:48] KalyanChanumolu-MSFT commented on #895
@jmprieur The infinite loop is happening because of an unrelated issue with MyApps where revoked consent is not getting applied. I will edit the title.
But we need to streamline and document the difference in passing scopes to the 2 methods

Can we change AddMicrosoftGraph() to accept an array of scopes instead of scopes separated by space?

[code]

[2021-01-21 09:40] jmprieur commented on #895
Thanks @KalyanChanumolu-MSFT for the update
We can have a override to AddMicrosoftGraph to accept an array of scopes (even with a params)

@jennyf19 proposing to do something about this one.

[2021-01-21 11:51] jmprieur opened #898 "[Feature Request] Update Microsoft.Identity.Web to Update to the latest version of MSAL .NET (4.25), Microsoft Graph (3.22) and Microsoft Graph Beta (0.36.0-preview)"

[2021-01-21 11:52] #898 closed

[2021-01-21 14:54] rajeev16mca2k5 commented on #843
Hi @jmprieur ,

Sorry for the late reply.
This issue is still not resolved.
We are still getting MSALUIRequired Exception, when SQL Token Cache is expired, but access token is still valid.

I am attaching sample application to reproduce the issue with steps specified in the readme.txt file under project folder.
I have taken off client id and secret for security. If you would like to use our applic

[2021-01-21 16:55] jmprieur commented on #880
@jennyf19
Let's call the user info endpoint even in the case where we don't call a web api. This way, I believe the ID token might no longer be needed (we need to verify this claim)

[2021-01-21 21:43] jmprieur opened #899 "[Feature Request] Have a project template for protected Azure functions"
**Is your feature request related to a problem? Please describe.**
dotnet new func --auth SingleOrg [--calls-graph]
dotnet new func --auth SingleOrg [--called-api-url xxx --called-api-scopes yyy]
dotnet new func --auth IndividualB2C

**Describe the solution you'd like**
Have a project template for Azure functions that are protected with AAD or AAD B2C

**Additional context**
The Azure function tem

[2021-01-21 21:51] jmprieur opened #900 "[Feature Request] worker2 project template should allow for calling graph and downstream APIs"
**Is your feature request related to a problem? Please describe.**
The `worker2` template protects gRPC services, but does not show how to call Microsoft Graph or a downstream API yet.

**Describe the solution you'd like**
[code]

**Additional context**
See the WebAPI template

[2021-01-22 12:52] rsrinivasanhome opened #904 "Query how to configure multiple audience for Azure AD B2C"
Hi,
I am using Azure AD B2C .  My token will have two different audiences based on conditions.  My api needs to work with both the audiences .  In the client id field I have been able to add one Audience if I need to add more than one say two. How  will add it the config file ?

{
  "AzureAdB2C": {
    "Instance": "https://mytenant.b2clogin.com",
    "Domain": "mytenant.onmicrosoft.com",
    **"Cl

[2021-01-22 18:30] jmprieur opened #905 "[Bug] Enable token decryption certificates rotation"
**Which version of Microsoft Identity Web are you using?**
1.5.1

**Where is the issue?**
* Web API
    * [x ] Protected web APIs (validating tokens)

**Is this a new or an existing app?**
New or existing

**Repro**
Today, Microsoft.Identity.Web allows the developers to provide a collection of token decryption certificates (to be able to rotate certificates), but only the fist one is used. See [th

[2021-01-22 19:48] brentschmaltz commented on #905
@jmprieur We need to be careful when using certificates.
Some users have seen issues when specifying the certificate.
A more performant pattern would be to obtain the RSA object from the certificate once on startup and pass an RSASecurityKey (s) instantiated with the RSA object. Our libraries will not dispose of the RSA as they did not create it.

[2021-01-23 09:44] akshaybabloo opened #906 "Question: How to change login and logout path"
I wanted to change the login path from `/MicrosoftIdentity/Account/SignIn` to `/login` and this is what I have so far

[code]

And it doesn't work. How should I change the login path?

[2021-01-24 13:30] arqe opened #907 "[Bug] Phone sign up form problems"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

**Where is the issue?**
* Web app
    * [x ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache seri

[2021-01-24 13:58] arqe commented on #907
I took a look at the page source and this is the root cause:
![image](https://user-images.githubusercontent.com/16734197/105632637-86fe2b00-5e54-11eb-9acf-837f3f584280.png)

[2021-01-25 11:39] rajeevchib opened #908 "[Bug] What Distributed SQL value to use for DefaultSlidingExpiration ?"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [X ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache seri

[2021-01-25 13:07] jmprieur commented on #908
@rajeevchib : what do you mean by the cache entry expired? The cache entry will expire only if the token has expired or the session (in the case of a web app) expires, and in both cases the user needs to be challenged.

The recommendation is to have the serialization expiration (in this case the SQL database expiration delay) be bigger than the token expiry. If the database entry is deleted, then

[2021-01-25 13:44] jmprieur commented on #904
I suggest that, after services.AddMicrosoftIdentityWebApp, you add an instruction like the following:

[code]

[2021-01-25 15:16] rajeevchib commented on #908
Hi @jmprieur

what do you mean by the cache entry expired? The cache entry will expire only if the token has expired or the session (in the case of a web app) expires, and in both cases the user needs to be challenged.
**The problem seems to occur when the token cache has expired, but the access token is still valid. Token cache is not automatically refreshed.
        Could you please elaborate on

[2021-01-25 18:05] jmprieur commented on #907
@arqe: we contacted the service people. We are waiting for them to reply

[2021-01-25 19:01] jennyf19 commented on #907
@arqe have you tried with the standard userflow? Based on the UI in the screen shot, it looks like you are using the recommended user flow...a work around might be to try w/the standard user flow until we hear back from the b2c team. just an idea.

[2021-01-25 21:25] arqe commented on #907
Thanks a lot! It is not related to a production scenario at the moment, so I just wanted it to be reported for the benefit of everyone.

[2021-01-27 16:52] m-hicks-OH commented on #880
ID Token is still very much needed, especially if GetClaimsFromUserInfoEndpoint is set to false.

[2021-01-27 19:17] jennyf19 commented on #905
@jmprieur there was [fix](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1511) for the issue i hit w/this is in IdentityModel.* 6.8.0, however, Microsoft.AspNetCore.Authentication.* is currently on 6.7.1 of IdentityModel.*, and updating to 6.7.1 does not support net472 or netcoreapp3.1.

so, marking as blocked, we can discuss how to proceed.

[2021-01-28 01:38] creativebrother commented on #786
Hi @jmprieur, so if we have access token life time of 1 hour, we should set the cache expiration to, say 90 minutes to balance the  cache storage and re-authentication traffic(give the refresh token a chance to work?).
When using the default expiration of 20 minutes, the refresh token is never used because the ConfidentialClientApplication.GetAccountAsync(Id) will get nothing from cache due to the

[2021-01-28 11:46] johnnyreilly commented on #881
Hi @jennyf19,

Apologies for pinging you directly.  I was just wondering if there was anyone looking into the issue I raised here?  I appreciate you must be super busy - but it would be great to understand if this being looked at in any way?  Or if my understanding of the situation isn't quite right.  That's always possible!

[2021-01-28 14:42] jmprieur commented on #881
@johnnyreilly. We can see if we can enhance Microsoft.Identity.Web to use "roles" by default in the case the app is hosted by EasyAuth. Would you be able to try out if we produced a preview build?

Meanwhile, instead of doing the claim transformation, did you try the following ?

[code]

[2021-01-28 16:29] johnnyreilly commented on #881
Thanks for responding @jmprieur!

Absolutely!

No I haven't tried that - I will and will report back.

[2021-01-28 17:06] jmprieur commented on #460
Updating the proposed solution: @mia01 @munkii

[code]

[2021-01-28 19:48] kalyankrishna1 commented on #881
The solution is provided [here](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/5-WebApp-AuthZ/5-1-Roles/Startup.cs)

The relevant code for reference
[code]

[2021-01-28 23:50] theyo commented on #808
@jmprieur Just ran into this issue today. Having a default predefined name like "Microsoft Identity Platform" would be great to keep it unique compared to the basic OIDC provider. However, it is also beneficial to be able to change the name in cases where we might need to register mutliple instances of the Microsoft Identity provider as in the case of using something like Identity Server to provid

[2021-01-29 12:48] jmprieur commented on #808
@jennyf19. I propose we take this one as well for next release.

Spec.

1. In this line, we need to pass-in a new string parameter the identityProviderName (AddOpenIdConnect method has overrides)

https://github.com/AzureAD/microsoft-identity-web/blob/95d9696161db68bd68b84ec32903968c54840498/src/Microsoft.Identity.Web/WebAppExtensions/MicrosoftIdentityWebAppAuthenticationBuilderExtensions.cs#L275

[2021-01-29 13:42] johnnyreilly commented on #881
Hey @jmprieur! (and @kalyankrishna1),

We experimented with adding the following in, as suggested:

[code]

However it doesn't appear to have worked.  Here's were our `roles` claims when deployed to Azure:

[code]

However, when attempting to hit the following controller endpoint we experienced `403 Forbidden`.

[code]

[2021-01-29 16:12] jmprieur commented on #881
@johnnyreilly : did you do what @kalyankrishna1 suggested:

[code]

before calling `AppMicrosoftIdentityWeb` ?

[2021-01-29 16:20] jmprieur opened #911 "[Feature Request] Turn off claims mapping by default in Microsoft.Identity.Web"
**Is your feature request related to a problem? Please describe.**
keeping the ClaimsPrincipal claims collection to have claims as they exist in the id and access tokens for the newly developed apps (like the ones adopting MIW)

**Describe the solution you'd like**
By default, the claims mapping will map claim names in the old format to accommodate older SAML applications.
'http://schemas.microsof

[2021-01-29 16:21] johnnyreilly commented on #881
Sorry no - I missed that. Let me test again and report back.

[2021-01-29 16:21] jmprieur commented on #905
Fixed by https://github.com/AzureAD/microsoft-identity-web/pull/909

[2021-01-29 16:32] theyo commented on #808
I would also ask that the implementation is consistent with the the built-in providers here: https://github.com/dotnet/aspnetcore/tree/2670c128d522473e146ff9f8159bfffdfe694cd9/src/Security/Authentication

Namely, that the parameter name `displayName` and possibly the parameter order in the extension methods and the addition of a `MicrosoftIdentityWebDefaults` class.

[2021-01-29 17:00] johnnyreilly commented on #881
No - it didn't work with @kalyankrishna1's suggestion either I'm afraid.

[2021-01-29 18:36] edkar-guber-issoft opened #912 "[Bug] Cannot acquire token to call API from another API"
**Which version of Microsoft Identity Web are you using?**
_**The latest one: Microsoft Identity Web 1.5.1**_

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [x] **Protected web APIs call downstream web APIs**
* Token cache serializa

[2021-01-29 18:49] jmprieur commented on #912
@edkar-guber-issoft
the B2C service does not support the On behalf of flow which is required for a web api to call a downstream API.

See also https://github.com/AzureAD/microsoft-identity-web/wiki/1.0.0#case-of-an-azure-ad-b2c-app which shows this graphically.

[2021-01-29 19:42] edkar-guber-issoft commented on #912
@jmprieur thank you for the quick response! could you point me what are workarounds might be in that case? is it possible to use service-to-service call (on behalf of the application) with Microsoft Identity Web in this scenario?

[2021-01-29 20:09] jmprieur commented on #912
@edkar-guber-issoft: It's possible with Azure AD, but not with Azure AD B2C, sorry.
@nickgmicrosoft FYI and if you want to comment

[2021-01-29 23:08] jpda commented on #814
@jmprieur & @jennyf19 - external where? B2C side or separate? We have this problem too; `AuthorizeForScopes` sends the user to the correct B2C authorization URL (with the correct, requested scope), however on the return trip, when the code is redeemed, it is redeemed with the other API scope, not the requested one.

API1 (`https://jaydoubleutee.info/jt/WebApi1Access`)
API2 (`https://jpdab2c.onmicr

[2021-01-29 23:27] cmatskas commented on #814
To pile on on @jpda's comment above, I was able to replicate this issue using B2C while trying to acquire tokens for two different APIs using the `AddDownstreamWebApi()` approach. The error manifests in a different way:

Exception details.
![image](https://user-images.githubusercontent.com/4126750/106337341-c7d7b480-6245-11eb-84ed-7b58a2a19f87.png)

![image](https://user-images.githubusercontent.c

[2021-01-29 23:56] jennyf19 commented on #814
@jmprieur reopening. we need a sample or doc on this scenario, so reopening to track, but i might open a separate issue later (fyi).

[2021-01-30 10:34] jmprieur commented on #912
@edkar-guber-issoft: This is now documented in https://github.com/AzureAD/microsoft-identity-web/wiki/b2c-limitations#azure-ad-b2c-protected-web-apis-cannot-call-downstream-apis

[2021-01-30 10:34] #912 closed

[2021-01-30 10:49] jmprieur commented on #808
@theyo : what is the rationale for this ask? the displayName makes sense for AddOpenIdConnect, but AddMicrosoftIdentityWebApp does way more than that.
Would we agree with `identityProviderDisplayName` ?

[2021-01-30 13:17] jmprieur commented on #786
Thanks for the update, @creativebrother
The default should not be 20 mins. I've updated the wiki
I've also updated the samples:
- https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/457
- https://github.com/Azure-Samples/active-directory-dotnet-v1-to-v2/pull/25

[2021-01-30 14:01] arqe opened #915 "[Documentation] Protected web APIs that call downstream APIs on behalf of a user"
### Documentation related to component
Protected web APIs that call downstream APIs on behalf of a user

### Please check all that apply

- [ ] typo
- [ ] documentation doesn't exist
- [x] documentation needs clarification
- [x] error(s) in the example
- [ ] needs an example

### Description of the issue

Hi,
I am having issues with the section [https://github.com/AzureAD/microsoft-identity-web/wi

[2021-01-30 17:51] theyo commented on #808
@jmprieur I don't think the comparison is between `AddMicrosoftIdentityWebApp` and `AddOpenIdConnect`. It should really be compared to one of the other wrappers like `AddMicrosoftAccount`. I agree that `AddMicrosoftIdentityWebApp` does a lot, but at the end of the day it's a wrapper around `AddOpenIdConnect` just in the same manner that `AddMicrosoftAccount` is a wrapper around `AddOAth`.

This me

[2021-01-31 08:35] jmprieur commented on #915
Thanks for the heads-up, @arge, and for your very clear and actionable report.
you are right the documentation was incorrect.

Which sample are you referring to? I don't think that we have a B2C web api sample that calls a downstream API. Would it be the code snippet in the page?

- I just fixed the doc (and actually refactored a lot the [web api])(https://github.com/AzureAD/microsoft-identity-web

[2021-01-31 11:38] arqe commented on #915
@jmprieur Thanks a lot! I believe this update will be very useful for many others.

I was only referring to the code snippets in the documentation, the "error(s) in the example" was wrongly ticked.

Also, knowing workaround would be absolutely great!

Many thanks,

ARQE

[2021-02-01 09:40] jmprieur commented on #908
Thanks for the update, @rajeevchib
we've updated the wiki to

[2021-02-01 09:42] #908 closed

[2021-02-01 09:42] #904 closed

[2021-02-01 09:43] jmprieur commented on #872
Closing as a duplicate of https://github.com/AzureAD/microsoft-identity-web/issues/880

[2021-02-01 09:43] #872 closed

[2021-02-01 09:44] #787 closed

[2021-02-01 09:54] smkanadl opened #916 "[Bug] Azure function appears 'broken' in portal"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache seria

[2021-02-01 09:58] jmprieur commented on #906
@akshaybabloo
What you are changing is the cookie logout path, not the AAD one.
The Microsoft Identity account controller is implemented with MVC. Adding a Areas/MicrosoftIdentity/Pages/Account/*.cshtml file will enable you to override the default /MicrosoftIdentity/Account/ pages.

Would that work for you?

[2021-02-01 10:45] rajeevchib commented on #908
Hi @jmprieur,

The solution you are recommending does not help us. May be We are missing something.

Actually we already tried setting DefaultSlidingExpiration more than Access Token Expiration.
In that case, we get MSALUIRequiredException in GetAccessTokenForUserAsync after DefaultSlidingExpiration.

e.g. Access Token Expiration is 1 hour and SQL Cache token expiration is 90 mins, the application

[2021-02-01 13:11] jmprieur commented on #908
Thanks for clarifying, @rajeevchib. I understand better now.

[2021-02-01 13:14] jmprieur commented on #916
@maliksahil : would you be able to help here?
thanks!

[2021-02-01 13:16] jmprieur commented on #916
@smkanadl : did you  read [Use Microsoft identity web with Azure functions](https://winsmarts.com/use-microsoft-identity-web-with-azure-functions-2a5c52824578) and see the [maliksahil/ms-identity-azurefunctions-microsoft-identity-web](https://github.com/maliksahil/ms-identity-azurefunctions-microsoft-identity-web) code sample

[2021-02-01 13:22] smkanadl commented on #916
@jmprieur Yes, I've read his blog post. His example code and the official test code hosted here are identical (at least i've seen no difference).

[2021-02-01 15:41] edkar-guber-issoft commented on #912
@jmprieur thank you!

[2021-02-01 18:34] jennyf19 commented on #880
@blowdart and @tratcher I looked into this, and doesn't seem to be something we (id web) handle, but rather in the OpenIdConnectOptions...can you provide some insight here? thank you.

[2021-02-01 18:38] blowdart commented on #880
I leave this to chris. Presumably there's an event somewhere where you'll get the results back and you need to wire that up if the option is set to true.

[2021-02-01 19:03] Tratcher commented on #880
Hmm, that code path doesn't have many preconditions:
https://github.com/dotnet/aspnetcore/blob/c925f99cddac0df90ed0bc4a07ecda6b054a0b02/src/Security/Authentication/OpenIdConnect/src/OpenIdConnectHandler.cs#L875-L884

Which of those logs do you get?

[2021-02-01 19:10] Tratcher commented on #880
@jennyf19 do you hook any of the events like OnTokenValidated and short circuit? That would cause GetClaimsFromUserInfoEndpoint not to run later.

https://github.com/dotnet/aspnetcore/blob/c925f99cddac0df90ed0bc4a07ecda6b054a0b02/src/Security/Authentication/OpenIdConnect/src/OpenIdConnectHandler.cs#L631-L635

[2021-02-01 19:38] jennyf19 commented on #880
@Tratcher we hook in for the [auth code](https://github.com/AzureAD/microsoft-identity-web/blob/4da4d33812b33969c8d7469df1249f8a00d8c331/src/Microsoft.Identity.Web/WebAppExtensions/MicrosoftIdentityWebAppAuthenticationBuilder.cs#L132) and [OnTokenValidated](https://github.com/AzureAD/microsoft-identity-web/blob/4da4d33812b33969c8d7469df1249f8a00d8c331/src/Microsoft.Identity.Web/WebAppExtensions/Mi

[2021-02-01 20:11] akshaybabloo commented on #906
@jmprieur Thanks for getting back. But doesn't this override the page instead of the path?

[2021-02-02 06:16] flytiny opened #918 "[Bug] custom host redirect uri is not working for ConfidentialClientApplicationBuilder"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
Microsoft.Identity.Client 4.24.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [x] Protected web APIs call downst

[2021-02-02 07:55] rajeevchib commented on #908
Hi @jmprieur

Thanks for the update.

So, Are we going to re-open this issue OR need to create another issue?

[2021-02-02 09:04] jmprieur commented on #918
@flytiny: I'm a bit confused by your question, and have a few questions for you to narrow down the issue and help you at best:
1. Are you using App Services **authentication** (Easy Auth), or just hosting your web app in App services?
   - if you are using App Services **authentication**, then the token is obtained by EasyAuth, and the redirect URI is managed by EasyAuth.
2. Are you using Microsof

[2021-02-02 11:52] jmprieur commented on #906
Yes, it does override the page, but you can provide your controller part of the app.

Alternatively, you might want to try to change the OpenIdConnectOptions.RemoteSignoutPath](https://docs.microsoft.com/dotnet/api/microsoft.aspnetcore.builder.openidconnectoptions.remotesignoutpath?view=aspnetcore-1.1#Microsoft_AspNetCore_Builder_OpenIdConnectOptions_RemoteSignOutPath)
 ?

[2021-02-02 13:00] akshaybabloo commented on #906
OK will have a look at this. Will reopen it if I still have an issue. Thanks.

[2021-02-02 13:00] #906 closed

[2021-02-02 14:20] jmprieur opened #919 "[Bug] Distributed SQL does not seem to respect the sliding window."
**Which version of Microsoft Identity Web are you using?**
See https://github.com/AzureAD/microsoft-identity-web/issues/908

[2021-02-02 14:21] jmprieur commented on #908
@rajeevchib : I've created https://github.com/AzureAD/microsoft-identity-web/issues/919 for this

[2021-02-02 18:22] jennyf19 commented on #846
@hajekj have you started something on this?

[2021-02-03 08:14] chilli-andrew opened #920 "Unauthorized requests redirect to incorrect SignIn Url and incorrect Url after signin"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

Microsoft.Identity.Web 1.5.1
**Where is the issue?**
* Web app
    * [ *] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstrea

[2021-02-03 08:17] rajeev16mca2k5 commented on #919
Hi @jmprieur

Thanks for update.

We are using Microsoft.Identity.Web and Microsoft.Identity.Web.UI V1.4.1.

[2021-02-03 08:39] jmprieur commented on #919
@rajeev16mca2k5
Did you try with setting the MsalDistributedTokenCacheAdapterOptions as well?:

[code]

[2021-02-03 09:21] rajeevchib commented on #919
Hi @jmprieur

I will try and let you know.

[2021-02-03 10:24] hajekj commented on #846
Hi, I apologize, I was stuck at home with COVID, I am back to work starting today, so I will get it done latest end of this week. Sorry, I forgot to let you know about this.

[2021-02-03 11:04] jmprieur commented on #846
no worries, @hajekj : thanks for the update. This was more to know if you were doing it or if we'd look at it.

[2021-02-03 11:31] hajekj commented on #846
I have a created a draft pull request with initial work so you can follow it there. I will also add the attributes and should be good to go. I will probably need help with writing tests, since I suppose your test tenant is off access.

[2021-02-03 12:12] hajekj opened #922 "[Feature Request] Server-side support for Continuous Access Evalutation"
**Is your feature request related to a problem? Please describe.**
It would be great if this library supported an attribute which could enforce the user to have used MFA for authentication or that their password has been explicitly entered in the past 30 minutes (basically forcing re-authentication).

**Describe the solution you'd like**
Have an attribute which can enforce re-authentication like:

[2021-02-03 13:44] sven5 commented on #549
Hi,

I'm having the same question. I'd like to use Azure AD and Azure AD B2C together in one app.
However, when calling the controller actions of AccountController, then only the last registered Identity provider is used.

My code in Startup:

[code]

Now, when calling `href="MicrosoftIdentity/Account/SignIn"` the app redirects correctly to B2C login page.
I assumed I'll have to add the scheme to

[2021-02-03 15:48] rajeevchib commented on #919
**We have same block of code as above.**

**Since we are using SQL Server token cache, we are not using code above and using the code just below this comment.
We declared expiry variable just before this code to use it for AddDistributedSqlServerCache and MsalDistributedTokenCacheAdapterOptions.**

Hi @jmprieur

Please check my replies in bold.

**We tried the experiment with Access Token Expiry t

[2021-02-03 19:11] cristianhosu commented on #922
Couldn't this be achieved by using a smaller token lifetime (access token & refresh token) and also by enforcing MFA in Azure AD?

[2021-02-03 21:55] hajekj commented on #922
Yes, it can be achieved quite easily when you are building a single tenant application. When you are building a SaaS multi-tenant application (which I primarily focus on), as a developer, you don't have control over the token lifetimes etc. configured in the target tenant consuming your app.

[2021-02-05 11:21] #920 closed

[2021-02-05 11:22] chilli-andrew commented on #920
OK I figured it out. The value in the AuthenticationSchemes should only be OpenIdConnectDefaults.AuthenticationScheme.

[2021-02-05 12:01] berhir opened #929 "[Bug] HttpContext.GetTokenAsync("access_token") returns always null when using EnableTokenAcquisitionToCallDownstreamApi()"
**Which version of Microsoft Identity Web are you using?**
Microsoft.Identity.Web 1.5.1

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [x] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory

[2021-02-05 17:34] sven5 commented on #549
I can confirm that @UM001  [answer](https://github.com/AzureAD/microsoft-identity-web/issues/549#issuecomment-687659031) works. Thanks for this!
I also think that this issue seems to be a limitation of MS Identity Web.

[2021-02-06 05:02] felinepc opened #936 "Microsoft.Identity.Web.MicrosoftGraph vs Microsoft.Graph?"
As a new ASP.NET Core developer I'm getting confused by all these different identity and graph related packages.

My user sign-ins are already handled via Identity Server integrated with Microsoft Identity Platform and ASP.NET Core Identity. So I do not need sign-in UIs any more.

Additionally, during user's sign-ins I also already saved their access and refresh tokens using ASP.NET Core Identity.

[2021-02-06 08:56] jmprieur commented on #936
@felinepc
You're right, if you already have tokens from IdentityServer, you don't really need Microsoft.Identity.Web (although it abstract things nicely, on provides a load of additional features like incremental consent and conditional access management). You could use MicrosoftGraph directly by implementing a class inheriting from `IAuthenticationProvider`. Microsoft.Identity.Web provides one ([

[2021-02-06 11:50] berhir commented on #929
This is my current workaround for this problem:
[code]

[2021-02-06 16:41] felinepc commented on #936
@jmprieur Thank you for taking your time to evaluation my use case. I feel that this is a valid one so I'll explain it in more details.

As you know, when we use IdentityServer integrated with ASP.NET Core's standard OIDC client middleware, we can specify ```SaveTokens = true```, and that gives us access to all the tokens returned by Microsoft at sign-in time via a temporary cookie.

When we use A

[2021-02-07 13:12] sven5 commented on #758
Could you elaborate how to do this in a Blazor Server app?

[2021-02-07 13:17] sven5 commented on #804
@JasonImageOne  I agree, for Blazor there should be another way to avoid MVC (cshtml) at all. A simple setting of a custom URL would be enough.

[2021-02-07 15:14] ThatMouse commented on #804
@jennyf19 Could we reopen? The main issue for me is I don't usually need a Signedout page anyway. It's probably not good practice to rely on that page getting hit either, i.e. session/cookies being cleared only on this page. Also, while we can override Signedout, I was never able to get a redirect to work at that point. So the best workaround for Blazor is a global redirect home. (@JasonImageOne i

[2021-02-08 05:32] SwagStork opened #938 "Access Sign Up Directly From Web App"
Currently, the web app documentation shows a "Sign In / Up" button, however there are many instances where it would be beneficial to send the user directly to the Sign Up page. However, I cannot seem to figure out how to do that.

Is this possible with Microsoft Identity Web?

 If so, I would be happy to add to the docs to help others learn as well.

[2021-02-08 09:14] jmprieur commented on #938
@SwagStork : You are right. That's not what Microsoft identity web does today.
There is a PR, however, proposed by @dan-giddins to achieve the same, and which we still need to look at more deeply,
https://github.com/AzureAD/microsoft-identity-web/pull/854

[2021-02-08 10:12] jmprieur commented on #804
@ThatMouse : what would be, from your perspective, the best experience / the API you'd wish to have?

[2021-02-08 10:16] jmprieur commented on #758
@javiercn, would you please know?

[2021-02-08 11:44] jmprieur commented on #549
@sven5 : I agree. I believe that we have a bug, as the options are configured independently of the authentication schemes.

[2021-02-08 13:16] jmprieur commented on #922
Thanks @hajekj
The team has been working on an alternative which does require pulling reauthenticating, but does the just in time evaluation. It might come public later.

[2021-02-08 14:56] ThatMouse commented on #804
Make this path "MicrosoftIdentity/Account/SignedOut" configurable. I believe this is essentially hardcoded inside MicrosoftIdentityUI. For my purposes I want it to be "/" so the user sees my homepage after they've logged out.

Whatever the solution, it should be easier than the UseRewriter workaround. Maybe adding an IConfiguration to AddMicrosoftIdentityUI() ?

For reference, in Blazor Server, a

[2021-02-08 16:12] mgmccarthy opened #945 "ITokenAcquisition token refresh and expiration"
### Documentation Related To Component:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.web.itokenacquisition.getaccesstokenforappasync?view=azure-dotnet-preview
https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-app-call-api-app-configuration?tabs=aspnetcore
https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-app-call-api-acquire-t

[2021-02-08 20:56] mbrowntampaairportcom opened #939 "Unhandled Exception When No Outbound Access Permitted"
I am developing an application using Microsoft Identity Web and Web UI for authentication. The server does not have unrestricted inbound or outbound access. If I disable the firewall the authentication processes successfully. Running without the firewall enabled is not an option for a production instance. Is there a list of domains and ports that are used in processing an authentication?

I am get

[2021-02-08 23:35] jt-pt-dev commented on #814
Hi @jmprieur

I appreciate if you are unable to comment, but I was wondering what the block is and whether it is the "_will be fixed in the next release_" type block or is it "_uh oh... we need to rethink this_" type of block.

We are considering whether to back out of B2C and revert back to plain AD and some timelines would be helpful.

Thank you.

[2021-02-09 02:02] yohanb commented on #9
Any update on this? Thanks.

[2021-02-09 16:38] FourierTransformer opened #944 "[Bug] Microsoft.Identity.Web doesn't initialize a redis cache until an IDistributedCache is used elsewhere in the code"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.5.1

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [x] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory

[2021-02-09 16:54] jmprieur commented on #945
@mgmccarthy : no need to recreate. I just moved it to the Microsoft.Identity.Web repo.

[2021-02-09 17:34] jmprieur commented on #9
@yohanb : I don't think that would be possible. Microsoft.AspNetCore.Authentication.JwtBearer (which is one of our dependencies) for instance does not have a target platform for netstandard2.1 ...

[2021-02-09 17:52] jmprieur commented on #944
@FourierTransformer: Microsoft.Identity.Web will serialize to the distributed cache the first time there will be a token written to the cache. It's using a lazy principle.

Why would you want it to be initialized earlier? what is your specific scenario?

[2021-02-09 17:57] jmprieur commented on #945
@mgmccarthy
yes, Microsoft.Identity.Web (wether you use `ITokenAcquisition` , `IDownstreamApi` or even `GraphServiceClient`) takes care of all this. It leverages MSAL.NET . See https://docs.microsoft.com/azure/active-directory/develop/msal-overview which provides the value of the MSAL libraries.

We'll make sure we are explicit about that
cc: @mmacy

[2021-02-09 18:02] jmprieur commented on #939
@mbrowntampaairportcom : It depends if this is a web app or web api

Whatever, the app will go to the Instance (that is Azure AD, as specified in the [appsettings.json](https://github.com/AzureAD/microsoft-identity-web/blob/0d4d0188c6b52b2eda711e591f8d837ed1e7cddf/tests/WebAppCallsWebApiCallsGraph/Client/appsettings.json#L3)). If it's a web app, it will be called on the redirect URI (which is comp

[2021-02-09 18:16] mbrowntampaairportcom commented on #939
So in that case, the SOLE domain and port that needs to be open would be login.microsoftonline.com and 443 based on the instance of "https://login.microsoftonline.com" in the appsettings.json?

[2021-02-09 19:06] mbrowntampaairportcom commented on #939
The code being called in the Blazor application is:

            services.AddMicrosoftIdentityWebAppAuthentication(Configuration);
            services.AddControllersWithViews(options =>
            {
                var policy = new AuthorizationPolicyBuilder().RequireAuthenticatedUser().Build();
                options.Filters.Add(new AuthorizeFilter(policy));
            }).AddMicrosoftIdentity

[2021-02-09 19:32] FourierTransformer commented on #944
Ahh, I was confused, didn't realize it was lazy loading. Sorry about that.

[2021-02-09 19:32] #944 closed

[2021-02-09 20:33] yohanb commented on #9
@jmprieur maybe it would be possible to extract most of the functionality into a separate package that is netstandard compatible.  For example, implementing `ITokenAcquisition` or using `MicrosoftIdentityOptions` in a library project would make sense as opposed to an aspnetcore project.

[2021-02-10 08:33] jmprieur commented on #9
Thanks @yohanb :as we are making more features available in .NET framework, we'll think of your suggestion.
Which public API would you like to see in the netstandard project?

[2021-02-10 08:34] jmprieur commented on #939
Yes, that should just be https://login.microsoftonline.com, then

[2021-02-10 13:06] mgmccarthy commented on #945
Thanks @bgavrilMS  and @jmprieur! I now know a little more about how Microsoft.Identity.Web leverages MSAL, and what library `ITokenAcquisition` belongs to ;)

Looking at the msal-overview link supplied above, it does state:

I was having a hard time finding this page when searching to terms like "msal and token refresh" and "Microsoft.Identity.Web and token refresh" are not bringing up the overvi

[2021-02-10 13:06] #945 closed

[2021-02-10 17:29] jennyf19 opened #952 "[Feature Request] Make DefaultCertificateLoader public"
Only use when loading a certificate from a daemon application, or an ASP NET app, using MSAL .NET directly.

[2021-02-10 18:01] mbrowntampaairportcom commented on #939
My networking team added a firewall rule permitting traffic to login.microsoft.com port 443 and it does not work. Any other suggestions on how to troubleshoot this to see what traffic is being denied?

[2021-02-10 19:41] jmprieur commented on #939
Do you have the possibility of using fiddler?
Or otherwise if it's deployed, do you want to enable App Insights?

[2021-02-11 14:33] #939 closed

[2021-02-11 14:34] jmprieur commented on #814
@jt-pt-dev : the B2C people will answer.

[2021-02-11 14:42] jmprieur opened #953 "[Feature Request] Provide an IAuthorizationFilter to filter accepted appRoles in web apis called by daemon apps"
**Is your feature request related to a problem? Please describe.**
The current version of microsoft-identity-web provides the [RolesRequiredHttpContextExtensions.ValidateAppRole(HttpContext, String[]) Method](https://github.com/AzureAD/microsoft-identity-web/blob/master/src/Microsoft.Identity.Web/Resource/RolesRequiredHttpContextExtensions.cs#L28) to verify that the user authenticated in the web A

[2021-02-11 14:52] jmprieur opened #954 "[Feature Request] Productize the app provisionning prototype"
**Is your feature request related to a problem? Please describe.**
Visual Studio 16.9 will release in March without, by default, a way to create app and configure the appsettings.json files of applications. The plan is to have a pointer to a doc describing what to do, manually, or by running a command line app creation script as a dotnet global tool.

**Describe the solution you'd like**
A prototy

[2021-02-11 14:59] jmprieur opened #955 "[Feature Request] Support authentication scheme in all scenarios"
**Which version of Microsoft Identity Web are you using?**
4.16.0

**Repro**

Customers need to be able to implement apps which sign-in users with AAD and B2C, or which are web apps and web APIs. Today, the authentication scheme are supposed to help for this, but they are not taken into account everywhere.

See:
- https://github.com/AzureAD/microsoft-identity-web/issues/173
- https://github.com/Az

[2021-02-11 14:59] jmprieur commented on #173
Duplicate of https://github.com/AzureAD/microsoft-identity-web/issues/955

[2021-02-11 15:00] jmprieur commented on #549
Duplicate of https://github.com/AzureAD/microsoft-identity-web/issues/955

[2021-02-11 15:07] jmprieur opened #956 "[Feature Request] Help certificate rotation of client certificates"
**Is your feature request related to a problem? Please describe.**
Today, Microsoft.Identity.Web:
- gets certificates from KeyVault
- helps rotating decrypt certificates (by enabling passing several certificates)

For the client certificates, it also supports send5xc, however, it could help a bit more by fetching from keyvault a newer version of a certificate when the confidential client flow fail

[2021-02-11 15:09] jmprieur opened #957 "[Feature Request] Provide a more sophisticated token cache L1/L2 (L1 in InMemoryCache, L2 IDistributedCache, with encryption strategy)"
**Is your feature request related to a problem? Please describe.**
@henrik-me to update or @jennyf19 / @jmprieur  after discussing with @henrik-me and/or @GeoK

**Describe the solution you'd like**
TBD

**Describe alternatives you've considered**
TBD

**Additional context**
See MISE

[2021-02-11 15:48] lnaie commented on #429
I'm using the version 1.5.1 and there is still a problem with a custom Bearer scheme for a single AzureAD authentication middleware . Here is a repro project: https://github.com/lnaie/azuread-poc.

For now I'm using a single AzureAd auth middleware in the API project, but the goal is to get to use 2 of them, as many pointed out here, one with the default Bearer scheme (that works) and one with a c

[2021-02-11 16:30] lnaie opened #958 "Single middleware with custom Bearer scheme makes the API request to fail with 401"
For my work, I'm trying to use this library to setup the second authorisation middleware towards AzureAD. The first one is on Identity Server 4. Both of them uses the Bearer authentication scheme.

So I've found this library and have tried to integrate it without success.
Then I decided to make a simple project to study the library behaviour, because well documentation is not there for special cas

[2021-02-11 16:52] damienbod commented on #957
It would be great that when the required access token has expired, or does not exist in the cache, the lib just tries to get a new access token. We do this with other OIDC, OAUTH clients. Would this be possible?

Greetings Damien

[2021-02-11 17:12] jmprieur commented on #429
@lnaie : yes; this is a duplicate of https://github.com/AzureAD/microsoft-identity-web/issues/955, which we'll address (there is a PR. you might want to try the branch)

[2021-02-11 17:15] jmprieur commented on #957
@damienbod : in a web app? or in a web API?
in a web app, Microsoft.Identity.Web manages it already with the [AuthorizeForScopes] attribute. See https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access

[2021-02-11 18:02] jmprieur commented on #958
@lnaie : you might want to try

[code]

We have a bug in custom schemes: https://github.com/AzureAD/microsoft-identity-web/issues/955, you might want to try out this branch: https://github.com/AzureAD/microsoft-identity-web/tree/jmprieur/multipleSchemeInvestigation, but mind you this is work in progress

[2021-02-11 18:39] damienbod commented on #957
Hi @jmprieur In both, I don't see this from the docs. But you say then that if I don't use a persistent cache, then I can use the  [AuthorizeForScopes] attribute on my API and it will get me a new token if the the cache has been reset?

Correct?

Thanks Damien

[2021-02-11 18:40] lnaie commented on #958
Ok.
Now that you've mentioned it's work in progress, does it make sense to support a scenario like this?
[code]

Because right now it won't work.

[2021-02-11 20:08] jmprieur commented on #958
@lnaie : yes, I think this should be possible.
Did you try with the branch I mentionned?

[2021-02-11 20:11] jmprieur commented on #957
Thanks @damienbod
this is on the backlog: https://github.com/AzureAD/microsoft-identity-web/issues/685
(today if you have a web API, you'd need handle the exception and pass it to ITokenAcquisition.ReplyForbiddenWithWwwAuthenticateHeaderAsync. See https://github.com/AzureAD/microsoft-identity-web/wiki/web-apis#handle-conditional-access

[2021-02-11 20:44] jmprieur commented on #80
![image](https://user-images.githubusercontent.com/13203188/107696478-4acf2500-6cb2-11eb-9e78-2f211cd3f6ab.png)

[2021-02-11 20:58] lnaie commented on #958
I will have a look tomorrow. Thanks

[2021-02-11 22:52] nevadawilliford opened #960 "[Documentation] provide client secrets by code"
### Documentation related to component
Example / Question

### Please check all that apply

- [ ] typo
- [ X] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in the example
- [ X] needs an example

### Description of the issue
I'm looking for an official example of using Microsoft.Identity.Web where the client secret is not stored in the appsettings.json AzureAd

[2021-02-12 08:29] jmprieur opened #961 "[Performance] Disable ADAL cache by default in Microsoft.Identity.Web"
**Is your feature request related to a problem? Please describe.**
MSAL maintains by default a dual cache serialization ADAL, MSAL, but this has performance improvements. See benchmark in See https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/2309. New applications don't need the ADAL cache. And customers who are using Microsoft.Identity.Web (as opposed to those who use MS

[2021-02-12 10:40] lnaie commented on #958
I have tried and it doesn't work.
I've set breakpoints in ```JwtBearerMiddlewareDiagnostics.cs```. First ```OnMessageReceivedAsync()``` gets hit, then it ends up in```OnChallengeAsync()```.
Is ```Microsoft.AspNetCore.Authentication.JwtBearer.JwtBearerHandler``` involved into this?

[2021-02-12 12:37] jordykrul commented on #929
It works fine for me when I use `ITokenAcquisition`. Use the methode `GetAccessTokenForUserAsync` for example. This will get you the AccessToken. Maybe you could use this for the time being.

[2021-02-12 13:07] sgesweinFusion opened #962 "[Bug] dotnet new blazorwasm --hosted generates broken code if --calls-graph is also used"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
Latest blazorwasm project template, generated code uses Microsoft Identity Web 1.1.0

**Where is the issue?**
* Other (please describe)

On first Visual Studio build and run of a project generated with `dotnet new blazorwasm`, generated code fails to call the API in WeatherForecast

[2021-02-12 13:16] berhir commented on #929
@jordykrul Thank you for the suggestion. But I am using a library that is using `context.GetTokenAsync("access_token")` internally and I don't have access to the code. And the library should work also without Microsoft.Identity.Web and therefore it can't use `ITokenAcquisition`.

[2021-02-12 13:44] jmprieur commented on #929
@berhir.
1. We'll add the support to get the access token from the context.
2. For your work around, I think that this should work:

[code]

to override the Microsoft.Identity.Web implementation (assuming you did not have any OnTokenValidated event handler.

[2021-02-12 13:45] jmprieur commented on #929
@jennyf19
We should not call `context.Success()` in the OnTokenValidated Jwt event handler, so that the token is also available in ASP.NET Core previous ways. Do you remember if this is something Yordan asked us to do?

[2021-02-12 13:48] jmprieur commented on #962
@sgesweinFusion, did you try with the MIcrosoft.Identity.Web template (blazorwasm2 instead of blazorwasm)?

[code]

[2021-02-12 13:55] jmprieur commented on #960
@nevadawilliford : you might want to try (with Microsoft.Identity.Web 1.6.0 or later):

[code]

[2021-02-12 14:27] sgesweinFusion commented on #962
There's a blazorwasm2?!? Didn't know that; I'll give it a spin later today.

Should I have that template installed with VS2019 16.8, or is there an installation I need to run first?

[2021-02-12 14:30] rajeevchib commented on #919
Hi @jmprieur

Wound you have some time frame for delivery of this fix? We initially reported this to Microsoft in Oct 2020.

[2021-02-12 15:18] jmprieur commented on #962
@sgesweinFusion : it will tell you to install Microsoft.Identity.Web.ProjectTemplates

[2021-02-12 15:21] sgesweinFusion commented on #962
Just ran `dotnet new -i Microsoft.Identity.Web.ProjectTemplates` which did indeed make `dotnet new blazorwasm2 --help` respond as expected.

I think, at least, I'll now be working with the code we're best equipped to talk about here! Give me some hours to run through the new output, and I'll summarize my experience here.

[2021-02-12 15:59] obryckim opened #963 "[Documentation] How to verify scope or app role in the same controller action"
### Documentation related to component
Web APIs

### Please check all that apply

- [ ] typo
- [ ] documentation doesn't exist
- [x] documentation needs clarification
- [ ] error(s) in the example
- [x] needs an example

### Description of the issue
I have a web API that is called by BOTH daemon apps (client credential flow) as well as by other apps on behalf of the user.
In versions of Microsoft.

[2021-02-12 19:30] jennyf19 commented on #849
Included in [1.6.0](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.6.0) release.

[2021-02-12 19:30] #849 closed

[2021-02-12 19:30] jennyf19 commented on #952
Included in [1.6.0](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.6.0) release.

[2021-02-12 19:30] #952 closed

[2021-02-12 19:30] jennyf19 commented on #899
Included in [1.6.0](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.6.0) release.

[2021-02-12 19:30] #899 closed

[2021-02-12 19:30] jennyf19 commented on #742
Included in [1.6.0](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.6.0) release.

[2021-02-12 19:30] #742 closed

[2021-02-12 19:30] jennyf19 commented on #905
Included in [1.6.0](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.6.0) release.

[2021-02-12 19:30] #905 closed

[2021-02-12 19:30] jennyf19 commented on #915
Included in [1.6.0](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.6.0) release.

[2021-02-12 19:30] #915 closed

[2021-02-12 19:30] jennyf19 commented on #870
Included in [1.6.0](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.6.0) release.

[2021-02-12 19:30] #870 closed

[2021-02-12 19:30] jennyf19 commented on #900
Included in [1.6.0](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.6.0) release.

[2021-02-12 19:30] #900 closed

[2021-02-12 20:25] sgesweinFusion commented on #962
I appear to need to read some docs on the app registration setup expected by blazorwasm2 before I can verify if the code is broken or my setup.

As suggested, with the params I used to create a working hosted Blazor WASM app named Wasm5 (see above), I generated a new solution with the blazorwasm2 template:

[code]

In the Wasm5Graph2.Server project's, appsettings.Development.json, I added an Azure

[2021-02-13 00:02] nevadawilliford commented on #960
@jmprieur Thanks so much for your prompt response. Your example with 1.6.0 worked perfectly. I was still running 1.5.1.

I am using the user-secrets feature when running locally and that works well. No issues there.

I'll talk to my team about using certificates again after reviewing the Wiki page you provided.

Thanks again for the information. Very much appreciated.

[2021-02-13 00:02] #960 closed

[2021-02-13 00:37] henrik-me commented on #961
Option 2 gets my vote, should be like this out of the box. Call it out in the release and make sure there is an entry in the logs saying legacy caching disabled (or similar).

[2021-02-14 15:27] lnaie commented on #958
I have created a POC for 2 auth middlewares (IDS and AzureAD):
https://github.com/lnaie/azuread-poc/tree/multiple-auth-middlewares

[2021-02-15 18:05] apondman commented on #808
there is a workaround you can use right now until the displayName parameter is more easily available:

`services.PostConfigure<AuthenticationOptions>(options =>
            {
                foreach (var scheme in options.Schemes)
                {
                    if (scheme.Name == OpenIdConnectDefaults.AuthenticationScheme)
                    {
                        scheme.DisplayName = "

[2021-02-15 18:14] sgesweinFusion commented on #962
After some spelunking around the repo, it looks like the best approach for me to get working code for my use case is to start from scratch with new app registrations. I'm planning on trying this next to get to working code for a hosted Blazor WASM client that authenticates and calls the hosting Web API, which then uses claims appropriately to call Microsoft Graph on behalf of the Blazor-authentica

[2021-02-15 20:36] sbitaxi opened #970 "[Bug] Typo (trailing comma) in Source for MicrosoftIdentityCircuitHandler.cs"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

Version 1.5.1

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* To

[2021-02-15 23:17] wmmihaa opened #971 "Add multiple AAD authentication options using AddMicrosoftIdentityWebAppAuthentication not possible"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.6.0

**Where is the issue?**
* Web app
    * [X] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory

[2021-02-15 23:42] jonschoning opened #972 "[Bug] unsupported_grant_type error when AAD B2C web app signs in users & acquires tokens on behalf of web app call downstream APIs"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
Microsoft.Identity.Web 1.6.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream

[2021-02-16 08:51] jmprieur commented on #972
@jonschoning what did you use in your controller?
Did you call AcquireTokenForApp ?

If you want to sign-in users and not call downstream APIs, you should remove the client secret.

If you call an API, this can only be done on behalf of the signed-in user. Indeed, Azure AD B2C does not support the client credentials: See https://github.com/AzureAD/microsoft-identity-web/wiki/b2c-limitations#you-ca

[2021-02-16 08:56] jmprieur commented on #970
Thanks for your feedback @sbitaxi
This is valid syntax in C# (and we build Microsoft.Identity.Web every day :)). Your issue's cause is somewhere else.

[2021-02-16 08:56] #970 closed

[2021-02-16 12:31] wmmihaa opened #974 "Allow specifying Authentication scheme display name"
A button that says "OpenIdConnect" does not mean much to end users, and it would be great if we could set the DisplayName property in the configuration to better present the intention of clicking the button. For instance "Using your Microsoft.com account".

In a related issue (#971) we need to provide multiple AAD options for users to log in with, in which case having five buttons saying "OpenIdCo

[2021-02-16 14:59] sbitaxi commented on #970
Noted. I'll stay out of it until I know what I'm doing.

Thank you for the constructive feedback!

On Tue., Feb. 16, 2021, 03:56 Jean-Marc Prieur, <notifications@github.com>
wrote:

[2021-02-16 21:05] jmprieur opened #977 "[Bug] [app-reg-tool] - In blazorwasm apps, Client/Program.cs "api://api.id.uri/access_as_user" is incorrectly read/writen"

[2021-02-16 21:06] jmprieur commented on #977
assigning to @jmprieur for better spec

[2021-02-17 04:01] beckerben opened #979 "[Bug] CompactToken parsing failed with error code: 80049217"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.6.0

**Where is the issue?**
I was running the test "BlazorServerCallsGraph", i updated with my client id, app secret and tenant and it works great when run locally.  I then deployed the app to an Azure App and the "Profile" and "Call Web API" calls do not work when running up on Azure.  I see this error in the bro

[2021-02-17 04:15] beckerben commented on #979
As a follow up, I did refer to this article here:

https://docs.microsoft.com/en-us/azure/app-service/scenario-secure-app-access-microsoft-graph-as-user?tabs=command-line

I think it is very interesting it states this (which I have done):

If you don't configure App Service to return a usable access token, you receive a CompactToken parsing failed with error code: 80049217 error when you call Micr

[2021-02-17 07:40] jmprieur commented on #979
@beckerben
Yes, it seems that you don't get the right token from app service authentication (code name easy auth)

When you deploy to app service, given that you are using Microsoft.Identity.Web and have already configured you application with a client ID etc, you **shouldn't need** to configure app service authentication. Do you really need to enable it?

[2021-02-17 08:01] jmprieur commented on #974
@wmmihaa. Thanks for raising.
This is a duplicate of https://github.com/AzureAD/microsoft-identity-web/issues/808
(closing as such)

[2021-02-17 08:01] #974 closed

[2021-02-17 08:02] jmprieur commented on #974
BTW, we have started an experimental branch: https://github.com/AzureAD/microsoft-identity-web/tree/jmprieur/IdentityProviderName
But we have other hi pri work at the moment, so this is in standby

[2021-02-17 08:33] jmprieur commented on #971
@wmmihaa : this is duplicate of https://github.com/AzureAD/microsoft-identity-web/issues/955

[2021-02-17 08:42] wmmihaa commented on #971
Not sure it is as this relates to multiple auth schemes of the same type

[2021-02-17 12:10] beckerben commented on #979
@jmprieur That is a brilliant question.  After thinking about it more, I don't think I do need the app service authentication turned on in the app.  I disabled this and things work as they should.

However, in theory, using both Microsoft.Identity.Web and the App Service Authorization should work, correct?  I conclude this from this snippet from the [prior mentioned documentation](https://docs.mic

[2021-02-17 14:35] jmprieur commented on #979
Yes, @beckerben : they should work together, but EasyAuth is for simple scenarios. you quickly get the limit (and the usable token thing is one of the issue).
It seems, that, for some reason, the token that Easy Auth gets for you is wrong. I would actually like to repro your issue. Would you have repro steps?

[2021-02-17 16:26] munkii commented on #554
@abhisheksiddhu I've tried your approach and created the SignedOut.cshtml but I get the following Build error

The type 'Areas_MicrosoftIdentity_Pages_Account_SignedOut' in 'C:\Projects\MB\cp\pb.ClinicianPortal.Web\obj\Debug\netcoreapp3.1\Razor\Areas\MicrosoftIdentity\Pages\Account\SignedOut.cshtml.g.cs' conflicts with the imported type 'Areas_MicrosoftIdentity_Pages_Account_SignedOut' in 'Microso

[2021-02-17 16:44] munkii commented on #758
@jennyf19 @shanemikel I've tried overriding SignedOut.cshtml but I get a build error saying there is a conflict with the imported type Areas_MicrosoftIdentity_Pages_Account_SignedOut and my page obj\Debug\netcoreapp3.1\Razor\Areas\MicrosoftIdentity\Pages\Account\SignedOut.cshtml.g.cs

Any thoughts?

[2021-02-17 16:46] javiercn commented on #758
@munkii are you doing this in a class library instead of on your main app?

[2021-02-17 16:53] munkii commented on #758
@jmprieur just read this SO Q&A https://stackoverflow.com/questions/59370588/the-type-some-view-conflicts-with-the-imported-type-default-view-cs0436 He pointed out that he ignored the "WARNING" so then it dawned on me that quite reasonably we have a project set to Treat ALL warnings as Errors.

If I turn that it off the overridding works. However that is not a great place position to be in.

I am

[2021-02-17 18:43] jennyf19 opened #984 "[Bug] Republish web app for integration tests"

[2021-02-18 01:49] beckerben commented on #979
@jmprieur basically follow the steps [outlined here](https://docs.microsoft.com/en-us/azure/app-service/scenario-secure-app-authentication-app-service) to set the app registration up in Azure and then you publish the "BlazorServerCallsGraph" test project to it.  This will replicate the issue.

[2021-02-18 03:09] Robosanta opened #985 "Blazor MsalUiRequiredException & ConsentHandler loop trying to set up conditional consent"
I'm relatively new to .NET core development and I've been trying to set up Incremental Consent and Conditional Access for my blazor application to be able to generate tokens using Token Acquisition and call Microsoft Graph down the line. I've read the issues posted here and the solutions and have tried the many attempts. Setting up a ConsentHandler in my razor pages seemed to be the fix for Blazor

[2021-02-18 04:50] jmprieur commented on #985
@Robosanta
Thanks for providing the detail logs. Your issue is explained in there:

[code]

This means, that when you deploy your app, you need to add, to the app registration the redirect URI of your application as deployed (you need to have as many redirect URIs as deployment locations, including https://localhost:port:/signin-oidc if you want debug locally on your machine.

[2021-02-18 07:00] abhisheksiddhu commented on #554
That's an expected warning telling that you're overriding the provided view from the library with your view. You can safely ignore this warning in this particular scenario.

[2021-02-18 07:00] abhisheksiddhu commented on #554
@munkii That's an expected warning telling that you're overriding the provided view from the library with your view. You can safely ignore this warning in this particular scenario.

[2021-02-18 07:10] abhisheksiddhu commented on #758
@munkii That's an expected warning telling that you're overriding the provided view from the library with your view. You can safely ignore this warning in this particular scenario.

It's similar to when we try to override a non-virtual method in a derived class, it warns us that it's hiding the method from the base class and we should use the `new` keyword if the method hiding was intended. Unfort

[2021-02-18 07:12] abhisheksiddhu commented on #554
That's an expected warning telling that you're overriding the provided view from the library with your view. You can safely ignore this warning in this particular scenario.

It's similar to when we try to override a non-virtual method in a derived class, it warns us that it's hiding the method from the base class and we should use the `new` keyword if the method hiding was intended. Unfortunately,

[2021-02-18 08:27] luismanez opened #986 "[Question] Is TokenAcquisition class resilience?"
**Is your feature request related to a problem? Please describe.**
As far as I see in the code (and I might be wrong), if Azure AD is not available (or too busy) when calling AcquireToken*, the TokenAcquisition class is not resilience enough and will raise an exception.

**Describe the solution you'd like**
It should have at least a retry mechanism, following pattern described here: https://github

[2021-02-18 10:11] jmprieur commented on #986
Thanks @luismanez
We are working on other mechanism at the MSAL.NET level.

cc: @henrik-me. Let's discuss about the best options.

[2021-02-18 20:03] Robosanta commented on #985
@jmprieur
Thanks for the response, I think that log was due to miss-configuring the authentication to use Microsoft Accounts as the app registration does have all the required redirect urls. Removing this I continue to get a loop of MsalUiRequiredExceptions:

2021-02-18 20:00:40.525 +00:00 [Error] JupiterWebApp.Data.UserService: Token error: IDW10502: An MsalUiRequiredException was thrown due to a

[2021-02-19 11:22] web265p3 opened #994 "DefaultMapInboundClaims setting does not work on first call"
I am protecting my .NET 5 Api with Azure Identity Platform.
My JWT tokens have a claim "roles" that contains an array of all roles added for the user.

These roles should be used to add authorization to my API.

This works fine, but with a strange behaviour - probably a bug.
To reproduce (code can be found [here](https://github.com/web265p3/DefaultMapInboundClaims-Iusse-first-)):

1. Create a new

[2021-02-19 11:30] web265p3 commented on #994
I moved this issue here, because "azure-activedirectory-identitymodel-extensions-for-dotnet" was the wrong place.

[2021-02-19 11:49] jmprieur commented on #994
@web265p3 : are you sure your API is not called without a token the first time?
(this happened to me in some tests)

[2021-02-19 13:06] web265p3 commented on #994
Thanks, seems to work!

[2021-02-19 13:19] #994 closed

[2021-02-19 17:47] snapfisher opened #995 "[Bug] Unable to call AAD Protected Azure Functions from ASP.Net Application"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
1.6

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [x ] Protected web APIs call downstream web APIs
* Token cache

[2021-02-20 12:05] V4A001 opened #998 "Question about multiple daemon server-side applications using a jwt protected webapi with Azure B2C"
I want to connect a lot of external systems to a web SAAS service. I am thinking of making it secure with client/app secrets using ConfidentialClientApplicationBuilder so that tokens are used during the operations instead of a fixed secret.

To setup every external system I create new app registrations in Azure B2C (which will be automated with a subscription service). The external system requests

[2021-02-21 12:26] PedroVentura235 commented on #133
Hi there, got Login to work now with define cookieScheme: null, but how about Logout method? How you do ? to logout from ad too

[2021-02-21 17:11] V4A001 commented on #998
Meanwhile I managed to get this running with a regular Azure AD. I found a lot of useful information here: https://github.com/AzureAD/microsoft-identity-web/wiki/Web-APIs#using-multiple-authentication-schemes
I think some of it is outdated. Like the RequiredScopesConfigurationKey. I am able to use Roles. I understand for daemon apps, only roles can be used?
`
        [Authorize(Roles= "access_as_a

[2021-02-21 22:28] Robosanta commented on #985
Solved

ApiFunction.cs:

    [Authorize]
    public class ApiFunctions
    {
        private readonly ILogger<ApiFunctions> _logger;
        private readonly HttpClient _client;
        private ITokenAcquisition _tokenAcquisition;
        private readonly MicrosoftIdentityConsentAndConditionalAccessHandler _consentHandler;

        public ApiFunctions(HttpClient httpClient, ILogger<ApiFunctions> l

[2021-02-21 22:28] #985 closed

[2021-02-22 07:32] plamber opened #1002 "[Bug] Change RequiredScope to be based on policies"
**Which version of Microsoft Identity Web are you using?**
1.6.0

**Where is the issue?**
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [x] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs

**Repro**
In your sample Function app application you are using the "RequiredScope" attribute to limit the access to the Function app. This does no

[2021-02-22 07:35] jmprieur commented on #1002
Thanks for the heads-up @plamber

[2021-02-22 22:49] wmmihaa commented on #971
Is there a plan to support integration with multiple AAD using `AddMicrosoftIdentityWebAppAuthentication`?

[2021-02-23 08:54] jmprieur commented on #971
@wmmihaa : AddMicrosoftIdentityWebAppAuthentication is a shortcut for the simple case where you don't want to specify the scheme, whereas the multi AAD scenario is the very case where you want to control the scheme.
You'll want to do;

[code]

We think we'll work on supporting this in 1.18.

[2021-02-23 09:57] jmprieur opened #1007 "[Feature Request] MicrosoftIdentityOptions and DefaultCertificateLoader should support user assigned managed identity"
**Is your feature request related to a problem? Please describe.**
Currently, DefaultCertificateLoader only supports [system assigned managed identities](https://docs.microsoft.com/azure/active-directory/managed-identities-azure-resources/overview), whereas customers and partners also need it to support user assigned managed identity

**Describe the solution you'd like**
Have a new property named

[2021-02-23 19:25] wmmihaa commented on #971
I think the problem is in SignInManager.ConfigureExternalAuthenticationProperties which will always route to the same AAD independently of the provider...

[code]
The line above will always route to the last added Authentication ...

StartUp.cs:
[code]
Each of the line above work by it self, but not together

Let me know if you want med to demo this through a teams session

[2021-02-23 20:03] admsteck commented on #1007
The LoadFromKeyVault method of DefaultCertificateLoader needs both certificate and secret permissions in key vault.  In our use case it would be beneficial of different client ids could be provided for the certificate client and secret client used within the LoadFromKeyVault method.

[2021-02-23 21:11] jennyf19 commented on #961
non-issue as we only serialize the msal cache.

[2021-02-23 21:16] jmprieur commented on #998
@V4A001 : the token is v1.0 because the web API requests a v1.0 token. See https://docs.microsoft.com/azure/active-directory/develop/scenario-protected-web-api-app-registration#accepted-token-version

[2021-02-23 21:20] jmprieur commented on #961
Reopening for the performance impact of processing things even when the ADAL cache is not serialized.

[2021-02-23 21:49] V4A001 commented on #998
Thank you. I changed the manifest: "If the value is 2, the web API accepts v2.0 tokens." And V2.0 tokens are now issues by Azure AD. It seems daemon apps can only issues roles and no scopes.

I am still thinking over the solution how to identify the multiple daemons from various third party systems which use the same app_role. They have different client id which can be linked to an external Cosmos

[2021-02-24 02:50] jennyf19 commented on #1002
@plamber we are removing the deprecated flag from  the method `VerifyUserHasAnyAcceptedScope`, so that will be in our 1.7 release. thanks.

[2021-02-24 03:14] jennyf19 commented on #995
@snapfisher we have a protected [Azure Function](https://github.com/AzureAD/microsoft-identity-web/tree/master/tests/AzureFunctions/SampleFunc) as one of our dev apps, which is called by this client -> [appsettings](https://github.com/AzureAD/microsoft-identity-web/blob/master/tests/WebAppCallsWebApiCallsGraph/Client/appsettings.json#L32) and [startup.cs](https://github.com/AzureAD/microsoft-ident

[2021-02-24 04:12] snapfisher commented on #995
Thanks.  I will try to test this over the next couple of days.

On Feb 23, 2021 10:15 PM, jennyf19 <notifications@github.com> wrote:

@snapfisher<https://github.com/snapfisher> we have a protected Azure Function<https://github.com/AzureAD/microsoft-identity-web/tree/master/tests/AzureFunctions/SampleFunc> as one of our dev apps, which is called by this client -> appsettings<https://github.com/Azur

[2021-02-24 08:37] jmprieur commented on #1007
@admsteck : do you want to provide a PR that we could examine?

[2021-02-24 13:14] wmmihaa commented on #971
I've made short video to better explain the scenario and issue.
https://youtu.be/B7l2H5xaGJQ
hth

[2021-02-24 16:25] jmprieur commented on #977
Reopening as it has not shipped

[2021-02-24 17:59] snapfisher commented on #995
I see what you are doing here.  My question is, is there anyway to use MSAL in a ASP.Net project, calling a function, where the function does not use your template or MSAL, but has OAuth turned on in the portal as part of the function app?

What is here seems good (I am assuming it will work), but does help me explain why the other does not work.  Is it just not supported to use MSAL with Function

[2021-02-25 01:41] Valks commented on #916
When you call AddAuthentication you override the default auth providers in Azure functions (Arm, ScriptAuthLevel, JwtBearer) which naturally causes havoc with the Azure backend.

see: https://github.com/Azure/azure-functions-host/issues/6805

I've been trying to use reflection to restore those providers but if I use Microsoft Identity Web instead of the JwtBearer I lose some functionality with the

[2021-02-25 20:49] wmmihaa commented on #971
I've raised the issue in the aspnetcore repo: https://github.com/dotnet/aspnetcore/issues/30472

[2021-02-27 01:47] snapfisher commented on #995
Two specific questions.

I'm trying to get this to work.  The "clientId" in the config. Is that the id of the back end service principal or the front end service principal?

Do you have an example of authentication for the resulting fuction app working from postman?  I had been using the implicit grant before moving to the template, but I can't seem to get the function in the new template to authe

[2021-02-27 16:57] jmprieur commented on #1007
PR is https://github.com/AzureAD/microsoft-identity-web/pull/1008

[2021-02-27 16:58] jmprieur commented on #1007
Wei replied this would be nice to have it to allow customers to pass user assigned MSI clientId from the code instead of changing App service settings,

[2021-02-27 23:37] jennyf19 commented on #977
Included in [1.7.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.7.0)

[2021-02-27 23:37] #977 closed

[2021-02-27 23:37] jennyf19 commented on #961
Included in [1.7.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.7.0)

[2021-02-27 23:37] #961 closed

[2021-02-27 23:37] jennyf19 commented on #963
Included in [1.7.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.7.0)

[2021-02-27 23:37] #963 closed

[2021-02-27 23:37] jennyf19 commented on #954
Included in [1.7.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.7.0)

[2021-02-27 23:37] #954 closed

[2021-02-28 11:57] MarcAnnous commented on #938
Would be helpful indeed. Thank you @dan-giddins and @jmprieur .

[2021-02-28 18:44] dkrasnove opened #1033 "[Bug] Output claims produced in SubJourneys are not returned to the main UserJourney in B2C custom policies."
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
N/A

I apologize if this is the wrong place for this, but I can't seem to find an issue tracker specifically for B2C. I would appreciate if this issue can be forwarded to the B2C team.

**Where is the issue?**
SubJourneys in B2C custom policies.

**Is this a new or an existing app?

[2021-02-28 19:37] jmprieur commented on #1033
@nickgmicrosoft, can you please answer this one?

[2021-03-01 13:10] jmprieur commented on #979
@navyasric, do you want to have a look? this is the Azure day 1 scenario.

[2021-03-01 15:02] admsteck commented on #1007
I retract this comment.  It appears our requirements have changed and the original scope of this issue/PR will be sufficient for our needs.

[2021-03-01 17:59] Ponant opened #1034 "Make Microsoft.Identity.Web independent of the UI strings"
Hello,
Currently, it seems that the `Microsoft.Identity.Web` is somewhat dependent on a hard coded path for the error, such as here (I did not check elsewhere yet)
https://github.com/AzureAD/microsoft-identity-web/blob/master/src/Microsoft.Identity.Web/AzureADB2COpenIDConnectEventHandlers.cs

This makes it ok when used in conjunction with the UI package, but not immediate to customize otherwise. I

[2021-03-02 07:54] abatishchev opened #1035 "[Bug] Web service fails to start if AAD endpoint is unavailable: System.InvalidOperationException: IDX20803: Unable to obtain configuration"
**Which version of Microsoft Identity Web are you using?**

Azure.Identity 1.4.0
Microsoft.AspNetCore.Authentication.AzureAD.UI 3.1.10

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [x] Protected web APIs (validating tokens)
    * [x] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
*

[2021-03-02 08:07] jmprieur commented on #1035
@abatishchev
- This is not a Microsoft.Identity.Web issue (it uses Microsoft.AspNetCore.Authentication.AzureAD.UI 3.1.10), but an ASP.NET one.
- Having said that we (Identity) are working on resilience.

cc: @henrik-me

[2021-03-02 13:49] jmprieur commented on #1034
Would you think that this could go in MicrosoftIdentityOptions, @Ponant  ?

[2021-03-02 15:43] jbradt-stiles opened #1036 "[Bug] RequiredScope RequiredScopesConfigurationKey - possible bug (or at least docs issue)"
**Which version of Microsoft Identity Web are you using?**
1.7

**Where is the issue?**
* Web API
    * [x] Protected web APIs (validating scopes)

**Is this a new or an existing app?**
The app is in production and I have upgraded to a new version of Microsoft Identity Web.

**Repro**

following the documentation located at https://github.com/AzureAD/microsoft-identity-web/wiki/Web-APIs#using-the-

[2021-03-02 17:50] Ponant commented on #1034
I am not familiar enough with this package but I just checked out `MicrosoftIdentityOptions` and it seems this is where developers would enter the azure b2c configuration, which for instance will end up in appsettings.json. Why not. I was imagining something à la .Net Core, such as when we configure the cookie.Name, e.g. `cookieOptions.LogoutPath = new PathString("/logout")`, you would have then

[2021-03-02 18:19] abatishchev commented on #1035
hi Jean-Marc, ah you're right. sorry about this. it was a late hour, AAD PPE was down for all 1P customers. I rushed to open an issue after searching for the methods in the exception stack trace and finding this repo.

@jmprieur, @henrik-me shall I open an issue in the ASP.NET repo instead?

[2021-03-03 07:52] levalencia opened #1038 "IDW10201: Neither scope or roles claim was found in the bearer token"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
I added the nuget package yesterday so its the latest:
<PackageReference Include="Microsoft.Identity.Web" Version="1.*" />

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [X] Protected web APIs (validating tokens)

[2021-03-03 09:31] jmprieur commented on #1038
@levalencia

**Summary**
You acquire a token using the client credential grant, whereas your API is designed to be called on behalf of users

**Details**
- If your API is called by a daemon app (which seems to be the case since you acquired a token using the **client credential** grant), your need do define app-roles, not scopes.
   See:
   - https://docs.microsoft.com/en-us/azure/active-directory

[2021-03-03 09:33] jmprieur commented on #1038
@jennyf19, @henrik-me  :
Proposing to take a supportability enhancement on this one, by adding an aka.ms link at the end of this error message

[2021-03-03 09:35] levalencia commented on #1038
my webapi will be called by a frontend app in react.
Before handling this to my developers however I need to test the authentication in postman.

so I am confused if I really need roles in this case.

[2021-03-03 09:39] jmprieur commented on #1038
@levalencia : does your react frontend sign-in users? if it does you don't need app roles (you are in the case of the second bullet point:

What is wrong, then, is that, to test your web API, you are using an un-adapted flow

[code]

You need to use something else than **client_credentials** (for instance, in postman, username password? although this might cause issues if there is conditional acce

[2021-03-03 13:44] wmmihaa commented on #971
Any news on this?

[2021-03-03 15:08] jmprieur commented on #1035
yes, you could. but we are working on something, but this will take some time.
We'd update Microsoft.Identity.Web

[2021-03-04 10:52] jmprieur commented on #971
@wmmihaa : we are currently working on higher priority very requested features (performance and resilience of the token cache adapters, and rotation of certificates)
This would be next.

[2021-03-04 11:10] wmmihaa commented on #971
@jmprieur Thank you for the feedback. We will continue working on other things while we wait.

[2021-03-04 15:16] #998 closed

[2021-03-04 15:16] #972 closed

[2021-03-04 15:57] dpomBF commented on #110
Can you please add Microsoft.Identity.Web.Future to Microsoft.Identity.Web or at least publish it as a nuget package? I'd like to use the POP Authentication Scheme it offers and don't want to clone the library. Thanks!
Here's where I found the code:
https://github.com/Azure-Samples/active-directory-dotnetcore-daemon-v2/tree/master/4-Call-OwnApi-Pop/Microsoft.Identity.Web.Future

[2021-03-04 16:19] jmprieur opened #1042 "[Feature Request] Enable apps to decide what to do when the L2 cache fails (Retry)"
**Is your feature request related to a problem? Please describe.**
Today, when the L2 cache fails, an error is logged, but given the L1 cache was able to proceed, we don't re-throw (think of Redis cache connection error)

**Describe the solution you'd like**

Have a new property in the `MsalDistributedTokenCacheAdapterOptions`, so that the application can handle the failure ?

[code]

Here is an e

[2021-03-04 17:16] jmprieur opened #1044 "[Feature Request] Encryption strategy for Distributed token cache"
**Is your feature request related to a problem? Please describe.**
Today the distributed token cache does not encrypt the blob for caches.

**Describe the solution you'd like**
Provide an optional way to enable apps developer to provide/choose an encryption strategy

[2021-03-04 17:39] jmprieur commented on #1042
Advice from Henrik:
- Look on stack overflow about the Redis connection issues; etc ..
- @henrik-me will make sure we have the right people to help

[2021-03-04 17:42] jmprieur opened #1045 "[Feature Request] Pluggable retry strategy for Redis cache"
TBD

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...].

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2021-03-04 19:56] V4A001 commented on #998
@jmprieur : hi you did not answer my other questions. I am still doubting if the approach is right. I went to create the app registration programmatically through C# for every external daemon app. For now Azure AD, want to move to Azure B2C but that is not supported I believe. It seems I cannot register the v2.0 version through C# in Azure AD:

`var application = new Application
            {

[2021-03-04 20:56] V4A001 commented on #998
I believe creating a separate application registration for every application with different api's, clientid and aud does not match with the setup at the SAAS part. That has only one. So I think multiple daemons won't work with azure ad / azure b2c. I read something about creating a jwt token at the deamon site, will have a look in that.

[2021-03-05 04:17] dkrasnove commented on #1033
Ok, so I found a workaround, but I'm still convinced this is a bug. For anyone who may come across this thread in the future, what you have to do is encapsulate the dependent orchestration steps in their own sub journey. Using the above example, I put steps 5-8 into a new sub journey which I invoke from the main user journey. For some reason, that appears to satisfy the XML schema validator.

It s

[2021-03-05 04:17] #1033 closed

[2021-03-05 09:41] jmprieur commented on #998
@V4A001
- B2C does not support daemon applications (as B2C is about users only). Are you trying to create a B2C daemon app?

[2021-03-05 09:43] jmprieur commented on #998
In case this helps, we have a new tool to create and configure apps: https://github.com/AzureAD/microsoft-identity-web/tree/master/tools/app-provisioning-tool

The code for the app creation / update is in https://github.com/AzureAD/microsoft-identity-web/blob/master/tools/app-provisioning-tool/app-provisioning-lib/MicrosoftIdentityPlatformApplication/MicrosoftIdentityPlatformApplicationManager.cs.

[2021-03-05 10:06] V4A001 commented on #998
@jmprieur very nice and helpful. The second example helps a lot. I have the creation of deamon apps working now for Azure AD. Good to hear confirmation that B2C will not work.

I am still doubting if app registration is the way to go for multiple daemon apps. I can create multiple app registration for every external system now automatically, but when the JWT arrives at our webapi it only allows on

[2021-03-05 15:34] jmprieur opened #1047 "[Feature Request] Distributed cache is eventually consistent (does not wait for L2)"
**Eventual consistency** is a programming model in which programmers make the assumption that over a long enough period of time and without changes to a system, the current version of a particular program will eventually distribute until every replica of the program is consistent.

**Is your feature request related to a problem? Please describe.**
Today the Distributed token cache adapter awaits f

[2021-03-05 15:48] jmprieur opened #1048 "[Feature Request] Expose the MemoryCacheOptions for the L1 cache in the MsalDistributedTokenCacheAdapterOptions"
**Is your feature request related to a problem? Please describe.**
Today, `MsalDistributedTokenCacheAdapterOptions` exposes `L1CacheSizeLimit` and `L1ExpirationTimeRatio`.

**Describe the solution you'd like**
- @henrik-me proposed that we expose all the settings of the L1 cache
- Make sure that the contructor of `MsalDistributedTokenCacheAdapterOptions` also news up a `MemoryCacheOptions`, and se

[2021-03-05 20:39] witheej commented on #554
I creating the SignedOut razor page as described above, and was also getting the build error. I was able to solve it by changing the namespace to my own.

[2021-03-05 20:41] witheej commented on #758
I was also getting the build error, but it worked for me to just change the namespace (make sure you change it in the cshtml file AND cshtml.cs file)

[2021-03-07 05:16] paul1923 opened #1049 "[Documentation] Under h4 "With Azure AD B2C", mislabelled Add"
### Documentation related to component
Under h4 "With Azure AD B2C"

### Please check all that apply

- [ ] typo
- [ ] documentation doesn't exist
- [ ] documentation needs clarification
- [x] error(s) in the example
- [ ] needs an example

### Description of the issue
Example given as
  public void ConfigureServices(IServiceCollection services)
  {
   ...
      AddMicrosoftIdentityWebApp(Configur

[2021-03-07 09:28] jmprieur commented on #1049
Thanks @paul1923. This is fixed.
https://github.com/AzureAD/microsoft-identity-web/wiki/Web-Apps#with-azure-ad-b2c

[2021-03-07 09:28] #1049 closed

[2021-03-08 08:05] munkii commented on #758
@witheej thanks! I guess I had assumed that namespace must match too. Chnaging the namespace in the Razor file (we have no code behind) worked perfectly

[2021-03-08 08:11] jmprieur commented on #1042
Re opening until it's released.

[2021-03-08 12:00] rsrinivasanhome opened #1050 "Query - Using Micrsoft Identity Web For Token Validation with multiple B2C Policies"
I have a single api which is invoked from two applications using different polices say App1 - AAA  policy,  App2 - BBB.

{
"AzureAdB2C": {
"Instance": "https://mytenant.b2clogin.com",
"Domain": "mytenant.onmicrosoft.com",
"ClientId": "",
**"SignUpSignInPolicyId": "AAA"**
}

So far I have noticed as long as I configure one of the policies (AAA or BBB) the API works .
Can I assume the keys returned

[2021-03-08 12:26] cvbc2010 commented on #1035
i was able to fix this adding
services.AddHttpClient("ProxyClient", c =>
            {
                //c.BaseAddress = new Uri(Configuration.GetValue<string>("AccountURL"));
                // Account API ContentType
                c.DefaultRequestHeaders.Add("Accept", "application/json");
            }).ConfigurePrimaryHttpMessageHandler(() =>
            {
                var proxySettings =

[2021-03-08 12:30] cvbc2010 commented on #986
can we have even proxy configuration for token acquisition as I need to connect to Azure AD via proxy using proxy credentials. and am unable to configure them.

for AadIssuerValidatorOption i was able to do using named ProxyClient like below
services.Configure<AadIssuerValidatorOptions>(options => {
                options.HttpClientName = "ProxyClient";
            });

can we have similar to use

[2021-03-08 14:19] jmprieur commented on #1035
@cvbc2010 :  did you also see https://github.com/AzureAD/microsoft-identity-web/wiki/1.2.0#support-for-back-channel-proxys-for-the-issuer-validator-metadata ?

[2021-03-08 14:24] jmprieur commented on #1050
I would think so. Adding @nickgmicrosoft to confirm

[2021-03-08 23:27] jennyf19 commented on #80
![image](https://user-images.githubusercontent.com/19942418/110395300-c195de80-8022-11eb-92ba-115a34267ae1.png)

[2021-03-09 06:25] cvbc2010 commented on #1035
Yes I have checked this. and implemented the same as above.
But my issue is I need to retrieve token via proxy server with credentials.
Enable EnableTokenAcquisitionToCallDownstreamApi should have an overloaded version which take HttpNamedClient name as parameter.

[2021-03-09 06:59] cvbc2010 commented on #986
My issue is different than this. our IIS is behind corporate firewall and we have access to internet only via proxy server and it requires credentials.

the current Token Acquisition is using IHttpClientFactory which is not linked with handler which uses proxy.

[2021-03-09 10:35] jmprieur commented on #1035
Thanks for the update @cvbc2010
I guess this is a dupe of https://github.com/AzureAD/microsoft-identity-web/issues/891?

[2021-03-10 10:17] MomaniNidal commented on #851
@Servellia  Could you help me to solve this issue it's also appear on VM

[2021-03-10 11:36] rajeevchib commented on #919
Hi @jmprieur

Just a reminder that we have been waiting for this issue to be action-ed.
Just curious to know, if its in the plan to get fixed sooner?

[2021-03-10 12:19] jmprieur commented on #919
@rajeevchib. thanks for the heads-up
We'll have a deeper look at it in the release after next (next is imminent)

[2021-03-10 16:14] jennyf19 commented on #1042
Included in [1.8.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.8.0)

[2021-03-10 16:14] #1042 closed

[2021-03-10 16:14] jennyf19 commented on #957
Included in [1.8.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.8.0)

[2021-03-10 16:14] #957 closed

[2021-03-10 16:16] justin0522 opened #1055 "Consume enterprise APIs secured with microsoft-identity-web in SharePoint Framework"
call web api from spfx webpart with AadHttpClient
https://docs.microsoft.com/en-us/sharepoint/dev/spfx/use-aadhttpclient-enterpriseapi
the sample is Azure Function service
when i do that with enterprise APIs secured with microsoft-identity-web, the result is  302 (redirct to the https://login.microsoftonline.com)
so did I miss something?

[2021-03-10 19:48] svarukala opened #1056 "[Bug] Calls to SharePoint Online REST API Fails with Invalid issuer or signature error"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.7.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [x] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory

[2021-03-11 02:19] justin0522 commented on #1055
@jmprieur
my API is a simple asp.net core web service which add microsoft-identity-web

https://github.com/SharePoint/sp-dev-docs/issues/6248
exactly the same question
they saied

[2021-03-11 07:01] rajeevchib commented on #919
@jmprieur

Thanks for the update.

Unfortunately this is holding up testing of our docker application with multiple instances accessing the same token cache store.

[2021-03-11 11:51] jmprieur opened #1057 "[Documentation] Need a feature table what is available in Ms.Id.Web (ASP.NET Core and other) and MSAL.NET"
### Why?
Microsoft Identity Web is the recommended solution for ASP.NET Core web apps, web APIs, Azure functions and gRPC services secured with the Microsoft.Identity.Platform.

It also provides some limited support for .NET Core and .NET Framework (including ASP.NET), where customers still need to use a hybrid solution with MSAL.Net

Customers need to quickly be able to choose a solution and a fi

[2021-03-12 15:35] jmprieur commented on #80
![image](https://user-images.githubusercontent.com/13203188/110962124-e3f46880-8350-11eb-8023-330646c6c16b.png)

[2021-03-12 16:04] mmacy commented on #80
Ooh, I like this. Would love a little one-liner in the first commit message at the top explaining what this is intended for, though. Are these current, or is this just a way to host images for transient references, such as for other issues/etc.?

[2021-03-12 16:15] jmprieur commented on #80
it's to store pictures for the wiki pages. See https://github.com/AzureAD/microsoft-identity-web/wiki/Microsoft-Identity-Web-basics#high-level-architecture

[2021-03-12 21:39] creativebrother opened #1061 "[Bug] Distributed token cache Read operations should update the L2 data freshness."
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

1.8.0
**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache

[2021-03-12 22:05] jmprieur commented on #1061
Thanks @creativebrother

I think I understand what happens. This would be related to the new L1/L2 cache implementation (see https://github.com/AzureAD/microsoft-identity-web/wiki/L1-Cache-in-Distributed-(L2)-Token-Cache)

In 1.8.0, when we read a token from the L1 (in memory) cache, we don't update the fact that the key was accessed in the L2 cache (distributed) cache, which means we don't extend

[2021-03-12 22:16] jennyf19 commented on #1061
Thanks @creativebrother ...i think this [pr](https://github.com/AzureAD/microsoft-identity-web/pull/1062) will resolve the issue. thoughts?

[2021-03-12 22:28] jennyf19 commented on #1061
@creativebrother we can release this on Monday (3.14), if that works for you. in the meantime, use 1.7.0. thanks again.

[2021-03-12 23:09] creativebrother commented on #1061
I noticed also the expired token entries not being deleted in the L2 cache (sql server). The old version 1.5.0  read activities will trigger deleting all the cache entries whose ExpriresAtTime is less or equal to when read activity happens.
I am not sure is this related to the -- not extending the L2 token life time issue?

I did not have a chance to look at the source code yet, but from my observ

[2021-03-13 00:07] jennyf19 commented on #1061
thanks @creativebrother will take a look

[2021-03-13 09:01] hajekj commented on #916
I have been trying to look into this, since we are hitting it too... I have hard time understanding at which point the [`ConfigureServices`](https://github.com/Azure/azure-functions-host/blob/14adf6d336db5da0feb0221cc4fe0a40bc14edb0/src/WebJobs.Script.WebHost/Startup.cs#L22) method gets overridden. Custom startup gets called via [`ConfigureStartup`](https://github.com/Azure/azure-webjobs-sdk/blob/

[2021-03-13 09:57] Valks commented on #916
@hajekj It's been two weeks since I looked at this but my recollection is when you call ```AddAuthentication``` it replaces the auth providers already registered which is what's happening to the providers registered in ```ConfigureServices```

https://github.com/Azure/azure-functions-host/blob/1f1103d2f6be8b16a70ea9367f2611fa68e7a4c7/src/WebJobs.Script.WebHost/WebHostServiceCollectionExtensions.cs

[2021-03-13 11:13] hajekj commented on #916
@Valks Thanks for the insight!

I wasn't able to check if the Function providers get registered before or after (it would make sense if they got registered before), but then, the implementation of [`AddAuthentication`](https://github.com/dotnet/aspnetcore/blob/c925f99cddac0df90ed0bc4a07ecda6b054a0b02/src/Security/Authentication/Core/src/AuthenticationServiceCollectionExtensions.cs#L21) doesn't see

[2021-03-15 09:58] jmprieur commented on #916
@hajekj : on the second line, you should pass-in a different authentication scheme to AddAuthentication, otherwise this will map to the default authorization scheme:

[code]

[2021-03-15 11:23] hajekj commented on #916
@jmprieur: Yes, I am aware of that, I am just trying to understand what happens in the Function's runtime that causes the pre-registered schemes like (ArmToken, ...) to be "unregistered", therefor causing the issue described above.

[2021-03-15 13:05] jmprieur commented on #1056
@svarukala, you'll need to set options.Scopes

[code]

or otherwise set it in the "DownstreamWebApi" section of the appsettings.json

[2021-03-15 13:28] parwejp commented on #503
@jennyf19 : I am not able to find out how to send request headers while using get requests on iDownStreamWebAPI. I recently got an error while calling MS graph api to add "ConsistencyLevel = eventual" header.
[Microsoft Graph advanced queries Header](https://developer.microsoft.com/en-us/identity/blogs/microsoft-graph-advanced-queries-for-directory-objects-are-now-generally-available/ )
Have switc

[2021-03-15 13:31] jmprieur commented on #503
Thanks @parwejp these are fair points.
Would you mind opening a new issue with this?

[2021-03-15 13:40] parwejp opened #1063 "Ability to set Request headers for IDownStreamWebAPI"
Dear Team,

I am not able to find out how to send request headers while using get requests on iDownStreamWebAPI. I recently got an error while calling MS graph api to add "ConsistencyLevel = eventual" header.

[Microsoft Graph advanced queries Header](https://developer.microsoft.com/en-us/identity/blogs/microsoft-graph-advanced-queries-for-directory-objects-are-now-generally-available/)

**Describ

[2021-03-15 15:22] jmprieur commented on #956
### What happens:
1. Create a self signed certificate which will expire soon. For instance if I want the cert to expire today at 4:05 pm. The date/time needs to be adapted to your locale (you might need to wrote "03/15/2021 4:05 pm" in the US

[code]

2. Using the certificate manager, export with private key

3. Add the certificate to the client certificate of the app to test before the certificat

[2021-03-15 20:19] svarukala commented on #1056
@jmprieur  I have the scope configured in the appsettings.json file in my web api project from beginning but still the calls to SPO REST API were failing.
![image](https://user-images.githubusercontent.com/2417337/111215589-ac342d80-85a9-11eb-9453-fe76cc2f5433.png)

Due to current Azure AD outage I am not able to try the options.Scopes. I will try with the options.Scopes and report back here.

[2021-03-16 01:44] svarukala commented on #1056
@jmprieur I can confirm that with the options.Scopes set the code is working fine.
But its expected to work with the appsettings.json file alone as long its properly configured.

[2021-03-16 08:54] peirens-bart opened #1069 "Able to change default endpoint for SignOut and SignIn"
I created a asp.net core web app that runs inside a kubernetes cluster, in this cluster there is a configured ingress controller that send request from [domain]/app1/[controller]/[action] to the correct pod. this works because we have an environment variable that configures the vertical path for the app so all URL and redirects are sent to app1 (like js, css , a tags, ...)
now I can I add the virt

[2021-03-16 09:51] jmprieur commented on #1056
@svarukala : it does!

Can you please share the line of your Startup.cs where you call `.AddDownstreamWebApi()` ?

[2021-03-16 13:31] svarukala commented on #1056
@jmprieur here is the Startup.cs ConfigureServices method:
[code]

[2021-03-16 14:13] jmprieur commented on #1056
Thanks @svarukala
In your appsettings.json, "Scopes" should be set to "https://contoso.sharepoint.com/AllSites.Read"

[2021-03-16 14:20] jmprieur commented on #1056
Shall we close this issue @svarukala .?

[2021-03-16 14:22] svarukala commented on #1056
That is it. That did it.
When I worked with MS Graph the Scopes worked with just the scope name (without the graph url), hence I expected the same with SPO.
[code]

Thank you for your help @jmprieur. Appreciate your time. Please close this issue.

[2021-03-16 14:23] #1056 closed

[2021-03-16 18:30] jmprieur opened #1071 "[Feature Request] Expose WithClientCapabilities in TokenAcquisitionOptions to declare the client supports CAE / AuthenticationContext"
**Is your feature request related to a problem? Please describe.**
Clients (web apps or web APIs calling web APIs) need to support CAE and AuthenticationContext

**Describe the solution you'd like**
For this we'd want to expose  `ClientCapabilities` in `TokenAcquisitionOptions`

**See also**
https://docs.microsoft.com/azure/active-directory/develop/app-resilience-continuous-access-evaluation

[2021-03-16 18:32] jmprieur commented on #685
Note that the claims challenges could URL encode or not the claims.
Azure AD only understand the non-encoded (plain JSon) format.

[2021-03-16 21:07] jennyf19 commented on #1061
@creativebrother released w/[1.8.1](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.8.1)

[2021-03-16 21:07] #1061 closed

[2021-03-17 10:07] jmprieur commented on #470
See also https://identitydivision.visualstudio.com/Engineering/_workitems/edit/1323064

[2021-03-17 16:58] darraghjones commented on #760
Yeah, i don't understand why the RedirectUrl is hard-coded to "~/" here: https://github.com/AzureAD/microsoft-identity-web/blob/master/src/Microsoft.Identity.Web.UI/Areas/MicrosoftIdentity/Controllers/AccountController.cs#L46

what if i want to redirect to a different page in my web app after logging in?

[2021-03-17 23:58] MarcAnnous commented on #544
What about `AddMicrosoftIdentityWebApi(AuthenticationBuilder, Action<JwtBearerOptions>, Action<MicrosoftIdentityOptions>, String, Boolean)`? Not clear what needs to be configured in `configureJwtBearerOptions` vs `configureMicrosoftIdentityOptions`. Thanks.

[2021-03-18 09:14] jmprieur commented on #544
This is the same thing, @MarcAnnous
In general, Microsoft.Identity.Web does not require you to initialize the same thing twice, though.

[2021-03-18 13:44] jmprieur commented on #1071
This is actually possible because `ApplicationOptions` expose the `ClientCapabilities` property
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/7f9974cc0525d308e091dbf380ef6d8c75aad8d9/src/client/Microsoft.Identity.Client/AppConfig/ApplicationOptions.cs#L123

so the way to use client capabilities would be, in the appsettings.json to set

[code]

[2021-03-18 13:47] jmprieur commented on #1071
cc: @kalyankrishna1 as you were asking about this

[2021-03-18 14:49] jmprieur opened #1074 "[Feature Request] Web apps and web API can acquire Pop access token"
**Is your feature request related to a problem? Please describe.**
See [.WithProofOfPossession](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.client.abstractconfidentialclientacquiretokenparameterbuilder-1.withproofofpossession?view=azure-dotnet)

**Describe the solution you'd like**
Expose a way to get Pop tokens (for instance expose the [PoPAuthenticationConfiguration ](https://

[2021-03-18 15:06] jmprieur opened #1075 "[Feature Request] Support Azure regions in GetTokenForAppAsync"
**Is your feature request related to a problem? Please describe.**
MSAL.NET exposes [WithPreferredAzureRegion](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.client.acquiretokenforclientparameterbuilder.withpreferredazureregion?view=azure-dotnet)

**Describe the solution you'd like**
TBD

[2021-03-18 17:26] jennyf19 commented on #80
![image](https://user-images.githubusercontent.com/19942418/111669541-247e3700-87d4-11eb-8cb2-fbdc36773a41.png)
![image](https://user-images.githubusercontent.com/19942418/111669601-3364e980-87d4-11eb-9c94-18f3ee83c067.png)
![image](https://user-images.githubusercontent.com/19942418/111669678-45df2300-87d4-11eb-8217-becc641ff10a.png)
![image](https://user-images.githubusercontent.com/19942418/1116

[2021-03-18 19:05] jennyf19 commented on #786
@creativebrother we've update the [documentation](https://github.com/AzureAD/microsoft-identity-web/wiki/Handle-L2-cache-eviction) around cache eviction. thanks.

[2021-03-18 21:32] wuwei8372 commented on #956
A few questions:
1) Looks like proposed method will only re-load the certificate when the current certificate is expired or invalid. If a new version of certificate is available and the old version is still valid, could we get the new certificate when calling LoadIfNeeded? (Probably not, right?)

2) Will this proposed method also work for non-aad certificate? For example a client certificate used

[2021-03-18 21:40] TaylorTheDeveloper opened #1076 "[Bug] Unable to authenticate using Azure front door and AAD"
**Which version of Microsoft Identity Web are you using?**
Microsoft.Identity.Web 1.8.1

**Where is the issue?**
* Web app
    * [x ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory

[2021-03-18 23:55] MarcAnnous commented on #544
It does work this way:

[code]

@jmprieur I was confused about having to pass to `AddMicrosoftIdentityWebApi` something for `configureJwtBearerOptions` (doing nothing) in addition to `configureMicrosoftIdentityOptions` whereas `AddMicrosoftIdentityWebApp` takes only `configureMicrosoftIdentityOptions` which is enough.

[2021-03-19 08:36] JannyM85 commented on #438
Hello I have the same problem. When I use DbContextFactory. When I use DbContext its working ok.
You can simulate this bug on page counterfail a correct behavior on counter page. [Download demo project here.](https://drive.google.com/file/d/1MoPHHpRtG2m74rZHR5ft2yVJW7sF6dh2/view?usp=sharing)
![image](https://user-images.githubusercontent.com/13817757/111752340-de89a780-8895-11eb-9358-f244f9592b3f.

[2021-03-19 11:44] jmprieur commented on #956
Thanks for these questions, @wuwei8372

1. Would you think that we'd want to re-check the certificate periodically?
2. You can use the DefaultCertificateLoader to load certificates.
3. I think that this is related to question 1). I'd think that, in that case, we'd want to also keep a LKG (Last known good) certificate in case Azure AD's application was not yet updated ?

[2021-03-19 11:49] jmprieur commented on #1076
@TaylorTheDeveloper : would this article help you? [Deploy to App Services Linux containers or with proxies](https://github.com/AzureAD/microsoft-identity-web/wiki/Deploying-Web-apps-to-App-services-as-Linux-containers)

[2021-03-19 16:36] TaylorTheDeveloper commented on #1076
Thanks for sharing that- I did check that out and had gone down a similar path but did not have success using forwarded headers.

It's worth noting that I am using windows app service, not linux app services. I'm also using .Net Core 3.1.

From that article:

If I update the last line to highlight the difference:

[2021-03-19 16:37] wuwei8372 commented on #956
Thanks for replay @jmprieur!

1. It would be great if we could re-check the and update certificateDescription.Certificate periodically to make it up-to-date.
2. Good to know we could use DefaultCertificateLoader load client certificates for S2S call as well.
3. Yes it is related to question 1. I assume LKG means the latest valid certificate in AKV, correct? If we can periodically check and put the

[2021-03-21 10:36] jmprieur commented on #956
Yes @wuwei8372, LKG = Last Known Good (the latest valid certificate in AKV). The issue is, the certificate could be valid in AKV, but not registered as a client credential in the app registration for the app.

[2021-03-21 10:37] jmprieur commented on #1076
@Tratcher can you please help for this case?

[2021-03-21 18:49] Tratcher commented on #1076
Start with the troubleshooting instructions at https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-5.0#troubleshoot to capture the incoming headers.

Please share your forwarded headers middleware settings along with the troubleshooting output.

[2021-03-22 18:52] wuwei8372 commented on #956
@jmprieur, could we do the check to update certificateDescription.Certificate when LoadIfNeeded(CertificateDescription) is called? So that we could use CertificateDescription.KeyVaultCertificateName to find the cert in AKV even if the cert is not registered in the app registration? Then in our code we could call loadIfNeeded periodically, or just before sending each request to update certificateDe

[2021-03-23 02:50] jennyf19 commented on #470
What I'd like to see for this:
A new override of AcquireTokenByAuthorizationCode that takes the code_verifier. The changes to Id Web should be minimal, 1-2 lines. Just getting the code_verifier from the event context on the AuthenticationProperties in ASP.NET and giving to the AcquireTokenByAuthorizationCode method.
Like this for example:

[code]

[2021-03-23 09:41] jmprieur opened #1080 "[Feature Request] project templates should support both --calls-graph and --called-api-uri / --call-api-scopes at the same time"
**Is your feature request related to a problem? Please describe.**
Visual Studio 16.10 will provide check boxes for both options. This is to be consistent.

**Describe the solution you'd like**
If these options are used at the same time, generate 2 sections in the appsettings.json

[code]

[2021-03-23 09:43] jmprieur commented on #956
@wuwei8372, we could add a boolean to do the check. I don't think we'd want to check keyvault each  time we call LoadIfNeeded, because this would be basically each time we validate a token or acquire a token ...

[2021-03-23 18:55] dhmahidawork opened #1086 "[Feature Request] Microsoft.Identity.Web support for .Net framework 4.6.2."
current version of Microsoft.Identity.Web support  .Net framework 4.7.2 or later. is it possible for you guys to provide support for  .Net framework 4.6.2 ?

[2021-03-23 22:14] KenKozman-GE opened #1081 "Should default audience validation for v1.0 tokens handle {ClientID} form?"
I am new to all the AAD and Microsoft.Identity.Web world but...

It seems like it is possible to get a token from a v1.0 app registration (e.g. an app registration with `accesstokenAcceptedVersion` of `null` or `1`) that has just the GUID form of the client id and NOT the `api://{ClientID}` form.

I was able to get one of these using grant_type=password and where the client_id and scope are both t

[2021-03-23 22:52] wuwei8372 commented on #956
@jmprieur it makes sense to add a boolean to LoadIfNeeded to determine if checking in AKV is needed or not. I think it would work for us.

[2021-03-25 09:50] hajekj commented on #916
I will try to ask some related questions to this at the Functions Live event today - https://www.youtube.com/watch?v=4n0QbG0wYEI

[2021-03-25 11:24] dev-a11y commented on #881
Does anyone succeeded in using Microsoft.Identity.Web package as middleware for App Services Authentication?
I followed all? blogs and articles (discussion here is the most comprehensive one in this subject) and still no success.

**Background**

We have ASP.NET Core 3.1 web api that is hosted in App Service on Azure.
When we access it directly in browser we get:

but it's as expected because this

[2021-03-25 15:17] rellis-of-rhindleton opened #1087 "[Feature Request] Offer a message handler approach with ITokenAcquisition"
MSAL Angular uses a "protected resource map" approach to handle multiple downstream APIs.  With the ITokenAcquisition service you're just a few steps away from being able to do the same thing.

I wanted to use the Http message handler approach in a project and set up a couple of (very) simple classes to handle it. Passing it along.  If it doesn't fit the needs of the library, no worries.

Stripped

[2021-03-25 16:44] wuwei8372 commented on #956
@jmprieur could we have a cache behind LoadIfNeeded for certificate when checking certificate in AVK, so we don't have to call AKV every time if the cache is valid?

[2021-03-25 16:49] jmprieur commented on #956
yes, that's what I mean, @wuwei8372 by LKG :)

[2021-03-25 17:02] jmprieur commented on #881
@dev-a11y @johnnyreilly
Frankly, when you want elaborated scenario, just disable Easy auth (disable app services authentication).
Use app services, but let Microsoft.Identity.Web do the authentication and authorization.

What benefit do you expect from Easy Auth, if your web app or web API is already protected with Microsoft.Identiyt.Web ?

[2021-03-25 18:58] johnnyreilly commented on #881
Hey @jmprieur

The benefit we've identified is around having a standard policy that can be applied. A little context may help here. Our organisation is of a reasonable size and is planning to migrate its estate from running on our own data centers into Azure. A large percentage of those applications being migrated are internal facing. We want to minimise the risk of applications being moved into A

[2021-03-26 15:29] dougwaldron opened #1091 "[Bug] Does not work with RoleManager"
As described in the [Azure Architecture documentation](https://docs.microsoft.com/en-us/azure/architecture/multitenant-identity/app-roles#roles-using-an-application-role-manager), one strategy for defining  roles is to store role assignments in the application's own DB, "for example, using the RoleManager class in ASP.NET Identity." But the docs give no implementation instructions. I've tried ever

[2021-03-27 03:55] jennyf19 opened #1095 "[Bug] Make UserAssignedManagedIdentityClientId an instance field on a new interface, not settable externally"
Having this be static and externally settable opens up race conditions where someone thinks it is populated when it may not be, and then makes incorrect decisions based upon that. Saying it is not used that way now is not sufficient. This is a high risk of misuse for future contributors. Recommendation is to make it an instance field on a new interface that is not settable externally, then access

[2021-03-27 10:27] TaylorTheDeveloper commented on #1076
Thanks @Tratcher for pointing me in this direction- Going through this more in depth and adding logging around the scenario I finally figure out what's going on. The middleware doesn't seem to be doing that update as the documentation seems to indicate it would. I was able to update the request host to be the correct endpoint manually using the X-Forwarded-Host header (see below)

according to the

[2021-03-27 15:25] jennyf19 opened #1096 "[Bug] Reenable integration tests once lab has fixed their side"
waiting for lab to fix things on their side.

[2021-03-27 19:17] jennyf19 opened #1097 "[Bug] Lock httpContext in MicrosoftIdentityConsentAndConditionalAccessHandler & ValidateAppRole"

[2021-03-29 17:55] #1096 closed

[2021-03-30 15:55] jing8956 opened #1103 "[Feature Request] RequiredScopeFilter is not support AllowAnonymousAttribute"
**Is your feature request related to a problem? Please describe.**
I'm creating a controller. Most APIs required authorization and individual public.
Maybe it was my too young too simple :-(

**Describe the solution you'd like**
I think the following code is best way.

[code]
But return HTTP 500 and full stack info when call AnonymousApi.
<details>
  <summary>response</summary>
  <pre><code>
Syste

[2021-03-30 17:11] jmprieur commented on #1103
@jing8956 this is by design.
The filters (ASP.NET Core concept) are additive (the ones at the level of the class add-up to the ones at the level of the actions).

In your scenario you'd want to set the attribute on the protected actions, indeed.

I've seen many examples where developer had an anonymous controller, and protected controllers.

[2021-03-31 01:42] TaylorTheDeveloper commented on #1076
Just wanted to follow up...  Is this expected that I still have to update the request host? Or is this a bug?

[2021-03-31 02:22] Tratcher commented on #1076
Do your requests have x-forwarded-for headers? A lot of the processing is tied to those. You can try disabling that with:
options.ForwardedHeaders = ForwardedHeaders.XForwardedHost | ForwardedHeaders.XForwardedProto;

[2021-03-31 08:56] jing8956 commented on #1103
@jmprieur My target is learning not business, so I try to keep my code clean and tidy.
I've looked all over [ASP.net Core authorization](https://docs.microsoft.com/aspnet/core/security/authorization/introduction?view=aspnetcore-5.0)
I'm feel stranged that it barely talks about IAuthorizationFilter interface.
I found this [document](https://docs.microsoft.com/aspnet/core/mvc/controllers/filters?vie

[2021-03-31 09:03] jmprieur commented on #1103
Thanks for the update, @jing8956

[2021-03-31 09:03] #1103 closed

[2021-03-31 16:04] jennyf19 opened #1105 "[Feature Request] Implement high performance logging"
For more info see:
[sample](https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/fundamentals/logging/loggermessage/samples/3.x/LoggerMessageSample)
[asp net engineering guidelines](https://github.com/dotnet/aspnetcore/wiki/Engineering-guidelines#logging-patterns)
[High performance logging doc](https://docs.microsoft.com/en-us/dotnet/core/extensions/high-performance-logging)

[2021-04-01 14:51] henriquebelotto opened #1112 "[Documentation] How to customize (or what to customize) for a sign out call to Azure AD B2C?"
### Documentation related to component
Sign Out -> OnRedirectToIdentityProviderForSignOut method

### Please check all that apply

- [ ] typo
- [x] documentation doesn't exist
- [x] documentation needs clarification
- [ ] error(s) in the example
- [x] needs an example

### Description of the issue
Hello,
In our application (.net core 3.1 MVC) we sign in users using Azure AD B2C using Custom polici

[2021-04-01 20:01] henriquebelotto commented on #1112
I was able to achieve what I'm trying by modifying the IssuerAddress in the ProtocolMessage, inside the method
`OnRedirectToIdentityProviderForSignOut(RedirectContext context)`

`context.ProtocolMessage.IssuerAddress = context.ProtocolMessage.IssuerAddress.Replace("b2c_1a_signuporsignin", "b2c_1a_signinadmin");`

It seems to work fine now. But is it correct what I did?
Is there a better way to do

[2021-04-02 10:26] jmprieur commented on #1112
@henriquebelotto I think that this is fine.
you might want to do that by chaining the OpenIdConnect event. See https://github.com/AzureAD/microsoft-identity-web/wiki/customization#openidconnectoptions

[2021-04-04 07:22] senal opened #1117 "[Bug] WWW-Authenticate: Bearer error="invalid_token", error_description="The signature is invalid""
**Which version of Microsoft Identity Web are you using?**
1.8.2

**Where is the issue?**

* Web API
    * [ ] Protected web APIs (validating tokens)

**Is this a new or an existing app?**
c. This is a new app or an experiment.

**Repro**
My reference is the following sample application provided by Microsoft. To generate the token.
Then pass the token as a 'Bearer'

microsoft-authentication-librar

[2021-04-04 09:25] jmprieur commented on #1117
@senal which scope did you request? didn't you request a scope for Microsoft Graph instead of your web API?

[2021-04-04 10:20] senal commented on #1117
@jmprieur ,

When I made a request to get a token, I made it with;
`scopes: ["User.Read"]`
as in the sample.

I just tried calling Microsoft Graph instead my WebAPI and it worked.

Am I missing any configurations in my WebAPI or something wrong with service configurations?

[2021-04-04 10:33] jmprieur commented on #1117
@senal yes, you need to request a token for your web API, not for Microsoft Graph.
I believe that this sample will give you all the answers to the questions you have: https://github.com/Azure-Samples/ms-identity-javascript-react-spa-dotnetcore-webapi-obo

cc: @derisen

[2021-04-04 11:19] senal commented on #1117
@jmprieur,

Thanks for the infor.

Let me follow the steps given in the above sample.
I will keep updating my progress.

[2021-04-04 13:23] senal commented on #1117
@jmprieur, @derisen,
I registered my SPA and API applications in Azure as per the steps listed in the tutorial.
However, when I'm trying to get a token, I received 400 (bad request) error.
Please see the screenshot:
![image](https://user-images.githubusercontent.com/2841066/113510096-4f220b00-959c-11eb-9146-db18dd428552.png)

Also error shown in the network tab:
![image](https://user-images.github

[2021-04-04 14:32] senal commented on #1117
@jmprieur, @derisen,

When registering spa, I did select **single tenant** as "Supported account types" instead  **Personal Microsoft accounts only**".
Please see the below image.
![image](https://user-images.githubusercontent.com/2841066/113511306-8b586a00-95a2-11eb-8f9a-7ba68daf3907.png)

And in the msalConfig: I pass the authority as below:

`
 authority: 'https://login.microsoftonline.com/<ten

[2021-04-04 16:00] derisen commented on #1117
@senal This sample was meant to be used with personal Microsoft accounts (`consumers` endpoint). If you want to change that, [see this please](https://github.com/Azure-Samples/ms-identity-javascript-react-spa-dotnetcore-webapi-obo/blob/master/ReadmeFiles/howto-common.md).

Basically you need to make sure both the SPA and the web API configurations are aligned (with each other AND with how you regi

[2021-04-04 21:08] senal commented on #1117
@derisen,
Thanks for this.

Trying to configure SPA cofig values as per the instructions.
Note that I'm using TS with the `Configuration` object.
Seems like `validateAuthority` is not valid property of the object:

See the screenshot:
![image](https://user-images.githubusercontent.com/2841066/113521559-9b416f80-95dd-11eb-8b99-e2c50c9d8004.png)

Please advise.

[2021-04-05 00:34] derisen commented on #1117
@senal ah, sorry, `validateAuthority` property is deprecated. Just remove it and it should be fine. I'll fix the docs.

[2021-04-05 00:54] jrmcdona opened #1118 "[Bug] IDX10609: Decryption failed. No Keys tried: token:"
Microsoft Identity Web 1.8.2

**Where is the issue?**
* Web API
    * [ ] Protected web APIs (validating scopes)
    * [x ] Protected web APIs call downstream web APIs

**Is this a new or an existing app?**
I am upgrading from the old forked Microsoft.Identity.Web repo using .NET Core 2+ to the latest .NET Core 5.0 and Identity Webb 1.8.2.

This is a first party app registration.

**Repro**
I am t

[2021-04-05 07:28] jmprieur commented on #1118
@jrmcdona : did you find the answer to your question yourself? did you use DecryptCertificates (instead of ClientCertificates)?

[2021-04-05 08:08] sergey-tihon opened #1119 "[Feature Request] Persist tokens cache between app restart for local development with `dotnet watch`"
**Is your feature request related to a problem? Please describe.**

Default template come with `AddInMemoryTokenCaches`, that throw exception every time when server restart and browser with old cookies tries to load the page (in my case it is Blazor Server application)

**Describe the solution you'd like**
I would like to have a simple solution to persist cache between app restart for local develo

[2021-04-05 08:36] jmprieur commented on #1119
@sergey-tihon : @jennyf19 also authored an article on how to use a redis cache hosted locally in Docker.
This is a very simple solution too: https://github.com/AzureAD/microsoft-identity-web/wiki/Set-up-a-Redis-cache-in-Docker

[2021-04-05 08:52] jmprieur commented on #1081
@KenKozman-GE you can always specify the audience you want by the "Audience" property in the appsettings.json / the configuration.

Thanks for the heads-up for the typo. cc: @jennyf19

[2021-04-05 08:55] sergey-tihon commented on #1119
Thank you @jmprieur. Redis  + Docker looks completed for default solution (in terms of dependencies)

I think that if developers start from [Microsoft.Identity.Web.ProjectTemplates](https://www.nuget.org/packages/Microsoft.Identity.Web.ProjectTemplates/) it should just works.

Quickstart manuals like [Quickstart: ASP.NET Core web app that signs in users and calls Microsoft Graph on their behalf](h

[2021-04-05 14:25] KenKozman-GE commented on #1081
Good call, I did not think of that workaround.

Using the v2 form of the access token in the App Registration works as well (without needing to set "Audience"). That is the path we are looking at going down right now.

[2021-04-05 16:34] jrmcdona commented on #1118
Yes.  I was able to get something to work but DecryptCertificates  does not work for me.   Here is what I had.

[code]

The way I got passed the Decryption error was this, which is similar to how I was doing it before migrating to .NET 5

[code]

We can reopen the bug on this to solve this particular issue.

[2021-04-05 18:39] jrmcdona opened #1120 "[Bug] No account or login hint was passed to the AcquireTokenSilent call."
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
1.8.2

This is a Frist party app

**Where is the issue?**
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ x] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ x] In-memory caches

[2021-04-05 21:36] senal commented on #1117
Was able to get it working.

Thanks @jmprieur for your advices right directions.
@derisen , big thanks to your advices and support.

[2021-04-05 21:38] senal commented on #1117
I was able to fix my issue with by following the above tutorial and the provided technical guidance.

[2021-04-05 21:38] #1117 closed

[2021-04-06 00:43] TaylorTheDeveloper commented on #1076
Ahh, that was it. I did have x-forwarded-for headers as well. Opting for just XForwardedHost + XForwardedProto did the trick without requiring me to override anything. Thanks!

[2021-04-06 00:43] #1076 closed

[2021-04-06 07:31] jmprieur commented on #1120
@jrmcdona : Are both scopes exposed on the same web API?

[2021-04-06 13:23] jrmcdona commented on #1120
@jmprieur yes, one downstream API.

This is what I have in production.  But in production it never asks for the

[code]

Here is my new config:

[code]

[2021-04-06 13:33] jmprieur commented on #80
![image](https://user-images.githubusercontent.com/13203188/113718913-67ee0600-96ed-11eb-9bbb-99c028c4501b.png)

[2021-04-07 11:25] jmprieur commented on #1120
@jrmcdona:
- you probably want to write: `GetAccessTokenForUserAsync(scopes, isMsa ? "consumers" : "organizations");`  ?
- I don't understand the error: in a Web API, AcquireTokenSilent is not called by Microsoft.Identity.Web (only OBO is).

Can you please elaborate on your architecture?

[2021-04-07 11:44] jrmcdona commented on #1120
@jmprieur  I shared a browser screenshot to show you my bearer token was new and fresh and the bearer token that was sent to the web API already had user interaction since that is what the error was about.

I have a first party app registered in the First party portal.   MSA users are found in "consumers" tenant.   Everyone else is found in common.   They can be Microsoft.com accounts or any other

[2021-04-07 12:07] jmprieur opened #1124 "[Feature Request] New template for .NET 6.0 Azure functions"
**Is your feature request related to a problem? Please describe.**
Microsoft.Identity.Web supports NET Core 3.1 Azure functions, but there is now a new model

**Describe the solution you'd like**
Provide a project template for .NET 5.0 Azure functions

**Additional context**
[code]

[2021-04-07 13:16] jmprieur commented on #1120
@jrmcdona : sure let's meet if that helps.

[2021-04-07 20:27] github4jkc opened #1126 "[Bug] ValidateIssuer does not work on WebApp and WebApi mix"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
Microsoft Identity Web 1.8.2

**Where is the issue?**
* Web app
    * [X] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [X] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [X] Protected web APIs call downstream

[2021-04-07 20:34] ChristopherHaws commented on #880
After debugging through the ASP.NET Core code, it looks like `AccessToken` is null, so [this branch is being triggered](https://github.com/dotnet/aspnetcore/blob/main/src/Security/Authentication/OpenIdConnect/src/OpenIdConnectHandler.cs#L880) right before calling the UserInfoEndpoint. The access token is null because the `tokenEndpointResponse` is null [here](https://github.com/dotnet/aspnetcore/b

[2021-04-07 21:04] hajekj commented on #1124
Just a few thoughts...

I looked into it a bit already, and I think there will be a lot of work behind this due to the fact that the .NET 5.0 out-of-process hosting doesn't have `HttpContext` (uses custom made `HttpRequestData` [instead](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide#differences-with-net-class-library-functions) - which will not likely work wi

[2021-04-08 02:09] JandosHk opened #1127 "[Bug] Redirected to AccessDenied page after successful login"
**Which version of Microsoft Identity Web are you using?**
Microsoft.Identity.Web 1.8.2

**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory

[2021-04-08 09:35] jmprieur commented on #1126
There is a work item in progress to make this scenario work correctly.
Duplicate of https://github.com/AzureAD/microsoft-identity-web/issues/955

[2021-04-08 09:40] jmprieur commented on #880
Thanks for the investigation, @ChristopherHaws

[2021-04-08 09:49] jmprieur commented on #1124
Thanks for the heads-up, @hajekj! this is very useful.
We'll wait!

[2021-04-08 12:29] jmprieur commented on #1127
@JandosHk thanks for reporting.
This is a multi-scheme case, which we'll consider part of https://github.com/AzureAD/microsoft-identity-web/issues/955

[2021-04-08 16:16] rhubley opened #1128 "[Documentation] Stack Overflow tags are invalid"
### Documentation related to component
ReadMe - Section: Community Help and Support

### Please check all that apply

- [x] typo
- [ ] documentation doesn't exist
- [x] documentation needs clarification
- [ ] error(s) in the example
- [ ] needs an example

### Description of the issue
existing section:

The tags listed web app, web api, asp.net core are not valid tags on Stack Overflow. Spaces are

[2021-04-09 00:16] JandosHk commented on #1127
I found out the issue lies in my code. I was handling OpenID Connect remote failure event, in which I was redirecting to /Account/AccessDenied. Closing this issue.

[2021-04-09 00:16] #1127 closed

[2021-04-09 02:58] jennyf19 commented on #1128
thanks @rhubley will fix.

[2021-04-09 07:19] qetza opened #1131 "Add support for DelegatingHandler"
**Is your feature request related to a problem? Please describe.**
Currently for using Microsoft.Identity.Web when calling APIs you have to use `IDownstreamWebApi` or do it manually through  `ITokenAcquisition`. This can be complicated/time consuming for existing applications.

**Describe the solution you'd like**
It would be a good solution to provide a DelegatingHandler which would use `ITokenAc

[2021-04-09 07:48] jmprieur commented on #1131
The options to call an API would then because:
- If you want to use Microsoft Graph, inject `GraphServiceClient`
- If you want to call a REST API handling Json and don’t have an SDK, use `IDownstreamWebApi`
- If you are using an SDK:
  - If this is an Azure SDK, use the `TokenAcquisitionTokenCredential` which was introduced in 1.9
  - If this is another SDK that takes an Http delegate handler, the

[2021-04-09 10:28] jmprieur commented on #80
![image](https://user-images.githubusercontent.com/13203188/114165522-dff63f00-992c-11eb-8485-c7a94a6b1a7b.png)

![image](https://user-images.githubusercontent.com/13203188/114165665-0f0cb080-992d-11eb-9c3c-d244fc7a6dee.png)

[2021-04-12 16:35] erwinkramer opened #1134 "[Documentation] 1.9.0 is released on NuGet but no documentation"
### Documentation related to component

### Please check all that apply

- [ ] typo
- [x] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in the example
- [ ] needs an example

### Description of the issue
I can pull the 1.9.0 version but I see that there's still issues open on this milestone. Also I don't see any release info in github releases. What's going on?

[2021-04-12 17:12] jennyf19 commented on #1105
Included in [1.9.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.9.0)

[2021-04-12 17:12] #1105 closed

[2021-04-12 17:12] jennyf19 commented on #1097
Included in [1.9.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.9.0)

[2021-04-12 17:12] #1097 closed

[2021-04-12 17:12] jennyf19 commented on #1096
Included in [1.9.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.9.0)

[2021-04-12 17:12] jennyf19 commented on #1086
Included in [1.9.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.9.0)

[2021-04-12 17:12] #1086 closed

[2021-04-12 17:12] jennyf19 commented on #1071
Included in [1.9.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.9.0)

[2021-04-12 17:12] #1071 closed

[2021-04-12 17:12] jennyf19 commented on #1061
Included in [1.9.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.9.0)

[2021-04-12 17:28] jmprieur commented on #1134
@erwinkramer we have done the technical release (releasing to nuget), but have not finished the release process yet.
This is coming

[2021-04-13 00:20] jennyf19 opened #1135 "[Feature Request] Support instance_aware"
Support `instance_aware` (note, only for `/organizations` or `/common`)

For web app, signing-in a user, need to send right param w/auth code to alert authorization server about `instance_aware`, we get back the `cloud_instance_host_name` ..update the authority to use the `cloud_instance_host_name` before using MSAL.NET to go to /token endpoint. The tokens are coming from the right sovereign cloud

[2021-04-13 08:02] Yomodo opened #1136 "User.Identity.Name in v.1.9.0 now shows displayname instead of account name"
**Which version of Microsoft Identity Web are you using?**
Microsoft.Identity.Web 1.9.0

Microsoft.Identity.Web 1.8.2: user.Identity.Name contains my account name (UPN): "account@TENANT.onmicrosoft.com"

Microsoft.Identity.Web 1.9.0: user.Identity.Name contains my account display name.

[2021-04-13 09:20] jmprieur commented on #1136
@Yomodo : do you have repro steps?
- Is it in web apps or web APIs?
- Is it with .NET Core 3.1 or .NET 5.0 or both?

[2021-04-13 09:28] Yomodo commented on #1136
This is a .NET 5 blazor server web app.

[2021-04-13 09:48] jmprieur commented on #1136
@Yomodo : could you please check what happens if you force Microsoft.IdentityModel assemblies to be version="6.8.*" ?

[code]

[2021-04-13 09:56] Yomodo commented on #1136
These are the used package references:

[code]

[2021-04-13 09:58] jmprieur commented on #1136
I understand, @Yomodo
I'm asking if you could add the three package references I provided above to your csproj, in order to see if this still reproes ? I'd like to rule out a change in Microsoft.IdentityModel (as I don't see change in Microsoft.Identity.Web for this)

[2021-04-13 10:33] Yomodo commented on #1136
1. Removed v1.9.0
2. Added the 3 references
3. Added v 1.8.2
4. Adding v1.9.0 now throws these nuget errors:

Microsoft.Identity.Web 1.9.0:
![image](https://user-images.githubusercontent.com/10358198/114538952-7a16f980-9c43-11eb-9846-5a7732cb875b.png)

Microsoft.Identity.Web.UI 1.9.0:
![image](https://user-images.githubusercontent.com/10358198/114538780-4340e380-9c43-11eb-8e03-8a5ffa78481b.png)

[2021-04-13 10:43] jmprieur commented on #1136
Thank you very much @Yomodo for trying this.
@brentschmaltz @mafurman @GeoK could it be that Wilson 8.10 has changed the mapping of the Name claim?

[2021-04-13 16:20] travisneale commented on #1136
I think I'm seeing something similar.  Downgrading System.IdentityModel.Tokens.Jwt to 6.8.0 resolved my problem.

To repo:
From Blazor server template, connect to Azure AD authentication and using AuthorizeRouteView:
In Index.razor add:
`
@code {

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private string currUserID;

    protected over

[2021-04-13 16:26] jennyf19 commented on #1136
thanks for the quick update @travisneale and investigation.
cc: @jmprieur @GeoK

[2021-04-13 17:53] erwinkramer commented on #1134
Thanks

[2021-04-13 17:53] #1134 closed

[2021-04-13 20:18] brentschmaltz commented on #1136
@jennyf19 @travisneale while we look into this, in general the pattern:
`use.FindFirst("<someclaimname>").Value.ToString();`
Can always throw a null exception.

[2021-04-13 20:30] jennyf19 commented on #1136
@travisneale @Yomodo i'm not able to repro it w/a Blazor server web app, which calls Graph. Can you provide repro code?

[2021-04-13 20:37] Yomodo commented on #1136
My issue started with the exact same code as provided by @travisneale.

[2021-04-13 20:41] jmprieur commented on #1136
Identity.Model just added an issue for this regression: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1627

[2021-04-13 21:11] MarcoEnxuto opened #1137 "ReplyForbiddenWithWwwAuthenticateHeaderAsync raises an obsolete error on v1.9.0"
Hi, before opening this as a bug, i would like to ask a question before moving forward.
I updated my WebAPI app to this version, and i can't compile because it raises the above error.

Also, the suggestion is a bit vague. What do you mean to "Use initialize instead"? Do you mean in the Startup class?

I took a look on the changes you made recently on the code, but didn't understand what is the pat

[2021-04-13 21:51] TiagoBrenck commented on #1120
@jrmcdona I dont know how was your chat with Jean-Marc, but your SPA + WebAPI scenario has 2 access tokens in play.
1- Your SPA sends a request to get an access token to consume your api. Lets call it AT_SPA_API.
2- Your api receives AT_SPA_API, validates it but doesnt cache it, and it shouldnt do it because every time SPA calls your api, it must have an access token on the request. Then, your api

[2021-04-13 22:03] travisneale commented on #1136
https://github.com/travisneale/MID-1136

To get this app to work: You will need to add domain name, tenant ID, client ID to the appsettings.json file to point to your AzureAD, which will need the app registration with a Redirect URI pointing to https://localhost:44367/signin-oidc  (or whatever local host port number you set).
It's currently set to Microsoft.Identity.Web 1.8.2 so that it will work.

[2021-04-13 22:04] jrmcdona commented on #1120
@TiagoBrenck is caching causing this problem?  I don't do anything special with cache.

.AddInMemoryTokenCaches();

That is all I do.

[2021-04-13 22:04] jrmcdona commented on #1120
Have no talked to Jean Marc yet FYI.

[2021-04-13 23:08] TiagoBrenck commented on #1120
Sorry, I thought you were trying to re-use the access token that came from SPA. Ignore that.

Maybe they havent updated the samples yet, but there is this new `IDownstreamWebApi`.
Take a look at this controller and see if this new approach by calling `CallWebApiForUserAsync` gives the result you expect:
https://github.com/AzureAD/microsoft-identity-web/blob/master/tests/IntegrationTests/Integratio

[2021-04-14 01:11] jennyf19 commented on #1137
nice catch, sorry about that. we will do a new release tomorrow (4.14) and have this fixed. thanks for letting us know. @MarcoEnxuto

[2021-04-14 01:38] jennyf19 commented on #1136
@travisneale the repro was super helpful. thank you so much. we should have a workaround out in our next release 1.9.1 on 4.14.

[2021-04-14 01:39] #1128 closed

[2021-04-14 01:44] jennyf19 opened #1140 "[Bug] Remove claims name mapping workaround when Wilson releases fix."
See [issue](https://github.com/AzureAD/microsoft-identity-web/issues/1136) for details.

[2021-04-14 02:26] travisneale commented on #1136
Thank you for the quick patch!

[2021-04-14 05:25] rsrinivasanhome opened #1143 "Advantage of Microsoft Identity Web Over JWT Bearer Advantages [Documentation]"
### Documentation related to component
General benefit of Microsoft identity web over normal JWT bearer validation
### Please check all that apply

- [ ] typo
- [x] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in the example
- [ ] needs an example

### Description of the issue
To validate AD and B2C token I can also use the jwtbearer validation.  Example is be

[2021-04-14 06:54] jmprieur commented on #1143
@rsrinivasanhome

What would you want in addition to [Why use Microsoft Identity Web?](https://github.com/AzureAD/microsoft-identity-web/wiki/Microsoft-Identity-Web-basics) and [Microsoft.Identity.Web](https://github.com/AzureAD/microsoft-identity-web/wiki/1.0.0) ?

[2021-04-14 11:01] jmprieur commented on #1137
Thanks again @MarcoEnxuto for the heads-up.
Microsoft.Identity.Web 1.9.1 just released with this fix

[2021-04-14 11:02] #1137 closed

[2021-04-14 11:03] jmprieur commented on #1136
@Yomodo @travisneale we just released Microsoft.Identity.Web 1.9.1 which works around this issue until IdentityModel provides a definitive fix.

[2021-04-14 11:03] #1136 closed

[2021-04-14 11:09] Yomodo commented on #1136
Thanks a lot everyone!

[2021-04-14 16:39] TiagoBrenck commented on #1112
@jmprieur we actually do it for the event `OnRedirectToIdentityProvider` (https://github.com/AzureAD/microsoft-identity-web/blob/master/src/Microsoft.Identity.Web/WebAppExtensions/MicrosoftIdentityWebAppAuthenticationBuilderExtensions.cs#L365)
The above code has a comment explaining why this interceptor is needed. I ve noticed that there is another event called `OnRedirectToIdentityProviderForSign

[2021-04-15 06:47] rsrinivasanhome commented on #1143
Thanks for your reply . The ticket can be closed

On Wed, 14 Apr, 2021, 12:24 PM Jean-Marc Prieur, ***@***.***>
wrote:

[2021-04-15 07:24] #1143 closed

[2021-04-15 07:41] jmprieur commented on #1140
Wilson's fix is merged to Wilson's master: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1629

[2021-04-15 10:14] jmprieur commented on #1112
Good point, @TiagoBrenck !

[2021-04-15 13:22] sven5 commented on #549
I'm still working around this limitation and copying code from the library to resolve it.

[2021-04-15 18:05] NWessel opened #1144 "[Feature Request] DefaultAzureCredential to be included in token acquisition"
**Is your feature request related to a problem? Please describe.**
When wanting to use Azure easy auth, i just figured out i can use 'new DefaultAzureCredential()'
It gets annoying having to implement that everywhere when we have ITokenAcquisition

**Describe the solution you'd like**
Perhaps in the startup, we currently have the possibility to do the following.
services.AddMicrosoftIdentityWebApi

[2021-04-15 18:13] jmprieur commented on #1144
@NWessel :
- Microsoft.Identity.Web already leverages DefaultAzureCredentials to get certificates
- if you want a `TokenCredential`, it also exposes a `TokenAcquisitionTokenCredential`.

Does it work for you? or otherwise what is the scenario that this does not cover?

[2021-04-15 18:28] jmprieur commented on #1140
@jennyf19 : proposing it for 1.10, as Wilson 6.10.2 has been published to nuget.org.

[2021-04-15 18:47] NWessel commented on #1144
@jmprieur
Perhaps it is covered then.

But lets say i have this
![image](https://user-images.githubusercontent.com/9061380/114921966-69c17300-9e2b-11eb-9364-f4f930c97598.png)

Would that run in context of my VisualStudio user when doing local development?
That is what i want i guess. So the aquisition is the same way if im on my local dev machine or running azure app service with easyauth.
I would

[2021-04-15 20:34] jmprieur commented on #549
@sven5 : I've started a branch to achieve this work: https://github.com/AzureAD/microsoft-identity-web/tree/jmprieur/multipleSchemeInvestigation in case this can help.
It's high on our list, but we had even more urgent features to tackle first. This should come in the next release.

[2021-04-15 21:08] jmprieur commented on #1144
@NWessel:
- if you want to use the same user as you use for Visual Studio, the best is to [enable system web browser](https://docs.microsoft.com/visualstudio/ide/work-with-multi-factor-authentication?view=vs-2019#enabling-system-web-browser) in the Visual Studio settings.
- if you were to use DefaultAzureCredential, you would only be able to do so if you request the same scopes as what Visual Stud

[2021-04-16 00:30] yongkeecho opened #1145 "Ocelot callback"
Our company uses Ocelot for reverse proxy. My app authentication with AzureAD works perfect in localhost. When it's deployed and routed by Ocelot, it doesn't.
The main issue is the callback url's **redirect_uri** parameter value (http://myapp.local/signin-oidc) is pre-Ocelot routed and doesn't match post-Ocelot routed uri (https://myapp.mycompany.com/signin-oidc) registered in the Azure Portal.

h

[2021-04-16 06:37] NWessel commented on #1144
This seems odd to me, I might be missing something.

I will try to paint the complete picture.
So my goal is to make authentication require as little code as possible. Which i thought was what i did with EasyAuth and DefaultAzureCredential.

What i'm making is a asp.net core api, where im using the
AddMicrosoftIdentityWebApiAuthentication
.EnableTokenAc.....
.AddMicrosoftGraph

And then on the sam

[2021-04-16 06:41] sven5 commented on #549
@jmprieur  Thanks. Just one note: Pls keep in mind to also modify the `AccountController` so that it can deal with multiple `MicrosoftIdentityOptions`. I struggled with this yesterday.
I'm using `IOptionsSnapshot<MicrosoftIdentityOptions>` and named the instances according to the scheme.
Example:
[code]

[2021-04-16 08:40] jmprieur commented on #1145
@yongkeecho : would this help? https://github.com/AzureAD/microsoft-identity-web/wiki/Deploying-Web-apps-to-App-services-as-Linux-containers#how-to-fix-it ?

[2021-04-16 10:37] jmprieur commented on #549
Thanks for the heads-up, @sven5 !

[2021-04-16 15:39] jennyf19 commented on #1136
@travisneale @Yomodo Are you able to try out this [branch](https://github.com/AzureAD/microsoft-identity-web/tree/jennyf/revertWilson) which removes the workaround we had in place? @brentschmaltz made the fix in Wilson, so I've removed the workaround in MS Id Web and we automatically pick up the latest wilson build (6.10.2 has the fix in this case).

I tested w/the sample @travisneale provided and

[2021-04-16 16:09] jennyf19 opened #1146 "[Feature Request] Providing routing information to CCS"
see [msal issue](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2525) for details.

[2021-04-16 20:57] Yomodo commented on #1136
Yes, all is fine now. Thanks again!

[2021-04-17 09:52] tim-biasoft opened #1148 "[Bug] in msidentity-app-sync.exe/Microsoft.Identity.Web.ProjectTemplates"
**Which version of Microsoft Identity Web are you using?**
msidentity-app-sync.exe 1.0.0
Microsoft.Identity.Web.ProjectTemplates 1.8.2 (also tried 1.9.1)

**Where is the issue?**
msidentity-app-sync.exe / webapp2 template

**Is this a new or an existing app?**
new

**Repro**

[code]

**Expected behavior**
App scaffolded and configured

**Actual behavior**
Error encountered with sign-in. See error

[2021-04-17 19:40] jmprieur commented on #1148
@tim-biasoft:
- you want to make sure you're signed-in in Visual Studio or Azure CLI with you home tenant account. You might need to re-enter your credentials in Visual Studio?
- otherwise, if you want to use a specific tenant, use --tenant-id

[2021-04-17 19:56] tim-biasoft commented on #1148
@jmprieur I was signed in with Visual Studio and Azure CLI. It worked straight away after I removed Domain from appsettings.json which kind of rules out any authentication issue. Running these two commands back to back:
[code]
Should work, right?

[2021-04-18 12:34] yongkeecho commented on #1145
The forwarded headers didn't change the redirect_uri value, which resulted in forwarding to local address instead of proxy address. The issue seems not fixed according to a posting at https://docs.microsoft.com/en-us/answers/questions/144558/azure-application-proxy-not-passing-x-forwarded-ho.html

[2021-04-18 20:37] MarcAnnous commented on #1124
@jmprieur @hajekj does that mean that we cannot protect .NET 5.0 Azure Functions with HTTP trigger before at least November? Do you suggest any workaround?
Thanks,
Marc

[2021-04-19 05:37] hajekj commented on #1124
@MarcAnnous you can protect Functions in .NET 5.0 with Bearer tokens, currently there are two ways (none of them is Microsoft.Identity.Web):
* Use [EasyAuth](https://docs.microsoft.com/en-us/azure/app-service/overview-authentication-authorization), [example](https://markheath.net/post/secure-azure-functions-app-easy-auth-adb2c) (this is indeed easy and works out of box by just enabling it)
* Imple

[2021-04-19 06:20] damienbod commented on #1124
@hajekj @MarcAnnous I extended the solution from Christos Matskas and Boris Wilhelms and added some extra validation which should not be skipped and can be used with any DI and returns the claims.

https://damienbod.com/2020/09/24/securing-azure-functions-using-azure-ad-jwt-bearer-token-authentication-for-user-access-tokens/

I think  JWT Bearer auth should be out-of-the-box for any Identity provi

[2021-04-19 07:04] jmprieur commented on #1118
@jrmcdona

1. I would replace `services.AddMicrosoftIdentityWebApiAuthentication(Configuration, "AzureAd")` by

[code]

   to be sure you are using the same authentication scheme.

2. you don't need the ` services.AddOptions<JwtBearerOptions>(jwtBearerScheme)
                .Configure<IServiceProvider, IOptionsMonitor<MicrosoftIdentityOptions>>((options, serviceProvider, microsoftIdentityOptionsM

[2021-04-19 14:41] jmprieur commented on #1148
@tim-biasoft
thanks very much for the heads-up. I've proposed a PR for this scenario.

[2021-04-19 23:25] jennyf19 commented on #1135
not applicable for cca right now. closing.

[2021-04-19 23:25] #1135 closed

[2021-04-20 07:40] tim-biasoft commented on #1148
@jmprieur Glad I could help in some way, I think msidentity-app-sync and the templates are a very important and useful feature 👍

[2021-04-21 16:42] jennyf19 commented on #955
@jmprieur we need to test the confidential client options, i had issues w/the unit tests and had to add `Instance` and `clientSecret`. just adding this as a reminder.

[2021-04-22 07:33] dilin-MS opened #1153 "[Bug] RequiredScopes attribute and VerifyUserHasAnyAcceptedScope extension method will throw exception and cause HttpRequestException "Error while copying content to a stream.""
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [x] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache seria

[2021-04-22 08:10] #1074 closed

[2021-04-22 08:10] jmprieur commented on #1074
Was done in 1.9.1

[2021-04-22 08:11] jmprieur commented on #470
Bloked until MSAL.NET 4.30 releases

[2021-04-22 08:12] jmprieur commented on #1148
Still need testing (automatically closed by GitHub)

[2021-04-22 13:23] hajekj commented on #1124
While this is not directly related to Microsoft.Identity.Web, I did a sample on the out-of-process model with token validation (thanks @damienbod for the head start!) and calls to Microsoft Graph and token exchange via MSAL.

Blog post: https://hajekj.net/2022/04/22/azure-functions-out-of-process-and-authentication-with-azure-ad/
Sample code: https://github.com/hajekj/azure-functions-dotnet-worker

[2021-04-22 15:43] leoogh opened #1154 "[Bug] /Account/SignOut triggers a redirect loop with Azure B2C"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

Microsoft Identity Web.UI 1.9.1

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downst

[2021-04-22 19:46] Ricky1997 opened #1155 "args.suggestedcachekey null for public client"
I want to use distributed token caching ( like SQL ) for public client apps.  I have tried the identity.web msal tokencacheproviders but they do not work as with a public client app args.suggestedcachekey value is null.

Is there a way I can use the msalDistributedTokenCacheAdapter with app.userTokenCache of public client ?

At present I receive the error like "Key is null".

[2021-04-22 21:43] jmprieur commented on #1155
@Ricky1997 thanks for raising this.
This is actually an MSAL.NET bug.
cc: @bgavrilMS as we were discussing this yesterday (another customer asked for the same thing)

What is your scenario?
which flow do you use? why do you want a distributed cache in a public client application?

[2021-04-22 21:54] Ricky1997 commented on #1155
Thanks for your reply @jmprieur

I want to acquire tokens using a public client id using username password flow. Now at the same time I want to cache the user Token cache ( access token, refresh token ) in distributed DB (sql, redis ) and use this db later on to be able to get tokens silently.
Will this be possible to do at present ?

[2021-04-23 00:01] jrmcdona opened #1156 "401 response despite what looks like a validated token with user in the claim"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
1.9.1

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [x ] Protected web APIs (validating tokens)
    * [ x] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cac

[2021-04-23 08:06] jmprieur commented on #1156
@jrmcdona : why are you re-doing what  services.AddMicrosoftIdentityWebApiAuthentication(Configuration, "AzureAd") is doing? You shouldn't need to write any of that.? I think that you probably override (instead of chaining) some of the events that Microsoft.Identity.Web needs.

A few remarks:

For the token decrypt certificate, you can express it in the config file (not sure if you use CurrentUser

[2021-04-23 09:46] jmprieur commented on #1155
@Ricky1997 do you mind sharing a diagram of your architecture?
with a common terminology for apps: https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-flows-app-scenarios

[2021-04-23 16:18] jrmcdona commented on #1156
@jmprieur thanks, still getting 401.   I have reduced my code down to just this and moved the TokenDescryption to the config.

services.AddMicrosoftIdentityWebApiAuthentication(Configuration, "AzureAd");

How can I catch the log for why it is a 401?

[2021-04-23 16:51] jmprieur commented on #1156
@jrmcdona. you can enable logging, with log level "Information" ?
https://github.com/AzureAD/microsoft-identity-web/wiki/Logging

[2021-04-23 19:10] krispenner opened #1160 "Is Azure App Service ARR Affinity Required to be Enabled?"
For my web app, the redirect from Azure AD back to the web app after successful sign-in requires that I enable ARR Affinity on the web app if it is scaled out to more than one instance, otherwise an infinite redirect loop between my web app and Azure AD ensues. I don't believe this should be a requirement so I'd like to understand what I have misconfigured. There should be no problem with a differ

[2021-04-23 22:12] krispenner opened #1158 "How to use OpenIdConnectMiddlewareDiagnostics"
### Documentation Related To Component:
Logging of Microsoft.Identity.Web

### Please check those that apply

- [ ] typo
- [x] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in example
- [ ] needs example

### Description Of The Issue
I can't find anything on how to use OpenIdConnectMiddlewareDiagnostics.

Identity is all setup and works but need to debug some i

[2021-04-23 23:29] jennyf19 commented on #1158
@krispenner Here's documentation on how [regular logging](https://github.com/AzureAD/microsoft-identity-web/wiki/Logging#logging) works and for the OpenIdConnectMiddlewareDiagnostic logs, you should just need this line:
`services.AddMicrosoftIdentityWebAppAuthentication(Configuration, subscribeToOpenIdConnectMiddlewareDiagnosticsEvents: true);`

[2021-04-24 17:36] jmprieur commented on #1160
@krispenner transferred this issue to Microsoft.Identity.web.
I think that you'll find answers to your question in this article: https://github.com/AzureAD/microsoft-identity-web/wiki/Deploying-Web-apps-to-App-services-as-Linux-containers

[2021-04-24 17:57] krispenner commented on #1160
Hi @jmprieur thanks for transferring the issue to the appropriate team. Your suggested answer however is not related to my issue of session affinity. It relates to proxies and I already have that part working on my Linux containers.

[2021-04-25 10:05] jmprieur commented on #1160
@krispenner I though this was related to load balancers? You could ask the ASP.NET Core team? I don't think that this is related to Microsoft.Identity.Web.

@navyasric : do you have an idea?

[2021-04-26 15:22] janschoelchAtOK commented on #852
Is there any update on this? We currently have a scenario where a protected web API calls a downstream web API on behalf of a user that acquired a token via MSAL + ADFS2019. So signing-in users is not enough. Migrating to AzureAD is unfortunately not an option.

[2021-04-27 04:24] krispenner commented on #1158
Thank you @jennyf19. Are there any examples of what to expect to see in the logs? Because I have exactly that but I never see much logged from `Microsoft.Identity.Web`. I've set the log level to `Trace` for my ASP.NET Core 3.1 web app and only when the user is redirected to sign-in do I see 4 verbose messages about client ID and redirect URI. Otherwise I see no logging at all, like for any user th

[2021-04-27 04:48] krispenner commented on #1158
@jennyf19 Actually, when deployed to an Azure App Service much more is being logged than compared to running on my localhost for testing. Not sure why... but it was within Azure that I need the logging enabled to troubleshoot and it's logging more there. Thanks for helping me on this!

[2021-04-27 04:48] #1158 closed

[2021-04-27 05:03] krispenner commented on #1160
@jmprieur So after enabling verbose logging for `Microsoft.Identity.Web` I see the below error as the redirects ping back and forth between Azure AD and two backend App Service instances (as I have my App Service Plan scaled to 2 instances for testing this).

This causes a failure to authorize and a redirect back to Azure AD which re-authenticates the user and redirects them back to my app, this t

[2021-04-27 06:04] krispenner commented on #1160
I found [this in MS docs](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc#send-the-sign-in-request) regarding the state parameter in the Open ID Connect message.
![image](https://user-images.githubusercontent.com/8837910/116192161-51324200-a6e2-11eb-85dd-3a2d97e30320.png)

I also found this [article](https://blogs.aaddevsup.xyz/2019/11/state-parameter-in-mvc-appli

[2021-04-27 06:53] krispenner commented on #1160
So it seems that the ASP .NET Core data protection (DP) keys are not automatically sync'd across backend App Service instances of the same app. I'm sure this is meant to be automatic, but maybe not for Linux based App Services (containers) but only for Windows based web apps. Anyways, I have added my own encryption key to be shared across instances and it's hosted in blob storage and secured via k

[2021-04-27 06:53] #1160 closed

[2021-04-27 07:40] jmprieur commented on #1160
Thanks very much @krispenner for these detailed analysis and explanations.
I've added the explanations to the wiki: https://github.com/AzureAD/microsoft-identity-web/wiki/Deploying-web-apps-to-App-Services-as-Linux-containers#issue-with-scaled-out-web-apps-in-app-services

[2021-04-27 20:18] B742 opened #1163 "[Bug] IsAppServicesAadAuthenticationEnabled not working with new App Service Authentication flow"
**Which version of Microsoft Identity Web are you using?**
   Microsoft Identity Web 1.9.1 with ASP.NET 5.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization

[2021-04-28 00:43] mrochon opened #1164 "[Bug] Single signout invoked passed from B2C does not reset cookies of MVC apps"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
1.9.1

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache

[2021-04-28 11:06] jmprieur commented on #1164
Thanks @mrochon for raising an issue with repro steps (rather than proceeding by emails)
I believe you wrote that the MVC app was just created by `dotnet new mvc --auth IndividualB2C` ?

[2021-04-28 11:06] jmprieur commented on #1164
@jennyf19 this might be related to the auth schemes.

[2021-04-28 11:16] jmprieur commented on #1163
@jennyf19 : we need to do insensitive comparisons of the environment variables ... apparently Easy auth changed the values;

Thanks @navyasric for looking at this issue.

[2021-04-28 12:58] mrochon commented on #1164
Yes, that’s correct.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Jean-Marc ***@***.***>
Sent: Wednesday, April 28, 2021 4:06 AM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [AzureAD/microsoft-identity-web] [Bug] Single signout invoked from B2C does not reset cookies of MVC apps (#1164)

Thanks @mrochon<https://github.com/mrochon> for raisin

[2021-04-28 21:54] caseyzhang123 opened #1165 "[Feature Request] Add actions for OnCacheHit, OnCacheMiss, and OnCacheError in MsalDistributedTokenCacheAdapter"
**Is your feature request related to a problem? Please describe.**
In MsalDistributedTokenCacheAdapter, we would like to specify some custom logs and metrics surrounding the request to Redis.

**Describe the solution you'd like**
Add four action fields into MsalDistributedTokenCacheAdapterOptions for OnCacheHit, OnCacheMiss, OnCacheSuccess, and OnCacheError. On IDistributedCache get operations, ca

[2021-04-28 23:04] iyerusad commented on #778
Seeing similar behavior in SPA app that is using iFrame to refresh authentication token. AAD login page seems to want to bust out and redirect the main app window in some browsers.

Implementation
---
[code]

Behavior:
---
**Chrome 90:** Properly stays within iframe, successfully refreshing token
**Firefox 87:** AAD login page busts out of iFrame, redirecting parent window.
**Safari 14.1:** Break/

[2021-04-29 08:17] jmprieur commented on #1165
Thanks @caseyzhang123 for this suggestion.
Would you be open to provide a PR ?

[2021-04-29 08:37] kalyankrishna1 opened #1166 "Add support in the library to raise claims challenges for CA Auth context"
To support CAE and CA Auth Context challenges, we need the library to support the following OOB.
1.	The functionality in [ExtractAuthenticationHeader.cs](https://github.com/Azure-Samples/ms-identity-ca-auth-context/blob/main/TodoListClient/Infrastructure/ExtractAuthenticationHeader.cs). Ideally this should be evaluated in the WebApiMsalUiRequiredException itself (or the better equivalent)
2.	The c

[2021-04-29 08:42] Gtyrande opened #1167 "[Bug] "The issuer '(null)' is invalid" error when I request my API with bearer token"
**Which Version of MSAL are you using ?**
msal.net 1.9.0

**Platform**
asp.net core 5.0

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [x] Authorization code
    * [ ] OBO
* Daemon App
    * [ ] Service to Service calls

Other? - please descr

[2021-04-29 11:37] bgavrilMS commented on #1167
@Gtyrande can you try with `https://login.partner.microsoftonline.cn/` instead?

[2021-04-29 11:39] bgavrilMS commented on #1167
@jmprieur - the aliases are not in the OIDC metadata, they are in the instance metadata document https://login.microsoftonline.com/common/discovery/instance?authorization_endpoint=https://login.chinacloudapi.cn/common/oauth2/v2.0/authorize&api-version=1.1

The `https://login.chinacloudapi.cn/` alias is no longer the preffered network alias, but it's still an alias.

[2021-04-29 12:41] Gtyrande commented on #1167
I tried `sts.chinadloudapi.cn` and `login.partner.microsoftonline.cn` at both frontend acquire token process and backend validate token process, result is same as I posted.

I never use `sts.chinacloud.cn` before in my code, but in access token the issuer is always `sts.chinacloud.cn`. Maybe there is something wrong with msal.js 2.0?

[2021-04-29 12:48] Gtyrande commented on #1167
I tried `https://sts.chinacloudapi.cn/{tenantid}/` but nothing changed.

I'm just to write a demo for our vendor to explain the process of Azure AD. Their tech-stack is Maven/Java, so it's not an urgent problem if msal.java is good.

I will tell them to try msal.java. If it's not work, they can customize a validator in middleware.

[2021-04-29 13:36] bgavrilMS commented on #1167
@Gtyrande - this seems to be an actual server bug. The token is marked as having been issued by `sts.chinacloud.cn\<tenant>`, however this is not cloud alias is not known. AAD publishes the aliases [here](https://login.microsoftonline.com/common/discovery/instance?authorization_endpoint=https://login.chinacloudapi.cn/common/oauth2/v2.0/authorize&api-version=1.1) and the token validator has no way

[2021-04-29 13:45] Gtyrande commented on #1167
@bgavrilMS
1. I tried to set authority as `sts.chinacloud.cn` but response shows `The issuer '(null)' is invalid` also. So I prefer to think of it as a problem in msal.net.
2. Actually I'm not a Microsoft employee. Ha ha.

[2021-04-29 16:22] mrochon commented on #1164
Note that the middleware **successfully** deletes the auth cookie in the front-channel page. Why the cookie is then resurrected on a request from another browser page is for me the mystery (iframe?). Wouldn't an **authentication scheme issue** leave cookies unaffected?

[2021-04-29 16:48] jennyf19 commented on #955
TODO:
- [ ] Create a wiki page
- [ ] We know PostConfigure() doesn't work - work in progress
- [ ] Check that the regular scenarios still work
- [ ] Run a -preview build

[2021-04-30 01:58] iyerusad commented on #778
Troubleshooting further.

Tweaking implementation:
--
- adding sandbox with everything but `allow-top-navigation`
- add try/catch to attempt to handle iframe errors
[code]

Results:
--
try/catch was not able to catch the Unsafe Javascript error with the iframe. Didn't think it would but if someone knows how to do it would be helpful for handling the iframe errors (now and in the future).

**Chrome

[2021-04-30 04:12] iyerusad commented on #778
**Ugly Workaround:**
--
1. Ensure app state is stored. Add mechanism to reload/rehydrate app state (e.g querystring `restoreState=true`)
2. Check browser:
    - If Chromium based, used hidden iframe method (works silently).
    - If not, call AAD login page with redirect that should redirect back to app on login
`/.auth/login/aad?post_login_redirect_url=/index.html`

3. App should now successfully

[2021-04-30 16:05] vvolodin opened #1170 "[Bug] EnableTokenAcquisitionToCallDownstreamApi overrides response_type preventing use of hybrid flow"
**Which version of Microsoft Identity Web are you using?**
1.9.1

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     * [ ] Sess

[2021-04-30 17:58] jmprieur commented on #1170
Thanks @vvolodin. We'll look at this:

As a workaround, I think you can override it by adding (after this code):

[code]

[2021-04-30 18:03] vvolodin commented on #1170
Thanks a lot! .NET Core startup class things are still new to me, so I had no idea how to override this behavior.

[2021-04-30 18:07] jmprieur commented on #1170
oh yes, @vvolodin : there are so many ways :)

[2021-04-30 18:39] dnl-q opened #1171 "[Feature Request] For .Net Framework 4.6.2, can we have lower version (v2.*) of Microsoft.Extensions.Options dependency?"
**Is your feature request related to a problem? Please describe.**
Version 1.9.1 has dependencies .NETFramwork, Version=4.62 Microsoft.Extensions.Options (>=5.0.0)

**Describe the solution you'd like**
See whether it can dependency on lower version of Microsoft.Extensions.Options, for instance 2.*

**Additional context**
We are using some nuget package which has dependency on lower version of Micr

[2021-05-01 04:37] jennyf19 commented on #1171
@dnl-q I tried referencing just v2.* for net462, but we lose too many features, such as EventId, ILogger, and other Logging features.  We won't be able to move off of the current package dependency.

[2021-05-01 11:51] jmprieur commented on #955
For Microsoft Graph, I wonder if we need to add a method so that controller actions which are called for a specific auth scheme can pass it, in to the Graph SDK:

`BaseRequestExtensions.WithAuthenticationScheme<T>(this T baseRequest, string authenticationScheme)`

This would have an impact in the Microsoft.Identity.Web.MicrosoftGraph assembly on:
- TokenAcquisitionAuthenticationProviderOption (new

[2021-05-03 12:46] jsquire opened #1176 "[Documentation] AppServicesAuthenticationInformation.IsAppServicesAadAuthenticationEnabled does not get set for the new authentication experience"
# Issue Transfer

This issue was transferred from the Azure SDK repository, [#20801](https://github.com/Azure/azure-sdk-for-net/issues/20801).

## Please be aware that @falconkirtaran is the author of this issue and mention them in any responses.

### Description
When enabling the classic authentication experience in Azure App Service, AppServicesAuthenticationInformation.IsAppServicesAadAuthentic

[2021-05-03 12:51] jmprieur commented on #1176
Duplicate of https://github.com/AzureAD/microsoft-identity-web/issues/1163 which will be fixed in Microsoft.Identity.Web 1.9.2

[2021-05-03 15:34] jennyf19 commented on #1171
@dnl-q mentioned they'll be moving to net core 3.1

[2021-05-03 15:34] #1171 closed

[2021-05-03 17:07] hpsin commented on #778
Update here - this is an unfixed bug in the server side, that is still being worked on.  All apologies, and we'll update here when it's fixed.

[2021-05-04 01:22] falconkirtaran commented on #1163
For what it's worth, in my completely randomly drawn Azure App Service, after migrating from classic authentication, the value of the WEBSITE_AUTH_DEFAULT_PROVIDER environment variable was neither "AzureActiveDirectory" nor "azureactivedirectory", but rather, "aad".

Pending the update, I was able to crowbar it into correct functioning by adding this to the top of ConfigureServices, which I'm grea

[2021-05-04 04:24] jennyf19 commented on #549
@Kev8144 @sven5 @UM001 we have a preview package you can try, if you'd like to give us early feedback. Have not yet had time to update the wiki, but i'm sure you'll figure it out. If you're interested, please send us an email: jeferrie@microsoft.com & jmprieur@microsoft.com

Thanks

[2021-05-04 08:11] jmprieur commented on #1163
@falconkirtaran : this is even worse than I thought.
So how to know which value is used for the environment variable ? I'm not a big fan of having a setting, for something that you'd expect would just work.

cc: @jennyf19 @navyasric @bgavrilMS

[2021-05-04 15:30] kalyankrishna1 opened #1178 "Add support to pull secrets from KeyVault using managed identities easier"
similar to support available for certificates as detailed here , [Using certificates with Microsoft\.Identity\.Web](https://github.com/AzureAD/microsoft-identity-web/wiki/Using-certificates), it'd be good if the same support was available for secrets as well.

An example follows:

[code]

Secrets , along with certificates are the two available forms of credentials for an app registered in azure AD

[2021-05-04 15:49] jmprieur commented on #1178
I propose to take this one with https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2596.

[2021-05-04 16:03] jmprieur commented on #1178
@jennyf19
This would actually simplify the tests of the devapps, samples, etc ...

[2021-05-04 17:26] jennyf19 commented on #1176
Included in [1.9.2 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.9.2)

[2021-05-04 17:26] #1176 closed

[2021-05-04 17:27] jennyf19 commented on #1140
Included in [1.9.2 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.9.2)

[2021-05-04 17:27] #1140 closed

[2021-05-04 17:27] jennyf19 commented on #1148
Included in [1.9.2 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.9.2)

[2021-05-04 17:27] #1148 closed

[2021-05-04 17:27] jennyf19 commented on #470
Included in [1.9.2 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.9.2)

[2021-05-04 17:27] #470 closed

[2021-05-04 17:27] jennyf19 commented on #1163
original issue Included in [1.9.2 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.9.2) -> do we make a new issue? not really an id web issue, right?

[2021-05-05 10:25] jmprieur commented on #1163
We need to have a look at the EasyAuth experience.
I'd think we'd want to look for "aad" as well :(

[2021-05-05 15:00] jmprieur commented on #956
Things to test:

Certificates pattern in ClientCertificates | In KeyVault | in app registration  | Outcome
------------------------------------------- | ------------ | --------------------- | ---------------
1 valid certificate                                     |    Yes          |   Yes                         |  Works
1 valid certificate                                     |    No         |   Y

[2021-05-05 15:37] jennyf19 commented on #971
@wmmihaa we have a preview package w/multiple auth scheme support. If you'd like to try it out, please send me an email: jeferrie@microsoft.com and I will send you the nuget package. we are still testing, so it's not on nuget yet.

[2021-05-06 15:17] tedvanderveen commented on #470
Hi @jennyf19 I'm a bit stuck. I try to use PKCE auth against B2C from our ASP.Net web application.
I have setup our B2C app in Azure so it accepts PKCE. But I have a hard time getting this to work. I get this error:
`IDX21336: Both 'id_token' and 'access_token' should be present in OpenIdConnectProtocolValidationContext.ProtocolMessage received from Token Endpoint. Cannot process the message.`

I

[2021-05-06 15:19] jmprieur commented on #470
@tedvanderveen you should use a Web platform, not a Single Page application (which is only for MSAL.js 2.x+)

[2021-05-06 15:27] tedvanderveen commented on #470
@jmprieur @jennyf19 for PKCE flows in B2C, you need a "Single Page application" platform, although the name is a bit confusing here. As stated in the initial post of this Issue, PKCE can/should now also be used by confidential web applications. So I assume selecting "Single Page application" is what we need to get Auth code + PKCE in B2C play nice with the new bits introduced with latest version (