[2021-08-28 05:36] justin0522 commented on #1055
you are right , i should set different scheme on the controller.

[2021-08-28 05:36] #1055 closed

[2021-08-28 19:34] abatishchev commented on #1412
Indeed I didn't. Now it makes even more sense. Doesn't work for me still, but I'll figure this out. Thanks!

[2021-08-29 00:25] jennyf19 commented on #1372
@MaxxDelusional @paolovalladolid @Trancesphere the fix is in master if you want to try it out. will be in next release, possibly next week or week after (1st/2nd week of sept).

[2021-08-29 01:42] jmprieur commented on #1412
@abatishchev : I proposed a pr to fix the doc article:
https://github.com/MicrosoftDocs/azure-docs-pr/pull/170701

[2021-08-29 02:45] jmprieur opened #1414 "[Feature Request] Improve the experience with long running process in web APIs leveraging MSAL.NET new API"
**Is your feature request related to a problem? Please describe.**
- Today, the developer experience with long running process is described in  https://github.com/AzureAD/microsoft-identity-web/wiki/get-token-in-event-handler
- MSAL introduces new public APIs to support this scenario better. See issue https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2733 and PR  https:

[2021-08-30 02:18] #1412 closed

[2021-08-30 08:03] sander1095 opened #1415 "Issues with a BFF (Web.UI requirement and Safari SameSite Lax loop)"
Hello.

I have 2 issues/questions when using this Library. I posted them on SO but I'd like to link them here, too.
Could anyone take a look :)?

https://stackoverflow.com/questions/68956462/do-i-need-microsoft-identity-web-ui-when-using-a-bff-to-log-out
https://stackoverflow.com/questions/68956582/safari-infinite-loop-when-using-samesitelax-with-microsoft-identity-web-web-app

[2021-08-30 12:54] LaurensAdema commented on #1404
We use these app tokens only in the backed of our MVC application, so they don't leave the server. There are certain scenarios where we don't know what tenant is required just yet, but requests from the backend of our MVC applications to our API are required. Is using the tenant id of the application (from the app registration) to get a token better in this case? And use the token scoped for this

[2021-08-30 13:46] throck95 commented on #1324
@jmprieur Please let me know if the above information is not enough or you need additional details.

[2021-08-30 16:43] aersamkull commented on #1397
Thanks for the explanation, makes sense to me :)

Is there any documentation on how to use this library without id token?

[2021-08-30 18:02] jennyf19 commented on #1348
@tsavela can you provide a link to your tests?

[2021-08-31 01:19] RhomGit commented on #1405
Update: after looking at jwt.ms I notice that MSAL isn't returning the scopes in the token.
I have no idea why this is.

I have raised a ticket here: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2856

[2021-08-31 01:19] #1405 closed

[2021-08-31 10:59] tsavela commented on #1348
Sure @jennyf19, here's a minimal repro: https://github.com/tsavela/microsoft-identity-web-bug-repro

[2021-08-31 15:16] LaurensAdema opened #1417 "[Bug] Principal null in OnAuthorizationCodeReceived context"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.16.0

**Where is the issue?**
* Web app
    * [X] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory

[2021-08-31 18:17] jmprieur commented on #1417
Thanks for the heads-up, @LaurensAdema
I suspect we introduced a regression with the support of [multiple authentication schemes](https://github.com/AzureAD/microsoft-identity-web/wiki/multiple-authentication-schemes). we've tried to ensure the backward compatibility but we might miss cases

as a workaround, can you try?

[code]

[code]

[2021-08-31 19:00] LaurensAdema commented on #1417
Thanks for the response! Unfortunately both options yield the same result.

[2021-08-31 19:05] jmprieur commented on #1417
i would have thought that the second was working for sure.
We'll investigate.

[2021-08-31 20:13] jennyf19 opened #1419 "[Bug] System.ArgumentOutOfRangeException: The relative expiration value must be positive"
moving from Id web 1.15 to 1.16, a few reports of the SuggestedCacheExpiry form MSAL being a negative value with the OBO token when using the InMemory or DistributedMemory cache.
[code]

handle a negative expiry value in id web.

[2021-08-31 20:15] sander1095 opened #1420 "[Bug]"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

Lateat version

**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* T

[2021-08-31 20:16] sander1095 commented on #1420
It's currently late. If you cannot reproduce or want more info, I could post a gif of my findings and try to create a reproducable repo

[2021-09-01 04:31] jennyf19 commented on #1348
@tsavela The mergeOptions are triggered from the JwtBearerOptions, usually from the `Authorize` attribute in a controller.
you can add the following:
[code]

and this `options.Get(JwtBearerDefaults.AuthenticationScheme)` will trigger the mergeOptions, so the instance is not null. we'll need to see how to handle this in Id Web, but this should unblock you for testing.

[2021-09-01 15:46] jennyf19 opened #1421 "[Feature Request] Surface options to configure InMemory cache in .NET framework"
In memory token cache can be configured: app.AddInMemoryCache(InMemoryTokenCacheOptions = null)

To limit the size and cache eviction

[2021-09-01 21:27] mrochon opened #1422 "Both 'id_token' and 'access_token' should be present error should not be raised"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
Microsoft Identity Web 1.1.0

**Where is the issue?**
* Web app
    * [ X] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstrea

[2021-09-01 23:00] jjcv2304 opened #1423 "[Bug]"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.16.0

**Where is the issue?**
* Web app
    * [X] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory

[2021-09-02 02:22] jmprieur commented on #1423
@jjcv2304 did you use 2 buttons? one to sign-in to AAD, and one to sign-in to B2C?
The error you get comes from AAD (AADSTS). Which authority did you use?
Did you see this sample? https://github.com/AzureAD/microsoft-identity-web/tree/master/tests/MultipleAuthSchemes

[2021-09-02 02:29] jmprieur commented on #1422
@mrochon this exception is not raised by Microsoft.identity.web but by Microsoft.IdentityModel
Please raise your issue in https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues

[2021-09-02 13:52] sheetalchhabra opened #1424 "[Bug] Thread block issue in Assembly Microsoft.Identity.Web, Version=1.14.0.0"
**Which version of Microsoft Identity Web are you using?**
Version=1.14.0.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [**] In-memory caches

[2021-09-02 15:23] jennyf19 commented on #1424
Does this repro with the latest version? Please use 1.16 and let us know if the issue continues. thanks

[2021-09-02 16:14] jjcv2304 commented on #1423
Thanks @jmprieur.

No, I didn't implement 2 buttons. I didn't got that part from reading the Readme.

I tried the sample application you mention, but the first thing I saw when launching the app, is a logging page and if I use an AAD account then it worked but if I used a B2C account it didn't...

After your comment I took a closer look at the sample app and understood a bit better how it works. N

[2021-09-05 19:14] craigomatic opened #1428 "[Bug] Newly templated function does not find correct Microsoft.IdentityModel.Tokens.dll"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.16.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory

[2021-09-06 16:45] Contengo commented on #549
Is there a sample anywhere of how this can be used in a Blazor Server app? I've configured the Startup.cs as shown above, but am getting "No authenticationScheme was specified, and there was no DefaultChallengeScheme found". How should the preferred authenticationScheme be specified ?

[2021-09-06 18:54] sven5 commented on #549
@Contengo  Blazor Server is the same as plain ASP.NET Core and Razor pages. Just have a look at my sample above. I have it working wit a Blazor Server app.

[2021-09-06 21:09] Contengo commented on #549
Thanks for the reply - not sure if it's the reason it's not working for me but my use case is slightly different: I'm trying to enable it to call a downstream API. The scenario is a Blazor App which calls an ASP.NET Core API - I'm trying to enable them to be accessed from both B2C and B2B logins. Trying to figure out the best architecture for that to save implementing as two instances of each one.

[2021-09-06 23:19] jennyf19 commented on #1348
Included in [1.16.1 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.16.1)

[2021-09-06 23:19] #1348 closed

[2021-09-06 23:19] jennyf19 commented on #1372
Included in [1.16.1 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.16.1)

[2021-09-06 23:19] #1372 closed

[2021-09-06 23:20] jennyf19 commented on #1419
Included in [1.16.1 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.16.1)

[2021-09-06 23:20] #1419 closed

[2021-09-07 02:08] jmprieur commented on #1333
@atrevers do you have an update?

[2021-09-07 02:39] jmprieur opened #1431 "[Feature Request] Simplify the message for ASP.NET classic and daemon apps (by splitting Microsoft.Identity.Web into sub packages for token cache and cert management)"
**Is your feature request related to a problem? Please describe.**
Microsoft identity web provide some functionalities for apps developed with .NET framework, or .NET Core (not necessarily ASP.NET Core). See [Support for ASP.NET classic and more generally .NET 4.7.2](https://github.com/AzureAD/microsoft-identity-web/wiki/asp-net)

Some developers told us they are reluctant about referencing the wh

[2021-09-07 06:51] sven5 commented on #549
@Contengo  For your scenario there is a nice [wiki article here](https://github.com/AzureAD/microsoft-identity-web/wiki/web-apis#azure-ad-b2c).

[2021-09-07 09:05] bgavrilMS commented on #1431
A few questions:

1. Should we move the "cache adapter" types and logic and the Certificate Loader types and logic to MSAL? This will avoid making a breaking change in these packages later on.
2. If so, should these packages be tied to MSAL (from versioning perspective) rather than M.I.W? As they can be consumed from
3. From a naming perspective, should these be more like `Microsoft.Identity.Clien

[2021-09-07 09:57] rymeskar commented on #1431
I guess this would be also addressing the #1336, right?

Have you also thought about splitting the DownstreamAPI/TokenAcquisition into a separate package?

For the Microsoft.Extension.* and the internal R9 platform, we use the following multi-targeting and multi-versioning strategy:
* 5 for .NET 5
* 3 for .NET Core 3.1, NET Standard 2.1
* 2 for .NET Standard 2.0, NET 461, NET 472

[2021-09-07 10:26] rymeskar commented on #1406
@jennyf19 does the elaborated description now make sense to you?

[2021-09-07 10:51] rymeskar opened #1432 "[Feature Request] Registering ITokenAcquisition as singleton is not enough to ensure proper instance lifetime handling"
Taking care of the IConfidentialClientApplication lifetime is a complex topic. [The MSAL recommendation](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/High-availability#one-confidential-client-per-session) is to use a new CCA on each session. The recommendation mentions this being handled in Identity.Web.

In Identity.Web, this behavior is encapsulated through the reg

[2021-09-07 10:53] rymeskar commented on #1432
Remarks:
This feature is registered as a documentation because the external users can still achieve the right behavior within their code. This being said, such setup involves their active involvement and knowledge.

That is why, the issue can be also marked as bug (@bgavrilMS was mentioning high contention being observed on some customers of Id.Web or feature)

There are some possibilities for act

[2021-09-07 15:18] jennyf19 commented on #1406
yes, thank you @rymeskar

[2021-09-08 01:31] jennyf19 commented on #1431
@rymeskar #1336 will be addressed at a later date, and is more ambitious (part of the higher level API work for MSAL.NET).

why did you pick those versions specifically for those platforms? Specifically 2 for .NET Standard 2.0 and NET 461/472? We have a lot of partners referencing Microsoft.Identity.Web today with 5, and we are worried this would be a breaking change for them. thoughts? thanks.

[2021-09-08 06:21] damienbod commented on #549
Hi @Contengo I did an example for this here:

https://damienbod.com/2021/07/26/securing-asp-net-core-razor-pages-web-apis-with-azure-b2c-external-and-azure-ad-internal-identities/

The APIs need to use the right scheme as well

Greetings Damien

[2021-09-08 07:27] rymeskar commented on #1431
The intent is to give the customers the default pairing around how the ecosystem was delivered -- there are always official version pairings between Extensions, ASP.NET Core and runtime from the release. Breaking away with the major version of a single component of the pairing can lead to headache of the common customer.
Still, in case one wants to update a version, the options are:
* Update runti

[2021-09-08 15:31] blowdart opened #1434 "Move conditional auth from exception filters and using exceptions for control flow to the new authz information feature"
.NET added a new API to flow AuthorizationFailureReasons, which are a new mechanism for AuthZHandlers to flow arbitrary data out to the app which can look at and respond to the failure reasons in a IAuthorizationMiddlewareResultHandler: https://github.com/dotnet/aspnetcore/commit/08bdcfd2873906d8948dd7bf47093d52b6767d61#diff-51e8110d6a1644c1bbbe1eeebd8ce3093198840ef615c4c367bc3cb95db017c3

This sh

[2021-09-08 16:45] DamianEdwards commented on #17
This is more important now with the advent of Minimal APIs in ASP.NET Core 6.0, i.e. a way to author web APIs without using MVC controllers. As the current attribute is implemented as an MVC action filter, it can't be used with APIs authored in this new way.

Ideally the attribute should be reimplemented as endpoint metadata that is read by a configured auth policy. Whether the policy is configure

[2021-09-08 16:47] jennyf19 opened #1435 "[Bug] using app Id URI instead of client_id in web API, results in bad token for OBO RT redemption."
1.16.1

ResponseBody: {"error":"invalid_grant","error_description":"AADSTS70000: Provided grant is invalid or malformed.\r\nTrace ID: 7c2d5c69-da2d-4b9a-969b-3770520f0d01\r\nCorrelation ID: eb26b440-88f2-405f-be22-4d389627372b\r\nTimestamp: 2021-09-08 14:51:19Z","error_codes":[70000],"timestamp":"2021-09-08 14:51:19Z","trace_id":"7c2d5c69-da2d-4b9a-969b-3770520f0d01","correlation_id":"eb26b440-88f

[2021-09-08 17:18] jmprieur commented on #17
@DamianEdwards AuthorizeForScopes is not used in web APIs, only in web apps.
But we got the point.

[2021-09-09 00:17] jmprieur commented on #1431
@rymeskar
Given that Microsoft.Extentions* in .NET 5.0 work for all our customers and 2 will be deprecated in a few months, we'll go ahead with the initial plans. @jennyf19 will have a PR soon

[2021-09-09 18:57] DamianEdwards commented on #17
Ah sorry for confusion, I thought this was the issue that was pointed to when we were discussing tracking the work to move the filter attribute to a policy-based approach. Where is that issue? 😄

[2021-09-09 20:17] dirthsj opened #1436 "[Feature Request] Support Dotnet-Isolated Azure Functions"
**Is your feature request related to a problem? Please describe.**
I am attempting to port an azure functions application from dotnet core 3.1 to dotnet 5, which requires using dotnet-isolated [1]. Additionally, it looks like for dotnet 7 and beyond, dotnet-isolated may be the only supported solution [2].

[1] https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide
[2]

[2021-09-09 22:30] jmprieur commented on #17
@DamianEdwards : this was my point yesterday when we asked Barry to create an issue for the Scopes filter ;-). We don't have such an issue yet.

[2021-09-09 23:16] WenningQiu opened #1438 "Enable authorization code flow"
According to [Microsoft documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-implicit-grant-flow), authorization code flow is preferred; however with the code and configuration below, Microsoft.Identity.Web appears to be using the implicit grant flow.

- Is there a reason auth code flow is not turned on by default by Microsoft.Identity.Web?
- How do I turn on au

[2021-09-10 01:25] DamianEdwards commented on #17
It's not this one? #1434

[2021-09-10 02:02] jmprieur commented on #17
My understanding is that #1434 is what Barry advises to apply to `[AuthorizeForScopes]`, not to `[RequiredScopes]` ?

[2021-09-10 11:53] dmcweeney opened #1439 "[Enhancement] Infer authentication scheme from the request"
**Which version of Microsoft Identity Web are you using?**
MIW 1.16.1
MIC 4.36.1

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches

[2021-09-10 13:38] rymeskar commented on #1431
The compatibilities of library versions are quite a tedious problem.
Here's an [issue](https://github.com/dotnet/aspnetcore/issues/14393) from aspnetcore where folks go into more details on this topic.

Nice sum-up:
"Yes Microsoft.Extensions are mostly backwards compatible but ASP.NET Core decided to constrain the versions of those assemblies because it was tested with 2.x versions. There may be b

[2021-09-10 15:39] jmprieur commented on #1439
Do you have repro steps, @dmcweeney ?
also do you need to update MSAL.NET? (given it's available by transitive closure through MSAL.NET) ?

[2021-09-10 15:50] WenningQiu commented on #1438
Looks like the code below turns on the auth code flow:

`            services.AddAuthentication(OpenIdConnectDefaults.AuthenticationScheme)
                .AddMicrosoftIdentityWebApp(Configuration, "AzureAd")
                .EnableTokenAcquisitionToCallDownstreamApi()
                .AddInMemoryTokenCaches();`

[2021-09-10 16:10] dmcweeney commented on #1439
@jmprieur
Yes MSAL.Net (MIC) was updated to 4.36.1.

As regards repro steps - I literally updated the packages and reran the app ensuring I did a sign in. Then triggered a piece of code that called GetAccessTokenForUserAsync to call the graph api requiring User.ReadBasic.All scope and aforementioned exception was throw.

I reverted to the previous version of the 2 packages, did a full rebuild and

[2021-09-10 16:18] jmprieur commented on #1439
what happens if you remove the MIC nuget pacakge, @dmcweeney ?

[2021-09-10 16:33] dmcweeney commented on #1439
@jmprieur I will have to do that Monday - (having problems downloading a different package)

[2021-09-10 18:22] rymeskar commented on #1432
I looked further into the issue and realized that ServiceProvider has some [checks and balances](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.dependencyinjection.serviceprovideroptions.validatescopes?view=dotnet-plat-ext-5.0#Microsoft_Extensions_DependencyInjection_ServiceProviderOptions_ValidateScopes) to prevent the unexpected Scoped/Singleton collaboration.
[code]

throws Sy

[2021-09-10 21:22] jmprieur commented on #1432
Thanks for the update, @rymeskar. I didn't know about the check, but I had seen this exception already.

[2021-09-10 21:28] jmprieur commented on #1438
Yes, @WenningQiu. It does.

With:

[code]

you just let the user sign-in. You don't get a token to call an API from your web app.
Do you want to close this issue?

[2021-09-10 21:37] WenningQiu commented on #1438
@jmprieur Thanks for the confirmation. I'll close the ticket.

[2021-09-10 21:37] #1438 closed

[2021-09-12 17:11] Choonster commented on #1385
I've managed to work around this for now by injecting `IOptionsMonitor<JwtBearerOptions>` and calling `jwtBearerOptions.Get(Constants.Bearer)`, which triggers the merging of the options. I don't know if there's a better way to do this.

[2021-09-13 11:57] dmcweeney commented on #1439
@jmprieur

If I remove the explicit reference to the MIC package the behaviour is the same.

Using MIW 1.16.1 the above "bug" happens. This pulls in MIC 4.36.0.

![image](https://user-images.githubusercontent.com/1087374/133078685-7e5d3cfa-ee02-421c-b8cd-74395fb35baf.png)

If I revert to MIW 1.16.0 it works. This pulls in MIC 4.35.1.

![image](https://user-images.githubusercontent.com/1087374/1330

[2021-09-13 12:11] davidkarlsson opened #1440 "[Bug] Calling TokenAcquisition.GetAccessTokenForUserAsync throws a NullReferenceException"
**Which version of Microsoft Identity Web are you using?**
1.16.1

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [x] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     * [ ] Sess

[2021-09-13 13:11] jsquire opened #1441 "What Configuration Settings?"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#23949](https://github.com/Azure/azure-sdk-for-net/issues/23949).

### Please be aware that @rjarratt is the author of the original issue and include them for any questions and replies.

## Details

The overloads that take a configuration section says it needs "the necessary settings", but it doesn't tell yo

[2021-09-13 16:01] jennyf19 commented on #1439
@dmcweeney we had a security alert to move from 3.1.8 to 3.1.18, which is why 1.16.1 is on 3.1.18. do you have a link to your code or repro code you can share? thanks.

[2021-09-13 16:07] jennyf19 commented on #1440
@davidkarlsson can you provide a link to your code or a basic repro i can run locally? thank you.

[2021-09-13 16:13] dmcweeney commented on #1439
@jennyf19
I do not have the code available publically but more than happy to share a debugging session with you over Teams.
Also I can send you the logs of the MSAL logging for AuthorizationCodeReceived and GetAccessTokenForUserAsync for both 1.16.0 and 1.16.1 (to your private email - save me scrubbing the logs).

[2021-09-13 17:10] jennyf19 commented on #1439
@dmcweeney we can start with the logs, thanks. jeferrie@microsoft.com

[2021-09-13 17:41] davidkarlsson commented on #1440
@jennyf19 I've written a repro you can run locally here now: https://github.com/davidkarlsson/identity-web-token-issue.

[2021-09-13 18:17] lsiepel commented on #1440
Same issue here. Downgraded Microsoft.Identity.Web  16.1 to 16.0 and all is fine.

[code]

Startup.cs:
[code]

Unfortunately i'm unable to provide a runnable demo at this moment, but if the provided details are not enough, i could try to spend some time later this week.

When same code is used with package 16.0 all is fine.

[2021-09-13 19:12] jennyf19 commented on #1440
@lsiepel can you include a default authentication scheme? Which authentication scheme do you have in your controller, when you call token acquisition?

[2021-09-14 03:09] jmprieur commented on #1441
@jsquire these (JwtBearerOptions and MicrosoftIdentityOptions) are the right settings.
if this is a pure web API, the callback path is not needed. (left over from the past, as is the reference to the OpenIdConnect middleware)

It can be useful, for web apis which also are web apps (with multiple authentication schemes)

[2021-09-14 08:43] rjarratt commented on #1441
Can the documentation explicitly state how a person knows what the "necessary settings" are please?

[2021-09-14 15:53] jsquire commented on #1441
@jmprieur:  Please be aware that @rjarratt is the author of the original issue and is the individual that you'll want to include in discussions.    My involvement was just triage for the Azure SDK repository.

[2021-09-14 16:08] WenningQiu opened #1442 "Redirect URL and Host header do not match"
We have an Azure AD secured Web app that runs behind a load balancer (BIG-IP), the load balancer does not change the Host header as a request message is forwarded to the back-end servers.  We were hoping that Microsoft.Identity.Web (1.16.1) uses the Host header in the request message to compose the redirect URL, but that was not happening in our simulation test. In the messages below the Host head

[2021-09-14 16:18] JFercan opened #1443 "[Bug] Getting Null Reference exception with 1.16.0 and MsalUiRequiredException with 1.16.1 when using MS Graph"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.16.0 and Microsoft Identity Web 1.16.1

**Where is the issue?**
When calling await _graphServiceClient.Users["username"].Request().GetAsync();
With 1.16.0 Get Null Reference Exception
With 1.16.1 Get MsalUiRequiredException

* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (va

[2021-09-14 17:37] WenningQiu commented on #1442
Please ignore it. I found the issue in my app.

[2021-09-14 17:37] #1442 closed

[2021-09-14 18:45] v-fearam opened #1444 "[Feature Request] Include StatusCode on HttpRequestException"
**Is your feature request related to a problem? Please describe.**
Yes, I need to do something different when a NotFound comes from the API. When that happends a HttpRequestException is generated with Mesagge "404 NotFound " (the last whitespace is there), the Source is "Microsoft.Identity.Web" and the StatusCode is null.

**Describe the solution you'd like**
Checking by Status code and not by str

[2021-09-14 18:55] v-fearam opened #1445 "[Feature Request] Adding a method on downstreamWebApi to call without an access token"
**Is your feature request related to a problem? Please describe.**
I have an API, some methods are private and need a token and the downstreamWebApi  is great, but it has one public method which is used on the home page which doesn't require to be sigin.
In the service I need to add a http client to do that call.

**Describe the solution you'd like**
I would like to call the public endpoint throug

[2021-09-15 06:50] lsiepel commented on #1440
Ah sorry, the authentication schemepart was left out. Both schemes are used in the controllers, both lead to the same problem
[code]

[2021-09-15 16:46] djarvis commented on #115
I have gone through implementing the forwarded headers as described in https://github.com/AzureAD/microsoft-identity-web/wiki/Deploying-Web-apps-to-App-services-as-Linux-containers but I still get redirect_uri=http instead of https in my deployed linux container.  ASP.NET Core 3.1, Microsoft.Identity.Web 1.16.1, OpenIdConnect 3.1.19.

Is there anything else I missed besides:

`
            service

[2021-09-15 18:54] geeknoid commented on #1431
The challenge we've seen in R9 is that services adopting an R9 package were having to upgrade a bunch of downstream packages that R9 depended on. So adopting a single R9 package meant that potentially dozens of packages were upgraded in their service, leading to much more change and turmoil than they bargained for.

As a library provider, the right choice is for you to target the lowest version of

[2021-09-16 00:06] jmprieur commented on #115
@tratcher, can you please help?

[2021-09-16 11:43] rymeskar opened #1447 "[Bug] Caching by MethodInfo will return same cache for different distributed cache configurations"
**Which version of Microsoft Identity Web are you using?**
Latest master

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [x] In-memory caches
     * [

[2021-09-16 12:10] rymeskar opened #1448 "[Feature Request] Provide glue to integrate IConfidentialClientApplication and IMsalTokenCacheProvider"
It seems like you already today provide the customer the option to register the caches to [service collection](https://github.com/AzureAD/microsoft-identity-web/blob/bba91c4298411e780c9f082e8e3843eacd8e543c/src/Microsoft.Identity.Web/TokenCacheProviders/Distributed/DistributedTokenCacheAdapterExtension.cs). You are also creating a [separate caching package](https://github.com/AzureAD/microsoft-ide

[2021-09-16 12:57] djarvis commented on #115
I implemented the OnRedirectToIdentityProvider additions to one project that uses:

`services.AddAuthentication().AddOpenIdConnect()`

and it works fine, it redirects back to the modified https page and everything is handled well.

I have a second project that uses:

`services.AddAuthentication().AddMicrosoftIdentityWebApp()`

and it does redirect back to the modified https page but something in t

[2021-09-16 15:05] Tratcher commented on #115
The scheme has to be changed in too many places for the OnRedirectToIdentityProvider approach to work reliably. Let's get the forwarders working instead.

Start with the troubleshooting steps at
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-5.0#troubleshoot

[2021-09-16 18:01] Ponant commented on #1034
Hi @jmprieur , I come back to you to see if you are interested in a PR on this issue. Looking at the code and your suggestion, it seems that putting the strings in `MicrosoftIdentityOptions` is good option.
If you are OK I could PR this.
it will be tested in web app Razor Pages I have on Azure B2C.
Let me know

[2021-09-16 19:02] qetza opened #1449 "Using ITokenAcquisition in the IHostedService.StartAsync doesn't work"
Hello,

I'm trying to create a hosted service in aspnet core that needs to call during its startup (`StartAsync`) an API with an application token (client id & client secret).

When calling `GetAccessTokenForAppAsync` i'm getting a null reference exception from `MergedOptions.PrepareAuthorityInstanceForMsal`. After some testing the issue seems to be that my call in the hosted service `StartAsync`

[2021-09-16 23:36] jmprieur commented on #1449
@qetza : are you using the latest Ms.Id.Web? We believe that this was fixed in [1.16.1](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.16.1)

If it isn't fixed, please share some repro code with us.
cc: @jennyf19

[2021-09-17 08:54] qetza commented on #1449
Hello @jmprieur,
Here is a simple web app to repro the issue based on 1.16 : [HostedServiceWithTokenAcquisition.zip](https://github.com/AzureAD/microsoft-identity-web/files/7184130/HostedServiceWithTokenAcquisition.zip)

This is a base new aspnet core webapp project where i added a hosted service with a dependency on ITokenAcquisition and the needed code in the Startup to register everything. The

[2021-09-17 09:11] Ponant commented on #1034
There is also this dependency on the UI route which could/should be fixed
`        internal const string BlazorChallengeUri = "MicrosoftIdentity/Account/Challenge?redirectUri=";
`

[2021-09-17 09:55] qetza commented on #1449
Using directly MSAL.Net (`IConfidentialClientApplication`) is working so maybe for this scenario were we just need to get a token for an app we will switch to MSAL.Net

[2021-09-17 13:38] djarvis commented on #115
@Tratcher This is a project that is built into a Linux container and then published to an Azure Web App.  Does there need to be something special done to the Azure load balancer or something?  What would I put into the KnownProxies?

[2021-09-17 14:44] Tratcher commented on #115
Oh, there's a similar scenario here: https://github.com/dotnet/aspnetcore/issues/24151

If you're creating your own dockerfile then add the following:
https://github.com/Azure-App-Service/ImageBuilder/blob/0901682fa83f20ecd1ccab6612e8d357dcd15150/GenerateDockerFiles/dotnetcore/debian-9/Dockerfile#L56

[2021-09-17 16:19] djarvis commented on #115
Ah yes.  Got it!

I'm wondering how I could have stumbled upon that any sooner.

After inserting that environment variable everything works.  I can now remove the past two day's worth of messy trial-and-error code I had going on to try to make this all happen.

Thanks!

[2021-09-18 17:23] Ponant commented on #1034
@jmprieur , in addition to the above, what about
`var callbackUrl = Url.Page(_optionsMonitor.Get(scheme).SignedOutRedirectUri, pageHandler: null, values: null, protocol: Request.Scheme);
`
and set `SignedOutRedirectUri="/Account/SignedOut"` in the ctor of `MicrosoftIdentityOptions`,

instead of the hardcoded string for the SignOut in the Account controller
`                var callbackUrl = Url.Pa

[2021-09-18 19:45] Ponant commented on #554
`@page "/signedout"`

[2021-09-18 22:37] ohadschn commented on #1167
Adding some keywords which might have saved me hours:

- Sovereign cloud
- National cloud
- AzureChinaCloud
- Mooncake
- China

[2021-09-20 07:04] Ponant commented on #1034
@jmprieur , I am done with the changes. As a reminder, the idea is to make the Web library independent from the UI one.
Changes are fairly straightforward:

#### In MicrosoftIdentityOptions (3 changes)

[code]

#### In UpdateMergedOptionsFromMicrosoftIdentityOptions method

[code]

#### In AzureADB2COpenIDConnectEventHandlers

[code]
[code]

#### In SignOut action

[code]

I can push and PR that.

[2021-09-20 15:09] RobSiklos opened #1453 "[Documentation] Incorrect authentication scheme shown in replacement example"
### Documentation related to component
Web Apps

### Please check all that apply

- [ ] typo
- [ ] documentation doesn't exist
- [ ] documentation needs clarification
- [x] error(s) in the example
- [ ] needs an example

### Description of the issue
In https://github.com/AzureAD/microsoft-identity-web/wiki/web-apps, in the first C# example, the auth scheme should be replaced with `OpenIdConnectDef

[2021-09-20 18:11] jennyf19 commented on #1431
included in [1.17.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.17.0)

[2021-09-20 18:11] #1431 closed

[2021-09-20 18:17] jennyf19 commented on #1453
@RobSiklos thanks, have fixed.

[2021-09-20 18:17] #1453 closed

[2021-09-20 19:49] GordonRudman opened #1454 "[Bug] 1.17.0 Fails to download from Nuget.org because of missing dependency packages"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache seria

[2021-09-20 21:25] jmprieur commented on #1454
@GordonRudman
Can you please check? they are now available.

(this was an issue with the release definition that pushes the nuget package)

[2021-09-20 21:26] jmprieur commented on #1454
Closing. But feel free to reopen if this still does not work

[2021-09-20 21:26] #1454 closed

[2021-09-21 16:26] jennyf19 commented on #80
![image](https://user-images.githubusercontent.com/19942418/134209423-dc560d9d-618a-417b-95c2-8681634905f9.png)
![image](https://user-images.githubusercontent.com/19942418/134209549-2aea8441-d39e-43bc-9b06-968ab25ce942.png)

[2021-09-21 16:35] jennyf19 commented on #1431
https://github.com/AzureAD/microsoft-identity-web/wiki/NuGet-package-references

[2021-09-21 16:44] WenningQiu opened #1455 "Set expire time on .AstNetCore.Cookies"
My Web app uses Microsoft.Identity.Web and Microsoft.Identity.Web.UI to authentication the users. The response message for call to /signin-oidc sets cookie .AspNetCore.Cookies without specifying the expiration time:
[code]
The subsequently calls to my Web app includes the cookie in the request message and is automatically logged in without being asked about the Azure AD account and password.

I wa

[2021-09-21 18:02] jennyf19 commented on #1368
fixed. updated the aka.ms link

[2021-09-22 10:03] Ponant commented on #1455
@WenningQiu use MaxAge and another extension in the lib

[code]

[2021-09-22 11:41] ataraxia89 commented on #1316
This is still an issue and the only discussion here has been questioning whether App Services should be used for APIs, which they **obviously** should.

Any chance of a sensible answer?

[2021-09-22 14:07] dalibor-sanzeru commented on #1316
In startup ConfigureServices:

[code]

This will read form appsettings.json and from Azure web service as well.
_In case of AZure App service configuration use splitter with : as on my image above in proprty keys.
In case of config use standard JSON section nesting._

In my case on local development json config is used, but in azure app service azure app service UI config is used.

[2021-09-22 14:16] ataraxia89 commented on #1316
@dalibor-sanzeru that didn't work either, still got exactly the same issue.

[2021-09-22 14:43] ataraxia89 commented on #1316
I've now found the issue, I had logic to deploy an appsettings file and then use that to build an `IConfiguration` instance and set that in `webBuilder.UserConfiguration` and for some reason that's screwed it up.

Don't know why, because this has been working for months until I added this Azure stuff, I needed that code so I could deploy different appsettings files for unit testing (mainly to use

[2021-09-22 16:53] WenningQiu commented on #1455
@Ponant Thanks! That works.

[2021-09-22 18:18] jmprieur commented on #1316
Do you have a repro?

[2021-09-22 20:10] ataraxia89 commented on #1316
The problem was that the logic I had that deployed the appsettings file checked if the file existed already and, because it did, it didn't update the file. I also discovered that the Sign Up/Sign In policy that issued the token needs to be included in the issuer URL.

I don't have a public repro, but this is essentially the code I'm running with business details changed:

**appsettings.json**
[cod

[2021-09-23 04:08] #1455 closed

[2021-09-23 08:59] Ponant commented on #1352
@tedvanderveen , did you try commenting the code?
[code]

in
[code]
?

[2021-09-23 09:44] Ponant commented on #1352
Well, no it throws here
[code]

[2021-09-23 11:04] dalibor-sanzeru commented on #1316
Ataraxia89,
few things to mention.

1) You are using a) Azure Active direoctory for JWT bearer token issuing or b) you issue it yourself? I beieve b) is true. Correct?

In eah case, if you get error:  'ClientId' option must be provided. you get it because you dont read it from config here (you are reding authority/audience only):
[code]

[2021-09-23 11:18] ataraxia89 commented on #1316
I have two web services running on Azure - a website and a web API. The website obtains a JWT token from Azure, then provides that token to the API.

So it's option 1), Azure is issuing the token. Anyway, it's fixed now.

[2021-09-23 11:18] dalibor-sanzeru commented on #1316
Fixed how?

[2021-09-23 11:21] ataraxia89 commented on #1316
I did, in my [comment above](https://github.com/AzureAD/microsoft-identity-web/issues/1316#issuecomment-925292990), this is working code.

[2021-09-23 19:38] jmprieur commented on #1352
Message received, thanks @tedvanderveen.
The current implementation uses a nonce and tokens cannot be replayed, but we can go the extra mile.
Having said that last time I checked the middleware (which validates the token) wasn't happy without the ID token.

[2021-09-23 19:39] jmprieur commented on #1352
What is a public app? Ms.id.web is only about confidential client apps?

[2021-09-23 21:06] Contengo commented on #549
Many thanks @damienbod and @sven5 - with those inputs I think it's now nailed. I must say this enforced separation of B2B from B2C identities does make life a whole lot more complicated than it needs to be - I do wish MS would drop it and converge them!

[2021-09-24 06:42] sven5 commented on #549
@Contengo  Nice that it's working now at your side.
The separation of B2B and B2C is by design and absolutely makes sense. Otherwise you get mixed-up environmenst. The fundamental part of B2C is that it's a stripped-down AAD tenant.

For application developers, there also is another way to go: You could use B2C even for you B2B accounts to allow logging in. But you have to adjust the custom polici

[2021-09-24 07:40] Ponant commented on #1352
@jmprieur , there is also this video in case you did not have a look at: https://www.youtube.com/watch?v=1ot45WwQWJE for example. It uses a real world example of a server app and the guy is just logging in with google.

In short, to me at least, the idea is that PKCE on a confidential app even **without an API** call should be made possible in the libraries. I see PKCE on a server web app deliveri

[2021-09-24 11:53] tedvanderveen commented on #1352
A public App is an app that cannot securely handle confidential secrets i.e. a `client_secret` for example. And -also for that reason- leverages PKCE flows to solve issues that traditionally that `client_secret` takes care of.
If this lib also fully embraces PKCE flow, then it can also be used by -for example- Blazor WebAssembly public apps.

[2021-09-24 11:56] tedvanderveen commented on #1352
Not sure I mentioned this previously, but it's good to know that Azure B2C "Single Page Applications" (personally I think this is a somewhat confusing label) also supports refreshing an access token. B2C SPA always returns a refresh token that can be exchanged for a fresh access token without need for a `client_secret`. B2C SPA uses refresh token rotation, so it can only be used once. And those re

[2021-09-26 10:49] mterwoord opened #1457 "Allow passing JsonSerializerOptions to DownstreamWebApiGenericExtensions"
**Is your feature request related to a problem? Please describe.**
I'm trying to call a downstream web api usnig IDownstreamWebApi. This works great, except for the fact that I want to use a custom JsonSerializerOptions class, to adjust json bevhavior.

**Describe the solution you'd like**
Add an optional argument to all methods in DownstreamWebApiGenericExtensions, to allow passing in a JsonSeria

[2021-09-26 10:50] mterwoord commented on #1457
To be clear, if this is an enhancement that's ok by the team, I'd be happy to make a PR to implement this. Just want an OK for that first.

[2021-09-26 16:03] Ponant opened #1458 "[Question] Query parameter for Azure B2C"
Hello,
I need to serve pages in French and English to users, and have B2C flows translated and available in both languages.
Currently, users are provided with different languages on the b2clogin.com signin/up pages provided I add
`&lang=fr` as a query string to the b2clogin.com endpoint.
Can anyone guide a bit on how/where to add the query when using `AddMicrosoftIdentityWebApp` in a Razor Page we

[2021-09-27 00:24] jmprieur commented on #1457
@mterwoord
Instead of passing-in an option:
- would it work to inject a serializer in the construction of DownstreamWebApi by dependency injection?  (would all the web api use the same serializer ?)
- otherwise, would it work to have an option in DownstreamWebApiOptions? Maybe an optional delegate to perform the serialization?

could you share for the moment what the public API change you have in

[2021-09-27 02:54] jmprieur commented on #1458
@Ponant

I would think that you could add from the OnRedirectToIdentityProvider event:

[code]

[2021-09-27 10:46] apoorvkapil opened #1459 "[Bug] Microsoft Signing Key endpoint is not returning constant keys"
**Which version of Microsoft Identity Web are you using?**
Latest

**Where is the issue?**
* Other (please describe)
[Microsoft Discovery key](https://login.microsoftonline.com/common/discovery/keys) returning different keys intermittently.

**Repro**
calling below url from multiple source returning different keys.
[code]

**Expected behavior**
Expected to return same public keys even if MS rotati

[2021-09-27 15:03] mterwoord commented on #1457
I suggested passing-in a option, because that's how HttpClient.GetFromJsonAsync (extension method) works as well. To me this works nicely.

In my case, my whole api uses the same serializer options. In fact, to me, the HttpClient extensions work great. :-)

[2021-09-27 15:18] jmprieur commented on #1459
@apoorvkapil is it a Microsoft.Identity.Web bug?

[2021-09-27 15:23] jmprieur commented on #1458
You're right @Ponant. you can also use the override of AddMicrosoftIdentityWebApp  that takes delegates.
But I'm too lazy to write the configuration.Bind() :-), so I prefer the service.Configure approach.

[2021-09-27 18:24] jmprieur commented on #881
See https://blog.johnnyreilly.com/2021/01/17/azure-easy-auth-and-roles-with-net-and-microsoft-identity-web/

[2021-09-28 07:09] apoorvkapil commented on #1459
Well this is the only service I could relate it to, these Keys are used for OAuth2.0 and Enterprise Application , which is part of Microsoft Identity. If you think it shouldn't, please help to tag to the right team.

[2021-09-28 17:58] jmprieur commented on #1459
@hpsin do you have an idea?

[2021-09-28 20:49] #1423 closed

[2021-09-28 21:04] hpsin commented on #1459
Investigating, thanks @jmprieur.  I have repro'd this behavior, and can't quickly explain it. Working with engineers to understand this.

[2021-09-28 23:21] hpsin commented on #1459
Hey all,
We're adding a new key to our signing keys list, and to ensure a clean rollout this is done in rings.  You are seeing requests to different rings here - some rings have the old set of 3 keys, inner rings have 4 keys.  As part of adding a new key though, yes, you will see different numbers of keys at different times.  We do not use the new keys until they've been in all rings for a suffici

[2021-09-30 00:01] jennyf19 opened #1463 "[Feature Request] Modify Roles to be based on Policies"
see [scopes PR](https://github.com/AzureAD/microsoft-identity-web/pull/1456) for details

[2021-09-30 15:55] jmprieur opened #1464 "[Bug] Replace the term "CCS" by "backup authentication system" in docs, comments"
[Bug] Replace the term "CCS" by "backup authentication system" in docs, comments

[2021-10-01 02:30] jennyf19 commented on #1463
propose to use `[Authorize(Roles="")]`

[2021-10-01 02:30] #1463 closed

[2021-10-01 02:30] jennyf19 commented on #1463
add to release notes.

[2021-10-01 08:17] apoorvkapil commented on #1459
@hpsin Thanks for clarifying.
although it not blocking the app functionality, yet creating lot's of minor 'changes' since 7 days at our end. We have a logic to check in script if there is a key change(comparing host keys kid with azure source key kids from the URL) . Now we thought the URL is source of truth for keys and even in case of a new key rollout by azure, script will detect the change and

[2021-10-01 16:39] jennyf19 commented on #1422
closing, as opened in another repo and external.

[2021-10-01 16:39] #1422 closed

[2021-10-04 07:06] Ponant commented on #1034
Done

[2021-10-04 07:06] #1034 closed

[2021-10-04 17:00] dmcweeney commented on #1439
@jennyf19 wondering if ye made any progress on this issue?

[2021-10-05 13:33] Ponant opened #1473 "Template bug and usage of IOptions vs IOptionsMonitor"
The template `dotnet new webapp --auth IndividualB2C` on .Net 6 RC1 provides a `_LoginPartial` that never shows the Edit link.

The culprit is the use of `IOptions<MicrosoftidentityOptions>` which returns null entries, for example `EditProfilePolicyId` or reset  policies are null, hence never shown on the browser:

[code]

#### Solution

Use `IOptionsMonitor` instead, e.g.

[code]

#### Remark for

[2021-10-05 19:16] Ponant commented on #1213
@Tratcher , yes

[2021-10-06 00:46] jennyf19 commented on #1473
I think @jmprieur fixed this for RC 2. We will need to check.

[2021-10-06 02:00] jennyf19 commented on #1439
no, sorry @dmcweeney will try to before end of week. sorry for the delay.

[2021-10-06 02:39] jmprieur commented on #1473
Thanks @Ponant
This is fixed by https://github.com/dotnet/aspnetcore/pull/35811

[2021-10-06 02:43] jennyf19 commented on #1002
Included in [1.18.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.18.0)

[2021-10-06 02:43] #1002 closed

[2021-10-06 05:17] Ponant commented on #1473
OK sorry I did not see this PR. And what about the double call https://github.com/AzureAD/microsoft-identity-web/blob/master/src/Microsoft.Identity.Web/WebAppExtensions/MicrosoftIdentityWebAppAuthenticationBuilderExtensions.cs#L288-L299 ?

[2021-10-06 18:29] Tratcher commented on #1213
The ILoginErrorAccessor used to flow that message to the error page is somewhat complicated.
https://github.com/AzureAD/microsoft-identity-web/blob/bba91c4298411e780c9f082e8e3843eacd8e543c/src/Microsoft.Identity.Web/AzureADB2COpenIDConnectEventHandlers.cs#L93-L95
https://github.com/AzureAD/microsoft-identity-web/blob/272910102044a99815d1a70fea925cf3939b9b4d/src/Microsoft.Identity.Web.UI/Areas/Micr

[2021-10-06 20:03] Ponant commented on #1213
The PR https://github.com/AzureAD/microsoft-identity-web/pull/1468 allows in version 1.18.0 to define an `Microsoft.IdentityOptions.ErrorPath` to override `/MicrosoftIdentity/Account/Error`. The same for an `ResetPasswordPath`.
It does not solve this issue completely , but it should help in decoupling the UI library from the Web one.

[2021-10-07 21:02] jguldal commented on #1063
Is there any workaround for adding HTTP headers to the downstream request? Open for anything really, we really need this feature...

[2021-10-08 09:54] apoorvkapil commented on #1459
Closing the issue, as it the issue has been solved. I would still want MS to reconsider the strategy to deploy these keys and provide a source of truth for pub keys, which returns constant keys no matter if there are changes going on at backend, Newly added key should only be available for public (login URL) when It's deployed on all rings and after a certain time MS can start using it for Signing

[2021-10-08 09:54] #1459 closed

[2021-10-08 15:26] chrisls121 commented on #110
Would love to see this get integrated soon.

[2021-10-11 13:37] GeorgeTTD commented on #1440
Hi @davidkarlsson,
Not sure if this is any help but I have found that using AuthorizeForScopesAttribute has solved a similar sounding issue for me. Use `[AuthorizeForScopes]` on the pages you wish to use token acquisition or add it as a filter if you want to apply to all routes.

[2021-10-11 17:25] davidkarlsson commented on #1440
Hey @GeorgeTTD! Thanks for the suggestion but as far as I can tell I don't really want the functionality the `[AuthorizeForScopes]` attribute provides. The scopes I'm using either don't require incremental consent or has already been authorized by an admin for the application in Azure AD.

Also calling `ITokenAcquisition.GetAccessTokenForUserAsync()` is working fine from the controller action with

[2021-10-11 20:53] rymeskar commented on #1406
On similar front, is the refreshing of [the distributed cache necessary](https://github.com/AzureAD/microsoft-identity-web/blob/b31140ff2d7478c86ef668edca3164aa7fd6846c/src/Microsoft.Identity.Web.TokenCache/Distributed/MsalDistributedTokenCacheAdapter.cs#L199)? TBH, this adds network latency to talk to redis in times when the service could just do away with talking to in-memory cache.

Id.Web coul

[2021-10-12 03:39] jmprieur commented on #1406
That's a fair point, @rymeskar. Do you want to raise an issue on the Id.Web repo for this one?

[2021-10-14 16:36] dmcweeney commented on #1439
@jmprieur  @jennyf19  sent ye invites to repo that contains repro app...

[2021-10-15 20:49] jmprieur opened #1487 "[Feature Request] Move AadIssuerValidator (and co) to its own library"
**Is your feature request related to a problem? Please describe.**
`AadIssuerValidator` is usable in many applications that need to validate tokens, not only in Microsoft.Identity.Web. In particular this is needed in SAL and MISE. Ideally it should be in Wilson, but this needs to be discussed and planned.

**Describe the solution you'd like**
- Extract AadIssuerValidator and MicrosoftIdentityWebIs

[2021-10-19 11:41] GeorgeTTD opened #1494 "[Documentation] .Net Core Razor page app & API"
### Documentation related to component

### Please check all that apply

- [ ] typo
- [x] documentation doesn't exist
- [x] documentation needs clarification
- [x] error(s) in the example
- [x] needs an example

### Description of the issue

We currently have a hybrid app with a .net core razor page web application and Vue.js front SPA application which calls through to an api hosted by the razor

[2021-10-20 03:16] jennyf19 commented on #1443
@JFercan Can you provide your Startup.cs?

[2021-10-20 17:07] jennyf19 commented on #1494
@creativebrother do you have any thoughts on this one? thanks.

[2021-10-21 00:38] stephenjust commented on #9
@jennyf19 Latest version of Microsoft.Identity.Client does target netstandard2.1

[2021-10-21 02:02] jmprieur commented on #1448
@rymeskar : I'm still confused. Do the following work?

https://github.com/AzureAD/microsoft-identity-web/blob/af6b515e2e49a244e9de31c9feba18a6fd9467cf/src/Microsoft.Identity.Web.TokenCache/Distributed/DistributedTokenCacheAdapterExtension.cs#L18

and

https://github.com/AzureAD/microsoft-identity-web/blob/af6b515e2e49a244e9de31c9feba18a6fd9467cf/src/Microsoft.Identity.Web.TokenCache/InMemory/InMe

[2021-10-21 07:39] rymeskar commented on #1448
These are useful at startup (IServiceCollection).

The missing signature I had in mind is:
`public static IConfidentialClientApplication AddInMemoryTokenCache(
            this IConfidentialClientApplication confidentialClientApp,
            IServiceProvider serviceProvider)`

etc.

[2021-10-21 19:02] jennyf19 commented on #1439
what are you using in your controller?

[2021-10-22 11:47] melix-dev opened #1499 "[Bug] Setting OpenIdConnectOptions.EventsType to custom OpenIdConnectEvents results in MsalUiRequiredException"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.18.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory

[2021-10-27 13:55] vincentscheel opened #1501 "[Bug] TokenAcquisition for User Impersonation retrieves different token in Web App then locally"
**Which version of Microsoft Identity Web are you using?** Microsoft Identity Web 1.18.0

**Where is the issue?**

* Web app

  * [ ]  Sign-in users
  * [x]  Sign-in users and call web APIs
* Web API

  * [ ]  Protected web APIs (validating tokens)
  * [ ]  Protected web APIs (validating scopes)
  * [ ]  Protected web APIs call downstream web APIs
* Token cache serialization

  * [x]  In-memory ca

[2021-10-28 20:25] dotnetjunky opened #1505 "WebApi service calling downstream Graph API doesn't return all user data."
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.18.0
Microsoft.Identity.Web.MicrosoftGraphBeta 1.18.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [X] Protected web APIs call downstream web APIs

[2021-10-29 15:40] jwevansgam opened #1506 "Client Secret not being read from correct environment variable when using app service authentication v2"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.18.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory

[2021-10-29 19:13] jennyf19 commented on #1505
closing as external, but we can continue the conversation here.

[2021-10-29 19:13] #1505 closed

[2021-10-29 19:29] dotnetjunky commented on #1505
@jennyf19  why is it external? Isn't it related to the Microsoft.Identity.Web API? Could you please point me to the more appropriate place to ask this question?

[2021-10-29 19:37] jennyf19 commented on #1505
It's external because it's the Graph SDK. @darrelmiller was tagged earlier, he is from the Graph SDK.

[2021-10-29 20:36] dotnetjunky commented on #1505
@darrelmiller Do you have any hint as to why my code doesn't return all user data like the Graph Explorer?

[2021-10-30 02:24] jmprieur commented on #1505
@dotnetjunky reading https://stackoverflow.com/questions/48229949/get-all-user-properties-from-microsoft-graph, I believe that what you wrote should work

[2021-10-30 19:53] darrelmiller commented on #1505
The permission User.ReadBasic.All only allows you to get "display name, first and last name, email address, open extensions and photo."  https://docs.microsoft.com/en-us/graph/permissions-reference#delegated-permissions-73

Your Graph Explorer has probably been consented to User.Read.All so it can access all the information for all users.

[2021-10-31 00:10] dotnetjunky commented on #1505
@darrelmiller  Thanks for the answer. I checked Graph Explorer, and I saw that **User.Read.All** is _not_ consented, but **User.ReadWrite.All** is consented. I'm not clear how Graph Explorer can have the **User.ReadWrite.All** permission, given that it requires Admin consent. Any idea why?

[2021-10-31 00:11] dotnetjunky commented on #1505
This is the screenshot of the permissions.

![image](https://user-images.githubusercontent.com/7623075/139561691-b1869e8d-f5f2-4502-869f-9d2a32df614f.png)

[2021-11-01 01:12] darrelmiller commented on #1505
@dotnetjunky  CSEO has consented Graph Explorer to some permissions in the Microsoft tenant.  As Graph Explorer only makes delegated calls, users can only access information they have access rights for, even though Graph Explorer has been consented to User.ReadWrite.All.

[2021-11-01 06:27] thestillheron opened #1507 "[Bug] PrepareAuthorityInstanceForMsal() throws NullReferenceException"
**Which version of Microsoft Identity Web are you using?**
[code]

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     * [ ] Sess

[2021-11-01 07:32] dotnetjunky commented on #1505
Thank you for your explanation. That makes sense now.

[2021-11-01 07:36] dotnetjunky commented on #1505
@darrelmiller  Do you know who/how I can contact CSEO to request similar permissions for my app?

[2021-11-01 07:59] thestillheron commented on #1507
Digging a little deeper:
![image](https://user-images.githubusercontent.com/4918277/139639433-faa5899d-c50c-41d1-a1e6-91eb32404675.png)

It should be getting set here: https://github.com/AzureAD/microsoft-identity-web/blob/24645e5dcaecb8771e0b6709aafbebd00ccc45f3/src/Microsoft.Identity.Web/MergedOptions.cs#L288

But `confidentialClientApplicationOptions.Instance` is null when the update is run. Lo

[2021-11-01 09:22] thestillheron commented on #1507
It doesn't look like any of the mergeOptions are binding. In the debugger I see null for all the values that look to be correctly defined here in my app settings:
[code]

[2021-11-01 11:52] martinmeeser opened #1508 "[Bug] Reset Password and Edit Profile return with 'invalid_grant' only if GraphServiceClient is used"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.19-preview

**Where is the issue?**
* Web app
    * [ x ] Sign-in users
    * [ x ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ]

[2021-11-01 12:11] martinmeeser commented on #1508
Update: The issue appears as soon as I add
"ClientSecret": "jjj",
    "TenantId": "jkjkl",

to application.json.

Will try to instanciate graphclient from different config section.

so how to reproduce is:
add valid client secret and tenantid to appsettings "AzureAdB2C"

[2021-11-01 12:55] martinmeeser commented on #1508
Using two different sections in app-settings solved the issue. Not sure if I would still call it a bug.
It DID cost me a lot of time two get to the bottom of that. I must be made clearer in documentation IMHO.

Also I think the error message is not helping.

[2021-11-01 20:23] jmprieur commented on #1508
@martinmeeser what does your other section do? is it an AAD app? or a B2C app?

[2021-11-01 20:41] jmprieur commented on #203
Needed for MIS/Apps

[2021-11-01 20:56] jmprieur commented on #203
The easiest might be to add an async delegate in the `MicrosoftIdentityOptions`

[code]

We'd also need to fix this method to consider there are client credentials when there are client secrets, client
certificates or client assertions

https://github.com/AzureAD/microsoft-identity-web/blob/3c25e9256209193f3ea2e17f1de8b64b5093efae/src/Microsoft.Identity.Web/MicrosoftIdentityOptions.cs#L73

[2021-11-02 00:56] thestillheron commented on #1507
Worth noting at this line it's trying to look for options with the value "AzureAD", which is the AuthenticationScheme I'm using. In my config that section is labeled "AzureAd" (note the different casing). However, changing the config to line up with "AzureAD" did not resolve the issue.

https://github.com/AzureAD/microsoft-identity-web/blob/master/src/Microsoft.Identity.Web/TokenAcquisition.cs#L25

[2021-11-02 01:13] jennyf19 commented on #1487
Released in [1.19.0](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.19.0

[2021-11-02 01:13] #1487 closed

[2021-11-02 04:26] thestillheron commented on #1507
Note: I noticed 1.19.0 was released a few hours ago. I've retargeted to that, but I still experience the same problem.

[2021-11-02 15:44] jmprieur commented on #1507
@thestillheron :

why do you have this code?

[code]

It's mixing 2 generation of authentication libraries, which we didn't test. The `AddAzureAD` is being deprecated by the ASP.NET Core team.

I suggest you just replace that code by only:

[code]

[2021-11-03 01:14] thestillheron commented on #1507
Making that change has resolved the issue.

I did try removing the AddAzureAD call earlier, but experienced a different error. But I hadn't also changed the authentication scheme to `OpenIdConnectDefaults.AuthenticationScheme`.

Thanks very much for your assistance!

[2021-11-03 01:14] #1507 closed

[2021-11-03 18:09] jennyf19 commented on #1447
Updating the thread here:

so this [test is the issue](https://github.com/AzureAD/microsoft-identity-web/blob/ca9f7900910010a8084547dbcfe67a269fc8397e/tests/Microsoft.Identity.Web.Test/CacheExtensionsTests.cs#L30).

It's supposed to check that we use the same cca instance, but when checking the Distributed cache in the last line # 45, instead of the token source being cache, it's identity provider

[2021-11-04 10:47] mikeblakeuk opened #1515 "[Documentation] UseInMemoryTokenCaches vs AddInMemoryTokenCaches"
### Documentation related to component
https://github.com/AzureAD/microsoft-identity-web/wiki/asp-net

### Please check all that apply

- [ ] typo
- [ ] documentation doesn't exist
- [ ] documentation needs clarification
- [x] error(s) in the example
- [ ] needs an example

### Description of the issue
Please confirm .UseInMemoryTokenCaches  vs .AddInMemoryTokenCaches

[2021-11-04 16:35] superman-lopez opened #1516 "[Question] How to extend WWW-Authenticate header values?"
I am trying to extend the information in the response header when the authentication is challenged (the [reason](https://stackoverflow.com/q/64602313/10340388) for this is that I want MS Excel to connect to my Protected Web API).  After trying a few things I [got closest](https://stackoverflow.com/a/69841451/10340388) by customising the `JwtBearerOptions` configuration (see below).  However this c

[2021-11-04 22:54] jennyf19 opened #1521 "[Feature Request] add inmemoryoptions for .NET framework inMemoryCache"
We want to add an override of `TokenCacheExtensions.AddInMemoryTokenCache(IConfidentialClientApplication)` to provide a way for customers using Microsoft.Identity.Web.TokenCache with .NET FW to set the in memory token cache options in order to control the eviction and size of the cache.

We propose to have an override:
`TokenCacheExtensions.AddInMemoryTokenCache(IConfidentialClientApplication, Act

[2021-11-05 02:10] jennyf19 commented on #1521
https://github.com/AzureAD/microsoft-identity-web/wiki/asp-net#in-memory-token-cache-with-memorycacheoptions

[2021-11-05 03:44] jennyf19 commented on #1521
https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.20.0

[2021-11-05 03:44] #1521 closed

[2021-11-08 09:32] vincentscheel commented on #1501
Hi @jmprieur. Some time has passed and I am stil a little stuck on this. Getting a token now works, but after about one hour, the token is expired and I get an error from the StorageAccount API (Lifetime validation failed). Should the MSAL framework in the not take care of refreshing the token in the background?

I use the code from the sample linked in the original question (same startup as above

[2021-11-08 17:34] jmprieur commented on #1501
When you are using app service authentication, this is that service that should refresh the token.
If you disable app service authentication, then MSAL sill indeed to the refresh for you

Do you need app service authentication (and not just use the configuration in the appsettings.json)? Given your scenario is a bit advanced, you might want to do pure Microsoft.Identity.Web?

[2021-11-11 09:09] antoprd opened #1525 "Customize OpenIDConnect Events to add extra claims"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.20.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory

[2021-11-11 13:46] vincentscheel commented on #1501
Hi @jmprieur  Thank you for your pointer. This was in fact the reason for the token not refreshing. I did not figure those would impede on each other like this. You saved my day!

[2021-11-11 13:46] #1501 closed

[2021-11-11 14:29] husseinkorly commented on #1428
@jmprieur I just noticed this issue as well. It's not just happening with the template. We have couple of functions using the version 1.5.1 and when I tried to update them to the latest version 1.20.0 I started getting this exception.

[2021-11-11 15:13] GeorgeTTD commented on #1494
@jennyf19 @creativebrother Any update on this at all?

[2021-11-11 17:16] bgavrilMS opened #1526 "[Feature Request] In the L1/L2 cache, the L2 PUT and DELETE operations should be async fire and forget"
As per discussion with SharePoint cache owners, they have gotten a perf boost by executing L2 operations in 'fire and forget" mode. Particularly for Redis, PUT operations take a long time. The L1 cache will have been updated anyway.

Should only be done if L1 is enabled.

[2021-11-11 17:34] jennyf19 commented on #1494
not on my end @GeorgeTTD I hope to have time next week to revisit this.

[2021-11-11 19:01] jmprieur commented on #1526
How is this achieved, @bgavrilMS ?
By removing the await and adding a pragma disable?

[2021-11-11 19:16] gladjohn opened #1528 "[Feature Request] HYBRID SPA Integration with IdWeb"
Feature is described here: https://identitydivision.visualstudio.com/DevEx/_git/AuthLibrariesApiReview/pullrequest/3922?_a=files&iteration=17&base=16

Feature has already been implemented in MSAL.Net. Work to be done for ID WEB

- Add Hybrid SPA feature
- Add Unit tests
- Add Integration tests

This is a tracking item for adding feature to ID WEB

MSAL ,Net PR : https://github.com/AzureAD/microsof

[2021-11-11 21:48] foconnor-DS commented on #1428
I just spent hours on this. I've yet to find a combination of Microsoft.Identity.Web and Microsoft.NET.Sdk.Functions that play nice together.

[2021-11-11 23:10] m-hicks-OH commented on #880
@ChristopherHaws  well "Son-of-a-biscuit"...
[code]
the explicit setting of the response type did the trick.

My apologies for ghosting this thread... I ended up going with an explicit implementation of .AddOpenIdConnect because I ran out of time to dig deeper into this issue.

I'm going to try to use this (Microsoft.Identity.Web) again, as it will make calling MSGraph as a downstream API a heck o

[2021-11-12 12:36] bgavrilMS opened #1527 "[Bug] Setting options on the in-memory cache leads to a large perf hit (>100X) in multi-tenant apps"
When using the in-memory cache without options, the TokenCache package relies on MSAL's internal cache, which does not use JSON serialization. When setting eviction options however, it switches to use MemoryCache + json serialization. The latency of the cache drops significantly. See table below for app cache.

|                    Method | Tenants | TokensPerTenant |    Mean |    Error |   StdDev

[2021-11-12 15:42] bgavrilMS commented on #1526
No, you'd do

[code]

Have a look at this helper function that MSAL uses to perform refresh_in operation in the background: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/master/src/client/Microsoft.Identity.Client/Internal/Requests/SilentRequestHelper.cs#L70

[2021-11-12 16:24] jennyf19 commented on #1527
@bgavrilMS This is a .NET Core issue. Not an Id.Web issue. When there is eviction, there is CPU consumed to perform the eviction and there is serialization. How is this issue actionable in Id.Web?

[2021-11-12 16:46] jennyf19 commented on #1526
We considered doing this before, but we discussed with @henrik-me and went with a re-try on failure. We'd have to see if they have set the re-try callback and then do fire and forget.

[2021-11-12 16:56] bgavrilMS commented on #1526
I was thinking about that as well. Maybe the re-try can be part of the fire and forget logic

[code]

[2021-11-12 17:19] bgavrilMS commented on #1527
No, I'm not talking about the eviction perf hit, that's negligible / expected. I am talking about 2 things:

1. MSAL's internal cache does not have eviction policies. So TokenCache package has to use MemoryCache instead of MSAL's internal cache. This implies JSON which leads to the perf hit above. As such, the API behaves in an unexpected way.

2. On .NET classic, the TokenCache package does not e

[2021-11-12 19:35] jmprieur commented on #1527
@bgavrilMS : I'm confused about why this issue is on Id.Web:
1. Is determined by MSAL.NET
2. IdWeb will be updated as soon as MSAL.NET ships (as usual)?

[2021-11-12 23:23] tomseida commented on #1385
I also am encountering this exception and tried the workaround specified by Choonster on Sept 12 comment. I am receiving the same exception blakesparkes. I using MIW 1.20.0. Is there a way to solve this issue?

[2021-11-13 04:11] jmprieur commented on #1525
@antoprd, you need to specify the authentication scheme:

[code]

or (as you are only setting OpenIdConnectOptions)

[code]

Also:
- you should not new-up a TokenValidationParameters, as you are removing the settings that Microsoft.Identity.Web produces
  `options.TokenValidationParameters.NameClaimType = "name";`
- you should chain the events, as you suppress all the processing that Microsoft.Ide

[2021-11-13 09:57] antoprd commented on #1525
That worked smoothly. Thank you for the help.

P.S.
I am not sure if I can avoid calling GetAccessTokenForUserAsync before calling my API and use the current token instead.
I don't know, it looks like I am generating a sort of loop, because it takes a bit to respond. I will see if I can make it work in a more elegant way.

In the meanwhile, I attach the updated code for completeness.

Merci.

[cod

[2021-11-14 08:20] DaveVdE opened #1529 "msidentity-app-syn needs to support .NET 6 simplified templates"
I'm trying out the new templates for .NET 6, mainly the `webapi` template that includes support for MS identity. In the created `appsettings.json` file, I find the following link:

[code]

When following that link I read how to install and use the `msidentity-app-sync.exe` tool to configure my app settings. However, when trying to use this tool, I'm greeted with the following message:

[code]

Con

[2021-11-14 10:29] digitalanalogue9 commented on #1428
Please could I confirm that after adding <_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput> to the csproj file that you see this exception when you execute AuthenticateAzureFunctionsAsync ?

System.Private.CoreLib: Exception while executing function: WeatherForecast. Microsoft.Identity.Web: Method not found: 'Microsoft.IdentityModel.Tokens.TokenValidationParameters Microsoft.AspNetCore.Au

[2021-11-15 03:33] jmprieur commented on #1525
I'm glad this worked.
Thanks for sharing your implementation, @antoprd

[2021-11-15 03:38] jmprieur commented on #1527
@bgavrilMS : do we want `app.AddInMemoryTokenCache()` to set the static cache both for the app token cache and app token cache? (I would think so)

[2021-11-15 03:59] jmprieur commented on #1516
@tratcher, would you know?

[2021-11-15 10:40] bgavrilMS commented on #1527
Hi @jmprieur.

I believe this is a bug, not a feature request. From an app developer perspective, the history or interaction of MSAL / TokenCache package is not relevant. What is relevant is the API surface:

[code]

For an app developer, this is a surprise, as a simple eviction option should not be so slow. We know the root case (json serialization).

[2021-11-15 16:27] jmprieur commented on #1527
@bgavrilMS how is this actionable in the Microsoft.Identity.Web library?
can Microsoft.Identity.Web use reflection to access the MSAL cache directly?

[2021-11-15 16:36] bgavrilMS commented on #1527
I think that `AddInMemoryCache` should at least have an API comment stating this perf problem as a known issue.

If it's easier to deal with GH issues, let's move the TokenCache project to MSAL repo. This will better align it with the releases of MSAL and should not have an impact of Id.Web, as long as we agree to maintain the existing version numbers.

[2021-11-15 16:40] jmprieur commented on #1527
Ok. I get it now it was a documentation issue. Why didn't you clearly express it in the first place.

Let's take the movement of the NuGet packages from one repo to another later, part of my bigger vision document consolidating feature between Wilson, MSAL, SAL, MISE, Id.Web (to come in the future), so that features are where they should be, not where they were developed historically.
I'd want to

[2021-11-15 16:47] bgavrilMS commented on #1527
@jmprieur - MSAL 4.38 will not have a static cache with eviction. It will just allow non-ASP.NET Core apps to configure the cache. The eviction issue remains.

[2021-11-15 16:49] jmprieur commented on #1527
@bgavrilMS : i understand what you meant now. We'll update the doc

[2021-11-16 01:44] superman-lopez commented on #1516
Thanks, I will review this!

[2021-11-16 01:44] #1516 closed

[2021-11-16 13:08] vvolodin opened #1531 "[Bug] GetEffectiveAuthenticationScheme change breaks a complex auth setup"
**Which version of Microsoft Identity Web are you using?**
1.12.0

**Where is the issue?**
* Web app
    * [x ] Sign-in users
    * [x ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     * [ ] Se

[2021-11-16 13:19] vvolodin commented on #1531
I've used overloads that specify authentication scheme explicitly and it helped. But I still wonder if I'm missing something that will come up later.

[2021-11-16 21:16] Peter-Juhasz opened #1532 "Still references potentially vulnerable Microsoft.AspNetCore.Authentication.JwtBearer 5.0.0 package"
**Which version of Microsoft Identity Web are you using?**
1.20.0

**Where is the issue?**
Package doesn't support .NET 6 yet and references a vulnerable .NET 5 package, and our build breaks on dependency vulnerability scan.

**Repro**
[code]
or
[code]

**Expected behavior**
No vulnerable transitive dependencies.

**Actual behavior**
`dotnet list App.sln package --vulnerable --include-transitive`

[2021-11-17 16:45] jennyf19 commented on #1531
In Startup.cs, you need to have `services.AddAuthentication(OpenIdConnectDefaults.AuthenticationScheme)` but you should just have `services.AddAuthentication()` for the cookies. Are you using 1.20 (latest version)?

[2021-11-17 16:50] jennyf19 commented on #1515
I have updated the documentation, we only have .AddInMemoryTokenCache(). Thanks for opening the issue.

[2021-11-17 16:50] #1515 closed

[2021-11-17 17:02] jmprieur commented on #1527
Fixed by https://github.com/MicrosoftDocs/azure-docs/pull/83982

[2021-11-17 17:03] #1527 closed

[2021-11-18 07:19] t0mgerman commented on #1494
@GeorgeTTD I am experiencing the problem you referenced on [20 Oct](https://github.com/AzureAD/microsoft-identity-web/issues/1494#issuecomment-947828370) (getting 302 instead of 401)

I've tried adapting your `OnRedirectToIdentityProviderFunc` method as a workaround but I take it the call to `HandleResponse` stops the additional response handling that occurs in the code for the `AuthorizeForScopes

[2021-11-18 17:41] t0mgerman commented on #1494
@creativebrother 's post here worked for me in terms of getting a 401 back using `AuthorizeForScopes`
https://github.com/AzureAD/microsoft-identity-web/issues/603#issuecomment-703316365

but I was continually prompted for consent as though the token / session cookie wasn't being updated on the client-side or something.

I tried it a different way - based on the docs [here](https://github.com/Azure

[2021-11-18 19:24] sangs-msft opened #1535 "Azure Region not prepended to the endpoint while using ESTS-R with Microsoft.Identity.Web 1.19.0"
**Which version of Microsoft Identity Web are you using?**
 E.g. Microsoft Identity Web 1.19.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [x] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [x] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-

[2021-11-18 23:47] xubinzheng opened #1536 "[Bug] TenantId is not honor in .WithAppOnly() extension"
**Which version of Microsoft Identity Web are you using?**
**Microsoft Identity Web 1.20.0**

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [x] Protected web APIs call downstream web APIs
* Token cache serialization
     * [x] In-me

[2021-11-19 09:28] lsiepel commented on #1440
Will be testing if this issue still persists for the latest version. Is there anything i can do to help fix this issue?

[2021-11-19 21:01] #1535 closed

[2021-11-20 05:42] jennyf19 commented on #1536
Included in [1.21.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.21.0)

[2021-11-20 05:42] #1536 closed

[2021-11-20 05:42] jennyf19 commented on #1414
Included in [1.21.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.21.0)

[2021-11-20 05:42] #1414 closed

[2021-11-20 05:42] jennyf19 commented on #1535
Included in [1.21.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.21.0)

[2021-11-20 05:42] jennyf19 commented on #1532
Included in [1.21.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.21.0)

[2021-11-20 05:42] #1532 closed

[2021-11-21 19:37] Cogax commented on #1428
I do have the same problem as @digitalanalogue9

[2021-11-22 08:43] davidkarlsson commented on #1440
@jennyf19 Were you able to reproduce this error with 1.16.1 or later with the test repo I created?

[2021-11-23 08:21] setiseeker opened #1544 "[Documentation] When using the AllowWebApiToBeAuthorizedByACL option, there is no documentation how to setup an Access Control List"
### Documentation related to component
Authentication - AllowWebApiToBeAuthorizedByACL

### Please check all that apply

- [ ] typo
- [x ] documentation doesn't exist
- [x ] documentation needs clarification
- [ ] error(s) in the example
- [ ] needs an example

### Description of the issue
When reading the wiki about WebAPI's [((https://github.com/AzureAD/microsoft-identity-web/wiki/Azure-Function

[2021-11-23 14:19] thecodetinker commented on #1360
I was very glad to stumble across this issue, because I've been trying for hours to understand why my code has stopped working after migrating to `Microsoft.Identity.Web`! Can you please recommend a workaround until this is fixed (hopefully soon - seems like a pretty major security hole)? Something like the following maybe?

[code]

[2021-11-24 02:27] #1525 closed

[2021-11-24 06:36] setiseeker commented on #1544
@jmprieur I did see this, I am asking for more documentation related to this statement: "this is your responsibility to ensure the ACL mechanism."
Where do I find more information about ensuring the ACL mechanism?

[2021-11-24 18:05] jmprieur opened #1546 "[Compliance] Add the BOM generation to the release builds"
**Is your feature request related to a problem? Please describe.**
Compliance: add the BOM generation to the release builds

**Describe the solution you'd like**
See [ADA SBOM generator](https://www.1eswiki.com/wiki/ADO_sbom_Generator#Classic_Pipelines)

[2021-11-25 16:22] Mitars opened #1548 "[Bug] Not compatible with .NET 6 and Azure Functions when calling AddMicrosoftIdentityWebApi"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.21.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory

[2021-11-30 15:10] marshall86 opened #1550 "Now that MSAL 2 has shipped this should be re-opened - currently there is no viable way to use MSAL with Ionic apps that are intended for both browser and native, and I imagine this is the same of other hybrid frameworks"
Now that MSAL 2 has shipped this should be re-opened - currently there is no viable way to use MSAL with Ionic apps that are intended for both browser and native, and I imagine this is the same of other hybrid frameworks

_Originally posted by @jjgriff93 in https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1439#issuecomment-672944505_

[2021-12-01 05:24] chintanr97 opened #1551 "[Bug] Configuring multiple authentication schemes using Microsoft Identity Web"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.16.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [x] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory

[2021-12-01 06:04] jmprieur commented on #1551
Thanks @chintanr97
This is indeed more a question for the ASP.NET core team.

Meanwhile, if you use `[Authorize(AuthenticationSchemes="AzureAd2")}` in your controller, this should work?

[2021-12-01 06:24] jmprieur commented on #1360
@jpda @thecodetinker
I investigated, and it turns out that ASP.NET Core always adds an issuer to the TokenValidationParameters.Issuers. The Issuer which is fetched from the OpenIdConnectConfiguration (From the `issuer` property of the `https://login.microsoftonline.com/{tenant}/v2.0/.well-known/openid-configuration` metadata document)

Then the other ValidIssuers are appended to this one.

This is

[2021-12-01 06:34] jmprieur commented on #1544
@hpsin would you know if we have a doc? (I would think a generic Azure doc, not particular for the ACL for a service principal?). I have not found it either.

[2021-12-01 06:42] jmprieur commented on #1528
## Proposed design:
- Add a boolean requestSpaAuthCode in MicrosoftIdentityOptions
- in TokenAcquisition.cs, add a call to WithSpaAuthCode to AcquireTokenByAuthorizationCode if requestSpaAuthCode is present, and when receiving the auth code from the AuthenticationResult, and store it in the session (for instance as `SpaAuthCode`): `HttpContext.Session["SpaAuthCode"] = spaAuthCode;`

In the control

[2021-12-01 07:56] chintanr97 commented on #1551
Hi @jmprieur,

Thanks a lot for your response. While I am waiting for the response from ASP.NET core team (issue linked in previous comment), I tried out the change you recommended.

As a requirement, we need to allow authentication using both the schemes along with some other requirement settings on the authorization policy. Therefore, we use our `AddAuthorization` call as follows:

[code]

Follo

[2021-12-01 18:22] blowdart commented on #1544
A link to https://docs.microsoft.com/en-us/aspnet/core/security/authorization/introduction?view=aspnetcore-6.0 wouldn't hurt, because for functions is still asp.net under the hood.

[2021-12-01 19:33] setiseeker commented on #1544
I do think a link to the page that @blowdart pointed to would help,
specifically this linked article: https://docs.microsoft.com/en-us/aspnet/core/security/authorization/claims?view=aspnetcore-6.0

[2021-12-02 03:18] jmprieur commented on #1544
Thanks for the feedback
authorization policies (the article just after) were referenced from https://github.com/AzureAD/microsoft-identity-web/wiki/authorization-policies. I added a reference to the claim based authorization as well

This does not cover the ACL, though

[2021-12-02 03:40] blowdart commented on #1544
The policy implementation would be the ACL would it not?
________________________________
From: Jean-Marc Prieur ***@***.***>
Sent: Wednesday, December 1, 2021 7:18:34 PM
To: AzureAD/microsoft-identity-web ***@***.***>
Cc: Barry Dorrans ***@***.***>; Mention ***@***.***>
Subject: Re: [AzureAD/microsoft-identity-web] [Documentation] When using the AllowWebApiToBeAuthorizedByACL option, there is no

[2021-12-07 23:14] WenningQiu opened #1555 "Weird "Unable to unprotect the message.State" error"
My Web app uses Microsoft.Identity.Web and Microsoft.Identity.Web.UI (1.16.1) to authentication the users. The Web apps are behind BIG-IP for load-balancing and redundancy.

I recently run into an authentication error (500 on the callback URL) on a particular workstation with the browser hitting the load balancer. The Fiddler trace (attached) shows that the .AspNetCore.Correlation and .AspNetCore.

[2021-12-07 23:34] jmprieur commented on #1555
Hello @WenningQiu
Did you read this article?
https://github.com/AzureAD/microsoft-identity-web/wiki/Deploying-Web-apps-to-App-services-as-Linux-containers#issue-with-scaled-out-web-apps-in-app-services

[2021-12-08 12:39] thecodetinker commented on #1360
Hi again and thanks for the update. I'm a bit unsure about overriding the `IssuerValidator` delegate - from what I can see the default does a lot of checking that would need replicating. Did you have any luck with the ASP.NET Core team, or the possible solutions proposed by @jpda ?

[2021-12-08 17:42] WenningQiu commented on #1555
Thanks @jmprieur, I just read it.

We addressed the server affinity issue by turning on BIG-IP persistent connections so all HTTP messages for one authentication attempt are directed to the same server. I think the "Unable to unprotect the message.State" error I am getting is probably related to .AspNetCore.Correlation and .AspNetCore.OpenIdConnect.Nounce cookies not being included in the HTTP req

[2021-12-08 17:47] jmprieur commented on #1555
@tratcher do you have an idea?

[2021-12-08 18:26] Tratcher commented on #1555
Can you share a Fiddler trace of the login flow? Cookies wouldn't be included in subsequent requests if their attributes were wrong on the first response.

[2021-12-08 19:15] WenningQiu commented on #1555
@Tratcher The fiddler trace was included in the original post.

[2021-12-08 19:26] Tratcher commented on #1555
So it was 😁.

I see the first request is HTTP and the second is HTTPS. Does it work if the first is changed to HTTPS?

Everything else in the trace looks fine.

[2021-12-08 19:44] WenningQiu commented on #1555
@Tratcher I think that's the root cause. I was messing with the browser's cache and probably had lost HSTS cache and then accidently used HTTP instead of HTTPs...

Thanks a lot!

[2021-12-08 23:07] jmprieur commented on #1555
Thanks @Tratcher

[2021-12-08 23:07] #1555 closed

[2021-12-09 06:29] chintanr97 opened #1556 "[Feature Request] Load multiple enabled versions of the same certificate easy rollover for token decryption"
**Is your feature request related to a problem? Please describe.**
Today, rotation of token encryption/decryption certificates is very complex (in our case for first-party). This is because, if I am using the AKV to generate my certificates, I need to achieve following manual steps during rotation:

1. The API code will have 2 certificates for decryption: `C1` and `C2`. Upon a fresh start it will

[2021-12-10 15:33] LaurensAdema commented on #1417
@jmprieur Any updates on this?

[2021-12-10 23:49] newbiedev123 commented on #1548
I am also having the same issue. But before getting the error mentioned in the above comment, I am also getting a popup to download a class.

![image](https://user-images.githubusercontent.com/81688354/145654808-56d975a6-d410-49c2-a848-1de2ec0530d3.png)

[2021-12-11 08:04] newbiedev123 opened #1557 "[Documentation] Using On Behalf of flow in Azure Functions"
### Documentation related to component
Using On Behalf of flow in Azure Functions

### Please check all that apply

- [ ] typo
- [x ] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in the example
- [ ] needs an example

### Description of the issue
Is it possible to use On behalf of flow in Azure Functions using Microsoft.Identity.Web? Could not find any documen

[2021-12-13 03:36] jmprieur commented on #1417
@LaurensAdema sorry for the delay.

Do you use a specific authentication scheme? How do you call AddMicrosoftIdentityWebApp ? can you share that portion of your startup.cs ?

[2021-12-14 17:34] mevans-medpace opened #1560 "[Bug] Cannot call the same downstream API using different authority types for client and user calls"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.21.1

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [X] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory

[2021-12-15 03:51] y2kbugger commented on #1218
@jennyf19 I think I still get this on current (and 1.10.0 1.11.0, 1.12.0) my setup might be different or I might be misunderstanding what these settings do.

I can say that the following settings have no effect on what comes out the the `AuthenticationStateProvider` (`Microsoft.AspNetCore.Components.Server.ServerAuthenticationStateProvider`)

[code]

[2021-12-15 14:25] Louspirit commented on #1316
For me it was a problem with the `appSettings.json` not read because I launched the app from another folder... Ok the appsettings is gotten automatically but I didn't know it was relatively.

[code]

For me the ":" character is not allowed in App Service. But it can be set with double underscores if I remember well.

[2021-12-17 10:55] LaurensAdema commented on #1417
@jmprieur We've made an extension on the `AuthenticationBuilder` for our applications.

We call the builder in the Startup like this:
[code]
The extension looks something like this:
[code]

Note that only adding `EnableTokenAcquisitionToCallDownstreamApi` is enough for principal to be null.
But just calling `AddMicrosoftIdentityWebApp` does work.

[2021-12-20 08:53] ferronsw opened #1563 "[Documentation] Switching tenant in runtime"
### Documentation related to component
OpenId

### Please check all that apply

- [ ] typo
- [X] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in the example
- [ ] needs an example

### Description of the issue
Hello,

I've a multi tenant app that is accessible trough multiple domain names. The user view is based on their tenantId.
The problem is that I want to

[2021-12-22 08:46] bgavrilMS opened #1566 "[Bug] Eviction is not set on L2 token cache nodes"
**Which version of Microsoft Identity Web are you using?**
1.21.1

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     * [ ] Sess

[2021-12-22 08:47] bgavrilMS commented on #1566
PS: I created the "token acquisition" label for bugs that should be handled by the MSAL team. Token cache bugs fall into this category.

[2021-12-22 09:25] Choonster commented on #1440
Similar to #1385, this seems to be caused by the options merge not being triggered. I worked around this by getting the `IOptionsMonitor<OpenIdConnectOptions>` instance (from `HttpContext.RequestServices` in my case) and calling `Get("OpenIdConnect")`.

[2021-12-22 11:17] chris5287 opened #1567 "Should the `preferred_username` claim be used for User.Identity.Name?"
https://github.com/AzureAD/microsoft-identity-web/blob/5d73a59029ce86833fe6f3f982587a2a715b9f12/src/Microsoft.Identity.Web/AppServicesAuth/AppServicesAuthenticationInformation.cs#L195

Based on Microsoft's own documentation the `preferred_username` claim should not be used to identity a user and make authorization decisions, so is this really the best claim to populate User.Identity.Name field?

!

[2021-12-22 11:37] bgavrilMS commented on #1567
Internally Microsoft.Identity.Web and the underlying Microsoft.identity.Client library rely on the `tid` + `oid` claims to tell accounts apart. The "name" claim is for display purposes.

[2021-12-22 12:22] chris5287 commented on #1567
Is this exposed in the User.Identity object anywhere or any guidance documentation provided?

I feel like this is a very easy hole to fall down when .NET devs are used to using User.Identity.Name to capture a user's unique identity to use in application profiles 😔

[2021-12-22 12:48] AABhatt commented on #222
I am using version 1.21.1 of Microsoft.Identity.Web. But still getting same error that mentioned.

[2021-12-23 01:37] jennyf19 commented on #13
closing as documented by @jmprieur above.

[2021-12-23 01:42] jennyf19 commented on #59
@tigertop If you provide all the scopes upfront in `EnableTokenAcquisition`, then you will have the same effect.

Closing as won't fix.

[2021-12-23 01:42] #59 closed

[2021-12-23 01:43] jennyf19 commented on #110
closing, as will be handled by open source SAL.

[2021-12-23 01:43] #110 closed

[2021-12-23 01:46] jennyf19 commented on #203
POC started [here](https://github.com/AzureAD/microsoft-identity-web/tree/clientAssertions)

[2021-12-23 01:48] jennyf19 commented on #516
@henriksen Is this still repro'ing with the latest version of Id.Web? wondering as we did a fix for anonymous controllers.

[2021-12-23 01:51] jennyf19 commented on #685
Needs to be re-tested, as CAE might be working now.

[2021-12-23 01:53] jennyf19 commented on #837
I need to check if this still repros.

[2021-12-23 01:55] jennyf19 commented on #852
@gladjohn do you want to take a look at this?

[2021-12-23 01:56] jennyf19 commented on #853
@bradtwurst Does this still repro with the latest Id.Web version?

[2021-12-23 01:59] jennyf19 commented on #936
closing, unless @felinepc needs more assistance.

[2021-12-23 01:59] #936 closed

[2021-12-23 02:01] jennyf19 commented on #953
Update to use Policies

[2021-12-23 02:02] jennyf19 commented on #962
Sorry we didn't get back to you @sgesweinFusion. I believe this is fixed in the .NET 6 templates. Please re-open if needed.

[2021-12-23 02:02] #962 closed

[2021-12-23 02:02] #984 closed

[2021-12-23 02:04] #1035 closed

[2021-12-23 02:04] jennyf19 commented on #1045
done.

[2021-12-23 02:04] #1045 closed

[2021-12-23 02:05] jennyf19 commented on #1063
Duplicate of #891

[2021-12-23 02:07] jennyf19 commented on #1069
closing. This was fixed in [1.18.0](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.18.0)

[2021-12-23 02:07] #1069 closed

[2021-12-23 02:09] jennyf19 commented on #1087
This was included in 1.15.0 release.

[2021-12-23 02:09] #1087 closed

[2021-12-23 02:11] #1095 closed

[2021-12-23 02:12] jennyf19 commented on #1112
@henriquebelotto Fixed in 1.18.0 release. closing.

[2021-12-23 02:12] #1112 closed

[2021-12-23 02:24] #1213 closed

[2021-12-23 02:25] jennyf19 commented on #1235
check on service side if this is fixed.

[2021-12-23 02:34] jennyf19 commented on #1259
@TropicalThunder Can you provide a link to your code or a repo we can try? Thanks.

[2021-12-23 02:35] jennyf19 commented on #1279
@NWessel Long running process has a better dev ex starting in [1.21.0](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.21.0).

[2021-12-23 02:35] #1279 closed

[2021-12-23 02:36] jennyf19 commented on #1280
@alexandrejobin I believe this was fixed. Does it repro with the latest version of Id.Web? If so, please re-open.

[2021-12-23 02:36] #1280 closed

[2021-12-23 02:40] jennyf19 commented on #1307
@avdv Does this repro with the latest Id.Web? I believe this, or something similar, was fixed with the multiple authentication schemes work. Please re-open if the issue persists. Thanks.

[2021-12-23 02:43] jennyf19 commented on #1320
@TheXenocide Are there open questions or issues? Going to close, but please re-open if there is more to discuss here. Thank you.

[2021-12-23 02:43] #1320 closed

[2021-12-23 02:47] jennyf19 commented on #1324
@throck95 Does this repro with the latest Id. Web? We've fixed the AadIssuerValidator, which we now pull from Microsoft.IdentityModel.Validators.

Please re-open if the issue persists.

[2021-12-23 02:47] #1324 closed

[2021-12-23 02:47] jennyf19 commented on #1333
closing, please re-open with update. Thanks, @atrevers

[2021-12-23 02:47] #1333 closed

[2021-12-23 02:49] jennyf19 commented on #1350
Closing, as we need more info. Please re-open if needed. Thanks, @LeonorTeixeiraUA .

[2021-12-23 02:49] #1350 closed

[2021-12-23 02:56] jennyf19 commented on #1567
@chris5287 The Name claim is a display name and should never be used to make authorization decisions, because it's too generic and can be changed (it can be anything). You would want to use `User.GetMsalAccountId()` or roles or groups to make authorization decisions. See these [samples](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/5-WebApp-AuthZ)

[2021-12-23 02:56] #1567 closed

[2021-12-23 03:01] jennyf19 commented on #1526
closing as duplicate of #1047

[2021-12-23 03:01] #1526 closed

[2021-12-23 03:27] jennyf19 commented on #1440
sorry for the delay in responses. will take a look.

[2021-12-23 15:50] jsquire opened #1568 "IDW10502: An MsalUiRequiredException was thrown due to a challenge for the user"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#26043](https://github.com/Azure/azure-sdk-for-net/issues/26043).

### Please be aware that @AABhatt is the author of the original issue and include them for any questions or replies.

## Details

I have set 👍

[code]

but while getting token with `await _tokenAcquisition.GetAccessTokenForUserAsync(scope);`

[2021-12-24 01:19] jennyf19 commented on #1568
@AABhatt can you provide a link to your code or share a repro? there are a lot of variables in play which could cause this. Are you a web app or a web API?

[2021-12-24 04:59] AABhatt commented on #1568
Hi @jennyf19 . Let me explain the things in detail. I want to get an notification when email arrives in user's mailbox.

1. For that I have created one web app where user logs in user Azure AD credential
2. I created one Web api from where I subscribe and getting notification from Graph Api.
3. From web app I am calling web api to subscribe by passing token
4. In Web api, I subscribe for log in us

[2021-12-24 05:20] jennyf19 commented on #1568
@AABhatt thanks for the details.

I think instead of the timer in this [example](https://github.com/AzureAD/microsoft-identity-web/wiki/get-token-in-event-handler), use your listen method, and instead of using this `LongRunningWebApiSessionKeyAuto`, you can use the subscriptionId + userId, or whatever you want.

[2021-12-25 14:00] sander1095 commented on #1420
Any updates :)?

[2021-12-29 01:30] jmprieur commented on #1560
Thanks for raising this issue, @mevans-medpace
this is a recent regression introduced by MSAL.NET when it started preventing to override the environment.
cc: @bgavrilMS

[2021-12-29 01:31] jmprieur commented on #1560
@jennyf19 : to work around this issue, we could create one confidential client application by authentication scheme, and keep them in a dictionary in the TokenAcquisition.

[2021-12-29 01:38] jmprieur commented on #1499
@melix-dev : you'd want to derive from `MicrosoftIdentityOptions` (which itself derives from `OpenIdConnectOptions`)

There are simpler ways to override the OnTokenValidated event though: See https://github.com/AzureAD/microsoft-identity-web/wiki/customization#openidconnectoptions

[2021-12-29 01:39] #1499 closed

[2021-12-29 01:40] jmprieur commented on #1449
Closing as answered, feel free to reopen, @qetza

[2021-12-29 01:40] #1449 closed

[2021-12-30 05:44] AABhatt commented on #1568
@jennyf19  Thanks for your providing information on that. But I doubt when Web API restart, would Web Api retain identity of every users who created subscription. Could you please have suggestion on that?

[2021-12-30 16:15] Anakael opened #1571 "[Question] RequiredScope doesn't work (for web APIs called by daemon apps)"
**Which version of Microsoft Identity Web are you using?**

1.21.1

**Where is the issue?**
* Web API
    * [ ] Protected web APIs (validating scopes)

**Is this a new or an existing app?**

This is a new app or an experiment.

**Repro**

[code]

**Expected behavior**

Request finished with 403 code when pass scope `myScopeNameM2M`.

**Actual behavior**

Request finishes with 200 code

**Additiona

[2021-12-31 17:41] jennyf19 commented on #1571
@Anakael I cannot repro:
<img width="1230" alt="image" src="https://user-images.githubusercontent.com/19942418/147834282-f9b82f34-6c6d-452c-8cc7-8508c0818a1e.png">

Can you share what you have in your Startup.cs? Thanks.

[2021-12-31 21:04] Anakael commented on #1571
I did nothing special for it. Did I miss something?

[2021-12-31 23:28] jennyf19 commented on #1571
I would need more information from your Startup.cs. Do you have the same content as when you do `dotnet new webapi --auth SingleOrg`?

[2022-01-02 06:11] jmprieur commented on #203
Need to add an aka.ms link:
https://aka.ms/ms-id-web/client-assertions

[2022-01-02 06:13] jmprieur commented on #203
Re-opening to think of adding the aka.ms link and the documentation

[2022-01-03 17:06] jmprieur commented on #1568
@AABhatt : you can use any key that makes sense to you.
When the web API restart, provided it has token cache serialization which is not in memory, this will work fine. See https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-token-cache-serialization?tabs=aspnetcore

[2022-01-03 17:06] #1568 closed

[2022-01-04 17:27] husseinkorly commented on #1243
@jennyf19 @jmprieur
I am not sure how this was validated, but I just got a chance to test it because we have a decryption cert expiring in few weeks. I configured the function with a second decryption cert, and it looks like the library only try the first certificate to decrypt the cert! it is not using the second cert if the first one fails.

![image](https://user-images.githubusercontent.com/349

[2022-01-04 19:20] husseinkorly opened #1575 "[Bug] configuring multiple decryption certificates when rotating a cert"
**Which version of Microsoft Identity Web are you using?**
1.14.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [x] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     * [ ] Sess

[2022-01-05 10:18] chintanr97 commented on #1556
Hi Team,

I wanted to check for any update on this. It would be really useful to have this feature get a closer to what auto-rotation would look like. Any thoughts on this would be really useful.

Regards,
Chintan Rajvir

[2022-01-05 10:21] TanyaMykhnevych opened #1576 "[Bug] RequiredScope Attribute does not work with Azure Functions"
**Which version of Microsoft Identity Web are you using?**
1.21.1

**Where is the issue?**
* Web API
    * [ ] Protected web APIs (validating scopes)

**Is this a new or an existing app?**
This is a new app or an experiment.

**Repro**

[code]

**Expected behavior**
Required scope should work with Azure Functions

**Actual behavior**
RequiredScope Attribute is ignored. VerifyUserHasAnyAcceptedScop

[2022-01-05 16:52] spacattac commented on #1571
I've run into this issue as well, repro'd in 2 different projects.  What's interesting is it works/doesn't work as follows:

- **works**:  for access_tokens that are on-behalf-of-the-user via the authorization_code flow the RequiredScope attrib is working as expected
- **doesn't work**:  for access_tokens via client_credentials flow the RequiredScope attribute does not work (should return Forbidde

[2022-01-05 17:00] willportnoy opened #1577 "[Bug] unclear support for Net Framework, code excluded from compile"
Most of the entry points (e.g. AddMicrosoftIdentityWebAppAuthentication) seem to be excluded from the Net Framework compilation of this library:

https://github.com/AzureAD/microsoft-identity-web/blob/master/src/Microsoft.Identity.Web/Microsoft.Identity.Web.csproj#L112

Is this library usable within Net Framework?

It seems to be a NuGet target framework:

https://www.nuget.org/packages/Microsoft.

[2022-01-05 17:49] jmprieur commented on #1577
@willportnoy : Microsoft.Identity.Web has limited support for .NET Framework as explained in: [Minimal support for .NET FW Classic](https://github.com/AzureAD/microsoft-identity-web/wiki/asp-net)

We have a goal of providing the full experience for .NET framework, but, to be honest, this is not the highest priority, given ASP.NET FW is in maintenance mode (wheareas a lot of innovation happens in A

[2022-01-05 17:54] jmprieur commented on #1571
Thanks for the explanation, @spacattac. This is by design (and to follow the protocol), but I realize that the design might not be very good, so I'm tempted to start a discussion with the group to simplify things

What happens is:
- Web APIs called on behalf of users need to verify the Scopes.
- Web APIs called on behalf of an app (a daemon app) need to verify app roles

But from the point of view

[2022-01-05 17:58] jmprieur commented on #1576
@TanyaMykhnevych : how do you create your Azure function? Which generation of Azure functions is it? Did you follow a document that led you to use [RequiredScope]

[2022-01-05 18:16] spacattac commented on #1571
Thanks @jmprieur .  i had read that msft docs link and i didn't really understand why the daemon app couldn't/wouldn't use the scope the same way and didn't understand what an app role is/was.  in reading more about Azure AD last night i did learn about the app registration and that app role designation is part of that registration.  that explains why i didn't/don't really know what it is - i'm no

[2022-01-05 18:28] jmprieur commented on #1571
Thanks for the explanation, @spacattac.
`RequiredScopes` just [checks](https://github.com/AzureAD/microsoft-identity-web/blob/7b62b3dcc3861c4a0eca1b8561b0bdaec32c1977/src/Microsoft.Identity.Web/Policy/ScopeAuthorizationRequirement.cs#L41) at the `scp` or `http://schemas.microsoft.com/identity/claims/scope` claims. If Okta generates these, you should be good.

[2022-01-05 18:30] spacattac commented on #1571
Thanks @jmprieur - yes, okta does generate the scope (scp) claim.  i don't understand why the call to HttpContext.VerifyUserHasAnyAcceptedScope(scopeRequiredByApi); works for me but [RequiredScopes(scopeRequiredByApi)] does not.  It seems to me there should be parity with these.

[2022-01-05 18:37] jmprieur commented on #1571
I guess we'd need to see the structure of the token to understand this question? Are you using app.UseAuthorization? Did you customize the Authorization policies?

[2022-01-05 18:38] jmprieur commented on #1576
@jennyf19. Let's remove the obsolete attribute on `VerifyUserHasAnyAcceptedScope` until we have a good solution for Azure Functions

[2022-01-05 19:16] spacattac commented on #1571
@jmprieur i'll grab some code and/or screen snippets to share/show ...

[2022-01-05 19:28] willportnoy commented on #1577
@jmprieur I'm using ASP.NET Core with Net Framework.

ASP.Net Core (web framework) is packaged as Net Standard (library format) and can be used in Net Framework (runtime environment).

Moving our runtime environment from Net Framework to Net Core requires a substantial effort e.g. all library dependencies have to be available as netstandard or netcore.

[2022-01-05 19:31] spacattac commented on #1571
here's a snippet of scope check working as expected via the method but not the attribute.

![image](https://user-images.githubusercontent.com/101247/148276933-af6a0c8e-dc98-4f75-b997-27c31e8c2c20.png)

i am using app.UseAuthorization.  and in this project i do have 1 policy added but it's not used in the endpoint/method in this example.  also, the other project where i've repro'd this same behavio

[2022-01-05 21:02] jmprieur commented on #1577
@willportnoy do you have an example of code that I could see?
It's pretty old ... and I don't think dotnet new, or Visual Studio create these projects any longer.

[2022-01-06 04:48] jmprieur commented on #1571
@spacattac : in the claims, the scope provided by Okta (item 7) has a value "access_token", whereas you want "documents.read". That's the reason.

[2022-01-06 07:24] TanyaMykhnevych commented on #1576
@jmprieur It is Azure Functions runtime 3.0. I use nuget package "Microsoft.NET.Sdk.Functions" Version="3.0.7".
I read this documentation: [https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-verification-scope-app-roles?tabs=aspnetcore](url).
I just included package Microsoft.Identity.Web" Version="1.21.1" and added this attribute to Function method Run. May

[2022-01-06 14:47] spacattac commented on #1571
@jmprieur - not exactly .... what i'm showing you above is i've intentionally left out the documents.create scope and i'm showing you how the [RequiredScopes("documents.create")] attribute did NOT block the call yet the VerifyUserHasAnyAcceptedScope("documents.create") DID block and returns Forbidden.  why is there not parity between these two?

[2022-01-07 02:49] jmprieur opened #1583 "[Bug] When used with MISE, client certificates are not taken into account when calling downstream APIs in controllers"
**Which version of Microsoft Identity Web are you using?**
1.21.1

**Where is the issue?**
* Web API
    * [x ] Protected web APIs call downstream web APIs

Integrated with MISE

**Repro**
See Mise webApiCallGraph sample

**Expected behavior**
Client certificates are taken into account

**Actual behavior**
Neither cert or client secret

**Additional context / logs / screenshots / link to code**
Th

[2022-01-07 02:51] jmprieur commented on #1583
As we are here, let's make sure that the configuration is an `IConfigurationSection` instead of an `IConfiguration`

[2022-01-07 04:12] jmprieur opened #1585 "[Feature Request] Proof of concept for certificate-less using MSI"
**Is your feature request related to a problem? Please describe.**
Rotating certificates is error prone. We'd want to enable services without certificates.

**Describe the solution you'd like**
When providing the user assigned managed identity but no certificate and no client secret, leverage MSI to get a signed assertion

Would not be prod ready - just to investigate and move scenarios forward.

[2022-01-07 04:13] jmprieur commented on #1585
Only testable when deployed with MSI and with specific configuration

[2022-01-07 06:20] MattHartz commented on #1507
Hi all, I am building a service that authenticates with Auth0 for the web app, but the service itself authenticates with other services using Azure AD. It seems like I have to remove my commented out auth0 code to get this to work based on the previous comments.

Is there something i can do to have these two code sections play nicely?

[2022-01-07 06:20] MattHartz commented on #1507
@jmprieur

[2022-01-08 03:23] jennyf19 commented on #891
Included in the [1.22.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.22.00

[2022-01-08 03:23] #891 closed

[2022-01-08 03:23] jennyf19 commented on #1585
Included in the [1.22.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.22.00

[2022-01-08 03:23] #1585 closed

[2022-01-08 03:23] jennyf19 commented on #1583
Included in the [1.22.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.22.00

[2022-01-08 03:23] #1583 closed

[2022-01-08 03:23] jennyf19 commented on #1566
Included in the [1.22.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.22.00

[2022-01-08 03:23] #1566 closed

[2022-01-08 03:23] jennyf19 commented on #1063
Included in the [1.22.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.22.00

[2022-01-08 03:23] #1063 closed

[2022-01-08 03:24] jennyf19 commented on #1546
Included in the [1.22.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.22.00

[2022-01-08 03:24] #1546 closed

[2022-01-08 03:24] jennyf19 commented on #1526
Included in the [1.22.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.22.00

[2022-01-08 04:03] jmprieur opened #1590 "[Feature Request] Support ASP.NET on .NET Framework"
**Is your feature request related to a problem? Please describe.**
Some partners want to use Microsoft.Identity.Web on ASP.NET Core applications created on top of .NET Framework

**Describe the solution you'd like**
Have Microsoft.Identity.Web support ASP.NET on .NET Framework

**Describe alternatives you've considered**
Propose them to upgrade to ASP.NET Core.

[2022-01-08 04:18] jmprieur opened #1591 "[Feature Request] Support Identity Federation"
**Is your feature request related to a problem? Please describe.**
- The cert-less scenario can be generalized into an identity federation scenario.
Implicit Azure provider in MSAL (IMDS)

**Describe the solution you'd like**
- Expose the notion of FederatedTokenProvider (which can be used by MSAL.NET to provide an assertion). This could be an abstract class. The issue is with how to cache the ass

[2022-01-08 05:59] jmprieur commented on #1063
The documentation is [Customizing the headers (or the HttpMessageRequest) when using IDownstreamWebApi](https://github.com/AzureAD/microsoft-identity-web/wiki/adding-call-api-to-web-app#customizing-the-headers-or-the-httpmessagerequest-when-using-idownstreamwebapi)

[2022-01-08 06:01] jmprieur commented on #891
@snebjorn: you can now customize the HttpRequestMessage. The documentation is [Customizing the headers (or the HttpMessageRequest) when using IDownstreamWebApi](https://github.com/AzureAD/microsoft-identity-web/wiki/adding-call-api-to-web-app#customizing-the-headers-or-the-httpmessagerequest-when-using-idownstreamwebapi)

[2022-01-08 06:03] jmprieur commented on #1563
@ferronsw : do you mean when you call a downstream API?
Did you see:
- https://github.com/AzureAD/microsoft-identity-web/wiki/calling-graph
- the customization of IDownstreamWebApi and ITokenAcquisition methods?

[2022-01-10 07:14] ferronsw commented on #1563
@jmprieur no when the user signs in to the MVC web app.

[2022-01-10 09:41] snebjorn commented on #891
Excellent! Thank you ❤️

[2022-01-11 10:38] TanyaMykhnevych commented on #1576
@jmprieur Some additional information: the same behavior for .NET 6 and v4 Azure Functions runtime. RequiredScope Attribute is ignored.

[2022-01-11 16:57] dirthsj commented on #1548
This bug is blocking our upgrade to Azure Functions v4 / Dotnet 6, is there any ETA for resolution?

[2022-01-11 19:02] jmprieur commented on #1548
This is next on our priority list, @dirthsj
But we are also working on some important internal commitments.

@jennyf19 and I would like to have a plan on what to do for Azure functions next week.

How do you create your azure functions with .NET 6?

[2022-01-11 19:11] dirthsj commented on #1548
It is good to hear this is on the priority list!

We are upgrading a dotnet 3.1 Azure Functions to .NET 6, following [this guide](https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions?tabs=in-process%2Cv4&pivots=programming-language-csharp#upgrading-an-existing-app), using In-Process functions.

Within our app, `Microsoft.Identity.Web` is used to identify AAD users and restrict

[2022-01-12 07:32] TanguyPa opened #1593 "[Question] Token expiration"
**Which version of Microsoft Identity Web are you using?**
1.18.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     * [ ] Sess

[2022-01-13 11:12] TMUNYU commented on #938
How far with the PR @jmprieur. Do we have a potential ETA on this?

[2022-01-13 16:42] Fresher900 opened #1594 "[Documentation] Difference between .AddInMemoryTokenCaches() and .AddDistributedMemoryCaches()"
I am working on a .net 6 API project which uses OBO flow to call Graph API and get the user profile.

In the development I am using .AddInMemoryTokenCaches(), which works fine.
I read in production Distributed Token Cache is better.

I can see that for distributed token cache as well there is a memory saving option.

So what is the difference between .AddInMemoryTokenCaches() and .AddDistributedMe

[2022-01-13 17:43] bgavrilMS commented on #1594
In memory caches are discussed here: https://github.com/AzureAD/microsoft-identity-web/wiki/token-cache-serialization#inmemory-vs-distributedmemory-cache-options. They are not persistent.

In production a combination of L1 (memory) and persistent token cache - like Redis - (L2) is recommended.

[2022-01-13 18:31] newbiedev123 commented on #1594
@bgavrilMS , thanks for the link. The document reads,

![image](https://user-images.githubusercontent.com/81688354/149387882-41f86855-eaa2-4c32-824a-494b042b8ffd.png)

Doesn't that mean the Distributed in memory cache is persistent?

Is there any documentation explaining the L1+L2 combination? Not sure how to approach it.

Is there any performance benefit in using the combination?

I hope Azure SQ

[2022-01-13 20:57] harris-boyce commented on #1563
@ferronsw like the Azure Portal?  I'm guessing this would require some combination of sign-out/clear current `id_token`, redirect specifying a desired target tenant for authentication, and signing-in against the selected tenant.

Would be interested in this functionality as well...

[2022-01-14 07:24] luismanez commented on #1594
That paragraph maybe is not very well explained.

The Distributed Cache is just an abstraction (using __IDistributedCache__ interface). Using Distributed cache, you can inject later the store you want to use. Asp.net supports currently:
  - Distributed memory cache: this one is an in memory cache, likely works the same that when you do _AddInMemoryCache_
  - SQL Server: yeah, you can use SQL Serve

[2022-01-14 07:45] luismanez commented on #1594
@bgavrilMS I think there´s an issue in the _token-cache-serialization_ wiki page. When saying:

I think it should say __more performant L1/L2 cache__ (as it´s pointing to the _L1-Cache-in-Distributed-(L2)-Token-Cache_ wiki page.

I´ve tried to fork the wiki repo to make a PR, but seems not possible.

Thanks!

[2022-01-14 07:55] luismanez commented on #986
hey @jmprieur. Is there any update here? I´ve seen a bunch of great changes in the library, but not sure if there´s any improvement in the MSAL.net about token acquisition resilience.
Thanks!

[2022-01-14 10:33] bgavrilMS commented on #1594
@luismanez - thanks for the clarifications and pointing out the doc issues, I'll get them fixed. Looks like contributing to the official docs is not an easy process.

Indeed the "DistributedMemoryCache" is a bit of a contradiction. It's just a memory cache which implements `IDistributedCache`. It's there to provide a default implementation for `IDistributedCache`. It's not distributed and it's not

[2022-01-14 10:39] bgavrilMS commented on #1594
@jmprieur @jennyf19 - can you please review my comment in case I said smth wrong?

Also, I think we need to make a few changes to the token cache doc:

- clarify that by default Id.Web uses an L1 / L2 cache, where L2 is based on IDistributedCache. It's not clear that there is actually an L1 there.
- I don't think there is any difference between MemoryCache / DistributedMemoryCache. We should all m

[2022-01-14 11:01] luismanez commented on #1594
Awesome clarification @bgavrilMS ! many thanks. I´m just curious, how can you disable L1 cache??

[2022-01-14 12:24] bgavrilMS commented on #1594
Something like:

![image](https://user-images.githubusercontent.com/12273384/149515063-aa7e0126-821f-44d2-981c-096cb028ff7b.png)

[2022-01-14 13:48] luismanez commented on #1594
Great! thanks @bgavrilMS ... I haven´t worked with the library in the last months, and seems the team has done a lot of improvements!!

[2022-01-14 17:24] jennyf19 commented on #1594
It is not persisted, but it is distributed. We have the difference [documented here](https://github.com/AzureAD/microsoft-identity-web/wiki/token-cache-serialization#inmemory-vs-distributedmemory-cache-options)

[2022-01-15 16:44] Ponant opened #1596 "[Question] Localization on flow cancellation with Azure B2C"
Following https://github.com/AzureAD/microsoft-identity-web/issues/1458 , localization works nicely when redirecting to the identity provider from an .Net  6 application using the library with Azure B2C.

When the user cancels an Azure B2C signin flow, the OnRemoteFailure is invoked and the user redirection is handled here
 https://github.com/AzureAD/microsoft-identity-web/blob/52c4f8b6ca0217b3036

[2022-01-15 22:23] erradimourad commented on #1198
hello team,

any updates on this? i'm faing the same issue, i'm working on asp.net core 3.1 without Blazor and i need a way to handle the Microsoft Identity Consent.

is there a way to do this right now?

[2022-01-17 07:48] ferronsw commented on #1563
@harris-boyce no not like the Azure portal. Our application is not one where you want to switch between Azure tenants with the same account. It's just to sign in with your guest account to the correct tenant. I fixed it like this:

[code]

[2022-01-17 07:48] #1563 closed

[2022-01-17 11:57] luismanez opened #1597 "[QUESTION] AAD Consent screen should show merged permissions for middle tier Web API?"
Hi,

Apologies if is not the right place for this question, but I know some of the MS identity team members are active here.

I have a similar setup like here: https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph#step-2-register-the-sample-application-with-your-azure-active-directory-tenant

In the sample doc, it

[2022-01-17 13:30] TanguyPa commented on #1593
The problem is probably related to the line :
[code]
I think this is the reason why the cookie lifetime is not used.
But, what are the differences between these two properties ?
`context.Properties.ExpiresUtc` in OnTicketReceived   and `cookiesOption.ExpireTimeSpan` in CookieAuthenticationOptions

[2022-01-17 21:32] admsteck opened #1598 "[Bug] Unable to use user assigned identity to load key vault certificates"
The original feature requested by #1007 and added in v1.8.0 appears to no longer be working.

**Which version of Microsoft Identity Web are you using?**
1.21.1

**Where is the issue?**
Protected web APIs call downstream web APIs

**Is this a new or an existing app?**
The app is in production and I have upgraded to a new version of Microsoft Identity Web.

**Repro**

[code]

**Expected behavior**
D

[2022-01-21 13:15] LaurensAdema commented on #1417
@jmprieur Any updates on this?

[2022-01-23 17:14] pealmeid opened #1600 "Scopes defined in appsettings.json being wrongly validated?"
Hello,

I'm trying to move my scopes declarations from code to `appsettings.json` but I'm having trouble making it work. I noticed a strange behavior and hope to understand if I'm doing something wrong or if this is an actual issue.

The methods in my API controller were being validated as expected when annotated with:
[code]

But I changed them to get the scope names from a key in `appsettings.js

[2022-01-24 01:20] jmprieur commented on #1600
@pealmeid :
- which version of Microsoft.Identity.Web are you using?
- do you have repro code (to see the Startup.cs)
Thanks!

[2022-01-24 05:45] pealmeid commented on #1600
@jmprieur thanks for the quick reply.

I'm using version  1.22.1  of Microsoft.Identity.Web.

I created a [repo ](https://github.com/pealmeid/msidweb-repro/tree/main) to illustrate the case with an app based on the Visual Studio app template for `ASP.NET Core Web Api.` I did minimal changes to add CORS support, register the authentication service and annotate the methods with the `RequiredScope` a

[2022-01-24 07:41] chintanr97 opened #1601 "Fetching OpenID configuration and signing keys in advance"
Currently, we can protect a web API using the library as follows:
[code]

Now, when the service receives first API request that requires authentication, the authentication handler (here, a `JwtBearerHandler`) attempts to fetch the OpenID configuration followed by token signing keys (from the discovery endpoint) for the authorization server. The response is cached and refreshed every 24 hours by de

[2022-01-24 19:53] pealmeid commented on #1600
I did some research and would like to validate my understanding of required scopes. Please let me know if the following is correct, and apologies in advance if this isn't clear. Any feedback is greatly appreciated.

# Registering the Scopes

There are two ways to register the required scopes for the API: either through a _**policy-based authorization**_ or _**adding metadata**_ to the endpoint.

[

[2022-01-25 06:37] JRawlins737 opened #1602 "Status Code: 0 Microsoft.Graph.ServiceException: Code: generalException"
Upgraded Microsoft.Identity.Web from Version 1.21.1. (where is has been working just fine for many weeks) to 1.22.0 then 1.22.1 resulting in the same error. Rolling back to 1.21.1 fixes the issue... Also update TargetFramework from .Net 5 to 6 but still errors out.

Error occurred during the first debug after NuGet updates of Microsoft.Identity.Web and Microsoft.Identity.Web.MicrosoftGraph when th

[2022-01-27 00:34] Hofermania opened #1604 "[Feature Request] More Flexible Default Appication ID URI's for AddMicrosoftIdentityWebApiAuthentication in Web API's"
**Is your feature request related to a problem? Please describe.**
AddMicrosoftIdentityWebApiAuthentication configures the JWT Bearer middleware to only accept audiences in the form of "api://{applicationId}"  This is appears to be problematic for app registrations that have updated the Application ID URI in the "Expose an API" configuration in Azure

**Describe the solution you'd like**
Perhaps a

[2022-01-27 01:58] jmprieur commented on #1604
@Hofermania there is no limitation to the format of the App Id URI(s).
- You can use the `Audience` configuration to specify the audience (with any content you want). See https://github.com/AzureAD/microsoft-identity-web/wiki/web-apis#what-if-the-app-id-uri-of-your-application-is-not-apiclientid
- If you several audiences this is also possible by overriding the `JwtBearerOptions`

[2022-01-27 02:23] jmprieur commented on #1600
Thanks @pealmeid for reporting this issue and your brilliant analysis. You are perfectly right.
We are going to fix this bug in the next release of Microsoft.identity.Web

[2022-01-27 02:30] jmprieur commented on #1602
@JRawlins737
- Is it in a web app or a web API?
- would you have some repro steps? or a repo with which we could debug?

[2022-01-27 02:58] jmprieur commented on #1597
@psignoret do you mind helping @luismanez ?

[2022-01-27 03:07] jennyf19 commented on #1601
@ciaozhang or @dannybtsai could you help answer this? thanks.

[2022-01-27 03:21] JRawlins737 commented on #1602
This is a Web API project. Sorry, no public repo :(

Usual configuration in the startup
services.AddAuthentication(JwtBearerDefaults.AuthenticationScheme)
              .AddMicrosoftIdentityWebApi(
                options =>
                {
                    options.TokenValidationParameters = new TokenValidationParameters
                    {
                        ValidAudiences = Configur

[2022-01-27 07:24] psignoret commented on #1597
@luismanez Currently, this is the expected behavior.

When _Budgie_Services_ declares _Budgie_Client_Postman_ as a known client application, and _Budgie_Client_Postman_ has declared _Budgie_Services_ as a required resource, it's similar to saying "this client and this resources are part of one application", so the resulting consent prompt omits the intermediate "connections" between what are effec

[2022-01-27 10:06] kristofferjalen opened #1608 "Adding both WebApi and WebApp authentication"
I have a Web API for which I want controllers to use Bearer token authentication. At the same time I want the Swagger UI to be protected by OIDC.

Scenario:

1. Use policy `"Bearer"` for `[Authorize]` on controllers
2. Use policy `"OpenIdConnect"` for Swagger UI (note: the UI, not the requests done in the UI)

I have created a minimal Web API project from the template, and added authentication:

[

[2022-01-27 10:23] luismanez commented on #1597
Many thanks @jmprieur and @psignoret

I understand, and makes sense to me. I think the problem here is that the documentation makes you assume (or it did to me) that you will see ALL the permissions merged:

If you update the docs with your comment, all is crystal clear.

Well, I think it will help the end user to have all the requested permissions (intermediate and final). However, I don´t know h

[2022-01-27 14:08] lucmoco opened #1609 "[Bug] RequiredScope doesn't work when securing controllers by setting AuthorizationOptions.FallbackPolicy"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.22.1

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [x] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory

[2022-01-27 15:44] Hofermania commented on #1604
Thank you for the response @jmprieur.  Obviously I never saw that piece of documentation and that clears everything up.  The only thing I will add is that the {applicationId}/{whatever scope} seems to resolve in the MSAL API regardless of App ID URI.  It may still be nice to include that in accepted audiences as that is how it is framed as a possible scope in the sample client without mention of u

[2022-01-27 15:46] #1604 closed

[2022-01-27 16:52] jmprieur commented on #1604
Right, @Hofermania.
This is something that is really under the control of ASP.NET Core (not Id.Web), but we'll work with them.

[2022-01-27 18:25] jennyf19 commented on #1609
@DavidFowl Can you assist with this? This is related to the [changes we did for moving from Filters to Policies](https://github.com/AzureAD/microsoft-identity-web/issues/1002). Appreciate any advice on how to resolve this.

[2022-01-28 20:47] willportnoy commented on #1577
I followed up offline, to share source code of an ASP.NET Core web app running on Net Framework runtime.

[2022-01-29 02:08] pmaytak opened #1611 "[Documentation] Token cache encryption aka.ms link doesn't exist"
### Description of the issue

The link (https://aka.ms/ms-id-web/token-cache-encryption) doesn't exist anymore. Not sure if we have cache encryption documented anywhere, so maybe at least point to [ASP.NET Core Data Protection doc](https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview?view=aspnetcore-6.0)?

Also maybe helpful to include a link to [Token cache

[2022-01-29 03:20] jennyf19 commented on #1611
I fixed the aka.ms link. thanks. The troubleshooting guide should actually be moved to this page: https://aka.ms/msal-net-token-cache-serialization which we already reference in the xml comments.

[2022-01-29 03:20] #1611 closed

[2022-01-30 12:18] Pieter-1337 commented on #1571
same issue here I have an access_token which I retieve through a Client from AD, then the client calls my WebAPI.

Currently my access_token has a "scp" attribute of "access_api" however when I add an [RequiredScope("access_api_admin")] decorator on a controller action (controller has [Authorize]) and I call the endpoint with the "access_api" scope the action gets executed.

Expected behavior woul

[2022-01-30 21:36] jmprieur opened #1612 "[Feature Request] For "Base64EncodedValue", allow an indirection in the configuration "@Secrets:clientCertificateEncoded""
**Is your feature request related to a problem? Please describe.**
Some applications store their certificates base64 encoded information in other parts of the configuration for example in a section named secrets brought by a different configuration provider.

**Describe the solution you'd like**

[code]

[2022-01-30 22:23] jmprieur commented on #1612
Not needed.

[2022-01-30 22:23] #1612 closed

[2022-01-31 00:00] jennyf19 commented on #1600
Fixed in [1.22.2 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.22.2).

[2022-01-31 00:00] #1600 closed

[2022-01-31 00:00] jennyf19 commented on #1598
Fixed in [1.22.2 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.22.2).

[2022-01-31 00:00] #1598 closed

[2022-01-31 00:11] jmprieur opened #1615 "[Bug] Null reference exception when Web API initialized with delegates but without configuration and called from an event handler"
**Which version of Microsoft Identity Web are you using?**
1.22.2

**Where is the issue?**

* Web API
    * [x] Protected web APIs call downstream web APIs

**Is this a new or an existing app?**
New scenario, not met until now (my apps)
Web API initialized with delegates but without configuration and called from an event handler.

**Repro**

Startup.cs

[code]

and then `ITokenAcquisition` called

[2022-01-31 15:02] newbiedev123 commented on #1594
Thank you all for your valuable suggestions.

We are planning to go for a distributed (redis/sql/cosmos), but we are thinking of trying in memory first. The UI which calls this API caches the API response at its end, so only occasional calls will reach the API. So not sure if we will need a distributed option.

I was trying out In memory (both distributed and non distributed) to see for the differ

[2022-01-31 15:08] bgavrilMS commented on #1594
@jennyf19 - according to https://docs.microsoft.com/en-us/aspnet/core/performance/caching/distributed?view=aspnetcore-6.0#distributed-memory-cache

`the Distributed Memory Cache isn't an actual distributed cache. Cached items are stored by the app instance on the server where the app is running.` I'll update our docs.

@newbiedev123 - sounds good, let us know the results, although in-memory cannot

[2022-01-31 15:44] bgavrilMS opened #1616 "[Bug] Prevent app developers from using DistributedMemoryCache in production applications"
**Which version of Microsoft Identity Web are you using?**
1.22.0

**Expected behavior**
Apps should configure either L1 cache or L1+L2 cache where L2 is not DistributedMemoryCache.

**Actual behavior**
Our documentation is not clear enough and many apps use L1 + L2 caching where L2 is DistributedMemoryCache.

The problem with this approach is that both L1 (MemoryCache) and L2 (DistributedMemoryCa

[2022-01-31 16:42] jmprieur commented on #1616
Doc updated by this PR (from Bogdan): https://github.com/MicrosoftDocs/azure-docs/pull/87209

[2022-01-31 16:43] jmprieur commented on #1616
Would be better done by a static analyzer.
We are not going to log an error, we would not have a clean way to detect the implementation as Microsoft.Identity.Web does not depend on the implementations, only on the IDistributedCache interface. Only apps depend on the implementations.

[2022-01-31 16:59] bgavrilMS commented on #1616
The whole point of `MemoryDistributedCache` is that it ships in the box. It's in the same assembly and namespace as `IDistributedCache`.

![image](https://user-images.githubusercontent.com/12273384/151838369-dfda13b3-5954-4a3c-bb07-2ced0a5c22db.png)

[2022-01-31 17:07] jmprieur commented on #1616
I see, my bad.
Go ahead, then

[2022-01-31 17:07] jmprieur commented on #1616
It's not a bug, though. I disagree with that aspect

[2022-01-31 17:15] bgavrilMS commented on #1616
Today, the library does the following:

[code]

So we're injecting the default, non-production friendly `IDistributedCache` alongside the L1 memory cache. We treat "bad" defaults as bugs generally, as they can cause production issues in the long run. If we didn't have to care about backwards compat, I'd modify this as:

[code]

[2022-01-31 17:21] jmprieur commented on #1616
It should not be the default.

[2022-01-31 17:42] bgavrilMS commented on #1616
Wouldn't that be a breaking change @jmprieur ?

[2022-01-31 18:29] jmprieur commented on #1616
yes, it would.

[2022-01-31 21:38] luismanez commented on #1602
Same issue here. In general, whatever that requires an __ITokenAcquisition__ is not working fine. In my case, also downgrading to 1.21.1 fixes the issue. Can´t provide a public repo right now, but could do it soon if required, however, my setup is also quite "standard", following this sample: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-

[2022-01-31 21:51] luismanez commented on #1602
Just adding a new finding.
When setting it up like:

[code]

It works fine. However, in my scenario, I want to validate the Tenant in the token, so I´m doing:

[code]

Previous setup fails with 1.22.1, but works with 1.21.1.

Note that the setup that works in 1.22.1, the __AddMicrosoftIdentityWebApi__ is returning a __MicrosoftIdentityWebApiAuthenticationBuilderWithConfiguration__, but the failing

[2022-02-01 00:05] josephthomas5566 opened #1617 "Authentication Issue for external URL ( Power BI , .net Core 3.1, Azure AD App,IIS)"
We are building a **.net core app** to be hosted on **IIS**, which has an external/Public URL which converts into internal URL with app Proxy. The **.net core app is created as page within the main page.**

We have a **public** URL at : https://product.portal.example.org/link ,which internally via application proxy get redirected to **https://product.example.org/link.**

We have an AD App authenti

[2022-02-02 00:27] jmprieur commented on #1602
@luismanez : do you want to try the version which is in master currently. We think we fixed it.
Otherwise we'd want to release it within a few days

[2022-02-02 00:51] JRawlins737 commented on #1602
Works for me... :) thanks

[2022-02-02 01:03] jmprieur commented on #1602
Thanks for confirming, @JRawlins737 !

[2022-02-02 02:14] jmprieur commented on #1617
@josephthomas5566  : I transferred the issue to the right repo

[2022-02-02 02:18] josephthomas5566 commented on #1617
Thanks .. hopefully someone from this team can help us here...

[2022-02-02 02:32] jmprieur commented on #1617
@josephthomas5566

You should chain the events, not override them

[code]

But I suspect that you'd need to use the forward headers instead, as I indicated above
cc: @Tratcher

[2022-02-02 02:52] josephthomas5566 commented on #1617
Yes. I have done that.. and have called the below in configure..
           app.UseForwardedHeaders(new ForwardedHeadersOptions()
            {
              ForwardedHeaders = ForwardedHeaders.XForwardedFor | ForwardedHeaders.XForwardedProto
            });

For the other items the order is as below :ConfigureServices

              services.Configure<ForwardedHeadersOptions>(options =>

[2022-02-02 03:33] josephthomas5566 commented on #1617
i had a typo and fixed it.. Now i am back to this error (that is interesting .. from infinte loop back to saying the POST is not accessible)..

This product.portal.example.com page can’t be found
No webpage was found for the web address: https://product.portal.example.com/link/signin-oidc
HTTP ERROR 404

So not sure if the authentication went through and got stuck on the POST

[2022-02-02 08:43] luismanez commented on #1602
I´m having some issues manually adding the .dlls to my project, so will wait for the release. However, I´ve seen the library is not targeting .NET6. Is there any reason?

[code]

Thanks!

[2022-02-02 12:52] nschuessler commented on #1548
@dirthsj
FYI: Not having a .Net 6 version of `Microsoft.Identity.Web` is also blocking upgrading to Azure app services.

Have you considered making a .Net standard 2.0 version of this library? Then it wouldn't require a new version for each .Net.
Or potentially separating out the part that is platform specific (PInvoke?) if it is not commonly used and make it a separate package so basic users woul

[2022-02-02 16:02] yonail opened #1618 "[Bug] TokenAcquisition not implemented for App Services in EasyAuth"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.22.2

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [x] Protected web APIs call downstream web APIs
* Token cache serialization
     * [x] In-memory

[2022-02-02 17:21] jmprieur commented on #1615
Will release in 1.22.3

[2022-02-02 17:23] jmprieur commented on #1602
The .NET 5.0 version works perfectly with .NET 6.0, @luismanez

[2022-02-02 17:33] Tratcher commented on #1617
This
[code]
Is conflicting with this
[code]
`Configure<ForwardedHeadersOptions>` only works with the no parameter version of `UseForwardedHeaders()`. Consolidate the settings in one place or the other.

Avoid directly overriding RedirectUri, it should be auto-generated based on the current request. If it's wrong then it's better to fix the request parameters. It sounds like you need to enable Forw

[2022-02-02 19:09] Tratcher commented on #1617
Is this the expected and actual values?
Expected: https://product.portal.example.org/link/signin-oidc
Actual: https://product.example.org/link/signin-odic

You'll need to look at the output from https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-5.0#troubleshoot to see what the request headers are.

[code]

[2022-02-02 19:44] josephthomas5566 commented on #1617
- Yes.. Correct this is the expected one. But actual is what is getting reconstructed and hence custom redirect_URI

Expected: https://product.portal.example.org/link/signin-oidc
Actual: https://product.example.org/link/signin-odic

- How do get the expected values without passing the entire redirect_uri..

- I enabled the log ..with For| Proto| host ..Also retained the redirect_uri.  Not sure wha

[2022-02-02 23:13] josephthomas5566 commented on #1617
Enabled the logger ..it says ..

Microsoft.Identity.Client.MsalServiceException: A configuration issue is preventing authentication - check the error message from the server for details.You can modify the configuration in the application registration portal. See https://aka.ms/msal-net-invalid-client for details.  Original exception: AADSTS500112: The reply address 'https://product.example.org/lin

[2022-02-02 23:27] Tratcher commented on #1617
`Host: product.example.org` is your problem. Which proxy are you using? It doesn't look like it's setting the x-forwarded-Host header with the original public value. Your backend app has no way of knowing what the public host value is.

If you can't figure out how to get that enabled on the proxy then one way to work around it is like this:
[code]

[2022-02-02 23:42] jennyf19 commented on #1615
fixed in [1.22.3 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.22.3)

[2022-02-02 23:42] #1615 closed

[2022-02-02 23:43] jennyf19 commented on #1602
fixed in [1.22.3 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.22.3)

[2022-02-02 23:43] #1602 closed

[2022-02-03 02:01] josephthomas5566 commented on #1617
Seeing some light at the end of the tunnel. The initil authentication is going through.. Need to see if the authentication remain valid for the components i pullled in.

Changes

- Removed custom redirect_uri and added the below code..
- Added new line
       app.Use((context, next) =>
                {
                    context.Request.Host = new HostString("product.portal.example.org");

[2022-02-03 10:10] yonail commented on #1506
Hello,
I have the same problem. Is there any workaround?
Thanks!

[2022-02-03 12:42] luismanez commented on #1602
Works like a charm with 1.22.3 !!

Many thanks @jmprieur @jennyf19

[2022-02-03 17:15] jmprieur commented on #1506
@jennyf19 let's take this one for next release.

[2022-02-03 19:30] Tratcher commented on #1617
You may still need them for the scheme ('https'), or you could set that the same way if you always require https.

[2022-02-03 20:18] gregt1234 opened #1620 "[Documentation]"
### Documentation related to component
Testing approach for authorization logic

### Please check all that apply

- [ ] typo
- [x] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in the example
- [ ] needs an example

### Description of the issue
We're using IDW to do authn/authz on a web API hosted as an Azure Function, leveraging app roles and scopes (depending

[2022-02-04 16:26] Grovespaz commented on #1528
Hi, I was wondering if this issue is still in your roadmap.
I'm also wondering if there is a way we can accomplish this today already when using IdWeb, perhaps with a less ideal workaround?

[2022-02-05 04:56] jmprieur commented on #1528
@Grovespaz. It's still on the roadmap.
How urgent is it for you?
cc: @jennyf19

[2022-02-05 06:59] Grovespaz commented on #1528
@jmprieur we could use it very much starting today already.

Our use case is a privileged SPA whose source can not be accessible to the public, only to authenticated users. But once loaded, the SPA does all the heavy lifting itself and thus uses MSAL.js.

So it would be ideal for us if we could have the backend use IdWeb to authenticate and authorize and then pass the authorization to MSAL.js to p

[2022-02-08 21:28] jimitndiaye commented on #1507
I'm having this exact problem with version 1.22.3 of Microsoft.Identity.Web. Unlike @thestillheron there is no other authentication but Microsoft.Identity.Web. The relevant code is as below:
[code]
I initially didn't provide a callback to ```EnableTokenAcquisitionToCallDownstreamApi``` but ran into the null reference exception and added that callback to make sure ```Instance``` is being set. To my

[2022-02-09 03:57] jennyf19 commented on #1528
@Grovespaz
Can you try this [branch](https://github.com/AzureAD/microsoft-identity-web/tree/jennyf/hybridSpa) which has the support for hybrid spa?

You need to add the following in your Startup.cs:
[code]

In `Configure`:

[code]

In the Controller, get the spa auth code:

`var code = HttpContext.Session.GetString(Constants.SpaAuthCode);`

[2022-02-09 09:42] jimitndiaye opened #1623 "I'm having this exact problem with version 1.22.3 of Microsoft.Identity.Web. Unlike @thestillheron there is no other authentication but Microsoft.Identity.Web. The relevant code is as below:"
I'm having this exact problem with version 1.22.3 of Microsoft.Identity.Web. Unlike @thestillheron there is no other authentication but Microsoft.Identity.Web. The relevant code is as below:
[code]
I initially didn't provide a callback to ```EnableTokenAcquisitionToCallDownstreamApi``` but ran into the null reference exception and added that callback to make sure ```Instance``` is being set. To my

[2022-02-09 10:14] jimitndiaye opened #1624 "[Bug] Microsoft.Identity.Web.MergedOptions.PrepareAuthorityInstanceForMsal() throws a null reference exception"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

Version is 1.22.3

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs

[2022-02-09 10:45] jimitndiaye commented on #1624
Upon further investigation it seems that might be in Microsoft.Identity.Web.TokenAcquisition
[code]
For what ever reason when the authentication scheme is not explicitly specified it might not be returning the right scheme. When I explicitly set the authentication scheme to OpenIdConnectionDefaults.AuthenticationScheme it doesn't throw a null reference exception:
[code]

[2022-02-09 11:30] VaticanUK opened #1625 "[Bug] OnTokenValidated event (and others) doesn't seem to play nicely with async"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

1.22.2

**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cac

[2022-02-09 19:45] luismanez commented on #1548
Any update here @jmprieur @jennyf19 ??

Hitting very similar issue, likely same cause. In my case, I´m not calling __AddAuthentication__ as that break HttTriggers secured by Function code. My startup has:

[code]

But when using the injected _GraphServiceClient_, I´m getting this issue:

Stack trace:

[code]

This also blocking us to move our product to .NET 6 and latest ms-identity-web :(

Thanks

[2022-02-09 23:40] jmprieur commented on #1548
@[Mitars](https://github.com/Mitars), @[newbiedev123](https://github.com/newbiedev123), @[dirthsj](https://github.com/dirthsj), @[luismanez](https://github.com/luismanez):

The Azure function team is fixing the issue on their side (The PR is https://github.com/Azure/azure-functions-host/pull/8129). Please use that PR to get the update. When this is fixed, this should just work.

Note that we also

[2022-02-10 00:22] jmprieur commented on #1625
@[VaticanUK](https://github.com/VaticanUK)
1. I would not think you should throw in the OnTokenValidated method (authentication is done), but rather use authorization policies to let ASP.NET Core do the right thing. See https://github.com/AzureAD/microsoft-identity-web/wiki/authorization-policies
2. When you configure the options, you need to specify the authentication scheme `services.Configure<M

[2022-02-10 07:56] VaticanUK commented on #1625
Hi @jmprieur thanks for your reply. Sorry I should have been clearer. Throwing is just a quick and dirty way of trying to impact the login flow in this example.

If I use an async handler, I cannot impact the login flow in any way, for example, my original use case was to add additional claims. If I get the values for those claims by forcing the code to run synchronously (and importantly remove th

[2022-02-10 07:57] VaticanUK commented on #1625
I'll try out your second point shortly and reply further 🙂

[2022-02-10 09:53] luismanez commented on #1548
Thanks a ton @jmprieur !! that helps a lot. Just curious regarding:

As this is the functions host, it would work just locally, right? I don´t even know how to make it work locally, as this is included in the Functions tooling... anyway, just curious if you were thinking a different thing.  I´m gonna wait till the fix is published, and then retake my code upgrade.

Thanks again!

[2022-02-10 10:03] luismanez commented on #1548
BTW, this Twitter thread has good info, and a possible workaround if you don´t mind to go with ms-identity-web 1.5.1
https://twitter.com/luismanez/status/1491533220709605387

[2022-02-10 17:34] #1625 closed

[2022-02-11 16:24] Grovespaz commented on #1528
@jennyf19 Thanks for getting back to me so soon with this!
I tried out the branch. Configuring it was easy (had to remember to do `options.WithSpaAuthCode = true;` too), it works great at first try.

One thing I did notice was that when I stopped the project (to make a change) and restarted it again, I would remain logged in to the backend but the session would no longer contain the spa code, lead

[2022-02-11 20:07] jmprieur commented on #1528
@Grovespaz the spa code should be removed from the session anyway once you have redeemed it. It's only usable **once**.
hence the error you get (AADSTS54005),
Your question is more for the JavaScript team: @EmLauber @pkanher617 ?

[2022-02-11 20:25] EmLauber commented on #1528
Adding @jasonnutter who might have thoughts. You are welcome to open this issue on MSAL.js library so we can track there:
[https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/new/choose](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/new/choose)

[2022-02-11 20:36] kingces95 commented on #1321
@jlautman, hello. Has there been any progress on supporting the key scenario rotation you described above? Maybe tracked somewhere else? Have you found an alternative way to dynamically load new decryption certs?

[2022-02-11 20:41] jasonnutter commented on #1528
@Grovespaz It is the responsibility of the backend (MSAL.net / MS Identity Web) to acquire the spa authorization code and provide it to the frontend (MSAL.js), and then MSAL.js will redeem that for its own set of tokens (including an RT which can be used to get more tokens). Once the spa has loaded, it doesn't need another spa authorization code from the backend, as it can get its own authorizatio

[2022-02-11 20:52] Grovespaz commented on #1528
Perfect, thank you all.

That just leaves me to (dare) ask when you expect this to land in an official release. 😊 If anything meaningful can be said about that already, of course.

[2022-02-11 21:04] jlautman commented on #1321
Not that I'm aware of.

[2022-02-12 04:28] jennyf19 commented on #1528
@Grovespaz I can aim to get it out Monday (2/14)

[2022-02-12 04:29] jennyf19 commented on #1528
Just catching up on the thread :/

[2022-02-13 13:59] thuatnguyenvan commented on #1624
Actually, this is a bug of Microsoft.Identity.Web from version 1.16.1 to latest 1.22.1.

.NET 6
Microsoft.Identity.Web from version 1.16.1 to 1.22.1 : not working
Microsoft.Identity.Web from version < 1.16.1 : OK

[2022-02-15 05:15] jennyf19 commented on #1528
@Grovespaz 1.23.0 with Hybrid Spa support is available on Nuget. https://www.nuget.org/packages/Microsoft.Identity.Web/1.23.0

[2022-02-15 05:26] #1528 closed

[2022-02-15 12:25] luismanez commented on #1597
Closing this issue, as it was clarified by @psignoret (feel free to add any final thoughts if you want). thanks for your help @psignoret @jmprieur

[2022-02-15 19:38] VictorioBerra commented on #1528
Why would the backend for front end pattern not suffice for this use-case?

IE: The confident client authenticates the user, YARP could then be configured to proxy the requests, after appending the bearer token to the request.

[2022-02-16 21:31] kamilzzz opened #1633 "[Question] Cookie expiration versus ID Token expiration"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web + UI - 1.22.2

**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [ ] Sign-in users and call web APIs

Azure B2C used as an IdP.
Sample app taken from here - https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-5-B2C

Simple scenario when Micros

[2022-02-17 12:22] JFercan commented on #1443
Hello @jennyf19

Is there any update on this issue?  It is still happening even after updating to version 1.23.0 for by Microsoft.Identity.Web and Microsoft.Identity.Web.MicrosfotGraph.

With this new version I still experience the same issue as 1.16.1.

Thank you.

[2022-02-18 16:42] dandax opened #1634 "[Bug] TokenAcquisition.GetAuthenticationResultForUserAsync should allow TokenAcquisitionOptions for calls from web app"
**Is your feature request related to a problem? Please describe.**
The `TokenAcquisition.GetAuthenticationResultForUserAsync` accepts `TokenAcquisitionOptions` as a parameter but will only use them when a call is coming from a web API. The code specifically passes `null` to the `tokenAcqusitionOptions` parameter:

[code]

**Describe the solution you'd like**
I would like to see the parameter used

[2022-02-18 17:35] jmprieur commented on #1634
Thanks for the heads up @dandax

[2022-02-18 18:18] jmprieur commented on #1624
@thuatnguyenvan what do you have in your authorize attribute on the controller or the controller action? do you specify an auth scheme?

[2022-02-19 01:53] jennyf19 commented on #1443
@JFercan I would need to see the code of the controller, but you might need to pass the AuthenticationScheme if it's different from the default authentication scheme:

[code]

Also, what does this do:
[code]
could it be overriding the default auth scheme?

[2022-02-19 06:51] thuatnguyenvan commented on #1624
@jmprieur [jmprieur](https://github.com/jmprieur) My problem is from `DefaultScheme = "My_Cokie_Name"` instead of `DefaultScheme = OpenIdConnectDefaults.AuthenticationScheme` . I guest it was throwing an exception in [Microsoft.AspNetCore.Authentication.Abstractions](https://github.com/aspnet/HttpAbstractions/tree/master/src/Microsoft.AspNetCore.Authentication.Abstractions)/AuthenticationOptions.c

[2022-02-19 20:07] JFercan commented on #1443
Hello @jennyf19 ,

I will try adding the authentication scheme to the call.  Some devices authenticate using a key instead of Azure AD, and this is a customer handler for those.  We might move this to use a Secret from the Azure AD registration instead.

I did get Graph to work by creating the instance this way, not sure if it would help:

[code]
Thank you.

[2022-02-20 14:06] Joel-Intact commented on #1428
Greetings!  Any status updates on this issue?  Would be great to have a workaround or a fix to the issue soon.  Thank you!

[2022-02-20 19:06] youngj7 opened #1638 "[Bug] ITokenAcquisition.GetAccessTokenForUserAsync() fails when using ADFS on Windows Server 2019"
**Which version of Microsoft Identity Web are you using?**
Microsoft.Identity.Web 1.23.0

**Where is the issue?**
Using sample project 1-1-MyOrg as a template with AddMicrosoftIdentityWebApp() configured for on-prem Windows Server 2019 ADFS's OAuth services, calling ITokenAcquisition.GetAccessTokenForUserAsync() fails. However, when configured to use AzureAD, the token is successfully returned.

*

[2022-02-20 22:15] mcmorry commented on #1218
I'm experiencing the exact same issue. I'm using 1.23.0 in .NET 6.
Do you have any examples I can use to compare with my code?

[2022-02-20 23:44] jmprieur commented on #1428
@Joel-Intact
please see https://github.com/AzureAD/microsoft-identity-web/issues/1548#issuecomment-1034318313

[2022-02-20 23:49] jennyf19 commented on #1443
@JFercan ` WithAuthenticationScheme` is added with Microsoft.Identity.Web.MicrosoftGraph, it's an extension method.

[2022-02-21 10:29] JFercan commented on #1443
Hello @jennyf19 ,

Tried changing the code as follows:

[code]

However I still got the following exception:

[code]

Let me know if more details are required.

Thank you,

[2022-02-21 22:47] yohanb opened #1639 "[Feature Request] Per-tenant encryption for distributed token cache"
**Is your feature request related to a problem? Please describe.**
The [current token cache encryption strategy](https://github.com/AzureAD/microsoft-identity-web/issues/1044) uses the same key to encrypt and decrypt all tokens in the cache.  This doesn't provide isolation in a multi-tenant scenario.

**Describe the solution you'd like**
Allow a different encrypt key for each tenant ID which tried

[2022-02-22 13:40] ferronsw opened #1640 "Connection with Azure Redis Cache is not reestablished after failover"
**Which version of Microsoft Identity Web are you using?**
1.22.1

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     * [ ] Sess

[2022-02-22 19:24] youngj7 commented on #1638
I have been debugging this a bit more and found that the user token cache does contain an access token, BUT the key for the user account is not the uid.tuid. It has been stored using the name identifier. Adding the following to GetAuthenticationResultForWebAppWithAccountFromCacheAsync() in TokenAcquisition.cs allows me to successfully retrieve an access token.

![image](https://user-images.githubu

[2022-02-22 21:11] jmprieur commented on #1638
@youngj7 : indeed, Microsoft.Identity.Web is not supposed to work with ADFS yet.
We have a feature request for it: https://github.com/AzureAD/microsoft-identity-web/issues/852

What is the nameidentifier? is it human readable or is it an a computer intended series of letters and digits?

[2022-02-22 21:52] youngj7 commented on #1638
@jmprieur I will have to double-check, but I think the "nameidentifier" is being pulled from the id_token's "sub" claim. If you look at bottom-right corner of my last code snippet, you'll see that "AccountId" is a series of letters and digits. The "AccountId" is the same value as the "nameidentifier" claim which matches the id_token's "sub" claim returned from ADFS2019.

You mentioned, "Microsoft.

[2022-02-23 19:59] aremo-ms opened #1641 "Make RequiredScopeAttribute and AuthorizeAttribute self exclusive"
When I'm using the next attributes, I'm forced to have both Roles and Scopes in my token
Please make it OR relationship, so I can have at least one of them.

[code]

[2022-02-24 20:37] youngj7 commented on #1638
@jmprieur Since the online documentation indicates this should be working, is this a bug or does the documentation need to be corrected?

[2022-02-24 22:56] jmprieur commented on #1638
@youngj7 : which documentation. Do you have a link?
I don't remember us writing this at all (and there is a feature request). @jennyf19 does it ring any bells?

[2022-02-25 02:58] dirthsj commented on #1548
@jmprieur it looks like that PR was merged and released with in [4.2.0](https://github.com/Azure/azure-functions-host/releases/tag/v4.2.0), can you confirm this version does include the fix?

[2022-02-25 04:05] youngj7 commented on #1638
@jmprieur The link to the Microsoft document is in my previous comment above.

[2022-02-25 04:20] jmprieur commented on #1638
@youngj7 : I'm confused. this doc mentions MSAL.NET, not Microsoft.Identity.Web?

[2022-02-25 04:21] jmprieur commented on #1548
@jennyf19 : it seems the Azure function work could be unblocked.

[2022-02-25 04:44] youngj7 commented on #1638
@jmprieur I am obviously confused too. Earlier, I asked if MSAL.NET was different than Microsoft.Identity.Web. I see now that MSAL.NET pages link to Microsoft.Identity.Client, but they are all intertwined. I thought these libraries were all under a generic umbrella called "MSAL". Should I be integrating with Microsoft.Identity.Client in my .NET Core web application instead of Microsoft.Identity.We

[2022-02-25 04:52] jmprieur commented on #1638
No, you are doing the right thing, @youngj7. I'm just saying that MSAl.NET supports it, but Id.Web not yet. they are different libraries of the same family, and so far nobody had requested it. But I agree we are close

@jennyf19 : let's try to squeeze in the next release

[2022-02-25 05:37] jennyf19 commented on #1548
That's great! Thanks for checking on this @dirthsj! I will try to carve out time in the next day or two to come back to this.

[2022-02-26 01:15] pmaytak opened #1643 "[Bug] Exception when cache deserialization fails"
**Which version of Microsoft Identity Web are you using?**
1.23.0

**Actual behavior**
Related to MSAL issue [3162](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/3162).
When distributed cache serialization and encryption is enabled, in certain cases (like when encryption keys are changed), MSAL will fail to deserialize an already serialized cache entry and throw an

[2022-03-01 00:09] thegalah opened #1646 "[Feature Request / Question] Enable logging when multiple tokenencryption certs are used"
**Is your feature request related to a problem? Please describe.**
Our team is in the process of rotating tokenencryption certs. We have decided to implement a "primary / secondary" cert rotation method where we will set two token decryption certs (outlined here: https://docs.microsoft.com/en-us/dotnet/api/microsoft.identitymodel.tokens.tokenvalidationparameters.tokendecryptionkeys?view=azure-dotn

[2022-03-03 14:55] dirthsj commented on #1548
@jennyf19 have you taken a look at this yet? My team is trying to decide if we can update in our next sprint.

[2022-03-04 09:22] luismanez commented on #1548
@jennyf19 I´d be happy to help to test it, but not sure how to do it. I have a small project that reproduces the issue, but works with Visual Studio, and I don´t think I can update Az Func tools in Visual Studio. Can I help somehow? we also want to move to .net 6 as soon as possible.
thanks!

[2022-03-04 14:05] clairernovotny commented on #13
I'm having similar issues, not sure why. The ValidatePrincipal code isn't even being called in the Coookie auth event handler.

[2022-03-04 14:06] clairernovotny commented on #13
This needs to be re-opened @jennyf19 @jmprieur

[2022-03-04 21:17] kelps commented on #13
Exactly what happens to me. I was ready to accept that maybe it was being called some times, but not when I was debugging  it, but I placed some logs in the method, and the logs NEVER registered.

[2022-03-05 03:14] #1643 closed

[2022-03-08 01:13] rob-king-volpara opened #1647 "[Question] Why are my OpenIdConnectEvents not firing?"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.23.0

**Where is the issue?**
* Web app
    * [X] Sign-in users

**Is this a new or an existing app?**
This is a new .Net 6 app which is a port of a .Net Framework 4.8 app

**Repro**

Program.cs:
[code]
MicrosoftIdentityAuthentication.cs
[code]

**Expected behavior**
When the user is redirected to their Azure idp t

[2022-03-08 04:09] jmprieur commented on #1647
@rob-king-volpara : a lot of the code you have is not necessary.
Please look at https://github.com/AzureAD/microsoft-identity-web/wiki/web-apps on how to use Microsoft.Identity.Web.

[2022-03-09 16:00] MauRiEEZZZ opened #1651 "Maybe just use throw and not throw exception ?"
https://github.com/AzureAD/microsoft-identity-web/blob/bba91c4298411e780c9f082e8e3843eacd8e543c/src/Microsoft.Identity.Web/MicrosoftIdentityConsentAndConditionalAccessHandler.cs#L145

While debugging I stumbled upon this line as I was matching my stacktrace.
If this method just doesn't want to handle the exception it is better rethrown using only throw; and not throw ex;
This first method resets t

[2022-03-09 17:07] bgavrilMS commented on #1651
If you are in a catch block, you can rethrow via `throw` instead of `throw ex` which preserves the stack trace. But I don't think you can rethrow in a like `HandleException(Exception e)`

[2022-03-09 19:48] niketk opened #1652 "Getting error No authentication handlers are registered. Did you forget to call AddAuthentication().Add.."
We are using asp.net core 3.1 for our service. We recently added supported for AAD v2 tokens. To support decryption of the token and get the signing keys we added new code to our existing service and since then we get the error "No authentication handlers are registered. Did you forget to call AddAuthentication().Add[SomeAuthHandler](\"Bearer\",...)?","

Code references :

 // Read AuthConfig valu

[2022-03-10 19:53] rob-king-volpara commented on #1647
Hi @jmprieur thanks for the link. I stripped back my code and it worked fine. So I gradually reintroduced bits of our code that we needed and found the issue was coming from the **OnRedirectToIdentityProvider** event.

I was setting the redirect URIs and this was causing the app to return to the home page bypassing the other events. This is what I have now and you can see the commented out bits wh

[2022-03-11 01:54] jmprieur commented on #1647
@rob-king-volpara : the redirect URIs is the URL where Azure AD will send back the token to your web app. It's fixed depending on the authentication handler (/signin-oidc here). If you change it, your app won't receive the token, I don't think that other OIDC frameworks do differently as the address needs to be registered in the identity provider (Azure AD)

[2022-03-11 08:32] WolnyDominik commented on #1548
Hi, is there any update on this bug? Is it in testing phase or maybe there is already release ETA?

[2022-03-11 08:36] luismanez commented on #1548
@jennyf19 BTW, I updated yesterday my VS 2022, but the Functions tools are not updated yet, so still same issue... (haven´t tried the VS Preview version)

[2022-03-11 11:47] Insighter2k opened #1655 "[Bug] Using AAD B2C with Application Gateway / Kubernetes not working - Error 404"
**Which version of Microsoft Identity Web are you using?**
1.23.1
**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [x] In-memory caches
     * [ ] Sessi

[2022-03-11 14:41] dirthsj commented on #1548
@luismanez I've been looking into this and the PR for functions tools update is here https://github.com/Azure/azure-functions-core-tools/pull/2972

[2022-03-11 20:13] xubinzheng opened #1656 "[Bug] Object Null Reference in GetAuthenticationResultForAppAsync - background task"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
Microsoft Identity Web 1.23.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [X] Protected web APIs call downstrea

[2022-03-11 20:15] xubinzheng commented on #1656
Looks like this issue has been fixed in IdWeb 1.23.1 with this PR: https://github.com/AzureAD/microsoft-identity-web/pull/1648

[2022-03-11 22:07] yogesh-randhawa opened #1657 "DSMS cannot be configured as a secrets vault for use with MISE+SAL sdk"
**Is your feature request related to a problem? Please describe.**
I am working on creating a new 1P Web API called BCS that will be a MS Graph workload. It uses DSMS as a secrets vault. But apparently the MISE+SAL SDKs don't yet support configuring DSMS as a secrets store similar to Azure KeyVault
https://github.com/AzureAD/microsoft-identity-web/issues/new?assignees=&labels=enhancement%2C+Featur

[2022-03-12 00:18] xubinzheng opened #1658 "[Feature Request] Use GraphServiceClient as singleton"
**Is your feature request related to a problem? Please describe.**
Currently the lifetime for `GraphServiceClient` is scoped. It makes developer extremely hard to org their code.
Currently, the only approach is to reference the Graph client in the controller and pass it all the way down to where we need to call MS Graph.

It would be very help to have an option to create the Graph client as a sing

[2022-03-14 00:11] jmprieur commented on #1655
@Insighter2k : did you read this article? https://github.com/AzureAD/microsoft-identity-web/wiki/Deploying-Web-apps-to-App-services-as-Linux-containers

[2022-03-14 00:12] jmprieur commented on #1655
Also your domain seems to be an AAD domain, not a B2c domain.

[2022-03-14 00:16] jmprieur commented on #1652
@niketk : we'd suggest you use Microsoft.Identity.Web, not JwtBearer. this will be way simpler.
See https://github.com/AzureAD/microsoft-identity-web/wiki/web-apis or https://docs.microsoft.com/azure/active-directory/develop/scenario-protected-web-api-overview

[2022-03-14 00:18] #1651 closed

[2022-03-14 00:20] jmprieur commented on #1640
@ferronsw : did you see that you can subscribe to the OnL2CacheFailure delegate in the MsalDistributedTokenCacheAdapterOptions, and do a retry?

https://github.com/AzureAD/microsoft-identity-web/blob/704cd3f8a8db8833888a55623c7d8e686ef6b424/src/Microsoft.Identity.Web.TokenCache/Distributed/MsalDistributedTokenCacheAdapterOptions.cs#L25-L34

[2022-03-14 00:25] jmprieur commented on #1624
@jimitndiaye : did you try https://www.nuget.org/packages/Microsoft.Identity.Web/1.23.1?
we fixed a similar issue.

[2022-03-14 00:28] jmprieur commented on #1623
Did you try https://www.nuget.org/packages/Microsoft.Identity.Web/1.23.1 ?

[2022-03-14 06:17] Insighter2k commented on #1655
I didn't know this article, but the solution which is written for the redirect uri was already been applied to the docker-compose.yml with the environment variable "ASPNETCORE_FORWARDEDHEADERS_ENABLED". Since then, there is no problem with the redirect uri. And I am not using any App Service. Instead, I am using Kubernetes service (/ pods) for hosting my sites.

But it is.
<img width="511" alt="im

[2022-03-14 06:31] luismanez commented on #1548
Hi @dirthsj , yeah, but if you download that version, Visual Studio is still using its "internal" version. The way to test it might be to download that version, and create an Az Function using _func_ CLI and VS Code, but I´m not experienced with it and have no time to test it.
Hope MS updates VS with latest Az Func tools the sooner...

[2022-03-14 08:06] ferronsw commented on #1640
@jmprieur No I did not. Thx, I will look into it!

[2022-03-15 02:04] jennyf19 commented on #1656
released in [1.23.1](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.23.1)

[2022-03-15 02:04] #1656 closed

[2022-03-15 02:05] jennyf19 commented on #1643
released in [1.23.1](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.23.1)

[2022-03-15 06:27] gurry commented on #1571
RequiredScope used to work as expected here until version 1.17.0 of Microsoft.Identityt.Web. It got broken in 1.18.0. See these issues: https://github.com/AzureAD/microsoft-identity-web/issues/1609 https://github.com/AzureAD/microsoft-identity-web/issues/1002

[2022-03-16 01:09] jmprieur opened #1660 "[Feature Request] Remove the need for implicit flow ID tokens in B2C apps"
**Is your feature request related to a problem? Please describe.**
B2C has made the change service-side to avoid requiring the implicit flow ID token checkbox to be checked.
Microsoft.Identity.Web can now remove the B2C specific code that was accounting for that special requirement (and update the docs)

[2022-03-16 01:09] jmprieur commented on #1660
cc: @jennyf19

[2022-03-16 11:38] Insighter2k commented on #1655
I added the solution I have found. Can now be closed.

[2022-03-16 11:38] #1655 closed

[2022-03-16 15:54] jmprieur commented on #1655
Which solution was it, @Insighter2k (so that this helps others)

[2022-03-17 12:16] kyledevans commented on #1623
I am also experiencing this.  However it appears that the configure callback function I pass to EnableTokenAcquisitionToCallDownstreamApi is not being executed at all.  I've updated to 1.23.1 and still experience the issue.

Apologies for so little information, I'll try and provide better feedback when I have time.

[2022-03-17 12:40] froens commented on #1624
@jmprieur

I have the same problem. I tried to upgrade to 1.23.1, but this doesn't solve my issue.

Instance-property of MergedOptions is null, thus this [line](https://github.com/AzureAD/microsoft-identity-web/blob/c29ba1ccc9340a2c36d72a523dcde4a6b2b65613/src/Microsoft.Identity.Web/MergedOptions.cs#L378) is throwing an exception.

I noticed that the optionsmonitors cache-property is alway empty.

[2022-03-18 09:03] Insighter2k commented on #1655
I already added it to my initial post, since in your template, you offer a section for a possible solution :-)

[2022-03-18 21:30] stephenjust opened #1662 "[Bug] Dependencies in Net Framework TokenCache package break Kestrel on Net Framework"
**Which version of Microsoft Identity Web are you using?**
Microsoft.Identity.Web.TokenCache all versions

**Where is the issue?**
* Token cache nuget dependencies

**Is this a new or an existing app?**
Existing app, trying to migrate to .Net Core via older Asp.Net Core release.

**Repro**
Install Microsoft.Identity.Web.TokenCache on a service using net472, and aspnetcore 2.1 or 2.2

**Expected be

[2022-03-18 23:24] jmprieur commented on #1662
@[stephenjust](https://github.com/stephenjust): would you be willing to submit a PR?

[2022-03-21 18:11] kyledevans commented on #1623
So a little description about my use case.  I'm trying to create a SPA application that communicates to my backend service API (the backend for frontend model).  Ideally this application would utilize a SSO solution like Azure AD, but often times for development, testing, and debugging purposes I find that it's easier to use a solution that implements an internally managed username/password store.

[2022-03-21 23:35] stephenjust commented on #1662
You can repro this by cloning https://github.com/stephenjust/AspNetCore-FullFramework
You can start the project "WebApplication.Basic" in that repo's current state, then install Microsoft.Identity.Web.TokenCache which will cause AspNetCore to break. AspNetCore seems to be relatively tightly coupled to particular versions of Microsoft.Extensions.

[2022-03-22 09:43] kyledevans commented on #1624
I am encountering the same issue where it throws a null reference exception.  I'm trying to create a SPA application that communicates to my backend service API (the backend for frontend model).  Ideally this application would utilize a SSO solution like Azure AD, but often times for development, testing, and debugging purposes I find that it's easier to use a solution that implements an internall

[2022-03-23 03:52] mabster opened #1664 "System Managed Identity to access Graph"
Hi gang,

Hope this is the right place to ask a question. I'm a little lost here.

I have deployed an ASP.NET Core Web API to an Azure App Service, and given that App Service its own system-assigned managed identity.

I have granted User.Read.All and Directory.Read.All Graph application permissions to the system identity service principal.

What do I need to do to make Microsoft.Identity.Web.Micro

[2022-03-23 05:16] mabster commented on #1664
Ok, I got a stack trace.

My request path (/api/users/{id}) is the controller endpoint that is getting the photo for the requested user. So it needs User.Read.All.

I've replaced my tenant id below with {tenant} etc, and for some reason the error contains the _ObjectId_ (not the ClientID) of my system-assigned managed identity, so I have replaced that with {msi-objectid}.

I hope this helps! I'm s

[2022-03-23 05:18] mabster commented on #1664
The line of code it's crashing on in my controller is:

[code]

The line works just fine if I supply a ClientSecret, but I didn't think I'd have to with managed identities.

[2022-03-23 05:23] mabster commented on #1664
I could only get this far by setting the ``AzureAd__UserAssignedManagedIdentityClientId`` environment variable to the app ID of my App Service / System Managed Identity, by the way. If I didn't set that I get a different error - "One client credential type required either: ClientSecret, Certificate OR ClientAssertion must be defined when creating a Confidential Client."

So I guess it will only tr

[2022-03-23 12:49] oledid commented on #1507
After struggling with the PrepareAuthorityInstanceForMsal() NullReferenceException from  for a while after upgrading from an older Microsoft.Identity.Web, I found a way to get it to work with `<PackageReference Include="Microsoft.Identity.Web" Version="1.23.1" />`:

I am using app authentication for azure maps separately from an AzureAd user login (which occupies the "AzureAD" hard coded configura

[2022-03-23 12:52] oledid commented on #1624
Please see if this comment is relevant https://github.com/AzureAD/microsoft-identity-web/issues/1507#issuecomment-1076338507

[2022-03-23 12:54] oledid commented on #1623
Please check if this comment is relevant: https://github.com/AzureAD/microsoft-identity-web/issues/1507#issuecomment-1076338507

[2022-03-23 14:09] zhonghua-wu opened #1665 "[ Cert related Issue]Question about V3 deserialization"
When I try to fix issue on my application, I saw very strange behavior.
I use redis to store tokencache and use cert to encrypt.

I have two cluster use different cert ,one cluster  (cluster1)work fine.but in another cluster (cluster2) find  V3 deserliazation error.
then I setup another redis assign to  cluster2 and try to clear keys in the old redis.

but after I clear the redis, some machine in

[2022-03-23 14:49] adamsosinski opened #1666 "[Bug] Fail to obtain access token for downstream API when app registered to use Personal Accounts"
**Which version of Microsoft Identity Web are you using?**  11.16.0
Note that to get help, you need to run the latest version.

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [x] Protected web APIs call downstream web APIs
* Token ca

[2022-03-23 15:06] ferronsw commented on #1640
@jmprieur  I tried the default:

[code]

The weird thing is that the application now throws many errors.

[code]

Before this only happened when there was maintanance or something. The app would'nt work, but the app keeps working now. Maybe because of the L1 cache failover?

[2022-03-23 16:13] #1665 closed

[2022-03-23 21:30] kyledevans commented on #1624
@oledid That comment illuminated the perhaps oddly named parameter "jwtBearerScheme".  However I'm still having the same issue.

In my usecase, I am still calling the Graph API.  What I am trying to accomplish is API authentication against JWT tokens from multiple issuers (Azure AD and my own internal JWT generator).  So the calls to my API will have the header "Authorization: Bearer <JWT>".  Call

[2022-03-23 21:47] nwoolls commented on #554
I had the issue initially reported:

The issue for me was that I had not added the calls to `AddRazorPages()` and `MapRazorPages` since I was working with a pure ASP.NET MVC application. Without those calls, everything will work except for signing out, which doesn't redirect you back to the application.

[2022-03-23 21:47] mabster commented on #1664
https://stackoverflow.com/questions/71594455/call-graph-from-azure-app-service-using-managed-identity

I've also tried posting this on Stack Overflow in case someone else is having any luck.

[2022-03-23 22:29] MattKotsenas opened #1667 "[Feature Request] Improved support for inheriting / customizing MicrosoftIdentity*AuthenticationHandler"
# Is your feature request related to a problem?
My specific scenario is likely niche, but I think the capability would be broadly applicable. For context, in my case I have a web API that makes protected downstream web API calls using the `AddMicrosoftIdentityAppAuthenticationHandler` route. I chose this method over `IDownstreamApi` because I have a set of HttpClient delegating handlers (like retr

[2022-03-24 01:30] mabster commented on #1664
This doc:

https://docs.microsoft.com/en-us/azure/app-service/scenario-secure-app-access-microsoft-graph-as-app?tabs=azure-powershell#call-microsoft-graph

... shows how to use `ManagedIdentityCredential` with `GraphServiceClient`, which is what I want, but how do I introduce that code into the simple extension-method based setup code I currently have:

[code]

... in such a way that the token is

[2022-03-24 05:11] mabster commented on #1664
OK, GitHub helps those who help themselves.

I've currently got this code in my Program.cs, and it's working at least when running locally in Visual Studio:

[code]

Can someone from this project (all of whom are infinitely more experienced with identity, tokens etc than I) critique this code? Am I on the right track?

[2022-03-24 13:28] munkii opened #1668 "[Bug] (specific authentication scheme)"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
Microsoft Identity Web 1.21.1

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [X] Protected web APIs call downstrea

[2022-03-24 18:50] kalyankrishna1 commented on #1641
Since Authorize attribute is already used by asp.net middleware, it's okay to either
1. extend RequiredScope to suuport app permissions
2. Create a new RequiredAppPermissions attribute (please don't call it RequiredAppRoles :)). Maybe create a copy of RequiredScope and call it RequiredDelegatedPermissions. It has become an issue to explain app roles and scopes and how they map to app and delegated

[2022-03-24 19:06] oledid commented on #1624
@kyledevans I see you are using `JwtBearerDefaults.AuthenticationScheme` here. This might be a trap you're stepping into. It's value is just a constant string "Bearer". It does nothing to enable Jwt, it's only there as an example name for the authentication scheme. If you use multiple authentication schemes it might be better to create your own names.

Implementation of JwtBearerDefaults:
[code]

[2022-03-24 21:43] mabster commented on #1664
The code above needed some work, but I have it working now! I've posted my most up-to-date code as an answer on my Stack Overflow question:

https://stackoverflow.com/questions/71594455/call-graph-from-azure-app-service-using-managed-identity/71609780#71609780

Still would love to have someone critique it and suggest a better way.

[2022-03-25 05:20] MattKotsenas commented on #1667
I created a branch with an example of the type of hooks I'm thinking of here: https://github.com/MattKotsenas/microsoft-identity-web/commits/feature/di-auth-message-handlers

Each commit showcases a specific idea, the second shows adding an `abstract` method that centralizes the call to `TokenAcquisition`, so that inheritors have a seam to add new behavior, and the first shows adding a factory so

[2022-03-25 06:52] plamber opened #1670 "What is the proper way to register an L2 cache?"
**Is your feature request related to a problem? Please describe.**
Hello,
we are using in our projects the latest version of Microsoft.Identity.Web. We came to an interesting challenge that I am not sure how to solve properly. Maybe you could point me in the right direction.

We are using Microsoft.Identity.Web and the IDistributedCache implementation for L2 cache targeting environment X.
In the s

[2022-03-25 08:02] ferronsw commented on #1640
Increasing the MinThreads resolved this issue. I did it trought the csproj file:

[code]

[2022-03-25 08:02] #1640 closed

[2022-03-25 15:46] jmprieur commented on #1640
Thanks for sharing your solution, @ferronsw

[2022-03-25 17:30] jrmcdona opened #1671 ".NET Core 6 MVC app that signs in users"
Do we have a sample for web app that signs in users using .NET Core 6?

[2022-03-25 18:04] jmprieur commented on #1671
@[jrmcdona](https://github.com/jrmcdona)

https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/1-WebApp-OIDC/README.md

In fact just replace netcoreapp3.1 or net50 by net60 in the TargetFramework / TargetFrameworks element of your csproj and you are good.

[2022-03-25 19:26] jrmcdona commented on #1671
@jmprieur great thanks. Out of curiousity how come the samples do not have AccountController in them yet the loginPartial.cshmtl  says to use the AccountController?

Is there magic happening?

**asp-controller="Account"**

[2022-03-25 19:33] jrmcdona commented on #1671
Nevermind I see this:
In ASP.NET, selecting the Sign-in button in the web app triggers the SignIn action on the AccountController controller. In previous versions of the ASP.NET core templates, the Account controller was embedded with the web app. That's no longer the case because the controller is now part of the Microsoft.Identity.Web.UI NuGet package. See [AccountController.cs](https://github.c

[2022-03-26 04:21] kyledevans commented on #1624
@oledid I read your comments and tried your suggestions, but haven't been able to resolve the issue.

Here's the most recent version of my code:
[code]
I've tried many variations of this, including your edited comment where I make adding each scheme a new call.  However each time I end up with the same result.  I'm still getting the null reference exception.

I'm wondering if the microsoft-identit

[2022-03-26 19:57] oledid commented on #1624
@kyledevans where exactly are you getting the `Microsoft.Identity.Web.MergedOptions.PrepareAuthorityInstanceForMsal()` `NullReferenceException` now? what login do you use to trigger it and where does it throw?

[2022-03-26 20:14] kyledevans commented on #1624
Here's my stack trace:
[code]

[2022-03-26 22:41] oledid commented on #1624
Ok, the microsoft graph api is crashing at `Kiddo.Web.Models.ProfileModel.EnsureProfile()`, in the actual "get me"-request. I might be able to look at it some more tomorrow.

[2022-03-27 11:56] kyledevans commented on #1624
Success!  Calling `.WithAuthenticationScheme("AzureAd")` now works as expected.  Thank you @oledid, you've been extremely helpful in this!

Here's the actual call to the Graph API that now succeeds:
[code]
The authentication setup in Program.cs is still what I posted in https://github.com/AzureAD/microsoft-identity-web/issues/1624#issuecomment-1079598593.

It would be nice if the microsoft-identit

[2022-03-27 14:27] oledid commented on #1624
Great! Glad I could help.

`microsoft-identity-web` should probably check if `Instance` is null before calling `Instance = Instance.TrimEnd('/') + "/"` inside `PrepareAuthorityInstanceForMsal()`, but catching that the reason that `Instance` is null usually seems to be not setting correct AuthenticationScheme somewhere would be more helpful. But I'm not 100% sure that authenticationScheme is the pr

[2022-03-27 23:28] #1671 closed

[2022-03-28 01:35] jrmcdona commented on #1671
If you want to use the out of the box Program.cs that comes with a new .NET Core 6 project it can be like this for example:

[code]

[2022-03-28 01:42] jmprieur commented on #1670
@[plamber](https://github.com/plamber). Microsoft.Identity.Web just uses directly IDistributedCache. So you cannot really have different implementations unless you inherit from IDistributedCache for your other environment, or for the distributed token cache.

You can, if you wish you can provide your own token cache adapter by doing something like: https://github.com/AzureAD/microsoft-identity-web

[2022-03-28 01:55] jmprieur commented on #1668
@[munkii](https://github.com/munkii)
I think that this is an authentication scheme issue.

you might want to:
- either define a default authentication scheme in your startup.cs
- Or use the override of GetAccessTokenForAppAsync with the authenticationScheme parameter, and use the authentication scheme for which you registrered the web API (B2CScheme).

See https://github.com/AzureAD/microsoft-iden

[2022-03-28 02:15] jmprieur commented on #1667
@[MattKotsenas](https://github.com/MattKotsenas) do we want to try that you submit a PR?

[2022-03-28 02:19] jmprieur commented on #1666
For apps configured to support only MSA, did you try to set the tenant to `consumers` ?

[2022-03-28 02:23] jmprieur commented on #1664
@mabster
- do you use App Services authentication? Or just app services?
- Did you try UserAssignedManagedIdentityClientId  in the AzureAd section of the appsettings.json?

[2022-03-28 02:38] mabster commented on #1664
Hi @jmprieur!

Just App Services - no authentication at that level. The app itself handles the auth.

I didn't have any luck with UserAssignedManagedIdentityClientId. I tried giving it the value of my system MSI and also tried creating a user-assigned MSI and giving it that ID's object & client ID with no joy.

From Visual Studio I am using User Secrets to manage the ClientSecret so it is merged i

[2022-03-28 06:28] plamber commented on #1670
Hi @jmprieur,
thank you for your feedback. This looks good to me.

And with this line I am going to register it.

https://github.com/AzureAD/microsoft-identity-web/blob/855f6d4d9ffa52286fe432efeb5f25e625e0de5b/src/Microsoft.Identity.Web.TokenCache/Distributed/DistributedTokenCacheAdapterExtension.cs#L27

Thank you,
Patrick

[2022-03-28 06:28] #1670 closed

[2022-03-28 16:14] jmprieur commented on #1670
right Patrick!

[2022-03-28 18:59] jmprieur opened #1673 "[Feature Request] Enable configuration to specify the token cache storage technology with options"
**Is your feature request related to a problem? Please describe.**
For MISE, enable the choice of the token cache storage to be specified by configuration (techno and options)

**Additional context**
We need to be mindful of not requiring unwanted dependencies (no need to leverage REDIS when not needed)

[2022-03-28 19:53] MattKotsenas commented on #1667
Sure! I've opened both #1674 and #1675, since they're technically independent and can be considered separately. Let me know if there's anything else that's helpful, or if you have any questions!

[2022-03-28 22:07] jmprieur commented on #1624
https://github.com/AzureAD/microsoft-identity-web/pull/1672

[2022-03-28 22:29] poundingCode commented on #435
the error means that your project is complaining about the TodoTask.ITodoTaskExtensionsCollectionPage  property.
Create a new class that matches the TodoTask class, but doesn't have ITodoTaskExtensionsCollectionPage  property
Map your variables to that class.  And away you go...

[2022-03-28 23:22] jmprieur commented on #1440
See PR: https://github.com/AzureAD/microsoft-identity-web/pull/1672

[2022-03-28 23:25] jmprieur commented on #1443
See PR: https://github.com/AzureAD/microsoft-identity-web/pull/1672

[2022-03-29 00:17] DavidStrickland0 commented on #516
Think I just Hit this. App was fine locally using a DelegatingHandler with GetAccessTokenForUserAsync(scope). But once I deployed to Azure it Failed with the much feared "No account or login hint was passed to the AcquireTokenSilent call."

[2022-03-29 02:20] jmprieur commented on #516
I think you can debug it locally by using an In-private browser session.
See https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access

[2022-03-29 03:39] DavidStrickland0 commented on #516
worked fine locally in private. Failed inPrivate once I was up on azure. Moved it out of the delgating Handlerr and it was fine

[2022-03-29 14:38] DavidStrickland0 commented on #516
One additional Note if we use Redis as a distributed Cache its fine. But relying completely on InMemoryCache from withen
a Delegating Handler calling Handle Exception just seems to cause an endless loop of "No account or login hint was passed to the AcquireTokenSilent call." Followed by a screen refresh followed by another "No account or login hint was passed to the AcquireTokenSilent call."

[2022-03-29 18:04] krispenner opened #1677 "Wrong parameter description."
https://github.com/AzureAD/microsoft-identity-web/blob/93e06894eff32179f5bbc1f37375eac6a12f7e2c/src/Microsoft.Identity.Web/WebAppExtensions/MicrosoftIdentityWebAppServiceCollectionExtensions.cs#L30

Change this:
[code]

To this:
[code]

[2022-03-29 19:40] kelps commented on #13
Any news on this? I just spent a few hours trying to debug this without success. From what I glimpsed, AuthenticationMiddleware runs a foreach on Schemes.GetRequestHandlerSchemesAsync(), but the Cookie handler is not returned, even though it is in the schemes array. That seems to be why the ValidatePrincipal code is never called.

the order in my code is as follows:

[code]

Without this, I can't