[2020-09-23 08:30] jmprieur commented on #570
Duplicate of https://github.com/AzureAD/microsoft-identity-web/issues/547

@iUnknwn did you decorate the [Authorize] attribute for your HTML pages (Web app) and your api pages (web api) with the scheme ? did you read this article? [Authorize with a specific scheme in ASP.NET Core](https://docs.microsoft.com/aspnet/core/security/authorization/limitingidentitybyscheme)

[2020-09-23 12:43] creativebrother commented on #603
Yes I did.  I tried and actually it did not work. Then I realized that I am solving a different problem.
In short:
[AuthorizeForScope(Scope="xxx")] is good for redirect to the prompt page for user consent when user click on the action link.
but when an ajax call situation to the same action, the page does not redirect in browser hence ajax is calling into difference origin.

So change my code of a

[2020-09-23 16:14] creativebrother commented on #603
In the mean time, I have to create another controller action without the [AuthorizeForScope(Scope="xxx")] for the ajax call and return the a 200 with custom data containg redirect url by using ConfidentialClientApplicationBuilder.CreateWithApplicationOptions to construct the authorization endpoint url so the ajax can use the window.location to bring up the consent prompt...

[2020-09-23 16:19] stevebuckco opened #607 "Missing Strong Name"
Can you release an update with the assemblies signed?  We're unable to use the package because of the missing strong names

[2020-09-23 19:11] jmprieur commented on #607
@stevebuckco: which version of which NuGet package? Can you please provide us with a link to the NuGet packages ?
The signing happens in our release build and I personally check that each NuGet package is signed, so I'm a bit surprized

[2020-09-23 19:21] jmprieur commented on #607
I checked 0.4.0-preview, and it's signed.

![image](https://user-images.githubusercontent.com/13203188/94059426-acb1ef80-fde2-11ea-8a94-baa25868e55f.png)

[2020-09-23 19:35] creativebrother commented on #603
I did the following and now my ajax call is working.
        [Authorize]
        [HttpGet]
        [Route("RecognitionTile")]
        //[AuthorizeForScopes(Scopes = new[] { "https://ccbcc.sharepoint.com/AllSites.Read" })]
        public async Task<IActionResult> RecognitionTile()
        {
            try
            {
                var aToken = await GetAccessTokenforResource("https://ccbcc.sha

[2020-09-24 03:32] creativebrother commented on #603
Hi, @jmprieur After looked at [authorize] source code and [authorizeforscopes] source code
if it possible to do the following
        /// <summary>
        /// A delegate assigned to this property will be invoked when the related method is called.
        /// </summary>
        public Func<RedirectContext<CookieAuthenticationOptions>, Task> OnRedirectToReturnUrl { get; set; } = context =>

[2020-09-24 04:09] creativebrother commented on #603
Or is it possible to do it in the Startup.cs

            services.AddAuthentication(OpenIdConnectDefaults.AuthenticationScheme)
                .AddCookie(options =>
                {
                    options.Events = new CookieAuthenticationEvents
                    {
                        OnRedirectToLogin = context =>
                        {
                            if (IsAjaxReques

[2020-09-24 10:31] jmprieur commented on #603
@creativebrother if this works for you, this looks good for me, but I'm not an expert
Adding @tratcher for his input

[2020-09-24 11:35] jmprieur commented on #509
Work to be done (in the Client):
- in the Pages sub folder, add the CallWebApi.razor and ShowProfile.razor pages from https://github.com/AzureAD/microsoft-identity-web/tree/master/ProjectTemplates/templates/BlazorServerWeb-CSharp/Pages
- in the Shared sub folder, add the NavMenu.* pages from https://github.com/AzureAD/microsoft-identity-web/tree/master/ProjectTemplates/templates/BlazorServerWeb-CS

[2020-09-24 21:44] Tratcher commented on #603
Cookie auth already does that by default, not sure why you needed to modify it.
https://github.com/dotnet/aspnetcore/blob/c39ecb9f9b387ec39112c3eace5ae38db06df160/src/Security/Authentication/Cookies/src/CookieAuthenticationEvents.cs#L41-L53

[2020-09-24 22:57] mjnorman opened #613 "[Bug] Correlation Failed when utilizing Cookie and Load Balancer url"
**Which version of Microsoft Identity Web are you using?**
    Microsoft.Identity.Web" Version="0.3.*-*"

**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [x] Protected web APIs (validating tokens)
    * [x] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization

[2020-09-25 02:01] creativebrother commented on #603
@Tratcher Hi, When my ajax call the action method decorated with  [AuthorizeForScopes(Scopes = new[] { "https://ccbcc.sharepoint.com/AllSites.Read" })], its response is not 401 but is a 302 redirect(ChallengeResult) that caused the CORS issue because ajax is silently redirect to Azure Authorization EndPoint.

Is it possible in the AuthorizeForScopesAttribute to return ChallengeResult(302) or Unaut

[2020-09-25 02:11] creativebrother commented on #603
@Tratche Actually the problem I am facing is as simple as on web app page using Microsoft.Identity.Web 0.4.0-preview, an ajax call the action method decorated with AuthorizeForScopesAttribute will cause CORS issue with Azure Authorization endpoint because AuthorizeForScopesAttribute is not producing 401 but 302 result.

[2020-09-25 05:40] creativebrother commented on #603
I have altered the AuthorizeForScopesAttribute a bit to let it return a cookie based ChallengeResult within the OnException override
                    var request = context.HttpContext.Request;
                    if (IsAjaxRequest(request))
                        context.Result = new ChallengeResult(CookieAuthenticationDefaults.AuthenticationScheme, properties);
                    else

[2020-09-25 06:48] jmprieur commented on #603
@creativebrother : to enable the MicrosoftIdentity area, you need to add the 'Microsoft.Identity.Web.UI' NuGet package, and enable controllers in the startup.cs:

For instance if you are using Razor pages:

[code]

[2020-09-25 09:22] ajmaly commented on #269
Thanks all. I am using certificate rather than client secrets as discussed.

[2020-09-25 09:27] jmprieur commented on #269
Thanks for the update, @ajmaly

[2020-09-28 01:47] mjnorman commented on #613
I believe I was able to resolve this by including the Host header option.

[code]

[2020-09-28 01:47] #613 closed

[2020-09-28 19:13] sameer-kumar commented on #460
I'm also having the same issue/error and have similar use case. I want to make a call to Graph service to retrieve user membership so that I can add Group names as claims.

[2020-09-29 02:55] pmaytak commented on #80
![Avg cache ops](https://user-images.githubusercontent.com/34331512/94507416-8b774780-01c4-11eb-9ec7-ebcd7154cb6f.png)
![Avg Response Time](https://user-images.githubusercontent.com/34331512/94507419-8c0fde00-01c4-11eb-8078-e1aff878a903.png)
![Avg CPU](https://user-images.githubusercontent.com/34331512/94507420-8ca87480-01c4-11eb-8143-30ab3a4f7d51.png)
![Avg Memory](https://user-images.githubuserc

[2020-09-29 07:18] jmprieur opened #617 "[Bug] add tid long-claim check in AadIssuerValidator.GetTenantIdFromToken"
**Which version of Microsoft Identity Web are you using?**
1.0.0

**Where is the issue?**
* Web app
    * [x ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ x] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     * [ ] Ses

[2020-09-29 07:22] jmprieur opened #618 "[Bug] `requestContent` is not used in the method `DownstreamApi.CallWebApiForAppAsync`"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [x ] Protected web APIs call downstream web APIs
* Token cache ser

[2020-09-29 09:36] anant-k-singh opened #619 "[Bug] Token is not always returned after user has logged in"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 0.4.0-preview

**Where is the issue?**
* Web app
    - [ ] Sign-in users
    - [x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In

[2020-09-29 10:11] jmprieur commented on #619
@anant-k-singh
this is the expected behavior for the moment: if there is a session cookie, and no token in the cache, then the user should be challenged.
Is the value of `requiredScope` the same as what you have in the **Scopes** property of the **DownstreamApi** section in your appsettings.json?

Did you read this article? https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incrementa

[2020-09-29 10:11] jmprieur commented on #619
Also relates to https://github.com/AzureAD/microsoft-identity-web/issues/13 (which proposes another behavior)

[2020-09-29 11:19] hankovich opened #620 "Cancel button redirects to /"
On the B2C login form we have two additional links:
![image](https://user-images.githubusercontent.com/22914850/94551417-ffb1f980-025d-11eb-9c39-597b31f08df8.png)

which lead us to the next sections:
![image](https://user-images.githubusercontent.com/22914850/94551456-0e98ac00-025e-11eb-8c37-c5c4fe075d61.png)
![image](https://user-images.githubusercontent.com/22914850/94551480-16585080-025e-11eb-8

[2020-09-29 19:00] pmaytak commented on #88
@henrik-me Should I close this issue, since we completed GA criteria work? Afterwards we can create separate issues for each perf task that will be done?

[2020-09-30 05:24] anant-k-singh commented on #619
I understand that when the user is already logged in the browser, we would not have token in the cache and sign in via UI would be required.
How do we redirect to the sign in page when MicrosoftIdentityWebChallengeUserException is thrown?

[2020-09-30 08:44] anant-k-singh opened #623 "[Question]: How to programmatically redirect to Microsoft's login page"
Context:
I have a .NET Core web app and I am using the Microsoft.Identity.Web & Microsoft.Identity.Web.UI NuGet packages for redirecting to Microsoft's login page on click of a custom sign in button, but currently it redirects to Microsoft's login page first at the start of the application and then after login shows the custom sign in button.

Question:
How to programmatically control when to redi

[2020-09-30 09:53] jmprieur commented on #88
Let's mark it as fixed. We'll close it with the milestone.

[2020-09-30 09:55] jmprieur commented on #623
@anant-k-singh

You're redirected to the Microsoft login page because your page or controller has the `[Authorize]` attribute
If your default controller action / Page does not have the `[Authorize]` attribute, the user won't need to sign-in. This would only happen on protected pages.

[2020-09-30 10:04] jmprieur commented on #619
Do you mean the AuthorizeForScope attribute did not redirect you?
Did you add MicrosoftIdentityUI: https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access#startupcs ?

[2020-09-30 10:50] anant-k-singh commented on #619
Exactly, AuthorizeForScope attribute does not redirect the user.
Yes, we have added `services.AddRazorPages().AddMicrosoftIdentityUI();` in the _startup.cs_ using Microsoft.Identity.Web.UI.

@jmprieur Is it possible that because I am returning string and not a View() from the controller, the user is not redirected to login page in case of MicrosoftIdentityWebChallengeUserException?

[2020-09-30 11:03] jmprieur commented on #520
Live: https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-aspnet-core-webapp

[2020-09-30 11:03] #520 closed

[2020-09-30 11:04] jmprieur commented on #523
Live:https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-app-call-api-app-configuration?tabs=aspnetcore#summary

[2020-09-30 11:04] samihuutoniemi opened #624 "[Question] SameSite issue with blazor server"
I have used this to get my website to implement downstream API, providing it with an access token. I'm using Blazor serverside and have am using the ConsentHandler to login. But this keeps giving me a cookie that is refused by SameSite reasons.

I have described it on Stack Overflow here:

https://stackoverflow.com/questions/64120434/getting-samesite-cookie-issues-with-azure-ad-authentication-with

[2020-09-30 11:05] #523 closed

[2020-09-30 11:06] jmprieur commented on #522
Live: https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-aspnet-core-web-api

[2020-09-30 11:06] #522 closed

[2020-09-30 11:06] jmprieur commented on #524
Live: https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-api-call-api-app-configuration?tabs=aspnetcore#option-1-call-microsoft-graph

[2020-09-30 11:07] #524 closed

[2020-09-30 11:08] jmprieur commented on #548
@UM001, this is available in Microsoft.Identity.Web 1.0.0

[2020-09-30 11:08] #548 closed

[2020-09-30 11:08] #536 closed

[2020-09-30 11:09] #584 closed

[2020-09-30 11:10] jmprieur commented on #573
@jassent, the fix is available in Microsoft.Identity.Web 1.0.0

[2020-09-30 11:10] #573 closed

[2020-09-30 11:10] jmprieur commented on #589
@calbert82uhah, the fix is available in Microsoft.Identity.Web 1.0.0

[2020-09-30 11:10] #589 closed

[2020-09-30 11:11] #327 closed

[2020-09-30 11:11] jmprieur commented on #561
@Shama-K, the fix is available in Microsoft.Identity.Web 1.0.0

[2020-09-30 11:15] #561 closed

[2020-09-30 11:17] jmprieur commented on #531
@sprakash10, the fix is available in Microsoft.Identity.Web 1.0.0

[2020-09-30 11:17] #531 closed

[2020-09-30 11:24] #623 closed

[2020-09-30 12:08] jmprieur commented on #532
@snehanagendra, the fix is available in Microsoft.Identity.Web 1.0.0
there is a new class named `TokenAcquisitionOptions` which has a `ForceRefresh` boolean property. Here is how to use it:
https://github.com/AzureAD/microsoft-identity-web/wiki/customization#customizations-to-acquire-tokens.

Proposing to close this issue. Feel free to reopen if that does not work for you.

[2020-09-30 12:08] #532 closed

[2020-09-30 12:09] #517 closed

[2020-09-30 13:00] jmprieur commented on #624
@samihuutoniemi ?
Do you want to try with the latest version of Microsoft.Identity.Web (1.0.0).

[2020-09-30 13:39] SirRichie opened #625 "[Feature Request] Use IGraphServiceClient when registering the service"
**Is your feature request related to a problem? Please describe.**
DI should always use interfaces and not classes. Existing projects that have their constructors designed to depend on IGraphServiceClient currently fail to be properly constructed by .NET Core's DI as AddMicrosoftGraph() registers GraphServiceClient instead of the interface

**Describe the solution you'd like**
In Microsoft.Identit

[2020-09-30 14:37] samihuutoniemi commented on #624
Tested, now but the result is the same.

[2020-09-30 14:45] jmprieur commented on #625
@SirRichie I agree with you, however, we received a demand from the Graph SDK team to expose the GraphClientService and not the IGraphServiceClient
Adding @darrelmiller who can justify this guidance.

[2020-09-30 14:50] samihuutoniemi commented on #624
In Edge it doesn't say anything about SameSite, but I get a login loop instead.

[2020-09-30 14:53] jmprieur commented on #624
@samihuutoniemi
Microsoft.Identity.Web already handles samesite. Did you read this: https://github.com/AzureAD/microsoft-identity-web/wiki/SameSite-Cookies ?

[2020-09-30 15:11] phil4business opened #626 "[Bug] ConsentHandler in MVC Partial View Produces Malformed Redirect Uri"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.0.0

**Where is the issue?**
* Web app
    * [x] Sign-in users and call web APIs
* Token cache serialization
    * [x] Distributed caches

**Is this a new or an existing app?**
c. This is a new app or an experiment.

**Repro**

StartUp.cs
[code]
ApiHealthService.cs
[code]

_Layout.cshtml
[code]

**Expected behavior

[2020-09-30 15:27] samihuutoniemi commented on #624
Interesting. Is this new with Microsoft.Identity.Web 1.0?

I do it like:
[code]

In your example, EnableTokenAcquisitionToCallDownstreamApi has an additional first parameter that I can't see anyone setting. Is that required now? And do I need to specify my Azure credentials there again?

[2020-09-30 15:53] grounzero opened #627 "[Documentation] (migration)"
### Documentation related to component

### Please check all that apply

- [ ] typo
- [ x] documentation doesn't exist
- [x ] documentation needs clarification
- [x ] error(s) in the example
- [ x] needs an example

### Description of the issue
Have upgraded to 1.0.0 and ```AuthenticationBuilder AddMicrosoftWebApiAuthentication(this IServiceCollection services ... )``` is missing.

Do I change it

[2020-09-30 15:58] jmprieur commented on #627
@grounzero : the change happened in 0.3.0: See https://github.com/AzureAD/microsoft-identity-web/wiki/0.3.0-preview. The wiki is up to date.
Indeed, you can use AddMicrosoftIdentityWebApiAuthentication
See https://github.com/AzureAD/microsoft-identity-web/wiki/web-apis#protected-web-apis---startupcs

[2020-09-30 16:00] jmprieur commented on #626
@phil4business, what did you register in your app registration? (https://localhost:37289/ ?)
What do you have in your launchsettings.json ?

[2020-09-30 16:01] jmprieur commented on #626
Taking this as a P1 to be more robust.

[2020-09-30 16:03] grounzero commented on #627
@jmprieur thanks for confirming :)

[2020-09-30 16:05] phil4business commented on #626
app registration
[code]
appSettings
[code]

[2020-09-30 16:12] phil4business commented on #626
Adjusting launchSettings to have ```"applicationUrl": "https://localhost:37289"```, and changing the app registration to only contain ```"url": "https://localhost:37289/signin-oidc"``` have no effect.

[2020-09-30 16:23] cmatskas opened #628 "Update the docs to include gRPC .NET Core support for Identity.Web"
### Documentation related to component
Include gRPC for .NET Support in the docs

### Please check all that apply

- [ ] typo
- [**X**] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in the example
- [ ] needs an example

### Description of the issue
We test gRPC for .NET Core with Identity.Web and it's working great. Here's a blog post with a link to a repo tha

[2020-09-30 17:31] jennyf19 commented on #494
included in 1.0.0 release

[2020-09-30 17:31] #494 closed

[2020-09-30 17:35] jennyf19 commented on #98
done.

[2020-09-30 17:35] #98 closed

[2020-09-30 17:36] #354 closed

[2020-09-30 18:15] jennyf19 opened #631 "[Feature Request] Update componentsWebAssembly templates to 3.2.1"
update componentsWebAssembly to 3.2.1 to pick up new blazor changes (including the weird UI issue w/b2c):
![image](https://user-images.githubusercontent.com/19942418/94723795-27f93100-030e-11eb-9390-a2fb956ea204.png)

[2020-09-30 18:16] jennyf19 opened #632 "Sync ASP NET Core templates w/1.0.0"

[2020-09-30 19:21] jennyf19 opened #635 "[Bug] .Clone() is not needed"
.Clone() is not needed per @GeoK

[2020-10-01 06:04] OnAzureCloud9 commented on #603
@creativebrother any luck with your AJAX calls after steps taken in this thread? I am facing the same issues.

[2020-10-01 12:23] jassent commented on #573
@jmprieur & @jennyf19, thank you! Will give it a try in the next few days. I appreciate the work and the follow-up communication.

[2020-10-01 13:47] rsrinivasanhome opened #637 "Request to Support Mutliple Authorization Servers"
I have exposed an api which needs to validate AD Token, Azure Ad B2C token and able to configure the library to work with microsoft identity web library.  Now I need to also validate Auth 0 token.  I need to give a different metadata end point .

A clear sample on how to configure the metadata endpoint of the third party oauth provider along with setting the issuer.

Any pointer to a sample or gui

[2020-10-01 14:09] arcusic commented on #580
@jmprieur Just wanted to follow up to see if you needed anymore info.

[2020-10-01 15:24] creativebrother commented on #603
@OnAzureCloud9 I tried to do the following in startup.cs and it solved the AJAX issue similar as Cookie Authentication scheme mentioned earlier by @Tratcher. Basically it detect AJAX request and return 401 in Response and in Header Location parameter pass the incremental consent page to get Auth Code. The AJAX has a chance to redirect the browser window by window.location = authcode url and avoid

[2020-10-01 20:43] darrelmiller commented on #625
Hi @SirRichie

Would you be able to point me to that guidance?  I'm not aware of it, and when I polled the larger .NET community I did not get that feedback.

The GraphServiceClient gets updated regularly with new properties because Microsoft Graph regularly adds new endpoints.  If we were to define an interface that corresponds to the properties of Graph Service Client we would cause a breaking c

[2020-10-01 22:36] pmaytak commented on #624
The SameSite handling is not new in 1.0 (unless you were referring to something else).
`configureConfidentialClientApplicationOptions` parameter? It's not required, and you don't need to specify credentials again. What you have above should work.
Issue #198 might be similar to this and the SameSite wiki article had the solution to this.

[2020-10-01 22:45] pmaytak commented on #460
@sameer-kumar I see from [this issue](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/issues/421#issuecomment-702431176) that you issue was resolved related to this?

[2020-10-01 23:06] pmaytak commented on #620
We have this [web app B2C](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-2-B2C) sample. When I run it, the cancel button redirects to the login page correctly. Perhaps [Reply URL](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-2-B2C#step-4-create-your-own-web

[2020-10-01 23:54] mia01 commented on #460
@jmprieur we are trying to add a bunch of custom claims to the user. We want to add this once when user is authenticated. We determine what claims the user by calling Graph Api which means we need the token at that point.

[2020-10-01 23:54] mia01 commented on #460
@sameer-kumar I'm interested what was the code that worked for you?

[2020-10-02 06:57] SirRichie commented on #625
Hi @darrelmiller

In my experience (both practical and in various classes) DI is a form of / makes use of Inversion of Control, which in a nutshell means you should always program against interfaces. There is a [question on stackoverflow ](https://www.codeproject.com/Articles/538536/A-curry-of-Dependency-Inversion-Principle-DIP-Inve#Problems%20we%20will%20face%20if%20we%20do%20not%20maintain%20DIP

[2020-10-02 12:29] #627 closed

[2020-10-02 12:32] jmprieur commented on #637
@rsrinivasanhome : in that case you should just add the OpenIdConnect provider for Auth0

[code]

See https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/other-logins?view=aspnetcore-3.1

cc:@tratcher

[2020-10-02 13:46] sameer-kumar commented on #460
@pmaytak yes, my use case is solved.
@mia01 I just followed along [this](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/5-WebApp-AuthZ/5-2-Groups/Startup.cs) with my custom modifications specific to my use case and it works for me.

[2020-10-02 14:28] darrelmiller commented on #625
@SirRichie The Graph Service library is full of interfaces because the original implementation followed the guidance that everything needs an interface to be tested.  Unfortunately that has caused the library to be significantly bloated with interfaces that are unnecessary and never used.  There is a misconception that interfaces are needed to do testing and it has unfortunate consequences.  Those

[2020-10-02 14:59] SirRichie commented on #625
@darrelmiller Fully agreed that an interface only makes sense if you're planning on being able to switch implementations. I guess the presence of the interface led me to believe the SDK team expected that at some point.
Thanks for providing that insight and I guess this is the reason why the Identity.Web team was asked to switch to the concrete class.

[2020-10-02 14:59] #625 closed

[2020-10-02 15:14] jennyf19 opened #639 "Include MemoryCacheOptions w/the memory cache for performance improvement"
Why?
The InMemoryCache grows for ever unless it's limited.

What?
Provide information to the in-memory cache so that it can limit its memory consumption

See https://docs.microsoft.com/en-us/aspnet/core/performance/caching/memory

[2020-10-02 16:11] jmprieur opened #641 "Update Ms.Id.Web project to the latest dependencies"

[2020-10-02 16:36] jmprieur commented on #87
Closing for now
@pmaytak FYI

[2020-10-02 16:36] #87 closed

[2020-10-02 23:42] OnAzureCloud9 opened #642 "[Documentation] AJAX requests when authorization is needed"
### Documentation related to component
None, yet.

### Please check all that apply

- [ ] typo
- [x] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in the example
- [x] needs an example

### Description of the issue
When calling a .NET Core controller action with the [AuthorizeForScopes](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.web.authoriz

[2020-10-03 02:00] pmaytak opened #643 "[Fundamentals] Add additional metrics/counters to the PerformanceTestService"
Add metrics:
- Cache item size
- Id.Web Cache size in MB, and in number of items,
- Id.Web Cache hits/misses,
- Id.Web Cache load/save timing numbers,
- Id.Web Errors (by error code)
- MSAL cache hits/misses,
- MSAL cache load/save timing numbers
- MSAL Errors (by error code)

Note: Might need to update MSAL to send the telemetry.

Also add metrics for System.Runtime ([here](https://github.com/Azu

[2020-10-03 02:03] pmaytak opened #644 "[Fundamentals] Add a guide for setting up perf insights/telemetry"
Goal: [Performance](https://github.com/AzureAD/microsoft-identity-web/wiki/performance) wiki has steps on how the metrics can be surfaced in App Insights.

Describe the event counters, the diagnostic token cache wrappers that use those counters, how the event counters can be uploaded to App Insights via SDK.

Effort: .3 days

[2020-10-03 02:06] pmaytak opened #645 "[Fundamentals] Run code profiling to find hot paths"
Goal: Find the CPU / Memory hot paths / bottlenecks

Approach:
- Initially manually run profiling tools (ex. [VS](https://docs.microsoft.com/en-us/visualstudio/profiling/profiling-feature-tour?view=vs-2019)).
- Focus on one endpoint (GetAccessTokenForUserAsync / OBO).
- Leverage test runner to load the service.

Additionally:
- Able to run the code profiling after each release and compare perf dat

[2020-10-03 02:07] pmaytak opened #646 "[Fundamentals] Add performance tests that use Redis distributed cache"
Goal: Collect metrics for the Redis cache operations.

Approach:
Set up Redis cache and hook up the performance test service to it. Existing cache related metrics should already work.

Considerations:
- Choose between local hosted Redis or Azure Redis.

Effort: .5 days

[2020-10-03 02:13] pmaytak opened #647 "[Fundamentals] Add more e2e performance test cases"
Goal: Add test cases that cover all end-to-end scenarios in Identity Web.

Approach: Create a controller action for each scenario below, which only performs that operation. Have test runner send requests to that action.

Currently used test endpoint:
- TokenAcquisition.GetAccessTokenForUserAsync (OBO)

Other existing test endpoints include:
- TokenAcquisition.GetAccessTokenForAppAsync
- Empty Acti

[2020-10-03 02:26] pmaytak opened #648 "[Fundamentals] Enable perf test runner to send requests in parallel"
Enable parallelization in test runner when it acquires tokens using MSAL and when it makes calls to the service.

[2020-10-03 02:33] pmaytak opened #649 "[Fundamentals] Host the perf test runner in a scalable location"
Goal: Host test runner in a location where it is able to be run continously.

Previously the test runner ran from a VM (which seems to be the simpler solution). Other possibilities: Azure Functions, WebJobs.

Additionally:
- Should also be able to run multiple instances of runner with different configuration (possibly via command line arguments).

Considerations:
- Previously had issues remoting i

[2020-10-03 02:51] rcladmin opened #651 "[Bug] ARM does not work for MSA accounts"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.0.0

**Where is the issue?**
* Web API
    * [ ] Protected web APIs (validating scopes)

For **Microsoft Accounts (MSA)** , when scopes for Azure Services Management are requested, the following error is received:

"error":"invalid_scope","error_description":"AADSTS70011: The provided value for the input parameter

[2020-10-04 06:59] jmprieur commented on #651
@rcladmin : To my knowledge, Azure Resource Manager does not support MSA accounts yet. Are you saying that this was working before? In that case which client Id did you use to have?

[2020-10-04 10:10] rcladmin commented on #651
I have never gotten MSA accounts to work with Azure Resource Manager (ARM) before. Are there any plans for ARM to support MSA accounts?

[2020-10-04 18:51] jmprieur commented on #651
@hpsin would you know?

[2020-10-04 18:57] hpsin commented on #651
That team is looking at it with Stuart. It's a known gap.
@rcladmin what is the scenario for supporting ARM with MSA for your app? Tenant lookup, or managing resources?

[2020-10-04 19:10] jmprieur commented on #651
Thanks @rcladmin for the update. Proposing to close this issue (we'll answer if we get the information about ARM support for MSA)

[2020-10-04 19:10] #651 closed

[2020-10-04 21:07] creativebrother commented on #603
@OnAzureCloud9 @Tratcher @jmprieur
Finally had sometime to look into the related source code and find a way to correctly handle AJAX call to Action Method deocrated with  AuthorizeForScopesAttribute for dynamic consent.
            services.AddOptions<OpenIdConnectOptions>(OpenIdConnectDefaults.AuthenticationScheme).Configure(options =>
            {
                var redirecthandler = options.E

[2020-10-04 21:26] creativebrother commented on #603
@Tratcher After looking at the source code in OpenIdConnectHandler -> HandleChallengeAsync-> HandleChallengeAsyncInternal
I need to duplicated the part of the code there in my options.Events.OnRedirectToIdentityProvider handler to short-circuit it to conditionally return and 401 for AJAX type request. Not sure if it is possible to add this logic in the HandleChallengeAsyncInternal or
@jmprieur add

[2020-10-05 06:34] OnAzureCloud9 commented on #603
@creativebrother how are you handling the AJAX call client side after getting a 401? I setup a similar custom solution but instead I'm returning a 403 (not sure if 401 or 403 is more appropriate here, but really we're doing the same thing). On client side in the AJAX callback function, I check if I get an error and a 403. Then, I'm changing the window location direction to "/MicrosoftIdentity/Acco

[2020-10-05 08:57] jmprieur commented on #603
See also https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/issues/264#issuecomment-703351600

[2020-10-05 09:01] jmprieur commented on #603
@creativebrother. Thanks for sharing your learnings.
Do you want to provide a PR (with a test solution?)

[2020-10-05 10:06] robi26 commented on #626
We have the same problem with malformed redirect URLs when hosting the blazor (server-side) web app in a directory / virtual path:
The wrong URL looks like this:
https://localhost:44398**//**sampl**eM**icrosoftIdentity/Account/Challenge?redirectUri=https://localhost:44398**//s**ample&scope=user.read%20openid%20offline_access%20profile&loginHint=&domainHint=&claims=&policy=

[2020-10-05 11:37] jmprieur opened #654 "[Feature Request] It should be possible to use GraphServiceClient to call graph APIs requiring app only permissions"
**Is your feature request related to a problem? Please describe.**
When developers want to call graph to call an app only method, the current GraphServiceClient cannot be used as it uses GetTokenForUserAsync. See https://github.com/AzureAD/microsoft-identity-web/blob/f609eeef9e69cee9c997bb73fb98d7c180d845af/src/Microsoft.Identity.Web.MicrosoftGraph/TokenAcquisitionCredentialProvider.cs#L39

number

[2020-10-05 13:27] hankovich commented on #620
Hi @pmaytak the problem was that in my application I have `[Authorize]` applied on a single action only when in the app you mentioned [it's applied globally](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/4-WebApp-your-API/4-2-B2C/Client/Startup.cs#L56). It also has `/` route (which leads to /Home/Index) and that makes cancel button work.

Ok, prob

[2020-10-05 15:23] creativebrother commented on #603
@jmprieur Sure! Will do that.

[2020-10-05 15:42] creativebrother commented on #603
@OnAzureCloud9 For the state info like form data I would think Tempdata, but it perhaps won't work since there are two redirects here. But you can embed your custom data in the state OpenIdMessage's state property as exiting auth properties like redirect url etc, since it will be protected when sending to authorize endpoint and on the way back. Specifically  I just add a new dictionary item on the

[2020-10-05 18:22] rcladmin commented on #651
@hpsin MSA support for ARM for managing resources is required.

[2020-10-05 18:26] hpsin commented on #651
Got it - thanks @rcladmin .  This isn't actually the case though - you can only manage resources in the context of an AAD tenant.  Thus, you need to sign the user into the AAD tenant that owns the resource, at which point you're no longer signing in an MSA, just an AAD guest. Do if you use a tenant-specific authority, on v1 or v2, you can sign the user in and get a token for ARM no matter where th

[2020-10-05 21:19] rcladmin commented on #651
@hpsin based on your recommendation, I have signed in the user to a specific tenant that contains their resources, changing my configuration as follows :

[code]

It works. The access token and consent is now issued for ARM to manage resources for a MSA account.

However, my problem now is how to get this to work with a Multi-tenant scenario? I am creating a SaaS application in a multi-tenant scen

[2020-10-05 21:35] hpsin commented on #651
@jmprieur would be the best to help you with updating your app to support multi-tenant handling.  You would need some UX that asks for their tenant ID if they're an MSA, and then initialize your app object with that tenant ID as the authority.

[2020-10-05 21:47] rcladmin commented on #651
'Initialize your app object with that tenant ID as the authority' - how do you do this? Will need to resarch into this.

If your are you are aware of any samples or resources where someone actually accomplished , feel free to share.

[2020-10-06 17:34] jmprieur commented on #80
![image](https://user-images.githubusercontent.com/13203188/95238182-6e1c2c00-0809-11eb-884d-234075856eb9.png)

![image](https://user-images.githubusercontent.com/13203188/95238444-d408b380-0809-11eb-98a5-51bbeac89ee2.png)

![image](https://user-images.githubusercontent.com/13203188/95239023-ae2fde80-080a-11eb-8cb7-b14d9356cd19.png)

![image](https://user-images.githubusercontent.com/13203188/9523

[2020-10-06 18:00] jmprieur commented on #80
![image](https://user-images.githubusercontent.com/13203188/95241144-aaea2200-080d-11eb-8633-51e7796750ce.png)

![image](https://user-images.githubusercontent.com/13203188/95241423-03212400-080e-11eb-99a3-6fbb7a38cd0c.png)

![image](https://user-images.githubusercontent.com/13203188/95241601-47142900-080e-11eb-9c0c-6ebf2febb9db.png)

![image](https://user-images.githubusercontent.com/13203188/9524

[2020-10-06 21:21] jennyf19 commented on #583
Included in [1.1.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.1.0).

[2020-10-06 21:21] #583 closed

[2020-10-06 21:21] jennyf19 commented on #641
Included in [1.1.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.1.0).

[2020-10-06 21:21] #641 closed

[2020-10-06 21:21] jennyf19 commented on #626
Included in [1.1.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.1.0).

[2020-10-06 21:21] #626 closed

[2020-10-06 21:21] jennyf19 commented on #639
Included in [1.1.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.1.0).

[2020-10-06 21:21] #639 closed

[2020-10-06 21:21] jennyf19 commented on #88
Included in [1.1.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.1.0).

[2020-10-06 21:21] #88 closed

[2020-10-06 21:21] jennyf19 commented on #631
Included in [1.1.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.1.0).

[2020-10-06 21:21] #631 closed

[2020-10-06 21:21] jennyf19 commented on #635
Included in [1.1.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.1.0).

[2020-10-06 21:21] #635 closed

[2020-10-06 21:21] jennyf19 commented on #618
Included in [1.1.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.1.0).

[2020-10-06 21:21] #618 closed

[2020-10-06 21:21] jennyf19 commented on #617
Included in [1.1.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.1.0).

[2020-10-06 21:21] #617 closed

[2020-10-06 21:22] jennyf19 commented on #509
Included in [1.1.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.1.0).

[2020-10-06 21:22] #509 closed

[2020-10-07 00:19] pmaytak commented on #620
Thank you for that detailed repro. We'll investigate.

[2020-10-07 14:29] anant-k-singh commented on #619
Actually [AuthorizeForScope] attribute does redirect to login page.
The issue was that I was calling the controller with an ajax/fetch call and it returned redirect response with 302 when token is not available and the redirect request in the 302 response was blocked due to CORS policy

This issue was resolved when I returned view (razor page).
The `MicrosoftIdentityWebChallengeUserException` was

[2020-10-07 14:29] #619 closed

[2020-10-07 21:53] 1iveowl opened #667 "[Bug] IDW10502: An MsalUiRequiredException was thrown due to a challenge for the user"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.1.0, but I saw the same issue with version 1.0.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [x ] Protected web APIs call downstream web APIs
* T

[2020-10-08 00:45] cmatskas opened #668 "[Bug] Unable to install the latest 1.0.0 .NET templates"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
Microsoft Identity Web 1.0.0

**Where is the issue?**
The blob for the NuGet package for the templates is missing/broken
* Other (please describe)
When attempting to download and install the latest NuGet package for the CLI templates, the installation fails because the blob is miss

[2020-10-08 00:45] cmatskas commented on #668
@jennyf19 @jmprieur FYI, the template download is broken :(

[2020-10-08 01:53] jennyf19 commented on #668
Yes, @cmatskas, we had issues pushing that nuget package. we are working to sort it out, should be up oct.8. you can run the templates from the repo directly, by doing dotnet pack.

[2020-10-08 07:18] jmprieur commented on #668
@cmatskas
Microsoft.Identity.Web.ProjectTemplates.1.1.0 was uploaded to NuGet a few hours ago. The wiki is up to date.

[2020-10-08 07:20] #668 closed

[2020-10-08 09:23] jmprieur opened #670 "[Documentation] ASP.NET Core quickstart "web app that calls Microsoft Graph""
### Documentation related to component
Add a new quickstart ASP.NET Core quickstart "web app that calls Microsoft Graph"

[2020-10-08 09:30] jmprieur commented on #667
@1iveowl this is because the tenant admin needs to provide admin consent to your web API for the scopes you want to use.
Did you read the following tutorial? https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph

[2020-10-08 09:33] 1iveowl commented on #667
As far as I can tell Concent is already granted. I even added it both for Application and Delegated:

![Concent](https://user-images.githubusercontent.com/12871120/95441081-fc9fc300-0959-11eb-8e4c-820a7472dd65.jpg)

[2020-10-08 09:39] jmprieur commented on #667
@1iveowl
- did you do things incrementally in a dev project? (adding scopes after you had tested).if so, you might want to delete your token cache in the client application (or signout and re-sign in).
- did you configure the KnownClientApplication property: https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph#co

[2020-10-08 12:59] jmprieur commented on #651
@rcladmin : This sample should help you doing that: https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph

(I know there is a lot to read, but I think you'd want to read the README.md carefully)

[2020-10-08 13:03] 1iveowl commented on #667
How do I do this? The app is authenticating using a secret. (note: I've updated appsettings.json in my initial post to reflect this, since I had omitted this by mistake).

I was under the assumption that the application would go request an application access token, whenever it needs it. Or am I misunderstanding, what is being configured here?:

[code]

No. For my test set-up, no authentication/aut

[2020-10-08 13:55] 1iveowl commented on #667
Hmmm. I feel like I’m missing something basic.

How do I debug what happens here:

[code]

... when this controller/api endpoint is called:

[code]

[2020-10-08 17:45] jmprieur commented on #607
@stevebuckco
Closing this issue. feel free to reopen if you disagree

[2020-10-08 17:45] #607 closed

[2020-10-08 18:08] jmprieur commented on #637
@rsrinivasanhome
Closing as this is answered

[2020-10-08 18:08] #637 closed

[2020-10-08 18:16] jmprieur commented on #570
Closing as this seems answered.
@iUnknwn feel free to reopen if you disagree

[2020-10-08 18:16] #570 closed

[2020-10-08 18:18] jmprieur commented on #564
@3GDXC : were the links helpful?
Adding https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims

Closing the issue. Reopen if you disagree.

[2020-10-08 18:18] #564 closed

[2020-10-08 18:23] jmprieur commented on #547
See also https://github.com/AzureAD/microsoft-identity-web/wiki/Mixing-web-app-and-web-api-in-the-same-ASP.NET-core-app
Closing as answered

[2020-10-08 18:23] #547 closed

[2020-10-08 18:23] jmprieur commented on #670
Duplicate of https://github.com/AzureAD/microsoft-identity-web/issues/521

[2020-10-08 18:23] #670 closed

[2020-10-08 18:25] jmprieur commented on #513
This should now be solved.
Please reopen if you disagree @dakahler

[2020-10-08 18:25] #513 closed

[2020-10-08 18:26] #461 closed

[2020-10-08 18:28] jmprieur commented on #441
@hraz-msft does it still repro with Microsoft.Identity.Web 1.1.0 ?

[2020-10-08 20:00] jennyf19 commented on #595
@Henkolicious I think in the client program.cs, you need to have the scope for your blazorwasm server because that's what your trying to get access to, for example:
[code]
and remove the other two lines:
[code]

[2020-10-09 09:18] aduggleby opened #671 "[Bug] DistributedSqlServerCache GetAccounts returns null despite having Accounts in TokenCache"
**Which Version of MSAL are you using ?**
Microsoft.Identity.Client 1.1.0

**Platform**
netcoreapp3.1

**What authentication flow has the issue?**
Other: not directly related to authentication flow but rather reading value from a populated TokenCache

**Is this a new or existing app?**
New test app to test update path for existing app

**Repro**

- Prime the TokenCache with a successfully authenti

[2020-10-09 10:06] jmprieur commented on #671
@aduggleby in confidential client scenarios, you need to use one cache per account (for performance and security), and therefore GetAccountsAsync() does not make sense when you are not in the context of an account.
- What is your scenario?
- why would you want to know the accounts?
- What token cache provided did you use? one of the Microsoft.Identity.Web ones? https://github.com/AzureAD/microsoft

[2020-10-09 12:08] jmprieur commented on #667
Oh I see. so:
- your web API is anonymous
- and you want to call the Graph on behalf of the application itself, not on behalf of the user.

This is possible, but not fully automatic today. We have a feature request to make that happen in a nicer way: https://github.com/AzureAD/microsoft-identity-web/issues/654

To have it work in you case, you could get inspired by the  [ASP.NET Core Graph web hoo

[2020-10-09 12:08] jmprieur commented on #667
Proposing to close as a duplicate of #654

[2020-10-09 12:34] #667 closed

[2020-10-09 12:56] aduggleby commented on #671
@jmprieur Understood and yes we implement one TokenCache per Account and yes this issue is part of our upgrade to GA of Microsoft.Identity.Web, but because we need to use the Token outside of ASP.NET Stack (Azure Functions to be specific) we must share the token and create our own ConfidentialClientApplication when we call the Graph there. All the AcquireToken* Methods required passing in IAccount

[2020-10-09 13:22] jmprieur commented on #671
@aduggleby : I recommend you use [HttpContext.User.GetMaslAccountId()](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.web.claimsprincipalextensions.getmsalaccountid?view=azure-dotnet-preview#Microsoft_Identity_Web_ClaimsPrincipalExtensions_GetMsalAccountId_System_Security_Claims_ClaimsPrincipal_) to get the account ID from the claims principal. (this is an extension method)

Note,

[2020-10-09 13:35] aduggleby commented on #671
@jmprieur I saw that extension method, but we are running Graph Queries in Azure Functions with no access to the ClaimsPrincipal so that won't work there directly. In the Functions we simply have the job referencing the account and need load the TokenCache for that account and that's where we get stuck. Would the correct path be to just store the MsalAccountId on the Account record as a separate p

[2020-10-09 13:40] jmprieur commented on #671
Thanks @aduggleby for this feedback
yes, I guess storing the account ID would work.

Can you please elaborate? Do you mean for web hooks? (I assume you're familiar with `AddMicrosoftGraph()` and the injection of the GraphServiceClient in the controller/pages?

Do you feel that this would be the right behavior?

[2020-10-09 13:45] aduggleby commented on #671
Sorry async here meant I have the front facing Web App where the user signs in and then we send Job via ServiceBus to be handled by Azure Functions asynchronously. All the Microsoft.Web.Identity helpers don't help us there AFAIK so we're left creating our own GraphClients and get the tokens via ConfidentialClientApplications.

On the webapp side this is all neatly abstracted away via the GraphClie

[2020-10-09 13:51] jmprieur commented on #671
Thanks @aduggleby
- Do I understand that we'd want to have a Microsoft.Identity.AzureFunction library ?
- the suggestion of GetAccount() in confidential client applications is actually a great one. cc: @jennyf19 @bgavrilMS @henrik-me @pmaytak

[2020-10-09 13:53] aduggleby commented on #671
Yes that would be a great addition.

[2020-10-09 21:37] davesmits opened #673 "[Bug] FormatException using the TokenAcquisitionCredentialProvider"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

**Where is the issue?**

* Web API
    * [x] Protected web APIs call downstream web APIs

**Is this a new or an existing app?**

This is a new app or an experiment.

**Repro**

[code]

**Expected behavior**
Subscription in the graph is created or an exception from the Graph API it

[2020-10-10 13:37] jmprieur commented on #673
Thanks for the heads-up @davesmits

[2020-10-10 13:37] jmprieur commented on #673
oh @davesmits, sure, if you can make the PR, please go ahead.

[2020-10-10 18:48] davesmits commented on #654
Maybe little bit of topic; but I want to avoid using an app account as they very often (if not always) need Admin consent from the tenant. For client applications it can be helpful is the gateway way api to the graph will do some background work

So imagine:
native client app -> user signs in and goes with token to gateway api

gateway api -> with the token from the native client is able to exchan

[2020-10-10 20:33] jmprieur commented on #654
@davesmits, so I guess Microsoft.identity.Web should enable background processes .... :)

[2020-10-12 08:47] hraz-msft commented on #441
Hi @jmprieur, I don't have the code and the app registration anymore. You can use my repro code to test it, it will be faster.
https://github.com/hraz-msft/ms-identity-javascript-react-spa-dotnetcore-webapi-obo/blob/master/ProfileAPI/Controllers/ProfileController.cs#L49

[2020-10-12 10:19] jmprieur commented on #654
## Proposed API

Given that we cannot intervene in the GraphServiceClient class, and we want to enable GraphServiceClient properties/methods/queries that return information requesting app-only permissions (client credentials), the idea is to intervene at the authentication provider level (this is what uses ITokenAcquisition).

In order to have a local effect, I propose to have a new class `Microso

[2020-10-12 18:53] jmprieur commented on #654
@baywet  and  @darrelmiller: what do you think of the design?

[2020-10-12 18:55] jmprieur commented on #654
@1iveowl, what do you think of the design above:

[code]

[2020-10-12 18:56] jmprieur commented on #671
Added to the backlog.
Closing this one for now.

[2020-10-12 18:56] #671 closed

[2020-10-12 19:12] 1iveowl commented on #654
Thank you @jmprieur. This design makes good sense to me.

How/where are the app credentials specified?

[2020-10-12 19:52] 1iveowl commented on #654
Of course. Thank you 👍

[2020-10-13 12:10] baywet commented on #654
@jmprieur thanks for taking a stab at that. It feels a bit complex to use and "dangerous" (in the case the consumer forgets the using statement, it derails the whole application after the use of app only context)

MS.ID.Web depends on the asp.net infrastructure, what about injecting a second graphserviceclient (wrapped) and providing a fluent API to add it to the services?

In the startup they'd d

[2020-10-13 12:15] jmprieur commented on #654
Thanks @baywet

This would solve the issue of the app-only permission, but not the scopes.
@darrelmiller: when can we benefit from .WithScopes()?

[2020-10-13 19:13] jmprieur opened #677 "[Feature Request] TokenAcquisitionOptions should have a Claims property"
**Is your feature request related to a problem? Please describe.**
Some apps want to trigger a conditional access policy and therefore specify claims.

**Describe the solution you'd like**
a `Claims` property in `TokenAcquisitionOptions`

**Describe alternatives you've considered**
ExtraQueryParameters, but this does not do it all

[2020-10-13 22:40] Tratcher commented on #551
The ConfigurationManager I linked to uses its own HttpClient instance with only the default proxy settings.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/91acf95dcbba555064d089363b97dbf5d211e30a/src/Microsoft.IdentityModel.Protocols/Configuration/ConfigurationManager.cs#L89

It needs to be replaced by one that allows you to pass in the HttpClient like th

[2020-10-13 22:42] Tratcher commented on #402
Compare to the options pattern AspNet uses that allows you to provide a backchannel and/or a configuration manager:
https://github.com/dotnet/aspnetcore/blob/3fdbc2e90d9762324ef3809098c9ca25b0cb3284/src/Security/Authentication/OpenIdConnect/src/OpenIdConnectPostConfigureOptions.cs#L67-L105

[2020-10-14 09:26] superman-lopez opened #680 "Additional roles managed within application - do I use OpenIdConnectEvents or Microsoft Graph API?"
I am using `Microsoft.Identity.Web` version 1.1 with Azure AD.  I want to manage my users application roles within my application, and plan to use `RoleManager` as suggested [here in Microsoft documentation](https://docs.microsoft.com/en-us/azure/architecture/multitenant-identity/app-roles#roles-using-an-application-role-manager)

How do I call `RoleManager` such that the roles can be added by my

[2020-10-14 09:33] jmprieur commented on #680
@superman-lopez : did you have a look at this sample: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/5-WebApp-AuthZ/5-1-Roles ?

[2020-10-14 09:35] superman-lopez commented on #680
No, I will review this now.  Thanks!

[2020-10-14 09:43] superman-lopez commented on #680
@jmprieur I had a look at the Readme, and also searched the repository for use of `RoleManager` but it's not immediately obvious to me that this is related.  The Readme states:

So this means to me the application roles are managed on the Azure AD, rather than in application.

[2020-10-14 09:48] jmprieur commented on #680
@superman-lopez : our recommendation is to use the Azure AD way.
Could you please share your scenario, and why you'd prefer to have an in-app management? (you could always manage the roles from the app using the Microsoft Graph API:  https://docs.microsoft.com/en-us/graph/api/resources/application?view=graph-rest-1.0#properties see app roles

[2020-10-14 10:01] superman-lopez commented on #680
It's an enterprise SaaS application where the roles need to be able to be assigned in-app, as it's not guaranteed that our client's security officer (or application owner) responsible for our application has access to the Azure AD portal.

We did review using Graph API, but that was in context of extension properties to store permissions.  That was not deemed secure as the extension properties cou

[2020-10-14 10:10] jmprieur commented on #680
@superman-lopez : no I don't think  you should conclude anything. It will take us a bit of time to understand your scenario and the RoleManager (unknown to me yet)

@kalyankrishna1 : would you have any insights?

[2020-10-14 10:11] superman-lopez commented on #680
Thanks @jmprieur

In fact I was also considering to use `OpenIdConnectEvents` to include other claims, such as licenses specific to paid-for features. So my concern is actually related to a broader context, it's just that Application Roles was the first part I decided to implement.

[2020-10-14 10:18] jmprieur commented on #551
@jennyf19 : moving this to an enhancement as @Tratcher provided more context about what needs to be done.
@Tratcher : would inject an IHttpClient be a god solution?
It might be worth a quick sync to be sure we are not iterating towards the solution :)

[2020-10-14 14:27] Tratcher commented on #551
I'd suggest using the same pattern as AspNet, injecting `IOptions<AadIssuerValidatorOptions>` so the developer can do something like this in startup:
[code]

[2020-10-14 17:26] liiri commented on #551
For reference, I ended up having to use the following violent fix, since I cannot set proxy globally, most of my requests are done in the organization network and shouldn't use proxy.

[code]

[2020-10-14 17:48] mjnorman commented on #551
🤣

I have the same issue.  A "less violent fix" is just to set NO_PROXY for your internal hosts.  Comma delimited name of hosts to bypass proxy.  Albeit a pain to manage that, but at any rate--

[code]

[2020-10-15 10:00] markholst commented on #554
@jmprieur I have just read the linked article.  I think I'm OK with the theory, it's more problems with the mechanics of it all...

I've reviewed my implementation again and can't quite piece together what's missing.

Reviewing the other samples under this repo:

- https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/1-WebApp-OIDC/1-1-MyOrg/appsettings.j

[2020-10-15 10:52] cloudsere opened #682 "[Bug] Reference Assembly does not have a strong name"
**Which version of Microsoft Identity Web are you using?**
1.1.0

**Where is the issue?**
Referenced assembly 'Microsoft.Identity.Web.UI, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null' does not have a strong name.
![image](https://user-images.githubusercontent.com/9955832/96113777-8212fe00-0e99-11eb-9638-44cea404cce7.png)

* Web app
    * [x] Sign-in users
    * [ ] Sign-in users and call

[2020-10-15 13:25] jmprieur commented on #682
@cloudsere where did you get the assembly from?

[2020-10-15 13:33] jmprieur commented on #682
Oh I see, sorry the strong name. I get it
Thanks for the heads-up @cloudsere

[2020-10-15 15:45] jmprieur opened #685 "[Feature Request] IDownstreamApi should process www-Authenticate headers automatically (CAE)"
**Is your feature request related to a problem? Please describe.**
Web APIs can reply to clients with a Www-Authenticate header (by calling [ReplyForbiddenWithWwwAuthenticateHeaderAsync](https://github.com/AzureAD/microsoft-identity-web/blob/60fe9f7d99ff3296a15eebf835d264ac501d2118/src/Microsoft.Identity.Web/TokenAcquisition.cs#L350)

Web apps (or web APIs calling that web API) should check it, an

[2020-10-15 17:45] jmprieur commented on #677
@jennyf19 do we still want to do this one? it seems we'll do differently?

[2020-10-16 08:03] gavinbarron opened #687 "Is it posible to add additional QueryParameters when using Authentication.Challenge [Question]"
When using MSAL.js I am able to send additional query string parameters to the identity provider using `extraQueryParameters` when calling loginRedirect.
I now need to do this in the context of an ASP.NET MVC application and cannot work out how to add extra query string parameters to the url used when creating the challenge.

If I cannot add the extra param the AzureB2C tenant that I am required t

[2020-10-16 10:08] bgavrilMS commented on #687
Microsoft.Identity.Web might have a better idea.. transferring issue

[2020-10-16 11:18] jmprieur commented on #687
@gavinbarron : are you interested in ASP.NET ? or ASP.NET Core?
If this is a new app, I strongly recommend ASP.NET Core (with Microsoft.Identity.Web)

[2020-10-16 11:53] dawid1 opened #688 "[Documentation] about token cache serialization"
### Documentation Related To Component:

### Please check those that apply
MSAL.NET
- [ ] typo
- [ ] documentation doesn't exist
- [X] documentation needs clarification
- [ ] error(s) in example
- [ ] needs example

### Description Of The Issue
Could you provide more clarifications to the text on page https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/token-cache-serializa

[2020-10-16 16:42] jennyf19 commented on #595
@Henkolicious did the above work for you?

[2020-10-16 16:46] jennyf19 commented on #620
@pmaytak do you have an update on this?

[2020-10-16 17:45] gavinbarron commented on #687
Unfortunately it's porting an existing ASP.NET MVC application to a modern identity provider and upgrading it to netcore is not on the cards at this point in time.
So .NET Framework 4.7 ASP.NET MVC is the code stack.

[2020-10-18 06:24] TaranbirBhullar opened #691 "[Question/Bug] On behalf of flow vs App to app communication flow."
Using `Microsoft.Identity.Web 1.1.0`

Hi @jmprieur

We have a React Web App and .NetCore 3.1 based WebAPI, supporting on-behalf-of flow to call MsGraph.
Steps taken
1. React WebApp uses `Msal.js` to obtain token for the backend AppId with extraScopes (`User.ReadBasic.All`) for graph
2. WebAPI uses the following LOC in the Startup.cs to enable "on-behalf-of" flow.
[code]

In our services we have th

[2020-10-18 07:51] damienbod opened #692 "TokenDecryptionCertificates info"
### Documentation related to component

I was exploring the Micosoft.Identity.Web code.

How is the **TokenDecryptionCertificates** used in the Micosoft.Identity.Web lib and what does it change in my tokens, flows?

Maybe a note or an example might be useful in the docs

Greetings Damien

[2020-10-19 04:59] cloudsere commented on #682
Very happy to see this is fixed, you guys are great! Just wondering when the 1.2.0 version will be released, will there be any preview version~? @jmprieur

[2020-10-19 07:41] jmprieur commented on #682
@cloudsere : we intend to release at the end of this week.
Do you have an urgent need?

[2020-10-19 08:10] cloudsere commented on #682
I'm now working on the authentication part of my Web App, it is the basic of the whole app, so if there could be a preview version would be very helpful :) @jmprieur

[2020-10-19 08:16] jmprieur commented on #692
@damienbod
I need to write a full page, but the principle is:
- in the Web API registration you add a Decrypt certificate, (you share the public key with Azure AD), and only you app has the private. This is in the web API registration as of course access tokens are for the web API which decides of its format.
- still in the app registration you direct Azure AD to encrypt the tokens with that decry

[2020-10-19 08:36] bgavrilMS commented on #682
@cloudsere - as a workaround you could disable strong name validation on your dev box:

`sn.exe -Vr *`
from a Developer Command Prompt for VS201* (probably with Admin rights).

Note that strong naming is not a security feature, doesn't protect against code tampering, and many .NET projects don't even bother anymore. Code signing is the security feature.

[2020-10-19 09:33] jmprieur commented on #682
Or just sn.exe -Vr for the DLL?

[2020-10-19 09:47] bgavrilMS commented on #682
Another workaround is to add a refrence to https://www.nuget.org/packages/StrongNamer/. We do this in unit tests, to overcome the fact that many .NET DLLs are not strong named.

[2020-10-19 09:58] jmprieur commented on #687
It's not a Microsoft.Identity.Web question, however, let me try to help here. I'm taking this sample as a basis:
https://github.com/Azure-Samples/ms-identity-aspnet-webapp-openidconnect/blob/master/WebApp/App_Start/Startup.Auth.c

In the `app.UseOpenIdConnectAuthentication()` method, add a notication for the `RedirectToIdentityProvider` event:
https://github.com/Azure-Samples/ms-identity-aspnet-we

[2020-10-19 10:01] jmprieur opened #693 "[Fundamentals] Add SonarCloud analysis to a Microsoft.Identity.Web CI build"
**Is your feature request related to a problem? Please describe.**
Be able to understand the security issues, the coverage etc ... on new or changed code

**Describe the solution you'd like**
Add SonarCloud analysis to a CI build (to be determined)

**Additional context**
See also https://github.com/AzureAD/microsoft-authentication-extensions-for-dotnet/pull/104, for MSAL.NET

[2020-10-19 10:05] jmprieur commented on #688
@dawid1 : do you think you need more than : https://github.com/AzureAD/microsoft-identity-web/wiki/token-cache-serialization#distributed-token-cache ?

[2020-10-19 10:07] jmprieur commented on #688
@dawid1 @jennyf19 @bgavrilMS @trwalke @neha-bhargava @henrik-me I've also updated  https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/token-cache-serialization:

I need to plan to do a refresh wave of docs.ms from the wiki

[2020-10-19 10:25] jmprieur commented on #688
@dawid1 proposing to close. Feel free to reopen if you disagree

[2020-10-19 10:25] #688 closed

[2020-10-19 10:27] jmprieur commented on #624
@samihuutoniemi
do you have an answer to your question? can we close this issue?

[2020-10-19 10:59] jmprieur commented on #551
@jennyf19
My understanding is that we could:
- have `MicrosoftIdentityIssuerValidatorFactory` provide a public constructor that takes an `IHttpClientFactory` as a parameter (Is constructed by DI anyway)
- in this constructor to build `configManager` use the override of the constructor which takes an `IHttpClient`, which would be be from the HttpClientFactory

@Tratcher : what options would you see

[2020-10-19 14:54] mikerains opened #694 "Stop using Animated Images in documentation"
Please just put the images in sequence in the document and let users scroll.  The animated images collections of screen images forces the user to try to remember, and the arbitrary paces of flipping through the images denies the reader the ability to analyze and understand the source code.  If there is some other tool needed to work with the images, please indicate that in a caption below each ani

[2020-10-19 15:09] jmprieur commented on #694
@jennyf19, let's discuss about this.
cc: @SaeedAkhter-MSFT FYI

[2020-10-19 15:45] jmprieur commented on #654
Decided with @henrik-me and @jennyf19

We are going to offer an API to both call graph with app-permissions, or graph with specific delegated permissions, and possibly tenants, and claims.

[code]

and:

[code]

For the implementation, `WithAppPermissions` and `WithDelegatedPermissions` will be extension methods (of GraphServiceClient), and will use internally the using mechanism, which won't be e

[2020-10-19 16:17] baywet commented on #654
I'm not sure I'm a big fan of that. The client is supposed to be already configured and ready to use. Opening the door to regenerating a client from the client itself can be a slippery slope. For example: what if the customer already had customized the client's custom handlers (retry, compression...) ? How are you going to copy those over?

[2020-10-19 17:47] bgavrilMS commented on #537
Just as a thought, C# 8 introduced "default implementations in interfaces" which allows you to add new methods to interfaces without breaking backwards compat. So if these methods should be part of the interface, consider using this mechanism. If however these methods are more of a convenience API, or you want to hide them under a different namespace, you can use extensions.

https://devblogs.micr

[2020-10-19 20:43] jmprieur commented on #654
This is not creating a new client, @baywet. It's using the same. Just applying different MSAL parameters temporarily.

[2020-10-19 20:46] jennyf19 commented on #551
@Tratcher do you mind taking a look at the linked [draft](https://github.com/AzureAD/microsoft-identity-web/pull/696)? thanks.

[2020-10-19 20:46] baywet commented on #654
How do you replace the authentication provider?

[2020-10-19 20:57] darrelmiller commented on #654
We already have a pattern that we use for passing configuration parameters to middleware objects.

[code]

This is the same pattern we use for passing Retry configuration information to our RetryHandler.  Andrew is just finishing up some work on ChangeLog and will be able to start on this soon.

[2020-10-19 21:02] jmprieur commented on #654
@darrelmiller : do you mean you'll provide a solution to this issue quickly?
(App only permissions and scopes)

In the past 2 weeks we had 5 customers and partners asking for it ... it becomes pretty urgent.
no pressure ....

[2020-10-19 21:26] baywet commented on #654
I don't think relying on this additional method should be the main option.

If  a customer has a business service that does a bunch of calls to Microsoft graph with that approach they need to update all my service calls and muddy the business service with the concern of the auth.

Relying on service dependency injection would allow them to configure things at the moment they configure ms id web an

[2020-10-19 21:28] baywet commented on #654
Additionally ms id web via the aspnet core DI is controlling the flow of creating the different objects and services. Going the other way around would probably be painful for both our teams to maintain and confusing for consumers

[2020-10-20 02:44] cloudsere commented on #682
Will try both methods, thanks you guys @bgavrilMS @jmprieur ! Looking forward to 1.2.0 this week :)

[2020-10-20 10:18] jmprieur commented on #691
@TaranbirBhullar : the default authentication scheme should not be "Bearer", but **OpenIdConnectDefaults.AuthenticationScheme**. If you want to use your own scheme, be sure to also pass it in the other methods (AddMicrosoftIdentityWebApi in particular)

[2020-10-20 10:22] jmprieur commented on #687
Closing as I believe this is answered. Feel free to reopen if you disagree, @gavinbarron

[2020-10-20 10:22] #687 closed

[2020-10-20 10:25] jmprieur commented on #554
Yes @markholst this is the expected experience.
Proposing to close this issue. Feel free to reopen if you disagree.

[2020-10-20 10:25] #554 closed

[2020-10-20 11:14] Henkolicious commented on #595
@jennyf19 Have not gotten around to it yet, I'll try to test it sometime this week and I'll get back to you. Thanks  👍

[2020-10-20 14:19] pschaeflein commented on #654
The IHttpClient interface allows for differing configurations as I need in my application.  Seems to me that this same pattern should work with Graph Clients.

The GraphClientFactory has overrides to specify the AuthProvider and middleware, so I can get both delegated and app-only setup. I'm not 100% sure how to setup the DI in ASP.NET, but I image that pattern used for [named HttpClients ](https:

[2020-10-20 15:48] superman-lopez commented on #680
Hi @jmprieur,
Thanks again for your thoughts on managing the Application Roles.  We are reviewing how we can implement the management of Application Roles through the Graph API as you recommended.  Unfortunately I am running into a practical issue with the tokens.

The application is ASP.Net Web API, and the configuration for it was done by following this sample using `Microsoft.Identity.Web`: htt

[2020-10-20 16:59] gavinbarron commented on #687
Thanks so much for this, it was exactly what we needed to unblock us :)

[2020-10-20 17:39] pmaytak commented on #620
@jennyf19 I didn't get a chance to look at it. Could you investigate, if not I can make time after my current work item.

[2020-10-20 21:10] jmprieur opened #702 "[Feature Request] When EasyAuth is activated, but not the AAD provider, throw a meaningful exception"
**Is your feature request related to a problem? Please describe.**
The EasyAuth integration works only if EasyAuth is activated, and for AAD

![image](https://user-images.githubusercontent.com/13203188/96644404-4e1c5a80-1329-11eb-88c3-dc4d5d753e59.png)

**Describe the solution you'd like**
When it's activated, but not for AAD, we could throw a meaningful exception.

@jennyf19's idea.

[2020-10-21 03:10] markholst commented on #554
Ahh, thanks @jmprieur!

I guess this is potentially straying into a different question, but for context helps provide some understanding on motivation behind our requirement.

We used to have a fairly efficient user workflow where a user would hit sign-out, and would quickly redirect back to the home page.

This all changed when we introduced Microsoft.Identity.Web.UI into the solution.

Now, the

[2020-10-21 03:11] markholst commented on #554
Also, well done on getting everything out of preview - a major milestone for your team I'm sure!  :)

[2020-10-21 07:53] #680 closed

[2020-10-21 09:06] jmprieur commented on #680
@superman-lopez : do I understand that we answered your question? or you unblocked yourself?

[2020-10-21 09:10] superman-lopez commented on #680
@jmprieur I am implementing your suggestion of calling Graph API to manage the application roles, so I am no longer looking to implement Role Manager as a result.  As to my last blocking, I was supported on Stackoverflow and through Azure support to solve that part.

Thanks for your help on this!

[2020-10-21 09:13] jmprieur commented on #680
Thanks for the update, @superman-lopez. I'm glad you're unblocked.

[2020-10-21 09:15] jmprieur commented on #694
Commented out the image and it's comment.

[2020-10-21 09:15] #694 closed

[2020-10-21 14:55] jmprieur opened #707 "[Feature Request] Enable web APIs called by daemon apps to control tokens without roles claim"
## Why?
**Is your feature request related to a problem? Please describe.**
Microsoft.Identity.Web enforces that a token has scopes (for delegated permissions) or roles (when called by daemon apps), however there is another mechanism: the ACL-based authorization pattern to [control tokens without roles claim](https://docs.microsoft.com/azure/active-directory/develop/v2-oauth2-client-creds-grant-flo

[2020-10-21 14:57] jmprieur commented on #707
@jennyf19 @TaranbirBhullar

[2020-10-21 14:58] jmprieur commented on #691
@TaranbirBhullar : closing this question. It's going to be addressed in the following feature: https://github.com/AzureAD/microsoft-identity-web/issues/707

cc: @jennyf19 (this is for Elixir)

[2020-10-21 14:58] #691 closed

[2020-10-22 09:54] jmprieur opened #712 "[Feature Request] When EasyAuth returns a non-usable token, throw an exception with an aka.ms to the new tutorial"
**Is your feature request related to a problem? Please describe.**
When you deploy your app to App Services and enable App Services Authentication, and then want to call the graph, you first need to configure App Service to return a usable access token.
Ryan has been writing a new tutorial. See https://docs.microsoft.com/en-us/azure/app-service/scenario-secure-app-access-microsoft-graph-as-user?ta

[2020-10-22 13:54] jmprieur commented on #707
Thanks @TaranbirBhullar for confirming that this works for you.

[2020-10-22 19:03] Satukan opened #717 "[Bug] .Net 5 RC2 - no runtime package error"
Hello,

I would like to try out the package on .Net 5 RC2 (latest SDK) with a Blazor Wasm application, but I can see the following error:

Severity	Code	Description	Project	File	Line	Suppression State
Error	NETSDK1082	There was no runtime pack for Microsoft.AspNetCore.App available for the specified RuntimeIdentifier 'browser-wasm'.	....	C:\Program Files\dotnet\sdk\5.0.100-rc.2.20479.15\Sdks\Micro

[2020-10-23 08:00] jmprieur commented on #717
@Satukan
How did you create your project?

The reason I ask is that Microsoft.Identity.Web templates are released with .NET 5 (from Preview 7), and there are subtle differences in Blazor.
If you want to use Microsoft.Identity.Web with .NET 5.0, just use the normal **dotnet new** commands (for instance `dotnet new blazorwasm`, instead of `dotnet new blazorwasm2` if you were using netcoreapp3.1)

[2020-10-23 08:30] Satukan commented on #717
Hi  jmprieur,

The project wasn't created by me, I just continue to working with.
Initially it was a Blazor Wasm .Net Core hosted web app. Based on .Net Core 3.1.
I am trying out the .Net 5 RC2 because the app uses AAD B2C and I need to set the ProviderOptions.LoginMode="redirect" in the AAD options to avoid popups.
This is the main reason that the framework is switch to .Net 5 RC2 and I am trying

[2020-10-23 12:16] jmprieur commented on #717
@javiercn: what would you recommend? (we know Microsoft.Identity.Web works with RC2, but the app has changed a bit)

[2020-10-23 12:42] javiercn commented on #717
@Satukan I would recommend you scaffold a new project based on 5.0 and compare the differences with your own project and follow the migration instructions to migrate to Microsoft.Identity.Web (I'm not sure where they are if they exist).

Note that `Microsoft.Identity.Web` is for your ASP.NET Core applications, for the client part of the Blazor Webassembly you need to use `Microsoft.Authentication.

[2020-10-23 15:00] jennyf19 commented on #707
Included in [1.2.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.2.0).

[2020-10-23 15:00] #707 closed

[2020-10-23 15:02] jennyf19 commented on #654
Included in [1.2.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.2.0).

cc: @darrelmiller @baywet @pschaeflein @1iveowl

[2020-10-23 15:02] #654 closed

[2020-10-23 15:03] jennyf19 commented on #551
Included in [1.2.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.2.0).

[2020-10-23 15:03] #551 closed

[2020-10-23 15:03] jennyf19 commented on #8
Included in [1.2.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.2.0).

[2020-10-23 15:03] #8 closed

[2020-10-23 15:10] jennyf19 commented on #537
Included in [1.2.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.2.0).

[2020-10-23 15:10] #537 closed

[2020-10-23 15:10] jennyf19 commented on #677
Included in [1.2.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.2.0).

[2020-10-23 15:10] #677 closed

[2020-10-23 15:11] jennyf19 commented on #682
@cloudsere Included in [1.2.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.2.0).

[2020-10-23 15:11] #682 closed

[2020-10-23 15:11] jennyf19 commented on #402
Included in [1.2.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.2.0).

[2020-10-23 15:11] #402 closed

[2020-10-23 15:11] jennyf19 commented on #673
Included in [1.2.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.2.0).

[2020-10-23 15:11] #673 closed

[2020-10-23 15:11] jennyf19 commented on #642
Included in [1.2.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.2.0).

[2020-10-23 15:11] #642 closed

[2020-10-23 15:12] jennyf19 commented on #603
@creativebrother thanks for your contribution on this!
Included in [1.2.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.2.0).

[2020-10-23 15:12] #603 closed

[2020-10-23 15:17] jdaless commented on #13
I just ran into this and fixed it with the ConsentHandler, though it would be nice to be able to handle it in a service instead of every time the service is used in a blazor page. Is there a way to do that now?

[2020-10-23 16:38] jmprieur commented on #603
cc: @OnAzureCloud9

[2020-10-23 16:40] jmprieur commented on #673
Thanks again for your contribution @davesmits
As @jennyf19 was writing, this has now released

[2020-10-23 16:44] jmprieur commented on #13
@jdaless : the service needs to communicate with the user, and that can only be through the app. Which is why the flow is a bit convoluted

[2020-10-23 18:18] OnAzureCloud9 commented on #603
Thanks for the tag @jmprieur. I will try out the 1.2.0 release this weekend with AJAX calls. Do you know if the 1.2.0 release still requires some custom implementation of OpenIdConnect? @creativebrother described that in [this post](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/issues/264#issuecomment-707361318).

[2020-10-23 18:53] jmprieur commented on #603
No, it shouldn't @OnAzureCloud9 : the startup.cs is pretty standard now. https://github.com/AzureAD/microsoft-identity-web/blob/77d2b6a1958f6bd7e9d514bd04e46d374773097b/tests/AjaxCallActionsWithDynamicConsent/Startup.cs#L31

[2020-10-23 19:17] Satukan commented on #717
Alright, thank you.
I try to review the migration steps again, maybe I missed anything.

[2020-10-23 19:17] #717 closed

[2020-10-23 19:41] OnAzureCloud9 commented on #603
@jmprieur great to hear. I will try this out this weekend and report back some results.

[2020-10-24 06:28] pmaytak commented on #620
@hankovich Apologies for a late reply.

This behavior applies also to the Sign up, and Edit Profile flows. When a user cancels that action, the error is caught and redirected back to home page here:
https://github.com/AzureAD/microsoft-identity-web/blob/66103b7790904221f04f70592c8e6d4dcc73428c/src/Microsoft.Identity.Web/AzureADB2COpenIDConnectEventHandlers.cs#L83

And additionally in Microsoft.Ide

[2020-10-25 22:14] OnAzureCloud9 commented on #603
@jmprieur looks like we still need to add some custom options like @creativebrother showed here? https://github.com/AzureAD/microsoft-identity-web/issues/603#issuecomment-703316365

I updated my started based on the format linked above with Open ID Connection defaults. When `MicrosoftIdentityWebChallengeUserException` is thrown it's a very similar issue to before where I receive a CORS error in th

[2020-10-25 23:16] OnAzureCloud9 commented on #603
Looks like I'm having better luck after adding the `OnRedirectToIdentityProvider` into my app. Is there a reason this isn't in the example linked for Ajax calls? That is what is throwing me off a bit and what made me think I'm doing something wrong.

After adding the `OnRedirectToIdentityProvider` in Startup file I am getting a 401 now. Still having an issue with it redirecting back to the appropr

[2020-10-26 08:40] JoeMarkov opened #724 "[Documentation] Create a document describing how microsoft-identity-web fits into the existing landscape"
### Documentation related to component

As a developer familar with IdentityServer, OAuth, ASP.NET core, I am a bit confused where microsoft-identity-web fit into the big picure architecture wise.

I would like to see an a addition to the documentation that explains on a high-level where microsoft-identity-web fits into the big picture for ASP.NET Core developers.

That anwers questions like:

* I

[2020-10-26 09:07] jmprieur commented on #724
@JoeMarkov. Thanks for your feedback.
Don't the following articles answer some of your questions?
- https://github.com/AzureAD/microsoft-identity-web/wiki/Microsoft-Identity-Web-basics
- https://github.com/AzureAD/microsoft-identity-web/wiki/1.0.0

Would you suggest we do more? (maybe add ASP.NET Identity). Where would you want to find this document?

[2020-10-26 09:32] JoeMarkov commented on #724
Somewhat, but honestly not really. I think I do get what it is aiming at, is that I would like
to see it in a more explicit an concreate way, so I don’t spend time on a dead-end.

So, perhaps what I am looking for is a FAQ that brings up the questions that I have, as a way to confirm my assumptions about the library.

Questions, then become:

* Is microsoft-identity-web a replacement for these met

[2020-10-26 10:45] JoeMarkov commented on #724
Also, perhaps a good topic to talk about in the 425show  :-)

[2020-10-26 16:55] jmprieur commented on #7
Closing as this is now addressed.

[2020-10-26 16:55] #7 closed

[2020-10-27 03:37] SLdragon opened #725 "Any ways not to verify scope or role claim in the jwt token"
**Is your feature request related to a problem? Please describe.**
This library always verify scope or role whether inside a JWT token pass in Auth header, if they both not exist, it will throw exception:
[code]

However, we do not want to verify existence of this two claims, and didn't find any configurations for it.

**Describe the solution you'd like**
We want a simple config which can turn off

[2020-10-27 07:47] jmprieur commented on #725
@SLdragon
If your web API is protected by ACLs instead of tokens, you can disable this error message. See https://github.com/AzureAD/microsoft-identity-web/wiki/1.2.0#support-for-web-api-protected-by-acls-and-called-by-daemon-apps

[2020-10-27 07:52] jmprieur commented on #725
@jennyf19 adding a supportability tab as we could add an aka.ms link in the error message to the doc.

[2020-10-27 08:35] jmprieur commented on #724
@JoeMarkov

Microsoft.Identity.Web is a simpler way to use Azure AD in ASP.NET Core web apps and web APIs. It doesn't replace ASP.NET Identity in any way, it doesn't replace AddJwtBearer or AddCookie or any of the lower level primitives, but it does use and configure them correctly for Azure AD. It doesn't work with non-Azure identity providers.
It replaces AzureAD.UI and AzureADB2C.UI which are o

[2020-10-27 08:35] #724 closed

[2020-10-27 08:42] SLdragon commented on #725
Thank you @jennyf19 ,

we're using JWT token in Auth header for authentication, and we want Web API can verify this JWT token such as audience, signiture and so on. After I disable the error messages through the configuration you just mentioned, is the validation still work? or I need to implement it some where myself?

[code]

[2020-10-27 09:32] jmprieur commented on #725
Yes, @SLdragon : the token validation will still happen, but the library won't throw if your token has neither scope or roles (as this is a valid scenario if you protect your API by ACLs, or just enforce verifying roles/scopes in your controller actions/pages methods: see https://github.com/AzureAD/microsoft-identity-web/wiki/web-apis#verification-of-scopes-or-app-roles-in-the-controller-actions

[2020-10-27 12:46] plamber opened #726 "[Bug] Consent is required when requesting explicit Graph scopes"
Hello,
I am not sure if this is a bug at all or just working like this by design. I haven't noticed this behavior before.

I am using the Microsoft.Identity.Web package in an ASP.NET Core API that is using the ITokenAcquisition interface and method GetAccessTokenForUserAsync to retrieve the token for a Microsoft Graph call.

I have an admin consented app with following scopes:
![image](https://use

[2020-10-27 13:07] jmprieur commented on #726
@plamber
1. it could be that this is a multi-tenant application and that the tenant admin of your home account requires you to consent?
2. Or that AAD wants you to perform some kind of conditional access which requires you to sign-in?
3. Do you observe the same thing if you use "User.Read.All" instead of "https://graph.microsoft.com/User.Read.All"

In any case:
- Microsoft.Identity.Web itself will

[2020-10-27 13:44] plamber commented on #726
Hi @jmprieur,
thank you very much for your fast response.

1 and 2 can be excluded because we are talking of the same tenant in a multi-tenant application. We were just addressing the scope differently.

Your suggestion 3 finally fixed the issue. I was able to retrieve the token without exception using User.Read.All without the https://graph.microsoft.com/ domain beforehand.

Thank you again for y

[2020-10-27 13:44] #726 closed

[2020-10-28 03:56] LKShankarKarthik opened #727 "GetAccessTokenForUserAsync - Is not working to obtain JWT Token to access Common Data Service Global Discovery Service"
Currently Im using Version 1.2.0 in my ASP .Net Core 3.1 Web API Project which is secured with Azure AD.

**Where is the issue?**
I tried to use ITokenAcquisition.GetAccessTokenForUserAsync in order to obtain JWT Token for the current User context which can be used to access the Common Data Service(CDS) Global Discovery Web API. I used the below scope and the Tenant.

                string[] _sco

[2020-10-28 08:25] SLdragon commented on #725
Thank you @jmprieur , that make sense!

By the way, what's the meaning of ACLs? I am not very familiar with this.
Does it mean Access Control List? I am not sure what's the relationship between JWT token validation and ACLs ?

[2020-10-28 08:28] jmprieur commented on #725
@SLdragon : yes Access Control Lists. This is because you can secure your web API with ACLs. See [control tokens without a roles claim](https://docs.microsoft.com/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow#controlling-tokens-without-the-roles-claim)

[2020-10-28 13:34] jmprieur commented on #727
@LKShankarKarthik
If seems that you used as scopes, the URL to call? Are you sure of the scopes? What AppID URI did you use with ADAL?

[2020-10-28 19:41] jennyf19 commented on #281
closing as [duplicate](https://github.com/AzureAD/microsoft-identity-web/issues/707) and already fixed.

[2020-10-28 19:41] #281 closed

[2020-10-28 19:42] quisitive-crogers opened #729 "[Bug] AADB2C90088: The provided grant has not been issued for this endpoint after Reset Password"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache seria

[2020-10-28 19:43] LKShankarKarthik commented on #727
Hi

Yes, I used it as scope based on the Microsoft documentation. For ADAL, I referred the sample to access Global Discovery Service from Microsoft link which is working perfectly fine with that Uri.

https://docs.microsoft.com/en-us/powerapps/developer/common-data-service/webapi/samples/global-discovery-service-csharp

[2020-10-28 19:44] jmprieur commented on #62
Closing as this is now fixed

[2020-10-28 19:44] #62 closed

[2020-10-28 19:49] jmprieur commented on #195
Closing as this is the object of another initiative.
For the moment, see https://github.com/jmprieur/app-provisonning-tool  (prototype work in progress)

[2020-10-28 19:49] #195 closed

[2020-10-28 20:10] jennyf19 commented on #729
@quisitive-crogers thanks for the repro. I tried w/our templates, and was not able to repro it. I would suggest building the app from one of the [templates](https://github.com/AzureAD/microsoft-identity-web/wiki/web-app-template#use-the-web-app-mvc-template), so we can ensure all the correct pieces are there, and then let us know if the issue still repros.

`dotnet new mvc2 --auth  IndividualB2C`

[2020-10-28 20:12] jmprieur commented on #595
@Henkolicious : we tested Microsoft.Identity.Web with .NET 5 RC2, and RTM.
Proposing to close this issue, but feel free to reopen if this does not work for you

[2020-10-28 20:12] #595 closed

[2020-10-28 20:29] jennyf19 commented on #391
@molntamas yes, please specify the roles explicitly.

Closing, but please reopen if needed.

[2020-10-28 20:29] #391 closed

[2020-10-28 20:30] jennyf19 commented on #203
closing until requested by customers.

[2020-10-28 20:34] jennyf19 commented on #133
@schmitch @ManuelHaas @messerke is this still reproducible with the current version (1.2.0)?

[2020-10-28 20:35] jennyf19 commented on #138
closing.

[2020-10-28 20:35] #138 closed

[2020-10-28 21:32] quisitive-crogers commented on #729
@jennyf19

I have narrowed it down by comparing with the template you suggested.  It is one of these two that is causing the problem.

[code]

I am assuming it has something to do with token validation, but I am unable to track it down.

[2020-10-28 22:40] quisitive-crogers commented on #729
Upon further debugging the flow is as such... the user is not yet logged in, as evidenced by the fact that context.Principal is null.  Any thoughts here?

[2020-10-29 01:12] jennyf19 commented on #729
@quisitive-crogers thanks for the additional info, like i said i wasn't able to repro it, but will look into this more.
Seems related to this [issue](https://github.com/AzureAD/microsoft-identity-web/issues/467) but we've since fixed it. I'll take a look. thanks again.

[2020-10-29 10:01] bgavrilMS commented on #647
We should get more value from existing test cases before investing in more. Propose to postpone this.

[2020-10-29 10:03] bgavrilMS commented on #649
The typical mechanism for running perf test is to run them over and over on the same machine. I believe this is also the approach of the Middleware team. We can get a dedicated VM for this if needed.

For now, I propose we just rely on Azure Hosted VMs having the same specs.

[2020-10-29 10:03] bgavrilMS commented on #646
Propose not to do this, profiling MSAL is more important to get some wins here.

[2020-10-29 10:07] bgavrilMS commented on #643
No work is needed on MSAL to get these metrics. For cache hit / miss, there exists `AuthenticationResult.ResultMetadata.TokenSource` which will be set to Cache in case of a hit.

What is missing here is the time spent in network calls, which can be calculated by injecting an HTTPClient that monitors the network, similar to  [this one](https://github.com/AzureAD/microsoft-authentication-library-for

[2020-10-29 10:09] jmprieur commented on #727
@LKShankarKarthik : can you please try to use scope = "https://disco.crm.dynamics.com/api/discovery/.default" and the authority "organizations" instead of "common"?
See https://docs.microsoft.com/azure/active-directory/develop/msal-net-migration

[2020-10-29 10:41] jaoord opened #730 "AddMicrosoftIdentityUI() not working in Razor Pages"
**Which version of Microsoft Identity Web are you using?**
1.2.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     * [ ] Sessi

[2020-10-29 11:17] jmprieur commented on #730
@jaoord : Microsoft.Identity.Web.UI brings a controller. I think that you are missing mapping the controller:

[code]

See https://github.com/AzureAD/microsoft-identity-web/wiki/Web-Apps#using-the-sign-insign-out-ui for details

[2020-10-29 11:37] jaoord commented on #730
Thanks, that fixed it. (Didn't know there was a wiki)

[2020-10-29 11:37] #730 closed

[2020-10-29 12:06] jmprieur commented on #525
Closing as the TOC of the docs is going to change; We'll create other issues later

[2020-10-29 12:06] #525 closed

[2020-10-29 12:25] jmprieur commented on #685
## Why? / What?
When a web API tries to acquire a token it can get a UiRequiredException this could be:
- the need for more claims (for example perform 2FA), in that case this can be forwarded back to the client so that the user provides more claims
- the need for the user and an admin to consent for the web API to call a downstream API. In the case of multi-tenant web APIs, the recommendation to

[2020-10-29 12:25] #725 closed

[2020-10-29 14:20] quisitive-crogers commented on #729
@jennyf19 thanks.  This is heading into UAT next week, so I need to come up with a work around.  If there an example of how to manually acquire the API token at the controller level without the middleware?

[2020-10-29 16:27] #648 closed

[2020-10-29 16:36] jennyf19 commented on #729
@quisitive-crogers I tried the template for mvc2 (the one I sent above)...You should have this in the Startup.cs
[code]

and I'm not able to repro the issue still. Are you starting w/the mvc2 web app template and just changing the values in appSettings.json? If not, let's start there and then we can go incrementally. just a thought.

One other thing to try, is in the B2C portal, you can test out t

[2020-10-29 16:39] quisitive-crogers commented on #729
@jennyf19 Yes, that much works.  The problem appears when I add the DownstreamAPI pieces as shown.

[code]

I pulled down this repo and referenced it directly and can confirm that this is being thrown by the code here, not by the userflow.

[2020-10-29 16:45] jennyf19 commented on #729
@quisitive-crogers ok. thanks for confirming. did you try this template: `dotnet new webapi2 --auth IndividualB2C`?

[2020-10-29 21:17] mjnorman opened #732 "[Bug] Feature for allowing a pre-configured httpClient does not appear to work in 1.2.0"
**Which version of Microsoft Identity Web are you using?**
1.2.0

**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [x] Sign-in users and call web APIs
* Web API
    * [x] Protected web APIs (validating tokens)
    * [x] Protected web APIs (validating scopes)
    * [x] Protected web APIs call downstream web APIs
* Token cache serialization
     * [x] In-memory caches
     * [ ] Sessi

[2020-10-29 23:41] quisitive-crogers commented on #729
@jennyf19 Thinking on this a bit and testing with another app in the same organization that is working, I see that one difference is that the userflow that is working is the old style and the one I am using is the *new* recommended style.  I don't know if that makes a difference.

For now, I am going to follow the steps [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenari

[2020-10-30 02:29] jennyf19 commented on #729
@quisitive-crogers what is the "new recommended style"? Can you share a link to a doc?

[2020-10-30 02:35] quisitive-crogers commented on #729
This is what I mean.  I will try creating a new password reset userflow in the "standard" fashion tomorrow to see if that works and report back.

![image](https://user-images.githubusercontent.com/22033807/97653324-7e9d7c00-1a2e-11eb-8b92-9e479dfa6031.png)

[2020-10-30 02:51] jennyf19 commented on #729
@quisitive-crogers oh, interesting. I'll check w/our B2C team as well. I wasn't aware of changes made there. Thanks for noticing that, you're right, that could be the issue. I'll check back tomorrow w/you.

[2020-10-30 02:59] LKShankarKarthik commented on #727
@jmprieur - Sure, I tried and I still get the same error as in the image.
![image](https://user-images.githubusercontent.com/36524787/97654928-d688c100-1ac8-11eb-9ab1-2800bf8e5ef4.png)

[2020-10-30 07:45] pmaytak commented on #643
I added some related thoughts on this in [Feature Request High-Level perf assement scenario #2146](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2146).
`AuthenticationResult.ResultMetadata.TokenSource` could be checked in the test runner that directly calls MSAL (as opposed to in the service). We do that in MIW perf client.

[2020-10-30 14:29] jmprieur commented on #727
Did the tenant admin of the tenant 7a** install the resource? (create a service principal) ?

[2020-10-31 05:40] pmaytak opened #735 "[Fundamentals] Add error metrics"
Goal: Able to view metrics related to Identity Web and MSAL errors (by error code) thrown.

Considerations:
- Investigate the appropriate methods to use to send metrics, EventCounters, TelemetryClient, etc.

[2020-10-31 05:40] pmaytak commented on #643
Closing as the cache related metrics were added. Postponing adding error metrics (created #735 for tracking that).

[2020-10-31 05:40] #643 closed

[2020-10-31 10:54] jmprieur commented on #620
@hankovich the problem is that currently the "reset-password" flow is handled by the application. the b2C team is working on making it handled by the service itself (which should have been). When that's done, the behavior will be right.

Meanwhile, if you want to override the onRedirectToIdentityProvider even to detect that there is a password reset and it got cancelled, you might be able to do so

[2020-11-01 01:57] amirtezgalinew opened #736 "[Bug]"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [x] Sign-in users and call web APIs
* Web API
    * [x] Protected web APIs (validating tokens)
    * [x] Protected web APIs (validating scopes)
    * [x] Protected web APIs call downstream web APIs
* Token cache seria

[2020-11-01 02:02] amirtezgalinew commented on #735
https://github.com/pmaytak

[2020-11-01 02:10] amirtezgalinew commented on #736
![SharedScreenshot1](https://user-images.githubusercontent.com/48028630/97793660-36a46380-1bac-11eb-9ed7-8369227b5bf5.jpg)

[2020-11-02 00:00] LKShankarKarthik commented on #727
For the below Score/resource, no its not in our AD Tenant & I dotn think its expected. ADAL API is working without it pointing to the same Tenant.

https://disco.crm.dynamics.com/api/discovery

[2020-11-02 07:59] jmprieur commented on #727
Why do you at all override the tenantId in the call to GetAccessTokenForUserAsync? this is not necessary: Microsoft.Identity.Web will use the tenant which is in your appsettings.json, and the effective tenant will be the one in your app registration.
Did you use the same ClientId as you used with ADAL? For instance were you using the ClientId provided in the PowerApp sample? If yes did you change

[2020-11-02 09:13] jmprieur commented on #727
If you use common, the Microsoft.Identity.Platform endpoint will use the home tenant Id of the user. Use a tenanted authority. Are you sure that the same behavior does not happen with the same user with ADAL?

[2020-11-02 20:37] LKShankarKarthik commented on #727
Yes the same behavior doesn't happen for ADAL methods.
I have managed to get it work by changing the scope as below. Would have  been easier if Microsoft documentation had these details.
![image](https://user-images.githubusercontent.com/36524787/97916519-f1ed1800-1db7-11eb-9755-8918e360f323.png)

We can close this case now. Thanks for your suggestions and support on this case.

[2020-11-02 20:37] #727 closed

[2020-11-02 21:17] jmprieur commented on #727
@LKShankarKarthik :
I'm glad you self-troublehooted.

Which MIcrosoft documentation would you want to update? a dynamics one? or a Microsoft identity platform one?

BTW, the scope (which did not seem right to me) is the first question I asked you: https://github.com/AzureAD/microsoft-identity-web/issues/727#issuecomment-717936275. I should have insisted more :)

[2020-11-02 22:24] LKShankarKarthik commented on #727
I would see it as more logical to get this updated in the Dynamics one.

Yep I was also mislead by the Microsoft Global discovery sample, which I downloaded from official site.

[2020-11-03 13:12] jmprieur opened #741 "[Feature Request] ASP.NET MVC users can leverage Microsoft.Identity.Web's Token cache serializers"
**Is your feature request related to a problem? Please describe.**
As developer move from ADAL to MSAL it's important to help them with token caching.
In ASP.NET Core, Microsoft.Identity.Web provides [token cache adapters/serializers]() but ASP.NET MVC developers are on their own.

**Describe the solution you'd like**
- P1: Expose the token cache adapters for Memory and IDistributedCache to a new

[2020-11-03 15:16] radistmorse opened #742 "[Enhancement] Initialize confidentialClientApplicationOptions properties from microsoftIdentityOptions when possible needed"
I use Identity.Web/Identity.Web.MicrosoftGraph v1.2 & MS Graph SDK v3.19 in an asp core 3.1 web api application.

I use graph in AppOnly mode. This is my configuration:

[code]
The first and obvious question is: is this the correct way? I never found any examples with the simple confidential client configuration.

The second question is: why does it require `AddAuthentication`? I add authenticatio

[2020-11-03 19:58] jennyf19 commented on #741
https://github.com/AzureAD/microsoft-identity-web/pull/737

[2020-11-03 23:27] jrodrigoav opened #744 "[Bug] AddMicrosoftIdentityWebApiAuthentication with default configuration results in Bearer error="invalid_token", error_description="The signature is invalid""
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
<PackageReference Include="Microsoft.Identity.Web" Version="1.2.0" />

**Where is the issue?**
* Web API
    * [ X] Protected web APIs (validating tokens)

**Is this a new or an existing app?**
This is a new application
**Repro**
Followed SPA tutorial, I get my token, send the toke

[2020-11-04 10:41] jmprieur commented on #742
@radistmorse
1. If you want to use this code, you'd need to provide the default Authentication scheme: `AddAuthentication(AzureADDefaults.AuthenticationScheme)`

However, I'm pretty confused that you want to call Graph with a B2C settings. Or is it to provision users? (in that case it's considered as an AAD application - you won't pass-in any policy?)

2. However, you could do simpler by leveragin

[2020-11-04 10:44] jmprieur commented on #744
@jrodrigoav what is the SPA tutorial? can you please share repro steps that we can repro (a link, or some code)

for the moment with the elements you provided, I think you got a token for an API other than your API (for example a token for Graph), and try to use it for your web API ? but I could be wrong ... I'm missing context.

[2020-11-04 11:51] mia01 commented on #461
Some follow-up info in case it might help someone. We had a reverse proxy which was terminating the ssl. Our development environment was forwarding the https scheme but the production environment wasn't which caused additional confusion. Once I had updated the production environment and made sure we were forwarding the scheme and also made sure https redirection was in place this issue disappeared

[2020-11-04 11:53] jmprieur commented on #461
See also https://github.com/AzureAD/microsoft-identity-web/wiki/Deploying-Web-apps-to-App-services-as-Linux-containers

[2020-11-04 17:28] jennyf19 opened #746 "[Bug] Check Ajax redirect URI is local redirect URI"
on AJAX calls, ensure the redirect URI is a local redirect URI.

[PR](https://github.com/AzureAD/microsoft-identity-web/pull/743)

[2020-11-04 17:31] jennyf19 opened #747 "[Bug] Guard against an authority which contains a "//""
If an authority is passed which contains a "//", id web will create an invalid authority format, as MSAL .NET doesn't guard against this either.
[PR](https://github.com/AzureAD/microsoft-identity-web/pull/738)

[2020-11-04 17:31] jennyf19 commented on #693
Related PRs:
https://github.com/AzureAD/microsoft-identity-web/pull/740
https://github.com/AzureAD/microsoft-identity-web/pull/739

[2020-11-04 18:21] xavierjohn opened #748 "The sample "dotnet new webapi2 --auth SingleAuth" is not working. [Bug]"
"Microsoft.Identity.Web" Version="1.2.0"

**The sample  code generation is not working. dotnet new webapi2 --auth SingleAuth **
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     *

[2020-11-04 19:30] jennyf19 commented on #748
@xavierjohn did you see this? https://github.com/AzureAD/microsoft-identity-web/wiki/web-api-template

[2020-11-04 20:10] tonytilbo opened #749 "[Bug] ClaimActions not being invoked"
**Which version of Microsoft Identity Web are you using?**
E.g. Microsoft Identity Web 1.2.0

**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-me

[2020-11-05 00:19] xavierjohn commented on #748
That worked. Thanks.

[2020-11-05 00:19] #748 closed

[2020-11-05 03:20] jrodrigoav commented on #744
So sorry for getting back to this so late

This is the article
https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-spa-app-configuration?tabs=javascript

I followed the steps to acquire a token and then followed the steps to Protect the WebAPI using Azure AD:
https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-overview

I can share the co

[2020-11-05 03:25] jrodrigoav commented on #744
Here is the HTML I am using, it is pretty much the example.
[code]

[2020-11-05 07:09] #649 closed

[2020-11-05 10:26] jmprieur commented on #749
@tonytilbo thanks for the heads-up.

This property is normally an OpenIdConnect property (for a web app, and acting on the IDToken claims), whereas here you have a web API, but indeed, given it's surfaced in MicrosoftIdentityOptions, we should probably make it work for the Access token claims as well.

Out of curiosity, what is your scenario? what are you trying to achieve?

[2020-11-05 10:58] tonytilbo commented on #749
We are looking to check for "groups" claims in the incoming access token and maps these based on some external configuration to a set of roles which would be added to the ClaimsIdentity so we can manage access to the API used role based authorization.

[2020-11-05 11:21] jmprieur commented on #749
@tonytilbo. Thanks for the update.
Alternatively, until we get this working, you could have a look at this sample: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/7cfdb74dc595a04d95e351c8037a9433fccee0c7/5-WebApp-AuthZ/5-2-Groups/Startup.cs#L51.

[2020-11-05 11:25] tonytilbo commented on #749
Thanks, will take a look.

[2020-11-05 12:32] hankovich commented on #620
@jmprieur For now I do not want to handle it myself, I was thinking about it as a workaround for the issue with redirect.

Do you have any information on when the b2c team is going to release the changes you mentioned?

[2020-11-05 12:33] radistmorse commented on #742
Hi @jmprieur

Thanks for your answer, but I still don't fully understand that.

1. I'm not actually familiar with this terminology. We only need graph to remove the users when their access rights expire. And I added all the authentication schemes manually, since we have many sources of JWT tokens, and map them to several authorization policies. It seems to work without the "default authentication

[2020-11-05 13:01] jmprieur commented on #742
@radistmorse. Thanks for sharing your scenario with us. Pretty advanced compared to what most of our customers do.

1. that's fine if you have mapped all your controller actions to an authentication schema. No need to add a default one. (it's just that not many customers do that) 👍
2. I see, you need to use the overrides with the delegates. The thing is the same section is used to initialize sever

[2020-11-05 13:04] jmprieur commented on #742
@jennyf19 : do you think we'd want to take an enhancement to avoid having to pass-in the clientID, tenantId, Instance, ClientSecret in the call to `EnableTokenAcquisitionToCallDownstreamApi`?

[2020-11-05 13:05] jmprieur commented on #620
@nickgmicrosoft  would you know?

[2020-11-05 13:34] jmprieur commented on #744
@jrodrigoav

1. This is the issue. AzureAD does not give a token for several resources. you need to remove "user.read" from your scopes and have only "api://[SAME_AS_CLIENT_ID]/access_as_user" (otherwise you get a token for Microsoft Graph, not for your web API
2. BTW this should be the clientID of your web API here (not of your SPA, unless they have the same clientID).

The following web API samp

[2020-11-05 13:47] jrodrigoav commented on #744
Thank you, dropping kid to school and giving this a try.

[2020-11-05 15:16] jrodrigoav commented on #744
Yes that was it, thank you very much!

[2020-11-05 15:16] #744 closed

[2020-11-05 16:54] jmprieur opened #750 "[Bug] In Blazor web assembly applications, MicrosoftIdentityConsentAndConditionalAccessHandler.ChallengeUser() does not pass login_hint to AAD"
**Which version of Microsoft Identity Web are you using?**
Latest

**Where is the issue?**
* Blazorwasm

[code]

**Expected behavior**
Given that `ConsentHandler.ChallengeUser` passes the login_hint it should be received by Azure AD

**Actual behavior**
The login_hint is not received by Azure AD.

[2020-11-05 18:17] jennyf19 commented on #736
closing until we have more information. Feel free to reopen @amirtezgalinew

[2020-11-05 18:17] #736 closed

[2020-11-06 00:52] jennyf19 commented on #750
Duplicate of this [issue](https://github.com/dotnet/aspnetcore/issues/19925) in asp net.

[2020-11-06 00:53] jennyf19 commented on #750
Closing as the fix is w/asp .net

[2020-11-06 00:53] #750 closed

[2020-11-06 01:08] jennyf19 commented on #702
proposing to close. let's revisit if we have customers hitting this.

[2020-11-06 01:08] #702 closed

[2020-11-06 16:14] xavier-90 opened #751 "B2C Error AADB2C99059 when attempting to edit profile or change password"
I have started to consistently get an error when attempting to either edit my profile or change my password:

`AADB2C99059: The supplied request must present a code_challenge`

This issue (I guess) relates to this one https://github.com/MicrosoftDocs/azure-docs/issues/64073

Is there a solution / workaround when using the Microsoft.Identity.Web library?

### Configuration:
#### B2C Configuration
-

[2020-11-06 20:36] jennyf19 commented on #751
@xavier-90 in the B2C app registration, you should use a web redirect URL and not a SPA redirect URL.

[2020-11-07 10:56] xavier-90 commented on #751
Thank you for your advice. It now works but...

I am getting an error when returning to my server:

`AADB2C90088: The provided grant has not been issued for this endpoint. Actual Value : B2C_1_SUSI and Expected Value : B2C_1_PE
`

My guess is that this relates to the following issue?
https://github.com/AzureAD/microsoft-identity-web/issues/729

PS: Thank you for this library!

[2020-11-07 12:39] jmprieur commented on #751
Thanks for the update, @xavier-90. Yes it's certainly related to that error.

[2020-11-07 12:39] #751 closed

[2020-11-09 09:03] JiwanMS opened #755 "[Bug] Signout doesn't clear the session"
**Which version of Microsoft Identity Web are you using?**
1.2.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users and call web APIs
The session is not cleared on signout. Old browser cookies never expire and can be used to access application even after signout. The cookie basically never expires.

**Is this a new or an existing app?**
The app is in production and I have upgraded to a new

[2020-11-09 19:37] jennyf19 commented on #732
@mjnorman What value are you using here? Is it a valid URI?
[code]

[2020-11-09 19:45] mjnorman commented on #732
That is correct.  Also confirmed it by using it to curl outside of this environment and app.

[2020-11-09 19:50] mjnorman commented on #732
To clarify, I redacted the url for privacy, but did confirm it resolves to a known good url at runtime, and as mentioned above, used it outside of the app to confirm.

[2020-11-10 08:31] jmprieur commented on #755
@JiwanMS : is this a regression?
Do you see this as well in an in-private / icognito browser? or only on your corporate network?

[2020-11-10 14:32] rollandjb opened #756 "B2C password reset fails for confidential client not configured to support implicit flow"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
Microsoft Identity Web 1.2.0

**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream

[2020-11-10 14:36] JiwanMS commented on #755
@jmprieur Yes, this is happening in incognito browser also. We saw the below issue and implemented a server-side Ticket store. The cookies are now invalidated on sign-out after this change. However, I was under the impression that global sign-out will handle this case. Let me know if I am missing something.

https://github.com/dotnet/aspnetcore/issues/7737

[2020-11-10 14:51] jmprieur commented on #756
This is by design: https://github.com/AzureAD/microsoft-identity-web/blob/00fc7c31f915ecde4fcf7131c0d00ff921a27b47/src/Microsoft.Identity.Web/AzureADB2COpenIDConnectEventHandlers.cs#L46

Last time I checked, a few weeks ago, this was not working for the b2C case without the id token. Do you think this works now, @rollandjb ?
cc: @jennyf19

[2020-11-10 14:53] jmprieur commented on #755
@JiwanMS : I would have thought the same.
@hpsin, what would you think?

[2020-11-10 16:14] hpsin commented on #755
I am not familiar with how Identity Web handles front channel logout. The sign out in AAD uses the OIDC standard front channel logout to send a request to your logout url, at which point your code must erase the cookies. I assume Identity Web does that for you, but don't see a reference to that being handled in the code above.

[2020-11-10 16:43] jmprieur commented on #755
Microsoft.Identity.Web just lets ASP.NET Core trigger the global signout, and subscribes to the global signout event to remove the token from the cache

[2020-11-10 17:05] JiwanMS commented on #755
The problem is not with erasing cookies. If the cookie was stolen before sign out, then it should not work after the user has signed out. Even though the cache is cleared on sign-out, you can still use an old cookie and the call goes through. The ITokenAcquization.GetAccessTokenForUserAsync() returns a token for API call even if the distributed cache(Redis in our case) is empty. Below are the step

[2020-11-10 17:08] Phatius commented on #554
@markholst - I came here with the same issue and wanted to share my results.

The answer: depends on the account.
I was using a free tenant created from a hotmail account: sampleemailhotmail.onmicrosoft.com. When I would signin/signout using the account that created the tenant (sampleemail@hotmail.com) it would remain on the "You signed out of your account. It's a good idea to close all browser wi

[2020-11-10 17:30] hpsin commented on #755
Yes, if you restore the cookie set on login.mso.com, then the login page thinks you still have a session and issues tokens appropriately.  This is not an attack that applications can prevent, and it implies a significant level of control over the network or device. We are investing in cookie binding and some server side state to protect against this attack.

This is a valid, well-known attack agai

[2020-11-10 18:15] JiwanMS commented on #755
Thanks, @hpsin, I'll close the issue. Is there any documentation that shows this is a known issue with AAD?

[2020-11-10 21:25] shanemikel commented on #554
@jmprieur I want my users to see a custom SignedOut page, not the one at /MicrosoftIdentity/Account/SignedOut.  I'm using Blazor, and the MicrosoftIdentity MVC page doesn't render with my site layout.  Is there a way to do that?

[2020-11-10 21:42] shanemikel opened #758 "[Documentation] Custom SignedOut page"
### Documentation related to component

Microsoft.Identity.Web.UI

### Please check all that apply

- [ ] typo
- [x] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in the example
- [x] needs an example

### Description of the issue

I'm working on a Blazor Server app using AzureAD and Microsoft.Identity.Web.UI for AuthN & AuthZ.  The Identity UI is implemented w

[2020-11-11 08:05] rollandjb commented on #756
@jmprieur, @jennyf19  It does work just providing `code`. This is what I did

1. I added the following in startup

[code]

2. I turned off Implicit Flow in AD B2C for this client

3. This is the call as per the developer tools network tab:

[code]

I was able to change the password.

[2020-11-11 09:12] jmprieur commented on #756
Thanks @rollandjb
Just another question. Is your web app calling downstream APIs? or just signing-in users?

[2020-11-11 09:52] rollandjb commented on #756
@jmprieur

Yes it does call downstream APIs:

    .EnableTokenAcquisitionToCallDownstreamApi()

But I do not use `AddDownstreamWebApi`. I have a typed HTTP client that implements type-safe methods for accessing the endpoints of my REST server.

[2020-11-11 12:17] #755 closed

[2020-11-11 14:53] rollandjb opened #760 "AccountController implementing MicrosoftIdentity/Account/xxx endpoints does not honour redirectUrl"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
Microsoft Identity Web 1.2.0

**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream

[2020-11-11 17:11] jennyf19 opened #762 "[Bug] KeyVault flags needed for private key path"
The path that loads a cert with a private key from key vault is missing the[ keyvault flags](https://github.com/AzureAD/microsoft-identity-web/blob/master/src/Microsoft.Identity.Web/CertificateManagement/DefaultCertificateLoader.cs#L117) , which results in: "WindowsCryptographicException: The system cannot find the file specified" when trying to use a certificate from Key Vault.

[2020-11-11 17:12] jennyf19 commented on #762
https://github.com/AzureAD/microsoft-identity-web/issues/762

[2020-11-11 18:23] jennyf19 commented on #693
still working on this.

[2020-11-11 18:24] jennyf19 commented on #762
In [1.3.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.3.0)

[2020-11-11 18:24] #762 closed

[2020-11-11 18:24] jennyf19 commented on #747
In [1.3.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.3.0)

[2020-11-11 18:24] #747 closed

[2020-11-11 18:24] jennyf19 commented on #746
In [1.3.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.3.0)

[2020-11-11 18:24] #746 closed

[2020-11-11 18:24] jennyf19 commented on #741
In [1.3.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.3.0)

[2020-11-11 18:24] #741 closed

[2020-11-11 23:23] jennyf19 commented on #732
@mjnorman Is this repro'ing only with the HttpClient?

[2020-11-11 23:30] mjnorman commented on #732
I'm not sure I follow the question, can you elaborate?

[2020-11-11 23:51] jennyf19 commented on #732
Can you repro it with a console app with your custom proxy settings and a new HttpClient? We are thinking of sending this to the HttpClient owners to take a look.

[2020-11-12 00:19] mjnorman commented on #732
I can do that just keep in mind that I won't be able to provide any proxy information as it is only usable from inside our company footprint.

[2020-11-12 00:20] jennyf19 commented on #732
yes, understood...thanks so much.

[2020-11-12 00:38] markholst commented on #554
@Phatius thanks for this information.

I have also been integrating React based SPA apps using the MSAL JavaScript library, using the redirect methodology.  This does _exactly_ what I want it to do, i.e. after sign-out I am redirected back to the app as an unauthenticated user - perfect!

[2020-11-12 09:29] jmprieur commented on #758
@shanemikel : did you read this article: https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-3.1&tabs=visual-studio#override-views-partial-views-and-pages ?

[2020-11-12 10:04] jmprieur commented on #756
Thanks for the update, @rollandjb
I see that you have the hypothesis that the policy will be named (or will contain) "PasswordReset".

It's my understanding that the names of the userflows/policies can be anything?

[2020-11-12 10:13] jmprieur commented on #756
@jennyf19 proposing to fix this one. In the [OnRedirectToIdentityProvider](https://github.com/AzureAD/microsoft-identity-web/blob/529c83fb902a008c6743fca3712b94aecf447eac/src/Microsoft.Identity.Web/AzureADB2COpenIDConnectEventHandlers.cs#L44) callback we should change the test to use code when the IssuerAddress.Contains(microsoftIdentityOptions.[ResetPasswordPolicyId](https://github.com/AzureAD/mi

[2020-11-12 10:47] jmprieur commented on #760
Thanks for the heads-up @rollandjb

[2020-11-12 14:40] jmprieur commented on #712
@jennyf19 : nobody complains. Moving it away of 1.3.1.

[2020-11-12 14:42] jmprieur commented on #110
@henrik-me : do you think this becomes more important to do it soon?

[2020-11-12 18:12] jennyf19 opened #765 "[Documentation/Sample] How to use cache in a dot net core/dot net framework console app & multitarget"
Add a sample showing how to use the token cache adapters in a multi-target console application for:
- .NET 5.0
- NET 4.7.2

[2020-11-12 21:35] pmaytak commented on #624
@samihuutoniemi Proposing to close this. Feel free to reopen if you disagree.

[2020-11-12 21:35] #624 closed

[2020-11-13 00:01] shanemikel commented on #758
I just looked through it.  Could you help me out here?  I'm not familiar with MVC, so I'd rather make a Razor Page if possible.  I added an `Areas/MicrosoftIdentity/Account/Pages/SignedOut.cshtml` file, but it doesn't work.  I also tried making a page in my app `Pages` folder with `@page '/MicrosoftIdentity/Account/SignedOut`.  Also no luck.

[2020-11-13 02:16] mjnorman commented on #732
Repro located here just plug in your proxy uri and credentials into appsettings.json.  I used the mvc2 template instead of a console app.  If this is not sufficient let me know.  Thanks.

https://github.com/mjnorman/identity-web-proxy-repro

[2020-11-13 03:35] jennyf19 commented on #756
@jmprieur I think the fix should happen on the portal side. The actual issue is coming from their UI options.

[2020-11-13 03:40] jennyf19 commented on #732
Thanks @mjnorman you could repro it w/your proxy settings and this repro?

[2020-11-13 04:07] mjnorman commented on #732
Yes.

[2020-11-13 04:13] jennyf19 commented on #732
Thanks @mjnorman - I opened an issue w/dotnet, so we'll keep an eye on it. Will mark this one as "external" for now.

cc: @jmprieur

[2020-11-13 10:27] rollandjb commented on #756
@jennyf19 According to OAuth2.1, implicit flow will **not** be supported in the future, which means (as I understand it) tokens can not be requested from the authorise endpoint, but must be obtained by exchanging the `code` for tokens at the token endpoint.

In the meantime, by turning off `implicit flow` on B2C, those of us performing authentication via confidential clients ensure that **only** `

[2020-11-13 10:36] rollandjb commented on #760
My pleasure @jmprieur

[2020-11-13 10:37] jmprieur commented on #756
@rollandjb this is **not** implicit flow
This is using **hybrid**: `response_type=id_token+code`. That’s pretty standard, and lets you paint the page with user info from the id token before they redeem the code for access tokens.

The fact that the portal has it in a category named "implicit flow" is confusing. When you check "implicit flow access token", you get the implicit flow, not when you ch

[2020-11-13 10:53] rollandjb commented on #756
@jmprieur Thanks for the clarification on implicit vs hybrid.

I don't understand your point about `code` not being accepted by SUSI. In my app the `authorise` call

`https://xxx.b2clogin.com/xxx.onmicrosoft.com/b2c_1a_signupsignin/oauth2/v2.0/authorize?`

the query parameters are:

[code]

[2020-11-13 11:15] jmprieur commented on #756
@rollandjb does it work if you remove .EnableTokenAcquisitionToCallDownstreamApi() ?

[2020-11-13 11:40] rollandjb commented on #756
@jmprieur if I do that, then my app won't start because it cannot resolve `Microsoft.Identity.Web.ITokenAcquisition` which I need in the `HttpMessgeHandler` of my typed HttpClient, where I add the access token (using `ITokenAcquisition`) to the `Authorization` header.

Anything else you'd like me to try?

[2020-11-13 13:25] jmprieur commented on #760
@rollandjb I tried to repro this bug, but cannot.
Using https://github.com/AzureAD/microsoft-identity-web/tree/master/tests/B2CWebAppCallsWebApi, and signing out each time, I'm always redirected to the page where the sign-in was triggered.

Do you have repro steps? Do you want to force another redirect URL?

[2020-11-13 13:33] jmprieur commented on #756
@rollandjb : did you try to use Edit profile, and then access to your web api? (this does not work for me without idtoken_token

[2020-11-13 15:34] rollandjb commented on #756
@jmprieur I am able to edit profile. I check for edit profile policy in OnRedirectToIdentityProvider event and remove `id_token`.

I **am** being redirected to MicrosoftIdentity/Account/Error afterwards, but I haven't found out yet why. I will look into it and let you know.

Just note that we do not use an Edit Profile policy—we have no need for it so far. We also use custom policies, so I had to

[2020-11-13 15:53] jmprieur commented on #756
Thanks @rollandjb for the update.

[2020-11-14 12:24] rollandjb commented on #756
@jmprieur

My server hosts a SPA in `wwwroot` which calls the downstream API via a reverse proxy service (currently `ProxyKit`) which is configured to add the bearer token to the request using an `HttpMessageHandler` and `ITokenAcquisition ` as described above.

Thus calls by the SPA to the downstream API are secured by the session cookie returned on successful B2C authentication.

B2C has "implic

[2020-11-14 12:51] rollandjb commented on #760
@jmprieur

I don't know ASP.NET Core web apps well enough to know how the page url is being remembered.

In the case of a SPA hosted on the web app, one would need to specify the `redirectUrl` as a query parameter:

    <a href="/MicrosoftIdentity/Account/SignIn?redirectUrl=/pages/products">Sign In</a>

`AuthentcationProperties` provides the mechanism to specify such a location using the `Redirect

[2020-11-15 17:50] tottes200 opened #766 "[Bug] Switching from AzureAD.UI to Identity.Web.UI causes IDX20803 and IDX20807."
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

**Where is the issue?**
* Web app
    * [X] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache seria

[2020-11-15 19:13] jmprieur commented on #766
@tottes200, what do you have in your appsettings.json. In particular for the Instance?

[2020-11-15 19:16] tottes200 commented on #766
@jmprieur This is what I currently have in there. This as well hasn't changed.

![image](https://user-images.githubusercontent.com/44611315/99194395-16001000-274d-11eb-96a1-29efc7c5fcb3.png)

[2020-11-16 09:13] jmprieur commented on #766
@tottes200 : I'd suggest you remove the `Authority` line in the AzureAD section

Authority = `Instance` + tenant (for Azure AD). Here it's not right.

Also you don't need `ResponseType`, `Prompt`, `Scope`

[2020-11-16 09:32] jmprieur commented on #756
Thanks @rollandjb

[2020-11-16 15:02] #693 closed

[2020-11-17 10:14] saddamhossain opened #768 "microsoft-identity-web issue in Blazor Server side"
Hi,
I am facing an issue. I am using Blazor server-side application with Azure ADB2C. Suppose I keep my B2C user flows with the domain, client id etc, and use the default template of visual studio for Blazor server-side application. When I run the project for the first time, it redirects to the Azure B2C login page but it should show the index, I mean the home page. Then if I click the login link/

[2020-11-17 13:01] vladop opened #769 "Logout from multiple tabs"
Logout is very simple using:
      `  <a href="MicrosoftIdentity/Account/SignOut">Log out</a>`

However in Blazor server app with multiple tabs opened when user is logged out (he can still continue to use app (altough he gets message "Sucessfully logged out. It is good idea to close other browser window".

This seems wrong.
Also, why he need to choose account from which he need to logout (he is lo

[2020-11-17 13:22] jmprieur commented on #769
@vladop : is it blazor server or Blazor web assembly (hosted or not)?
@javiercn  do you have an idea for the first question.

@hpsin: in https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc#send-a-sign-out-request, I don't think we explain why the user needs to select the account to sign-out. Should we?

[2020-11-17 13:23] jmprieur commented on #768
@javiercn would you know ?

[2020-11-17 13:25] saddamhossain opened #770 "Policy Constants not available in the microsoft-identity-web"
Hi,
When I integrate Microsoft.Identity.Web.UI from NuGet, I also try to use the Account controller but the **Policy** constant, not available there.
Here is the link:
[link](https://github.com/AzureAD/microsoft-identity-web/blob/master/src/Microsoft.Identity.Web.UI/Constants.cs)

[2020-11-17 14:28] vladop commented on #769
It is blazor server app.
Maybe it is not an issue that it has to choose account to signout altough I as (expirenced) user didn't expect that.
Issue is that I can go to another tab and to whatever I want (even make some requests to server, some destructive actions)
Once I refresh page, I get redirected to login screen which is ok but multiple tabs opened is problem in this case

[2020-11-17 14:43] javiercn commented on #769
@jmprieur this is by design.

By default Blazor sets up the authentication context during the initial request to the page and maintains it for the lifetime of the Blazor server session (the circuit).

There is extensibility that can be used to implement your own mechanism for updating the authentication state for a given user. See [here](https://github.com/dotnet/aspnetcore/blob/master/src/Compone

[2020-11-17 14:46] javiercn commented on #768
@jmprieur no idea, we have manual test coverage for this, so I believe this must be a configuration issue on the user tenant. I don't think we have active reports of this not working.

[2020-11-17 16:16] jmprieur commented on #770
@jennyf19 : proposing to take this one.

[2020-11-17 16:59] ArnaudChirat opened #771 "[Bug] The response has already started, the error page middleware will not be executed on Scope Validation"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
Microsoft Identity Web 1.3.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [x] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream

[2020-11-17 19:13] jennyf19 commented on #760
moving to another iteration, as we need to update the templates as well and requires more time on our end to understand how to support this better & test.

[2020-11-17 19:47] madshaun1984 opened #772 "No authentication handler is registered for the scheme 'OpenIdConnect'. When application is deployed to Azure App Service Deployment (non- slot)."
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

Microsoft Identity Web 1.3.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ X] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstre

[2020-11-17 19:55] jennyf19 commented on #771
@ArnaudChirat do you mind trying this [branch](https://github.com/AzureAD/microsoft-identity-web/tree/jennyf/scopeVal) to see if it resolves your issue? Thanks.

[2020-11-17 20:04] jennyf19 commented on #772
@madshaun1984 Did you enable easy auth (App Services Authentication)? In that case the line about `services.Configure<OpenIdConnectOptions>(OpenIdConnectDefaults.AuthenticationScheme...` should be removed. MS Identity Web is using the [App Services scheme](https://github.com/AzureAD/microsoft-identity-web/blob/master/src/Microsoft.Identity.Web/AppServicesAuth/AppServicesAuthenticationHandler.cs).

[2020-11-17 20:10] madshaun1984 commented on #772
This is seems to resolve the issue, however, to test I have turned off easy auth then successfully managed to login..

Is this documented anywhere? I wasn't able to surface it if it is.

Thanks!

[2020-11-17 20:24] jennyf19 commented on #772
We have this [documentation](https://github.com/AzureAD/microsoft-identity-web/wiki/1.2.0#integration-with-azure-app-services-authentication-of-web-apps-running-with-microsoftidentityweb) and [this](https://github.com/AzureAD/microsoft-identity-web/wiki/deploying-to-app-services), but we will improve the wiki so it's more discoverable.
cc: @jmprieur i'll update the wiki, fyi.

closing, but feel fr

[2020-11-17 20:24] #772 closed

[2020-11-17 20:25] jennyf19 opened #774 "[Documentation] Improve App Services Auth wiki documentation"
https://github.com/AzureAD/microsoft-identity-web/issues/772

[2020-11-18 04:34] saddamhossain commented on #770
@jmprieur and @jennyf19 Thank you so much. Stay safe, Stay care!

[2020-11-18 04:34] #770 closed

[2020-11-18 08:44] ArnaudChirat commented on #771
@jennyf19 Thank you very much, it works perfectly

[2020-11-18 08:59] jmprieur commented on #772
Thanks for the feedback, @madshaun1984.
We've updated a bit the doc

[2020-11-18 09:05] jmprieur commented on #774
Thanks for raising this @jennyf19
I've updated the wiki docs:

https://github.com/AzureAD/microsoft-identity-web/wiki/deploying-to-app-services

[2020-11-18 13:12] tottes200 commented on #766
I will test that out and see if that solves the problem. Thank you.

[2020-11-18 22:40] jennyf19 commented on #774
thanks. i was going to do it, but thank you. i'll go ahead and close this.

[2020-11-18 22:40] #774 closed

[2020-11-19 07:52] OnAzureCloud9 opened #775 "[Documentation] App Service Integration (X-MS-TOKEN-AAD-ACCESS-TOKEN is empty)"
### Please check all that apply

- [ ] typo
- [ X] documentation doesn't exist
- [ X] documentation needs clarification
- [ ] error(s) in the example
- [ X] needs an example

### Description of the issue
As described in notes from a [recent release](https://github.com/AzureAD/microsoft-identity-web/wiki/1.2.0#integration-with-azure-app-services-authentication-of-web-apps-running-with-microsoftiden

[2020-11-19 08:56] jmprieur commented on #775
@OnAzureCloud9: thanks for your feedback. There shouldn't be any requirements other than enabling authentication with the Azure AD IDP, and add the additional login params.

There is a new set of tutorials that you might want to have a look at:
https://docs.microsoft.com/en-us/azure/app-service/scenario-secure-app-overview

I guess this is the one you'd like to read: https://docs.microsoft.com/en-

[2020-11-19 09:52] DigitalSa1nt opened #776 "[Documentation] AuthorizeForScopesAttribute handles MSAL exceptions"
### Documentation related to component

Microsoft.Identity.Web.AuthorizeForScopesAttribute

### Please check all that apply

- [ ] typo
- [x] documentation doesn't exist
- [x] documentation needs clarification
- [ ] error(s) in the example
- [ ] needs an example

### Description of the issue

Hitting a controller endpoint adorned with the `AuthorizeForScopesAttribute` must allow MSAL exceptions to

[2020-11-19 10:11] jmprieur commented on #776
@DigitalSa1nt : do we need more than this article: https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access ?

[2020-11-19 10:19] DigitalSa1nt commented on #776
I did see that documentation and your reply [here](https://github.com/AzureAD/microsoft-identity-web/issues/603#issuecomment-696973021)

But I don't think the behavior is quite as clearly indicated as we think; nothing suggests that you should re-throw the caught MSAL exceptions so that the attribute can handle it. The only place that suggests that is the actually in-line commentary in the class i

[2020-11-20 21:13] jmprieur commented on #590
@jennyf19, @henrik-me, as discussed let's take it.
I also benefits to MSAL.NET users wanting to use net472

[2020-11-20 22:26] keggster101020 opened #778 "[Bug] Silent Authentication in iframe redirects parent window on error"
**Which version of Microsoft Identity Web are you using?**
Using AAD v2 and ASP.NET Core 3.1

Nuget packages and versions:
[code]

**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token

[2020-11-20 22:38] jeffreyrivor commented on #778
I'm working on the same service with @keggster101020 and want to provide a screenshot of the form in the response when we make the `prompt=none` request in an `<iframe>`.

![image](https://user-images.githubusercontent.com/1664883/99856423-cef38f80-2b3d-11eb-96c6-4c8e80221851.png)

Since we specified `prompt=none` and on the request in an `<iframe>`, we were hoping we can silently handle the error

[2020-11-20 22:59] jmprieur commented on #778
@keggster101020. I'm a bit confused. Is this an issue with Microsoft.Identity.Web ?
which kind of application are you building? a web app or a single page application?

[2020-11-20 23:00] #769 closed

[2020-11-20 23:03] jmprieur commented on #766
@tottes200 proposing to close this issue, as I believe we have answered.
Of course if this still reproes for you once you've made the changes we proposed, feel free to reopen.

[2020-11-20 23:03] #766 closed

[2020-11-20 23:21] vladop commented on #769
Anyway, I think that just because Blazor works differently from other frameworks doesn't mean that it needs to introduce strange user experience and security risks. User that uses app once logged out doesn't seem reasonable by design or default behavior or something that average Joe as developer should "hack" into.

[2020-11-20 23:28] jennyf19 commented on #590
cool. we can release it after the MSAL .NET release then.

[2020-11-20 23:44] jeffreyrivor commented on #778
@jmprieur I don't think it is an issue with Microsoft.Identity.Web, but I'm also not sure where to send these kinds of issues for AzureAD. We're making an ASP.NET Core web app that uses the OIDC and OAuth2 flow for id_token + code with a POST callback. We want to passively authenticate users using an iframe with a challenge to AAD with `prompt=none` specified, but the expected error that is return

[2020-11-21 00:08] tottes200 commented on #766
That seems to have fixed it. Thank you for your help!!

[2020-11-21 08:00] jmprieur commented on #766
Thanks for the update, @tottes200. I'm glad you self troubleshooted

[2020-11-22 09:17] damienbod opened #780 "Use IHttpClientFactory to create the GraphServiceClient"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
1.3.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [x] Protected web APIs call downstream web APIs
* Token cache

[2020-11-24 03:28] jennyf19 commented on #778
@jeffreyrivor can you send no prompt at all, so no value for prompt?

[2020-11-24 08:17] santoshpatro opened #782 "HttpActionContext not getting set with claims post AzureAD authentication"
Hi Team,

Any help on this issue : https://stackoverflow.com/questions/64971978/httpactioncontext-not-getting-set-with-claims-post-azuread-authentication is much appreciated.

Thanks,
Santosh

[2020-11-24 09:53] sebastianbk opened #783 "[Bug] 'IMvcBuilder' does not contain a definition for 'AddMicrosoftIdentityUI'"
**Which version of Microsoft Identity Web are you using?**
1.3.0

**Where is the issue?**
* Web app
    * [X] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     * [ ] Sessi

[2020-11-24 09:58] jmprieur commented on #783
@sebastianbk , you need to add a reference to Microsoft.Identity.Web.UI.

BTW if you use .NET 5.0, the ASP.NET core templates use Microsoft.Identity.Web, and therefore you'll get ready to use apps. See also https://github.com/AzureAD/microsoft-identity-web/wiki/web-app-template if you use .NET Core 3.1

[2020-11-24 10:03] sebastianbk commented on #783
![image](https://user-images.githubusercontent.com/660576/100079189-a5d84500-2e44-11eb-96fc-38799da9c085.png)

[2020-11-24 10:04] #783 closed

[2020-11-24 15:11] HunteRoi commented on #546
Good afternoon @mjnorman ! I see you closed this issue on your own. Does it mean you found why you fell on a 404? If so, could you explain? I'm facing the same issue and I'm hitting my head on a rock at the moment..

Thanks for your time!

[2020-11-24 15:14] vh-vahan opened #784 "The provided ConfidentialClientApplicationOptions.RedirectUri is not honored when Web App requests access token for the downstream API"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
Microsoft Identity Web 1.3.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream

[2020-11-24 16:55] jmprieur commented on #782
@santoshpatro : how is this related to Microsoft.Identity.Web ?

[2020-11-24 17:01] jennyf19 commented on #771
@ArnaudChirat I'm not sure what the problem is...is it the error message?

[2020-11-24 17:07] jennyf19 commented on #771
also, @ArnaudChirat, are you in developer mode?

[2020-11-24 17:07] jmprieur commented on #784
@vh-vahan : you need to add the redirect URI corresponding to your deployed app to the app registration in the portal.
https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-register-app#add-a-redirect-uri

[2020-11-24 18:14] vh-vahan commented on #784
Thanks @jmprieur  for prompt response.
I added the redirect URI - which is the cluster's load balanced DNS URI. I don't think I should add the URI of each Service Fabric's node instance URI to the app registration portal. Those will be several depending on cluster's node number and also they are not accessible from outside of the cluster.

I added this and it is being honored during the sign in fl

[2020-11-24 19:17] jeffreyrivor commented on #778
@jennyf19 I can't request without `prompt=none` because that would generate a response from AzureAD with `X-Frame-Options: DENY` since login prompts are not allowed in iframes.

@jmprieur I believe this is a regression between AADv1 and Microsoft Identity Platform (AADv2) because I just looked at a v1 app and the form response for `prompt=none` *does not* force a `target="_top"`.

![image](https:/

[2020-11-24 20:55] mjnorman commented on #546
@HunteRoi yes, take a look at my closure comment, was just missing the MapRazorPages.

[2020-11-25 00:37] hpsin commented on #778
@jeffreyrivor - are you running this within a sandboxed iframe by chance? We've filed an incident internally to investigate, as you're correct to call out that this should not be occurring.

[2020-11-25 00:46] jennyf19 commented on #778
Thanks @hpsin ...

@jeffreyrivor going to close, as this is not related to identity web, but will update here when we have information about the incident. Thanks for letting us know.

cc: @jmprieur

[2020-11-25 00:46] #778 closed

[2020-11-25 00:49] jeffreyrivor commented on #778
@hpsin We were planning to add the sandbox parameters to the iframe as a workaround, but I figured that it was worth bringing up since v1 apps don't have the same problem. Do you have a suggestion on the set of values that would need to be set if we have to go that route?

[2020-11-25 01:00] hpsin commented on #778
Unfortunately the error still won't make it back to you even with sandboxing, due to our incorrect navigationin respone to interaction_required errors.  We wanted to make sure that sandboxing wasn't triggering this.  Sandboxing won't really help here, I'm afraid - it'll preserve your app, but you'll need some way to watchdog the iframe to ensure that it hasn't gotten lodged on this error.

[2020-11-25 10:37] dmcweeney opened #786 "Question - Recommended expiration setting"
Hi,

Quick question - I'm wondering what you recommended SlidingExpiration setting would/should be in relation to token lifetimes when using the distributed cache.

Thanks, Donal

[2020-11-25 19:50] wasabii opened #787 "[Feature Request] Allow configuration from container"
The `AddMicrosoftIdentityWebApi` and `AddMicrosoftIdentityWebApp` methods have no overload which can be used to specify the options while having access to the `IServiceProvider`. They should. I use the container to deliver my configuration options.

[2020-11-26 09:10] jmprieur commented on #787
@wasabii : I'm not familiar with your scenario. Can you please elaborate? provide links to documentation ? or other APIs that do that?
At the moment you call .AddMicrosoftIdentityWebApi, I believe that the service provider does not exist yet. I'd think the way to do it by using the overrides with the delegates, which will be called when the service provider exists? Or am I missing something?

[2020-11-26 12:15] jmprieur commented on #143
One of the issues is for a b2C web app that calls a web API, if the developer provides the tfp in the authority in the appsettings.json, the sign-in part of the Oauth code flow works, but Microsoft.Identity.Web adds a second /tfp in the authority, and MSAL fails.

[code]

Possible work around for this case (and only this case) would be to add the following line after
https://github.com/AzureAD/mic

[2020-11-27 16:09] vh-vahan commented on #784
@jmprieur  so wondering how can I configure or make it to take into account the provided RedirectURI.
Otherwise considering application deployed to service fabric cluster's multi node scale set, it becomes not feasible to register every node's IP based URI in the registration portal.

Instead I register in the portal the cluster's load balanced URI and configure the same URI in application code to

[2020-11-28 18:23] llx9 opened #791 "[Documentation] CertificateDescription.FromStoreWithThumprint(String, StoreLocation, StoreName) Method"
### Documentation related to component

CertificateDescription.FromStoreWithThumprint(String, StoreLocation, StoreName) Method
### Please check all that apply

- [x] typo
- [ ] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in the example
- [ ] needs an example

### Description of the issue

Should be CertificateDescription.FromStoreWith**Thumbprint** ,not **Thu

[2020-11-30 09:28] jmprieur commented on #791
Thanks for the heads-up, @llx9
Assigning to the next major version (as fixing this would be a breaking change)

[2020-11-30 10:06] jmprieur commented on #784
@vh-vahan : Let me rephrase if I understand the scenario.
- your deployed app is running at a specific URI, behind a load balancer
- Microsoft.Identity.Web builds the reply URI using that particular URI where the app is running
- however you would want the redirect URI to be another URL, which is the one of the load balancer.
- which you'd want to specify with the ConfidentialClientApplication.Red

[2020-11-30 10:07] jmprieur commented on #784
@jennyf19 : proposing to do the following:
In https://github.com/AzureAD/microsoft-identity-web/blob/9bdf816d2f0e8fd029328ad11cf33217da963ba9/src/Microsoft.Identity.Web/TokenAcquisition.cs#L441

If ConfidentialClientApplication.RedirectUri is not null and is absolute, then we use it
otherwise we do as today (compute it from the URI where the app is running)

[2020-11-30 13:36] jmprieur commented on #786
@dmcweeney : this is an interesting question, but we'd want to understand your scenario a bit more:
- do you have any concern?
- do you see any issue?

[2020-11-30 14:07] dmcweeney commented on #786
Hi @jmprieur,

No concerns from a security perspective.
Thinking in terms of ensuring that the tokens are auto-purged/expired in a timely manner.
For example,
- you may have trial users that access the app and don't come back
- and trial users that access the app and do come back a couple of times during a trial.
- and "active" users that might access the app once a month
- and "active" users that

[2020-11-30 14:27] rollandjb commented on #756
@jmprieur

I now think I understand how  the hybrid flow, which obtains `id_token` and `code`, is used by `Microsoft.Identity.Web` to allow signin with different policies:

- If `id_token` is requested, then a `ClaimsPrinciple` is created with the `id_token` kv values as claims, and
- `AddAccountToCacheFromAuthorizationCodeAsync` https://github.com/AzureAD/microsoft-identity-web/blob/4ab0da4c93ef5

[2020-11-30 14:35] jmprieur commented on #756
@rollandjb : proposing to close this issue.
(the fix of the explanations in the portal is under way)

Feel free to reopen if you disagree.

[2020-11-30 14:35] #756 closed

[2020-11-30 18:14] vh-vahan commented on #784
Thanks @jmprieur, yes, that is the scenario I have, and thanks for including that work in 1.4.0 version.

[2020-11-30 18:25] jmprieur opened #792 "[Feature Request] Change the templates to use b2clogin.com instead of https://login.microsoftonline.com/tfp/"
The project templates use `https://login.microsoftonline.com/tfp/`.
We want them to use `https://domain.b2clogin.com/`.

We also need to create a PR for ASP.NET Core.

cc: @jennyf19

[2020-11-30 21:26] jennyf19 opened #793 "[Bug] throw an ArgumentException if tenant is 'common' or 'organizations' for acquire token for app scenarios"
see #790 for details.

[2020-12-01 14:19] rollandjb commented on #756
@jmprieur No need to reopen.

[2020-12-02 01:33] ThatMouse commented on #758
@shanemikel I just tried the same thing and cannot override it. I've yet to find any examples of creating a logout page. I happen to be using Blazor server. The old AspNetCore.Authentication library required doing something similar though.

[2020-12-02 04:19] dkrasnove opened #797 "[Bug] Issuer is validated despite setting 'ValidateIssuer' to false"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
Microsoft Identity Web 1.3.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [x] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream

[2020-12-02 04:26] dkrasnove commented on #797
Possibly related to #168

[2020-12-02 12:37] erik1988 commented on #133
Hello, I have a setup where I store identities in the app and use my organizations azure ad to create and log users in. I just recently upgraded to Core 5 and now I am getting an obsolete warning on the current code. `services.AddAuthentication(AzureADDefaults.AuthenticationScheme)
                        .AddAzureAD(options => { Configuration.Bind("AzureAd", options); options.CookieSchemeName = I

[2020-12-02 12:40] jmprieur opened #798 "[Bug] Constants.LoginHint should value login_hint, not loginHint (and domain_hint for DomainHint)"
**Which version of Microsoft Identity Web are you using?**
1.3.0

**Where is the issue?**
* Web app
    * [ x ] Sign-in users
    * [ x ] Sign-in users and call web APIs

**Repro**

Call `AccountController.Challenge` with a loginHint.

[code]

**Expected behavior**
The call to AAD should show login_hint

**Actual behavior**
It's not

**Possible solution**
Change the value of the LoginHint to `logi

[2020-12-02 12:43] jmprieur commented on #798
@jennyf19 do you agree?

[2020-12-02 13:21] khanhvu161188 commented on #133
@erik1988 same boat here

[2020-12-02 13:28] schmitch commented on #133
@jennyf19 no it still is broken, we sadly still need to use `AddAzureAD`.

[2020-12-02 16:07] aaronjones1 opened #799 "[Documentation] Authentication fails with no login prompt"
### Documentation related to component
Protected Web API

### Please check all that apply

- [ ] typo
- [ ] documentation doesn't exist
- [X] documentation needs clarification
- [ ] error(s) in the example
- [ ] needs an example

### Description of the issue
I cannot get authentication to work for a "hello world" protected web API.  I must have missed something but I don't know what.

* Microsoft.

[2020-12-02 18:41] jennyf19 commented on #793
fixed by PR from @hajekj

[2020-12-02 18:42] jennyf19 commented on #793
auto-magically closed when PR was merged, reopening until we release. cc: @jmprieur

[2020-12-02 22:21] jennyf19 commented on #771
Hi @ArnaudChirat, not sure if you saw the above, but wondering if you are in developer mode...thanks.

[2020-12-02 22:32] jmprieur commented on #797
Thanks @dkrasnove

[2020-12-02 22:34] jennyf19 commented on #799
@aaronjones1 I'm a little confused, as you can't sign-in to a web api, but you can sign-in to a web app, which will then call a web api (or not, just sign-in a user).

have you seen our web [app templates](https://github.com/AzureAD/microsoft-identity-web/wiki/web-app-template)? and
web [api templates](https://github.com/AzureAD/microsoft-identity-web/wiki/web-api-template)? That should get you up

[2020-12-02 22:49] jennyf19 commented on #797
Thanks @dkrasnove. i have a linked PR above w/your suggestion. I think this will go in our 1.4 release next week.

[2020-12-02 23:16] dkrasnove commented on #797
Thanks. Also FYI, this same bug exists in [MicrosoftIdentityWebApiAuthenticationBuilderExtensions](https://github.com/AzureAD/microsoft-identity-web/blob/f667b8d44aabbe61b82a178570d296f893822777/src/Microsoft.Identity.Web/WebAppExtensions/MicrosoftIdentityWebAppAuthenticationBuilderExtensions.cs#L282). There is also probably an issue with audience validation when ValidateAudience is set to false f

[2020-12-02 23:33] jennyf19 commented on #797
@dkrasnove yes, good point. have added it as well. thanks again.

[2020-12-03 03:33] ThatMouse opened #804 "[Feature Request] Define SignedOut URL"
There is no clear way to define the SignedOut page. It is currently hardcoded.

I'd like to be able to define the URL, especially for cases where I just need the user back to an existing page like the home page.

The only way I found to do this currently is to create a razor page in my web app (Blazor Server in my case)
Areas/MicrosoftIdentity/Pages/Account/SignedOut.cshtml

[2020-12-03 07:47] bakerCaleb opened #805 "Add a method to IServiceCollection, for Razor, to add a consent handler"
**Is your feature request related to a problem? Please describe.**
When writing a Razor web app, I'd like to add a consent handler. There is no available method. I'm using the one for Blazor, which I think will work, but it is confusing and I'm not confident it is the correct approach.

Example from ConfigureServices() in Startup.cs:

services.AddServerSideBlazor()
               .AddMicrosoftIden

[2020-12-03 14:18] aaronjones1 commented on #799
Thank you for your reply :)

I guess it was my assumption that if I tried to navigate to the API Controller endpoint in a browser, I would be redirected to the Office 365 sign-in page, authenticate, and then the JSON data would be returned by the API.  But you're saying the only way I can get data from my protected API is by signing in to a client application first?

[2020-12-03 19:52] jennyf19 commented on #799
Yes, that's what I'm saying. You don't sign-in to a web API, you send a token there, which the web API validates and denies or gives you access based on the scopes the user consented to during the sign-in.
https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-overview
https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-app

[2020-12-03 19:52] #799 closed

[2020-12-03 20:03] llx9 opened #806 "[Feature Request] Microsoft.Identity.Client.ConfidentialClientApplicationOptions does not take in ClientCertificate"
How could I share the IEnumerable<CertificateDescription> MicrosoftIdentity.Options.ClientCertificates to the ConfidenticalClientapp?

Microsoft.Identity.Client.ConfidentialClientApplicationOptions only takes in ClientSecret.

e.g.

            services.AddAuthentication()
                .AddMicrosoftIdentityWebApp(options =>
                {
                    this.Configuration.Bind("AzureAd"

[2020-12-03 20:07] jmprieur commented on #805
The AddMicrosoftIdentityConsentHandler does not use the [IServerSideBlazorBuilder](https://github.com/dotnet/aspnetcore/blob/b3836954ed895c62e5bc0e188e3ef06704b1d20b/src/Components/Server/src/DependencyInjection/IServerSideBlazorBuilder.cs)

https://github.com/AzureAD/microsoft-identity-web/blob/1a073ed8c0f1e6edf7ac929729c4f76251f1fff7/src/Microsoft.Identity.Web/MicrosoftIdentityCircuitHandler.cs#

[2020-12-03 21:19] jmprieur commented on #806
You need to use the MicrosoftIdentityOptions as you've done. The certs will be picked-up by the confidential client app.

[2020-12-03 21:30] llx9 commented on #806
@jmprieur  Thanks for the reply, but how could I just use MicrosoftIdentityOptions? EnableTokenAcquisitionToCallDownstreamApi method only takes in the Action<ConfidentialClientApplicationOptions> as parameter

[2020-12-03 21:40] jennyf19 commented on #806
@llx9 in either the appsettings.json or you can do it [programmatically](https://github.com/AzureAD/microsoft-identity-web/wiki/Certificates#describing-client-certificates-to-use-programmatically).
closing as answered, but feel free to reopen or ask more questions.

[2020-12-03 21:40] #806 closed

[2020-12-03 21:45] jennyf19 commented on #782
closing, but reopen if necessary @santoshpatro

[2020-12-03 21:45] #782 closed

[2020-12-03 23:39] shanemikel commented on #758
Ahh, thanks @ThatMouse, indeed it is /Areas/MicrosoftIdentity/Pages/Account/SignedOut.cshtml ... Thank you!

[2020-12-04 02:36] Shazwazza opened #808 "There is no way to set the DisplayName for the OpenIdConnect provider"
**Which version of Microsoft Identity Web are you using?**
1.3.0

**Where is the issue?**
* Other (please describe)

It's not possible to set the display name since the call to AddOpenIdConnect is all done internally here https://github.com/AzureAD/microsoft-identity-web/blob/c75ea22dd4cf99ff6fc30c805d3d0cffcbc76879/src/Microsoft.Identity.Web/WebAppExtensions/MicrosoftIdentityWebAppAuthenticationB

[2020-12-04 02:38] Shazwazza commented on #808
I'm happy to send a PR to add this

[2020-12-04 02:44] Shazwazza opened #809 "This should not try to configure 'everything' especially setting Cookie Authentication"
**Which version of Microsoft Identity Web are you using?**
1.3.0

**Where is the issue?**
* Other (please describe)

It's not possible to disable this library from adding cookie authentication which is problematic if you already have it. This library seems to be trying to do 'everything' which I understand can mean simplicity for some users but it reduces the flexibility. The work around for now i

[2020-12-04 02:44] Shazwazza commented on #809
I'm happy to create a PR for this

[2020-12-04 03:03] jennyf19 commented on #133
Thanks for the update. we will take a look. @schmitch @erik1988 @khanhvu161188

[2020-12-04 10:37] xavier-90 opened #810 "[Documentation] Web Apps - User flow Access & ID token lifetimes"
### Documentation related to component
[Web Apps](https://github.com/AzureAD/microsoft-identity-web/wiki/web-apps)

### Please check all that apply

- [ ] typo
- [X] documentation doesn't exist
- [X] documentation needs clarification
- [ ] error(s) in the example
- [ ] needs an example

### Description of the issue
I am using Microsoft.Identity.Web and Azure B2C to authenticate users accessing a _

[2020-12-04 10:37] jmprieur commented on #809
@Shazwazza
Thanks for the feedback. This is also to support samesite workarounds ... which are a bit of a pain to develop.

Yes, you could provide an experimental PR so that we understand your proposed design. We'd like to avoid breaking changes if possible, and also we want simples scenarios to remain simple, and complex ones to be possible.
Would that work for you?

On the other hand if you have

[2020-12-04 10:47] jmprieur commented on #808
The display name (of the signed-in user, I'm assuming) is inferred from the claims which are in the IDToken. There is no need to specify it externally. What is your scenario? what are you trying to do?. In which case would you want to override a display name which is not in the claims?

To answer your question:

1. you have full control of your UI anyway. When you unfold one of the ASP.NET Core te

[2020-12-04 10:50] jmprieur commented on #810
Thanks @xavier-90
Do you think that this should even be the default behavior of the library?

[2020-12-04 11:06] xavier-90 commented on #810
Hi @jmprieur
I personally think so especially if the aim of this library is to simplify the integration with Azure AD / B2C. Then again my use is one of many possible scenarios so I am not sure if this would detrimental elsewhere...

[2020-12-04 17:44] xavier-90 commented on #810
Maybe to add to the above?

To "force" a refresh of the token on expiry:
[code]

To obtain the issue and expiry DateTime about the token:
[code]

[2020-12-04 21:43] Tratcher commented on #133
`services.AddMicrosoftIdentityWebAppAuthentication(Configuration);` is not granular enough to compose with Identity, you need to go down one layer.

Start with:
`services.AddAuthentication().builder.AddMicrosoftIdentityWebApp(...)`

Don't set any of the schemes in AddAuthentication, let Identity manage those. AddMicrosoftIdentityWebApp will use the default sign-in scheme which is Identity's extern

[2020-12-04 21:53] Tratcher commented on #133
Sorry, there's a deeper issue here. AddMicrosoftIdentityWebApp adds its own cookie auth provider rather than use the existing one.
https://github.com/AzureAD/microsoft-identity-web/blob/c75ea22dd4cf99ff6fc30c805d3d0cffcbc76879/src/Microsoft.Identity.Web/WebAppExtensions/MicrosoftIdentityWebAppAuthenticationBuilderExtensions.cs#L238

There will need to be a factored out overload of AddMicrosoftIden

[2020-12-04 23:59] jennyf19 opened #811 "Propagate .WithForceRefresh through to obo call"
staring w/MSAL .NET 4.24, MSAL .NET supports passing .WithForceRefresh to acquire token by obo. Include this w/the obo builder in identity web.

[2020-12-05 02:30] jennyf19 commented on #620
@hankovich we have been told end of Dec 2020, so we will see. We'll keep you posted.

[2020-12-05 06:46] PetrPospisil commented on #811
Good job. Thx.

[2020-12-06 00:21] abhisheksiddhu commented on #554
@markholst @shanemikel I was struggling with this and came up with a solution. Maybe it would help others as well.

Since under the hood this is just another razor page, it can be overridden by a UI that we want. It's a similar approach that was done before this Identity web library came into the picture.

You can create a razor page at the exact same path and it will use the provided UI instead o

[2020-12-06 01:20] jkears opened #814 "EnableTokenAcquisitionToCallDownstreamApi throws exception AADB2C90146: The scope '' provided in request specifies more than one resource for an access token, which is not supported"
I have a Blazor Server-Side application that uses Microsoft.Identity.Web 1.1.0 and  Microsoft.Identity.Web.UI 1.1.0 with an Azure AD B2C as the STS.

Within Azure B2C I created an App registration for the Blazor Server App as well as 2 separate WebAPI microservices as follows;

1. **Blazor Application** - has a B2C App (named Project Portal) that has API Permissions on **coreservices_readwriteacce

[2020-12-06 19:20] jmprieur commented on #780
@damienbod : closing this issue as the PR is closed.
Feel free to reopen if you have a better idea.

[2020-12-06 19:25] jennyf19 commented on #133
@schmitch @khanhvu161188 @ManuelHaas @erik1988 do you mind trying this [branch](https://github.com/AzureAD/microsoft-identity-web/tree/jennyf/cookies), which does offers the possibility of not defining the cookie scheme, if you do something like this:
[code]

cc: @jmprieur

[2020-12-06 19:25] jennyf19 commented on #809
@Shazwazza do you mind trying this [branch](https://github.com/AzureAD/microsoft-identity-web/tree/jennyf/cookies), which does offers the possibility of not defining the cookie scheme, if you do something like this:
[code]

cc: @jmprieur

[2020-12-06 19:53] #780 closed

[2020-12-06 20:25] jmprieur commented on #133
@jennyf19 thanks for your PR.

I just tested the scenario and this works fine with your modification when ensuring that the cookieScheme is set to `null`

[code]

Change the  `ConfigureServices(IServiceCollection services)` to add the likes your proposed:

[code]

And this works. This proposes the OpenIdConnect button, which registers the user.

[2020-12-07 05:53] Shazwazza commented on #808
Hi there, what I am referring to by `DisplayName` is the display name of the provider.

The code is what I mentioned above with this call `builder.AddOpenIdConnect`. This method has an optional `displayName` parameter which must be set via this call as its not settable by any options configuration. [This is the overload I'm referring to](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extens

[2020-12-07 06:36] Shazwazza commented on #809
Hi thanks for the replies.

@jennyf19 that branch you mention would be fine to have the possibility of passing in null instead of something fake, and then people can use post configure options to tweak any OpenIdConnect options created 👍

@jmprieur initializing OpenIdConnect manually for Azure AD (and b2c) is something I'd like to avoid where possible since it's quite a lot of code to maintain. It

[2020-12-07 08:21] jmprieur commented on #808
Thanks for the update, @Shazwazza
This makes sense.

[2020-12-07 08:37] jmprieur commented on #809
Thanks @Shazwazza

passing null to which parameter, @Shazwazza ? In that branch you can pass null to the cookieScheme. For which other parameter would you like to pass-in null?

[2020-12-07 09:06] Shazwazza commented on #809
Sorry I should have been more clear, what @jennyf19 mentioned with this code in that branch:

[code]

Allowing passing null for `cookieScheme` is good and better than having to pass in a fake or unused cookie scheme.

[2020-12-07 10:17] BrettMahon commented on #804
I am having the same issue (also on Blazor server).
The path "MicrosoftIdentity/Account/SignedOut" is simply a blank page with the message "You have successfully signed out." (no menu etc.). This is to be expected as it is a Razer page and not in the Blazor app.

I would love to be able to redirect to a path (after the middleware signs the user out).

[2020-12-07 10:49] jmprieur commented on #814
@jkears
In `EnableTokenAcquisitionToCallDownstreamApi`, please use only one scope, as Azure AD and Azure AD B2C don't accept that we request scopes for several resources (and these are different resources as you called out).

This won't prevent you from having things work later when you use the downstreamWebApi, as the refresh token will be used to get scopes for the other resource.

[2020-12-07 15:55] jkears commented on #814
Thank you @jmprieur  for this guidance however I must be doing something wrong for when I only request a single scope (in startup), then when I request an access token via tokenservice.GetAccessTokenForUserAsync passing in the scope that is not the one I set in startup the method returns a null value token (not exception) but a null value.   When using the same request for an access token that mat

[2020-12-07 17:10] jennyf19 commented on #809
thanks for the quick reply and confirmation @Shazwazza we'll have this fix out this week in 1.4.

[2020-12-07 17:30] jkears commented on #814
For example and as per your (@jmprieur)  guidance.... I include the scope for CoreService only as per this example ..

![image](https://user-images.githubusercontent.com/1290937/101383340-0032c600-3887-11eb-902a-ffef3ebdb7a9.png)

And when I attempt to get an access token per each resource (CoreService and SharedService) I only get a valid access token for the scope specified above, the other is n

[2020-12-07 20:08] jmprieur commented on #814
@jennyf19 : apparently the refresh token does not work (any longer?) to access several B2C web APIs. Are you aware of it?

[2020-12-07 22:01] mtanml opened #821 "[Feature Request] Authentication logging"
Is logging available?   If so, can you please point me to the documentation?

I'm looking for something like the WithLogging parameter for Microsoft Identity Client:

https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.client.abstractapplicationbuilder-1.withlogging?view=azure-dotnet

Thanks

[2020-12-08 00:13] jennyf19 commented on #821
@mtanml we integrate with the asp net core logs, which you can set up in the [appsettings](https://github.com/AzureAD/microsoft-identity-web/blob/master/tests/WebAppCallsWebApiCallsGraph/Client/appsettings.json#L31), more [information here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-5.0) and more on [configuring logging](https://docs.microsoft.com/en-us/aspn

[2020-12-08 13:23] farshid3003 commented on #808
I have this problem as well, we cannot set the provider display name

[2020-12-08 13:25] jmprieur opened #824 "[Feature Request] Simplify the builds and projects, now that .NET released"
**Is your feature request related to a problem? Please describe.**
Now that .NET 5 is released, it's recognized part of Visual Studio, and therefore we should be able to simplify our build:

**Describe the solution you'd like**
- Update the Microsoft.Extension.* package reference in the net472 section of Microsoft.Identity.Web to be 5.0.0
- remove these package reference from Microsoft.Identity.We

[2020-12-08 13:56] jmprieur commented on #808
@Shazwazza @farshid3003
would it work if we predefined a better name like "Microsoft identity platform" ? or "Azure active directory" ? or do you need to provide your own label? (what would it be?)

[2020-12-08 16:08] mtanml commented on #821
@jennyf19 thanks for the info!   I was able to enable logging, but is there a way to limit the logs to authentication info?   And I'm not seeing the level of detail that we get with Microsoft Identity Client (token acquisition/exchange, etc.)   We use this info to troubleshoot user logins.   Thanks!

[2020-12-08 17:05] jennyf19 commented on #821
@mtanml I understand. we do not hook up to the MSAL logs. So, yes, that would be a feature request.
cc: @jmprieur

[2020-12-08 18:45] jennyf19 commented on #814
@ktsakas can you provide any insight here? thank you.

[2020-12-08 23:42] Shazwazza commented on #808
@jmprieur Since this lib can be used as boilerplate configuration for Azure B2C then the label could really be anything since B2C is a white label auth system that can be branded in any way.

[2020-12-09 04:13] llx9 commented on #806
Hi @jennyf19, thanks for your reply.

It looks to me that _AddMicrosoftIdentityWebApp(Action<MicrosoftIdentityOptions>, ...)_ returns _MicrosoftIdentityWebAppAuthenticationBuilder_,

The builder only has one method:
_EnableTokenAcquisitionToCallDownstreamApi(Action<ConfidentialClientApplicationOptions>, IEnumerable<string>)_
it takes an Action configure delegate,

My question here:
we already spec

[2020-12-09 11:46] chris5287 opened #830 "[Documentation] How to use with Azure Functions?"
Is there any documentation explaining how to wire this up for an Azure Function (mainly to use Microsoft Graph API)?

[2020-12-09 16:16] jmprieur commented on #830
@chris5287 Microsoft.Identity.Web is for ASP.NET Core web app and web APIs.
For Azure functions acting as web APIs, please see, https://github.com/Azure-Samples/ms-identity-dotnet-webapi-azurefunctions.

See https://docs.microsoft.com/en-us/azure/active-directory/develop/sample-v2-code#azure-functions-as-web-apis

[2020-12-09 16:17] #830 closed

[2020-12-09 16:21] jkears commented on #814
A key point that I made earlier is how it returns a null access token and does not throw an exception for a valid scope list.

For example, if you attempt to pass a totally bogus scope you will receive an exception (as expected).

Thus the call into **GetAccessTokenForUserAsync** that returns a null access token must be resolving to the requested scope list  and then downstream of that validation

[2020-12-09 16:22] jennyf19 commented on #809
Included in [1.4 Release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.4.0).

[2020-12-09 16:22] #809 closed

[2020-12-09 16:22] jennyf19 commented on #811
Included in [1.4 Release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.4.0).

[2020-12-09 16:22] #811 closed

[2020-12-09 16:22] jennyf19 commented on #824
Included in [1.4 Release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.4.0).

[2020-12-09 16:22] #824 closed

[2020-12-09 16:22] jennyf19 commented on #133
Included in [1.4 Release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.4.0).

[2020-12-09 16:22] #133 closed

[2020-12-09 16:22] jennyf19 commented on #805
Included in [1.4 Release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.4.0).

[2020-12-09 16:22] #805 closed

[2020-12-09 16:23] jennyf19 commented on #765
Included in [1.4 Release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.4.0).

[2020-12-09 16:23] #765 closed

[2020-12-09 16:23] jennyf19 commented on #797
Included in [1.4 Release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.4.0).

[2020-12-09 16:23] #797 closed

[2020-12-09 16:23] jennyf19 commented on #784
Included in [1.4 Release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.4.0).

[2020-12-09 16:23] #784 closed

[2020-12-09 16:23] jennyf19 commented on #143
Included in [1.4 Release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.4.0).

[2020-12-09 16:23] #143 closed

[2020-12-09 16:23] jennyf19 commented on #793
thanks for your work on this one @hajekj
Included in [1.4 Release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.4.0).

[2020-12-09 16:23] #793 closed

[2020-12-09 16:24] jennyf19 commented on #798
Included in [1.4 Release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.4.0).

[2020-12-09 16:24] #798 closed

[2020-12-09 16:24] jennyf19 commented on #590
Included in [1.4 Release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.4.0).

[2020-12-09 16:24] #590 closed

[2020-12-09 16:24] jennyf19 commented on #774
Included in [1.4 Release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.4.0).

[2020-12-09 16:24] jennyf19 commented on #770
Included in [1.4 Release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.4.0).

[2020-12-09 17:06] jennyf19 commented on #758
added to our [documentation](https://github.com/AzureAD/microsoft-identity-web/wiki/Customization#ui-customization)

[2020-12-09 17:06] #758 closed

[2020-12-09 17:18] jmprieur commented on #775
@navyasric : do you know who could help here?

[2020-12-09 17:19] jennyf19 commented on #550
updated wiki [here](https://github.com/AzureAD/microsoft-identity-web/wiki/customization#ui-customization)

[2020-12-09 17:19] #550 closed

[2020-12-09 17:34] jmprieur commented on #776
@DigitalSa1nt
This is now fixed.

https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access#the-authorizeforscopes-attribute---how-does-it-work

[2020-12-09 17:34] #776 closed

[2020-12-09 17:40] DigitalSa1nt commented on #776
Thank you, I think that's an excellent additional snippet to the docs.

[2020-12-10 04:27] jennyf19 commented on #821
@mtanml i have a branch w/ an [initial commit](https://github.com/AzureAD/microsoft-identity-web/tree/jennyf/logs) to enable the MSAL .NET logs, but if you have suggestions or feedback on the developer experience, that would be much appreciated.

In appsettings.json, you would need to do the following in the `AzureAD` section:
[code]

I did the following to see the MSAL .NET logs in the console, b

[2020-12-10 10:24] jmprieur commented on #549
See also https://github.com/AzureAD/microsoft-identity-web/issues/173

[2020-12-10 10:25] jmprieur commented on #173
See also https://github.com/AzureAD/microsoft-identity-web/issues/549

[2020-12-10 14:24] mtanml commented on #821
@jennyf19 I won't have time to do any testing soon, but I **really** appreciate the super-fast work on this!   In our project that implements Microsoft.Identity.Client we use a method with the following parameters to capture authentication log info and write it to our database.   As long as we'd be able to do the same in Microsoft.Identity.Web, then you have met our needs.   Thanks a million!

pri

[2020-12-10 21:23] jmprieur commented on #628
Work to be done:
1. Add a link to Christo's blog post in the wiki
2. Add a project template for the gRPC case.

[2020-12-10 22:27] VivekPaiM commented on #787
I think he's referring to something like this
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-5.0#ASP0000

Currently, if the configuration is part of the container, you'd have to build the container to get access to the values. Ideally, we'd want to use the `AddOptions<T>`/`Configure `syntax.

E.g.
[code]

[2020-12-11 00:17] pmaytak commented on #787
@VivekPaiM Thanks for the suggestion. I tested it with [WebAppCallsMicrosoftGraph](https://github.com/AzureAD/microsoft-identity-web/tree/master/tests/WebAppCallsMicrosoftGraph) sample and it worked.

Code snippet:
[code]

By the time we get to these lines in `AddMicrosoftIdentityWebApp`, the `MicrosoftIdentityOptions.Secret` is set to the one from `MyConfig`.
https://github.com/AzureAD/microsoft-

[2020-12-11 10:03] erik1988 commented on #133
Thanks!
I found that this works works well:
`services.AddAuthentication()
   .AddMicrosoftIdentityWebApp(Configuration,"AzureAd", "AzureAD", cookieScheme: null);`

With the "AzureAD" it will look for the existing entry in "AspNetUserLogins" table, without it you may get some issues as it will try to register the user and then give an error saying that the email already exist.

[2020-12-11 18:46] llx9 opened #834 "[Feature Request] EnableTokenAcquisitionToCallDownstreamApi(IEnumerable) method for MicrosoftIdentityWebAppAuthenticationBuilder"
**Is your feature request related to a problem? Please describe.**
It looks to me that AddMicrosoftIdentityWebApp(Action, ...) returns MicrosoftIdentityWebAppAuthenticationBuilder,

The builder only has one method:
EnableTokenAcquisitionToCallDownstreamApi(Action, IEnumerable)
it takes an Action configure delegate,

we already specified all the propriety of the MSAL confidential client app in the

[2020-12-11 19:04] jmprieur commented on #834
@llx9. This is slightly more complex than that.
1. `AddMicrosoftIdentityWebApp` has several overrides. One takes a configuration, and then what you propose happens, but the second override takes a delegate to initialize (yourself) a `MicrosoftIdentityOption`.
2. When using the second override (with delegate), you have only one method on the build `EnableTokenAcquisitionToCallDownstreamApi`, indeed

[2020-12-11 20:02] Mek7 commented on #786
Hi,
I had the same question in the linked issue. It's not like any problem or bug, just a design decision.
Now that I think of it, maybe we could set the tokens to never expire. Over time, they will get invalid and MSAL figures it out and forces re-auth anyway, correct?

[2020-12-12 03:46] jennyf19 commented on #729
@quisitive-crogers I'm not able to repro this w/the new policy (recommended), and we had someone from B2C try as well, and they are not able to repro. If you're still having the issue w/the recommended version, maybe send me an email and I can get you in contact w/someone from B2C to help you out.
jeferrie@microsoft.com

Going to close, as cannot repro, but feel free to reopen &/or send the email.

[2020-12-12 04:00] jennyf19 opened #836 "[Feature Request] Update B2C templates to use v3 user flows by default"
Instead of using the v2 user flows `b2c_1_susi`, we should use the new v3 (recommended) user flows in the templates `b2c_1_susi_v3`

[2020-12-12 09:56] xavier-90 commented on #729
@jennyf19 I can reproduce this & have sent you an email with further details.

[2020-12-12 18:14] jennyf19 opened #837 "[Bug] Using userFlow parameter for both AuthorizeForScopes and GetAccessTokenForUserAsync results in AADB2C90088"
from: @grzegorzy -

cc: @jmprieur

Looks like we missed this from this [issue](https://github.com/AzureAD/microsoft-identity-web/issues/27).

[2020-12-12 21:50] jennyf19 commented on #830
@chris5287 Actually @hajekj got this to work. You should check out his [blog post](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fhajekj.net%2F2020%2F12%2F12%2Fmicrosoft-identity-web-and-azure-functions%2F&data=04%7C01%7Cjeferrie%40microsoft.com%7Cbda7149dbc2f4b7ab8f508d89ee0a363%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637434034961268428%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4w

[2020-12-14 15:40] jmprieur commented on #814
@jkears this is really Azure AD B2C (the service) which does this validation. It knows that the resource/scope exists.
Would you have a different user flow / policy associated with both APIs?

[2020-12-14 17:03] jkears commented on #814
@jmprieur no I do not implement a different user flow / policy associated with my APIs.

Were you able to reproduce my issues?

Do you have an example that acquires access tokens for multiple APIs?

If so, please share that with me so I can compare for differences with my very simple solution.

[2020-12-14 17:50] navyasric commented on #775
@OnAzureCloud9 Any update on the debugging on this issues? Agree with all that is mentioned by above my jmprieur. When adding additional login params, did you set the "resource" to the backend API's app ID?
Let us know if you are  still having trouble getting access token from App service.

@mattchenderson Do you know any reason the App service would return an empty string in Access token header?

[2020-12-14 19:33] jennyf19 commented on #821
@mtanml we've changed a few things from the initial branch, so here is the info on [logging](https://github.com/AzureAD/microsoft-identity-web/wiki/Logging) in the wiki and we'll get this out in the next release.

[2020-12-14 19:37] mtanml commented on #821
Excellent, thank you @jennyf19  !

[2020-12-14 19:50] jmprieur commented on #628
Added a link to the wiki

[2020-12-14 20:02] jennyf19 commented on #821
@mtanml we will get this in 1.4.1 release, which will probably be tomorrow (12.15)

[2020-12-15 08:54] rajeev16mca2k5 opened #843 "[Question] How to handle the MSALUIRequiredException when token is expired"
**Which version of Microsoft Identity Web are you using?**
Microsoft.Identity.Web 1.4.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [X] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory

[2020-12-15 08:57] jmprieur commented on #843
@rajeev16mca2k5 this is done silently if you add the `[AuthorizeForScope( ...)]` attribute on your controller, Razor page or controller Action.

See https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access which explains what happens, and how to solve it auto-magically.

[2020-12-15 10:55] dmcweeney commented on #786
@Mek7 correct its a design decision related to picking a good number...

Correct however if the user does not come back to login, the entry stays in the redis cache and it will never get expired, eventually using all the allocated cache storage.

[2020-12-15 13:53] jmprieur commented on #786
Thanks @Mek7 @dmcweeney for this discussion
I've added a few sentences to the wiki: https://github.com/AzureAD/microsoft-identity-web/wiki/Token-cache-serialization#recommended-expiration-setting

Closing this issue for now.
Feel free to reopen if you disagree

[2020-12-15 13:53] #786 closed

[2020-12-15 13:55] jmprieur commented on #834
@llx9  closing as we've answered.
Feel free to reopen

[2020-12-15 13:55] #834 closed

[2020-12-15 13:58] jmprieur commented on #460
Closing as it's answered.
See also this code (and the called method) which does it: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/b07a9e06206f7274fdcadc34a50b8bebf9666fcf/5-WebApp-AuthZ/5-2-Groups/Startup.cs#L51

[2020-12-15 13:58] #460 closed

[2020-12-15 14:00] jmprieur commented on #742
@jennyf19, what do you think of this improvement:

We could set ConfidentialClientApplicationOptions from MicrosoftIdentityOptions when not overriden. Something like:

[code]

[2020-12-15 18:26] jennyf19 commented on #821
@mtanml Included in [1.4.1 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.4.1)

[2020-12-15 18:26] #821 closed

[2020-12-15 18:28] mtanml commented on #821
@jennyf19 I was just about to write you... works like a charm  :)

Thanks again!

[2020-12-15 20:51] jennyf19 commented on #729
@xavier-90 The issue is that a client secret is included w/the web app, but there is no call to a downstream web API. Because the client secret is included in the appsettings.json, it’s implied that  a call to a downstream API will happen, so we request an auth code from AAD B2C, which then invokes MSAL .NET to redeem that code for an access token. But an access token isn't needed, as there is no

[2020-12-15 20:51] #729 closed

[2020-12-16 07:30] xavier-90 commented on #729
@jennyf19 I do occasionally use Microsoft.Graph "downstream" hence the client secret in the AzureAdB2C section. To avoid triggering the default behaviour I have now moved the secret to a separate section of appsettings.json.

Thank you for your support in getting to the bottom of this one!

[2020-12-16 13:43] jmprieur commented on #533
To clarify the limitation: In Azure AD B2C, the oauth2AllowImplicitFlow (corresponding to the access token checkbox) controls whether Azure AD B2C token service will accept requests with either access token (and or) id token implicitly. So “access token” checkbox acts as if it controls both checkboxes in practice. The service team is aware if this, but there are no ETA on when they will fix this b

[2020-12-16 13:44] jmprieur commented on #756
To clarify the limitation: In Azure AD B2C, the oauth2AllowImplicitFlow (corresponding to the access token checkbox) controls whether Azure AD B2C token service will accept requests with either access token (and or) id token implicitly. So “access token” checkbox acts as if it controls both checkboxes in practice. The service team is aware if this, but there are no ETA on when they will fix this b

[2020-12-17 12:53] hajekj opened #846 "[Feature Request] AuthorizeForGroups and AuthorizeForRoles implementation"
I think it would be great, if Microsoft.Identity.Web provided two extension methods - `AuthorizeForGroupsAsync(string[] groupIds)` and `AuthorizeForTenantRolesAsync(string[] roleIds)`.

# AuthorizeForGroupsAsync
I am well aware that the token from AAD can contain groups, but the limit is [200](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-group-claims#:~:text=Az

[2020-12-17 21:13] Shama-K opened #847 "[Bug] Blazor Server Incremental Consent Issue"
**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [x ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     * [ ] Session caches
     * [ ] Distributed caches
* Other (please describe)

[2020-12-17 22:52] jennyf19 commented on #846
Thanks @hajekj seems related to this [issue](https://github.com/AzureAD/microsoft-identity-web/issues/369)

[2020-12-18 08:25] hajekj commented on #369
Hi, I drafted this feature in #846, would it be sufficient - @jmprieur / @Shama-K ?

I believe it doesn't make sense to pull all user's groups at once, it will be very inefficient, and won't cover the [transitive membership](https://docs.microsoft.com/en-us/graph/api/group-list-transitivemembers?view=graph-rest-1.0&tabs=http) scenarios. Since the groups will end up being stored in the identity tic

[2020-12-18 14:49] plamber commented on #65
Hi @jmprieur,
I wanted to use a custom attribute and apply it to my controller or methods like this.

![image](https://user-images.githubusercontent.com/18241305/102627365-64d40780-4148-11eb-9ed6-3020860cd2e6.png)

I ended up using your code under VerifyUserHasAnyAcceptedScope and wrote [this Gist](https://gist.github.com/plamber/3122487154a7503216c7ad48f1252deb.js).

Is this something that could

[2020-12-18 17:13] jennyf19 commented on #771
closing, but feel free to reopen @ArnaudChirat

[2020-12-18 17:13] #771 closed

[2020-12-18 19:19] jennyf19 commented on #692
@damienbod Here is the documentation with how to set this up and more information -> https://github.com/AzureAD/microsoft-identity-web/wiki/Token-Decryption

there are code snippets on the page.
going to close this issue, but feel free to reopen or tag me w/questions.

[2020-12-18 20:01] jmprieur commented on #65
thanks @plamber
Yes, I think that would be useful. @jennyf19 what do you think?

@plamber : Do you want to propose a PR?

[2020-12-19 05:41] plamber opened #849 "Provide an IAuthorizationFilter to filter accepted scopes"
**Is your feature request related to a problem? Please describe.**
The current version of microsoft-identity-web provides the [ScopesRequiredHttpContextExtensions.VerifyUserHasAnyAcceptedScope(HttpContext, String[]) Method](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.web.resource.scopesrequiredhttpcontextextensions.verifyuserhasanyacceptedscope?view=azure-dotnet-preview) to veri

[2020-12-19 05:46] plamber commented on #65
@jmprieur I created an enhancement issue first #849.

If you want, I can create a pull request. I am just wondering how you want to return the custom error message. This has not been implemented in this solution yet. The only technique I am aware of is (this one)[https://ignas.me/tech/custom-unauthorized-response-body/]

If you are interested we can continue with the specification here #849 (names

[2020-12-19 12:05] damienbod commented on #692
@jennyf19 Docs are really good, thanks

I also made a blog about this.

https://damienbod.com/2020/10/22/using-encrypted-access-tokens-in-azure-with-microsoft-identity-web-and-azure-app-registrations/

One small improvement suggestion to the docs:

## Generate the certificate

I would add **Generate Certificate in Azure Key Vault** before this section as I think this is the standard way.

Then dow

[2020-12-21 16:59] Servellia opened #850 "How to investigate IDX20803: Unable to obtain configuration from: 'System.String' ?"
I have a .net core 3.1 Web app, that is connecting to AzureAD. I want to expose this application via a local Kubernetes cluster, where NGINX is used as a reverse proxy. In my configuration I am removing https from the application alltogether to get it to run on http first.

This approach work fine in the following scenarios:

- local debugging
- spinning up in Docker
- docker-compose

However, onc

[2020-12-21 17:00] Servellia opened #851 "How to investigate IDX20803: Unable to obtain configuration from: 'System.String'. ?"
I have a .net core 3.1 Web app, that is connecting to AzureAD. I want to expose this application via a local Kubernetes cluster, where NGINX is used as a reverse proxy. In my configuration I am removing https from the application alltogether to get it to run on http first.

This approach work fine in the following scenarios:

- local debugging
- spinning up in Docker
- docker-compose

However, onc

[2020-12-21 18:12] jmprieur commented on #851
@Servellia
- Is it the same question as https://github.com/AzureAD/microsoft-identity-web/issues/850 ?
- What do you have for the authority ?

[2020-12-21 18:19] Servellia commented on #851
Yes, that is an accidental duplicate.

I'm lost in translation - what does "authority" refer to?

[2020-12-21 18:21] jmprieur commented on #851
what do you have in your appsettings.json? @Servellia

[2020-12-21 18:21] jmprieur commented on #850
Closing as dupe of #851

[2020-12-21 18:21] #850 closed

[2020-12-21 18:24] Servellia commented on #851
"AzureAd": {
      "Domain": "enterprisedomain.onmicrosoft.com",
      "ClientId": "xxxxxxxxx-723f-426c-9d8c-d753e4833b9c",
      "ClientSecret": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.E",
      "Instance": "https://login.microsoftonline.com/",
      "TenantId": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
   },

[2020-12-22 17:09] jmprieur commented on #851
@Servellia : the tenant Id needs to be the same for the SPA (xxxxxxxxx-xxxxxxxxxx-aac5-b26d20661fe5) and the web API (xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx). Is it the case?

[2020-12-23 12:25] shanjin90 opened #852 "[Feature Request] Add support with ADFS"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...].
When i try to use it with ADFS, i pass below paramter in appsettings.json, so the OIDC url has a v2.0 in the ADFS OIDC discovery url. however v2.0 should not be there for ADFS.
![image](https://user-images.githubusercontent.com/37856131/10

[2020-12-24 12:34] bradtwurst opened #853 "[Bug] aad single org - missing scope - invalid grant - endless reload"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
Microsoft Identity Web 1.4.1

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [x] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream

[2020-12-24 18:31] Kev8144 commented on #549
Hi, is there any reference to an example using both Identity providers in one MVC app? I too am having the same issue where B2C overwrites AzureAD Authentication when trying to login to an MVC app configured for both Azure AD and B2C through separate links.

[2021-01-04 08:54] Servellia commented on #851
Now that the holidays are over, lets get back to the problem at hand. I've gone ahead and done 2 things:

- remove the identity configuration and deploy this to K8s, to make sure it is in fact the Identity configuration, that is causing the problem
- align the instance to be the same as the authority in the React Spa

Now the config looks like this:

[code]

TenantId and the id on the instance pro

[2021-01-04 09:02] jmprieur commented on #851
@Servellia
Instance should be 'https://login.microsoftonline.com/' (without the tenant ID)

[2021-01-04 09:57] jmprieur commented on #549
It's on the backlog, @Kev8144 to build such a sample. We don't have it yet

[2021-01-04 10:23] jmprieur commented on #852
@shanjin90
What is your scenario? Is it only to sign-in users? or also call an API?
To sign-in users only, you should be able to use the OpenIdConnect ASP.NET Core middleware directly

[code]

[2021-01-04 10:24] jmprieur commented on #852
@kalyankrishna1 @Shama-K : do we have another sample for ADFS?

[2021-01-04 11:14] Servellia commented on #851
The instance is 'https://login.microsoftonline.com/' again. Doing a curl to the configuration surce url results in a valid response:
https://login.microsoftonline.com/common/discovery/instance?authorization_endpoint=https://login.microsoftonline.com/common/oauth2/v2.0/authorize&api-version=1.1

[code]

[2021-01-04 11:59] jmprieur commented on #692
@jennyf19:
Do you want to please update the wiki to add a section on how to generate certificate in KeyVault?

[2021-01-04 12:02] jmprieur commented on #849
See in particular this comment (https://github.com/AzureAD/microsoft-identity-web/issues/65#issuecomment-748423937) on how to return a custom error message

[2021-01-04 14:14] jmprieur commented on #814
@nickgmicrosoft
What would be the recommendation for a B2C web app to call different web APIs (different resources)? The refresh token does not allow this. Can the initial scopes contain several resources?

cc: @jennyf19

[2021-01-04 14:27] jmprieur commented on #851
@GeoK @brentschmaltz would you have an idea?