[2022-03-30 05:33] michaelpfister commented on #1576
I came accross the same issue on .NET 6 and Microsoft.Identity.Web 1.23.1.
In my case it's not on Azure Functions but on a locally hosted .NET API. The attribute is set in a Controller Action.

Ignored (every scope is beeing acepted):
[RequiredScope("User.Example")]

Works as expected:
HttpContext.VerifyUserHasAnyAcceptedScope("User.Example");

[2022-03-31 17:20] jennyf19 commented on #1677
Thanks @krispenner

[2022-03-31 17:20] jennyf19 commented on #1677
Thanks @krispenner

[2022-03-31 17:29] jennyf19 commented on #1668
closing as answered. feel free to re-open if necessary. thanks!

[2022-03-31 17:29] jennyf19 commented on #1668
closing as answered. feel free to re-open if necessary. thanks!

[2022-03-31 17:29] #1668 closed

[2022-03-31 17:30] jennyf19 commented on #1666
closing as answered. feel free to re-open is necessary. Thanks!

[2022-03-31 17:30] jennyf19 commented on #1652
closing as answered. feel free to re-open is necessary. Thanks!

[2022-03-31 17:31] jennyf19 commented on #1647
closing as answered. feel free to re-open is necessary. Thanks!

[2022-03-31 17:31] #1647 closed

[2022-03-31 17:31] jennyf19 commented on #1617
Are you unblocked on this @josephthomas5566 ?

[2022-03-31 17:43] #20 closed

[2022-04-04 00:28] jmprieur commented on #1641
Design proposal:
- create a new attribute `RequiredScopeOrAppPermissionAttribute`, deriving RequiredScopeAttribute: from: https://github.com/AzureAD/microsoft-identity-web/blob/784aeea26f4081fb1de69f2b63eb73976398461f/src/Microsoft.Identity.Web/Policy/RequiredScopeAttribute.cs#L17

- add a property `AppPermissions` to that class, as well as a contructor taking both the requiredDelegatedPermissions

[2022-04-04 12:52] mikaiia opened #1682 "[Feature Request] Allow Singleton Token Acquisition when calling EnableTokenAcquisitionToCallDownstreamApi"
**Is your feature request related to a problem? Please describe.**
Currently we are doing unnecessary/moot calls to `AddTokenAcqusition` within `EnableTokenAcquisitionToCallDownstreamApi` if we have Singleton Services depending on Token Acquisition.

**Describe the solution you'd like**
Allow controlling whether we want Singleton or Scoped Token Acquisition when calling `EnableTokenAcquisitionToCa

[2022-04-05 07:58] mikaiia commented on #1682
@jmprieur I never mentioned performance in my problem/feature request - I am confident the performance impact is negligible.

Perhaps an example of a specific problem we've had:

If we either:
1) call `AddTokenAcqusition` before `EnableTokenAcquisitionToCallDownstreamApi`, it will be overwritten if the scope does not match and this might cause a lot of issues discovering the problem (it took a lit

[2022-04-06 09:30] sidediallo commented on #13
@kelps it is necessary to specify the authentication scheme for the event to be triggered.

[code]
Also, be careful because with each action performed on your web application, the event is launched (which is normal) and a token is generated with the scopes "profile" and the Claims "context.Principal" thanks to the following code
[code]
Generating the token (several times) with the "profile" scope

[2022-04-06 10:35] h2df commented on #13
I'm new to MSAL and get confused by the exception message ` MsalClientException: The cache contains multiple tokens satisfying the requirements. Try to clear token cache` . Would you mind elaborate a little why this is happening (I've adopted the code provided above and got the same exception), and point to the doc regarding how to clear the token cache? Many thanks!!

[2022-04-06 17:12] jmprieur commented on #13
@bgavrilMS @pmaytak : when can this happen? `MsalClientException: The cache contains multiple tokens satisfying the requirements. Try to clear token cache` (the rest of the issues is irrelevant for you)

[2022-04-07 10:35] marcinburak opened #1695 "[Feature Request] Allow access to IServiceProvider in .AddMicrosoftGraph() factory method"
**Is your feature request related to a problem? Please describe.**
I'd like to add my own custom logging middleware to the underlying `GraphServiceClient` instance. I followed the [official Graph SDK documentation instructions](https://docs.microsoft.com/en-us/graph/sdks/customize-client?tabs=csharp) so I've created my own `DelegatingHandler` implementation, e.g.

[code]

then I'm trying to custom

[2022-04-07 12:58] jsquire opened #1696 "Missing info regarding the usage of method GetAccessTokenForUserAsync"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#28051](https://github.com/Azure/azure-sdk-for-net/issues/28051).

### Please be aware that @MarcoEnxuto is the author of the original issue and include them for any questions or replies.

## Details

By using .Net 5/6 ASP.NET webAPI apps, and adding DistributedCache to its service. I found out the method fl

[2022-04-07 13:25] bgavrilMS commented on #13
Hi @jmprieur, this error occurs when MSAL's access token filtering logic returns more than 1 result. We filter user tokens by:

 - clientid
 - tenantid
 - home_account_id
 -  token type
 -  scopes
 -  env

Out of all of these, the scopes might be problematic, because there could be overlapping scopes etc. Note that we compare request scopes to response scopes. MSAL has logic to delete access token

[2022-04-07 15:19] cschar commented on #554
Is there a way for the `Areas/MicrosoftIdentity/Pages/Account/SignedOut.cshtml` to tie back into a MVC controller ? e.g. if there is a massive chunk of logic inside a 'parent' controller most views use, can I inject that somehow into the page?

[2022-04-07 15:38] julealgon opened #1697 "[Bug] 'ClaimsPrincipalFactory.FromTenantIdAndObjectId' populates incorrect ObjectIdentifier claim"
**Which version of Microsoft Identity Web are you using?**
Microsoft.Identity.Web v1.23.1

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memor

[2022-04-07 22:46] lknite opened #1698 "[Documentation] how to increase debug output?"
I've implemented ```[Authorize]``` before using ADFS, so have some experience with what is happening.

Implemented according to this page:
https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-app-configuration

Added to Startup.cs
[code]

Added to appsettings.json
[code]

Got an invalid Audience error and so tried adding:
[code]
and this:
[code]

Adding an aud

[2022-04-09 00:38] jmprieur opened #1699 "[Bug] appsetting.json and identity federation helper class should explain more what it's for, not the implementation detail"
**Which version of Microsoft Identity Web are you using?**
not released yet

Why?
From the point of view of a developer, what matters is that they want to avoid having to provide client secrets and client certificates. but that's not what the following tells us. It talks about implementation details (using identity federation in MSAL).

[code]

Before we release Id.Web, I propose we change the nam

[2022-04-09 01:05] jennyf19 commented on #1696
@MarcoEnxuto That is correct for web apps. Microsoft.Identity.Web is a higher level API, so you are correct that you don't need MSAL anymore for this specific scenario. Id Web does the work for you.

[2022-04-09 01:05] #1696 closed

[2022-04-09 01:25] jennyf19 commented on #1697
@julealgon We need to give the home tenant and home object ID, especially important for guest accounts. The name of the method is misleading but it's more of an implementation detail with the claims.

[2022-04-09 01:33] jennyf19 commented on #1698
@lknite You can set up logging specific to Id.Web and MSAL.NET - [see here](https://github.com/AzureAD/microsoft-identity-web/wiki/Logging#how-do-i-enable-the-msal-net-logs) for details. That should give you more information hopefully.

Also, Id.Web does not yet support ADFS, so here are some related issues: https://github.com/AzureAD/microsoft-identity-web/issues/1638, https://github.com/AzureAD/

[2022-04-11 02:44] lknite commented on #1698
@jennyf19 Thanks for your quick response.  I'm not trying to setup ADFS, but rather use Azure as my Identity Server to perform authentication of users on a webapi.  I'm not currently trying to setup the client side of things.  For now it is alright to use a swagger page & manually provide a bearer token to test.  I just need to get the webapi side working.

From the link provided I have configured

[2022-04-11 02:49] jennyf19 commented on #1698
@lknite The audience should be your web API:
`"Audience": "api://96c<guid>e3f"`
Is that the audience of the token you are sending to it? This is the `aud` claim in the token.

[2022-04-11 03:19] lknite commented on #1698
Via portal.azure.com -> App Registrations, I have an app registered there.  The values it uses are GUID values.  What I have for ClientId what is labled as "Application (client) ID" in the app registration.  I just added "api://".

I just generated a token and looked inside.  The 'aud' is the same guid value '96c<guid>e3f', there is no "api://' in front of it.

[2022-04-11 04:22] lknite commented on #1698
Located this url which seems to have some additional steps I need to configure the registered app.  Will pick this back up tomorrow.
[code]

[2022-04-11 05:19] brentschmaltz opened #1700 "[Bug] DefaultCertificateLoaderByCriterium should not return a null cert."
**Which version of Microsoft Identity Web are you using?**
master

**Where is the issue?**
Certificate doesn't load, and user is not informed.

To Repo
1. put a certificate that has expired into the local cert store.
2. populate a CertificateDescription that has the coordinates to the certificate in the local store.
3. call DefaultCertificateLoader.LoadIfNeeded()

The load will fail because of [th

[2022-04-11 05:23] brentschmaltz opened #1701 "[Bug] DefaultCertificateLoader should not select from duplicates."
**Which version of Microsoft Identity Web are you using?**
master

This code [here](https://github.com/AzureAD/microsoft-identity-web/blob/9b159ba02f3b38d62777ed21b71704dfd84e538d/src/Microsoft.Identity.Web.Certificate/DefaultCertificateLoader.cs#L327) will choose the 'first' one.
This leads to a race condition, that may be hard to detect.
It would be better to throw on duplicates.

[2022-04-11 05:34] brentschmaltz opened #1702 "[Bug] DefaultCertificateLoader does not accept that name : LocalComputer"
**Which version of Microsoft Identity Web are you using?**
master

To repo:
1. Create a CertificateDescription with CertificateStorePath = "LocalComputer/My".
2. Try and load the cert.

The error has the following message:

IDW10703: Certificate store path must be of the form 'StoreLocation/StoreName'. StoreLocation must be one of 'CurrentUser', '**CurrentMachine**'. StoreName must be empty or one

[2022-04-11 16:19] jennyf19 commented on #1697
@julealgon Can you give more details on your use case/scenario? What do you do with these claims? Is it related to using MSAL?

[2022-04-11 16:34] jennyf19 commented on #1702
@brentschmaltz Not sure what the issue is. We are parsing the values out [here](https://github.com/AzureAD/microsoft-identity-web/blob/b31140ff2d7478c86ef668edca3164aa7fd6846c/src/Microsoft.Identity.Web.Certificate/DefaultCertificateLoader.cs#L291), and using CurrentUser as the default.

The only values for StoreLocation are CurrentUser and LocalMachine:
<img width="734" alt="image" src="https://u

[2022-04-11 16:56] julealgon commented on #1697
I actually wanted to use that factory in my tests for tests that rely on resource-based authorization and thus push claims objects down into the implementation.

[2022-04-11 17:29] lknite commented on #1698
In Azure under Expose an API, I've enabled that and now have an ```api://<guid>```.  Also added an 'Admins and users' scope.

[2022-04-12 03:41] jmprieur commented on #1700
Thanks @brentschmaltz
This would be a breaking change. And the whole retry model is based on this.
I don't think we'll take this one.

cc; @jennyf19

[2022-04-12 03:41] jmprieur commented on #1701
@brentschmaltz : I don't understand the problem ...

[2022-04-13 07:52] sidediallo commented on #13
Hi @bgavrilMS  and thank you for your feedback.
Here is a snippet of the code that generates the error. Some of this code comes from @jmprieur.
[code]
I added it to manage the `MicrosoftIdentityWebChallengeUserException` error which is triggered following the restart of the app services or following a long period of inactivity of the application.
FYI, I am trying to modify the code so that:
[code]

[2022-04-13 08:07] adamsosinski commented on #1666
I would like to re-open that bug, as it is not resolved in my opinion.
To answer @jmprieur yes, I have done that as well with the same result.

[2022-04-13 15:03] brentschmaltz commented on #1701
@jmprieur If two certificates have the same Distinguished name, then the first may not be the one you want.
Each certificate will have a different thumbprint and public / private keys.
By selecting the first, when there are duplicates, the returned value is dependent on the order in which the certificates were added.
The race condition is: who added the cert first.
In the past, we have chosen to i

[2022-04-13 15:37] brentschmaltz commented on #1702
@jennyf19 there is no 'CurrentMachine'. Your error message, IDW10703, includes the name: 'CurrentMachine', it should be 'LocalMachine'.

[2022-04-13 23:35] jennyf19 commented on #1702
@brentschmaltz That's not what the issue says above, but thanks for clarifying. Will fix the error message.

[2022-04-14 00:15] jennyf19 commented on #1702
fixed in #1704

[2022-04-14 07:53] hadrian625 commented on #625
I know this is closed, but I agree with what @SirRichie says. Having to code against a class implementation, instead of an interface causes problems that defeat the inversion of control principle. Also when trying to unit test your implementation one will always take into account the mocking is no longer an option (usually) and if you don't have mocking, your are no longer unit testing, but doing

[2022-04-14 15:20] brentschmaltz commented on #1702
@jennyf19 thanks for fixing, when i wrote the bug i was confused because of the error message.
Your explanation helped me understand what the issue was.
Sorry for the confusion.

[2022-04-14 15:40] jmprieur commented on #625
@hadrian625 : we are following the guidance from the Graph SDK people. Please discuss with them. I you manage to convince them, we'll definitively change this.

[2022-04-14 15:43] jennyf19 commented on #1702
@brentschmaltz it's fine! I was confused too so thanks for the explanation. I'll re-open until we release the updated message and then close.

[2022-04-14 17:08] cbrooksmsft opened #1706 "Provide APS.NET core template example of calling Azure SDK"
**Is your feature request related to a problem? Please describe.**
it was very confusing to figure out how to use the ASP.NET core webapp template (with razor pages) to call an Azure SDK with the user's identity, as the various example of this are based on MVC and explicity controller classes.

**Describe the solution you'd like**
Could we add something like a "--calls-azure-sdk" parameter to the

[2022-04-14 18:09] agilenut opened #1707 "[Bug] ScopeAuthorizationHandler only checks first scope claim"
**Which version of Microsoft Identity Web are you using?**
1.23.1

**Where is the issue?**
* Web API
    * [x ] Protected web APIs (validating tokens)

**Is this a new or an existing app?**
This is a new app or an experiment.

**Context**

Using Okta, scopes are separated into multiple claims. Imo, this is the correct representation once parsed and in the claims collection (not space delimited).

[2022-04-14 23:08] dagrooms52 opened #1708 "[Documentation] msidentity-app-sync should support NET 6.0 or redirect to dotnet msidentity"
### Documentation related to component

App Provisioning Tool
https://github.com/AzureAD/microsoft-identity-web/blob/master/tools/app-provisioning-tool/README.md

### Please check all that apply

- [x] typo
- [ ] documentation doesn't exist
- [x] documentation needs clarification
- [ ] error(s) in the example
- [ ] needs an example

### Description of the issue

I want to use the command `msidenti

[2022-04-15 02:43] HiroyukiSakoh commented on #986
Memo
When the HttpMessageHandlerBuilder was injected first, token acquisition and downstream calls via proxies.
All default HttpClient changes though...

[code]

I wish inject IMsalHttpClientFactory into TokenAcquisition.
https://github.com/AzureAD/microsoft-identity-web/blob/1a073ed8c0f1e6edf7ac929729c4f76251f1fff7/src/Microsoft.Identity.Web/TokenAcquisition.cs#L68

https://docs.microsoft.com/en-

[2022-04-15 03:45] jmprieur commented on #1708
Is it a .NET 6 project?

[2022-04-17 12:15] MarcoEnxuto commented on #1568
Hi, sorry for reopening this, but something is not right.
I checked the example told by @jennyf19 but i don't understand how you can get a token from cache without the 2 required paramers (objectId and TenantId).
I have a similar implementation like @AABhatt described, with the diference i have distributed cache with 2 levels. Memory cache and a database cache.
I have the exact same problem, when

[2022-04-18 12:26] jsquire opened #1709 "The code example on this page is incorrect"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#28231](https://github.com/Azure/azure-sdk-for-net/issues/28231).

### Please be aware that @MarcoEnxuto is the author of the original issue and include them for any questions or replies.

## Details

Hi,
The code provided on this example is not right.
First because, you can't obtain an access token only wit

[2022-04-18 15:12] madelineleclair opened #1710 "[Bug] Error of `System.UnauthorizedAccessException: IDW10201: Neither scope or roles claim was found in the bearer token` is being unexpectedly thrown"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.22.2, 1.9.0, and 1.8.2

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [X] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization

[2022-04-19 21:52] jennyf19 commented on #1710
@madelineleclair Would you be able to provide [logs](https://github.com/AzureAD/microsoft-identity-web/wiki/Logging) for one of the failed cases?

[2022-04-19 22:15] #1707 closed

[2022-04-20 02:51] jennyf19 commented on #1624
Released in [1.24.0](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.24.0).

[2022-04-20 02:51] #1624 closed

[2022-04-20 02:51] jennyf19 commented on #1440
Released in [1.24.0](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.24.0).

[2022-04-20 02:51] #1440 closed

[2022-04-20 02:51] jennyf19 commented on #1443
Released in [1.24.0](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.24.0).

[2022-04-20 02:51] #1443 closed

[2022-04-20 02:51] jennyf19 commented on #1677
Released in [1.24.0](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.24.0).

[2022-04-20 02:51] #1677 closed

[2022-04-20 02:51] jennyf19 commented on #1506
Released in [1.24.0](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.24.0).

[2022-04-20 02:51] #1506 closed

[2022-04-20 02:51] jennyf19 commented on #1699
Released in [1.24.0](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.24.0).

[2022-04-20 02:51] #1699 closed

[2022-04-20 02:51] jennyf19 commented on #1667
Released in [1.24.0](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.24.0).

[2022-04-20 02:51] #1667 closed

[2022-04-20 02:51] jennyf19 commented on #1702
Released in [1.24.0](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.24.0).

[2022-04-20 02:51] #1702 closed

[2022-04-20 02:51] jennyf19 commented on #1591
Released in [1.24.0](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.24.0).

[2022-04-20 02:51] #1591 closed

[2022-04-20 02:52] jennyf19 commented on #1707
Released in [1.24.0](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.24.0).

[2022-04-20 19:50] MarcoEnxuto opened #1714 "IDW10502: An MsalUiRequiredException was thrown due to a challenge for the user - Clarification"
Hi,
i'm sorry for this duplicate, but i still don't understand the responses made on issue opened: [1568](https://github.com/AzureAD/microsoft-identity-web/issues/1568)

**This needs some clarification.**

I checked the example told by @jennyf19 but i don't understand how you can get a token from cache without the 2 required paramers (objectId and TenantId).

I have a similar implementation like i

[2022-04-20 21:39] madelineleclair commented on #1710
@jennyf19 I've enabled the logging for Microsoft.Identity.Web at the debug level, but I'm only seeing a few new log lines. To give you some context on how we're using Microsoft Identity Web, our setup in `Startup.cs` is below. Only 3 out of the 4 configurations have `"AllowWebApiToBeAuthorizedByACL": true` enabled. The 2nd one (ServiceTwo) doesn't.

[code]

When looking at logs, I see the followin

[2022-04-21 16:26] jmprieur commented on #1714
Thanks @MarcoEnxuto
Is your app a web app? or a web API?
Do you have the possibility of saving the home account ID and home tenant Id?

[2022-04-21 17:14] MarcoEnxuto commented on #1714
Hi @jmprieur thank you for your reply.
It's a web API.
I don't have that possibility because in the User context both methods GetMsalAccountId and GetHomeTenantId return null. Unfortunatelly...
I'm testing using a MSA account to acquire tokens.
<img width="665" alt="image" src="https://user-images.githubusercontent.com/66541072/164514243-a388858a-8d99-4c3b-845f-10d1f5f97caf.png">

Do you have any

[2022-04-21 17:22] jmprieur commented on #1714
@MarcoEnxuto
The way to do it in web APIs needing to call downstream web APIs on behalf of a user from a callback is to use long running processes: See https://github.com/AzureAD/microsoft-identity-web/wiki/get-token-in-event-handler

[2022-04-22 10:34] sander1095 commented on #1420
Sorry for bumping again, but i wonder if there is an update for this?

[2022-04-22 11:07] luismanez commented on #1548
Hi @jennyf19. Any update here? Could you ask to Az Functions team again? I got this response a month ago:
https://twitter.com/anirudhgarg/status/1505364701844164609

I´ve re-tested it with my VS2021 preview (17.2.0 Preview 4.0), but still same error.

I know is not on your side, and appreciate your help, but it´s a bit annoying that 3.1 support will end in 7 months, and we cannot upgrade yet to .N

[2022-04-22 18:03] MattKotsenas opened #1716 "[Bug] Middleware throws System.UnauthorizedAccessException, causes 500 error for users"
**Which version of Microsoft Identity Web are you using?**
1.22.3 (but from code inspection will also repro on the latest version)

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [X] Sign-in users and call web APIs
* Web API
    * [X] Protected web APIs (validating tokens)
    * [X] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Toke

[2022-04-23 00:37] MarcoEnxuto commented on #1714
Alright @jmprieur . What i did was, to provide a value to the property **LongRunningWebApiSessionKey** by setting to an identifier (here used as a key for the session) upon user subscription to my endpoint. The access token is cached by design. Later i get an access token from the cache, even a refreshed one, and then i call the Microsoft API on behalf of the user. This happens when i have to deal

[2022-04-23 00:37] #1714 closed

[2022-04-23 00:55] jmprieur commented on #1714
Thanks for the update, @MarcoEnxuto.
Glad you are unblocked.

@bgavrilMS @pmaytak @trwalke @gladjohn @SameerK-MSFT : FYI
This is exactly the kind of scenarios for which we designed the long running process.

[2022-04-23 01:00] #1716 closed

[2022-04-25 11:45] LaurensAdema commented on #1417
@jmprieur Any updates on this?

[2022-04-25 22:11] jmprieur commented on #1641
When done, also update the docs.ms page. See https://github.com/MicrosoftDocs/azure-docs/issues/82732

[2022-04-26 01:35] jmprieur commented on #1417
@LaurensAdema
I suspect that this is because the id token wasn't received before the auth code.

[code]

[2022-04-26 04:29] jennyf19 commented on #1548
@luismanez I tried with this:
Azure Functions Core Tools
Core Tools Version:       4.0.4483 Commit hash: N/A  (64-bit)
Function Runtime Version: 4.1.3.17473

In both VS 17.1.5 and 17.2.0 Preview 4, I am still hitting the same issue. I've asked the Azure Functions team for an update, as last we heard, it was supposed to be available beginning of April. Will keep you posted.

[2022-04-26 05:30] luismanez commented on #1548
Thank you very much for testing and confirming my results. Hope you get an update from the Az Functions team (no luck for me on twitter). Thanks again.

[2022-04-26 16:49] JordanMarr commented on #1295
Any update on this?
I have literally the exact same requirement and the exact same problem.

The `SignInAsync` approach worked perfectly before when I was using `Microsoft.AspNetCore.Authentication.AzureAD.UI`; but then I was forced to upgrade to `microsoft.identity.web` due to deprecated/upgrade warnings and now this approach no longer works. I have spent days trying to come up with a workaround,

[2022-04-26 22:13] jennyf19 commented on #1548
@luismanez I just tried w/the last VS updates (and w/preview update), but same result :( Still waiting for news as well.

[2022-04-26 23:18] jennyf19 commented on #1716
Included in [1.24.1](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.24.1)

[2022-04-27 00:56] jmprieur commented on #1295
@JordanMarr
Did you see https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie?view=aspnetcore-6.0#create-an-authentication-cookie ?
Do you use the right authentication scheme?

[2022-04-27 04:25] shobhitvaish commented on #692
@jmprieur Does this library supports token encryption while using client credentials flow?

[2022-04-27 09:18] luismanez commented on #1548
@jennyf19 yeah, just tested and same experience (VS2022 17.2.0 Preview 5.0). Seems the Core tools version hasn´t changed...

![image](https://user-images.githubusercontent.com/9392197/165485196-be8a5d69-a925-4ac4-9ff0-74171ab79f20.png)

Thanks a lot for checking and chasing this. Really appreciate it.

[2022-04-27 12:37] munkii opened #1721 ""AADSTS7000215: Invalid client secret provided" when calling GetAccessTokenForAppAsync"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.24.1

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory

[2022-04-27 15:43] jmprieur commented on #692
Yes, the library supports decrypting tokens for every flow.
It doesn't require any special SKU of Azure AD. But if you want to use KeyVault, you'll need an Azure subscription.
See https://github.com/AzureAD/microsoft-identity-web/wiki/Token-Decryption

[2022-04-28 00:18] cbrooksmsft opened #1723 "Extend TokenAcquisitionTokenCredential concept to support Tokens as App"
**Is your feature request related to a problem? Please describe.**
When I call an Azure SDK from a project integrated with Microsoft.Identity.Web, I can use a simple pattern of providing a "token credential" object to the client constructor, and the rest is handled for me (in this case, the **TokenAcquisitionTokenCredential**.  For example:

[code]
This works great when I want to call the Azure SD

[2022-04-28 08:07] munkii commented on #379
@CalamityLorenzo that wall of shame is clearly not big or public enough because it has taken me over a day to finds it! Thanks

[2022-04-28 08:10] munkii commented on #1721
Thanks to this issue report https://github.com/AzureAD/microsoft-identity-web/issues/379#issuecomment-666526566 and comment from Jean-Marc and now know that ot was a value in secrets.json that was overriding my config.

Is there no way to detect that the AzureAd:ClientSecret value is double configured when this exception case happens and flag in the Exception report?

[2022-04-28 08:10] #1721 closed

[2022-04-28 09:17] MauRiEEZZZ commented on #13
@sidediallo doe you have any progress yet to implement the GetAccessTokenForUserAsync in the case of an "AccountDoesNotExitInTokenCache" exception?

[2022-04-28 16:42] jmprieur commented on #1721
Thanks for the suggestion of detecting this case, @munkii

[2022-04-28 20:08] #1397 closed

[2022-05-01 23:04] JordanMarr commented on #1295
I used the cookies scheme created via `AddMicrosoftIdentityWebApp`:

[code]

And then later when I want to add the claims to the already authenticated User, I do this:

[code]

The problem is that after doing this my claims seem to get overwritten again and the added claims disappear.

[2022-05-02 00:33] jmprieur commented on #1708
@dagrooms52. Which version of the .NET framework did you use?

[2022-05-02 00:38] jmprieur commented on #1698
@lknite : is your issue solved?

[2022-05-02 00:40] jmprieur commented on #1701
@brentschmaltz : Certificate loader has the by thumbprint function. Wouldn't it be enough? Are you suggesting we throw in case of duplicates ? Or amend the doc?

[2022-05-02 00:40] #1698 closed

[2022-05-02 17:52] shobhitvaish commented on #692
@jmprieur Thank you for your response!

1. I have registered an application in Azure AD and exposed it as an API. I added a self-signed certificate by following these steps: https://github.com/AzureAD/microsoft-identity-web/wiki/Token-Decryption#in-the-azure-ad-portal
![image](https://user-images.githubusercontent.com/24998910/166297391-2329c1a6-9057-4db6-aa0f-d3a2eb1da4ec.png)

2. Clients(registe

[2022-05-02 22:19] MikeMcWilliams commented on #1555
I am getting the same on an AWS Cluster -- first time encountering this on a new site we're trying to publish.  We have a simple OIDC client that works perfectly locally on a dev box.

[code]
Any help is greatly appreciated.

[2022-05-03 19:02] scastria commented on #532
I have set the ForceRefresh to true and yet when I acuire a token, I still see ForceRefresh: False printed out in the log and I don't get a new token.  It is the same one as last time.

[2022-05-03 21:22] fractalfiles opened #1726 "[Bug] Blazor redirect to Azure AD B2C sign-in page"
My Blazor Server app is linked to Azure AD B2C and I can sign in without issues by putting in a

`<a href="MicrosoftIdentity/Account/SignIn">Sign in</a>`

However, if I try to do this programmatically, the following does not work:

`navigationManager.NavigateTo("MicrosoftIdentity/Account/SignIn");`

(I have done `@inject NavigationManager navigationManager` in the Blazor component).

I just get th

[2022-05-03 21:22] #1726 closed

[2022-05-03 21:25] frindler opened #1727 "[Bug] Blazor redirect to Azure AD B2C sign-in page"
My Blazor Server app is linked to Azure AD B2C and I can sign in without issues by putting in a

`<a href="MicrosoftIdentity/Account/SignIn">Sign in</a>`

However, if I try to do this programmatically, the following does not work:

`navigationManager.NavigateTo("MicrosoftIdentity/Account/SignIn");`

(I have done `@inject NavigationManager navigationManager` in the Blazor component).

I just get th

[2022-05-03 22:15] LaurensAdema commented on #1417
@jmprieur Unfortunately we already set 'code id_token' in config. Tried this just in case, but no luck.

[2022-05-04 09:02] frindler commented on #1727
OK, fixed it: `navigationManager.NavigateTo("MicrosoftIdentity/Account/SignIn", forceLoad: true);` does the job.

[2022-05-04 09:02] #1727 closed

[2022-05-05 14:16] craigmaddux opened #1728 "[Bug] Azure function 4.0 does not work (method not found exception in Microsoft.IdentityModel)"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
Microsoft.Identity.Web 1,24,1
Also tried downgrading to 1.5.1 to see if issue reported in [issue #1428](https://github.com/AzureAD/microsoft-identity-web/issues/1428)

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API

[2022-05-05 14:57] GFlisch commented on #1638
@jmprieur, I am working for Utilities companies located in Belgium (Elia) and Germany (50 Hzt). We have a lot of services using ADFS for the authentication. At Ignite it was mentioned during a session that ADAL will be end of support and that we have to move to MSAL with ADFS 2019. We have done this and we are preparing the migration for .NET 5+ applications (using still ADAL for the moment). We a

[2022-05-05 15:02] jmprieur commented on #1638
@kalyankrishna1 : do you have ADFS samples?

[2022-05-05 15:52] craigmaddux commented on #1728
@jmprieur  Thanks for the information Jean-Marc!  Is there a PR or equivalent to follow to see when this makes it out into production?

[2022-05-05 17:05] jennyf19 commented on #1728
@craigmaddux I would follow this [issue](https://github.com/AzureAD/microsoft-identity-web/issues/1548)

[2022-05-05 17:50] dagrooms52 commented on #1708
This was a .NET 3.1 project

[2022-05-06 13:01] MarcosMusa commented on #532
I have the below configuration but Force Refresh still doesn't work, the token it´s the same one as last time.

`public async Task<AuthenticationResult> GetAccessTokenAsync()
=> await _tokenAcquisition.GetAuthenticationResultForUserAsync(scopes: new string[] { "https://exemple/.default" }
                    , tokenAcquisitionOptions: new TokenAcquisitionOptions() { ForceRefresh = true });`

[2022-05-06 23:17] sruke opened #1730 "[Feature Request] Integrate Id.Web with IIdentityLogger to write Wilson logs to AspNetCore's ILogger"

[2022-05-09 06:28] luismanez commented on #1548
New VS2022 17.2.0 preview 6.0... Old issues... still same Az Tools.... this is really frustrating and totally disappointed on the Az Functions team :(

[2022-05-10 14:42] muzzar78 commented on #1548
Any ETA on when the fix will be available? This is blocking us as well :-(

[2022-05-10 16:35] thrane opened #1732 "Custom user roles after authentication"
We have an existing solution that uses AspNetCore Identity, but we would like to give our users the ability to login via their azure ad aswell. In our solution we have a lot of different roles configured that are not in our AD. So we would like to hock into to the authentication flow, when the user has been authenticated, so that we can figure out which roles we should add to the user. Is there a

[2022-05-10 17:48] abidCharlotte49er commented on #1548
We are working on .NET Core 6.0 APIs that are hosted on AWS Lambdas we are getting the same error while working with JWTs. Is this AWS issue or issue in .NET Core API ? It works fine locally but not on Lambda.

[2022-05-11 01:01] jennyf19 commented on #1548
@luismanez I just tried with latest VS 2022 preview update, but Azure Core Tools was not updated :(

[2022-05-11 07:03] nikosft commented on #1438
Still this does either [implicit flow](https://openid.net/specs/openid-connect-core-1_0.html#ImplicitFlowAuth) (i.e., the request includes `response_type=id_token`), or [hybrid flow](https://openid.net/specs/openid-connect-core-1_0.html#HybridFlowAuth) (i.e., the request includes `response_type=code+id_token`). The  authorization code flow is a two step process: you get the authorization code (usi

[2022-05-11 08:26] luismanez commented on #1548
Thanks for testing it again @jennyf19 . Same experience here (so frustrating...)

[2022-05-11 20:48] fabiano-ferreira opened #1733 "[Bug]"
Hello!

In my currently application I need to use two different authentications:

 - Microsoft.AspNetCore.Identity  - with internal Identity tables for Customer users

 - Microsoft Identity Web App - Azure AD authentication for Internal users of my Organization

If I try to configure ONLY ONE service it works perfectly.  The problem happens when I add the services Microsoft.AspNetCore.Identity and

[2022-05-11 23:29] jennyf19 commented on #1548
@luismanez can you send me an email at jeferrie@microsoft.com?

Rough ETA is another 2 weeks.

[2022-05-12 19:28] erasmosoares commented on #1548
Any news about the Azure Core Tools update?  I am still hitting the same issue

[2022-05-17 09:44] davidkarlsson commented on #1440
After having updated from 1.15.2 to 1.24.1 I now have to pass `OpenIdConnectDefaults.AuthenticationScheme` as the `authenticationScheme` parameter to `GetAccessTokenForUserAsync` for this to work otherwise it would throw this new exception the PR added:

[code]
Is this a required parameter now or is this a bug? The documentation for the parameter says _"Authentication scheme. If null, will use Ope

[2022-05-17 16:57] #1529 closed

[2022-05-17 22:13] jmprieur commented on #1708
@dagrooms52 : See https://github.com/AzureAD/microsoft-identity-web/wiki/web-app-template for .NET Core 3.1

Fixed for .NET 6.0

[2022-05-17 22:13] #1708 closed

[2022-05-22 22:59] jmprieur commented on #1733
@fabiano-ferreira : did you use multiple auth schemes?

[2022-05-23 21:05] dirthsj commented on #1548
Function Runtime Version is showing as 4.3.2 on stable visual studio 2022 today!

We've migrated to a different solution so I am unable to test if this resolved the issue.

[2022-05-23 22:10] AlrikOlson commented on #1618
I just ran into this issue after deploying a Blazor Server app to Azure. Similarly making a call to an EasyAuth-protected API and getting a NotImplementedException when deployed to Azure. The same call works fine when running the Blazor app locally.

[2022-05-23 22:54] mrochon opened #1737 "Runtime selection of B2C journey"
My application needs to decide which sign in journey to use at runtime, post-Startup. E.g. I want to check a value in my own cookies and based on that use an MFA or non-MFA journey. That was possible in .NET 4.x OWIN by intercepting OnRedirectToIdentityProvider event and modifying the IssuerAddress. MIW seems to compare the returned token claim defining the used journey to what was originally requ

[2022-05-24 00:17] bgavrilMS opened #1738 "[Bug] In web api scenario, use the `tid` claim of the incoming assertion"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [x] Protected web APIs call downstream web APIs
* Token cache seria

[2022-05-24 04:43] jmprieur commented on #1738
Proposed design:

add an else condition taking the user.GetTenantId()

https://github.com/AzureAD/microsoft-identity-web/blob/bb2d213e11311f4b7c7b217a73d6d26346c34481/src/Microsoft.Identity.Web/TokenAcquisition.cs#L855-L859

[2022-05-24 13:26] thduttonuk commented on #1548
Still happening on Function Runtime `4.3.2.18186` for me.

[2022-05-24 14:09] h3rmanj opened #1739 "[Feature Request] Accept CancellationTokens in IDownstreamWebApi"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to pass a CancellationToken to IDownstreamWebApi methods, allowing me to cancel requests and tasks. This is useful if you do multiple requests in your own API, but the request to your API was aborted (indicated by `HttpContext.RequestAborted`).

About every other interface by microsoft accepts a cancellation tok

[2022-05-24 14:20] h3rmanj opened #1740 "[Feature Request] Allow configuration of HttpClients for IDownstreamWebApi"
**Is your feature request related to a problem? Please describe.**
I'd like to add Polly policies, described in [these docs](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests) on how to implement resilient http requests.

However I can't really access the HttpClientBuilder when using the [r

[2022-05-28 13:51] sciocoder commented on #1710
@madelineleclair Diagnostics is enabled?
I am facing a similar problem and I have found that the problem is caused by the diagnostics middleware. It is a singleton and in case of multiple schema the events of the last one are used.

@jennyf19 #1741 could be it a solution?

[2022-06-01 18:41] v-michaelmi opened #1745 "[Feature Request] Unable to mock the issuer metadata url."
**Is your feature request related to a problem? Please describe.**
I want to be able to run E2E tests in a local environment. When I try to use a spoofed OAuth2 server and configure an application to use this server the server creates errors by requesting metadata from Azure for an app that does not exist.

**Describe the solution you'd like**
I'd like to disable metadata discovery or customize th

[2022-06-02 15:43] boppercr opened #1746 "[Blazor Server] TokenAcquisition and Claims modification conflict"
Hi, I'm having an issue with the TokenAcquisition "mechanics" in an app. When accessing a page, the service (via DI) gets an access token and continually loops on the consent page (MsalUiRequiredException at all times) until it just stops and "crashes".

We require to add claims to the user after signing in, so we added a OnTokenValidated event on the OpenId configuration.
[code]
I won't go into d

[2022-06-03 12:14] MauRiEEZZZ commented on #1457
Any progress on this? or did i mis something?

[2022-06-03 15:39] casually-creative commented on #1119
What is the reason for not having a fix for production environments? I can't be the only one who doesn't want the user to have to reauthenticate after a server restart. Why can't the DownstreamAPI or the Microsoft Graph get their tokens from cookies?

If we would do multiple automated deploys per day of our web application to production, and the clients have to reauthenticate each time, then that

[2022-06-03 16:00] jmprieur commented on #1119
@casually-creative : you can use the session token cache provider if that works for you:

https://github.com/AzureAD/microsoft-identity-web/blob/bb1b65fb4e3cc40080e2a61ed6554bef31767983/src/Microsoft.Identity.Web/TokenCacheProviders/Session/SessionTokenCacheProviderExtension.cs#L38

[2022-06-04 00:01] jennyf19 commented on #1641
Included in [1.25.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.25.0)

[2022-06-04 00:01] #1641 closed

[2022-06-04 00:01] jennyf19 commented on #1723
Included in [1.25.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.25.0)

[2022-06-04 00:01] #1723 closed

[2022-06-04 00:02] jennyf19 commented on #1710
Included in [1.25.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.25.0)

[2022-06-04 00:02] #1710 closed

[2022-06-04 00:02] jennyf19 commented on #1710
Thanks for the contribution @sciocoder

[2022-06-04 00:02] jennyf19 commented on #1738
Included in [1.25.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.25.0)

[2022-06-04 00:02] #1738 closed

[2022-06-04 12:18] sciocoder commented on #1710
It was a pleasure. thanks for the opportunity! :)

[2022-06-06 18:18] madelineleclair commented on #1710
@sciocoder Thank you for your help!

[2022-06-06 20:49] lknite commented on #1698
@jmprieur not at all, ... waiting a bit before retrying, hoping some new documentation or an article will be written on the topic in the meantime

[2022-06-10 12:16] mouldt opened #1754 "[Bug]"
v.1.25.0

I have an issue with a .Net 6 Web app
This is an existing app, that has been working fine up until today. I haven't changed anything.

Today, I have run my dev version and on being returned to /signin-oidc I get an AADB2C90289 error.
Nothing has changed in my Azure B2C settings (to my knowledge)
Has something changed on Azure that would cause this

**Expected behavior**
User should get l

[2022-06-10 12:51] #1754 closed

[2022-06-10 12:52] mouldt commented on #1754
Federated OIDC issue

[2022-06-10 15:12] wertzui opened #1755 "[Documentation] No example for a background service calling a Web API"
### Documentation related to component
Microsoft.Identity.Web

### Please check all that apply

- [ ] typo
- [ ] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in the example
- [x] needs an example

### Description of the issue
There is an example for a Web API calling a downstream Web API on the users behalf.
However an example for a Background Service running

[2022-06-10 20:54] FelipeCostaGualberto commented on #1440
Hi, I lost a lot of time with this problem because the latest version (1.25.0) doesn't work with `JwtBearerDefaults` scheme. Downgrading to 1.16.0 made it work. Please fix this. This is how I register my service:
[code]

[2022-06-13 01:50] jmprieur commented on #1440
What does not work @[FelipeCostaGualberto](https://github.com/FelipeCostaGualberto)
Can you please provide a full repro?

@[davidkarlsson](https://github.com/davidkarlsson).

It's a required parameter when you are not using the default authentication scheme.

Thanks for the update.

[2022-06-13 02:04] jmprieur commented on #1755
Thanks for the heads-up [wertzui](https://github.com/wertzui)

[2022-06-14 01:39] FelipeCostaGualberto commented on #1440
Hi @jmprieur , as soon as I can create a minimal project I'll provide a repo, thanks for investigating the issue.
What not work is: if I  use `Microsoft.Identity.Web 1.25.0`, the method `ITokenAcquisition.GetAccessTokenForUserAsync` throws `NullReferenceException`. If you use version `1.16.0`, it works normally.

[2022-06-14 10:05] luismanez commented on #1755
Yeah, and would be great if we could do something like this in the Az Functions Startup:

[code]

Directly from the _ServiceCollection_, all ready for App permissions, and without changing the Auth Schema (imagine an HttpTrigger that fires a Durable orchestrator and returns the Durable admin URLs provided by the framework. These URLs are Authorized using Function Code in query string, and won´t wo

[2022-06-14 14:10] frindler opened #1756 "Allow manual sign-in with existing access token"
**Is your feature request related to a problem? Please describe.**
I have a native app that authenticates users using Azure AD B2C. Then I'd like to use the obtained access token to sign-in into a Blazor web app with this existing token. So, the idea is to access a page /auth-with-token?token=... (or, better yet, POST the token to a Web API). Then the app can take the token, verify it, and sign in

[2022-06-14 22:27] jmprieur opened #1757 "[Bug] AddMicrosoftIdentityUserAuthenticationHandler cannot resolve ITokenAcquisition scoped service 1.25.0 (regression)"
**Which version of Microsoft Identity Web are you using?**
1.25.0

**Where is the issue?**
See description and repro steps in https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/issues/603

[2022-06-14 22:28] jmprieur commented on #1757
@jennyf19 FYI

[2022-06-14 22:34] jennyf19 commented on #1757
@jmprieur ack.

[2022-06-14 22:40] jmprieur commented on #1755
@jennyf19 : FYI: this would be available with the new DevEx ...

[2022-06-15 11:05] michiproep commented on #1555
I'm currently facing the same issue. This is usually related to DataProtection while running multiple replicas of an app. I'll keep you updated...

[2022-06-16 20:38] jzumwalt opened #1762 "VerifyUserHasAnyAcceptedScope and ValidateAppRole extension method overloads"
**Is your feature request related to a problem? Please describe.**
When using MIW for Azure Functions, the extension methods are inconsistent for Authentication vs Authorization in that Authentication calls return a value, while Authorization calls throw an exception _and_ write a response.

Authentication:
` Task<(bool, IActionResult?)> AuthenticateAzureFunctionAsync(this HttpContext httpContext)

[2022-06-17 00:57] jmprieur commented on #1762
@jzumwalt
In Azure functions, I would recommend you use the authorization policies instead:
https://github.com/AzureAD/microsoft-identity-web/wiki/authorization-policies#with-authorization-policies

[2022-06-17 15:30] jzumwalt commented on #1762
@jmprieur
Thank you for the suggestion. That was the approach I initially attempted, but was unsuccessful.

My current implementation follows is based on: https://dev.to/425show/securing-a-net-azure-function-with-azure-ad-31da

At the time of writing this, there is a known issue with .NET 6, Azure Functions **v4 and Microsoft.Identity.Web. Therefore, only the magic combination of the libraries/NuG

[2022-06-17 20:49] Meemee187187 opened #1764 "[Bug]"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache seria

[2022-06-17 22:00] jmprieur commented on #1764
There is no description, @Meemee187187
Closing

[2022-06-17 22:00] #1764 closed

[2022-06-18 00:02] wwy12321 opened #1765 "[Bug]"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

1.25.0

**Where is the issue?**
* Web app
If locally run dotnet app.dll everything is ok, but if package into an image and run in docker or kubernetes, each request will occur error:

[code]

**Repro**
appsettings.json
[code]
appsettings.Production.json (set in configmap)
[code]

[2022-06-18 19:20] xperiandri commented on #880
@jennyf19 why do you throw access token away here?
https://github.com/AzureAD/microsoft-identity-web/blob/fdc81a924cf6e893102c33a6eebd3b7ebe5dbb41/src/Microsoft.Identity.Web/TokenAcquisition.cs#L229

[2022-06-18 19:30] xperiandri commented on #880
And claim actions are duplicated
![image](https://user-images.githubusercontent.com/2365592/174454592-a168ed77-b9be-4a6f-8672-6b4c44acaec6.png)

[2022-06-19 02:54] wwy12321 commented on #1765
I created  other 2 apps in Visual Studio, both app are Blazor server and ASP.NET core app, and enabled the "Microsoft Identity Platform" as Authentication type, and Enabled "Microsoft Graph" in guard. And didn't modify any codes.
Copy the published files into container will get same result as above. And running locally is OK.

[2022-06-19 22:57] xperiandri commented on #1440
Here is the issue
https://github.com/AzureAD/microsoft-identity-web/blob/34cfae879481354ca104ea7875f50e46be01cf7f/src/Microsoft.Identity.Web/ITokenAcquisition.cs#L41

[2022-06-20 20:06] Rookian opened #1775 "[Feature Request] Managed Identity support in IDownstreamWebApi / IDownstreamApi"
Can I also use Managed Identity (System or user-assigned) for `IDownstreamWebApi`?
Shouldn't Managed Identity the first option that should be mentioned in the documentation for the users? My proposed order would be `Managed Identity`, `client certificate`, `client secret`.

Why do I first need to call `AddMicrosoftIdentityWebApiAuthentication(IConfiguration)` then `EnableTokenAcquisitionToCallDown

[2022-06-21 07:12] dawpol commented on #1548
![image](https://user-images.githubusercontent.com/11849465/174738354-73f97ab4-6764-4b38-9980-fa9ac748e1eb.png)

Still the same issue, any update?

[2022-06-23 02:33] jennyf19 commented on #1730
Included in [1.25.1 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.25.1)

[2022-06-23 02:33] #1757 closed

[2022-06-23 02:33] #1730 closed

[2022-06-23 23:18] DerekFoulk commented on #13
This is not constructive in any way, but I'm going to share anyway... This functionality led to a couple of days trying to figure out why my app was losing the token that I expected to be there. I'm building new Blazor Server/ASP.NET Core Web API projects and trying to secure them with Azure B2C. This is my first time doing this, so the documentation wasn't super helpful. I feel like you need to h

[2022-06-23 23:24] jennyf19 commented on #13
It's actually very constructive and helpful feedback @DerekFoulk
Thank you for sharing your experience and thoughts on improvements.

[2022-06-24 01:37] jmprieur commented on #13
Thanks @DerekFoulk for this feedback.
Did you create your app from the File | New project experience?

[2022-06-27 15:39] svrooij commented on #1658
@xubinzheng The point of Dependency injection is that you don't have to worry how it's created?

You can have your class "all the way down" request an instance of the `GraphServiceClient` right? As long as the all the way down class is added as scoped or transient to the service collection that is. Something like:

[code]

[2022-06-27 18:40] v-michaelmi opened #1786 "[Feature Request] Add `InstanceDiscoveryMetadata` option to `MicrosoftIdentityOptions`"
**Is your feature request related to a problem? Please describe.**

I'm trying to create testing scenarios using **MSAL** and [Playwright](https://playwright.dev/dotnet/) for E2E testing.

I'm able to bypass discovery if I overwrite the `OnMessageReceived` and `OnAuthorizationCodeReceived` events and create a different `ConfidentialClientApplication` to be used in the test environment. However, fo

[2022-06-27 20:33] svrooij commented on #1765
Are you sure the `appsettings*.json` files are copied to the container? Just a quick check. Had some issues with that in the past. Just start the container interactive with a terminal and check the folder contents, or add `ls -la /app` to your dockerfile and do a build.

And apart from that what happens if you set the environment variables in the container. I'm curious to whether or not this is an

[2022-06-28 15:38] zsybupt opened #1788 "[Feature Request] Make L2OperationWithRetryOnFailureAsync fire and forget when read token bytes"
**Is your feature request related to a problem? Please describe.**
Now when L1 and L2 cache are both enable, the read operation will refresh the distributed cache, the result is returned after L2OperationWithRetryOnFailureAsync finished.

**Describe the solution you'd like**
Make L2OperationWithRetryOnFailureAsync fire and forget when read token bytes, then the result can return to upstream as soo

[2022-06-28 18:34] WenningQiu opened #1789 "Using Microsoft.Identity.Web and Microsoft.Identity.Web.UI on non-Microsoft IDPs"
Microsoft.Identity.Web is a library for integrating with the [Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/develop/) (formerly Azure AD v2.0 endpoint) and [AAD B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/). How does it work with other non-Microsoft identity platforms that support OAuth and OpenID Connect protocols? The reason I am asking

[2022-06-28 21:36] jmprieur commented on #1789
@WenningQiu : are you building a web app? or web API?
Did you try to use Microsoft.identity.web with NetIQ? This might work if you provide the authority (instead of instance and tenant).

[2022-06-28 21:44] WenningQiu commented on #1789
@jmprieur Yes I am trying to use Microsoft.Identiry.Web with NetIQ to secure access to a Web application. Will you be able to provide links to authority samples and/or documentation?

[2022-06-28 21:55] jmprieur commented on #1786
@v-michaelmi : I think I understand your need, but have a few questions:
- is the instance discovery that you want to prevent happening in MSAL? Or before (done by ASP.NET OpenIdConnect middleware). If it's happening only on MSAL when it redeems the auth code, then it would be better to have the option in ConfidentialClientApplication? (When you execute: EnableTokenAcquisitionToCallDownstreamApi)

[2022-06-28 22:14] WenningQiu commented on #1789
I tried setting Authority to NetIQ auth endpoint and not using TenantId and Instance, but got an exception about missing "Instance" option. I am using version 1.24.1.

[code]

[code]

[2022-06-28 22:32] v-michaelmi commented on #1786
Hey @jmprieur,

To your first question, I started playing around a bit more and I'm noticing that the instance discovery is not happening if I don't run `EnableTokenAcquisitionToCallDownstreamApi`.

When I run the code below I'm able to create sessions and have claims from my tokens set as expected.

[code]

When I run the code below the application hangs and it tries to run discovery at `loigin.m

[2022-06-28 22:50] v-michaelmi commented on #1786
@jmprieur

My instance is set to `https://localhost:5001/5c938525-191e-4e24-8a10-705398cffd57/`.

The `appsettings.json` file used is below.

[code]

[2022-06-28 23:20] jmprieur commented on #1786
@v-michaelmi : you mean you have your own STS?

[2022-06-28 23:28] v-michaelmi commented on #1786
@jmprieur for the sake of this conversation yes 😄

Can follow up with you on the specifics for a project I'm working with a few others on if you like. In this particular case it's trivial and meant to provide some simple tokens to bypass login prompts and test certain scenarios without having to change the application code itself.

[2022-06-29 01:42] WenningQiu commented on #1789
Got a different exception with the following configuration:

[code]

[code]

[2022-06-29 01:59] WenningQiu commented on #1789
A working NetIQ URL to request Authorization Code looks like "https://<hostname>/nidp/oauth/nam/authz?response_type=code&client_id=********-****-4e43-b72a-111d7f04ad38&redirect_uri=https://<app_hostname>/signin-oidc&scope=profile+email&nonce=ab8932b6&state=AB32623HS".

Below is a similar URL generated by Microsoft.Identity.Web for AzureAD. Perhaps we can get the exact URL path generated with Autho

[2022-06-29 05:17] luismanez commented on #1740
Not sure if this helps, but this is what I´m doing to achieve what you need. Basically, I´m overwriting the HttpClient used by  ```AddDownstreamWebApi()``` and then adding my Polly stuff in the _HttpClientBuilder_ returned. In my case, it also helps to change some headers, as I´m calling SharePoint REST API, and returned XML by default

[code]

[2022-06-29 05:56] luismanez opened #1791 "[Feature Request] Consider using IHttpClientFactory in DownstreamWebApi"
I´m moving some Azure Functions from v3 to v4, and the migration pre-check tool in the Azure portal is raising this warning:

![image](https://user-images.githubusercontent.com/9392197/176361751-b3ece632-028f-48db-8df7-6685ab111b61.png)

Following best practices [https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-6.0](https://docs.microsoft.com/en-us/aspnet/cor

[2022-06-29 11:21] bgavrilMS commented on #1786
Instance discovery should not use the port indeed for the instance discovery process, but should use it for /authorize and /token endpoint. Does that make sense? If yes, please transfer this bug to MSAL.

Related issue: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1292

[2022-06-29 16:13] WenningQiu commented on #1789
I bypassed the validation logic in MergedOptionsValidation class but still got exception with the configuration below. It appears that Microsoft.Identity.Web, like the name and its documentation suggests, is tightly coupled with Microsoft Identity Platform and is not ready to support other IDPs.

[code]
[code]

[2022-06-29 20:25] snapfisher opened #1792 "Blazor VS template fails on ARC for App Services as the redirect URI is http not https"
### Microsoft.Identity.Web Library

Microsoft.Identity.Web

### Microsoft.Identity.Web version

1.25.1

### Web app

Sign-in users

### Web API

Not Applicable

### Token cache serialization

In-memory caches

### Description

I have a Blazor server app, created with the Visual Studio template (recent -- about 30 - 45 days ago), and it authenticates to AAD.

This works fine when deployed to a Wind

[2022-06-29 23:14] v-michaelmi commented on #1786
@bgavrilMS

What you're saying makes sense but the issue is that I'm trying to use my localhost as the metadata discovery endpoint. I don't want to send requests to `login.microsoftonline.com`.

I'm able to configure this at the higher ends of the application but when I run **EnableTokenAcquisitionToCallDownstreamApi** it tries to make a discovery call to `login.microsoftonline.com`.

[2022-06-30 01:38] wwy12321 commented on #1765
Hi @svrooij ,
Thanks for reply, I have pulled the container image and checked the file is exists in there. And I have created a new project to make sure the issue is there, here are the steps:

1. In visual studio right click the solution and choose Add - New project. Then select Blazor server (ASP.NET core web app got same result), and in wizard choose Microsoft identity platform for Authenticati

[2022-06-30 02:13] jmprieur commented on #1792
@snapfisher : did you see https://github.com/AzureAD/microsoft-identity-web/wiki/Deploying-Web-apps-to-App-services-as-Linux-containers ?

[2022-06-30 02:15] jmprieur commented on #1775
@Rookian : if your daemon app is only hosted in Azure and you don't need to debug it locally (with the app permission), you can use Azure.Identity.
Id.Web enables you to be deployed anywhere, and debugged locally.

[2022-06-30 03:04] jmprieur commented on #1789
@WenningQiu : Is NetIQ OIDC compliant?
Would you mind enabling PII to see the endpoint that Identity.Model tried to reach?

[2022-06-30 08:33] Rookian commented on #1775
@jmprieur The same is true for Azure.Identity, as you can use AzureCliCredential (for local usage) and ManagedIdentityCredential (for Azure environment) within a ChainedTokenCredential.

The question from my site is, if I need to cache the retrieved bearer token?

[2022-06-30 13:39] WenningQiu commented on #1789
NetIQ should be OIDC compliant: https://www.netiq.com/documentation/access-manager-45-developer-documentation/administration-rest-api-guide/data/oauth-openid-connect-api.html

After enabling PII in logs (IdentityModelEventSource.ShowPII = true), the exception show the endpoint it tries to reach:
[code]

[2022-06-30 15:19] jmprieur commented on #1789
@WenningQiu : you need to understand what's the URL of the open id connect metadata document in NetIQ. It's not the one that is computed from the authority.

[2022-06-30 21:29] RyanSizemore opened #1793 "[Feature Request] Add sliding windows token expiry support for InMemory cache"
**Is your feature request related to a problem? Please describe.**
Distributed caches support sliding window expiration for tokens. We need this same support for InMemory cache.

**Describe the solution you'd like**
See above.

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-07-01 04:31] jmprieur commented on #1775
@Rookian, yes. but the chained token credentials don't use the same credentials (once is a Client Cred, the other is you as a user, who was granted access to the resources).

For the moment, you need to cache the token. In the near future the Azure SDK will do it for you (leveraging MSAL)

[2022-07-01 09:19] Rookian commented on #1775
Coming back again to my scenario.

I would like to use Managed Identity to call a protected Web API.
For this I have created a small example solution where I have a client WebApp (deamon, unprotected) and a server Web App (protected). I always want to be able to run my code from my local machine and from Azure.
For now I have used Azure.Identity to acquire the token. Everything is working fine.

N

[2022-07-01 15:36] snapfisher commented on #1792
@jmprieur : I did not, but looking at it now.  I was not using containers, but -- is ARC for App Services creating a container automagically in ARC when publishing directly from Visual Studio?  I have no idea.  If I can get this working with these instructions, I think I'm going to file a ticket with them, that they are not consistent, i.e. apps should deploy identical to ARC as they do to the app

[2022-07-01 15:52] snapfisher commented on #1792
@jmprieur : That has no effect, which makes sense since the write up seems to imply, "fixed in .net Core 3.0".  The only oddity I see, is that when I create the publishing profile in Visual Studio, for my linux app service it says that the site is "https://xxx", which for the ARC linux app service it says that the site is "http://xxx", even though the app service is set to https only.  I can manua

[2022-07-01 16:00] jmprieur commented on #1792
Thanks for investigating, @snapfisher
@Tratcher what would you recommend?

[2022-07-01 18:03] Tratcher commented on #1792
Try setting the environment variable `ASPNETCORE_FORWARDEDHEADERS_ENABLED=true` on your service. This is something we do by default in the Asp.Net Core container image, but it might not be happening in the ARC containers.

More background:
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-6.0#forward-the-scheme-for-linux-and-non-iis-reverse-proxies

[2022-07-04 20:21] mahdibx commented on #1555
Any news on this? I'm running a test server for some integration tests, and when trying to post to signin-oidc I have this same error.

[code]

[2022-07-05 11:20] michiproep commented on #1555
Yes, actually there are news.
You need to plug in a "distributed cache/store" like Database, Redis or FileShare.

services.AddDataProtection()
//    .PersistKeysToDbContext<Infrastructure.DataProtectionDbContext>();
// OR
.PersistKeysToStackExchangeRedis

[2022-07-05 14:18] snapfisher commented on #1792
That has no effect.

Just so you can double check me....

[code]

[2022-07-05 14:21] snapfisher commented on #1792
I also tried it only setting the environment variable, but making no other changes.  That had no effect, either.

[2022-07-05 16:52] Tratcher commented on #1792
That variable would need to get set at the start of Program.Main before creating the host.

Try the troubleshooting steps at the bottom:
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-6.0#troubleshoot

[2022-07-05 20:14] WenningQiu commented on #1789
I was able to get further with MetadataAddress set to the metadata endpoint URL and

1. Bypass checking of Instance in TokenAcquisition.GetOptions()
2. Prevent NullReferenceException from being thrown in MergedOptions.PrepareAuthorityInstanceForMsal()

I was able to get past the authentication dialog (user name, password and MFA), but got the following error when the call was redirected to the cal

[2022-07-05 21:59] snapfisher commented on #1792
When I do this -- and I put the env variable set as the very first thing in main, there is no change.  I did get logging working.  I never see an X-Forwarded-Proto header, and the X-Original-Proto header is always "http".  I do see the X-Forwarded-For header, but not the proto header.

If I understood the documentation correctly, I should see an X-Forwarded-Proto header that says "https", which th

[2022-07-05 22:12] Tratcher commented on #1792
Interesting, it sounds like the middleware is running and getting you those x-original-* headers. Disable the middleware and confirm you get `x-forwarded-proto: http`. This might be an ARC infrastructure issue.

[2022-07-06 02:44] snapfisher commented on #1792
I can't seem to get the x-forward-proto header to display, so I went back to the actual linux app service, which runs correctly and don't see it there either.  I don't know why I can't see it, but the second one is working, with the middleware off, as it was originally.  The really interesting thing is that it also has X-Original-Proto: http.  So, I'm back to...it's just broke, as from the logs th

[2022-07-06 02:46] snapfisher commented on #1792
Could it be looking for a different environment variable?

[2022-07-06 05:41] PatGet commented on #1551
Hi @chintanr97  ,
as the Issue is closed on asp.net side, did you ever get this to work just by policy? Or did you stick with the custom handler?

[2022-07-06 07:33] IGionny opened #1796 "AddMicrosoftIdentityWebApp: the configureMicrosoftIdentityOptions action is called twice when use EnableTokenAcquisitionToCallDownstreamApi"
### Microsoft.Identity.Web Library

Microsoft.Identity.Web

### Microsoft.Identity.Web version

1.25.1

### Web app

Not Applicable

### Web API

Not Applicable

### Token cache serialization

In-memory caches

### Description

In the 'classic' code below, I see that the action is called twice:

[code]

If I remove the EnableTokenAcquisitionToCallDownstreamApi then it calls the action correctly on

[2022-07-06 17:54] Skulblaka opened #1798 "[Feature Request] Use `HttpContent` instead of a `StringContent` for input parameters"
Because `CallWebApiForAppAsync` only accepts an object of type `StringContent` instead of `HttpContent`, I can't use it with `JsonContent.Create`.

Not only is this an inconvenience, it also forces me to completely serialize my payload in-memory which may result in higher memory usage compared to the `Stream`-based implementation of `JsonContent`.

[2022-07-06 19:46] sipsorcery opened #1800 "Multiple JWT issuers not working with Identity WebAPI authentication provider"
### Microsoft.Identity.Web Library

Microsoft.Identity.Web

### Microsoft.Identity.Web version

1.25.1

### Web app

Sign-in users and call web APIs

### Web API

Protected web APIs (validating tokens)

### Token cache serialization

Not Applicable

### Description

I'm attempting to use JWT tokens from 3 different sources:

 - Auth0
 - Custom tokens
 - Azure AD.

The first two are able to co-exis

[2022-07-07 12:41] Bidthedog opened #1801 "GetAccessTokenForUserAsync failing silently"
### Microsoft.Identity.Web Library

Microsoft.Identity.Web

### Microsoft.Identity.Web version

1.25.0.0

### Web app

Sign-in users and call web APIs

### Web API

Protected web APIs call downstream web APIs

### Token cache serialization

In-memory caches

### Description

This looks to be a similar (though not the same) issue as the following:

https://github.com/AzureAD/microsoft-identity-web/

[2022-07-07 13:14] tsmeets2 commented on #1800
I suspect this is the same problem

https://github.com/AzureAD/microsoft-identity-web/discussions/1797

[2022-07-07 16:26] jmprieur commented on #1800
You need to use multiple authentication schemes.
See https://github.com/AzureAD/microsoft-identity-web/wiki/multiple-authentication-schemes to specify a different auth scheme for Id.Web and the JwtBearer handler you have (for the moment this will be the same, that is JwtBearerDefaults.AuthenticationScheme)

nit: MSAL does not validate any token. It's a token acquisition library.

[2022-07-07 16:41] sipsorcery commented on #1800
Thanks for the response.

I did spot the multiple authentication schemes artcile and attempted all the permutations I could come up with but in each case the Azure AD JWT token authentication was rendered inoperable.

For example swtiching from the block shown above to the one below results in still being able to authenticate Auth0, and my custom JWT tokens, but not Azure AD JWT tokens.

[code]

[2022-07-07 16:52] sipsorcery commented on #1800
As an additional experiement I did hack the code from [AddMicrosoftIdentityWebApiImplementation](https://github.com/AzureAD/microsoft-identity-web/blob/f07e72f2e1c6bd1e5db865f854b96fb4e725d751/src/Microsoft.Identity.Web/WebApiExtensions/MicrosoftIdentityWebApiAuthenticationBuilderExtensions.cs#L156) into Startup.cs and was able to reduce the volume of token vaidation error messages.

[code]

Faile

[2022-07-07 16:53] sipsorcery commented on #1800
Yep looks to be exactly the same problem.

[2022-07-07 20:28] WenningQiu opened #1802 "Use Microsoft.Identity.Web on AAD B2C applications"
I run into an issue when trying to extend my Azure AD secured Web application to Azure AD B2C Service. The version of Microsoft.Identity.Web package is 1.25.1.

I was getting an exception about missing TenantId option when I used the configuration below:

[code]

[code]

However if TenantId is added to the configuration, it would generate an apparently incorrect URL:

[code]

[2022-07-07 20:37] WenningQiu commented on #1802
I figure out SignUpSignInPolicyId must be provided.

[2022-07-07 20:37] #1802 closed

[2022-07-08 14:55] sipsorcery commented on #1800
As @tsmeets2 states in his discussion post this issue was introduced in version `1.25.1`. Version `1.25.0` works as expected.

[2022-07-08 14:58] tsmeets2 commented on #1800
The quick solution for me was to ignore those messages. But for me that is ugly.

[2022-07-08 17:55] briandunnington commented on #1728
Any update on this? I see #1548 is also still open even though an Azure Functions PR that looks like it might have fixed it has been merged: https://github.com/Azure/azure-functions-host/pull/8129

[2022-07-09 04:26] rkd-xom commented on #1440
Is this fixed? I'm facing the same issue and I am using `JwtBearerDefaults` scheme as well. I tried using `OpenIdConnectDefaults.AuthenticationScheme` as well and got the same error `System.InvalidOperationException: IDW10503: Cannot determine the cloud Instance. The provided authentication scheme was ''.`

[2022-07-10 02:28] jennyf19 commented on #1728
@briandunnington The PR did not fix the issue, which is why the issues here are still open.

[2022-07-10 14:19] wwy12321 commented on #1765
Hi @svrooij , I'm checking is there anything update about this issue, because this issue has blocked our delivery progress for few days, so I was hoping you can give me a solution or fix this issue ASAP, thanks.

[2022-07-10 14:33] svrooij commented on #1765
@wwy12321 I'm not in the MSAL team. I just noticed an issue that looked similar to mine few months ago (settings not loaded docker). I hope someone else can help you out.

[2022-07-10 15:16] wwy12321 commented on #1765
@svrooij  nvm, no one following my issue except you, and it seems our project gonna blocked at least for another few month =D, anyway, thanks for help.

[2022-07-10 18:32] michiproep opened #1803 "IDW10502: An MsalUiRequiredException"
### Microsoft.Identity.Web Library

Microsoft.Identity.Web

### Microsoft.Identity.Web version

1.25.1

### Web app

Sign-in users and call web APIs

### Web API

Not Applicable

### Token cache serialization

Distributed caches

### Description

To me, it seems to be a bug that
`
var res = await _api.CallWebApiForUserAsync(ServiceName, options =>
{
  options.RelativePath = "/api/getsomething";

[2022-07-11 15:21] WenningQiu commented on #1789
I am convinced that Microsoft.Identity.Web is tightly coupled with Microsoft Identity Platform and is not intended to support other IDPs in its current state. There are two ways to integrate an application with other IDPs:

1. Use Microsoft.AspNetCore.Authentication.OpenIdConnect and other related packages directly.
2. Use Azure AD B2C service which is supported by Microsoft.Identity.Web. Since my

[2022-07-11 15:26] Bidthedog commented on #1801
To follow up on this, I have now implemented distributed caching - and the problem is worse! The above issue occurs on every single refresh - so basically we can't use the app now! New code in startup (no other significant changes):

[code]

Any advice would be appreciated, as this is now putting a rather large downer on roughly 4 week's worth of work!

[2022-07-11 20:09] XanthViper opened #1805 "[Bug] AuthorityTenantSpecifiedTwice - AbstractApplicationBuilder.cs"
I am kind of at a loss on this issue and I am hoping someone might have a suggestion. Currently working on an application that manages its user login through Azure B2C. Application code is .NET 6, C#, Razor, and Microsoft Identity. I am using the latest packages found through Nuget.  I have been able to login successfully for the past few months and as I am hoping to move this business off the gro

[2022-07-12 00:02] jmprieur commented on #1801
@[Bidthedog](https://github.com/Bidthedog)

Did you try with that service being Scoped instead of Transient? I think this is the issue

Otherwise, do you have a repo with code we could test with and debug through?
I've a hard time understanding how your AzureAADTokenService service would be called.

[2022-07-12 00:07] jmprieur commented on #1765
@tratcher who could help with this?  (deploying in a container does not find the Appsettings.json)

[2022-07-12 06:06] wwy12321 commented on #1765
So, @Tratcher is responsible for MIW?

[2022-07-12 06:20] michiproep commented on #1803
@jmprieur , I'm not calling this from a controller but within OnTokenValidated within Authentication middleware

[2022-07-12 07:27] pmaytak commented on #1805
Thanks, @XanthViper. I've reopened; I think we can improve the experience here.

[2022-07-12 07:37] pmaytak commented on #1805
**Issue**
MSAL throws AuthorityTenantSpecifiedTwice exception when domain and tenant ID are specified, as described above.

**Possible causes**
- Tenant ID from the config can be passed into app options [here](https://github.com/AzureAD/microsoft-identity-web/blob/955e823f6b4d8287e49c86108251c2692f1ef1c4/src/Microsoft.Identity.Web/TokenAcquisition.cs#L714) when CCA is created.
- There is not `IsB2

[2022-07-12 08:09] Bidthedog commented on #1801
Thanks for the reply!

Which service? The `AzureAADTokenService` service? Not sure why that would need to be scoped, as it doesn't store anything, it just calls ITokenAcquisition? The ITokenProvider is scoped, as that stores user tokens for other purposes.

Either way, I just tried registering it at scoped, and I get exactly the same behaviour.

I'll try and replicate it in another project today -

[2022-07-12 09:54] andygjp opened #1806 "AppServicesAuthenticationInformation.IsAppServicesAadAuthenticationEnabled returns false when unauthenticated requests return 401 (Easy Auth)"
### Microsoft.Identity.Web Library

Microsoft.Identity.Web

### Microsoft.Identity.Web version

1.25.1

### Web app

Not Applicable

### Web API

Not Applicable

### Token cache serialization

Not Applicable

### Description

The WEBSITE_AUTH_DEFAULT_PROVIDER environment variable is not set when an Azure WebApp, using Easy Auth, configures unauthenticated requests to return 401.

This means AppSer

[2022-07-12 15:22] XanthViper commented on #1805
@pmaytak I agree with you in that this could be improved here.
I might be interpreting/reading it wrong, the documentation here (step 5) indicates that both the tenant and tenantid should be entered: https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi

Maybe clarifying that documentation a bit when it comes to the Domain being used instead of the TenantId is better.

[2022-07-13 02:36] jmprieur commented on #1765
No, @wwy12321. But ASP.NET Core running in containers is not MIW.

[2022-07-13 02:38] jmprieur commented on #1803
I see. That means you didn't request the necessary scopes or claims
Look at the Claims member in the exception.

[2022-07-13 02:47] jmprieur commented on #1806
Thanks @andygjp for raising this.
I was wondering why you'd change this setting? Could you please explain your scenario?

Also if EasyAuth does not set the environment variable, the app is considered not hosted in App Service authentication. I'm not sure what we can do in this case. Would you have an idea?

[2022-07-13 04:38] wwy12321 commented on #1765
@jmprieur I think it's all about MIW's issue, ASP.NET core is good, MIW has something wrong with it.

[2022-07-13 05:44] michiproep commented on #1803
Well, of course I can request all scopes within the initial authorize request but that still does not explain why "ItokenAcquisition" is working while "Idownstreamapi" does not.

[2022-07-13 10:12] royarin commented on #1160
I have the same issue and we stumbled on the wiki and eventually this issue. While the fix works for us when we scale to 2 instances, anything beyond 2 results in the behavior as described by @krispenner. Any clues there?
Running .netcore 3.1 and Microsoft.identity.Web 1.22.3 on web app for containers running Linux containers

[2022-07-13 10:33] andygjp commented on #1806
Hi @jmprieur,

I changed the setting according to the recommendations in the Azure Portal:
![image](https://user-images.githubusercontent.com/1445933/178709383-fe4b1fcb-3161-4c37-ae08-0be77671c2af.png)

My actual use case is an API. So I thought it might be "better" to return a 401. (I quite like using the default setting because it redirects to the login page and it saves me a step.) Does returni

[2022-07-13 15:53] jmprieur commented on #1803
Fair question, @michiproep. we'll have a look
cc: @jennyf19

[2022-07-13 16:36] andygjp commented on #1806
Will do.

(Just out of interest, what is the "Ms.Id.Web" code? Is that another repo?)

[2022-07-13 17:04] jmprieur commented on #1806
This is the same repo, just initials, Ms.Id.Web = MicroSoft.IDentity.WEB

[2022-07-14 01:57] andreslon commented on #797
error is happening again on **1.16.0** version :(
it's solved using the "Possible solution" written at the beginning of this thread

`services.AddAuthentication(JwtBearerDefaults.AuthenticationScheme)
                .AddMicrosoftIdentityWebApi(
                    (jwtOpt) => jwtOpt.TokenValidationParameters.ValidateIssuer = false,
                    (msIdOpt) => builder.Configuration.Bind("Azur

[2022-07-14 21:04] jmprieur commented on #1805
Thanks @XanthViper. So it's not talking about the domain in https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi ?
BTW that sample doesn't use Microsoft.Identity.Web. Does it?

[2022-07-14 21:06] jmprieur commented on #1801
Thanks for the update, @Bidthedog. We appreciate you digging into this issue.

[2022-07-14 21:11] jmprieur commented on #1800
@sruke, FYI, now that Ms.Id.Web integrated the identity logger there seem to be unwanted messages logged for token validation

[2022-07-14 21:16] jmprieur commented on #1798
Thanks for the feedback @Skulblaka

[2022-07-14 21:23] jennyf19 commented on #1793
[wip](https://github.com/AzureAD/microsoft-identity-web/tree/jennyf/memOptions)

[2022-07-14 21:24] jmprieur commented on #1789
Thanks @WenningQiu.
Shall we close this question?

[2022-07-14 21:37] jmprieur commented on #1765
@wwy12321
Visual Studio creates a client secret to call Microsoft Graph. Did you add it to your appsettings.json or to some secret store on the container? (it's visible from the "Manage User Secrets" contextual command on the project.

[2022-07-14 22:01] #1756 closed

[2022-07-15 01:34] wwy12321 commented on #1765
@jmprieur , the following comments I didn't enable the "Microsoft Graph" but still get the error:
`1. In visual studio right click the solution and choose Add - New project. Then select Blazor server (ASP.NET core web app got same result), and in wizard choose Microsoft identity platform for Authentication type. Then create the project, after install some required component, follow the steps to co

[2022-07-15 02:04] jmprieur commented on #1765
@svrooij [wwy12321](https://github.com/wwy12321) Can you please try without the Domain in your appsettings.json ? (only the TenantId) ?

[2022-07-15 02:09] jmprieur commented on #1746
@boppercr if you expect to call an API in the TokenValidated event, you need to do it after Microsoft.Identity.Web has processed the token. For this you need to chain the events.

See https://github.com/AzureAD/microsoft-identity-web/wiki/customization#how-to-query-microsoft-graph-on-token-validated

[2022-07-15 02:11] jmprieur commented on #1745
@v-michaelmi : proposing to close this one as a duplicate of #1786
Feel free to reopen if you disagree.

[2022-07-15 02:11] #1745 closed

[2022-07-15 02:11] #1789 closed

[2022-07-15 06:08] svrooij commented on #1765
@jmprieur I was only trying to help. We are not having this issue.

@wwy12321 they might have found a solution for you.

[2022-07-15 10:58] wwy12321 commented on #1765
@jmprieur  good news, remove the domain still got the error, ha.
<img width="867" alt="1" src="https://user-images.githubusercontent.com/33349734/179210353-22b82709-10f0-4c61-aef0-4238cf538aaf.png">

[2022-07-15 14:43] erhan355 commented on #13
This is the same problem i am facing with. How can we ensure that the token is generated only once ?
Issue was opened almost 2,5 years ago still not a valid solution other than workaround that causes new issues.

[2022-07-15 16:50] Yomodo commented on #1548
![image](https://user-images.githubusercontent.com/10358198/179270410-49b2b9cf-0b21-48c2-88af-eefcba17dcad.png)

STILL....

[2022-07-16 02:44] jmprieur commented on #13
@[erhan355](https://github.com/erhan355).
Can you please remind me why using `[AuthorizeForScopes]` attribute does not work for you?
https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access ?

[2022-07-16 10:00] luismanez commented on #1548
I literally gave up. I´m not using the library in Az Functions v4 with .net 6 (not working and can´t wait to upgrade my project, as MS is deprecating .net 3.1 in less than 6 months). For my Az Functions, I´m using MSAL directly with ClientCredentials flow. It´s a shame, but I have no option. Last, I must say that this is not on this MS team. Jenny and Jean-Marc have been helping as much as they ca

[2022-07-16 17:38] XanthViper commented on #1805
@jmprieur No it doesn't. And this is probably the result of me trying to get everything hooked up when I started this project. Most likely what happened is I saw that I could set the Domain and TenantId and just set them not thinking it would be an issue. Obviously I was wrong. I guess with the available settings, it just seems logical that you can set those values and not have to worry about it.

[2022-07-17 00:49] erhan355 commented on #13
It is a bit long reply, I tried to sum up my flow briefly.
First of all I don't think it is about AuthorizeForScopes attribute. As you already know that  if the browser has a cached cookie but corresponding account entry is missing from the token cache , it causes MicrosoftIdentityWebChallengeUserException.

To prevent this , I used your  workaround(RejectSessionCookieWhenAccountNotInCacheEvents )

[2022-07-17 01:48] DerekFoulk commented on #13
@jmprieur Indeed, I did. One important thing that I didn't mention is that I am using VS2022 Preview. Here is my VS2022 "Info" output:

Microsoft Visual Studio Community 2022
Version 17.3.0 Preview 1.1
VisualStudio.17.Preview/17.3.0-pre.1.1+32519.111
Microsoft .NET Framework
Version 4.8.04084

Installed Version: Community

.NET Core Debugging with WSL   1.0
.NET Core Debugging with WSL

ADL Tools

[2022-07-17 01:49] DerekFoulk commented on #13
Thank you @jennyf19, I always feel like a whiner on here lol

[2022-07-17 02:11] DerekFoulk commented on #13
@jmprieur I actually used **File | New** (instead of dotnet) to create both the **Blazor Server App** and **ASP.NET Core Web API** projects, using the **Connected Services** window to setup Azure AD B2C. After I got both projects created, calls to the **ASP.NET Core Web API** didn't authenticate properly, if I remember correctly. I had to add these properties to the **appsettings.json** file to ge

[2022-07-18 00:46] kjkent opened #1809 "ECC cert-based AD authentication fails with generic error"
Hi there,

I hope this is the right repo to post this in. For the last couple of days I've been trying to figure out why we couldn't get our app to receive a token for the Microsoft Graph API. No matter how I tried, first with the msal-node library and then by manually constructing and sending JWT assertions, I couldn't figure it out.

The only error shown was the code "5000" and a message saying

[2022-07-18 01:45] jmprieur commented on #1809
This might be a question for https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet, @kjkent

[2022-07-18 01:55] kjkent commented on #1809
Thanks, @jmprieur ! I shall try my luck there. Shall I close this if it's the wrong repo?

[2022-07-18 12:20] SlavaDnepr opened #1811 "Input string was not in a correct format exception in method IsChromiumVersionAtLeast"
### Microsoft.Identity.Web Library

Microsoft.Identity.Web

### Microsoft.Identity.Web version

1.25.1

### Web app

Sign-in users

### Web API

Protected web APIs (validating tokens)

### Token cache serialization

Not Applicable

### Description

Incorrect Regexp in IsChromiumVersionAtLeast
"Chrom[^ \/]+\/(\d+)[\.\d]* "
Corrected regexp
"Chrom[^ \/]+\/(\d+)[\.\d]*"
It means Chrome can be only la

[2022-07-18 16:52] jmprieur commented on #1809
@kjkent : if you could just paste the link to the issue you'll create in that repo, that would be great.

[2022-07-19 02:29] jmprieur commented on #1805
@XanthViper : just to make sure. Are you on the latest version of Id.Web

[2022-07-19 12:38] mevans-medpace opened #1812 "MsalUiRequiredException occasionally thrown due to GetAccountAsync not returning an account"
### Microsoft.Identity.Web Library

Microsoft.Identity.Web.TokenCache

### Microsoft.Identity.Web version

1.25.0

### Web app

Sign-in users and call web APIs

### Web API

Protected web APIs (validating tokens)

### Token cache serialization

Distributed caches

### Description

We've been seeing some strange behavior in our applications since converting to use Microsoft.Identity.Web. About 5-10

[2022-07-19 23:51] XanthViper commented on #1805
@jmprieur  yes I am. My apologies for the late reply.  Here are my package references:

`  <ItemGroup>
    <PackageReference Include="AspNetCore.HealthChecks.SqlServer" Version="6.0.2" />
    <PackageReference Include="AspNetCore.HealthChecks.UI" Version="6.0.4" />
    <PackageReference Include="AspNetCore.HealthChecks.UI.Client" Version="6.0.4" />
    <PackageReference Include="AspNetCore.HealthC

[2022-07-22 14:50] mevans-medpace commented on #1812
After doing some more research and stepping through the Microsoft.Identity.Web and Microsoft.Identity.Client source code, I believe I've discovered the circumstances under which this is occurring. We have multiple requests to APIs that are called in parallel. Normally, the TokenAcquisition class calls the GetAccountAsync method on IConfidentialClientApplication and returns the account. Several lev

[2022-07-22 15:27] mevans-medpace commented on #1812
Looks like this issue may be known by the MSAL team: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/3385#issuecomment-1156364249

The comment implies that in this scenario, MSAL would just look up the account again but this doesn't seem to be what is happening, instead, no account is returned, the call to AcquireTokenSilent fails, and the MsalUiRequiredException is t

[2022-07-23 23:36] jmprieur commented on #1812
@bgavrilMS @pmaytak : is it something you are aware of?

[2022-07-24 23:16] jennyf19 opened #1818 "Add EnablePiiLogging and RedirectUri to MicrosoftAuthenticationOptions.cs"
**Why?**
EnablePiiLogging and RedirectUri are not present in [AuthenticationOptions.cs](https://github.com/AzureAD/microsoft-identity-web/blob/rel/v2/src/Microsoft.Identity.Web.TokenAcquisition.Abstractions/ApplicationOptions/AuthenticationOptions.cs) in Microsoft.Identity.Web.TokenAcquisitionAbstraction, wheres they were present in `MicrosoftIdentityOptions`.

We want to replace, in the new DevEx

[2022-07-25 01:06] jmprieur opened #1820 "TokenAcquisition still needs to implement ITokenAcquisition on OWIN and SDK (This is a downgraded version of the ASP.NET Core one)"
**Repro**

Actual

In rel/v2, when running the daemon test app, this no longer works (ITokenAcquisition is no longer found when calling .AddMicrosoftGraph

Expected
The devapp still works

**Cause**
This is because we've split TokenAcquisition (which implements ITokenAcquirer) and TokenAcquisitionAspNetCore which inherits from TokenAcquisition but also implements ITokenAcquisition.
Not that IToken

[2022-07-25 19:13] dan-giddins commented on #938
I have updated my PR #968 off the current master branch, and managed to get it working again.

[2022-07-26 01:56] jmprieur commented on #1818
https://github.com/AzureAD/microsoft-identity-web/pull/1819
https://github.com/AzureAD/microsoft-identity-web/pull/1822

[2022-07-26 02:47] jmprieur opened #1825 "A daemon or OWIN app should only reference Microsoft.Identity.Web.TokenAcquisition and use ITokenAcquirer"
**Why?**
ITokenAcquirer is the new interface to acquire tokens. This is the interface to use for SDK and OWIN. It will also be available in ASP.NET Core. but we'll also keep ITokenAcquisition for backward compatibility.

**What?**
A daemon app or an OWIN app should only reference Microsoft.Identity.Web.TokenAcquisition (not Microsoft.Identity.Web), and use ITokenAcquirerFactory and ITokenAcquirer

[2022-07-26 02:57] kjkent commented on #1809
@jmprieur Thanks for the advice and apologies for the delay in getting to this. I've created an issue, which can be found here:

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1917

[2022-07-26 02:59] jmprieur commented on #1825
See also "
Item statusDraft
Obsolete MicrosoftIdentityOptions and recommend MicrosoftAuthenticationOptions"

[2022-07-26 03:01] jmprieur commented on #1825
PR https://github.com/AzureAD/microsoft-identity-web/pull/1824

[2022-07-26 04:37] pmaytak commented on #1812
@mevans-medpace The post/comment you mention describes this behavior when the confidential client app instance is static/reused. Then yes, two different requests can operate on the same internal cache (accessor objects). But I think Microsoft.Identity.Web creates TokenAcquisition class with scoped (per request) lifetime by default. So each request should have its own MSAL instance.
One suggestion

[2022-07-26 14:05] Megasware128 opened #1826 "DownstreamWebApiSupport infinite redirects on B2C"
### Microsoft.Identity.Web Library

Microsoft.Identity.Web

### Microsoft.Identity.Web version

1.25.1

### Web app

Sign-in users and call web APIs

### Web API

Not Applicable

### Token cache serialization

In-memory caches

### Description

Both AddDownstreamWebApi and AddMicrosoftIdentityUserAuthenticationHandler don't work when building with AAD B2C. Once the api tries to be called, the webp

[2022-07-26 14:36] mevans-medpace commented on #1812
@pmaytak Thank you for the suggestion, indeed setting ```EnableCacheSynchronization``` to true seems to have corrected the problem.

@jmprieur I'm still curious as to why this issue hasn't been reported more. I'm trying to determine what we're doing differently. When our Angular app starts it's making about 5 calls to the same endpoint (we're using GraphQL and so we're passing a different query in

[2022-07-26 15:08] jmprieur commented on #1812
Thanks @[mevans-medpace](https://github.com/mevans-medpace)
Yes, I think that this is something we need to look at. A multi-threading issue?
 and at least document.

cc: @jennyf19 FYI

[2022-07-26 15:15] jmprieur commented on #1826
Thanks @Megasware128
@jennyf19: I wonder if we shouldn't use the user flow in this line:

https://github.com/AzureAD/microsoft-identity-web/blob/b4c2d7ca006f3bbead874863b2527570eb61c083/src/Microsoft.Identity.Web/TokenAcquisition.cs#L949

[2022-07-26 22:23] jeevanthespark commented on #760
I am not sure what was fixed in earlier builds but I still can't make it work. The code is very simple as given below.

[code]

Can anyone please help to fix the issue?

[2022-07-26 22:42] jeevanthespark opened #1827 "Unable to SignIn/SignOut using default AccountController in Web App"
### Microsoft.Identity.Web Library

Microsoft.Identity.Web.UI

### Microsoft.Identity.Web version

1.25.1

### Web app

Sign-in users

### Web API

Not Applicable

### Token cache serialization

Not Applicable

### Description

I am unable to use signin/signout functionalities from the default MicrosoftIdentity Account Controller using SignIn/SignOut action methods. Please find below the code bein

[2022-07-26 23:06] FelipeCostaGualberto opened #1828 "Calling ITokenAcquisition.GetAccessTokenForUserAsync throws IDW10503 error"
### Microsoft.Identity.Web Library

Microsoft.Identity.Web

### Microsoft.Identity.Web version

1.25.1

### Web app

Sign-in users and call web APIs

### Web API

Protected web APIs call downstream web APIs

### Token cache serialization

In-memory caches

### Description

I get the error `IDW10503` when I try using `ITokenAcquisition.GetAccessTokenForUserAsync` method in my controller. I didn't f

[2022-07-27 01:46] jmprieur commented on #1828
@FelipeCostaGualberto
- [Here](https://github.com/FelipeCostaGualberto/bug-obo-token/blob/30f658198cb44daaa0d92d4828192dc85e79e460/ExampleObo/Server/Program.cs#L41), why don't you use AddMicrosoftIdentityWebApi (this is your server API?)
- you also want to use an override where you express the authentication scheme (which should be different than Bearer, given you are already using Bearer above)
-

[2022-07-27 03:25] FelipeCostaGualberto commented on #1828
Hello @jmprieur , thanks for the fast answer.
I feel like I'm miles away to understand what is happening. I'll try to answer your questions, maybe some statements here will be incorrect.

- Yes, this is my server. It will be used to authenticate users with UI (both Azure Microsoft Identity and User/Password) and also to provide API endpoints.
- I use `AddMicrosoftIdentityWebApp` instead of `AddMic

[2022-07-27 03:28] jmprieur commented on #1828
@FelipeCostaGualberto
- so, you use it AddMicrosoftIdentityWebApp the right way: this is a web app, but which is also a web API.
- Instead of AddJwtBearer, just use .AddMicrosoftIdentityWebApi, and this should just work. Why wouldn't want to do that?

[2022-07-27 03:37] jmprieur commented on #760
@jeevanthespark : did you try with:

[code]

[2022-07-27 05:49] jeevanthespark commented on #760
Yes, I did. Finally I fixed it by adding app.MapControllers which was missed and no documentation explains it needs to be added to middleware. Could you please update the documentation?

[2022-07-27 10:00] FelipeCostaGualberto commented on #1828
@jmprieur you said I was correctly using `AddMicrosoftIdentityWebApp`, and also that I just should use `AddMicrosoftIdentityWebApi`. Can you clarify that?

Either way, if I remove my `AddJwtBearer` how will I define this?
[code]
This is important, because as you can see, `Bearer` is my default scheme and my `IndexController` is decored with `[Authorize]`. If I don't define what is my JWT key in th

[2022-07-27 12:49] thduttonuk commented on #1548
Update to the latest and still get the issue

`System.MissingMethodException: 'Method not found: 'Microsoft.IdentityModel.Tokens.TokenValidationParameters Microsoft.AspNetCore.Authentication.JwtBearer.JwtBearerOptions.get_TokenValidationParameters()'.'`

![image](https://user-images.githubusercontent.com/5237694/181250766-edbc5a39-5468-483f-a1d3-8b4f691f1f16.png)

[2022-07-27 21:25] jmprieur commented on #1828
You don't need to provide the issuer signing keys, @FelipeCostaGualberto. Microsoft.Identity.Web / ASP.NET Core / Microsoft.IdentityModel will discover them for you. They are part of the OAuth2.0 well known metadata.

You should not even provide them as IdentityModel ensures the resilience of the app vs outages of the IdP, which you don't get if you manage your keys yourself.

[2022-07-27 23:01] FelipeCostaGualberto commented on #1828
@jmprieur
If I remove this code from the initialization:
[code]
It'll get like this:
[code]
Cleared the cookies. Ran the project, clicked on Login button, all ok. But when I click on `Get Token` button, I get error `500` with message:
[code]
I would guess that the server doesn't know how to decode my Bearer tokens created at `CreateToken` in my `AccountController.cs` file.

What am I'm missing her

[2022-07-27 23:44] FelipeCostaGualberto commented on #1828
**I updated the repro GitHub project, please fetch the last version**.

I have an update. I could make it run and get token successfully with this:
[code]
But I have a custom claim and a button `Get Custom Claim` that when clicked, was expected to get its value. Only the Microsoft Identity's claims are available in my controller and now my Bearer authentication header makes no difference when call

[2022-07-28 00:35] FelipeCostaGualberto commented on #1828
I think I figured out after a lot of trial and error. I found it quite complicated and was almost quitting and implementing my own `ITokenAcquisition`.

This is how I registered my services:

[code]
In you controller, if you use your `ITokenAcquisition` like this:
[code]
, you'll get the error `IDW10503: Cannot determine the cloud Instance. The provided authentication scheme was ''. Microsoft.Iden

[2022-07-28 02:18] jmprieur commented on #1828
@FelipeCostaGualberto yes, your solution is right.
I had not understood that your web app part was creating a token (not AAD). This makes sense. Since this is the web app, the authentication scheme should be OpenIdConnect indeed.

Thanks for the heads-up for the broken aka.ms link. I just fixed it.

[2022-07-28 02:18] #1828 closed

[2022-07-28 19:46] nlz242 commented on #1800
This is also problematic for me. We have an azure function app for which the users are authenticated thru azure ad, but also has a two downstream apis which are authenticated thru app registrations. Tokens are validated against all 3 schemes, all the time so it pollutes the logs like crazy. While this isn't great, it is even worse because those logs end up in our App Insight and they generate addi

[2022-07-28 21:51] jmprieur commented on #1800
@sruke : do you think that the version of IdentityModel that released yesterday fix the issue?

[2022-07-29 05:05] sruke commented on #1800
@jmprieur, 6.22.0 version you're referring to will display log arguments like issuer, audience in clear text to display more meaningful messages.

The issue here seems to be different. It looks like Microsoft.IdentityModel is attempting to validate tokens that aren't from AzureAD which is causing the unwanted messages. Is it possible to instruct at Id.Web level to ignore tokens that aren't issued

[2022-07-29 16:58] Rajeesh-vr opened #1829 "After Post Sign-out Redirect to Home Page on back button click."
### Microsoft.Identity.Web Library

Microsoft.Identity.Web

### Microsoft.Identity.Web version

1.25.1

### Web app

Sign-in users

### Web API

Not Applicable

### Token cache serialization

Not Applicable

### Description

After the application Sign-out, the **back button click will redirect the user back to the home screen of the application**.
How can we block the redirection to the home scree

[2022-07-29 17:08] jmprieur commented on #1829
@Rajeesh-vr : this is not a question related to Microsoft.Identity.Web (which only supports ASP.NET core at this date)
ASP.NET repositories are under https://github.com/aspnet. Or you could try on StackOverflow.

[2022-07-29 18:21] jmprieur commented on #1800
@sipsorcery, @tsmeets2  @nlz242
- Do I understand that you are satisfied with the behavior of Microsoft.Identity.Web 1.25 but not Microsoft.Identity.Web 1.25.1?
- The only thing that changed is that more things are logged in Microsoft.Identity.Web 1.25.1 because we now log what is produced by Microsoft.IdentityModel, and JwtBearer does use Microsoft.IdentityModel. So these messages were always emi

[2022-07-29 19:09] nlz242 commented on #1800
@jmprieur
Seeing as the token validation, in the case where we used many Schemes, seems to be on a "try until it works, or all configured schemes have been tried" basis, the fact that these logs surface produces alot of logs for things that are not relevant.

For example, my App supports two different Azure B2C and I have an AuthorizationPolicy that OR on them
[code]
[code]
So depending on the ord

[2022-07-29 19:57] aKzenT commented on #1755
I'm having the same issues. All examples are focussed on calling web APIs while also enabling authentication for the web app itself. I did not find any good solution that would allow me to call web APIs from a web app directly on the apps behalf using HttpClientFactory. It seems impossible to get an ITokenAcquisition instance without calling AddAuthentication. Did I miss something?

[2022-07-29 20:14] aKzenT commented on #1347
I'm facing the same problem and did not manage to write an extension method like suggested that does not depend on calling AddAuthentication. @jennyf19 any help?

[2022-07-29 20:17] jmprieur commented on #1800
Oh I see. thanks for the feedback and the explanation. So we are now surfacing too many details, and the ASP.NET core logs were enough in that case.

@sruke, @jennyf19 :  Let's see what we can do here to have less noisy logs. Maybe we could have a special namespace (Microsoft.Identity.Model) for the IIdentityLogger so that customers who are not interested in the Microsoft.IdentityModel logs don't

[2022-07-30 01:43] jmprieur commented on #1347
@aKzenT : we are working on providing an experience to do that in our next major version of Microsoft.Identity.Web.
For a preview see how this would work from a daemon app:
https://github.com/AzureAD/microsoft-identity-web/blob/rel/v2/tests/daemon-app/Daemon-app/Program.cs

Disclaimer: things might change a bit.

[2022-07-30 04:23] codepwner commented on #13
This issue stole 3-4 days of my week with great confusion and frustration.  Please ensure it gets fixed!

[2022-08-01 20:00] jennyf19 opened #1830 "Microsoft.Identity.Web.Credentials provide support for certificates, symmetric keys and signed assertions"
## Why?
With certificateless coming only on Azure when MSI is available, we need a way to express a priority order to express confidential client application client credentials (and later the decrypt credentials). This can be achieved as ordered collection of CredentialDescription.

In current Id.Web and SAL configuration, we use the notion of ClientCertificate (and DecryptCertificate), and some o

[2022-08-02 21:28] dandax commented on #1634
Wanted to see if there's anyway this can be bumped up. The project it was assigned to hasn't been updated since March. Seems like an easy enough fix to get in an upcoming release.

[2022-08-02 23:05] jmprieur commented on #1634
@dandax: this was fixed in February (in 1.23.1).
Do you still see the issue in the latest Id.Web?

[2022-08-02 23:06] #1634 closed

[2022-08-06 08:23] rollandjb opened #1831 "Non-distributed memory cache reuses old access token after logout/login"
### Microsoft.Identity.Web Library

Microsoft.Identity.Web

### Microsoft.Identity.Web version

1.25.0

### Web app

Sign-in users and call web APIs

### Web API

Protected web APIs (validating tokens)

### Token cache serialization

In-memory caches

### Description

# Summary

When a memory cache is added via  `builder.AddInMemoryTokenCaches()`,  signing out and then in again of B2C uses the old

[2022-08-09 19:40] Yashuaa opened #1834 "Blazor Server Side - Azure AD Auth -Works Locally but not in Azure..."
### Microsoft.Identity.Web Library

Microsoft.Identity.Web

### Microsoft.Identity.Web version

1.25.0

### Web app

Sign-in users and call web APIs

### Web API

Protected web APIs call downstream web APIs

### Token cache serialization

In-memory caches

### Description

**App**
Blazor Server Side

**Framework**
.NET 6

**Issue**
I have a Azure App Registration that logs users in and then makes

[2022-08-10 17:57] jmprieur opened #1835 "Pod Identity signed assertions are supported by Ms.Id.Web.TokenAcquisition"
## Why
When running inside a container, confidential client applications can use Pod Identity to get a signed assertion in lieu of client credentials. In practice, this is a file that is shared with the container, and that is read periodically.

## What

By configuration, define the file in which Pod identity will save the signed assertion, so that the application running in the container can acce

[2022-08-12 19:19] jennyf19 opened #1836 "Microsoft.Identity.Web.TokenAcquisition needs to support getting Pop and MSAuth1.0AT Pop tokens"
## Why?
ITokenAcquirer can support any token type. There are really 2 token types, which are then organized in the protocols
bearer
Pop, with 2 flavors: MsAuth1.0ATPop (which Bogdan names legacy Pop below) and Pop (which Bogdan names new Pop)

## What?
`AcquireTokenOptions` has a member [PopPublicKey](https://github.com/AzureAD/microsoft-identity-web/blob/07317ac20eeda84ce4106c58347a04f30fbfdcdf/s

[2022-08-13 03:09] jennyf19 commented on #1836
Work paused until this is released in MSAL.NET: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/3597

[2022-08-13 13:26] Faisal-developer commented on #971
@wmmihaa Is it working ? And how you differentiate that which user will be part of which tenant ?

How you modified this below code

public IActionResult OnPost(string provider, string returnUrl = null)
{
    // Request a redirect to the external login provider.
    var redirectUrl = Url.Page("./ExternalLogin", pageHandler: "Callback", values: new { returnUrl });
    var properties = _signInManage

[2022-08-14 20:54] jennyf19 opened #1840 "Add WithAuthenticationOptions extension method enables developers specify authentication properties when using Microsoft Graph SDK requests."
**Why?**
We want clients to call Microsoft Graph with Pop + server nonce etc ... and, really override all the possible authentication options when using the Graph SDK.

**What?**
Provide a new extension method on Microsoft Graph SDK Base request, in Microsoft.Identity.Web.MicrosoftGraph (and GraphBeta) that would take an `Action<DownstreamRestApiOptions>`

[code]

**How?**
same principle as [`With

[2022-08-15 07:58] wmmihaa commented on #971
Hi Faisal,
Yes I got it working.

There are a couple of ways you can do this. Default, you'd allow the user to select which identity provider to use. In my case,I persist each AAD configuration in the database together with the email domain and as the user types their email address I redirect based on the domain.

Your code looks good

[2022-08-15 11:45] Faisal-developer commented on #971
@wmmihaa Got it. You are using this for mobile app ? I meaning azure ad is integrated with mobile ?

[2022-08-15 12:14] wmmihaa commented on #971
It's a web application

[2022-08-15 12:17] Faisal-developer commented on #971
@wmmihaa  Do you have any idea how it will work for flutter mob app ?

[2022-08-15 13:32] wmmihaa commented on #971
Sorry, I have not worked with flutter.

[2022-08-15 15:12] Yashuaa commented on #1834
Just want to update yall - this is **definitely** a bug with Blazor and Azure App Service / Azure AD... We had to totally get rid of Microsoft Graph API to get this to work, it _will not_ work with Graph API. We just get that obscure error every time.

[2022-08-16 00:39] deadlydog commented on #1555
I was able to work around this issue by using cookie affinity on my ingress instead of a distributed cache / data store. Explanation at https://stackoverflow.com/a/73367639/602585.

[2022-08-17 12:48] bgavrilMS opened #1843 "[Feature Request] Support web app scenario for ASP.NET classic / OWIN"
Id.Web provides higher level APIs for ASP.NET Core. This is a request to add support for ASP.NET classic.

[2022-08-17 12:49] bgavrilMS commented on #1843
For website scenario, for using client_info, I have a PR in our ASP.NET sample https://github.com/Azure-Samples/ms-identity-aspnet-webapp-openidconnect/pull/76/files

[2022-08-17 21:42] jmprieur commented on #1843
Thanks @bgavrilMS. yes, we had seen :-)

[2022-08-18 07:32] lucmoco commented on #13
@jmprieur, I've implemented your work-around, which works great. However, I see two problems with this solution:

- With Microsoft.Identity.Web v. 1.25.0, when the calling of `GetAccessTokenForUserAsync()` fails (as expected), some errors are being logged
- The `AccountDoesNotExitInTokenCache()` method relies on some implementation details (InnerException, ErrorCode)

In order to avoid these probl

[2022-08-18 12:39] macchmie3 opened #1844 "[Bug] Significant performance decrease after updating Microsoft.Identity.Web from 1.16.0 to 1.25.1"
### Microsoft.Identity.Web Library

Microsoft.Identity.Web

### Microsoft.Identity.Web version

1.25.1

### Web app

Not Applicable

### Web API

Protected web APIs (validating tokens)

### Token cache serialization

Not Applicable

### Description

Performance of our APIs got significantly decreased after changing nuget version of Microsoft.Identity.Web from 1.16.0 to 1.25.1. APIs are hosted in A

[2022-08-18 20:01] v-michaelmi opened #1845 "[Feature Request] Find a way to communicate if incoming permissions come from an app or user in ScopeOrAppPermissionAuthorizationHandler.cs"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...].

When using the [RequiredScopeOrAppPermission](https://github.com/AzureAD/microsoft-identity-web/blob/f2bb617b262d6beebab5e06fdeed14b042dbc8d7/src/Microsoft.Identity.Web/Policy/RequiredScopeOrAppPermissionAttribute.cs) attribute in an API

[2022-08-19 05:05] jmprieur commented on #1844
Thanks @macchmie3. We'll investigate.

[2022-08-19 08:10] luismanez opened #1846 "RefreshToken not being cached from 1.20.1 version"
### Microsoft.Identity.Web Library

Microsoft.Identity.Web.TokenCache

### Microsoft.Identity.Web version

1.20.1

### Web app

Not Applicable

### Web API

Protected web APIs call downstream web APIs

### Token cache serialization

Distributed caches

### Description

I'm using Distributed Token cache from MS Identity Web. However, from 1.20.1 version, the refresh token is not being stored in the

[2022-08-19 11:09] luismanez commented on #1846
Not sure if this helps, but I´ve created my custom __TokenCacheAdapter__ inheriting the one from MS Identity web __MsalDistributedTokenCacheAdapter__, and overwritting all its methods, just for debugging purposes. The method that writes into the cache sql table looks like:

[code]

I set a breakpoint in that method to debug the byte array value, and the refresh token is not there, so, unless I´m m

[2022-08-19 18:03] jennyf19 commented on #1846
@luismanez If you need the RT in the OBO scenario, then you would fall into the long running process category, which is [described here](https://github.com/AzureAD/microsoft-identity-web/wiki/get-token-in-event-handler#how-to-get-an-obo-token-in-an-event-handler-or-a-long-running-process). This is by design and the change was intended (security).

[2022-08-21 19:09] #1846 closed

[2022-08-21 19:09] #1746 closed

[2022-08-21 19:15] jmprieur commented on #1666
Looking at it, there is no way for an admin of your tenant to consent on behalf of MSA users, @adamsosinski.
Do I understand that you get the error on your internal web API? If that's the case, you need to have something (a setup experience) that lets MSA users to consent to your internal API calling

See also https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/maste

[2022-08-21 19:15] jmprieur commented on #1666
proposing to close as answered, but feel free to reopen if you disagree, @adamsosinski

[2022-08-21 19:16] #1666 closed

[2022-08-21 19:18] #1617 closed

[2022-08-21 19:19] #1577 closed

[2022-08-21 19:36] jmprieur commented on #1571
Closing this one:
- We released RequiredScopeOrAppPermissionAttribute in Microsoft.Identity.Web [1.25.0](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.25.0)
- @gurry : you are right, it requires to use app.AddAuthorization(). However, AddRequiredScopeAuthorization is called in  AddMicrosoftIdentityWebApi. Did you use that method?

[2022-08-21 19:36] #1571 closed

[2022-08-21 19:40] jmprieur commented on #1371
@matiasdellea27 : you should not use ADAL.NET

[2022-08-21 19:43] jmprieur commented on #1371
In your `ReportsController` code, why do you acquire a token for PowerBI, if you want to call Graph?

[2022-08-21 19:45] jmprieur commented on #1360
@tratcher do we want to do something about the fact that ASP.NET Core systematically adds the ClientId as a valid issuer?
(note that this would be a breaking change)

[2022-08-21 20:23] jmprieur commented on #1844
@macchmie3 : I've a few questions about your code (un-related to the performance regression):
- why do you use Microsoft.Identity.Web if you are setting everything yourself? It seems AddJwtBearer would work better in your scenario if you handle the token yourself?
- did you see how to use Microsoft.Identity.Web for web APIS? : https://github.com/AzureAD/microsoft-identity-web/wiki/web-apis

[2022-08-22 05:52] luismanez commented on #1846
Thanks @jennyf19 for coming to the rescue!!
I see. If that´s the case, just a couple of question/comments:

- The sample here (https://github.com/Azure-Samples/ms-identity-dotnet-advanced-token-cache) then is not valid anymore, right? (at least the OBO sample). Maybe a note in the readme should be done.
- Is it documented that MSAL is not storing the Refresh token for OBO flow?
- The long running

[2022-08-22 08:50] macchmie3 commented on #1844
@jmprieur

Thanks for the links. 99,99% of our traffic goes through tokens received in headers so not block for query parameters were required, but we also use signalR and some client libraries are not able to connect to signalR hub and send token in a header, so they need to do it through query parameter.  Before we started using signalR the setup was without  `OnMessageReceived` event subscripti

[2022-08-23 18:16] nikhilvats7oct commented on #1803
Do we have any updates on this please, I'm also having same scenario where I'm trying to get the access token on authentication middleware?

[2022-08-24 03:30] jmprieur commented on #1803
In a web app, OnTokenValidated is called when the ID Token is received. The token is not yet obtained by MSAL.NET by redeeming the authentication code, which is why I'm not expecting things to work at that stage.

They could work if you chain the events and make sure that the previous event handler (set by Microsoft identity web) is called before your own code processes the event.
This is shown he

[2022-08-24 04:14] gurry commented on #1571
@jmprieur Yes, I peeked inside Microsoft's code and saw `'AddRequiredScopeAuthorization()` being used there and simply mimicked that. It may well have been `AddMicrosoftIdentityWebApi()` that I peeked into (don't exactly remember now).

[2022-08-25 03:28] jmprieur commented on #1803
@nikhilvats7oct, many customers don't want Id.Web to use ID tokens (because they read about the implicit flow, and unfortunately, to get an ID token, in the portal you need to check a checkbox which is in an area named "implicit flow" (whereas, indeed, code_idtoken is perfectly ok. Therefore Id.Web only uses code.

If you want to have id_token, you can change the response type in the OpenIdConnect

[2022-08-25 07:44] luismanez commented on #1846
Answering myself, in case anyone has the same questions:

- Previous sample is not valid anymore, at least if you´re using latest MSAL version (this is not actually related to MS Identity web, is more an MSAL thing improving security)
- I haven´t found any specific official doc saying Refresh token is not stored for OBO flow. I found some issues in MSAL repo where someone said something about it.

[2022-08-25 09:45] larsjoR opened #1852 "SDK produces an incorrect request URL for FilterByCurrentUser()"
### Microsoft.Identity.Web Library

Microsoft.Identity.Web.Graph

### Microsoft.Identity.Web version

1.25.1

### Web app

Sign-in users

### Web API

Not Applicable

### Token cache serialization

In-memory caches

### Description

The following call to the GraphClient:

`_graphServiceClient
            .IdentityGovernance
            .EntitlementManagement
            .AccessPackages

[2022-08-26 22:03] Pmr-precure opened #1857 "Get Access Token For App later than v1.16.1"
### Microsoft.Identity.Web Library

Microsoft.Identity.Web

### Microsoft.Identity.Web version

1.16.1

### Web app

Sign-in users and call web APIs

### Web API

Protected web APIs call downstream web APIs

### Token cache serialization

In-memory caches

### Description

Hi,

Im using TokenAcquisition.GetAccessTokenForApp to get my access token for the powerbi API, and everything is working perf

[2022-08-28 04:46] michiproep commented on #1803
This discussion is going into a complete wrong direction.
The initial question was "why CallWebApiForUserAsync is not able to get a token while GetAccessTokenForUserAsync does".
It's still not clear why they behave differently.

[2022-08-29 04:54] Pmr-precure commented on #1857
Sorry i see i wrote 1.6.x, i ofc mean 1.16.x

[2022-08-29 09:50] kalyankrishna1 commented on #1638
@GFlisch have a look at <a href="https://docs.microsoft.com/en-us/samples/azure-samples/ms-identity-adfs-to-aad/ms-identity-dotnet-adfs-to-aad/">[AD FS to Azure AD application migration playbook for developers](https://docs.microsoft.com/en-us/samples/azure-samples/ms-identity-adfs-to-aad/ms-identity-dotnet-adfs-to-aad/)</a>. Its slightly dated, but should provide a good idea of steps required to

[2022-08-29 11:31] GFlisch commented on #1638
Hi @kalyankrishna1 , thanks I will try.
Do you think that the standard Microsoft.IdentityModel.Protocols.OpenIdConnect package could be used with ADFS 2019? I was thinking about this and wanted to test it also. But if you know already that ADFS 2019 is not compliant enough with the standard OIDC I will not tried this....

[2022-08-29 16:58] kalyankrishna1 commented on #1638
@GFlisch, sorry, I dont know for sure. I'd take that question to the library's github page

[2022-08-29 16:58] #1638 closed

[2022-08-30 13:33] WillGunn opened #1861 "Unable to use RequiredScopeAttribute in aspnetcore 2.1/2.2 targeting .net framework"
https://github.com/AzureAD/microsoft-identity-web/blob/a50c49fa43ba4f0d8d7846c6928397fcfacd987f/src/Microsoft.Identity.Web/Microsoft.Identity.Web.csproj#L43,L44
Those lines remove the ability to use the RequiredScopeAttribute (and others) in aspnetcore projects that target .net framework (net48 for reference in my case).  Looking at the code I need from those two folders, I'm not seeing anything t

[2022-08-30 17:13] jmprieur commented on #1861
@WillGunn : Microsoft.Identity.Web is not officially supporting .NET Framework.
We are going to support all frameworks (.NET Core, .NET, and OWIN) in v2.0.

Did you try to remove these lines and were you able to build the library? (I'm pretty sure it does not work)

[2022-09-02 05:04] nareshbulusu opened #1863 "Failed syncing triggers attempts when trying to deploy to Azure Functions through VS Code"
### Microsoft.Identity.Web Library

Microsoft.Identity.Web

### Microsoft.Identity.Web version

1.5.1

### Web app

Not Applicable

### Web API

Protected web APIs (validating tokens)

### Token cache serialization

Not Applicable

### Description

Works fine in VS Code. Deployment to Azure Functions is failing with the below output.

[code]

Of course, it works if I try to deploy as a container i

[2022-09-02 22:11] ibrahimuludag commented on #1625
I had the same problem. Using
`services.Configure<MicrosoftIdentityOptions>(OpenIdConnectDefaults.AuthenticationScheme, options =>` solved.

[2022-09-05 19:53] jcharnley commented on #651
what about if you need to keep the /common endpoint but then you want to call ARM to find out the list of tenant and ask the user to select it, thus accessing the correct tenant the guest user has been invited into. There is a serious technolgy gap in this area. Multi Tenant apps are not fully multi tenant when guest users are involved. It would be great to hear any updates on this topic

[2022-09-06 03:44] jmprieur opened #1869 "Measure performance of rel/v2"
**On 1.25.2**
326 ms (cold)
335 ms (warm)

**On rel/v2**
231 ms (cold)
51 ms (warm)

[2022-09-06 03:45] jmprieur commented on #1869
On rel/v2
Starting test with 1000 users from 1 to 1000 using 2 parallel tasks.
Running for 5 minutes.
------------------------------------------------------------------------
Run time: 9/5/2022 8:36:50 PM - 9/5/2022 8:39:58 PM = 00:03:08.6848702.
Total number of users: 1000 users from 1 to 1000.
Loop: 0
Total requests: 500.
Average request time: 231.3799 ms.
Cache requests: 365.
Average cache time

[2022-09-06 03:48] jmprieur opened #1870 "MicrosoftIdentityOptions should expose ClientCredentials"

[2022-09-06 12:52] MauRiEEZZZ commented on #13
@jmprieur is it correct to assume this scenario, on Blazor Server, should be resolved by catching the exception and let ConsentHandler.HandleException() resolve the situation?

And is there a way to implement the  [AuthorizeForScopes(Scopes = new[] { "scopes" } ] attribute in Blazor pages?
But this solution would still let throws the exception on GetAccessTokenForUserAsync right?

[2022-09-07 02:50] jmprieur commented on #13
Yes @MauRiEEZZZ

The attribute works on MVC controllers, MVC actions, Razor pages and Razor actions.
I have not tested on Blazor pages recently. It did not work in Net 5.0,

Did you try?

[2022-09-08 06:09] MauRiEEZZZ commented on #13
I will build an example that uses the Web Api from https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2 and report the behaviour.

[2022-09-08 17:08] celluj34 commented on #1577
What was the resolution on this? I am running into this right now and would _really_ like to be able to use `AddMicrosoftIdentityWebApi`.

[2022-09-08 18:59] Phenek opened #1872 "[Bug Api] Custom JwtBearer schema name gives empty Claims list"
### Microsoft.Identity.Web Library

Microsoft.Identity.Web

### Microsoft.Identity.Web version

1.25.2

### Web app

Not Applicable

### Web API

Protected web APIs (validating tokens)

### Token cache serialization

Not Applicable

### Description

Hello,

I am trying to signing-in users with two identity providers Azure AD and Azure AD B2C,
but unfortunately I am no able to get Claims from `Http

[2022-09-08 19:51] xubinzheng opened #1873 "[Feature Request] Allow AddDistributedTokenCaches to affect auth code redemption, but not OBO flow"
**Is your feature request related to a problem? Please describe.**
Our service supports both S2S (S2SAuthenticationDefaults) auth schema and also OIDC (OpenIdConnectDefaults) auth schema.
Once we add AddDistributedTokenCaches() onto the OIDC flow, both S2S and OIDC flow starts writing tokens into the distributed token cache, which then causes lots of COGs.

**Describe the solution you'd like**
Ide

[2022-09-12 10:26] warrenbuckley commented on #749
Any update on this @jmprieur or @jennyf19 please ?

[2022-09-13 12:28] domsew opened #1880 "Unexpected errors in multi schemes authorization scenario"
### Microsoft.Identity.Web Library

Microsoft.Identity.Web

### Microsoft.Identity.Web version

1.25.2

### Web app

Not Applicable

### Web API

Protected web APIs (validating tokens)

### Token cache serialization

Not Applicable

### Description

Addition of the `MicrosoftIdentityWebApi` causes many false positive errors to appear in the debug console. After upgrade to the newest version of the

[2022-09-15 21:09] jmprieur commented on #1873
@xubinzheng
Today there are 2 token caches:
- one for the user tokens (Auth code flow redemption and OBO)
- one for the app token (AcquireTokenForApp = ClientCredentials)

You can disable the serialization of one or the other, but not have a specific behavior for OBO. Is it what you are looking for? Usually OBO tokens don't use much unless you have a [long running process](https://github.com/Azure

[2022-09-19 00:24] Marusyk commented on #1436
Hi @jennyf19 do you have some updates on this?

[2022-09-19 18:38] xubinzheng commented on #1873
We are not using long running process.
We set AbsoluteExpirationRelativeToNow to an hour, the distributed memory usage is that high because there are so many requests land on our service.

I think what we are looking for is to split the token cache between auth code flow redemption and OBO.
OBO doesn't really need a distributed token cache, while auth code flow requires a distributed token cache w

[2022-09-19 18:40] xubinzheng opened #1894 "[Feature Request] L2 cache options with SizeLimit"
**Is your feature request related to a problem? Please describe.**
Today the OBO token cache is eating our Redis memory.

**Describe the solution you'd like**
We ware wondering can MSAL has an option to put a size limit on the L2 distributed token cache?
Just like the L1CacheOptions.SizeLimit: https://github.com/AzureAD/microsoft-identity-web/blob/704cd3f8a8db8833888a55623c7d8e686ef6b424/src/Micro

[2022-09-19 20:27] kamilzzz commented on #1164
Isn't this caused by the default `.AspNetCore.Cookies` cookie being set with `SameSite=lax`?
Then front-channel logout from an iframe in Azure AD (B2C) won't work as lax will prevent this.

I am facing the same issue with single sign out using Azure AD. It just doesn't work with lax cookies. Even chrome network debugger is complaining about this:
![image](https://user-images.githubusercontent.com/

[2022-09-20 00:11] jmprieur commented on #1894
@xubinzheng : this is done by the cache eviction policies., for instance this property: https://learn.microsoft.com/en-us/dotnet/api/microsoft.extensions.caching.distributed.distributedcacheentryoptions.slidingexpiration?view=dotnet-plat-ext-6.0#microsoft-extensions-caching-distributed-distributedcacheentryoptions-slidingexpiration

[2022-09-20 03:36] jmprieur commented on #1873
@xubinzheng why OBO does not need a distributed cache?
cc: @jennyf19 @bgavrilMS

[2022-09-24 08:33] plamber opened #1896 "How do I enable token acquisition to call downstream api with a certificate?"
Hello,
we are using the latest version of the library and are trying to register authentication and a call to downstream API using a certificate instead of a client secret.

[code]

I was able to configure a certificate for the authentication, but I am failing to configure it for "EnableTokenAcquisitionToCallDownstreamApi." Apparently, the options only accept a client secret and no certificate.

h

[2022-09-24 21:19] jmprieur commented on #1896
@plamber
What you did in .AddMicrosoftIdentityWebApi is enough.. No need to do anything in EnableTokenAcquisitionToCallDownstreamApi.

[code]

[2022-09-26 03:27] plamber commented on #1896
Hi @jmprieur,
I thought the same first, but I am getting a compilation error when trying to use EnableTokenAcquisitionToCallDownstreamApi without parameters in this specific format.

[code]

Cheers

[2022-09-27 02:52] jmprieur commented on #1896
@plamber : did you try

[code]

[2022-09-28 05:34] plamber commented on #1896
Thank you, @jmprieur,
Works without compilation errors with options passed as you suggested.
It might be misleading, though. Being not required to pass parameters feels more natural.

Thank you for your help,
Patrick

[2022-09-28 16:05] jmprieur commented on #1896
Thanks for the feedback, @plamber. We'll see what we can do to avoid the parameter.

[2022-09-28 16:06] jmprieur commented on #1896
@plamber renamed the title to have it as an enhancement.

[2022-10-03 23:22] xubinzheng commented on #1873
@jmprieur this is also what I have been asking in Teams in the last few months...... here is my understanding:

When OIDC happens, AcquireTokenByAuthorizationCode adds the id token into Redis. Then ASP.NET drops the auth cookie to the client.

And when a API call  (with auth cookie) lands on the server side, in order to make a OBO call for MS Graph, MSAL expect to see an ID token from somewhere, e

[2022-10-03 23:27] xubinzheng commented on #1894
@jmprieur yes, but it doesn't have an option to set the SizeLimit. Who should own this feature ask?

[2022-10-05 15:50] Simkiw commented on #1555
Hi @michiproep and @Tratcher

Could you elaborate a little bit?
Should I add it in identity server startup or my client web app startup?
And if I may ask, what happens behind the scenes that solves this issue?  (if it's not complex to summarize, because I'm reading [the asp doc on it](https://learn.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/?view=aspnetcore-6.0) and it'

[2022-10-05 15:58] Tratcher commented on #1555
Identity server and a web app shouldn't need a shared data protection configuration, they should be able to function independently. You need a shred data protection setup when you have multiple instances of an application running that need to be able to decrypt eachothers cookies, tokens, etc.. Do you have multiple instances of the web app?

[2022-10-06 21:46] neha-bhargava opened #1900 "[Feature Request] Log L1/L2 cache details to TokenCacheNotificationArgs"
Add L1/L2 cache details to TokenCacheNotificationArgs once the cache details parameter is available from MSAL. This will be available when we release MSAL 4.48.0.

This will involve adding which cache was used L1/L2 to fetch the token.
MSAL already captures cache latency.

Ref: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/3596
PR to add cache details in MSAL: https

[2022-10-06 21:49] neha-bhargava opened #1901 "[Feature Request] Allow users of ID.Web to configure an ITelemetryClient"
MSAL has a new API `WithTelemetryClient(ITelemetryClient)` (in the CCA builder0 which should be exposed in Id.Web

MSAL will be generating a few datapoints (slightly larger set than what we use today to send over HTTP)  - see https://microsoft-my.sharepoint-df.com/:w:/p/nebharg/EWrRAFHR6VdGvx5i_-uCZiUBROlxzCXZzLdRUJ8ePTKkgw?e=DUxZaR for details

API details - https://github.com/AzureAD/microsoft-a

[2022-10-06 21:57] jmprieur commented on #1901
@neha-bhargava : should it be a service? (`services.AddTelemetryPipeline<ITelemetryPipeline, Implementation>()`)
would that be a singleton?
What would consume this interface?

[2022-10-06 21:59] neha-bhargava commented on #1901
This is to add the ITelemetryClient to CCA. For the net core apps when a user uses Microsoft.Identity.Web to create the app, setting the ITelemetryClient. Once this is passed in by the user, MSAL logs data to the pipeline.

[2022-10-06 22:06] neha-bhargava commented on #1901
Updated the description to clarify,

[2022-10-09 03:06] jmprieur opened #1906 "[Feature Request] Distributed cache should store the token expiration time to avoid expired tokens in the in-memory cache (which MSAL handles correctly, though)"
**Is your feature request related to a problem? Please describe.**
In this line of code - https://github.com/AzureAD/microsoft-identity-web/blob/bb2d213e11311f4b7c7b217a73d6d26346c34481/src/Microsoft.Identity.Web.TokenCache/Distributed/MsalDistributedTokenCacheAdapter.cs#L187 – distributed cache does not store the token expiration time. The following scenario might lead to expired tokens in the lo

[2022-10-11 21:05] jmprieur opened #1911 "Id.Web OWIN should read Ida:ClientSecret"
### Microsoft.Identity.Web Library

Microsoft.Identity.Web

### Microsoft.Identity.Web version

2.0.2-preview

### Web app

Sign-in users and call web APIs

### Web API

Not Applicable

### Token cache serialization

Not Applicable

### Description

We are missing mapping ida:ClientSecret from Web config to the configuration

### Reproduction steps

1. Create an OWIN web app that calls a web API
2

[2022-10-12 04:35] michiproep opened #1912 "Please update the /wiki/b2c-limitations [Documentation]"
### Documentation related to component

b2c-limitations page
### Please check all that apply

- [ ] typo
- [ ] documentation doesn't exist
- [x] documentation needs clarification
- [ ] error(s) in the example
- [x] needs an example

### Description of the issue

Azure B2C evolved over time.
E.g., clientcredentials flow is now available.

Also, this statement "In other words, with B2C, it's now pos

[2022-10-13 04:45] jwdsalim commented on #771
- [ ]

- [ ]

- [ ]    ##@gfgfgfgfg``

[2022-10-14 20:51] MattHartz commented on #1443
So what is the solution to this @jennyf19  @jmprieur

[2022-10-14 21:11] jmprieur commented on #1443
This was fixed in a later version of Id.Web

[2022-10-22 12:10] TejendraPrasad opened #1929 "Two Web Application - Authentication and Authorization"
### Discussed in https://github.com/AzureAD/microsoft-identity-web/discussions/1925

<div type='discussions-op-text'>

<sup>Originally posted by **TejendraPrasad** October 21, 2022</sup>
Hi All,

**Sorry to create as issue - It's a question and need some guidance.**

I am looking for an example to authenticate and authorize two .NET Core MVC Web Applications to communicate with one another.

**Exa

[2022-10-30 12:50] dguerin opened #1948 "[Feature Request] Automatically populate the ClaimsPrincipal on ITokenAcquisition.GetAccessTokenForUsersAsync when call from an OpenIdConnectEvents"
**Is your feature request related to a problem? Please describe.**
I'm working through my first implementation of using Azure B2C and using a SignInSignUp Policy. Given Azure B2C is the source of truth I want to sync it's user representation with a representation I have of the user in my application. From there I use the local identity for authorisation requirements.

However, I have noticed that

[2022-11-01 03:30] DaemonWalker opened #1950 "Where can I find the URL of getting token from Azure AD?"
Hi guys,

Currently, we want to create a project with react web app and .net core web API. and we want to put call azure AD at backend because of safety.

I found SDK for web API, but it doesn't provide methods like calling an OpenId server, so we want to make it with IdentityClient, how can I find the URL for get code and token?

[2022-11-01 17:54] jmprieur commented on #1950
I don't understand your question, @DaemonWalker.
ASP.NET Core and Microsoft.Identity.Web do it for you.

Where would you use this URL? a web API is not a web app. But you can have a service which is both

[2022-11-02 07:43] DaemonWalker commented on #1950
Hi @jmprieur
Sorry for the inconvenience, I have found the guide for Azure Active Directory Oauth2.0 flow.
By the way, the question was I have a react web app and a .net core web API, is there's any .Net WebAPI SDK for Oauth2.0 flow?
Forgive my poor English T_T

[2022-11-02 17:54] jmprieur commented on #1950
yes, @DaemonWalker: this would be Microsoft.Identity.Web (This library)
See https://github.com/AzureAD/microsoft-identity-web/wiki/web-apis

[2022-11-03 00:31] DaemonWalker commented on #1950
Understood, great appreciate @jmprieur!
I'll close the issue

[2022-11-03 00:31] #1950 closed

[2022-11-03 11:30] konradZi opened #1953 "[Bug] Under CallWebApiForAppAsync hardcoded scope in ManagedIdentityClientAssertion"
### Microsoft.Identity.Web Library

Microsoft.Identity.Web.CertificateLess

### Microsoft.Identity.Web version

1.25.5

### Web app

Not Applicable

### Web API

Protected web APIs call downstream web APIs

### Token cache serialization

Not Applicable

### Description

In Certificateless approach, there is hardcoded scope in ManagedIdentityClientAssertion.  From my understanding, it should be con

[2022-11-03 17:08] jmprieur commented on #1953
@konradZi
your requirement is a bit different. you'd like Id.Web to use the token acquired with Azure SDK to call your downstream web API. What the feature you attempted to use does is use the token acquired specifically from Managed identity (deployed in a compute environment supporting Managed Identity) as a signed assertion which is presented as client credentials (it's an alternative to certif

[2022-11-08 14:32] slubowsky opened #1956 "Unable to install either 2.0.4-preview or 2.0.5-preview"
### Microsoft.Identity.Web Library

Microsoft.Identity.Web

### Microsoft.Identity.Web version

2.0.5-preview

### Web app

Not Applicable

### Web API

Not Applicable

### Token cache serialization

Not Applicable

### Description

try to install 2.0.5-preview or 2.0.4-preview get error about missing package Microsoft.Identity.Web.Diagnostics

### Reproduction steps

run `NuGet\Install-Package Mi

[2022-11-08 16:32] #1956 closed

[2022-11-08 21:31] RbsTechOnline opened #1957 "UpdateMergedOptionsFromMicrosoftIdentityOptions Collection was modified; enumeration operation may not execute."
### Microsoft.Identity.Web Library

Microsoft.Identity.Web

### Microsoft.Identity.Web version

1.25.5

### Web app

Sign-in users and call web APIs

### Web API

Protected web APIs (validating tokens)

### Token cache serialization

Not Applicable

### Description

Fist call to web api is causing an error an

`Collection was modified; enumeration operation may not execute`

in

`internal static v

[2022-11-09 00:21] jmprieur commented on #1957
Thanks @RbsTechOnline
is it an option for you to try out Microsoft.Identity.Web 2.0.5-preview ?
We believe this is fixed there.

[2022-11-09 00:22] RbsTechOnline commented on #1957
@jmprieur it sure is, ill try and report back. Thanks

[2022-11-09 00:26] jmprieur commented on #1957
Thanks @RbsTechOnline
cc: @jennyf19

[2022-11-09 06:08] #1953 closed

[2022-11-09 08:48] bosteelsd commented on #1740
We would really like this for our project too.

[2022-11-09 21:33] jenergm opened #1959 "Protecting Web API with Azure B2C Throws a Bearer error="invalid_token" With Insufficient Log Information."
### Microsoft.Identity.Web Library

Microsoft.Identity.Web

### Microsoft.Identity.Web version

1.25.0

### Web app

Not Applicable

### Web API

Protected web APIs (validating tokens)

### Token cache serialization

Not Applicable

### Description

Dear all,

We had 2 applications registered in Azure B2C.
* Daemon Application (for ClientId and Client Secret)
* Web API Application

Application Dae

[2022-11-10 01:22] jmprieur commented on #1959
@jenergm
For a B2C application the authority should not be [https://login.microsoftonline.com/{{tenant}}/oauth2/v2.0/token]

but something like https://domain.b2clogin.com/domain/policy

[2022-11-10 14:42] bartdebever commented on #1957
Currently running into the same issue, tried the 2.0.5-preview package but the same exception still occurs

[2022-11-10 17:11] jennyf19 commented on #1957
@bartdebever Does the error happen in .NET 6 as well?

[2022-11-10 18:04] jmprieur commented on #1959
@jenergm: do you have some documentation about B2C web APIs?
I don't understand why their authority would be an AAD authority.

What authority (instance/tenant) do you use in the configuration of your B2C web API?

[2022-11-10 18:47] jennyf19 commented on #1957
@RbsTechOnline and @bartdebever I'm not able to repro on .NET 6 or .NET 7. can you provide exact repro steps, I tried to mimic what @RbsTechOnline did by replicating what he has provided above, but could be missing a key part. I'm running our web app calls web API calls graph sample.

[2022-11-10 18:55] bartdebever commented on #1957
This used to work within .NET 6, same package version. I'll attempt to reproduce the issue myself within a new project on GitHub as I, unfortunately, can't share the source for the actual project.

[2022-11-11 06:53] RbsTechOnline commented on #1957
Hi @jennyf19 I can verify the same error in `Microsoft.Identity.Web 2.0.5-preview`

I do note the stack trace is slightly different,

[code]

I cant seem to find the 2.0.5-preview tag to download the source.

However, as soon as i get a chance, I'll try to get repro if one isn't already tendered

[2022-11-11 08:22] Eneuman commented on #1957
We have the same issue

[2022-11-11 13:22] evandromendonca commented on #1957
Hi guys, I am having the same issue here.  Did anyone find something around it?

[2022-11-11 22:29] jmprieur commented on #1957
@bartdebever, @bartdebever @Eneuman @RbsTechOnline @evandromendonca
Does one of you has repro steps?

Do you configure claims actions?

[2022-11-13 14:44] evandromendonca commented on #1957
Hi guys, hi @jmprieur.

Unfortunately, I don't have repo with repro steps. But I could narrow down the issue to Swagger "Swashbuckle.AspNetCore".

The issue was that the `UseSwagger` code must be after the `UseAuthentication` and `UseAuthorization` for some reason. I had it the other way around.

So this did the trick for me:
[code]

I didn't have the time to drill down exactly what was causing th

[2022-11-13 16:19] billyjacobs2014 commented on #1957
I was experiencing the same problem consistently after upgrading from .net 6 to .net 7. I have a React client with a .net 7 api. When the application loaded the first time by entering in the URL into the browser and hitting the enter key it all worked as expected. If I then click the browser refresh button, I was getting the same error above. As long as I hit the refresh button, I would get the sa

[2022-11-13 21:00] jennyf19 commented on #1957
Thanks for all the suggestions and repro steps. Does anyone want to see if this [branch](https://github.com/AzureAD/microsoft-identity-web/tree/jennyf/1957) resolves the issue? I'm still working on a repro of the issue.
@RbsTechOnline @billyjacobs2014 @bartdebever @evandromendonca @Eneuman

[2022-11-14 12:34] mekk1t commented on #115
I encountered the same situation using `OpenIdConnect` though.
This suggestion:
[code]
worked for me. Confirmed.

[2022-11-14 12:34] magols commented on #1957
@jennyf19  I have notable problems with this in development of a Serverside Blazor and and mostly when app is restarted during hot reload.

Using the branch https://github.com/AzureAD/microsoft-identity-web/tree/jennyf/1957 I still have the issue unfortunately.

I am not well versed in this type of code but I noted that the `(!mergedOptions.ClaimActions.Contains(claimAction)) `does not behave as s

[2022-11-14 17:21] Eneuman commented on #1957
I think contains will check if the exact instance exists in the collection so if any claims mapping has been done, this will probably fail. A more robust implementation would be to check if the claim type and value are the same.

[2022-11-14 22:14] jennyf19 commented on #1957
@magols and @Eneuman the branch has been updated, are the issues resolved? I still cannot manage to repro it, so in order to determine a different fix, I will need clear repro steps. Thanks

[2022-11-15 01:12] magols commented on #1957
@jennyf19 the good news is that the fix no longer produces an error merging the ClaimsActions here:
https://github.com/AzureAD/microsoft-identity-web/blob/ecab0d82faba6f866e96e3e8824e29953dc6600d/src/Microsoft.Identity.Web.TokenAcquisition/MergedOptions.cs#L74

The bad news is that we just moved the same type of error to line 214 and the merging of Scopes

https://github.com/AzureAD/microsoft-iden

[2022-11-15 01:35] magols commented on #1957
I think I am able to force the error to occur in a brand new Blazor application. I don't know if this is considered "clear repro steps" but...

1. Create a new .NET 7 Serverside Blazor app with Microsoft Identity Platform.
2. Start app in a terminal with dotnet watch run, preferably with a few duplicate browser tabs opened. (I have one Incognito window logged in also)
3. In terminal press Ctrl-R t

[2022-11-15 04:40] jennyf19 commented on #1957
@magols Those steps helped a lot. I have updated the branch.

[2022-11-15 16:31] jmprieur commented on #1957
@billyjacobs2014 what do you mean not on a branch? It's in [jennyf/fix1957](https://github.com/AzureAD/microsoft-identity-web/tree/jennyf/fix1957)

[2022-11-16 03:25] jennyf19 commented on #1957
The issue is fixed in [1.25.6](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.25.6) based on the repro provided by @magols.

[2022-11-16 03:27] jennyf19 commented on #1957
Going to reopen, as I need to apply to rel/v2 and release there as well.

[2022-11-16 06:09] magols commented on #1957
Using the  https://github.com/AzureAD/microsoft-identity-web/tree/jennyf/fix1957 branch I still sometimes get the error from line 214.

[code]

[2022-11-16 09:49] bartdebever commented on #1957
Unfortunately, I'm still getting the same error using version 1.25.6 but only if there are multiple requests going to the API.
If I use Swagger to do a single request the exception does not occur, if I let the frontend do the first requests, the exception occurs twice.

[code]

[2022-11-16 13:28] MGD-dev commented on #1957
I was having the same issue on my API for a Blazor WASM project after updating to .net 7.
Oddly enough I had updated 2 projects and only 1 was having the issue.
The project that was not having the issue makes a single API call on startup before any other calls can be made to gather user permissions.
For me and as @magols stated it seems the issue occurs when multiple API calls are made on startup.

[2022-11-16 13:29] Moin11786 opened #1965 "[Feature Request] Parameterise the callbackUrl for SignOut"
**Is your feature request related to a problem? Please describe.**
When signing out of an application, the default Razor Page that gets redirected to post-logout is "/Account/SignedOut", which is hardcoded into the AccountController's SignOut method.  As it is hardcoded, it is difficult to then overwrite it if the consuming app needs to do something else/go elsewhere.

**Describe the solution you'

[2022-11-17 16:03] #1929 closed

[2022-11-17 16:03] TejendraPrasad commented on #1929
Found Solution.

[2022-11-18 05:46] jmprieur commented on #1957
We believe we have a fix, which we'll release tomorrow PST.

[2022-11-18 09:06] javiercn opened #1968 "MicrosoftIdentityOption.ReturnUrlParameter does not appear to work"
---
**Issue moved from dotnet/aspnetcore#45024**
- Please respond to @ShaunCurtis.

---

_From @ShaunCurtis on Friday, November 11, 2022 10:19:49 AM_

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

[Most likely a documentation problem on how it works]

Context: Blazor Server Template with Authentication in VS2022.  Application running in

[2022-11-18 09:06] javiercn commented on #1968
---
**Issue moved from dotnet/aspnetcore#45024**
- Please respond to @javiercn.

---

_From @javiercn on Friday, November 11, 2022 10:28:29 AM_

@ShaunCurtis thanks for contacting us.

/cc @jmprieur

[2022-11-18 10:08] udaykiran1105 commented on #1803
I encountered the same issue (ITokenAcquisition.GetAccessTokenForUserAsync works but IDownstreamWebApi.CallWebApiForUserAsync doesn't) on a controller action.

As for the onTokenValidated(), I've found that overriding it with our own code skips the default available in the library where it sets this item in the HttpContext: "JwtSecurityTokenUsedToCallWebAPI". At the time of the token acquisition c

[2022-11-18 10:09] udaykiran1105 commented on #1803
@jmprieur Any further update on this investigation?

[2022-11-18 13:22] jenergm commented on #1959
Hi @jmprieur,

Now my Web API B2C works properly.

Here is the correct code.

    \****************************************************** Startup.cs ******************************************************\
    public void ConfigureServices(IServiceCollection services)
    {
        services.AddAuthentication(JwtBearerDefaults.AuthenticationScheme)
                .AddJwtBearer(options =>

[2022-11-18 18:10] jennyf19 commented on #1957
+1 to @f1nzer

[2022-11-18 18:34] jennyf19 commented on #1957
1.25.7 is released. We will release the fix in v2-preview as well.

[2022-11-18 19:16] rvplauborg opened #1970 "DownstreamWebApiOptions.Clone does not include CustomizeHttpRequestMessage"
### Microsoft.Identity.Web Library

Microsoft.Identity.Web

### Microsoft.Identity.Web version

1.25.5

### Web app

Sign-in users and call web APIs

### Web API

Protected web APIs call downstream web APIs

### Token cache serialization

In-memory caches

### Description

`DownstreamWebApi.CallWebApiForUserAsync` implementation currently merges options from initial configuration and `calledApiOpt

[2022-11-19 00:40] jmprieur commented on #1970
Thanks @vplauborg

[2022-11-19 03:51] jmprieur commented on #1959
Thanks for the update, [energm](https://github.com/jenergm)
Closing the issue

[2022-11-19 03:51] #1959 closed

[2022-11-19 05:13] rvplauborg commented on #1970
Thanks for merging my fix so quickly. When do you reckon the change will be released just out of curiosity?

[2022-11-19 05:18] jmprieur commented on #1970
We'll try to release it tomorrow, @rvplauborg

[2022-11-19 05:53] rvplauborg commented on #1970
@jmprieur amazing. Thanks!

[2022-11-20 03:40] jennyf19 commented on #1970
Included in [1.25.8](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.25.8) thanks for the contribution @rvplauborg
We will also include this in 2.x-preview in the next release, either today or tomorrow.

[2022-11-20 03:40] #1970 closed

[2022-11-21 08:41] f1nzer commented on #1957
@jennyf19 @jmprieur
Unfortunately, the issue was not fixed. The problem might be reproduced on the same test using v1.25.8, just run it a couple of times.
Stacktrace:
[code]

[2022-11-21 16:12] jmprieur commented on #1957
which same test? you mean the unit test? or the test with dotnet watch?

[2022-11-21 16:50] slubowsky commented on #1957
@jennyf19 @jmprieur Just FYI, in my API, it used to happen (beginning after upgrade to .NET 7) every time it started up (when hit first from web app - multiple connections at once, no issues when hit first from single swagger connection, as documented [above](https://github.com/AzureAD/microsoft-identity-web/issues/1957#issuecomment-1316707427))
Using 2.0.6-preview, it now works about 50% of the t

[2022-11-21 17:01] f1nzer commented on #1957
It can be reproduced with the same unit test I sent you before.

[2022-11-22 13:36] luismanez opened #1976 "Unable to read Certificate from KeyVault when running in MacOS (M2 chip)"
### Microsoft.Identity.Web Library

Microsoft.Identity.Web

### Microsoft.Identity.Web version

1.25.1

### Web app

Not Applicable

### Web API

Protected web APIs call downstream web APIs

### Token cache serialization

Distributed caches

### Description

I have a web api secured by AAD that calls Microsoft Graph API (downstream API).

[code]

To call Graph, I'm using a Certificate in Azure Key

[2022-11-23 13:42] jsquire opened #1977 "requiredScope Any or All check for scopes"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#32647](https://github.com/Azure/azure-sdk-for-net/issues/32647).

### Please be aware that @1Jesper1 is the author of the original issue and include them for any questions or replies.

## Details

Does the requiredScope attribute do an Any or All check for the scopes?

---
#### Document Details

⚠ *Do not e

[2022-11-23 13:42] mschaefer-gresham opened #1978 "How to silently renew Id Token using AddMicrosoftIdentityWebAppAuthentication to Call Downstream API"
I am trying to implement the BFF-Gateway pattern (no tokens in the browser) to be used with a React SPA. The BFF is using AddMicrosoftIdentityWebAppAuthentication to handle login and issue a cookie to the SPA. And it is using YARP to proxy api requests to a downstream api. I'm using Azure B2C. Everything works perfectly until the BFF id_token expires in 1 hour. At that point, fetching the downstre

[2022-11-23 14:30] 1Jesper1 commented on #1977
I did some research:

1. If only 1 scope exists => allow
`[RequireScope("test", "example")] `

2. Only 1 scope exist => allow
[code]

3. Both scopes must exist => allow
[code]

Is this true @jsquire ?

[2022-11-23 14:45] 1Jesper1 commented on #1977
@jsquire Ah, I see.

[2022-11-24 20:12] TejendraPrasad commented on #1315
Any Update on this?

[2022-11-28 16:57] jennyf19 commented on #1957
@f1nzer we have a fix in master now, I'm not able to repro it with the test you provided, even with 100k concurrent calls.

[2022-11-28 19:02] jmprieur opened #1980 "Rename PodIdentity to Azure workload identity for kubernetes"
### Microsoft.Identity.Web Library

Microsoft.Identity.Web.CertificateLess

### Microsoft.Identity.Web version

2.x-preview

### Web app

Not Applicable

### Web API

Not Applicable

### Token cache serialization

Not Applicable

### Description

From Uday:
the doc Id.Web 2.x wiki is a bit confusing, since PodIdentity has been deprecated by AKS. And it is really Azure workload identity that suppor

[2022-11-28 19:02] jmprieur commented on #1980
@keegan-caruso FYI (same feature, but renaming)

[2022-11-29 10:12] bartdebever commented on #1957
I want to confirm that as of the latest release (1.25.9), this issue has indeed been fixed and working in a production scenario.

[2022-11-29 18:01] jmprieur commented on #1957
Thanks for confirming @bartdebever
and thanks everybody for your help!

[2022-11-29 18:01] #1957 closed

[2022-11-29 18:03] jmprieur commented on #1978
@mschaefer-gresham : did you see this article?
https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access

It should provide you ideas on how to handle your scenario.

[2022-11-29 18:09] mschaefer-gresham commented on #1978
@jmprieur Thank you. I did read that article, but wasn't sure it was solving the same problem. Is it the [Handling incremental consent or conditional access in web APIs](https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access#handling-incremental-consent-or-conditional-access-in-web-apis) section that I should focus on?

[2022-11-29 18:14] rafaelcaviquioli commented on #971
I have the following configuration, AzureAdB2C is set as default, but when I open the application, I'm forwarded to AzureAdB2C signin page.

I would expect that when the user tries to open a not public page, it is forwarded to the auth provider configured in the default scheme.

[code]

I also have this policy configured:

[code]

[2022-11-29 18:20] jmprieur commented on #1978
note quite. You are building an ASP.NET Core web app?. You'd want to use this section: https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access#handling-incremental-consent-or-conditional-access-in-web-apps

[2022-11-29 18:43] mschaefer-gresham commented on #1978
Yes, I'm building a webapp, but the example seems to require/assume that you aquire the downstream token (_tokenAcquisition.GetAccessTokenForUserAsync(scopes)) from inside a controller decorated with [AuthorizeForScopes], which "processes the MSAL.NET MsalUiRequiredException to handle conditional access and incremental consent".

I'm not calling GetAccessTokenForUserAsync(scopes) from inside a con

[2022-11-29 21:52] petedishman commented on #1957
The linked merged request #1979 is still open and not merged to master yet? And the source code download for the 1.25.9 release doesn't show it either.

Has this actually not been resolved in the latest nuget release or have I misunderstood something?