[2021-05-06 15:42] jmprieur commented on #470
@tedvanderveen, I think that this is because you don't need to do anything in the B2C app registration, in order to enable PKCE in a B2C web app.

So, no. don't add "Single Page application". It would only work with blazorwasm applications or MSAL.js applications.

[2021-05-06 15:59] jennyf19 commented on #470
@jmprieur is correct, you shouldn't have to do anything as app developer using Microsoft Identity Web to enable PCKE, it's on by default and your app should just work as it did before, with no code or registration changes.

[2021-05-06 16:23] jmprieur commented on #814
Closing as this is a service limitation (documented)

[2021-05-06 16:23] #814 closed

[2021-05-06 16:27] jmprieur commented on #1087
@rellis-of-rhindleton : what about IDownstreamWebAPI? doesn't it do something similar?

[2021-05-06 20:43] kculpepperhpc commented on #758
I added the Razor Page (that wasn't specified might I add) and it makes me log back in before displaying the page because the page doesn't allow anonymous access.  How is that done?

[2021-05-06 23:59] rellis-of-rhindleton commented on #1087
I want to use the typical/idiomatic HttpClient configuration approach in Startup.cs. IDownstreamWebAPI seems to not allow that sort of customization. I may have missed something, though.

Using ITokenAcquisition it’s easy to build a simple handler that gets a token as needed for a downstream resource, which can be plugged in to the configuration of an HttpClient along with whatever other handlers

[2021-05-07 09:16] jmprieur commented on #1087
@rellis-of-rhindleton. I understand better. Thanks for clarifying.
So I think it's a duplicate of https://github.com/AzureAD/microsoft-identity-web/issues/1131

BTW, in https://github.com/rellis-of-rhindleton/token-acquisition-handler#appsettingsjson-or-other-configuration, I don't understand why would would want you express which flow to use? Microsoft.Identity.Web abstracts this out for you, you

[2021-05-07 11:28] jmprieur commented on #758
@kculpepperhpc : If you have an [Authorize] attribute, you'll be ask to log-in

[2021-05-07 12:14] rellis-of-rhindleton commented on #1087
It does seem to be the same, yes.

I’m not sure I understand the list of options you posted in your comment there... I would only suggest that the handler be available for use without too much abstraction surrounding it. I’m a fan of convenience classes when appropriate, but the need to plug in multiple handlers and control HttpClient configuration seems to come up a lot.

As far as specifying the

[2021-05-09 09:24] DickBaker opened #1185 "[Documentation] typo in README.md"
### Documentation related to component
README.md includes text ...
Option 2: build and install from the repository
You can clone the repository, build the tool and install the tool from the repository;

git clone https://github.com/AzureAD/microsoft-identity-web
cd tools\app-provisionning-tool

so for "app-provisionning-tool" [too many N] read "app-provisioning-tool"
### Please check all that appl

[2021-05-10 08:09] santosh-jallapuram opened #1190 "[Bug] No authenticationScheme was specified, and there was no DefaultChallengeScheme found in 1.9.2 release"
Hi,

I am getting `No authenticationScheme was specified, and there was no DefaultChallengeScheme found` issue in version 1.9.2. I literally have no changes apart from package upgrade.

Here is the full error.

`{"ClassName":"System.InvalidOperationException","Message":"No authenticationScheme was specified, and there was no DefaultChallengeScheme found. The default schemes can be set using either

[2021-05-10 08:39] jmprieur commented on #1190
@santosh-jallapuram thanks for the heads-up.
Do you have repro steps?

[2021-05-10 14:00] santosh-jallapuram commented on #1190
@jmprieur I do not have separate repro steps. But am using Azure AD Cookie based login in a .Net 5 MVC app.

Here is the code that am using.

        services
        .AddAuthentication(o =>
        {
            o.DefaultScheme = CookieAuthenticationDefaults.AuthenticationScheme;
            o.DefaultChallengeScheme = OpenIdConnectDefaults.AuthenticationScheme;
        })
        .AddMicrosoftIde

[2021-05-10 14:59] santosh-jallapuram commented on #1190
I tried your code @jmprieur

But unfortunately am getting this error.  Not sure if I am referring to the correct package.

Startup error
![image](https://user-images.githubusercontent.com/10022914/117678351-f06c3480-b1cc-11eb-919c-ec04f67ec17f.png)

AuthenticationServiceCollectionExtensions
![image](https://user-images.githubusercontent.com/10022914/117678443-0548c800-b1cd-11eb-846b-330c5287d142.p

[2021-05-11 02:43] jennyf19 commented on #1155
closing as not related to MS Id web, but @Ricky1997 , we can continue the conversation here if needed.

[2021-05-11 02:43] #1155 closed

[2021-05-11 09:54] jmprieur commented on #1190
@santosh-jallapuram.

Just try this following:

[code]

[2021-05-11 10:47] tedvanderveen commented on #470
@Ponant yes it just works!

[2021-05-11 10:54] Ponant commented on #470
Razor pages? It does not work locally, but I just implemented so I will check further.

[2021-05-11 12:33] Ponant commented on #470
If I do this (with razor pages .net 5 b2c, upgraded to latest nuget 1.9.2), then I do not get the code_challenge sent out

[2021-05-11 13:03] Ponant commented on #470
I can confirm anew. I tested several options (even knowingly that it won't work).

In the portal, with a web option:

If I disable implicit grant (Access and idtokens checkboxes) I get the error (before login flow). And Url has no code_challenge

**AADB2C90057: The provided application is not configured to allow the 'OAuth' Implicit flow.**

If I enable only ID tokens (used for implicit and hybrid

[2021-05-11 14:54] jennyf19 commented on #1185
thanks @DickBaker

[2021-05-12 16:37] flipch commented on #814
@jmprieur Can  you provide guidance on whether or not this applies  to just B2C or also normal Azure AD?

I'm trying to setup my server side  blazor app with the conditional access handler for both GRAPH and Azure ARM API's and eithe struggling with not being able to request two resources with same token or not getting the consent handler for the azure arm scopes.

Would  you prefer if I opened a

[2021-05-12 16:53] nickgmicrosoft commented on #814
I believe this applies to both AAD and B2C. You can only get an AT one at a time. I think the recommended approach is to get a refresh token and then redeem it multiple times for the different resources needed, one at a time.

[2021-05-12 17:49] flipch commented on #814
@nickgmicrosoft Maybe I'm confusing this issue with  mine. I'm not trying to get an access token that can access both Graph and ARM.

My struggle is that the consent  handler isn't retrying to get the correct scopes or at  least doesn't succeed to. I've also struggled to find an example that sets up blazor server with more than just a call to Grap API

[2021-05-12 18:39] nickgmicrosoft commented on #814
Not sure what you mean by consent handler. To things to note that may be relevant to your scenario:
- user tokens generated by Azure AD B2C user flows/policies cannot be used against Microsoft Graph (or ARM).
- user authentications using Azure AD B2C user flows/policies do not support user consent. That is, permissions must have admin consent.

Not sure if that's relevant to your scenario but just

[2021-05-12 18:39] flipch commented on #814
Thank you @nickgmicrosoft. Your edit pointed me in the right direction.

This made me look at which version Identity.Web I was using and it was 1.1.0
I believe this is the default for people using the `dotnet new blazorserver --auth stuff` command. Perhaps that oughta be updated, albeit not under your scope :)

[2021-05-12 22:12] cmatskas commented on #814
@flipch check out some of the streams we have on the [#425Show](https://aka.ms/425Show).

https://www.youtube.com/watch?v=smlqDVpDuq0
https://www.youtube.com/watch?v=naK0RZhvNAs

[2021-05-13 14:32] DOMZE opened #1194 "[Bug] MicrosoftGraphExtensions: GraphServiceClient is added to the DI container as the TImplementation, TImplementation, not TService, TImplementation"
**Which version of Microsoft Identity Web are you using?**
Microsoft.Identity.Web 1.9.2
Microsoft.Identity.Web.MicrosoftGraph 1.9.2

**Where is the issue?**
* Other (please describe)
The GraphServiceClient is added to the DI as `<GraphServiceClient,GraphServiceClient>` as seen in https://github.com/AzureAD/microsoft-identity-web/blob/master/src/Microsoft.Identity.Web.MicrosoftGraph/MicrosoftGraphE

[2021-05-14 08:15] shangec commented on #554
Hi @abhisheksiddhu ,

When you adding the 'SignedOut.cshtml' page for the asp.net core project, did you added the 'AccountController'?

I've tried your approach and created the SignedOut.cshtml but I get the following error,
![image](https://user-images.githubusercontent.com/52879952/118241956-56a7ce80-b4cf-11eb-9a13-aa6ac239f3a6.png)

Can you give me a response when you are free, thanks.

[2021-05-14 08:23] jmprieur commented on #1194
Duplicate of https://github.com/AzureAD/microsoft-identity-web/issues/860 and https://github.com/AzureAD/microsoft-identity-web/issues/625

@DOMZE, please see the [comment here](https://github.com/AzureAD/microsoft-identity-web/issues/625#issuecomment-702765953), this is against the recommendation from the Graph SDK team. Closing as by-design.
cc: @darrelmiller

[2021-05-14 08:23] #1194 closed

[2021-05-14 09:55] shangec commented on #758
Hi @witheej ,

Can you show me how to modify the namespance?

And mine is 'RPA.SOX.Web.Areas.MicrosoftIdentity.Pages.Account'.

![image](https://user-images.githubusercontent.com/52879952/118254331-8fe73b00-b4dd-11eb-873b-360ec09b5ed4.png)

[2021-05-14 11:19] witheej commented on #758
@shangec You got it. And in `SignedOut.cshtml` you should have:

[code]

[2021-05-14 16:27] jennyf19 commented on #814
@jkears @jpda @flipch @cmatskas this has been addressed on the B2C side, so should be working now.
cc: @nickgmicrosoft

[2021-05-14 19:55] abhisheksiddhu commented on #554
@shangec it's a razor page not an mvc controller, have you added 'addrazorpages' in startup, also the route in screenshot is '/account/signedout' whereas it should be within the 'microsoftidentity'

[2021-05-17 04:14] shangec commented on #758
Hi @witheej ,

I followed your advice and the project also used the custom page.

But there has a strange thing, when I sign out the account, it redirect to a sign in page, the steps as follow.

1.
![image](https://user-images.githubusercontent.com/52879952/118431509-1d5aa300-b709-11eb-8366-53f6458febaf.png)

2.
![image](https://user-images.githubusercontent.com/52879952/118431521-22b7ed80-b709-11

[2021-05-17 06:11] shangec commented on #758
Problem resolved, thanks.

[2021-05-17 06:14] shangec commented on #554
Thanks for your reply @abhisheksiddhu , resolved it.

[2021-05-17 14:17] martooooo opened #1197 "[Bug] Microsoft.Identity.Web.Resource.RequiredScopeFilter 's constructor could not be located when read config from appsettings"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.9.2

**Where is the issue?**
Protected web APIs (validating scopes)

**Is this a new or an existing app?**
This is a new app or an experiment.

**Repro**

[code]

**Expected behavior**
We expect an 401 or 403 response, depending on if the user is authenticated / authorized.

**Actual behavior**
InvalidOperationExce

[2021-05-17 14:53] jennyf19 commented on #956
included in [1.10.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.10.0)

[2021-05-17 14:53] #956 closed

[2021-05-18 12:38] newbiedev123 opened #1198 "No account or login hint was passed to the AcquireTokenSilent call - in authorization filter when calling downstream API in a n - tier ASP.Net Core Application"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.10.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users and call web APIs

**Is this a new or an existing app?**

c. This is a new app or an experiment.

**Repro**

[code]

**Expected behavior**

The application(using Microsoft.Identity.Web) does the authentication and calls the Downstream API. The code for

[2021-05-18 13:26] newbiedev123 opened #1199 "[Bug]Azure AD Application Gateway redirect to /signin-oidc which return 404"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.10.0

**Where is the issue?**
* Web app

**Is this a new or an existing app?**

c. This is a new app or an experiment.

**behavior**
I am working on a ASP.net core 3.1 application which works fine on localhost and on our private network. But we want to make it  available to some people outside our network, so we ar

[2021-05-18 14:05] jmprieur commented on #1199
@newbiedev123
Could you please try:

[code]

[2021-05-18 14:41] newbiedev123 commented on #1199
@jmprieur , thanks for your reply.
I tried your code. I am not sure if I am missing something, but I am getting an error.
![image](https://user-images.githubusercontent.com/81688354/118671582-84eb1e00-b7ef-11eb-9e17-5ebdc54d7214.png)

[2021-05-18 15:08] newbiedev123 commented on #1199
@jmprieur ,pardon my limited knowledge in Application gateway, but is it a linux container?

[2021-05-19 10:32] newbiedev123 commented on #1199
@jmprieur I tried adding the ASPNETCORE_FORWARDEDHEADERS_ENABLED key in the appsettings of the appservice. But that too did not work.

When I launch the App Gateway URL, it tries to login and then gets redirected to {internalurl}/signin-oidc, which returns a 404. I think it is correct because that is set as the reply url. But doesn't that happens internally.

I mean when I launch the internal url,

[2021-05-19 15:53] jennyf19 commented on #1199
@newbiedev123 did you add this in Configure:
`app.UseForwardedHeaders();`

[2021-05-20 07:01] newbiedev123 commented on #1199
@jmprieur , yes I did.
![image](https://user-images.githubusercontent.com/81688354/118933785-87f62380-b941-11eb-82cf-a44f39224dc5.png)

[2021-05-20 15:10] jennyf19 commented on #1199
@Tratcher can you help with this one? thanks.

[2021-05-20 16:24] Tratcher commented on #1199
@newbiedev123 I think your scenario requires ForwardedHeaders.XForwardedHost so it can generate urls using the external host.

[code]

You can check the troubleshooting output from [here](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-5.0#troubleshoot) to make sure the gateway is sending you an X-Forwarded-Host header.

[2021-05-21 08:30] newbiedev123 commented on #1199
@Tratcher I tried ForwardedHeaders.XForwardedHost, but that did not work. I will go through the troubleshooting document and let you know.

Just one quick question. I was under the impression when we add ASPNETCORE_FORWARDEDHEADERS_ENABLED appsetting parameter in the Azure Portal the middleware will be automatically added and I will not have to add the header code in the StartUp.cs. Is that not th

[2021-05-21 16:42] Tratcher commented on #1199
Yes it should, though that doesn't include X-Forwarded-Host by default.
https://github.com/dotnet/aspnetcore/blob/72444f90d1e9cb8ff2e7364168eea9baec6e8e92/src/DefaultBuilder/src/WebHost.cs#L247-L258

[2021-05-24 14:42] Lex45x opened #1209 "[Feature Request] Merge AadIssuerValidatorOptions class into MicrosoftIdentityOptions"
# The Problem

Our AspNetCore application is hosted 'on-premises'. The purpose of the app is internal financial reporting.
Because of that we have plenty of Firewall rules that are outside of my team's control.

One day we spotted, that occasionally, some of the requests to get `IssuerMetadata` reached HttpClient default timeout of 100s. The problem is related to internal routing and can occur int

[2021-05-24 16:47] jennyf19 commented on #1209
thanks for all the details @Lex45x

[2021-05-24 21:29] jennyf19 commented on #549
Included in [1.11.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.11.0) and [documentation here](https://github.com/AzureAD/microsoft-identity-web/wiki/Multiple-Authentication-Schemes).

[2021-05-24 21:29] #549 closed

[2021-05-24 21:29] jennyf19 commented on #429
Included in [1.11.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.11.0) and [documentation here](https://github.com/AzureAD/microsoft-identity-web/wiki/Multiple-Authentication-Schemes).

[2021-05-24 21:29] jennyf19 commented on #958
Included in [1.11.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.11.0) and [documentation here](https://github.com/AzureAD/microsoft-identity-web/wiki/Multiple-Authentication-Schemes).

[2021-05-24 21:29] #958 closed

[2021-05-24 21:29] jennyf19 commented on #1126
Included in [1.11.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.11.0) and [documentation here](https://github.com/AzureAD/microsoft-identity-web/wiki/Multiple-Authentication-Schemes).

[2021-05-24 21:29] #1126 closed

[2021-05-24 21:29] jennyf19 commented on #971
Included in [1.11.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.11.0) and [documentation here](https://github.com/AzureAD/microsoft-identity-web/wiki/Multiple-Authentication-Schemes).

[2021-05-24 21:29] #971 closed

[2021-05-24 21:29] jennyf19 commented on #173
Included in [1.11.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.11.0) and [documentation here](https://github.com/AzureAD/microsoft-identity-web/wiki/Multiple-Authentication-Schemes).

[2021-05-24 21:29] #173 closed

[2021-05-24 21:30] jennyf19 commented on #955
Included in [1.11.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.11.0) and [documentation here](https://github.com/AzureAD/microsoft-identity-web/wiki/Multiple-Authentication-Schemes).

[2021-05-24 21:30] #955 closed

[2021-05-24 21:30] jennyf19 commented on #1127
Included in [1.11.0 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.11.0) and [documentation here](https://github.com/AzureAD/microsoft-identity-web/wiki/Multiple-Authentication-Schemes).

[2021-05-24 21:32] wmmihaa commented on #971
Thank you @jennyf19

[2021-05-25 00:54] jennyf19 commented on #889
@rsrinivasanhome I see them in the logs using the same set-up you have. Is there something more specific you are looking for?

[code]

[2021-05-25 14:45] #890 closed

[2021-05-25 15:17] jennyf19 opened #1212 "Is it possible to set a discovery URI for API token acquisition?"
Is it possible to set a discovery URI for API token acquisition?

var accessToken = await _tokenAcquisition.GetAccessTokenForAppAsync(scopesToAccessDownstreamApi);

With WebApps, setting the authority along with the tenant, client, and secret configs will send you to the authority for discovery ex:
https://myCustomAuthority/myTenantId/oauth2/v2.0/.well-known/openid-configuration

TokenAcquisition

[2021-05-25 15:21] KurtDebzz opened #1213 "ADB2C SSO giving ASPNETCORE ENV error when trying to sign in. [Bug]"
**Which version of Microsoft Identity Web are you using?**

Microsoft Identity Web 1.1.0

**Where is the issue?**
* Web app
    * [X] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory

[2021-05-25 15:23] jmprieur commented on #1197
@martooooo you need to update the Microsoft.Identity.Web NuGet package to the latest version. .NET 5.0 template reference ASP.NET Core 1.1.0.

[2021-05-25 15:27] jmprieur commented on #1190
@santosh-jallapuram : did you try the code?
You might also want to move to the latest version of Microsoft.Identity.Web which is about supporting multiple authentication scheme.

[2021-05-25 15:30] jennyf19 commented on #889
@rsrinivasanhome I've updated the wiki with the information on [logging](https://github.com/AzureAD/microsoft-identity-web/wiki/Logging) and [web api troubleshooting](https://github.com/AzureAD/microsoft-identity-web/wiki/Web-API-Troubleshooting)

[2021-05-25 15:30] #889 closed

[2021-05-25 20:02] freemstr commented on #1199
I seem to be encountering the same issue.
Could you please suggest a way of setting redirect_uri based on XForwardedHost value?

App Gateway is listening on dev-ex.companyname.com
Site is hosted on companyname.azurewebsites.net on a windows service

Rewrite rule is setting X-Forwarded-Host
![image](https://user-images.githubusercontent.com/23504818/119560373-dce6cf00-bd71-11eb-8f42-31184837fa9b.pn

[2021-05-25 20:12] Tratcher commented on #1199
Where is UseForwardedHeaders in your Startup.Configure method? It should be near the top.

What's the current `Host` header before and after UseForwardedHeaders ?

[2021-05-25 20:31] jennyf19 commented on #9
blocked as MSAL.NET does not support netstandard2.1

[2021-05-25 20:31] #9 closed

[2021-05-25 20:36] jennyf19 commented on #107
closing for now.

[2021-05-25 20:36] #107 closed

[2021-05-25 20:38] jennyf19 commented on #172
duplicate. released in 1.11

[2021-05-25 20:38] #172 closed

[2021-05-25 20:39] jennyf19 commented on #260
@Blackleones I believe this is fixed, do you mind trying with the latest version (1.11)? Thank you.

[2021-05-25 20:39] jennyf19 commented on #260
closing, but reopen if necessary.

[2021-05-25 20:39] #260 closed

[2021-05-25 20:40] jennyf19 commented on #268
believe this is fixed. please reopen if you need further assistance @juanan

[2021-05-25 20:40] #268 closed

[2021-05-25 20:42] jennyf19 commented on #500
closing as answered.

[2021-05-25 20:42] #500 closed

[2021-05-25 20:44] jennyf19 commented on #580
@arcusic I believe this is enabled in 1.11 release, which allows for multiple [auth schemes](https://github.com/AzureAD/microsoft-identity-web/wiki/multiple-authentication-schemes) .

[2021-05-25 20:44] #580 closed

[2021-05-25 20:44] jennyf19 commented on #586
no budget. closing

[2021-05-25 20:44] #586 closed

[2021-05-25 20:45] jennyf19 commented on #620
@nickgmicrosoft any update on this?

closing as b2c issue.

[2021-05-25 20:45] #620 closed

[2021-05-25 20:46] #644 closed

[2021-05-25 20:46] #645 closed

[2021-05-25 20:46] #646 closed

[2021-05-25 20:47] #647 closed

[2021-05-25 20:47] #735 closed

[2021-05-25 20:48] jennyf19 commented on #836
not necessary right now. will wait for customer feedback and investigate if needed.

[2021-05-25 20:48] #836 closed

[2021-05-25 20:48] jennyf19 commented on #712
closing

[2021-05-25 20:48] #712 closed

[2021-05-25 20:50] jennyf19 commented on #732
closing, seems to answered in the linked issue. if not, please reopen.

[2021-05-25 20:50] #732 closed

[2021-05-25 20:51] jennyf19 commented on #768
closing, please reopen if needed @saddamhossain

[2021-05-25 20:51] #768 closed

[2021-05-25 20:53] freemstr commented on #1199
@Tratcher
Thank you for prompt response

[code]

[2021-05-25 20:55] jennyf19 commented on #907
closing as b2c issue.

[2021-05-25 20:55] #907 closed

[2021-05-25 20:56] jennyf19 commented on #1197
closing as answered

[2021-05-25 20:56] jennyf19 commented on #1190
closing, but feel free to reopen @santosh-jallapuram

[2021-05-25 20:56] #1190 closed

[2021-05-25 20:57] jennyf19 commented on #1170
closing as answered

[2021-05-25 20:57] jennyf19 commented on #1118
closing as answered

[2021-05-25 20:57] #1118 closed

[2021-05-25 20:58] jennyf19 commented on #1081
closing as answered

cc: @jennyf19 to fix above comments

[2021-05-25 20:58] #1081 closed

[2021-05-25 20:59] jennyf19 commented on #1038
closing as answered.

[2021-05-25 20:59] #1038 closed

[2021-05-25 20:59] jennyf19 commented on #979
@navyasric please see above. thank you.

[2021-05-25 21:07] jmprieur commented on #516
See also https://github.com/AzureAD/microsoft-identity-web/issues/1131

[2021-05-25 21:22] vvolodin commented on #1170
Still, this behavior can be very misleading and isn't documented anywhere.

[2021-05-26 05:33] JadynWong opened #1215 "[Bug] MergedOptions UpdateMergedOptionsFromMicrosoftIdentityOptions error"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
1.11.0
1.10.0

**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Tok

[2021-05-26 07:19] jmprieur commented on #1215
Thanks @JadynWong for the heads-up and for your analysis

[2021-05-26 14:11] henriquebelotto opened #1216 "[Question] Add a claim to token receievd from Azure AD B2C - Is it safe?"
Hello,

We use MS Identity Web to authenticate users that signs in using Azure AD B2C to our MVC web application. Once the users authenticate, the token is verified, using the method below. During this step, we also add some additional claims.
So, my question is, is this safe?
Or could a malicious user manipulate those additional claims?

`public class AzureADB2COpenIdConnectOptionsConfigurator :

[2021-05-26 14:44] gmantri opened #1217 "[Bug] Unable to call downstream API (Azure Service Management API)."
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [x] Protected web APIs call downstream web APIs
* Token cache seria

[2021-05-26 15:03] HWouters opened #1218 "[Bug] RoleClaimType is not added to ClaimsIdentity"
**Which version of Microsoft Identity Web are you using?**
This issue is only present in the latest version 1.11

**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serializat

[2021-05-26 15:26] jennyf19 commented on #1213
@Tratcher suggestions on how we can improve this? If in development mode, the error message is clear, and the page can be overridden, but for a default, out-of-the-box, prod message, is there something better we can do?

[2021-05-26 15:30] jennyf19 commented on #1216
@henriquebelotto where/how could the malicious user intervene in this case?

[2021-05-26 15:35] jennyf19 commented on #1217
@gmantri In the app registration, the web API needs to declare that it needs to access ARM and this needs to be pre-consented by a tenant admin. See [this sample](https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph) for more details.

[2021-05-26 15:46] gmantri commented on #1217
@jennyf19 - Thanks for replying. I was actually looking at that sample only just now. Unfortunately I don't think that is the case. To the best of my knowledge, ARM API's are always executed in context of the signed-in user. In fact, there's no option to grant admin consent for ARM API. For this API, "admin consent required" is always "No". Same is not true for Graph API where certain scopes requi

[2021-05-26 15:50] jennyf19 commented on #1217
@gmantri True, but the admin granting consent does pre-approval, which is needed for web APIs.

[2021-05-26 16:09] gmantri commented on #1217
@jennyf19 - Sadly no luck :(. I gave admin consent as well and still the same result.

<img width="915" alt="Screenshot 2021-05-26 at 9 39 12 PM" src="https://user-images.githubusercontent.com/2417437/119694475-df791f80-be6a-11eb-98d4-8bf6e57f8c3c.png">

[2021-05-26 16:45] jennyf19 commented on #1217
@gmantri did you clear the cache in the client? also, the first level API should be called w/`/.default` as in `{apiURI/.default}`

You need to do [this](https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/blob/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph/README.md#configure-known-client-applications-for-service-todolistservicems-identity-dotnet-native-aspnetco

[2021-05-26 16:58] jennyf19 commented on #760
@darraghjones @rollandjb fix has been merged into master. will be in next release.

[2021-05-26 18:25] henriquebelotto commented on #1216
@jennyf19
Well, I'm not a security specialist and I don't have the complete understanding of how is the flow. So, correct me if I'm wrong.

Authentication flow using cookies and .Net Core MVC in a nutshell:
1- Users authenticates in Azure
2- Azure sends the authentication token
3- The web application validates the token (not sure how or what it checks to be honest) and after confirming it, the app

[2021-05-26 20:54] freemstr commented on #1199
@Tratcher

I set up a HealthCheck in a quick prototype project

HttpContext.Request.Host that comes back from the HealthCheck endpoint is companyname.azurewebsites.net

So

Host: companyname.azurewebsites.net

while
X-Forwarded-Host: dev-ex.companyname.com
X-ORIGINAL-HOST: dev-ex.companyname.com;

There is also
DISGUISED-HOST: companyname.azurewebsites.net
WAS-DEFAULT-HOSTNAME: companyname.azurewe

[2021-05-26 21:03] Tratcher commented on #1199
X-Forwarded-Host is the expected input, so why isn't it being applied.

Try this so we can rule out issues with the IP:
[code]

Also enable server debug logs to see if there are any complaints on that end.

[2021-05-26 21:53] Tratcher commented on #1213
The production error page intentionally does not discuss implementation details like this for the reasons it says above. The error would have still been reported in the server logs though. The error page should mention checking the server logs before it recommends enabling development mode. I'll file an issue for that.

[2021-05-27 01:39] jennyf19 commented on #1170
@vvolodin added [documentation](https://github.com/AzureAD/microsoft-identity-web/wiki/Customization#openidconnectoptions)

[2021-05-27 01:39] #1170 closed

[2021-05-27 02:26] gmantri commented on #1217
@jennyf19 - Apologies for the delayed response. It finally worked!

I ended up starting from scratch. Deleted the old applications and created brand new ones. This time I followed the instructions you linked above to the T. BTW, I need not give admin consent to the app for executing ARM APIs.

Thanks for all your help. I really appreciate it.

[2021-05-27 02:26] #1217 closed

[2021-05-27 03:04] jennyf19 commented on #1217
awesome. thanks for the follow-up. @gmantri and glad it's working.

[2021-05-27 04:48] PeterWone commented on #1216
@henriquebelotto If hacker altered the claims he would not have your signing key to re-sign it. The token hash would not match the hash for the altered content and the token would be rejected.

[2021-05-27 07:38] jmprieur commented on #1216
@henriquebelotto adding claims in the OnTokenValidated event is not a problem.

[2021-05-27 07:57] kberawala opened #1220 "Error in attribute collection / sign up flow page"
Apologies for writing here - couldnt find the right place to report this.

I have this - attributes to collect at sign up using the standard policy
![image](https://user-images.githubusercontent.com/13636878/119787147-40a8fd80-bf14-11eb-9eb1-488c09fe4b11.png)

Appears twice - (earlier than today, it was right appeared only once)
![image](https://user-images.githubusercontent.com/13636878/119787386

[2021-05-27 15:12] DigitalPZ opened #1223 "[Bug] Using RequiredScope Attribute on APIController Causes 500 Response"
**Which version of Microsoft Identity Web are you using?**
1.10.0
Note that to get help, you need to run the latest version.

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ x] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cac

[2021-05-27 21:01] schmitch opened #1224 "[Feature Request] client assertions"
**Is your feature request related to a problem? Please describe.**
it would be great to support client assertions, since they are often more secure than client secrets

[2021-05-28 08:09] jmprieur commented on #1220
@kberawala : we've asked the B2C service people to answer.

[2021-05-28 09:23] jmprieur commented on #1224
Duplicate of #203

[2021-05-28 09:24] jmprieur commented on #1224
@schmitch Microsoft.Identity.Web supports certificate credentials (which produce client assertion).
What is your specific scenario? how would you use client assertions? which kind of claims would you like to sign?

[2021-05-28 12:51] schmitch commented on #1224
@jmprieur what exactly do you mean with "supports certificate credentials" basically what we want is instead of using a `client_secret` we want to upload a public certificate and use the public cert+private key to actually generate assertions, so that a `client_secret` is not needed. we now that it works: https://docs.microsoft.com/de-de/azure/active-directory/develop/v2-oauth2-auth-code-flow#requ

[2021-05-28 13:42] jmprieur commented on #1224
@schmitch this is supported: https://github.com/AzureAD/microsoft-identity-web/wiki/Certificates

[2021-05-28 13:44] schmitch commented on #1224
oha, sorry @jmprieur i did not see that.

I always looked at the official docs.microsoft.com, because most often that documentation is really good! so I did not know that there is a wiki that explain how to add that.

so sorry for the disturbance.

[2021-05-28 13:44] #1224 closed

[2021-05-28 13:48] jmprieur commented on #1224
No worries, @schmitch : we try to move this wiki doc to docs.ms, but this takes a lot of time :(

[2021-05-28 13:50] schmitch commented on #1224
yeah I can understand that, so now worries ! I'm a developer by myself and I hate writing docs ;-)

[2021-05-28 15:13] jmprieur commented on #1220
See also https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2669

[2021-05-28 15:27] jennyf19 commented on #880
Look into this and the answer is in this [doc](https://docs.microsoft.com/en-us/azure/active-directory/develop/userinfo#userinfo-response), specifically that if the claims are the same values that the app would see in the Id token, use the id token, via `HttpContext.User`.

UserInfo can only return `sub` `name` `family_name` `given_name` `email`, and all those can be found in the id token as well.

[2021-05-28 15:27] #880 closed

[2021-05-28 18:09] jennyf19 commented on #1220
closing, as B2C issue. we have involved the B2C team.

[2021-05-28 18:09] #1220 closed

[2021-05-28 18:16] #441 closed

[2021-05-28 18:17] jennyf19 commented on #1218
thanks @HWouters this will go in the 1.12 release, scheduled for mid-late next week (week of June 1)

[2021-05-28 19:00] hrazmsft commented on #441
@jmprieur thanks for the example! I just want to confirm. Instead of generating the token in the long action, you trigger a request, simulatiing a webhook, so a controller will generate the OBO token at the end...

Please correct me if I'm wrong, sending such webhook with the incoming user token may not work if the token is going to expire soon... If the token is going to be expired in less than 1

[2021-05-28 19:06] jmprieur commented on #441
@hrazmsft : this will actually work (soon when [this](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2623) bug is fixed in MSAL.NET) as the OBO token will be refreshed automatically even when it has expired (as MSAL.NET has the refresh token)

[2021-05-28 19:13] hrazmsft commented on #441
Maybe I'm missing something...

Here is what I meant:
![image](https://user-images.githubusercontent.com/66222191/120031506-90b1be00-c001-11eb-8b2d-3de0734ebb44.png)

If this token will be expired before the timer ticks, the request will send with an expired token. In this case, the request to `callback` will be rejected by ASP.

[2021-05-28 19:24] jmprieur commented on #441
Oh yes, sorry, @hrazmsft
you'd better start your long running process from the Timer (with a timer (0))

[2021-05-28 19:58] ChristopherHaws commented on #880
@jennyf19 When using Azure Active Directory, the `family_name` and `given_name` are not returned as part of the id token. This is the reason I am using the user info endpoint.

[2021-05-28 20:03] hrazmsft commented on #441
@jmprieur how it will prevent the token from been expired?

[2021-05-28 22:48] nickgmicrosoft commented on #620
Hi folks,

This is not available. See [this](https://docs.microsoft.com/en-us/azure/active-directory-b2c/add-password-reset-policy?pivots=b2c-user-flow#self-service-password-reset-recommended) documentation to learn how to enable password reset within a sign/sign-up user flow so that your application doesn't need to deal with the redirect.

[2021-05-29 08:11] jmprieur commented on #880
@ChristopherHaws, you can configure the claims that appear in the IDToken:
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims#configuring-optional-claims

[2021-05-29 09:19] jmprieur commented on #1044
One possibility: https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/introduction

Configuration: https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview?view=aspnetcore-5.0

for instance:
[code]

[2021-05-29 09:22] sander1095 commented on #1075
Any update on this? I believe this might be related to logs I see about my code not specifying a region when requesting a token, right?

Without this issue fixed, how do I get rid of that?

[2021-05-29 14:53] KurtDebzz commented on #1213
So if this happens again in the future, the error message should indicate that there was an issue from ADB2C or otherwise? And in what version should I expect this to work, please?

[2021-05-29 15:19] jmprieur commented on #1075
@sander1095. Sorry, we missed assigning it to the right milestone (because there was nothing to do in Microsoft.Identity.Web per se: the fix was in MSAL.NET):

you can enable your region by using the `AzureRegion` property of the `ConfidentialClientApplicationOptions`.
In practice, just add a property named `AzureRegion`  in the "AzureAD" section of your appsetttings.json with:
- either the name o

[2021-05-29 15:19] #1075 closed

[2021-05-29 15:21] jmprieur commented on #1213
@Kuhnsta : in 1.12.0 (see Milestone)

[2021-05-29 16:44] sander1095 commented on #1075
Hello, thanks for your reply.

Could you provide me a link to all the properies that can be set in the AzureAD object? I have never heard of this one. And I know for example there is also stuff like Authority/Domain, right? (How) is that related to my previous comment?

[2021-05-30 19:37] jmprieur commented on #1223
The call stack is:

System.Net.Http.HttpRequestException
  HResult=0x80131500
  Message=500 InternalServerError System.InvalidOperationException: A suitable constructor for type 'Microsoft.Identity.Web.Resource.RequiredScopeFilter' could not be located. Ensure the type is concrete and services are registered for all parameters of a public constructor.
   at Microsoft.Extensions.DependencyInjection

[2021-05-30 19:42] jmprieur commented on #1223
It's also a duplicate of https://github.com/AzureAD/microsoft-identity-web/issues/1036

[2021-05-31 06:26] danielwgrech commented on #1213
I think the actual problem here is that the page reported by @KurtDebzz is displayed even when the environment is "Development".  It's like the same message is always displayed, regardless whether the environment is Development or Production.  It does not seem to be reading the ASPNETCORE_ENVIRONMENT value correctly.

[2021-05-31 08:23] jmprieur commented on #1075
@sander1095: "AzureAd" is not an object, it's a configuration section, which is mapped to several classes:
- [MicrosoftIdentityOptions](https://docs.microsoft.com/dotnet/api/microsoft.identity.web.microsoftidentityoptions?view=azure-dotnet-preview)
- [ConfidentialClientApplicationOptions](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.client.confidentialclientapplicationoptions?vie

[2021-05-31 10:10] jmprieur commented on #441
even if the incoming token expires, Microsoft.Identity.Web will get (using MSAL.NET):
- an OBO token (that will also expire),
- but also a refresh token, which will enable your web API to get more OBO tokens for as long as 90 days

[2021-05-31 10:16] hrazmsft commented on #441
I don't understand how :). We have a server with this configuration:

![image](https://user-images.githubusercontent.com/66222191/120178351-1ad07100-c212-11eb-8c98-53391c8206ad.png)

In our client, we use `@azure/msal-react` to get a token. Each token expires after 1 hour.
If we send an expired token, the server rejects the request with 401...

So how sending expired tokens should work in your cas

[2021-05-31 10:18] jmprieur commented on #1197
See also https://github.com/AzureAD/microsoft-identity-web/issues/1223

[2021-05-31 10:27] jmprieur commented on #919
This seems to be fixed. See https://github.com/AzureAD/microsoft-identity-web/wiki/L1-Cache-in-Distributed-(L2)-Token-Cache

[2021-05-31 10:28] #919 closed

[2021-05-31 10:38] jmprieur commented on #441
That won't work, @hrazmsft
if the web API adds a callback to itself and reuses the incoming token as a key, it will work, but not if it's called from outside (like from your client)

[2021-05-31 11:14] hrazmsft commented on #441
Interesting! Didn't know that. How does it know if it is a callback from inside or outside?

[2021-05-31 11:21] raedg2000 opened #1231 "Azure AD B2C - Blazor Server Side"
Dears,

I am developing a Blazor server side app and using Azure AD B2C. I am having an issue with the signout method. I need to navigate to the home page. Is there a way to modify the RedirectURl in the signout method of the AccountController?

regards,
Raed

[2021-05-31 13:19] rajeevchib commented on #919
Hi @jmprieur

Great News, Thanks for the update.
Unfortunately we are in middle of couple of projects.
We will try this after finishing those activities and will update you.

[2021-05-31 14:14] jmprieur commented on #1231
You can override the SignedOut page.
See https://github.com/AzureAD/microsoft-identity-web/wiki/customization#ui-customization

[2021-05-31 20:53] #1223 closed

[2021-06-01 08:54] byrnesr1975 commented on #758
Hi @shangec

I'm also having the same problem as yourself, how did you resolve your problem?

[2021-06-01 09:01] shangec commented on #758
Have you followed the steps above, and which step are you now? @byrnesr1975

[2021-06-01 09:05] byrnesr1975 commented on #758
Apologies @shangec  for not being clearer, I am experiencing the issue where when signed out, it directs you back to the sign in page, as per the 4 screen grabs you have provided. My issue is exactly the same at that point.

[2021-06-01 09:29] shangec commented on #758
Hi @byrnesr1975 ,

![image](https://user-images.githubusercontent.com/52879952/120300312-63fdef00-c2fe-11eb-9abc-16a6ee320225.png)

This is my SignOut method, I commented out the downloaded code and customized my own logic, after signout, it redirect to another page.
![image](https://user-images.githubusercontent.com/52879952/120300832-dff83700-c2fe-11eb-87a7-9b0b788ce5f7.png)

[2021-06-01 09:39] byrnesr1975 commented on #758
Hi @shangec,

Thank you for your quick response and your help, this has set me on the right track.

I've managed to resolve my issue by adding options into the "AddRazorPage" call using the following code and placing it at the bottom of ConfigureServices in startup.cs (just in case it helps others)

services.AddRazorPages(options =>
                options.Conventions.AllowAnonymousToAreaPage("Mic

[2021-06-01 09:42] shangec commented on #758
Ok, sounds good

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年6月1日(星期二) 下午5:39
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [AzureAD/microsoft-identity-web] [Documentation]  Custom SignedOut page (#758)

Hi @shangec,

Thank you for your quick response and your help, this has set me on the right track.

I've managed to resolve my issue

[2021-06-01 14:28] jwevansgam opened #1234 "[Bug] Logout error when using Easy Auth v2"
**Which version of Microsoft Identity Web are you using?**
1.10

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     * [ ] Sessio

[2021-06-01 15:02] rollandjb opened #1235 "Support non-default B2C user flow without requiring hybrid flow for confidential clients"
**Is your feature request related to a problem? Please describe.**
When using a user flow other than `signupsignin`, the current implementation relies on hybrid flow (`response_type:  code id_token`) to obtain an `id_token` through the front channel, even for confidential clients, rather than just a code flow (`response_type:  code`). When the default user flow is used (`signupsignin`), just a cod

[2021-06-01 15:32] jmprieur commented on #1234
@navyasric what would be your recommendation?

[2021-06-01 17:18] jennyf19 commented on #1213
@danielwgrech I don't see it when in Development, only when in Production. Both web app and web API need to be in Development in the launch settings. Can you share yours where you are able to repro this? Regardless we'll still update the error message. thx.

[2021-06-02 06:13] danielwgrech commented on #1213
@jennyf19 can you please share a screenshot of what you see instead of that page when you have a Development environment?  Also, any easy hint on how to screw up our ADB2C integration on purpose to generate the issue?  @KurtDebzz will be sharing the sample project once he manages to regenerate the issue.  Thanks!

[2021-06-02 07:17] KurtDebzz commented on #1213
@jennyf19 I have been able to generate this issue by inserting an incorrect **ClientSecret** value in my appsettings.json file. This had the same behavior as the one explained above with the sole difference that no error message was being sent in the form data of the **/signin-oidc** endpoint.

launchSettings.json
![image](https://user-images.githubusercontent.com/26603784/120437728-bc75d080-c380-

[2021-06-02 10:19] jmprieur commented on #758
@byrnesr1975 : I don't understand ... this page is already anonymous?

[2021-06-02 10:37] jmprieur commented on #1235
@JasSuri is this now fixed in B2C?

[2021-06-02 11:21] #1231 closed

[2021-06-02 11:22] jmprieur commented on #1199
@freemstr did Tratcher's advice solve your issues?

[2021-06-02 11:26] jmprieur commented on #760
@darraghjones @rollandjb: released in 1.12.0

[2021-06-02 11:26] #760 closed

[2021-06-02 11:26] jmprieur commented on #791
@llx9 this is fixed in 1.12.0

[2021-06-02 11:26] #791 closed

[2021-06-02 11:26] jmprieur commented on #1215
@JadynWong: this is fixed in 1.12.0

[2021-06-02 11:27] jmprieur commented on #1218
@HWouters this is fixed in 1.12.0 which released today

[2021-06-02 11:27] #1218 closed

[2021-06-02 11:28] jmprieur commented on #1197
@martooooo this is fixed in 1.12.0 released today

[2021-06-02 11:28] #1197 closed

[2021-06-02 11:28] jmprieur commented on #1036
@jbradt-stiles this is fixed in 1.12.0 released today

[2021-06-02 11:28] #1036 closed

[2021-06-02 11:28] #1215 closed

[2021-06-02 11:29] jmprieur commented on #1213
@jennyf19 I'll leave this one open for the moment.

[2021-06-02 14:21] freemstr commented on #1199
@jmprieur @Tratcher
Thank you, limiting forwarded headers to ForwardedHeaders.XForwardedHost | ForwardedHeaders.XForwardedProto and ensuring UseForwardedHeaders are as close to the top as possible took me further in the process.
I still do not have a fully functional configuration with B2C failing to redirect, working theory is that it is due to some further issues with PathBase and likely gateway

[2021-06-02 15:01] tjkb opened #1236 "[Bug] NullReferenceException when calling GetAccessTokenForAppAsync to get App Token"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.12.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [X] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory

[2021-06-02 15:38] jmprieur commented on #1236
@tjkb thanks for reporting this regression
We'll investigate and fix.

Does it work if you specify the authenticationScheme?

[code]

[2021-06-02 16:24] jmprieur commented on #1213
@Tratcher : do you have any idea?

[2021-06-02 16:30] jmprieur commented on #1166
We also need to address CAE as well.

[2021-06-02 16:32] jmprieur commented on #1156
@jrmcdona : Closing as this is pretty old.
Feel free to reopen if this is still and issue for you.

[2021-06-02 16:33] #1156 closed

[2021-06-02 16:35] jmprieur commented on #1145
@Tratcher would you have an idea?

[2021-06-02 16:35] Tratcher commented on #1213
Are they hitting this code path?
https://github.com/AzureAD/microsoft-identity-web/blob/bba91c4298411e780c9f082e8e3843eacd8e543c/src/Microsoft.Identity.Web/AzureADB2COpenIDConnectEventHandlers.cs#L95

[2021-06-02 16:40] jmprieur commented on #1050
@rsrinivasanhome you should be able to do it now with the multiple authentication scheme support:
https://github.com/AzureAD/microsoft-identity-web/wiki/multiple-authentication-schemes

Proposing to close, but feel free to reopen if you disagree.

[2021-06-02 16:40] #1050 closed

[2021-06-02 16:43] jmprieur commented on #922
Closing as external (MISE)

[2021-06-02 16:43] #922 closed

[2021-06-02 17:13] jmprieur commented on #1236
@tjkb
we cannot repro it. do you have repro steps? or can you please enable more logs? https://github.com/AzureAD/microsoft-identity-web/wiki/Logging

[2021-06-02 17:22] jmprieur commented on #808
@tratcher FYI we still need to do that.

[2021-06-02 18:24] Tratcher commented on #1145
The linked issue was specific to the AAD Application Proxy service not providing X-Forwarded headers. Are you using that service _and_ Ocelot?

Ocelot looks like it can be configured to add these headers:
https://ocelot.readthedocs.io/en/latest/features/headerstransformation.html#add-to-request
https://ocelot.readthedocs.io/en/latest/features/headerstransformation.html#placeholders

[2021-06-03 07:36] tjkb commented on #1236
@jmprieur setting the authentication scheme does not help. So I'll try with more logs or provide more detailed repro steps. I'll let you know. Thanks for the help so far

[2021-06-03 11:15] jmprieur opened #1239 "[Feature Request] Add support for CancellationToken"
**Is your feature request related to a problem? Please describe.**
MSAL.NET 4.32.0 brings support for: `CancellationToken` on `GetAccountAsync`, `RemoveAsync` and `TokenCacheNotificationArgs`.

[code]

[code]

**Describe the solution you'd like**
- Have new overrides in MsalAbstractTokenCacheProvider to support the cancellation tokens, implemented in MsalDistributedCacheAdapter. (trying avoiding a

[2021-06-03 11:16] jmprieur commented on #1063
MSAL.NET 4.32.0 now supports `WithExtraHttpHeaders` on AcquireTokenXXX

[2021-06-03 12:58] parwejp commented on #1063
Perfect. Thanks.

[2021-06-03 13:03] jmprieur commented on #1063
@parwejp reopening because although this is supported by MSAL.NET, we still need to add support in Microsoft.Identity.Web

[2021-06-03 15:27] jmprieur commented on #1212
This should be fixed at the same time as https://github.com/AzureAD/microsoft-identity-web/issues/1167

[2021-06-04 05:52] tjkb commented on #1236
We don't have a solution yet, but it's somehow related to our container. The error happens only in an Azure Function. In the Web App it works. So we have to look on our side. Thanks for the help 👍

[2021-06-04 05:52] #1236 closed

[2021-06-04 08:52] ferronsw opened #1240 "Override appsettings clientId, clientSecret for specific scenarios"
Hello,

I'm using version 1.12 of the Microsoft.Identity.Web package.
I need to acquire an accesstoken for a background app registration that only contains app permissions.
The background app registration has another clientid and secret then the delegated permissions app where the users sign in with.
How can I achieve this?

[2021-06-04 09:20] jmprieur commented on #1240
@ferronsw
you could use the multiple authentication scheme: https://github.com/AzureAD/microsoft-identity-web/wiki/multiple-authentication-schemes.

[2021-06-04 09:22] ferronsw commented on #1240
Thanks! I will give it a try.

[2021-06-04 21:11] jennyf19 commented on #1167
@Gtyrande the fix is in this [branch](https://github.com/AzureAD/microsoft-identity-web/tree/jennyf/clouds) if you want to try it. Someone from US gov cloud has tried it out with success. thank you.

[2021-06-05 22:07] jennyf19 commented on #1240
closing as answered, but feel free to reopen if you have further questions @ferronsw

[2021-06-05 22:07] #1240 closed

[2021-06-06 22:08] husseinkorly opened #1243 "[Bug] Specifying multiple decryption certificates"
**Which version of Microsoft Identity Web are you using?**
1.12.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ x] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ x] In-memory caches
     * [ ] Se

[2021-06-07 08:27] #1199 closed

[2021-06-07 08:28] jmprieur commented on #918
Closing as it requires more info.
Feel free to reopen if you wish / need to

[2021-06-07 08:28] #918 closed

[2021-06-07 08:32] jmprieur commented on #979
After connecting with the App service team, it appears that this shouldn't happen
@beckerben does this still repro?
If this still repro, could you still try so that App service have recent logs?

Closing as I'm assuming this doesn't happen any longer but fee free to reopen if this still reproes

[2021-06-07 08:32] #979 closed

[2021-06-07 08:37] jmprieur commented on #1163
Reopening as EasyAuth people told us that EasyAuth accepts either azureactivedirectory or aad case insensitive when specifying the default provider. This is set by whatever client (likely the portal) is configuring the customer's apps.

[2021-06-07 09:13] jmprieur commented on #1234
•	EasyAuth took a breaking change by not adding the logout path environment variable in v2 where it would be added in v1.
•	if auth is enabled on the app (the enabled env var is set to true), then we can assume no WEBSITE_AUTH_LOGOUT_PATH environment variable to mean that the logout path is at WEBSITE_AUTH_API_PREFIX/logout, and if now api prefix is specified, then the logout path is at the defaul

[2021-06-07 14:33] jmprieur commented on #1063
Proposal:
- In `TokenAcquisitionOptions`, add a new `ExtraHttpHeaders` of type [`IHeaderDictionary`] that will be passed-in to the calls to MSAL.NET (using `WithExtraHttpHeaders`)
- In `DownstreamWebApiOptions`, add a new member `ExtraHttpHeaders` of type [`IHeaderDictionary`](https://docs.microsoft.com/dotnet/api/microsoft.aspnetcore.http.iheaderdictionary?view=aspnetcore-5.0). This will be used

[2021-06-07 14:45] jmprieur commented on #1243
@husseinkorly are you saying this is a regression?

[2021-06-07 15:04] #1234 closed

[2021-06-07 15:04] #1163 closed

[2021-06-07 15:08] jmprieur commented on #1243
I think I understand what happens.
Now, when the certificate has expired we set it to null in the CertificateDescription (this was done when implementing the certificate rotation). But Microsoft.IdentityModel does not accept a null certificate.

We should only do the yield:

https://github.com/AzureAD/microsoft-identity-web/blob/37471e7578b334bb925c9170e456b05de83368e1/src/Microsoft.Identity.Web/C

[2021-06-07 15:34] jmprieur commented on #1243
@jennyf19 is working on a fix.
Meanwhile, I think that version 1.9.2 should work fine in your case.

[2021-06-07 16:11] husseinkorly commented on #1243
Thank you. I tried using version 1.9.2 but the API still failing to decrypt the token.

[2021-06-07 17:24] jmprieur commented on #1243
Can you tell us more about the exception? https://github.com/AzureAD/microsoft-identity-web/wiki/Logging

[2021-06-07 19:40] husseinkorly commented on #1243
I pulled the new changes in master and I still see the same issue. I am using 2 decryption certificates. One of them is a valid certificate (used to encrypt) and another one that still valid but not used to encrypt the token. I see the API still returning 401 and I don't see any exceptions being logged. I think it's related to this issue with identityModel package that doesn't accept a list of dec

[2021-06-07 20:56] jennyf19 commented on #1243
@husseinkorly they both have to be decryption certs, not encryption certs. See this [page](https://github.com/AzureAD/microsoft-identity-web/wiki/Token-Decryption#in-the-azure-ad-portal) -> `"usage": "Encrypt"`

if you're using a client credential certificate, like instead of a secret, a cert, it can go in the [configuration](https://github.com/AzureAD/microsoft-identity-web/wiki/Certificates#desc

[2021-06-07 21:22] husseinkorly commented on #1243
Yes. I am only interested in the decryption cert I have both in the configuration like this for example:

[code]

One of them is a valid decryption cert (where I have the .pfx installed in my local machine) and it can decrypt the token just fine, but when I add another cert to the list that's just any other cert the API start returning 401.

[2021-06-07 21:34] freemstr commented on #1199
@jmprieur @Tratcher
Thank you for your help
Application is working as designed now.

[2021-06-07 22:29] jennyf19 commented on #1243
@husseinkorly do both certs work independently? like one at a time, do they both work?

[2021-06-07 22:43] husseinkorly commented on #1243
Only one cert can be configured in AAD, but I was assuming if we can have 2 certs and it will use the valid one. This can be useful to rotate the decryption certs without any downtime. We can add the new cert to the configuration, replace it in AAD, and remove the the old one from configuration.

[2021-06-08 07:28] jmprieur commented on #1243
@husseinkorly : provided they are both decrypt certificates, this should work.
@brentschmaltz @GeoK @mafurman : we are using `TokenValidationParameters.TokenDecryptionKeys`. Shouldn't it work?

https://github.com/AzureAD/microsoft-identity-web/blob/6b506ebb241b69dd79975b5899418af825dc1882/src/Microsoft.Identity.Web/WebApiExtensions/MicrosoftIdentityWebApiAuthenticationBuilderExtensions.cs#L222

[2021-06-08 17:30] GeoK commented on #1243
@jmprieur - Yes, this should work in IdentityModel >=6.8.0.
The library will try to decrypt a token using all decryption keys set on TokenValidationParameters.

[2021-06-08 19:12] mrochon opened #1249 "[Bug] B2C API token validation reports invalid issuer"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

1.12.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [X ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token ca

[2021-06-08 20:42] jmprieur commented on #1249
@mrochon : would you mind trying the following configuration:

[code]

[2021-06-08 21:22] mrochon commented on #1249
Yes, that worked. No errors. Thanks.

[2021-06-08 21:22] #1249 closed

[2021-06-09 01:51] caseyzhang123 opened #1250 "[Bug] The order of LogLevel is incorrect in TokenAcquisition.cs"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
Microsoft.Identity.Web 1.11

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [x] Protected web APIs call downstream

[2021-06-09 08:52] AndreyZ1 commented on #760
@jmprieur hey here, could you help me, please, I just updated version but seems it's not working, am I doing something wrong?

`<a asp-area="MicrosoftIdentity" asp-route-redirectUri="@Model.ReturnUrl" asp-controller="Account" asp-action="SignIn">Sign in with Microsoft</a>`

[2021-06-09 09:46] jmprieur commented on #760
@AndreyZ1 : I'm not sure about the asp-route-redirectUri notation (I'm not familiar with it). Where is it documented?

We used:

[code]

Maybe make sure that `@Model.ReturnUrl` starts by a / ?

[2021-06-09 11:15] AndreyZ1 commented on #760
@jmprieur Just tried to use hardcoded link
`<a href="/MicrosoftIdentity/Account/SignIn?redirectUri=/TodoList">Sign In</a>`
and it still not working. Do I have to enable something in Startup.cs configuration or somewhere else to make it working?

[2021-06-09 12:19] jmprieur commented on #760
No @AndreyZ1
The devapp with which this was tested is here:
https://github.com/AzureAD/microsoft-identity-web/blob/b348c484aa0a86c460f99e36a8775ac6bc240269/tests/WebAppCallsWebApiCallsGraph/Client/Views/Shared/_LoginPartial.cshtml#L12

just update Microsoft.Identity.Web and Microsoft.Identity.Web.UI

[2021-06-09 12:30] AndreyZ1 commented on #760
@jmprieur thank you a lot for help, I updated only Microsoft.Identity.Web and forgot about Microsoft.Identity.Web.UI.

[2021-06-09 12:33] jmprieur commented on #760
Thanks for the update, @AndreyZ1
Does it work with the `asp-route-redirectUri="@Model.ReturnUrl"` form?

[2021-06-09 12:52] AndreyZ1 commented on #760
@jmprieur yes, without any problems.

[2021-06-09 15:31] jennyf19 commented on #1250
fixed. thanks @caseyzhang123

[2021-06-10 10:05] markhobson opened #1256 "[Feature Request] Token acquisition for downstream API when using OIDC"
**Is your feature request related to a problem? Please describe.**
Configuring a webapp to authenticate against AzureAD and provide the JWT to a web API is [well documented](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-app-call-api-app-configuration) and works. It's not so clear how to achieve this with a different OIDC identity server, like Okta, though.

For examp

[2021-06-10 11:15] KurtDebzz commented on #1213
Any updates on this, please?

[2021-06-10 12:44] jmprieur opened #1258 "[Feature Request] Log authentication result metrics in GetAuthenticationResultForAppAsync"
Log authentication result metrics in GetAuthenticationResultForAppAsync
The method is currently not async. This might be a breaking change.

[2021-06-10 17:24] TropicalThunder opened #1259 "[Bug] 1.10 and onward is disposed when accessing cookies through IFeatureCollection"
**Which version of Microsoft Identity Web are you using?**
Works in 1.9.0 and failed in 1.10
Note that to get help, you need to run the latest version.

**Where is the issue?**
* Web app
    * [* ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ *] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call dow

[2021-06-11 10:48] ferronsw opened #1261 "[Bug] Graph WithAuthenticationScheme not working with multiple schemes"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
Microsoft Identity Web 1..12.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [X] Sign-in users and call web APIs
* Token cache serialization
     * [X] In-memory caches
     * [ ] Session caches
     * [ ] Distributed caches
* Other (please describe)

**Is this a

[2021-06-11 11:58] vh-vahan opened #1262 "[Bug] NonceCookie and CorrelationCookie configurations provided in AddMicrosoftIdentityWebApp are not honored"
**Which version of Microsoft Identity Web are you using?** 1.12.0
Note that to get help, you need to run the latest version.

**Where is the issue?** [AddMicrosoftIdentityWebApp ](https://github.com/AzureAD/microsoft-identity-web/blob/dcd998173eb9b5ee7c8377d585d51626ca96de30/src/Microsoft.Identity.Web/WebAppExtensions/MicrosoftIdentityWebAppAuthenticationBuilderExtensions.cs#L117)method accepts Ac

[2021-06-11 15:34] jennyf19 commented on #1212
believe this is fixed in [1.13 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.13.0)

[2021-06-11 15:34] #1212 closed

[2021-06-11 15:34] jennyf19 commented on #1258
Fixed in [1.13 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.13.0).

[2021-06-11 15:34] #1258 closed

[2021-06-11 15:34] jennyf19 commented on #1250
Fixed in [1.13 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.13.0).

[2021-06-11 15:35] jennyf19 commented on #1239
Fixed in [1.13 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.13.0).

[2021-06-11 15:35] #1239 closed

[2021-06-11 15:36] jennyf19 commented on #1243
Fixed in [1.13 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.13.0).

but seems to be an issue still with other components. @jmprieur

[2021-06-11 15:36] jennyf19 commented on #1163
Fixed in [1.13 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.13.0).

[2021-06-11 15:37] jennyf19 commented on #1167
Fixed in [1.13 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.13.0).

[2021-06-11 15:37] jennyf19 commented on #1153
Fixed in [1.13 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.13.0).

[2021-06-11 15:37] #1153 closed

[2021-06-11 16:16] Gtyrande commented on #1167
@jennyf19 Sorry for late reply and thank you for new release. As I tested this error never shows again.

But I got a 404 response and I can’t tell where the problem is. Could you help me about this?
![image](https://user-images.githubusercontent.com/11093614/121717064-5e30b680-cb13-11eb-8b47-0981f54fcb98.png)

My Vue App code:
[code]

My .NET API code:
[code]

[2021-06-11 17:30] jmprieur commented on #1167
@Gtyrande:
1. Did you use Identity.Web 1.13.0 that we just released?
1. Do you need to have the "Authority" property in the web API appsettings.json ? It should not be necessary (it will be computed from the Instance and Tenant ID
1. What is the token version required by your API? (from the app registration: acceptedTokenVersion)

[2021-06-12 01:33] Gtyrande commented on #1167
@jmprieur
1. Yes. I update version in csproj to 1.13.0 and restored.
2. I remove "Authority" property and the result is same.
3. Do you mean this property in manifest: "accessTokenAcceptedVersion": null

[2021-06-12 07:24] jmprieur commented on #1167
@Gtyrande : do you have repro steps?
Does it only happen in cn?

[2021-06-12 07:38] jmprieur commented on #1167
Thanks @Gtyrande: yes. this is the right property. This means the web API is a v1.0 API.

Looking at the open id configuration: `https://login.partner.microsoftonline.cn/common/.well-known/openid-configuration`, the issuer is ending `https://sts.chinacloudapi.cn/{tenantid}/`.
Is the issuer in your access token the same?

[2021-06-14 10:36] jwevansgam commented on #1234
What a great turnaround, 13 days from reporting to being added to the code base. Thanks so much for this. I have just tested today and can confirm that this has resolved my issue.

[2021-06-14 12:36] jmprieur commented on #1234
Thanks for confirming, @jwevansgam

[2021-06-14 13:48] jmprieur opened #1265 "[Feature Request] Enable more authorization options in a web API."
**Is your feature request related to a problem? Please describe.**
Microsoft.Identity.Web enables the tokens to be validated in web APIs, but more advanced authorization still need to be done by developers. Ideally we'd want to be able to provide more authorization options directly from the configuration.

**Describe the solution you'd like**
Have more options in the configuration:

[code]

And, d

[2021-06-14 14:33] jlpstolwijk commented on #1167
Since version 1.13, I get the above error (""The issuer '(null)' is invalid") when validating an access token in my API (ASP.NET 5.0). With version 1.12 all works fine.

Token is obtained using msal.js for angular (it sends a request to  https://login.microsoftonline.com/organizations/oauth2/v2.0/token). Again, with Microsoft.Identity.Web 1.12.0, the token is validated just fine; in 1.13.0 I get a

[2021-06-15 11:01] jmprieur commented on #881
For the moment, Easyauth isn’t configurable beyond “let all authenticated users in” and limiting it to a single tenant.
To do more, you'd want to disable Easy auth and leverage groups and roles in conjunction with MIcrosoft.Identity.Web. See [Authorization with Roles and Groups in an ASP.NET core web app](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/mas

[2021-06-15 11:01] #881 closed

[2021-06-15 23:07] jennyf19 opened #1268 "[Bug] LegacyCacheComp using cca options and not ms id options"
regression that was introduced with the multi-scheme work where the `LegacyCacheCompatibilityEnabled` value was taken from the `ConfidentialClientApplicationOptions` (default true), instead of the `MicrosoftIdentityOptions` (default false).

[2021-06-15 23:11] jennyf19 commented on #1268
fixed in [1.13.1](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.13.1)

[2021-06-15 23:11] #1268 closed

[2021-06-16 07:57] newbiedev123 commented on #1199
Hi @jmprieur @Tratcher
Sorry for the delay in replying.
I tried the logging code and it gave me few details. One error that happen when trying to application gateway endpoint is the below.

[2021-06-16 14:47] smartsavage commented on #1199
I had a similar issue.
In my case, I use IIS ARR to rewrite the request to http://localhost:5000, but the request gets redirect to http://localhost:5000/signin-oidc after clicking sign in button.
I have following code in startup.cs, but it doesnot work
            services.Configure<ForwardedHeadersOptions>(options =>
            {
                options.ForwardedHeaders =
                    For

[2021-06-16 16:36] Tratcher commented on #1199
@newbiedev123 that usually indicates an issue with the temp cookies used for authentication. If you capture a network trace with a tool like you should see the cookie properties set on the challenge request. In this scenario I'd guess your cookies are either not marked with `SameSite=None` or are missing the `secure` attribute. The secure attribute issue is caused by being behind a proxy and not s

[2021-06-16 16:39] Tratcher commented on #1199
@smartsavage your case is probably the same. Follow the troubleshooting steps here to capture the request headers and figure out how to configure the forwarders.
 https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-5.0#troubleshoot

Try starting with this:
[code]

[2021-06-16 18:12] smartsavage commented on #1199
fixed Correlation failed" error with this code

            services.Configure<CookiePolicyOptions>(options =>
            {
                options.CheckConsentNeeded = context => true;
                options.MinimumSameSitePolicy = SameSiteMode.None;
                options.Secure = CookieSecurePolicy.Always;
                options.HandleSameSiteCookieCompatibility();
            });

[2021-06-17 04:02] satishrabari opened #1271 "Microsoft Identity Scaffolding Possible [Documentation]"
### Documentation related to component

### Please check all that apply

- [ ] typo
- [x] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in the example
- [x ] needs an example

### Description of the issue

I want to store data in the database after successful login with Microsoft Identity Platform.
Would you please help me with this?

[2021-06-17 07:38] newbiedev123 commented on #1199
@Tratcher
Thanks for your reply. So now my Startup looks like the below,
[code]

I can see in the logs that OpenId is challenged after every set of headers.

Also I am still getting the Correlation error.

I am just wondering if there could be a setting in the application gateway for cookie which is causing the issue?

[2021-06-17 22:14] Tratcher commented on #1199
Note CookiePolicyOptions is ineffective without the matching UseCookiePolicy middleware.

OpenIdConnectHandler stores temp state in cookies during the login and persists it's results in cookies after so the user remains logged in for future requests.

What's written to the logs by this?
[code]

[2021-06-17 22:43] jennyf19 commented on #1146
initial [branch](https://github.com/AzureAD/microsoft-identity-web/tree/jennyf/ccs)

[2021-06-18 07:59] newbiedev123 commented on #1199
@Tratcher , I realised I missed the cookie policy after posting the comment. Adding it did not make any changes. But I forgot to update the comment.
[code]
When I launch the app gateway url, two requests get executed(shown in logs).
1) Get request to the internal ASE url, with the below logs

2) Post request to the /signin-oidc

[2021-06-18 16:04] Tratcher commented on #1199
Ok, the request headers look fine. The only other thing you haven't shown yet is the response cookies where the .AspNetCore.Correlation.OpenIdConnect is set. We'd need to see all the attributes.

Try this:
[code]

[2021-06-20 15:47] jmprieur commented on #1261
@ferronsw.
I see that you have 2 authentication schemes:
- OpenIdConnectDefaults.AuthenticationScheme (and this is the default one). This one is associated with the "AzureAD" configuration, but its name is "OpenIdConnect" (the value of OpenIdConnectDefaults.AuthenticationScheme)
- "AzureAdBackground": which is the other one.

Do we agree that you don't have an authenticationScheme named "AzureAD"

[2021-06-21 13:43] jmprieur commented on #1259
@TropicalThunder I don't understand your repro.

Note that you should chain the events, not just define yours and override the previous ones. Maybe that's the problem. See https://github.com/AzureAD/microsoft-identity-web/wiki/customization#openidconnectoptions

[2021-06-21 15:11] newbiedev123 commented on #1199
@Tratcher , the response headers are as below.

1) During the get request after the Open ID was challenged,

2) During the post request after the Correlation failed,

[2021-06-21 15:37] jmprieur opened #1277 "[Feature Request] Simplify the experience developer with the MSAL Token Cache."
**Is your feature request related to a problem? Please describe.**
Today, token caches are still complex to use with MSAL.NET. There are several pieces of documentation to read

- https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/token-cache-serialization, explains the whole thing. That’s the bit for the confidential client applications Token cache serialization · https:/

[2021-06-21 16:14] Tratcher commented on #1199
The client is sending that initial request to app_gateway_url, right? Then the redirect_uri is your issue, it should use the public host visible to the client (app_gateway_url). That's what the client saves the cookies under.

If `X-ORIGINAL-HOST` is the name of the header the gateway is sending you (I'd mixed that up with the name of the header the middleware stores old values in, it's the same b

[2021-06-21 16:35] newbiedev123 commented on #1199
@Tratcher thanks.

I will try those and let you know.

[2021-06-21 16:43] newbiedev123 commented on #1199
@Tratcher that worked. Thank you very much.

[2021-06-21 18:45] NWessel opened #1279 "[Feature Request] Better long running process support"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [X ] Protected web APIs call downstream web APIs
* Token cache seri

[2021-06-21 19:19] alexandrejobin opened #1280 "Not recognised authenticated user in a multiple AAD authentication configuration"
**Which version of Microsoft Identity Web are you using?**
Microsoft.Identity.Web v1.13.0
Microsoft.Identity.Web.MicrosoftGraph v1.13.0
Microsoft.Identity.Web.UI v1.13.0

**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected w

[2021-06-22 01:59] jennyf19 commented on #1280
@alexandrejobin I wasn't able to repro it...could you provide a link to your code?
Here is what I see when signing-in with B2C:
![image](https://user-images.githubusercontent.com/19942418/122850696-8e6e1700-d2c2-11eb-8ca1-d7251d8efb2f.png)
I'm using this [sample](https://github.com/AzureAD/microsoft-identity-web/tree/master/tests/MultipleAuthSchemes), if you want to compare. thanks!

[2021-06-22 02:30] jennyf19 commented on #1277
https://github.com/Azure-Samples/active-directory-dotnet-v1-to-v2/pull/38

[2021-06-22 09:11] NandanPatel1982 commented on #851
Hi Servellia, i am still facing this issue on windows server 2012. any pointers to resolve this issue?

[2021-06-22 09:27] Servellia commented on #851
It was infact a DNS issue. The only advise I can give, is to check, that you can resolve login.microsoftonline.com

[2021-06-22 10:17] NandanPatel1982 commented on #851
from browser when i hit https://login.microsoftonline.com it goes to https://www.office.com/?auth=2 but its uanble to load there where in my local environment it gets loaded. so you mean https://www.office.com/?auth=2 should be accessible ?

[2021-06-22 13:25] alexandrejobin commented on #1280
I will provide you with a sample shortly. In the meantime, with your sample, if you put a home page with the AnonymousAttribute, I think you will get the issue.

[2021-06-22 13:28] jmprieur commented on #1280
@alexandrejobin : when you use the AllowAnonymous attribute, the user is not authenticated, and threfore, there is no User (no claims)

[2021-06-22 13:45] alexandrejobin commented on #1280
@jmprieur I know that but if the user is already authenticated, I would like to retreive the user information on whatever page he have requested. I've found a way this morning but not sure if it's the way to go. I must declare this:

[code]

[2021-06-22 17:39] alexandrejobin commented on #1280
Here's the simple demo of the issue. With the "AAD Sign in" button, everything works correctly but if you use the "AADB2C Sign In" button, the application doesn't see you at all.

[WebApplication11.zip](https://github.com/AzureAD/microsoft-identity-web/files/6696300/WebApplication11.zip)

[2021-06-22 22:14] tango-charly opened #1286 "[Bug] NullRefException MergeOptions property Instance is null"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.12.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [x] In-memory

[2021-06-23 01:12] jennyf19 commented on #1286
@tango-charly i'm not able to repro this. I tried with blazor server and we are checking for the values that are required to sign-in:
![image](https://user-images.githubusercontent.com/19942418/123019409-4532cb80-d385-11eb-9b03-b2a0a879fdde.png)

have you tried with 1.13.1?

[2021-06-23 06:26] ski-pub commented on #1279
I get the same error when I upgraded from 1.10.0 to 1.11.0, 1.12.0 or 1.13.1.

my startup is set up as follows:

            services.AddMicrosoftIdentityWebApiAuthentication(configuration, configSectionName)
                .EnableTokenAcquisitionToCallDownstreamApi()
                .AddInMemoryTokenCaches();

            var validationParameters = new TokenValidationParameters
            {

[2021-06-23 13:36] NWessel commented on #1279
I think it is noteworthy to say that your example is trying to get a token for app while mine is trying for user :)

[2021-06-23 13:40] tango-charly commented on #1286
@jennyf19 yep, I missed that verification, so that's means my issue is in the merged options.

I checked with latest version (1.14.0)
Indeed at this state my options property are not null.

I realized, properties options are null after GetOptions from cache (mergeOptions)
At this stage, Instance is null
![image](https://user-images.githubusercontent.com/8989885/123105981-3ccea500-d406-11eb-82c6-49

[2021-06-23 13:50] jmprieur commented on #1286
Which cache access is it about, @tango-charly ? Is it part of Microsoft.Identity.Web? this does not look like code we have?

[2021-06-23 13:56] jmprieur commented on #1279
@NWessel : we released Ms.Id.Web 1.14.0 today that supports OBO token refresh (long running processes).
See https://github.com/AzureAD/microsoft-identity-web/wiki/get-token-in-event-handler for the guidance

[2021-06-23 13:57] jmprieur commented on #1279
@ski-pub on which version are you?

[2021-06-23 14:37] tango-charly commented on #1286
Yep, it's not in your project, but you consume theses classes.

IOptionsMonitor<MergedOptions> is injected in Microsoft.Identity.Web.TokenAcquisition, and it's called by GetOptions :
![image](https://user-images.githubusercontent.com/8989885/123114373-3ee83200-d40d-11eb-8978-6319cf94726f.png)

Then IOptionsMonitorCache<TOptions> is injected in Microsoft.Extensions.Options.OptionsMonitor
![image](h

[2021-06-23 14:47] jennyf19 commented on #1146
Included in [1.14 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.14.0)

[2021-06-23 14:47] #1146 closed

[2021-06-23 14:47] jennyf19 commented on #1243
Included in [1.14 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.14.0)

[2021-06-23 14:47] #1243 closed

[2021-06-23 14:47] jennyf19 commented on #1277
Included in [1.14 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.14.0)

[2021-06-23 14:47] #1277 closed

[2021-06-23 14:51] jmprieur commented on #1286
@tango-charly:
- in `Configure(IApplicationBuilder app, IWebHostEnvironment env)`, you're missing:

[code]

- In `ConfigureServices(IServiceCollection services)`, I would move the following lines first:

[code]

[2021-06-23 14:54] ski-pub commented on #1279
I'm currently using 1.10.0.  Versions prior to 1.11.0 doesn't throw the exception.  I 'm ok staying on version 1.10.0, but at somepoint I'll need to upgrade.

[2021-06-23 14:55] tango-charly commented on #1286
Oh ! I missed the obvious !
Thank's ! Hope it will help to debug for someone one day :)

[2021-06-23 14:55] #1286 closed

[2021-06-23 16:53] willj opened #1289 "[Bug] SignOut doesn't clear cookies when you use a different cookieScheme name."
**Which version of Microsoft Identity Web are you using?** 1.14.0
Note that to get help, you need to run the latest version.

**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cach

[2021-06-23 17:10] henriblMSFT opened #1290 "[Bug] Cannot authenticate with managed identity to multi-tenant web api."
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.14.0
Microsoft.Identity.Web 1.13.1
Does not repro with version 1.12.0

**Where is the issue?**
* Web API
    * [X] Protected web APIs (validating tokens)

**Is this a new or an existing app?**
a. The app is in production and I have upgraded to a new version of Microsoft Identity Web.

**Repro**
I've observed the is

[2021-06-23 17:30] henriblMSFT commented on #1290
@jennyf19, I believe the bug was introduced by pull request #716

[2021-06-23 17:37] jmprieur commented on #1290
Thanks @henriblMSFT. We'll investigate.

[2021-06-23 17:38] jmprieur commented on #1290
@henriblMSFT : what's the accepted token version of your web API? Access token v1.0 ?

[2021-06-23 17:45] henriblMSFT commented on #1290
From the app manifest:
"accessTokenAcceptedVersion": null,

[2021-06-23 17:48] NWessel commented on #1279
@jmprieur This looks very nice, my only concern is that i'm starting my long running process like this

![image](https://user-images.githubusercontent.com/9061380/123144259-c9f01900-d45b-11eb-8f9d-e43ae0dcd61d.png)

At which point the httpcontext gets disposed. Would i be able to just new up a httpcontext and just set that key?
`var httpContext = new HttpContext()`
`httpContext.Items["JwtSecurityT

[2021-06-23 19:26] henriblMSFT commented on #1290
Confirmed that updating the accepted token version to v2 solves the issue

[code]

[2021-06-23 19:39] jmprieur commented on #1290
Thanks for the update, @henriblMSFT. We'll investigate shortly. This should work with both token versions.

[2021-06-24 10:27] NandanPatel1982 commented on #851
I managed to solve it by changing the application pool identity from "Applicationpoolidentity" to "Built-in Account". in bulit in account service account name and its password is given

[2021-06-25 06:54] rsrinivasanhome opened #1291 "[Bug] System.InvalidOperationException: IDX20803: Unable to obtain configuration from: 'https://login.microsoftonline"
**Which version of Microsoft Identity Web are you using?** microsoft identity web 1.8.2 version
Note that to get help, you need to run the latest version.

**Where is the issue?** After making request to pods after 30 days of dormancy we are getting - IDX20803: Unable to obtain configuration from: 'https://login.mic  '  errors.  This error gets resolved on recreating the pod

* Web app
    * [ ] S

[2021-06-25 07:42] jmprieur commented on #1291
@rsrinivasanhome this seems like a network issue (IDX errors are send by ASP.NET Core)
BTW, don't you want to upgrade to the latest Microsoft.Identity.Web ?

[2021-06-25 09:08] rsrinivasanhome commented on #1291
We will upgrade from 1.8.2 to 1.14.0  will this help fix the issue .   Can you give us some pointers to handle such type of issues ?  It appears even after network connectivity is restored to the end point we still get this error until we restart the pod

[2021-06-25 09:17] jmprieur commented on #1291
@rsrinivasanhome : 1.14.0 leverages recent versions of Identity.Model 6.10.2+, which handles the metadata refresh better. This should solve your issue without having to restart the pod.

BTW, just to be sure, what do you mean by pod?

[2021-06-25 10:13] rsrinivasanhome commented on #1291
kubernetes pods .  We will upgrade to the latest version of microsoft.identity.web and create a new ticket if we still face the issue.

[2021-06-25 10:13] #1291 closed

[2021-06-28 07:40] ferronsw commented on #1261
@jmprieur
I agree. I have changed it:

[code]

[code]

Unfortunatly I still have the same problem.

[2021-06-28 11:16] jmprieur commented on #1279
That's probably difficult to do that. I think we should provide a solution out of the box.
I've also raised an issue on MSAL.NET, releated to this: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2733

[2021-06-28 11:17] jmprieur commented on #1154
@leoogh did you try with the most recent version of Microsoft.Identity.Web ?

[2021-06-29 20:22] NWessel commented on #1279
@jmprieur
Just want to share my temporary solution which finally works!
So inspiration is clearly used from the link you sent my way!
![image](https://user-images.githubusercontent.com/9061380/123862018-1ccc4380-d928-11eb-84f9-42a8fd1bc296.png)

Here i use the longcontext and start it up with the key right away when i start a new thread
![image](https://user-images.githubusercontent.com/9061380/12

[2021-06-29 22:56] jennyf19 opened #1293 "[Feature Request] Update to .NET 6-preview.*"
https://github.com/dotnet/aspnetcore/issues/33944

Propose a PR for ASP.NET Core to:

- [ ] Update the version of Microsoft.Identity.Web (currently it's 1.1.0)
- [ ] In the web API controller, and the Server of the blasorwasm hosted temlate:
  - [ ] `[RequiredScope("access_as_user")]` on the controller
  - [ ] Remove `scopeRequiredByApi` field
  - [ ] Remove `HttpContext.VerifyUserHasAnyAcceptedSc

[2021-06-30 12:29] jmprieur commented on #1279
@NWessel awesome!
Thanks for sharing!

Do you think it's ok for the moment to let developers do it on their own (with a good sample)? or would you think it's vital to have Microsoft.Identity.Web provide a solution out of the box?

[2021-06-30 13:00] NWessel commented on #1279
I want to say it is vital that it is out of the box - That way we have a common way of doing it, and a one place to fix/optimize it.
On the other hand, it might not fit all situations still (cant think of any right now) and having an example to work from would be good.

There are some things in my LongRunningProcessContext that i dont think looks very nice. The way i need to "move" the absoluteurl

[2021-07-01 14:59] tedvanderveen opened #1294 "[Bug] Starting release 1.11.0 authentication against Azure B2C using PKCE is broken."
**Which version of Microsoft Identity Web are you using?**
Microsoft.Identity.Web 1.14.0

**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory

[2021-07-01 19:13] tedvanderveen commented on #1294
Could this bug be introduced by the config options merging and refactoring?
https://github.com/AzureAD/microsoft-identity-web/pull/1201

[2021-07-02 20:26] henriquebelotto opened #1295 "[Question] How to manipulate (remove/add/change) claims from user (Cookie authentication based) after sign in process"
Hello,

I have an app that uses MS Identity Web and Azure AD B2C to authenticate users. One of the features that we have is user impersonation. So, an admin can log in, using a different Azure policy, and inform what is the member ID that the admin wants to impersonate.
The user's ID is stored in the Cookie, during the "OnTokenValidated" event. This works fine.
Now, they want the admin to be able

[2021-07-03 07:27] DevEnable opened #1296 "[Bug] Additional claims are not being requested"
**Which version of Microsoft Identity Web are you using?**
Issue first identified in 1.12 but still present in 1.14.

**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serial

[2021-07-03 15:28] jmprieur commented on #1295
@henriquebelotto.
Did you think of using multiple authentication scheme ? https://github.com/AzureAD/microsoft-identity-web/wiki/multiple-authentication-schemes

[2021-07-03 15:30] jmprieur commented on #1296
Thanks for reporting and investigating, @DevEnable.
Until we fix this, a possible workaround would be to

[code]

[2021-07-04 00:56] DevEnable commented on #1296
@jmprieur Unfortunately options.Scope has no setter so I can't use your proposed workaround. I did take a clone of this repository and modify it a bit (to get it running, e.g. removing the requirement for strongly signing) and modified MergedOptions.cs at line 202 to add the following code:

[code]

This fixed the issue for me. The scope was part of the request to Microsoft AAD and the email claim

[2021-07-04 14:37] jmprieur commented on #1296
Thanks @DevEnable for sharing your solution.
Indeed, this seems like a good fix.
cc: @jennyf19

[2021-07-05 14:11] henriquebelotto commented on #1295
@jmprieur
Thank you for your reply, but my issue is a bit different.

We have this impersonation feature, where an administrator, during the signing in Azure AD B2C informs which members is going to be impersonated. So, we store that information in the claim.
Now, I need to be able to replace this information in the claim, after the authentication cookie has been created (the administrator has alr

[2021-07-06 20:45] skroeker55 commented on #852
We have a similar issue to the previous post - need to login users and access a downstream API using ADFS2019. Any update on when this might be available?

[2021-07-07 12:36] sven5 commented on #549
So now I'm trying to implement this solution in one of my apps.
I'm using Blazor Server app that should provide two auth providers:

- Azure AD B2C for b2c users
- Azure AD for the owner's company users, say admins

I don't need any downstream API.
@jennyf19  Could you please provide a sample how I can manage this?

[2021-07-07 14:00] jmprieur commented on #549
@sven5 : this is here: https://github.com/AzureAD/microsoft-identity-web/wiki/multiple-authentication-schemes

[2021-07-07 14:14] sven5 commented on #549
@jmprieur  Thanks, I already looked into this.

However, it's not working on my side. I'd like to be able the users of both Azure AD and Azure AD B2C are able to login to my application.

[2021-07-07 14:38] sven5 commented on #549
@jmprieur Yes, I'm currently trying to find the cause of my issues. Perhaps I have a misconfiguration.

[2021-07-07 15:03] sven5 commented on #549
@jmprieur  I've created a minimal repo sample here: https://github.com/sven5/MultipleAuthTest
The `User.Identity.IsAuthenticated` is always false.  What am I missing here?

Thanks!

[2021-07-07 18:26] ndebata opened #1299 "Update MicrosoftIdentityOptions(ClientId/ClientSecret) in runtime"
We are using Microsoft.Identity.Web for a web app which calls Microsoft Graph API where MicrosoftIdentityOptions are configured in startup from configuration. When secrets expire or regular key rotation we update the secret. How do we update the configuration without application restart?
`
services.Configure<AzureAdConfiguration>(Configuration.GetSection(
                                        Az

[2021-07-08 08:00] jmprieur commented on #1299
@ndebata.
I'm assuming that this is for certificate credentials (not decrypt certificates): If you use the certificate description configuration properties, Microsoft.Identity.Web will retry automatically fetching a new certificate version from KeyVault if a certificate expired. See https://github.com/AzureAD/microsoft-identity-web/wiki/Certificates#describing-client-certificates-to-use-by-configu

[2021-07-08 09:18] jmprieur opened #1303 "[Feature Request] Leverage the new .WithCssRoutingHint in MSAL.NET 4.34.0"
**Is your feature request related to a problem? Please describe.**
- Microsoft.Identity.Web:
  -  currently uses it own extension methods to provide the routing hint.
  - uses the .WithHttpHeaders method: https://github.com/AzureAD/microsoft-identity-web/blob/9824659a5cdd8e64b5bea9fe7308e0b0b2fdf262/src/Microsoft.Identity.Web/TokenAcquisition.cs#L178

- MSAL.ENT 4.33.0 retro-fitted a similar API

[2021-07-08 09:28] jmprieur opened #1304 "[Feature Request] Use the new `SuggestedCacheKeyExpiry` in MSAL.NET 4.34.0 to propose eviction in the app token cache"
**Is your feature request related to a problem? Please describe.**
MSAL.NET 4.34.0 proposes a new property `SuggestedCacheExpiry ` on `TokenCacheNotificationArgs `:

[code]

It will be null most of the time, except for AcquireTokenForClient (app token cache)
Use this property when it's not null, to optimize the cache eviction. We could at least do it in the in-memory cache.

**Describe the solutio

[2021-07-08 11:36] sven5 commented on #971
@wmmihaa  Do you get it working with the new version?
I'm not successful. I already tried several combinations, still no luck.
Could you provide some demo code?

Thanks!

[2021-07-08 14:43] avdv opened #1307 "[Bug] AADB2C90088: error when using EditProfile"
**Which version of Microsoft Identity Web are you using?**

Microsoft.Identity.Web 1.14.0

**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memor

[2021-07-08 16:00] ndebata commented on #1299
@jmprieur Thank you for your answer. We are using client secret instead of certificates and configurations are loaded from configuration service using custom configuration provider which reads it from key vault. _IOptionsMonitor<AzureAdConfiguration>.CurrentValue_ has the latest value updated from Azure Ad Configuration configuration. Can you please describe the fine grain control for using the up

[2021-07-08 23:08] wmmihaa commented on #971
Hi Sven,
Yes it works for me. We're using v 1.14.0 (`Microsoft.Identity.Web` & `Microsoft.Identity.Web.UI`):

### Startup.cs - ConfigureServices
[code]

### appsettings.json
[code]

HTH

[2021-07-09 05:44] ferronsw commented on #1261
@jmprieur any ideas how to solve this problem?

[2021-07-09 07:36] sven5 commented on #971
Ok my scenario is a little different. I'd like to use AAD and AAD B2C together in one web app.

[code]

[2021-07-09 08:12] sven5 commented on #971
Ok, now I've found my mistake. The important thing is passing the value of null to the cookieScheme parameter and setting Cookie Authentication as default.

[2021-07-09 08:16] sven5 commented on #549
Update. After lots of trial & error and looking into the source code I've finally found a working solution.

The key is to use Cookie authentication as default and passing the value of `null` to the `cookieScheme` parameter.

My code now looks like:

[code]

[2021-07-09 08:47] ferronsw commented on #1261
@jmprieur @jennyf19 I think I found where it goes wrong. Line 371 from 'TokenAcquisition.cs' the ConfidentialClient is build:
[code]

The mergedOptions contain the information I supplied for the AzureAdBackground scheme.

The method 'GetOrBuildConfidentialClientApplication' checks if there is already a ConfidentialClientApplication:

[code]

This '_application' is not null but contains the informa

[2021-07-09 08:59] TropicalThunder commented on #1259
Hey. I finally had time to check up. I ended up coding the exact same as the example, but to no avail.

[code]

[2021-07-09 13:08] jmprieur commented on #1307
@avdv Ms.Id.Web does specific things for the EditProfile case, and we believe that idtoken response type is required for this scenario?
@nickgmicrosoft is it still the case that B2C requires the idtoken response type?

[2021-07-09 13:18] jmprieur commented on #1299
[code]

Do you want to do that? from a controller/page?

[2021-07-09 13:22] jmprieur commented on #1261
@ferronsw TokenAcquisition is a scoped service ... so it should be recreated for each query.

Can you please provide a bit more context on how you call Graph? it it from a controller action? .
Do you have precise repro steps.

[2021-07-09 13:30] ferronsw commented on #1261
@jmprieur that is what I thought to.

I call a controller where the GraphServiceClient is injected.
I call this method with an ajax (xhr) request:

[code]
GraphService is a static class.

GetMultiGroups method in GraphService class:

[code]

[2021-07-09 14:05] jmprieur commented on #1261
@ferronsw : why don't you inject the GraphServiceClient provided by Microsoft.Identity.Web in your controller?
See https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-app-call-api-call-api?tabs=aspnetcore#option-1-call-microsoft-graph-with-the-sdk

[2021-07-09 14:16] jmprieur commented on #549
Thanks for sharing your findings, @sven5.
I'll update the documentation in the wiki

[2021-07-09 14:22] ferronsw commented on #1261
@jmprieur I do inject it, but I pass it to the static function.

[code]

As you can see I pass it to the static function ("GraphService.GetMultiGroups").

[code]

[code]
That shouldn't be a problem right?

[2021-07-10 00:49] ndebata commented on #1299
This way secret will be initialized once during application start, looking for an option when application is running. Once configuration changes secrets are refreshed and I can see the updated value using IOptionsMonitor<AzureAdConfiguration> but application is not using the value. Is there any way we can refresh the secrets used by Microsoft.Identity.Web without restarting the application. I can

[2021-07-10 01:29] jennyf19 opened #1308 "[Bug] Enable deterministic builds for NuGet packages"
Open the nuget package with NugetPackageExplorer
Under Health it can be observed that deterministic (dll/exe) is flagged for an error.

The solution is that the ContinuousIntegrationBuild MSBuild property has to be set to true when built on CI. In practice that means something like this in your directory props/targets file.
[code]
[Reference](https://www.mitchelsellers.com/blog/article/net-5-deter

[2021-07-11 14:02] jmprieur commented on #1299
@ndebata. I think that we'd need to add listeners to the IOptionMonitor of `MicrosoftIdentityOptions` and `ConfidentialClientApplicationOptions` so that we update the (internal) `MergeOptions` when those change.

Do you have the possibility of tyring out if this branch solves your issue? https://github.com/AzureAD/microsoft-identity-web/tree/jmprieur/investigate1299

[2021-07-12 07:10] avdv commented on #1307
Thanks, @jmprieur. This would imply that one cannot use the EditProfile policy when the app is not permitted to use the hybrid flow?

[2021-07-12 07:36] jmprieur commented on #1307
Let's wait for @nickgmicrosoft 's reply, @avdv

[2021-07-12 08:06] ThomasBarnekow commented on #1167
I have the same issue as @Gtyrande and @jlpstolwijk with 1.14.0, which I just installed. With 1.12.0, everything works as expected.

On the client side, I am using both Postman v8.7.0 and MSAL for Angular:
[code]

On the server side, I am using ASP.NET Core 5.0 with the following configuration:

**appsettings.json**
[code]

**Startup.ConfigureServices(IServiceCollection services)**
[code]

**Start

[2021-07-12 08:29] ThomasBarnekow opened #1310 "[Bug] Bearer error="invalid_token", error_description="The issuer '(null)' is invalid" in v1.14.0"
**Which version of Microsoft Identity Web are you using?**
v1.14.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [X] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     * [ ] Ses

[2021-07-12 08:38] jmprieur commented on #1310
Thanks @ThomasBarnekow for the heads-up and detailed repros.
We might have overlooked a case,  when we have done https://github.com/AzureAD/microsoft-identity-web/pull/1260. We'll have a look

Meanwhile, if you want to set the access token version of your web API to v2.0, you need to do it in the app registration. See https://docs.microsoft.com/azure/active-directory/develop/scenario-protected-web

[2021-07-12 11:59] ThomasBarnekow commented on #1310
Thanks, @jmprieur for the super-quick response. I have quickly checked whether using the v2.0 endpoint makes a difference. It does! Using `"accessTokenAcceptedVersion": 2,` in the manifest to specify the v2.0 endpoint (rather than the v1.0 endpoint) fixes the issue immediately. Now, only my custom middleware complains that the `upn` claim is no longer present. But that's on my end and can be fixed

[2021-07-12 12:30] jmprieur commented on #1310
Thanks for the update, @ThomasBarnekow
We have tested with v1.0 tokens. But I guess something special happens. We'll investigate.
instead of the upn claim, you could use prefered_username. or add an optional claim for your web API: See https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims

[2021-07-12 13:26] ThomasBarnekow commented on #1310
Thanks for the hint, @jmprieur.

I needed an additional claim (and decided to use the `upn`) to provide the option for application administrators to add users to my app, using a name or (better) email address that is known to the user (e.g., because that is how they log in or receive email).

I used the `upn` based on the understanding that this is the name used when logging in (and therefore know

[2021-07-12 13:37] jmprieur commented on #13
Possible design:

Add a new method .WithForceLoginWhenEmptyCache() on the `MicrosoftIdentityAppCallsWebApiAuthenticationBuilder` to force the users to login when there is a session cookie, but not an account in the cache (for instance because memory token cache is used).

[code]

With
[code]

and with

[code]

Alternatively we could create a new extension method:

[2021-07-12 13:45] jmprieur commented on #1310
I guess so, @ThomasBarnekow
@hpsin will confirm.

[2021-07-12 17:12] jennyf19 commented on #13
@jmprieur one would lose CAE, incremental consent, etc... correct?

[2021-07-12 17:24] clairernovotny commented on #13
@jennyf19 how do you lose anything given that the token cache is empty? Either way, a redirect to the IDP is required, isn't it?

[2021-07-12 17:30] jennyf19 commented on #13
@clairernovotny do you control the tenant in which your app runs? or is it up to the customers? if the latter, then tenant admin can enable some conditional access policies that will trigger a multi-factor authentication even if you have pre-authorization. By not using the `[AuthorizeForScopes]` attribute you don't allow your app to process this kind of scenario. you'll have to handle it yourself,

[2021-07-12 18:02] clairernovotny commented on #13
I control the tenant where the app runs, it's not up to the customers. There's no chance CA will take effect here.

[2021-07-12 18:06] ThomasBarnekow commented on #1310
@jmprieur and @hpsin, am I right in assuming that the `preferred_username` and the `upn` always have identical values?

I have some test users that I am using for development, which do not have email addresses. For those, there is obviously no `email` claim. Therefore, the `preferred_username` that @jmprieur originally suggested might still be the better claim. The documentation is just not terrib

[2021-07-12 18:21] hpsin commented on #1310
preferred_username and upn are not guaranteed to be equal. The same is true of email and upn. Some tenants use different UPNs and email addresses in a belief that it is more secure, which is why the claims can be mismatched.

Preferred_username is only suitable for displaying a user-recognizable name to the user in the local UX, as it can change with each login (e.g. if they sign in with a UPN one

[2021-07-12 19:05] jennyf19 commented on #13
@jmprieur i think we should document this specific scenario, but not take any product changes.

[2021-07-12 19:06] clairernovotny commented on #13
@jennyf19 there's no workaround today as the `GetAccessTokenForUserAsync` is internal. If that was external, I could code around it.

[2021-07-12 19:15] jmprieur commented on #13
@clairernovotny :
I provided the work around and tested it.

In Startup.cs:

[code]

And then (inspired by what you had)

[code]

[2021-07-12 19:15] jennyf19 commented on #13
@clairernovotny [`GetAccessTokenForUserAsync`](https://github.com/AzureAD/microsoft-identity-web/blob/9824659a5cdd8e64b5bea9fe7308e0b0b2fdf262/src/Microsoft.Identity.Web/ITokenAcquisition.cs#L32) is public. If this is a 1P migration, from ADAL to MSAL, we have a procedure in place to assist with migration. Please ping one of us and we'll send you the link to the Teams channel. ADAL did not support

[2021-07-12 19:23] clairernovotny commented on #13
I didn't realize that was public, thanks. Documenting it would be helpful, for sure somewhere in the wiki where it'll be seen.

This isn't 1P, it's for the .NET Foundation's code signing service, so like 1.5P. Not sure if that counts?

[2021-07-12 19:27] jennyf19 commented on #13
sounds good.

the migration is for web apps/web APIs right now, so if that makes sense, feel free to join.

[2021-07-12 19:45] clairernovotny commented on #13
That's what it is, it's a combination web app and api app. It could very much benefit from an updated security review too to ensure it's doing the right things with the new code. what's the right way to get started?

[2021-07-12 22:05] Luismvm commented on #1261
I'm also experiencing issue, the repro steps are different but the issue seems to be the same.

It's very easy to repo:

- add 2 auth schemes, one for AAD and one for B2C,
- try to use TokenAcquisition to call graph with the AAD scheme
- It will always try to fetch the token against the B2C token endpoint
- Remove the B2C scheme, everything works fine

When having two authentication schemes, one w

[2021-07-13 02:30] jennyf19 commented on #1261
@Luismvm with `.AddAuthentication()` the last one is taken if you define a value for the scheme. So don't define anything in `.AddAuthentication()` for both, and then you give the scheme in the `.AddMicrosoftIdentityWebApi(Configuration.GetSection("AzureAd"), "AAD")` for both respectively.

Do you set the authentication schemes authorize property on the authorize attribute? example: [B2C controlle

[2021-07-13 02:40] Luismvm commented on #1261
@jennyf19 I've tried without the schemes in the AddAuthentication too, same issue still happens. I've also tried with the authorization attribute set to either AAD only, same issue... as long as both schemes are provided, the TokenAcquisition always uses the B2C one.

[2021-07-13 08:54] ThomasBarnekow commented on #1310
Thanks, @hpsin. So what you are saying is that the `preferred_username` will always reflect the "name" last used by the user to sign in, whatever he or she used (e.g., UPN, email, phone number). There is no separate "field" stored anywhere in AAD or elsewhere from which the `preferred_username` value would be sourced. Right?

Say the UPN and email are different and the user can sign in using only

[2021-07-13 08:55] jmprieur commented on #13
@jennyf19 : I've added a small paragraph in the existing article on how to handle the empty cache, incremental consent, conditional access, etc: https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access#clearing-the-authentication-cookie-instead

[2021-07-13 09:06] jmprieur commented on #1261
@ferronsw : I don't think you should really use both schemes in the same request. My recommendation would be to trigger another request (for instance by navigating to another page/controller).

[2021-07-13 09:30] jmprieur commented on #1261
@Luismvm can you also share the code in your controller / page:
- did you add the authorize attribute with AuthenticationSchemes ?
- did you explicitly pass-in the authentication scheme parameter to the ITokenAcquisition methods? (or used .WithAuthenticationScheme, on the request to MicrosoftGraph)?

@ferronsw @Luismvm : I've updated the article with an improved sample and reference to the test ap

[2021-07-13 09:35] jmprieur commented on #1261
@ferrons: note that you could use the same application for both application and delegated permissions. See [Specify scopes and app-permissions for GraphServiceClient](https://github.com/AzureAD/microsoft-identity-web/wiki/1.2.0#you-can-now-specify-scopes-and-app-permissions-for-graphserviceclient).

For the consent issue, I think this would work if you only pre-authorize (admin consent) the app-on

[2021-07-13 09:38] ferronsw commented on #1261
So far I know and tested it's not possible to give only pre-authorize (admin consent) for app-only permissions when delegated permissions are also specified. Besides that I want to be able to pre-authorize (admin consent) delegated permissions as well.
So users don't have to do that. The application is for organizational use (that's why it's pre-authorized) and not personal.

[2021-07-13 09:41] jmprieur commented on #1261
So, if you can pre-authorize everything, @ferronsw, just use  `new [] { $"{ApiAppIdUri}/.default"} ` as `scopes` to get the tokens, and you'll be good?

[2021-07-13 09:45] ferronsw commented on #1261
@jmprieur unfortunately no. Some scopes we use can't be granted, because they don't exist in the tenant of our customers. Some customers not have access to certain Office 365 or Azure services like Yammer or Windows Virtual Desktop.

Because of this problem we had to split our app registration in two pieces like I described.

[2021-07-13 10:20] Luismvm commented on #1261
@jmprieur code is in different places but i'll try my best to bring it all together here for you.

Startup.cs:

![image](https://user-images.githubusercontent.com/29466233/125434855-0abd1a40-935e-4bfe-800b-762edb7976e5.png)

Adding the authorization policy:

![image](https://user-images.githubusercontent.com/29466233/125434937-3a076702-4dfd-41b5-8735-a3171b78769a.png)

Using the token acquistion:

[2021-07-13 11:18] psignoret commented on #1261
@ferronsw Can you share some more details on how you've configured and are requesting permissions today? Which permissions do you two app registrations have configured, and which ones (if any) are requested dynamically?

[2021-07-13 12:59] jlpstolwijk commented on #1310
To add to the above: I added logging for the `OnAuthenticationFailed` event, and I saw that the error message is this:

`Microsoft.IdentityModel.Tokens.SecurityTokenInvalidIssuerException: IDW10303: Issuer: 'https://sts.windows.net/<guid>/', does not match any of the valid issuers provided for this application. `

So for testing purposes, I changed the value of `TenantId `in appSettings.json and p

[2021-07-13 13:05] jlpstolwijk commented on #1290
seems related to #1310

[2021-07-13 13:06] jmprieur commented on #1310
Thanks @jlpstolwijk for this investigation.

[2021-07-13 15:25] Luismvm commented on #1261
I've updated the packages and passed the authentication scheme to the tokenacquistion service, and everything seems to work fine now :)

The only issue seems to be using the policy builder to add the authorization filter doesn't seem to work, even if you specify the schemes to authenticate against, the authorization always seems to fail... so i moved the authorization filter to the controllers and

[2021-07-13 15:58] jmprieur commented on #1310
@jlpstolwijk, I've been trying to repro this problem. I changed the manifest of my web API to have it request for a v1.0 token, and changed the TenantId to be common, but I still don't have any error.

Would you have set the issuer yourself?
Do you have repro steps

[2021-07-13 16:20] hpsin commented on #1310
Almost - unfortunately in guest scenarios, they could sign in using their foreign-tenant UPN, and then you'd have `preferred_username` = name@domain.com and `upn` = user_domain.com#EXT#yourTenant.com

If you're looking to ACL based off of human-readable names, it'll generally be a rough time as values change over time.  If possible, I'd suggest using app role assignment within the Azure Portal ins

[2021-07-13 16:46] jmprieur commented on #1261
@Luismvm:
- the app authentication scheme means that all your controller actions will be authenticated with AAD
- If you want to use a different auth scheme when requesting your token you need to user `_tokenAcquisition.GetAccessTokenForUserAsync(scopes, authenticationScheme: "YourDesiredAuthScheme")`

[2021-07-13 17:00] jlpstolwijk commented on #1310
@jmprieur tenantId should be “organizations”, not common. Maybe that helps?

[2021-07-13 17:03] jmprieur commented on #1310
@jlpstolwijk : I tried organizations too

[2021-07-13 17:07] jlpstolwijk commented on #1310
Hmm strange. My manifest for both angular spa (which retrieves token) and .net core api (which cheks token) have "accessTokenAcceptedVersion": null. Dont know if that makes a difference. I’ll try to see if I can post more code later, not on my laptop now

[2021-07-13 17:30] ThomasBarnekow commented on #1310
@hpsin, thanks. I only need this for first-time user registration to match a piece of information (e.g., the username or email) that is known to the user and given to an application admin for adding the user to the application. Once the user signs in, the OID is retrieved and used for any further authentication and authorization decision.

The desire is to ask a straightforward question such as "w

[2021-07-13 17:38] ThomasBarnekow commented on #1310
@jlpstolwijk, did you try to change `"accessTokenAcceptedVersion": null` to `"accessTokenAcceptedVersion": 2`? That fixed it for me. In the v2.0 token, the issuer will then no longer be `https://sts.windows.net/<guid>/`.

[2021-07-13 17:38] henriblMSFT commented on #1290
@jlpstolwijk this looks indeed like the same exact issue. When I investigated mine I found that the problem was in [AadIssuerValidator](https://github.com/AzureAD/microsoft-identity-web/blob/master/src/Microsoft.Identity.Web/Resource/AadIssuerValidator.cs#L77)

When debugging I observed the following:
On Line 77 ValidIssuers is set to:
[code]
the claims issuer is `https://sts.windows.net/7a797836-

[2021-07-13 18:05] jmprieur commented on #1310
Actually sorry, I had changed it on the client web app, not the web API. We can repro it. Thanks so much!

[2021-07-13 18:25] jlpstolwijk commented on #1310
Yes I tried that and it seemed to work. However, I prefer not to switch to v2, because of existing clients being logged out etc

[2021-07-13 19:22] jmprieur commented on #1290
Thanks @henriblMSFT
@jennyf19 just fixed it.

[2021-07-13 20:23] hpsin commented on #1310
This is a bit tricky. If you need a valid email address, you need to ask for it explicitly.  We can't guarantee that the email addresses are addressable, nor the email claim that we create for guest users.  I believe the email claim on guest users is the upn of the original account. If you're looking up details against Graph, we should pull in folks from that team to give a better set of options t

[2021-07-13 20:38] ThomasBarnekow commented on #1310
@hpsin, the [documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims) says that the `email` claim is "the addressable email for this user if the user has one." It further says:

Therefore, my very clear expectation would be that, if I configure the optional claim, the `email` claim contains the email address that a user would provide when ask

[2021-07-13 20:59] hpsin commented on #1310
I'll fix the documentation there, as it's not always the case. My apologies.

[2021-07-13 21:18] ThomasBarnekow commented on #1310
What exactly do you mean by "it's not always the case?" In Section 2.5 (Standard Claims), the [OpenID Connect Basic Client Implementer's Guide 1.0](https://openid.net/specs/openid-connect-basic-1_0.html) states that the `email` claim is the:

[2021-07-13 22:28] hpsin commented on #1310
The email claim will always conform to the textual definition of the addr-spec syntax when present, that's not a concern at least.  The problem is that the `email` claims isn't guaranteed to be the user's actual "preferred" email address - simply the email address string that's been recorded for them in the directory, potentially sourced from an incorrect origin (i.e. it could be sourced from a gu

[2021-07-14 13:51] patrickblanc opened #1315 "[Bug]"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [x] Protected web APIs call downstream web APIs
* Token cache seria

[2021-07-14 15:20] dalibor-sanzeru opened #1316 "[Documentation]"
### Documentation related to component
AzureAd configuration not read on Azure App Service

### Please check all that apply

- [ ] typo
- [X ] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in the example
- [ x] needs an example

### Description of the issue
Hi,
I am using Azure App Service to host .net5 API using AzureAD loaded from JSON config. After deploymen

[2021-07-14 17:36] jennyf19 commented on #1316
@dalibor-sanzeru I think App Services won't work for a web API. have you seen this [documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-overview) on protected web APIs.

[2021-07-14 18:14] dalibor-sanzeru commented on #1316
Jenny,
What and why should not work?
https://docs.microsoft.com/en-us/aspnet/core/tutorials/publish-to-azure-api-management-using-vs?view=aspnetcore-5.0

I am looking way how to rewrite appjson configuration with section AzureAd into azuri-sh app-config, so used extension method can read it correctly.

[2021-07-15 02:59] jennyf19 commented on #1316
@dalibor-sanzeru closing, but feel free to reopen if you're still having issues.

[2021-07-15 02:59] #1316 closed

[2021-07-15 09:50] edwin-traffk commented on #1294
@tedvanderveen , @jennyf19 - as the use case for SPA application includes [BCP](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-security-topics-18)  from IETF for utilization of auth-code with PKCE flow for PUBLIC clients as a MUST (while Confidential clients are still a SHOULD) as well - is the intention here to split the required functionality  to provide this between MSAL.NET and MSIdent

[2021-07-15 09:56] jmprieur commented on #1294
@edwin-traffk : sorry, I don't understand what your question is (or your concern)

[2021-07-15 10:07] edwin-traffk commented on #1294
@jmprieur - my apologies for not being unclear...

Background: We have a Blazor WASM (public client / SPA by definition) app - using the .NET MSAL libraries today. Currently there is no option to utilize 'auth-code + PKCE' flow (for public clients) from the .NET libraries **(that I am aware of - OTHER than working out some kind of JSInterop with MSAL2.JS)**.

I am attempting to understand with the

[2021-07-15 13:26] tedvanderveen commented on #1294
@edwin-traffk this .Net lib actually does support Auth-code plus PKCE. We have it in production ATM. Just stick to version 1.10.0 (or earlier) for the moment.

[2021-07-15 13:36] tedvanderveen commented on #1294
@jmprieur was this a regression test miss or was PKCE support dropped on purpose with release 1.11.0?

[2021-07-15 13:43] jmprieur commented on #1294
Microsoft.Identity.Web should support AuthCode + PKCE, and I couldn't repro the issue so far (looking with fiddler in our AAD test app it does send the challenge). Do you have specific repro steps? Is it B2C only?

[2021-07-15 14:49] edwin-traffk commented on #1294
@tedvanderveen - thank you for the comment/feedback - I did notice this earlier in the related threads, and am glad to understand that at least the logic is there to some degree, and I could work it backwards to integrate. :)

Also - @jmprieur - I did note that this particular issue seemed to be related to regression from 1.10->current (so in theory - I could potentially grab MSIW 1.10 (for now -

[2021-07-15 15:08] jennyf19 commented on #80
![image](https://user-images.githubusercontent.com/19942418/125811549-88eedf0f-81ab-456e-9503-3393a5ba0306.png)

[2021-07-15 15:30] jennyf19 commented on #1296
Included in [1.14.1 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.14.1)

[2021-07-15 15:30] #1296 closed

[2021-07-15 15:30] jennyf19 commented on #1308
Included in [1.14.1 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.14.1)

[2021-07-15 15:30] #1308 closed

[2021-07-15 15:30] jennyf19 commented on #1304
Included in [1.14.1 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.14.1)

[2021-07-15 15:30] jennyf19 commented on #1290
Included in [1.14.1 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.14.1)

[2021-07-15 15:30] #1290 closed

[2021-07-15 15:30] jennyf19 commented on #1310
Included in [1.14.1 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.14.1)

[2021-07-15 15:30] #1310 closed

[2021-07-15 16:53] jmprieur commented on #1293
## Proposed work, @jennyf19

Propose a PR for ASP.NET Core to:

- [ ] Update the version of Microsoft.Identity.Web (currently it's 1.1.0)
- [ ] In the controller of the web API, and the Server of the blasorwasm hosted template:
  - [ ] `[RequiredScope("access_as_user")]` on the controller (Or use the configuration ?)
  - [ ] Remove `scopeRequiredByApi` field.
  - [ ] Remove `HttpContext.VerifyUser

[2021-07-15 18:41] tedvanderveen commented on #1294
@jmprieur can you please share config/options and B2C setup? So I can retry.

[2021-07-15 22:14] TheXenocide commented on #221
Is it just me or does it feel like this question was never actually answered? Maybe the question wasn't fully understood? Not really sure why this was closed.

[2021-07-15 22:33] TheXenocide opened #1320 "[Question]/[Documentation] How are refresh tokens handled in Blazor server applications?"
### Documentation related to component
Microsoft.Identity.Web

### Please check all that apply

- [ ] typo
- [x] documentation doesn't exist
- [x] documentation needs clarification
- [ ] error(s) in the example
- [x] needs an example

### Description of the issue

[This issue](https://github.com/AzureAD/microsoft-identity-web/issues/221) appears to have been closed after a one sentence answer that

[2021-07-15 22:56] jlautman opened #1321 "[Documentation] Clarification of behavior of Token Decryption Certs during cert rotation"
### Documentation related to component
Token Decryption

### Please check all that apply

- [ ] typo
- [ ] documentation doesn't exist
- [ x] documentation needs clarification
- [ ] error(s) in the example
- [ ] needs an example

### Description of the issue

If we use the TokenDecryptionCertificates declaration and let Microsoft.Identity.Web manage our decryption certs, what does the library do w

[2021-07-16 08:59] jmprieur commented on #221
Sorry @simonziegler @TheXenocide. I had not realized this wasn't clear enough.
1. If you use, a blazor server app, then this is like a web app, and the token are refreshed

   `dotnet net blazorserver --auth IndividualB2C`  --called-api-url xxx --called-api-scopes yyy

 2. If you use a blazorwasm hosted application you create a SPA + a Web API.

   `dotnet net blazorwasm --hosted --auth Individual

[2021-07-16 09:34] jmprieur commented on #1321
Thanks for the heads-up.
We'll update the doc.

- You can provide several TokenDecryptionCertificates in the configuration. They are both passed to middleware (Identity.Model) which will try one and then the other.
- We don't currently try to re-load the decrypt certs (we do for the certificate credentials)

[2021-07-16 13:16] ferronsw commented on #1261
@psignoret I request the dynamic scopes like this for the delegated app registration

[code]
The scopes that can be requested are:

Directory.AccessAsUser.All
Files.Read.All
offline_access
profile
user_impersonation (Yammer)
email
User.Access (WVD)
openid
Mail.Read
Calendars.Read

For the application permissions app registration I use this:

[code]

[2021-07-16 14:25] jmprieur commented on #1044
Proposed experience.

Customers who want to benefit from cache encryption will add a few lines in their startup.cs:

[code]

Proposed design:

- [ ] Inject `IServiceProvider` in the `MsalAbstractTokenCacheProvider` constructor. Have a null default value to avoid a breaking change in existing token caches deriving from `MsalAbstractTokenCacheProvider`  and not provided by us
- [ ] Add a member `dat

[2021-07-16 14:29] TheXenocide commented on #1320
After cleaning up some tabs and re-reading the question, I thought it might help to clarify some things.

First, it looks like maybe I was a little confused between a StackOverflow answer or early blog post and the MS docs because the scoped service I mentioned (which is actually under the "[additional scenarios](https://docs.microsoft.com/en-us/aspnet/core/blazor/security/server/additional-scenar

[2021-07-16 14:32] jsquire opened #1322 "https://aka.ms/ms-identity-web/daemon-ACL link is broken"
# Issue Transfer

This issue has been transferred from the Azure SDK repository, [#22684](https://github.com/Azure/azure-sdk-for-net/issues/22684).
### Please be aware that @jlautman is the author of the original issue and include them for any questions or replies.
---

https://aka.ms/ms-identity-web/daemon-ACL Redirects to https://www.bing.com/?ref=aka&shorturl=ms-identity-web/daemon-ACL, which i

[2021-07-16 14:37] jmprieur commented on #1322
@jsquire thanks for the heads-up
I just fixed it

[2021-07-16 14:38] jmprieur commented on #1322
#please-close

[2021-07-16 14:38] #1322 closed

[2021-07-16 14:40] TheXenocide commented on #221
Thanks for the clarification; I'll move the rest of my quest for knowledge to the other question.

[2021-07-16 15:19] jennyf19 commented on #1320
@TheXenocide

Blazor server is like any web app (mvc, webapp templates), and Microsoft.Identity.Web delegates to MSAL.NET to refresh tokens when they are requested, if needed.

If the token acquired is a long lived token because your app calls an API that supports [CAE](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-continuous-access-evaluation) and you have ena

[2021-07-16 18:01] TheXenocide commented on #1320
Thanks for the resources, I'm reviewing now. As a side note, we're actually not using B2C; our primary auth for the application/APIs in question are just using the customer's traditional Azure AD and our longterm plans mentioned are using B2B with our own instance using guest accounts linked to their Azure AD accounts used with the main application. We haven't determined yet if we'll need to reque

[2021-07-16 18:31] jmprieur commented on #1320
@TheXenocide : great. If you are building an AAD app, you have more options.
For mixing AAD and B2C, you'd want to use multiple authentication schemes (applied to web APIs): https://github.com/AzureAD/microsoft-identity-web/wiki/multiple-authentication-schemes

[2021-07-17 18:28] jlautman commented on #1321
Could I add a feature request for auto-loading new certificate versions?
This would be very helpful for the zero touch certificate rotations Azure
is aiming for. Otherwise new certificates wouldn't be picked up until the
next time the vm starts. Or is that out of scope for Microsoft.Identity.Web?

On Fri, Jul 16, 2021, 5:34 AM Jean-Marc Prieur ***@***.***>
wrote:

[2021-07-19 07:10] jmprieur commented on #1321
@jlautman : we'll try.

Decrypt certificate rotation has a bigger issue which is that certs need to be rotated in the portal, whereas client certificates can be rotated more easily by using subject name issuer by using .SendX5C(true).

[2021-07-19 13:07] avdv commented on #1307
I have updated to 1.14.1 in the meantime, but the problem persists.

Any updates on this?

[2021-07-19 13:30] jmprieur commented on #1293
https://github.com/dotnet/aspnetcore/pull/34492

[2021-07-19 14:17] TheXenocide commented on #1320
Thanks again, I think I'm understanding what you're describing here, but I'd like to break down what we have currently, what we were thinking before this conversation, make sure I understand the suggestions, and then discuss some remaining questions and implementation/user experience details.

For the sake of keeping this simple, let's ignore our future plans with Power BI for the moment and start

[2021-07-19 17:36] throck95 opened #1324 "[Bug] Bearer error="invalid_token", error_description="The issuer '(null)' is invalid" in v1.14.1"
**Which version of Microsoft Identity Web are you using?**
v1.14.1

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [X] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     * [ ] Ses

[2021-07-19 18:08] jmprieur commented on #1324
@throck95 : can you please enable PII to see the issuer displayed in the error message
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/PII

This is not B2C, btw? It's AAD with a B2C tenant?

[2021-07-19 18:11] throck95 commented on #1324
@jmprieur The issuer returned in the error message is there. The `[guid]` value is the tenant guid of the host. As for your second question, yes we're using B2C here and we're using the AAD B2C to authenticate both organizational users and external users to access our system. Sometimes we create an app registration and generate a secret. Other times, it's pass-thru authentication from an MVC.

[2021-07-19 18:27] jmprieur commented on #1324
@throck95 : I'm not seeing that your configuration is B2C because:
- there is no policy?
- The instance is not "https://login.microsoftonline.com/tfp" (or domain.b2clogin.com)

Would you mind distiguishing guid into guid1 and guid2 ?

[2021-07-19 18:54] throck95 commented on #1324
@jmprieur I've updated the guids to separate them out based on their respective values.

Below you'll find the screenshot where we retrieve an access token and authenticate against the API when running v1.14.1. This results in the aforementioned error.
![image](https://user-images.githubusercontent.com/13982974/126210916-cc1479a9-4390-4576-8ba3-0f44bb772547.png)

Below is an image of the exact sam

[2021-07-20 09:20] avdv commented on #1307
Another update:

We have enabled the implicit grant flow for the App (both, Access Token and ID token are enabled) so I don't need to prevent the `id_token` anymore.

My code now looks like this:
[code]
Here's the debug log output:
[code]

[2021-07-20 13:36] jsquire opened #1325 "incorrect English grammar means unclear explanation"
# Issue Transfer

This issue has been transferred from the Azure SDK .NET repository, [#22717](https://github.com/Azure/azure-sdk-for-net/issues/22717).

### Please be aware that @kbdguy is the author of the original issue and include them on any questions or responses.

---
"...on behalf of the user account which claims are provided in the User member..."

Not clear what that means.  Possibly "..

[2021-07-20 13:56] TheXenocide commented on #1320
I remembered my other question: with the "refresh tokens just work" bit, does that mean the user's authentication for the Blazor application itself (which they aren't able to access without performing Azure AD auth in the first place) will stay up-to-date (i.e. will it automatically refresh the token used to access the SPA application itself such that their auth cookie is updated automatically whe

[2021-07-20 14:18] jmprieur commented on #1325
@jennyf19, let's try to improve this sentence

[2021-07-20 18:26] nickgmicrosoft commented on #1307
@jmprieur , this doesn't seem to be an issue with the idtoken/implicit flow but rather something maybe about the known authority or the way the two different policy endpoints are being handled in the code?  If you think otherwise/it's an issue with the service let me know and I can ask an engineer on our side to help engagement.

[2021-07-21 00:35] TheXenocide commented on #1320
Per "Configuring optional claims" it looks like we should still be able to get these in our access tokens by configuring them in our app registration, much like how our current IdentityServer-based solution does so I don't believe we currently have need for any Graph information about the user.

[2021-07-21 13:42] throck95 commented on #1324
Is there any additional information I can provide to assist with the research into why v1.14.1 would still be returning a bearer error still?

[2021-07-21 15:10] jmprieur commented on #1324
@throck95 : why do you provider    `options.MetadataAddress = metadataAddress;` ?
can you please remove this and check?

[2021-07-21 16:16] throck95 commented on #1324
@jmprieur That was in there as a result of my using the Instance of login.microsoftonline.com. Even using /tfp this was still required as it had to do with the authority being issued on the bearer token (https://github.com/AzureAD/microsoft-identity-web/wiki/Azure-AD-B2C-issuer-claim-support). I've changed the Instance in the appSettings now to:

[code]

This change allows the MetadataAddress to n

[2021-07-21 16:30] mattbanes commented on #654
I have version 1.14.0 and I'm getting an error because WithAppOnly does not exist. It wasn't removed in a subsequent release was it? I can't find any information about it, but there must be something I'm missing.

[2021-07-21 17:19] jmprieur commented on #654
@mattbanes : did you reference Microsoft.Identity.Web.MicrosoftGraph? or Microsoft.Identity.Web.MicrosoftGraphBeta?

[2021-07-21 18:05] mattbanes commented on #654
@jmprieur I feel like a moron. I realized I was looking at the wrong project's Nuget packages when I thought I had that package added. That's why I wasn't getting any intellisense help on this. It's working as described now that the user error is resolved. 🙄

After posting here I opened a discussion thinking this thread may not be monitored since it's closed. Is it possible to just close that disc

[2021-07-21 19:05] edwin-traffk commented on #1294
@jmprieur - apologies for delay on a repro - starting anew with clean .NET5 latest release (5.0.302sdk) was able to use .NET5 blazorwasm template with --auth B2C - adding a few scopes to the request (in program.cs) - and get id, refresh, access tokens using auth-code/pkce from the B2C endpoint configured as a SPA redirect with 'public client' and NO selection for 'id token' or 'access token' in th

[2021-07-21 19:37] tedvanderveen commented on #1294
@edwin-traffk what version of this library are you using? 1.10.0 or latest (1.14.1)?

[2021-07-21 20:27] edwin-traffk commented on #1294
@tedvanderveen - I was thinking I was thinking (in error it appears) - that I would have to supplement the Microsoft.Authentication.WebAssembly.Msal with MSIW (some version) or other library, in order to get pkce to function correctly. (at least the initial exchange, etc...). I'm not exactly sure if any/parts of MSIW were included into the .NET5 WebAssembly packages were to provide this functional

[2021-07-21 23:00] jlautman commented on #1321
This feature request is as a result of exactly that difficulty.

Our decryption cert rotation strategy requires that we have both the old
and new decryption certificates loaded into the system, so that when we
upload the new certificate the service can decrypt without interruption.
Currently we have to restart all instances of our service to get to this
state. This feature request would make this

[2021-07-22 06:53] qetza commented on #1131
Any idea when the PR will be included and released?

[2021-07-22 07:03] tedvanderveen commented on #1294
@edwin-traffk I guess what your setup is using, is based on this: https://github.com/dotnet/aspnetcore/tree/main/src/Azure/AzureAD/Authentication.AzureADB2C.UI/src
This is component is supposed to be replaced by MSIW. But for now this deprecated lib could be a valid alternative while PKCE support is being restored

[2021-07-22 08:28] atrevers opened #1333 "[Bug] 401 on MicrosoftIdentity/Account/Signin when deployed to App Service"
**Which version of Microsoft Identity Web are you using?**
Microsoft.Identity.Web 1.14.1

**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory

[2021-07-22 09:27] jmprieur commented on #1321
@jlautman. Agreed for the cert rotation. I've turned this issue into an enhancement.

However, for your question about Identitty.Model, I'm confused because Microsoft.Identity.Web (currently 1.14.1) has been referencing Identity.Model 6.11.1 since the beginning of June. Are you on the latest version?

Identity.Model just released 6.12.0 yesterday (cc: @jennyf19)

[2021-07-22 09:28] jmprieur commented on #1333
@atrevers: are you using app services authentication (EasyAuth)?
What would be the title of your bug?

[2021-07-22 10:40] jmprieur commented on #1294
@tedvanderveen @edwin-traffk
So I spent the time needed to investigate what happens.

### Analysis
To come back to the original issue, PKCE will only be used, indeed, if

`options.ResponseType = OpenIdConnectResponseType.Code;`
or
`options.ResponseType = OpenIdConnectResponseType.CodeIdToken;`

but this seems to provoke a token validation error in ASP.NET Core / Identity.Model. There were a lot of

[2021-07-22 10:50] jmprieur commented on #1320
@TheXenocide :
- MSAL.NET / Id.Web handle the refresh tokens in Blazor server applications when there are access tokens and refresh tokens, that is when these call web APIs

### If you just want to authenticate a user:
- Just do `dotnet new blazorserver --auth SingleOrg` and that will produce the code you need to sign-in a user. There is no access token involved as you won't call any web APIs

###

[2021-07-22 11:59] jmprieur commented on #1261
@ferronsw : do we agree that your initial issue is solved?

[2021-07-22 12:00] jmprieur commented on #1154
Closing as you have not answered, @leeogh
but feel free to reopen and provide a repro if you are still blocked.

[2021-07-22 12:00] #1154 closed

[2021-07-22 12:04] ferronsw commented on #1261
@jmprieur  yes

[2021-07-22 12:05] atrevers commented on #1333
No, I've registered my application in Azure AD with corresponding values in appsettings.json, and haven't configured any authentication through the App Service.
Sorry, title of the bug is updated.

[2021-07-22 12:07] jmprieur commented on #1261
do you mind closing this issue @ferronsw ?

[2021-07-22 12:08] jmprieur commented on #1333
ok. Next question
did you add a redirect URI in your app registration for the deployed application? (that is replacing localhost:port by the URL where your app is deployed in app service?

[2021-07-22 12:08] ferronsw commented on #1261
No

[2021-07-22 12:08] #1261 closed

[2021-07-22 12:22] jmprieur commented on #1324
@throck95 : you are missing policies
See an appsettings.json that works: https://github.com/AzureAD/microsoft-identity-web/blob/master/tests/B2CWebAppCallsWebApi/TodoListService/appsettings.json

[2021-07-22 12:25] throck95 commented on #1324
@jmprieur I've got policies in my appsettings. I just didn't think they were relevant to list out. My apologies.

[code]

[2021-07-22 14:59] tedvanderveen commented on #1294
@jmprieur thanks for the deeper analysis!
So no changes need to be made on the B2C side in Azure? It's just those two additional lines in startup.cs?

[2021-07-22 16:01] tedvanderveen commented on #1294
Additionally, what is the purpose of the  `UsePkce` setting now actually?
I appreciate API of this lib his changed between versions 1.10.0 and 1.11.0. Shall there be any updated documentation or guidance be provided to accompany those changes?

[2021-07-22 16:01] jlautman commented on #1321
I am using Microsoft.Identity.Web 1.14.1 with .Net Core 3.1. On further
investigation it appears that Microsoft.AspNetCore.Authentication.* version
3.1.17 (the highest version available for .Net Core) depends on
IdentityModel >=5.5.0. Since Microsoft.Identity.Web for .Net Core 3.1 does
not have an explicit version dependency on IdentityModel, it loads 5.5.0 as
requested by that dependency by defau

[2021-07-22 16:36] tedvanderveen commented on #1294
And finally, I find it a bit strange this issue/problem/bug/regression was now suddenly labeled "Question" and promptly labeled "Answered" while clearly something is not okay and some (temporary?) workaround is required to mitigate a breaking and not fully tested change.

[2021-07-23 06:41] SquallHalle commented on #979
Hi,

i got an ASPNetCore 3.1 Application and inside i use a self-wirtten-libary to call some azure graph functions via Microsoft.Graph package.  I use ASPNetCore as Backende while i serve a SPA written in VUE and Auth is done via keycloak.
So maybe that's the wrong place to answer but the pattern of my problem is kind of the same.
On my local Maschine everything runs alright but as soon as i publi

[2021-07-23 09:11] jmprieur commented on #979
@SquallHalle : I think you might be missing this step: https://docs.microsoft.com/en-us/azure/app-service/scenario-secure-app-access-microsoft-graph-as-user?tabs=azure-resource-explorer%2Ccommand-line#configure-app-service-to-return-a-usable-access-token

[2021-07-23 09:37] rymeskar opened #1336 "[Feature Request] Create Microsoft.Identity.Web.Downstream package"
**Is your feature request related to a problem? Please describe.**

We like to keep our dependency structure clean and concise with the ability to pick and choose particular and granular solutions. That is why, we would like to rely on the Id.Web MSAL extensions and the IDownstreamApi without onboarding to the inbound authentication stack.

**Describe the solution you'd like**
Split the Microsoft.

[2021-07-23 11:06] jmprieur commented on #1336
@rymeskar : We'd actually want to provide a similar experience in MSAL.NET for both public client and confidential client applications.
But I want to take the time to propose a good spec and design for this.

[2021-07-23 11:43] jmprieur commented on #1294
@tedvanderveen :
- UsePkce is used when you want to **acquire a token** to call a downstream web API, not when you 'just' want to sign-in a user (because you would get an access token anyway). You would btw need to provide a client secret or a client certificate.
- therefore if you really want to sign-in user and not do anything with the token the suggestion is to be explicit about it (add the 2 l

[2021-07-23 11:44] jmprieur commented on #1321
Thanks for the heads-up, @jlautman
@jennyf19 fixed it: https://github.com/AzureAD/microsoft-identity-web/pull/1334

[2021-07-23 12:34] GeorgeNarcis opened #1337 "[Bug] ITokenAcquisition.GetAuthenticationResultForUserAsync ignores scopes parameter when running in AppService"
**Which version of Microsoft Identity Web are you using?**
  Microsoft.Identity.Web Version 1.14.1

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [x ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [

[2021-07-23 12:52] makemefeelgr8 opened #1338 "[Bug] AddProtectedWebApi is missing on IServiceCollection"
This issue is still not fixed:
https://github.com/AzureAD/microsoft-identity-web/issues/78

I installed Microsoft.Identity.Web 1.14.1 nuget package into my .NET 5 solution and tried to use Azure AD to authenticate users, like:

    services.AddProtectedWebApi(Configuration);

But it said there is no such method on IServiceCollection.
Please, fix.
Thanks.

[2021-07-23 13:37] SquallHalle commented on #979
hey @jmprieur  thanks for you answer.
No actually my config looks like this:
[code]

so i guess that should be right.
but also may i am wrong here, course i dont use azure to auth my webapp but just a lib i use inside the webapp-backend and to me this chnage looks like its needed if you use the  azure-auth directly in the webapp for userers or such.

Greetings

[2021-07-23 13:47] vsarunov opened #1339 "claims transformation question"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [X] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache seria

[2021-07-23 14:29] jennyf19 commented on #1338
That is the old API. Please use `.AddMicrosoftIdentityWebApi(Configuration)`

@makemefeelgr8  Is there a doc which says to use `services.AddProtectedWebApi(Configuration);`? Asking so we can fix it. Thanks.

[2021-07-23 14:29] #1338 closed

[2021-07-23 14:46] jmprieur commented on #1337
@GeorgeNarcis, did you enabled App Service authentication (EasyAuth)?

[2021-07-23 15:31] GeorgeNarcis commented on #1337
Hi @jmprieur  thank you for your answer, yes we use app service authentication with Microsoft Identity provider.  This is what we did to get it working, we've added the scope parameter in the loginParameters config section of the AppService. But this will work to get tokens only for one downstream API.
What if you want to get access tokens programmatically for multiple APIs, do I understand correc

[2021-07-23 15:54] jmprieur commented on #1337
@GeorgeNarcis yes that is a limitation of Easy auth

Did you try to add several resources in the manifest: https://docs.microsoft.com/en-us/azure/app-service/scenario-secure-app-access-microsoft-graph-as-user?tabs=azure-resource-explorer%2Ccommand-line#configure-app-service-to-return-a-usable-access-token ?

but frankly, in your scenario:
- copy the client ID that EasyAuth generated from you
- cop

[2021-07-23 16:11] GeorgeNarcis commented on #1337
@jmprieur we are using auth v2 where resource is not supported anymore and I needed to use scopes.

So I ve added in the manifest in the loginParameters section in the scope property the scope for the downstream API I wanted to get access tokens in the format {appId}/{scopeName} and that worked, after this the GetAccessTokenForUserAsync  started returning the right tokens with audience set for the

[2021-07-24 18:37] makemefeelgr8 commented on #1338
Thanks, it worked.

No, it's just that most of 3rd party tutorials and stackoverflow answers are relying on this function.

[2021-07-24 19:52] vvolodin opened #1343 "[Bug] No way to specify tenant id to instantiate GraphServiceClient with when using AddMicrosoftGraphAppOnly"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.15.0

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [x] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory

[2021-07-24 23:54] jennyf19 commented on #1338
@makemefeelgr8  if you come across them again, feel free to let us know, or provide the updated answer. thank you for the follow-up!

[2021-07-26 13:31] rymeskar commented on #1336
Thanks @jmprieur

Do you require the mentioned extension of the supported clients and the lib split to be solved in the same iteration?

[2021-07-26 16:28] jlautman commented on #1321
Would it be helpful if I created a separate issue to track the enhancement request for enabling decryption cert loading to check for updates periodically? I don't want to lose that feature ask since this issue split into a dependency update request and a new feature request. I don't want someone to accidentally close the issue since we resolved the former.

[2021-07-26 20:54] jennyf19 commented on #1131
Included in [1.15 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.15.0)

[2021-07-26 20:54] #1131 closed

[2021-07-26 20:54] jennyf19 commented on #1303
Included in [1.15 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.15.0)

[2021-07-26 20:54] #1303 closed

[2021-07-26 20:54] jennyf19 commented on #1044
Included in [1.15 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.15.0)

[2021-07-26 20:54] #1044 closed

[2021-07-26 20:54] jennyf19 commented on #1325
Included in [1.15 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.15.0)

[2021-07-26 20:54] #1325 closed

[2021-07-26 20:54] #1293 closed

[2021-07-26 20:59] jennyf19 opened #1345 "[Bug] add EnableCacheSynchronization to merged options"

[2021-07-27 03:29] jennyf19 commented on #1345
included in [1.15.1 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.15.1)

[2021-07-27 03:29] #1345 closed

[2021-07-27 09:58] qetza opened #1347 "[Feature Request] Support for simple usage of TokenAcquisition"
**Is your feature request related to a problem? Please describe.**
I want to be able to use ITokenAcquisition in an unauthenticated host (for example a queue triggered azure function) with minimal configuration.

Currently i need to have the following code in my startup:

[code]

This is misleading as it seems i'm adding authentication where it is only there so that it can configure the internal `

[2021-07-27 12:11] gravity00 opened #1348 "[Bug] NullReferenceException when invoking ITokenAcquisition.GetAccessTokenForAppAsync"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.15.1
Microsoft Identity Web MicrosoftGraph 1.15.1

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [X] Protected web APIs call downstream web APIs
* T

[2021-07-27 13:04] cmydur opened #1349 "[Bug] Issue w/default view"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

I'm using 1.15.1

**Where is the issue?**
* Web app
    * [ x] Sign-in users

**Is this a new or an existing app?**

**Repro**

[code]

[code]

**Expected behavior**
The default route should render the view, however it is not.

**Actual behavior**
<img width="1552" alt="Screen Sho

[2021-07-27 14:45] ferantivero commented on #1199
For those like me out there following this great thread that provides a lot of insights, I'd like to add something on top of it while working with `App Gw WAF_v2` + `Identity` + `App Services`.

I initially followed the idea provided from the [docs](https://docs.microsoft.com/en-us/azure/application-gateway/rewrite-http-headers-url#modify-a-redirection-url) which consist of re-rewriting the `Locat

[2021-07-27 16:07] LeonorTeixeiraUA opened #1350 "[Bug] - [Client Credential Flow] - IDW10106: The 'ClientId' option must be provided."
**Which version of Microsoft Identity Web are you using?**
1.15.1

**Where is the issue?**
* Web API
    * [x] Protected web APIs (Configurating Client Credential Flow)

**Is this a new or an existing app?**
This was working with the **On Behalf flow**, once we changed to a **Client Credential Flow**, we started getting a "IDW10106: The 'ClientId' option must be provided. "

**Repro**

[code]

[co

[2021-07-27 16:24] mattchenderson opened #1351 "Azure Functions dotnet template uses config antipattern"
**Which version of Microsoft Identity Web are you using?**
Microsoft.Identity.Web.ProjectTemplates 1.15.0

**Where is the issue?**
Template generates code using an antipattern that can create major issues for apps. It overwrites the provided configuration collection rather than adding to it.

**Is this a new or an existing app?**
This is a new app or an experiment.

**Repro**

[code]

**Expected b

[2021-07-28 12:09] tedvanderveen commented on #1294
Hi @jmprieur I'm back from vacation and onto this issue again.
When I add those two lines to startup.cs, I get an error:
`IDW10104: Both client secret and client certificate cannot be null or whitespace, and only ONE must be included in the configuration of the web app when calling a web API. For instance, in the appsettings.json file.`.

How can I obtain an access token from B2C using client_id o

[2021-07-28 15:05] tedvanderveen opened #1352 "[Feature Request] Add support for AAD B2C access token acquisition without a client_secret"
**Is your feature request related to a problem? Please describe.**
Azure B2C allows for using a refresh token for obtaining a new access token **without** supplying a client_secret. See following successfull request/reponse:

[code]

But the class `TokenAcquisition` requires a client secret or client certificate to be provided. Of not, the following error is thrown:
`IDW10104: Both client secret a

[2021-07-28 15:07] tedvanderveen commented on #1294
I have created a new issue here: #1352 for adding support for AAD B2C token acquisition without client_secret or cert.

[2021-07-28 15:07] #1294 closed

[2021-07-28 16:41] jennyf19 commented on #1339
@vsarunov How is `search:users` a scope? is there a standard defining this as a scope?

[2021-07-28 16:52] jennyf19 commented on #1343
@vvolodin you can use [`.WithAppOnly()`](https://github.com/AzureAD/microsoft-identity-web/blob/14429b8cb93352d78b6e1618d3a0bb50f203602d/src/Microsoft.Identity.Web.MicrosoftGraph/BaseRequestExtensions.cs#L35) and specify the tenantId.

[code]

[2021-07-28 16:55] jennyf19 commented on #1347
@qetza this is a nice proposal, but we had to get our API approved from ASP.NET Core team, so I don't think we have much flexibility here. Will add it to our considerations for next major version.
We also need to pass in the JwtBearerOptions as well.
You should be able to write an extension method, if you need help, let us know.

[2021-07-28 16:58] vvolodin commented on #1343
I don't have WithAppOnly available on Request(). What package does it come from? Anyway, I don't really understand how would this fetch the confidential client token for the given tenant...

[2021-07-28 17:03] jennyf19 commented on #1348
@gravity00 good catch. thanks for opening the issue.

[2021-07-28 17:06] jennyf19 commented on #1349
@cmydur did you try this:
[code]

[2021-07-28 17:10] jennyf19 commented on #1350
@LeonorTeixeiraUA what do you mean by client credentials? what specifically did do you mean when you say you changed from OBO to client credentials?

[2021-07-28 17:15] jmprieur commented on #1352
@tedvanderveen
- Confidential client applications (web apps) use a client secret or client certificate
-If you are describing is the behavior of a public client application (desktop/mobile or a single-page-application, which runs in the browser, contrary to the web apps which run on a server and send HTML).

If you are interested in writing a SPA, we suggest you use MSAL.js, not Microsoft.Identity

[2021-07-28 17:31] tedvanderveen commented on #1352
@jmprieur the notion of a "confidential app" and the usage of client_secret in relation to OAuth flows is being deprecated in favor of usage of PKCE. As per the latest version of the latest OAuth 2.0 Security Best Current Practice:
https://datatracker.ietf.org/doc/draft-ietf-oauth-security-topics
In section 2.1.1. it states:
[code]

Additionally, AAD B2C also supports it.

Why would this library a

[2021-07-28 17:53] cmydur commented on #1349
Yes I did and I'm still having same issue

[2021-07-28 18:21] jennyf19 commented on #1343
@vvolodin it comes from Microsoft.Identity.Web.MicrosoftGraph.

[2021-07-28 18:23] tedvanderveen commented on #1352
For who is interested in learning why PKCE is also important for confidential apps, please read up on why the industry is moving in this direction.

https://condatis.com/news/blog/oauth-confidential-clients/

[2021-07-28 18:27] vvolodin commented on #1343
Ok, checked the source code out, that's what I need. Thank you very much for you help.

[2021-07-28 21:10] cmydur commented on #1349
I just found the issue.

I had  `"SignedOutCallbackPath": "/"` in the appsetting. For some reason having the "/" was causing the issue, when I remove this fields or add something to the path e.g "/singout-oidc", it started working.

How can we debug these kind of issues, was it an error from Azure ADB2C that was unhandled somewhere?

[2021-07-28 22:16] jennyf19 commented on #1349
that's interesting. I will need to take a look and get back to you. glad you are unblocked now. appreciate the quick follow-up.

[2021-07-28 22:21] jennyf19 opened #1355 "[Bug] use `CreateAuthorizationHeader()` header for GraphClientService requests"
Removes the hard-coded `"Bearer"` and can support other schemes, like PoP

[2021-07-29 05:34] jennyf19 commented on #1349
@Tratcher any tips on how to debug this?

[2021-07-29 10:23] tedvanderveen commented on #1352
@jmprieur just to sum things up:

- By design this lib **DOES SUPPORT** a "public" app to signin users to B2C with PKCE and obtain a refresh_token
- By desgin this lib **DOES NOT SUPPORT** a "public" app to do anything useful with that same refresh_token (although B2C itself DOES support this)

Is this a correct reflection of current design?

[2021-07-29 17:05] Tratcher commented on #1349
Turning all the log levels up to Debug is the first step.
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-5.0#configure-logging

[2021-07-29 20:09] jennyf19 commented on #1349
@cmydur closing as you have the issue figured out.  i'll look into updating our documentation to be more specific.

[2021-07-29 20:09] #1349 closed

[2021-07-29 21:54] jc4gh opened #1360 "[Bug] ValidIssuers is not applied"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.15.1

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [x] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory

[2021-07-30 10:27] MikeBrownCygnia opened #1361 "[Bug]"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [X ] Sign-in users and call web APIs
* Web API
    * [X ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache ser

[2021-07-30 10:29] MikeBrownCygnia commented on #1361
Correction: The token is blank and thus the call is unauthorized to graph.

[2021-07-30 12:02] MikeBrownCygnia commented on #1361
Here is a video of the behaviour on the published Azure Web App

https://user-images.githubusercontent.com/88136063/127650114-01ea884f-8f69-44b2-8dbb-a7b82ec0286d.mp4

[2021-07-30 14:44] MikeBrownCygnia commented on #1361
Further to this, in that split second where I get the response, I can dump that value into a database, and then use that later in the lifecycle of the Blazor app. Very odd behaviour.

[2021-07-30 17:55] throck95 commented on #1324
@jmprieur Please let me know if there is any additional information you need me to provide.

[2021-07-30 21:39] jennyf19 commented on #1355
included in [1.15.2 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.15.2)

[2021-07-30 21:39] #1355 closed

[2021-07-30 21:39] jennyf19 commented on #1348
included in [1.15.2 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.15.2)

[2021-08-02 15:30] jennyf19 commented on #1361
@MikeBrownCygnia Did you add the [redirect URI](https://github.com/AzureAD/microsoft-identity-web/wiki/web-app-troubleshooting#if-your-app-works-locally-but-not-when-deployed)?

[2021-08-02 15:35] jennyf19 commented on #1360
@jc-msft try moving the condition for validating the token to before it's validated. that should resolve the issue.

[code]

[2021-08-02 20:11] Shazwazza opened #1366 "The ResponseType is reset to Code in the EnableTokenAcquisitionToCallDownstreamApi call"
**Which version of Microsoft Identity Web are you using?**

1.15.2

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [x] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     * [ ] Ses

[2021-08-03 09:29] avdv opened #1367 "[question] Redirect to plain b2clogin.com page from callback"
Hi.

I am not sure this is a bug, please point me into the right direction if not.

We are using Azure AD B2C with a .NET 5 Webapp, which does only login users. We have version 1.15.2, but I think it also happened with version 1.14.1.

Setup:
[code]
[code]
EditProfile handler in our AccountController:
[code]
In the edit-profile flow, after hitting "Save" on the b2c screen, the given redirect URI c

[2021-08-03 09:54] MikeBrownCygnia commented on #1361
I have the redirect URI for the log in, do I need it elsewhere too? Thank you

[2021-08-03 13:43] jsquire opened #1368 "Requesting the updated link info on the MicrosoftIdentityOptions.ClientCertificates Property document. There are 2 links having the same content updated on different dates."
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#23064](https://github.com/Azure/azure-sdk-for-net/issues/23064).

### Please be aware that @DhivyaG19 is the author of the original issue; please be sure to include them on any questions or replies.

# Details

This MicrosoftIdentityOptions.ClientCertificates Property [Document](https://docs.microsoft.com/e

[2021-08-03 16:06] jennyf19 commented on #1361
@MikeBrownCygnia I see. The sample you are using is not correct, it needs to be updated. I would use one of our templates [here](https://github.com/AzureAD/microsoft-identity-web/wiki/web-app-template#use-the-web-app-blazor-server-template). Feel free to open an issue on the previous sample.

[2021-08-03 16:15] jennyf19 commented on #1367
@avdv can you try with the default callbackpath: `/signin-oidc` ?

[2021-08-03 18:43] avdv commented on #1367
I'll have to request that this callback is added in Azure, and deploy a proxy change that this path is forwarded to the webapp. I'll report back once I have results.

[2021-08-04 08:20] MikeBrownCygnia commented on #1361
Thank you once again Jenny.

This example uses a different method, and again, works perfectly in my local environment.

When I publish to Azure, it flashes quickly up on the screen with the result of the Graph Call, and then quickly refreshes itself and returns this error in the console. Seemingly, losing the token again after half a second.

[code]

[2021-08-04 20:49] jennyf19 commented on #808
I have a branch: https://github.com/AzureAD/microsoft-identity-web/tree/jennyf/displayName
with the changes to handle providing the DisplayName, if you want to try it out. Still a work in progress.
@Shazwazza @apondman @theyo @farshid3003

[2021-08-04 21:50] matiasdellea27 opened #1371 "Trying to add a second MicrosoftIdentityWebAppAuthentication to log in PbiEmbed after Active Directory"
Hi ! I am trying to add a second schema to succesfully log in power bi with the embed project: UserOwnsData
https://docs.microsoft.com/en-us/power-bi/developer/embedded/embed-sample-for-your-organization?tabs=net-core

The project works perfectly after cloned, no problem at all, but when I try to merge with the current app of my organization it occurs that I get :  System.InvalidOperationException

[2021-08-05 00:19] jennyf19 commented on #1371
@matiasdellea27 have you seen our [documentation](https://github.com/AzureAD/microsoft-identity-web/wiki/multiple-authentication-schemes) on using multiple-auth schemes? You'll need to define a separate cookie scheme for one of the auth schemes.

[2021-08-05 05:44] matiasdellea27 commented on #1371
I am trying all that I can! but not success :(

` services.AddAuthentication()
                    .AddMicrosoftIdentityWebApp(Configuration.GetSection("AzureAd"), Microsoft.Identity.Web.Constants.AzureAd, null);
`

and:

`            services.AddAuthentication()
                   .AddMicrosoftIdentityWebApp(Configuration.GetSection("PBIEMBED"), Microsoft.Identity.Web.Constants.AzureAdB2C, null)

[2021-08-05 07:01] avdv commented on #1367
@jennyf19 I had the callback URL added in Azure, and configured forwarding in the proxy / load balancer. Then, I set `AzureAd:CallbackPath` to `/signin-oidc` in the application settings in Azure.

Overall, this made no difference:
[code]

But, I now better understand what's going on:

1. browser requests edit profile flow: GET /identity/account/editprofile
2. browser gets redirected to the signup

[2021-08-05 11:33] avdv commented on #1367
Maybe also the question is, for this code:
[code]
why does it (almost) always fail the AuthenticateAsync call? And why is that call necessary at all, since for reset password, it does not do first try to authenticate (again).

[2021-08-05 12:28] matiasdellea27 commented on #1371
InvalidOperationException: No authenticationScheme was specified, and there was no DefaultChallengeScheme found. The default schemes can be set using either AddAuthentication(string defaultScheme) or AddAuthentication(Action<AuthenticationOptions> configureOptions).

This is a new error after updating both dependencies to the last version: 1.15.2 ( Identity.Web.UI and Identity.Web.MicrosoftGraph )

[2021-08-05 13:04] avdv commented on #1367
I have no changed our EditProfile route to this:

[code]
Ie. I have removed the extra `AuthenticateAsync` call and just create the challenge for the edit profile directly. This works fine for us, and keeps the returnUrl intact.

In case the user happens to be no longer authenticated with the B2C server, it displays the idp selector and requests credentials by itself.

Am I missing something why th

[2021-08-05 13:17] matiasdellea27 commented on #1371
I take this opportunity to ask you, and I take advantage of your generosity jennyf19, is it possible to generate a general authentication for the two schemes when entering the application, and that when I reach the PBI request, the user is ALREADY logged in? since the client_id is the same! and both apps run on the same azure, even though they are different applications.

[2021-08-05 15:00] Trancesphere opened #1372 "[Bug] NullReferenceException when using Microsoft Graph (AppOnly) within IHostedService or anonymous web app controllers"
**Which version of Microsoft Identity Web are you using?**
1.15.2

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [x] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     * [ ] Sess

[2021-08-05 19:58] jennyf19 commented on #1361
@MikeBrownCygnia can you provide a link to the code? might be easier. If private, please give permission to @jmprieur as well. thank you.

[2021-08-05 20:01] jennyf19 commented on #1371
@matiasdellea27
The first `services.AddAuthentication(Microsoft.Identity.Web.Constants.AzureAd)` needs to define the default scheme.

A second issue is you cannot call graph w/B2C, so you would need to move this:
[code]
to under the AzureAd section.

[2021-08-05 21:31] bgavrilMS opened #1375 "[Documentation] How to get log messages from caches in .NET classic"
### Documentation related to component

Token Caches

### Please check all that apply

- [ ] typo
- [x] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in the example
- [ ] needs an example

### Description of the issue

MIW allows .NET Classic developers to use token cache implementations. But I have not found a way to get log messages associated with the caches

[2021-08-05 21:42] matiasdellea27 commented on #1371
These 3 lines are coming in the microsoft, power bi embed project... that's why I have them !

I will try to fix it! thank you very much!!!

[2021-08-05 22:07] matiasdellea27 commented on #1371
Thank you @jennyf19 ! this is now working for the first autentication in active directory, but failing causing the token to be null at the second instance when I try to log in power bi...

`            // Graph api base url
            var graphBaseUrl = "https://graph.microsoft.com/v1.0";

            // Graph scope for reading logged in user's info
            var userReadScope = "user.read";

[2021-08-06 02:58] paolovalladolid commented on #1372
I am getting the same exception and stack trace.  In my case, this is happening in a console app.

Excerpt from Main method of the console app:

[code]

Method that calls Azure using GraphServiceClient
[code]

[2021-08-06 05:59] matiasdellea27 commented on #1371
![image](https://user-images.githubusercontent.com/38885717/128460351-e0ddd77f-fb5f-4002-ba83-dea8b8348a44.png)

I am having this error now! The first log in into the app is now working succesfully !

I know that you are saying that I am not supposed to use Graph,,, but the code uses it! and it is working in the cloned project: https://github.com/microsoft/PowerBI-Developer-Samples

[2021-08-06 06:03] matiasdellea27 commented on #1371
Or maybe there is a way to keep logged to AD and then go into power bi with the same token ( ClientID-TenantId-Secret) are the same in both loggings !!!

[2021-08-06 16:44] jennyf19 commented on #1371
@matiasdellea27 you don't need two auth schemes. just use the one and use the OpenIdConnect default. I would just use our basic [web app calls web api template](https://github.com/AzureAD/microsoft-identity-web/wiki/web-app-template#use-the-web-app-razor-template) and go from there.
[code]

You can also include MicrosoftGraph, but you don't need a separate section and separate auth scheme.

[2021-08-06 19:56] jennyf19 commented on #1375
updated & [PR](https://github.com/Azure-Samples/active-directory-dotnet-v1-to-v2/pull/41) to add logging to the sample.
https://github.com/AzureAD/microsoft-identity-web/wiki/Logging#logging-in-net-framework-or-net-core

[2021-08-06 19:56] #1375 closed

[2021-08-09 19:09] jennyf19 commented on #1055
@justin0522 why do you have the web app configuration -> `.AddMicrosoftIdentityWebApp()` if it's a web API? In the web API controller use the [right scheme](https://github.com/AzureAD/microsoft-identity-web/wiki/multiple-authentication-schemes)?

[2021-08-09 19:10] jennyf19 commented on #1145
closing, please reopen if needed.

[2021-08-09 19:10] #1145 closed

[2021-08-09 19:16] jennyf19 commented on #1324
@throck95 do you see this with the latest Id web version? 1.15.2
also, can you provide [verbose logs](https://github.com/AzureAD/microsoft-identity-web/wiki/Logging) with PII if possible so we can see the values? you can email the logs if you prefer -> jeferrie@microsoft.com

[2021-08-09 19:18] jennyf19 commented on #1337
seems to be resolved. closing, but feel free to reopen if needed. thanks.

[2021-08-09 19:18] #1337 closed

[2021-08-09 19:18] jennyf19 commented on #1339
closing, but feel free to reopen.

[2021-08-09 19:18] #1339 closed

[2021-08-09 19:18] jennyf19 commented on #1343
closing. feel free to reopen.

[2021-08-09 19:18] #1343 closed

[2021-08-09 19:19] jennyf19 commented on #1360
i believe this is resolved. closing, but feel free to reopen

[2021-08-09 19:51] throck95 commented on #1324
@jennyf19 This issue is still occurring with the latest 1.15.2 version. The logs provided in the original post (minus the tenant guids) are verbose logging. Due the authentication issue, the API won't pass the authorization handling and proceed to any application logic.

[2021-08-09 21:37] matiasdellea27 commented on #1371
Hi Again @jennyf19 ! I have been told to use this method: https://docs.microsoft.com/en-us/power-bi/developer/embedded/embedded-faq#my-application-already-uses-aad-for-user-authentication--how-can-we-use-this-identity-when-authenticating-to-power-bi-in-a--user-owns-data--scenario-

"Once you have a user token to your app, you simply call to ADAL API AcquireTokenAsync using the user access token an

[2021-08-09 21:49] jc-msft commented on #1360
It still doesn't seem to validate.
Token:
![image](https://user-images.githubusercontent.com/82118227/128776192-95f79b9d-6e04-4049-a897-e29e3a7a8f06.png)

Code:
![image](https://user-images.githubusercontent.com/82118227/128776699-712d3034-fad0-4645-9570-c9902a455f82.png)

![image](https://user-images.githubusercontent.com/82118227/128776816-be892b79-6cc0-4085-a8d3-3dbb454e7836.png)

[2021-08-09 21:51] jc-msft commented on #1360
@jennyf19 I can't seem to reo-pen.

[2021-08-09 23:07] jennyf19 commented on #1371
@matiasdellea27 ADAL is on the deprecation path, so that doc needs to be updated. Who told you to use this?

[2021-08-10 01:45] matiasdellea27 commented on #1371
Some guy in stackoverflow :(

[2021-08-10 01:47] matiasdellea27 commented on #1371
so, that's why there is no way to get the token as a variable ?

[2021-08-10 04:27] matiasdellea27 commented on #1371
This is the controller in charge of reveiving the token authenticated from power bi ( or azure ad )

`// ----------------------------------------------------------------------------
// Copyright (c) Microsoft Corporation.
// Licensed under the MIT license.
// ----------------------------------------------------------------------------

namespace namespace
{
    using NFP.Domain.PbiEmbedUOD;
    us

[2021-08-10 17:32] mterpeza opened #1378 "[Bug]"
**Which version of Microsoft Identity Web are you using?**
Microsoft.Identity.Web v1.14.1

**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memor

[2021-08-10 17:58] mterpeza commented on #1378
UPDATE: This error may be caused due to a routing issue with the launchSettings.json file. This is currently being investigated and will update any relevant details.

[2021-08-10 18:48] matiasdellea27 commented on #1371
Hi ! @jennyf19 , can you confirm to me if this method is working  ?

https://docs.microsoft.com/en-us/dotnet/api/microsoft.identitymodel.clients.activedirectory.authenticationcontext.acquiretokenasync?view=azure-dotnet

Maybe I can retrieve the token in this method

[2021-08-11 17:02] jennyf19 commented on #1372
@paolovalladolid do you have a working repo or link to code that i can download and run locally?

[2021-08-11 17:21] jennyf19 commented on #1262
@vh-vahan do you mind trying this [branch](https://github.com/AzureAD/microsoft-identity-web/tree/jennyf/fixNonce) to see if the issue is resolved?

[2021-08-12 17:43] paolovalladolid commented on #1372
@jennyf19 I have created a repo that demonstrates the issue with using GraphServiceClient with the IoC framework.  Plug in your Azure settings into the appsettings.json of course.

https://github.com/paolovalladolid/PVSimpleMSGraphConsole

[2021-08-12 18:39] Shazwazza opened #1381 "[Bug] The AzureADB2COpenIDConnectEventHandlers calls HandleResponse disallowing further middleware"
**Which version of Microsoft Identity Web are you using?**

1.15.2

**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     * [ ] Ses

[2021-08-14 14:03] gunnim commented on #749
@jmprieur afaics MergedOptions.UpdateMergedOptionsFromMicrosoftIdentityOptions is not mapping the configured claims here

https://github.com/AzureAD/microsoft-identity-web/blob/master/src/Microsoft.Identity.Web/WebAppExtensions/MicrosoftIdentityWebAppAuthenticationBuilderExtensions.cs#L299

[2021-08-15 08:39] Choonster opened #1385 "[Bug] Functions app with Downstream API - No ClientId was specified"
**Which version of Microsoft Identity Web are you using?**
Currently using Microsoft.Identity.Web 1.14.1, because 1.15x versions aren't compatible with Azure Functions on .NET Core 3.1 due to differing versions of System.IdentityModel.Tokens.Jwt (see #1386).

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (

[2021-08-15 09:41] Choonster opened #1386 "[Bug] 1.15.x incompatible with Azure Functions on .NET Core 3.1"
**Which version of Microsoft Identity Web are you using?**
Microsoft.Identity.Web 1.15.2

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [x] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory

[2021-08-16 08:31] ryanfalzon commented on #929
@jmprieur we are facing the same issue and have noticed that this has not yet been fixed. We created the PR for the change you suggested where we remove the context.Success(): https://github.com/AzureAD/microsoft-identity-web/pull/1387

[2021-08-17 02:02] jennyf19 commented on #1378
any update @mterpeza ?

[2021-08-17 02:20] jennyf19 commented on #1372
@paolovalladolid
1. How do you add the authorization and authentication middleware? (`app.UseAuthentication();` and `app.UseAuthorization();`) ?

   https://github.com/AzureAD/microsoft-identity-web/blob/1f46bd95ce9a53bf9fbc5640fb2a851898a19353/tests/WebAppCallsWebApiCallsGraph/gRPC/Startup.cs#L44-L45

2. If you request an app only scope, you want to apply `.WithAppOnly()` to the request:
[code]

[2021-08-17 07:31] tjkb opened #1388 "[Feature Request] Provide an option to disable the L1 cache: Token without MFA in L1 Token Cache after MFA was requested"
One of our customers has Conditional Access policies in place. This means that some Graph calls work, but for others we get a `MicrosoftIdentityWebChallengeUserException`. We handle it by letting the user login again and providing the `claims` from the exception.

For Token Caching we use a distributed Redis cache.

So far, so good. But we run our Application on an Azure Web App with multiple inst

[2021-08-17 13:29] jennyf19 commented on #1388
@tjkb agree on having the option to disable the L1 cache, that's something the @jmprieur and I have discussed recently. However, the behavior you see should not be happening. Do you have a link to your code?

[2021-08-17 13:54] tjkb commented on #1388
No, I don't have a link to the code. But what we have is a custom Token Cache Adapter that inherits from `MsalDistributedTokenCacheAdapter`. There in `ReadCacheBytesAsync `we read from cache like this:

`var cached = await base.ReadCacheBytesAsync(cacheKey);`

When I check the base implementation it's clear that first the L1 InMemory cache is checked. And if our app runs on multiple instances, I t

[2021-08-17 13:58] jennyf19 commented on #1388
can you share the code in the token cache adapter?

[2021-08-17 14:03] tjkb commented on #1388
here it is:
[code]

[2021-08-17 14:16] jennyf19 commented on #1388
@tjkb thank you. i think this is a scenario we didn't think about for the L1/L2 cache, but it makes sense. will probably add a way to disable the L1 cache.

[2021-08-17 15:29] jmprieur opened #1390 "[Bug] In .Net framework, when recreating the CCA each time one wants to acquire a token, the cache is not hit"
**Which version of Microsoft Identity Web are you using?**
1.15.1

**Where is the issue?**
* Token cache serialization in .Net framework
     * [x ] In-memory caches
     * [x ] Distributed caches

The issue only affects the TokenCache confidential client extensions used to add token cache support in ASP.net MVC, or .NET Core, but without fully using Id.Web. It only happens when you re create the

[2021-08-17 21:50] paolovalladolid commented on #1372
@jennyf19 I tried to make the suggested code changes but am having a hard time pushing my changes to GitHub because I can't get my new token to work with GitHub.  I modified the classes as follows.  I still get the same stack trace:

[code]
public static class Startup
  {
    public static IServiceCollection ConfigureServices()
    {
      var services = new ServiceCollection();

      var config

[2021-08-18 00:57] #1390 closed

[2021-08-18 02:12] jennyf19 commented on #929
@Tratcher can we get your thoughts on this? We include `context.Success();` because we have successfully processed the access token sent to the web API, so we wouldn't want to hit a failure. Do you see any issue with removing it? thanks.

[2021-08-18 02:45] jennyf19 commented on #1324
@throck95 can you point us to some repro code? thanks.

[2021-08-18 03:32] Tratcher commented on #929
Remove it. `Success()` means you've taken care of everything and want to disable any further processing. In this case the only further processing you're skipping is the part where we save the access token for later use.
https://github.com/dotnet/aspnetcore/blob/61fc66cada5d72e76513918aee515846f2923b4e/src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs#L155-L161

[2021-08-18 05:47] tjkb commented on #1388
Cool, as I see it's already fixed. Any estimation when 1.16 will be available?

[2021-08-18 15:14] jennyf19 commented on #1388
@tjkb Friday (8.18) or sooner

[2021-08-18 15:14] jennyf19 commented on #929
great. thanks for confirming @Tratcher appreciate it.

cc: @jmprieur

[2021-08-18 18:28] Maggy3 commented on #115
Hi,

I have cretaed an ASP.Net Core 3.1 application with Azure AD authenticated. In my local I have not faced any issue because localhost is in exceptional list , when I hosted it on IIS on my dev server I am getting error like "The reply URL specified in the request does not match the reply URLs configured for the application: clientID". On Azure portal there is no option to register our URLs as

[2021-08-18 20:55] jmprieur commented on #115
@Maggy3, did you see this section: https://github.com/AzureAD/microsoft-identity-web/wiki/Deploying-Web-apps-to-App-services-as-Linux-containers#issues-with-load-balancing-across-multiple-regions-using-front-door?

[2021-08-18 21:10] jmprieur commented on #1324
@throck95 there were iterations, between not needing the Metadata address, the authority which wasn't a b2c one, the lack of policy. It would be useful to get a refresh of your startup.cs and appsettings.json ...

[2021-08-19 15:00] aersamkull opened #1397 "[Feature Request] Allow usage without id_token"
**Is your feature request related to a problem? Please describe.**
We have a tool configured using Azure AD and B2C. Both have ClientCertificates configured and do not call API's - it's just for sign in. Now we had a pen test saying we rely on id_token which seems not to be best practice. I however found no way to force usage of response_type=code, is that correct? Do you consider id_token to be d

[2021-08-19 16:41] jennyf19 commented on #1381
@Tratcher thoughts on this one? Seems similar to `context.Success();`

[2021-08-19 18:12] jennyf19 commented on #929
Included in [1.16 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.16.0)

[2021-08-19 18:12] #929 closed

[2021-08-19 18:12] jennyf19 commented on #1390
Included in [1.16 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.16.0)

[2021-08-19 18:12] jennyf19 commented on #1388
Included in [1.16 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.16.0)

[2021-08-19 18:12] #1388 closed

[2021-08-19 18:12] jennyf19 commented on #1388
cc @tjkb

[2021-08-19 18:13] jennyf19 commented on #1262
Included in [1.16 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.16.0)

[2021-08-19 18:13] #1262 closed

[2021-08-19 18:13] jennyf19 commented on #808
Included in [1.16 release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/1.16.0)

[2021-08-19 18:13] #808 closed

[2021-08-19 18:47] Tratcher commented on #1381
Can you share an example of your custom middleware?

The use of HandleResponse seems appropriate given OnRemoteFailure has generated redirects as the expected end of the request. To customize that could you wrap or replace the OnRemoteFailure event?

[2021-08-19 19:15] Shazwazza commented on #1381
@Tratcher yes that is what I've resorted to doing which means duplicating the code from the middleware to run explicitly in the `OnRemoteFailure` call. I understand that this has generated redirects but I don't see why it needs to short circuit the rest of the middleware.

In this case, I have middleware that will write out a cookie based on if the HttpContext.Items contains specific information (

[2021-08-19 19:56] Tratcher commented on #1381
Only one middleware can respond to any request. A redirect is considered a full response and processing should not continue or else that redirect is likely to be overwritten by mistake.

These redirects are direct hooks back into the UI flow, I don't see how they could be implemented otherwise.

The other part of this I don't understand is how you expect to be able to handle a failure after the au

[2021-08-19 21:30] Shazwazza commented on #1381
I guess because this implementation is pretty opinionated and tied to an already implemented UI (which we do not use) I can understand what you mean. In our case, we don't use the UI we just use the underlying implementation so we don't have to rewrite this whole project like we did in the past :) Currently we change the redirect in our own `OnRemoteFailure` and handle any custom logic there which

[2021-08-19 21:30] #1381 closed

[2021-08-20 12:18] spplante commented on #1386
I opened the exact same problem [here](https://github.com/Azure/azure-functions-host/issues/7592) and didn't quite understand the answer I got...For me downgrading the nuget to 1.14.1 did work, until I added another nuget (PnP.Core) then the problem comes back during runtime...

[2021-08-20 15:07] mrfrankbell commented on #1372
Was getting something similar with a hosted service, workaround for me was to use ` .AddAuthentication(JwtBearerDefaults.AuthenticationScheme)` when configuring services and then ensure that `IOptionsMonitor<JwtBearerOptions>.Get(JwtBearerDefaults.AuthenticationScheme)` is called before token acquisition within the hosted service .

Seems the merged options aren't initialised until the first web r

[2021-08-20 19:11] tango-charly opened #1401 "Difference between two ways of acquiring a JWT from the same authoritative tenant"
Hello,

It's not an issue, but a simple **question**.

This is the context :

Two projects acquire an acces_token to authenticate the user by the same authority for the same target (ContosoApi).

The first is a web app that uses  `ITokenAcquisition` to acquire acces_token

[code]

The second is an console app that uses `IPublicClientApplication` to instantiate a web context and make the request wi

[2021-08-20 21:44] jmprieur commented on #1401
@tango-charly
I don't understand your question. you seem to have processed the second one?

[2021-08-20 22:01] jmprieur commented on #1378
@mterpeza if the launchsettings.json isn't picked up, you have different ways of defining the default launch point:
https://docs.microsoft.com/aspnet/core/fundamentals/servers/kestrel/endpoints

[2021-08-20 22:07] jmprieur commented on #1372
Thanks @mrfrankbell
I see, so it's not really a protected web API, @paolovalladolid ?

[2021-08-21 12:17] mrfrankbell commented on #1372
Mine is, but has a background process that launches on startup to sync data from another protected web API.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Jean-Marc Prieur ***@***.***>
Sent: Friday, August 20, 2021 11:07:16 PM
To: AzureAD/microsoft-identity-web ***@***.***>
Cc: Frank Bell ***@***.***>; Mention ***@***.***>
Subject: Re: [AzureAD/microsoft-id

[2021-08-23 13:07] tango-charly commented on #1401
Ok, sorry i'm not clear.

In fact, both tokens are working fine.

However, when I retrieve the tokens right after acquiring them and testing them in postman, the token acquired by the App Console is not accepted by my API (signature invalid).
However, the one acquired by the web app is accepted.
In addition, payload tokens are different in their content.

However, the two projects have the same au

[2021-08-23 15:35] tango-charly commented on #1401
My questioning no longer needs to be. The configuration had a typo the scopes were not the same for the projects.
This explains the difference in results.
Sorry for the confusion.

[2021-08-23 15:35] #1401 closed

[2021-08-23 17:56] david-palladino opened #1403 "Invalidate access token upon SignOut"
Would it possible to modify the SignOut method in Microsoft.Identity.Web.UI - AccountController.cs to invalidate the user's access token on the server?

My app using Microsoft.Identity.Web.UI 1.16.0 and Azure AD B2C.  It failed a security test because after "MicrosoftIdentity/Account/SignOut" was called the security tester discovered that he was able to continue using the access token found within

[2021-08-23 20:12] MaxxDelusional commented on #1372
I am also experiencing this issue in 1.16.0. `ITokenAcquisition.GetAccessTokenForAppAsync` throws a null reference exception.

Stack Trace when using ITokenAcquisition.GetAccessTokenForAppAsync

[code]

If I try adding `WithAppOnly` to my Graph Request, I get the same error.

Stack Trace when using WithAppOnly

[code]

[2021-08-23 20:57] jmprieur commented on #1372
@MaxxDelusional
Do you have repro steps?

[2021-08-23 22:02] LaurensAdema opened #1404 "[Feature Request] Please allow 'common' or 'organizations' in GetAccessTokenForAppAsync"
**Is your feature request related to a problem? Please describe.**
While implementing all the new changes since we first set up authentication we've hit a problem on requesting a token as an app. Since it's a multi-tenant app we use the common endpoint for authentication in our json settings. Only the GetAccessTokenForAppAsync method we now use to get the token doesn't accept the 'common' endpoint

[2021-08-24 02:42] jmprieur commented on #1404
@LaurensAdema : can you have daemon apps working with both AAD and MSA accounts? I don't understand how common would work
@hpsin I think we agreed we don't want to accept common for client credentials?

[2021-08-24 02:47] hpsin commented on #1404
Speaking as the owner of AAD server, to provide context - While AAD does inadvertently support requesting an app only token on /common, this is a very bad pattern that causes security and reliability issues. Best practice is to use the tenant you intend to get a token for.

If you can provide more details about why you need to use common, that may help derive a solution.

[2021-08-24 12:56] MaxxDelusional commented on #1372
@jmprieur I was just able to reproduce this new Web Api project.

I think the issue occurs because my API endpoint doesn't require an authenticated user. The API I am creating is hosted privately, and cannot be accessed from outside of my network. I want the API to be able to pull user photos from the graph api, without a user.

appsettings.json
[code]
TestController.cs
[code]
Startup.cs
[code]

[2021-08-24 19:57] jmprieur commented on #1372
@MaxxDelusional.
Then you'd want to use app only permissions.

Use

[code]

instead of

[code]

[2021-08-25 04:17] RhomGit opened #1405 "[Question] B2C Invalid token, audience is invalid"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 1.16.0

**Where is the issue?**
* Web API
    * [x] Protected web APIs (validating tokens)

**Is this a new or an existing app?**
c. This is a new app or an experiment.

I have a desktop App and I am trying to secure an API. Both API and App are registered in Azure.
jwt.ms reports that the audience in the token is th

[2021-08-25 11:55] rymeskar opened #1406 "[Feature Request] Caching performance improvements"
**Is your feature request related to a problem? Please describe.**
When discussing the caching approaches in recent weeks, we realized the following.
* the items in in-memory cache do not need to be encrypted at the same time as in distributed cache. Actually, encrypting tokens in memory worsens the performance of token retrieval.
* Writing the token expiration time for app tokens to distributed c

[2021-08-25 12:15] MaxxDelusional commented on #1372
Some of the endpoints in my API _do_ require an authenticated user, is it possible to use both extension methods at the same time? I did a quick test with both, and I still got the `NullReferenceException`.

Maybe I am misunderstanding something, but why does `WithAppOnly` require an authenticated user at all?

[2021-08-25 13:11] throck95 commented on #1324
Below find the most up-to-date copies of the relevant code.

**Startup.ConfigureServices(IServiceCollection services)**
[code]

**Startup.Configure(IApplicationBuilder app, IWebHostEnvironment env, IApiVersionDescriptionProvider provider)**
[code]

**appsettings.json**
[code]

[2021-08-25 16:33] jmprieur commented on #1372
@MaxxDelusional.
Sorry, I was not clear that you had both app tokens and user tokens. No you can't use both `.AddMicrosoftGraphAppOnly()` and ` .AddMicrosoftGraph(defaultScopes: "User.Read User.Read.All")`

Let's check for this scenario of anonymous web app controllers wanting to access app only graph scopes

[2021-08-25 16:40] jmprieur commented on #1372
@jennyf19: Changing to a bug for the case of anonymous controllers that want to call Microsoft Graph app only scopes

[2021-08-26 15:28] alanchen-msft opened #1410 "Attached Query Parameters Causes 400 Responses"
We recently added a query parameter to our TokenAcquisition requests as part of a safe rollout initiative but are now running into an issue. Once we added it to our calls, we started seeing this error:

AADSTS90023: Invalid application update plan id is specified in 'safe_rollout' query string parameter
Trace ID: 6c4ce797-836a-4220-a068-4cdea4fe3401
Correlation ID: 02f120b5-3ddf-41f9-91f1-8be8b097

[2021-08-27 17:35] abatishchev opened #1412 "[Documentation] Inconsistency between AddCache() and AddCaches()"
### Documentation related to component

Extensions methods for Token cache

### Please check all that apply

- [x] typo
- [ ] documentation doesn't exist
- [x] documentation needs clarification
- [ ] error(s) in the example
- [ ] needs an example

### Description of the issue

Here's an article: https://docs.microsoft.com/en-gb/azure/active-directory/develop/msal-net-token-cache-serialization?tabs

[2021-08-28 01:00] abatishchev commented on #1412
I see. So one is this:

[code]

means is for `IConfidentialClientApplication confidentialClientApp`.

And the another is this:

[code]

means is for `IServiceCollection services`.

It's very confusing but now makes sense.

[2021-08-28 03:02] jmprieur commented on #1412
but you're right that the article is wrong? https://docs.microsoft.com/en-gb/azure/active-directory/develop/msal-net-token-cache-serialization?tabs=aspnet#in-memory-token-cache

[2021-08-28 03:11] abatishchev commented on #1412
Hi Jean-Marc,

From the perspective of `ApplicatiinBuilder`, the article is correct. I didn't use the extensions methods it describes though, can't speak about the substance. But on the surface it looks okay.

One minor issue: the section called `Available serialization technologies` must rather be called `Available caching technologies`or something like that. Nothing to do with serialization per

[2021-08-28 03:23] jmprieur commented on #1412
@abatishchev
did you see the tabs in the document ?

![image](https://user-images.githubusercontent.com/13203188/131204750-4adcd659-9c35-41ca-bc02-1180caf3e66e.png)