[2020-07-21 08:19] jmprieur commented on #336
@AlexanderPaule

May I ask you what your scenario is? Why do you need the IDToken, AccessToken and Refresh token? What are they used for? Indeed, ASP.NET Core and Microsoft.Identity.Web manage things for you. Maybe you want to provide a kind of architectural diagram so that we can help you chose the right and safe way of doing?

- It's a Web API, so you don't get an IDToken. Information about the

[2020-07-21 10:50] zvrba opened #344 "[Bug] Token acquisition from different tenant not working"
**Which version of Microsoft Identity Web are you using?**
Commit ID 8a043b704a4ad89faaa635451ee7fc6d85979bf9 , but the same problem experienced also with -master dated 2020-07-21.

**Where is the issue?**
* Web API
    * [X] Protected web APIs call downstream web APIs

**Is this a new or an existing app?**
The app is in production and I have upgraded to a new version of Microsoft Identity Web.

*

[2020-07-21 20:03] Tratcher opened #346 "[Documentation] Please add a migration guide"
Please add a migration guide for people using ASP.NET Core 3.1's AzureAd.UI packages.
- What should they remove from their existing application?
- What should they add?

[2020-07-21 22:21] jennyf19 commented on #157
@gwgrubbs thanks for the reply. we are working on a solution for this. will keep you posted here.

[2020-07-22 03:23] jennyf19 commented on #157
@gwgrubbs Can you try this [branch](https://github.com/AzureAD/microsoft-identity-web/tree/jennyf/brazorNullRef) it should handle the user context for you...proof of concept inspired by this [sample](https://github.com/javiercn/DetectServerSideBlazor/blob/master/BlazorApp1/Startup.cs#L85)

[2020-07-22 08:10] AlexanderPaule commented on #336
Hi @jmprieur

Thank you for the answer, now it is more clear.

The code I posted is only an example, don't look at it as a production code.
Our use case is not to expose the tokens outside the application.

The exact scenario we need is to call a web API from the web app and the reason why I opened the issue is:
-  **RefreshToken** required to refresh **AccessToken** - you said it is done automati

[2020-07-22 08:17] #336 closed

[2020-07-22 08:17] jmprieur commented on #336
Thanks for the update, @AlexanderPaule

[2020-07-22 08:37] pmaytak commented on #233
Tested Wilson 6.6 and Preview 7 with Identity Web test samples and web app samples. I didn't find any differences in claims behavior between Wilson 5.5 and 6.6.

@jmprieur What do you mean by that?

As far as I saw, in both 5.5 and 6.6 `SecurityToken` instances (as in our audience and issuer validator classes) always have small claims. But then by default they are transformed into long claims in `

[2020-07-22 08:38] jmprieur commented on #233
This is what Barry told me (ASP.NET Core).
Would the transformation have been de-activated by default in 6.6 ?

[2020-07-22 09:05] pmaytak commented on #233
Mapping is still active by default. The flag was added in 5.3.0 ([PR](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/924), [issue](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/923)).

Haven't found anything related in recent release notes.

[2020-07-22 09:17] jmprieur opened #350 "[Bug] Don't use ].DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", accessToken) in samples/templates"
In the templates and dev samples, don't use

`[httpClient].DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", accessToken);`

but rather create a `HttpRequestMessage` and add the header tot he request.

https://github.com/AzureAD/microsoft-identity-web/search?q=DefaultRequestHeaders.Authorization&unscoped_q=DefaultRequestHeaders.Authorization

[2020-07-22 09:27] jmprieur commented on #233
@blowdart what did you have in mind when you told me that there would be a breaking change in Wilson 6.6 ?
cc: @pmaytak @jennyf19 @henrik-me

[2020-07-22 10:20] schmid37 commented on #157
@jennyf19 works so far :)

[2020-07-22 14:50] schmid37 commented on #157
@jennyf19 Sometimes I get an Exception:

blazor.server.js:19 [2020-07-22T14:44:30.900Z] Error: System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.Identity.Web.HttpContextExtensions.GetTokenUsedToCallWebAPI(HttpContext httpContext) in C:\src\Microsoft.Identity.Web\HttpContextExtensions.cs:line 29
   at Microsoft.Identity.Web.TokenAcquisition.GetAcce

[2020-07-22 15:47] gwgrubbs commented on #157
@jennyf19 I concur with @schmid37 that it is working so far.  I haven't experienced the issue you see, but I think I know what the issue is.  if you have a stale cookie and call ```GetAccessTokenOnBehalfOfUserFromCacheAsync```,  line 243 will throw a ```MsalUiRequiredException``` exception (expecting you to then initiate some redirect to signin to re-authenticate or something).  In the catch block

[2020-07-22 15:56] jennyf19 commented on #157
@gwgrubbs & @schmid37 glad to hear it's working, thanks for confirming. we are aware of the redirect issue, it's because blazor doesn't have the challenge method, so we're trying to come up with a work around.

[2020-07-22 16:39] celluj34 opened #351 "[Documentation] Incorrect command for installing template"
### Documentation related to component
Web API Template

### Please check all that apply

- [ ] typo
- [ ] documentation doesn't exist
- [ ] documentation needs clarification
- [x] error(s) in the example
- [ ] needs an example

### Description of the issue
The instructions on installing the new preview templates is incorrect. The affected section is located at https://github.com/AzureAD/microsoft

[2020-07-22 16:56] jennyf19 commented on #351
@celluj34 what error did you get?

[2020-07-22 16:58] celluj34 commented on #351
![image](https://user-images.githubusercontent.com/10264021/88205591-a6509d00-cc12-11ea-86a2-d6616f22efc7.png)

[2020-07-22 16:59] celluj34 commented on #351
The "new" command is what's recommended by nuget itself: https://www.nuget.org/packages/Microsoft.Identity.Web.ProjectTemplates/0.2.0-preview

[2020-07-22 18:37] jmprieur commented on #351
@celluj34 : what version of .NET Core do you use? I cannot repro this?

[2020-07-22 18:40] celluj34 commented on #351
Here's my `dotnet --info`:

![image](https://user-images.githubusercontent.com/10264021/88215126-cedf9380-cc20-11ea-9d2f-e0dc1d6f98d0.png)

[2020-07-23 02:54] jennyf19 opened #354 "Investigate: If we can send null scopes value to MSAL .NET"
In TokenAcquisition.cs in various places we check for null scopes, but MSAL .NET should now be able to handle a null scope value. Just requires an investigation if this is still needed.

Will provide more details later if needed.
Example:

[code]

[2020-07-23 08:35] jmprieur opened #355 "[Feature Request] Consider aligning the test projects with the outcome of the templates (if that makes sense)"
**Is your feature request related to a problem? Please describe.**
- Today the dev apps (under test) are coming out of the ASP.NET Core web app and web api incremental tutorial
- As Microsoft.Identity.Web evolved, we introduced project templates

**Describe the solution you'd like**
It would be good, as an exercise to recreate the test apps using the templates (and, if needed, modifying them to ge

[2020-07-23 10:44] schmid37 commented on #157
@jennyf19 how can we track this? Is there an existing open issue?

[2020-07-23 15:05] jennyf19 commented on #157
@schmid37 this is the only issue for tracking at the moment. we're trying to get this into our next release (today or tomorrow), but if we run out of time (we have an external deadline), then I will close this and open a new issue, ping you both here so you know. sound good?

[2020-07-23 15:08] schmid37 commented on #157
@jennyf19 sounds good to me! Thx for the support 💪🏻

[2020-07-23 15:32] jmprieur opened #357 "[Bug] In templates, Services\DownstreamWebApi.cs, CallWebApi should be named CalledWebApiAsync"
**Which version of Microsoft Identity Web are you using?**
- Look at the DownstreamWebApi.cs files
- allWebApi is async and should be named CalledWebApiAsync

also change where it's called:
- .razor pages
- controllers.
- .cshtm.cs

[2020-07-23 16:49] jennyf19 opened #360 "[Bug] Blazor server does not handle the MsalUiRequiredException"
When calling Blazor server for the acquire token silent (or OBO) part, or when there is a need for more scopes or conditional access, Blazor does not handle `context.Result = new ChallengeResult(properties);` in AuthorizeForScopesAttribute, like in MVC or Razor.

[2020-07-23 16:50] jennyf19 commented on #157
@schmid37 @gwgrubbs here's the new [issue](https://github.com/AzureAD/microsoft-identity-web/issues/360) for the second part of the call. will still try to get this in the current milestone if possible.

[2020-07-24 05:01] jennyf19 commented on #360
@gwgrubbs @schmid37
Do you mind trying this [branch](https://github.com/AzureAD/microsoft-identity-web/tree/jennyf/blazor) with the following code changes in the `CallWebApi.razor` page:
First you'll need to inject the following services and a using statement:
[code]
and then in `OnInitializedAsync()` add the following code:
[code]
Here's an [example](https://github.com/AzureAD/microsoft-identity-

[2020-07-24 05:39] utkarsh24 opened #364 "General availability date"
I am using this library and it is simply awesome, currently i am using 0.2 preview version.

Next month we are going to production, so please let me know General Availability of this library.

[2020-07-24 12:59] schmid37 commented on #360
@jennyf19 What I did:
[code]

Exception:

blazor.server.js:19 [2020-07-24T12:48:31.731Z] Error: System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.Identity.Web.HttpContextExtensions.GetTokenUsedToCallWebAPI(HttpContext httpContext) in C:\src\Microsoft.Identity.Web\HttpContextExtensions.cs:line 29
   at Microsoft.Identity.Web.TokenAcquisition.GetAcc

[2020-07-24 14:53] jennyf19 commented on #360
thanks @schmid37 @gwgrubbs
if you have time, mind trying this [branch](https://github.com/AzureAD/microsoft-identity-web/tree/jennyf/blazor2.0) and doing the following in the `CallWebApi` page:

[code]

And then in `Startup.cs`:
[code]

Appreciate your patience as we sort this out.

[2020-07-24 15:21] schmid37 commented on #360
@jennyf19

First login works.
Restart server, exception is:

Error: System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.Identity.Web.MicrosoftIdentityConsentAndConditionalAccessHandler.HandleException(Exception ex) in C:\src\Microsoft.Identity.Web\MicrosoftIdentityCircuitHandler.cs:line 92

--> Delete cookies, and it works again.

[2020-07-24 15:38] schmid37 commented on #360
@jennyf19 so what I want to say, after a server restart, it never works.

[2020-07-24 16:34] gwgrubbs commented on #360
@jennyf19

In the case where a cookie exists, but the token does not exist in cache and the attempt to acquire a new token (running locally).

in _Host.cshtml:
[code]

method in _HostAuthPageModel.cs:
[code]
So, at initial page load of the application the ```OnGet()``` method is executed, the user is authenticated (due to the cookie), then attempting to acquire an access token throws an ```Microso

[2020-07-24 16:34] jmprieur commented on #327
Warning: MSAL sku should not be changed (features are available based on SKU and version)

[2020-07-24 16:48] jennyf19 commented on #360
Thank you @gwgrubbs
I've just pushed up a fix for the null ref (hopefully), i think it got lost either in a PR that wasn't merged where this was fixed, or something else.
If you're using a razor page, you can use the [AuthorizeForScopes] attribute to handle the challenge on the [class describing the page.](https://github.com/AzureAD/microsoft-identity-web/blob/a80fd4a2dc131d99a66821fc43d1d55b40ee8

[2020-07-24 17:13] schmid37 commented on #360
@jennyf19 Thank you for the help. I emailed you!

[2020-07-24 19:49] Shama-K opened #369 "To get all groups when the claim is group overage"
**Is your feature request related to a problem? Please describe.**
If the number of groups for the user goes over a limit (150 for SAML, 200 for JWT) then an overage claim is returned. It requires additional graph call to get the groups.

**Describe the solution you'd like**
To get all the groups the user belongs to in the **groups** claim when number of groups goes over the limit.

[2020-07-25 03:02] jennyf19 commented on #364
@utkarsh24 thanks for the feedback. we are aiming for oct - nov 2020 time period. You can follow our [project boards](https://github.com/AzureAD/microsoft-identity-web/projects) for details on the progress towards GA.

[2020-07-25 03:02] jennyf19 commented on #364
going to close, as answered, but feel free to engage more or open issues as needed.

[2020-07-25 03:02] #364 closed

[2020-07-25 03:44] jennyf19 opened #370 "[Fundamentals] Revisit release build"
The release build has issues often, especially w/package names and duplicates. There is always at least one issue during a release.

[2020-07-25 04:01] pmaytak commented on #337
Included in [Microsoft Identity Web 0.2.1-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.1-preview).

[2020-07-25 04:02] pmaytak commented on #295
Included in [Microsoft Identity Web 0.2.1-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.1-preview).

[2020-07-25 04:02] #295 closed

[2020-07-25 04:03] pmaytak commented on #357
Included in [Microsoft Identity Web 0.2.1-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.1-preview).

[2020-07-25 04:03] #357 closed

[2020-07-25 04:03] pmaytak commented on #319
Included in [Microsoft Identity Web 0.2.1-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.1-preview).

[2020-07-25 04:03] #319 closed

[2020-07-25 04:03] pmaytak commented on #320
Included in [Microsoft Identity Web 0.2.1-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.1-preview).

[2020-07-25 04:03] #320 closed

[2020-07-25 04:05] pmaytak commented on #27
@jackheywood @grzegorzy @felickz

This was included in [Microsoft Identity Web 0.2.1-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.1-preview).

[2020-07-25 04:05] #27 closed

[2020-07-25 04:06] pmaytak commented on #350
Included in [Microsoft Identity Web 0.2.1-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.1-preview).

[2020-07-25 04:06] #350 closed

[2020-07-25 04:08] pmaytak commented on #10
@pocki

This is included in [Microsoft Identity Web 0.2.1-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.1-preview).

[2020-07-25 04:08] #10 closed

[2020-07-25 04:09] pmaytak commented on #38
This is included in [Microsoft Identity Web 0.2.1-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.1-preview).

[2020-07-25 04:09] #38 closed

[2020-07-25 04:10] pmaytak commented on #360
@gwgrubbs @schmid37

This is included in [Microsoft Identity Web 0.2.1-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.1-preview).

[2020-07-25 04:10] #360 closed

[2020-07-25 04:12] pmaytak commented on #157
@gwgrubbs @jaimunday @isaacrlevin @schmid37

This is included in [Microsoft Identity Web 0.2.1-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.1-preview).

[2020-07-25 04:12] #157 closed

[2020-07-25 04:14] pmaytak commented on #261
This is included in [Microsoft Identity Web 0.2.1-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.1-preview).

[2020-07-25 04:14] #261 closed

[2020-07-25 08:44] StefH opened #372 "question: is it possible to use this library for using a client_credentials flow?"
## Configure Azure App Registrations
I've this **API** app-registration in Azure:
| setting | value |
|-|-|
| Application ID URI | api://821eb724-edb8-4dba-b425-3f953250c0ae
| scope | API.Access (api://821eb724-edb8-4dba-b425-3f953250c0ae/API.Access)

And a **Client** app-registration in Azure like:
| setting | value |
|-|-|
| ClientId | c64feb8e-4545-4f2c-a0dd-6b72a8d1a8bb
| API Delegated Access

[2020-07-25 08:53] jmprieur commented on #372
@StefH
Yes, this scenario is supported.
See https://github.com/AzureAD/microsoft-identity-web/wiki/Web-APIs#web-apis-that-acquire-tokens-on-their-own-behalf-daemon-scenarios-client-credential-flow

[2020-07-25 10:00] StefH commented on #372
@jmprieur
Thanks for your answer, however this does not apply in my scenario. I don't need to delegate the token.

I just want to only allow a **client app registration** which has access to the **API app registration** (via the scope) to call the API controller GET method.

See my example project : https://github.com/StefH/CallAzureFunctionWithOAuth2-AAD/tree/master/WebApplication2

[2020-07-25 10:11] jmprieur commented on #372
@StefH : Do I understand that you would need to do an "on behalf of flow for service principals" ?
If that's the case, this is not supported by Azure AD.

Could you elaborate on your scenario? do you want to send me an email directly (jean-marc.prieur at microsoft dot com)

[2020-07-26 08:51] grzegorzy commented on #27
Thank you very much for the notification @pmaytak. I checked the latest 0.2.1-preview release. Unfortunately it seems that it doesn't solve my issue [Cannot acquire API access token for B2C Reset Password policy](https://github.com/AzureAD/microsoft-identity-web/issues/191). I used the `userFlow` parameter for both `AuthorizeForScopes` and `GetAccessTokenForUserAsync` but when I sign in via the "r

[2020-07-26 13:56] jmprieur commented on #27
Thanks for the heads up @grzegorzy
Are you using Blazor pages? or an MVC controller / a Razor page?

[2020-07-26 14:21] jmprieur commented on #369
@jennyf19 @pmaytak @henrik-me
FYI, Shama has already done some work in this space which is a big pain for customers who don't understand why sometimes there is something in groups, and why sometimes not.
Shama's work leverages the Graph SDK (which is adding a dependency, but, this way we could also add the AddMicrosoftGraph() command which is in the templates for the moment, so that might be a goo

[2020-07-26 14:22] grzegorzy commented on #27
No problem @jmprieur!
This is for an MVC controller. Actually I used [this sample](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-2-B2C). I just replaced values in both appsettings.json files with those that match my Azure AD B2C and applied the `userFlow` parameter to `AuthorizeForScopes` and `GetAccessTokenForUserAsync`.

[2020-07-27 19:46] jmprieur commented on #360
@gwgrubbs @schmid37
this is documented in https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access

[2020-07-27 19:47] jmprieur commented on #10
@pocki: this is documented in this is documented in https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access

[2020-07-27 20:53] jennyf19 commented on #344
@zvrba I'm not able to repro this at the moment. Could you verify if the tenant admin has disabled user consent?

[2020-07-28 05:05] zvrba commented on #344
The application has a tenant-wide admin consent. I'm not sure which setting you're asking about, so I'm attaching a screenshot below.

Further details:
- The admin of tenant B has granted a tenant-wide consent for the application
- The user authenticates to the /common endpoint end receives a Graph token from its home tenant (tenant A)
- Then my web api uses the above snippet with "tid" set to ten

[2020-07-28 18:04] adriannasui opened #374 "[Bug] RolesRequiredHttpContextExtensions.ValidateAppRole will only check first role claim and fail when there are many role claims"
Hi, I encountered an issue on version 0.2.1-preview where calling ValidateAppRole will not work as expected.

Issue happens when i call ValidateAppRole and my access token has a 'roles' claim containing an array of roles. Somwhow, my 'roles' claim gets transformed into multiple 'role' claims in context.HttpContext.User. And the code inside ValidateAppRole is not properly written to handle this sce

[2020-07-28 21:14] jennyf19 commented on #344
@zvrba thanks for the additional info. I didn't see the patch in the original post, will take a look. thx.

[2020-07-29 01:24] pmaytak commented on #233
@jmprieur Suggestion on what to do with this? Keep it open?

[2020-07-29 18:05] blowdart commented on #233
I understood you were turning mapping off by default, due to issues, well, like [this one](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/982#issuecomment-665405447)

If it was off by default that would obviously be a breaking change in Wilson, but if we can do it with a simple switch in aspnet we probably should cc @tratcher

[2020-07-29 21:25] henrik-me commented on #233
@brentschmaltz @GeoK @mafurman

[2020-07-29 23:33] jennyf19 opened #376 "[Documentation] fix doc images w/active-directory-dotnet-native-aspnetcore-v2"
This article has broken images as well as link. https://docs.microsoft.com/en-us/samples/azure-samples/active-directory-dotnet-native-aspnetcore-v2/calling-an-aspnet-core-web-api-from-a-wpf-application-using-azure-ad-v2/

[2020-07-30 00:20] smriti-dahal opened #377 "[Question] Using JwtAuthentication with Microsoft Identity Platform (Blazor Server App)"
Hello,

We have a Blazor server app that needs to call multiple webApis (primarily Graph Apis and ARM Apis). We have followed the [template ](https://github.com/AzureAD/microsoft-identity-web/wiki/Web-App-Template#use-the-web-app-blazor-server-template) for this and our code snippet looks like below:
![image](https://user-images.githubusercontent.com/64666806/88866452-99f2b400-d1bf-11ea-962b-0e52a

[2020-07-30 09:25] jmprieur commented on #377
@smriti-dahal. I'm not clear what you are trying to do, so guessing here.

However, something clear is you have a Web app, and try to configure the JwtBearerOptions (which are for Web apis). You need to use the OpenIdConnect events in a Web app.

You can configure them directly with Microsoft.Identity.Web, or after the fact (with a call to `Configure<OpenIdConnectOptions>` similarly to what you di

[2020-07-30 10:46] jmprieur commented on #376
To be surfaced correctly in docs.microsoft.com/samples, the links should be absolute (not relative in the repo)

[2020-07-30 11:25] jmprieur opened #378 "[Feature Request] Simplify the public API"
# Is your feature request related to a problem? Please describe
Even if Microsoft.Identity.Web simplifies the implementation of Web apps / Web APIs, calling or not downstream APIs, there is still a feeling that the API is still complicated and has some repeats, which are not really necessary

This proposal (which is another breaking change) attempts to address these concerns.

# Describe the solut

[2020-07-30 16:14] CalamityLorenzo opened #379 "[Bug] Incorrect Client Secret being used by IConfidentialClientApplication in TokenAcquisition constructor"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ x ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ x ] Protected web APIs call downstream web APIs
* Token cache s

[2020-07-30 17:01] jmprieur commented on #379
@CalamityLorenzo would you by any chance use the "Manage User Secrets" feature in Visual Studio (or .NET Core) (when you right click on your project)
If you don't have this client secret in your appsettings.json, it could be that it's in your secrets, and is picked up. This happens to me all the time :)

[2020-07-30 17:02] jmprieur commented on #372
@StefH : are you happy with the answers? shall I close this question?

[2020-07-30 17:03] #283 closed

[2020-07-30 17:04] jmprieur commented on #267
@ashokswain27. I believe I've answered.
Closing this issue for now, feel free to reopen if you disagree.

[2020-07-30 17:04] #267 closed

[2020-07-30 17:28] jennyf19 commented on #374
@adriannasui thanks you. we definitely welcome outside contributions, so feel free to propose a PR.

[2020-07-30 17:42] CalamityLorenzo commented on #379
It couldn't be that simple....Could it
Welllllll.....balls.
This ones going on the wall of shame.
Thanks for the assist.

[2020-07-30 17:42] #379 closed

[2020-07-30 18:10] jmprieur commented on #377
Closing as this was taken offline

[2020-07-30 18:10] #377 closed

[2020-07-30 18:11] #372 closed

[2020-07-30 18:18] #351 closed

[2020-07-30 18:24] jmprieur commented on #323
Closing as duplicate of #269

[2020-07-30 18:24] #323 closed

[2020-07-30 18:28] #121 closed

[2020-07-30 18:56] jmprieur commented on #125
We cannot repro this.
Please try with the latest version of Microsoft.Identity.Web and the project templates.

Closing for now
feel free to reopen if this still repros (with repro steps)

[2020-07-30 18:56] #125 closed

[2020-07-30 18:58] jmprieur commented on #47
Fixed in 0.2.1-preview.
Documentation in https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access

[2020-07-30 18:58] #47 closed

[2020-07-30 18:59] jmprieur commented on #55
This is by design, and handling the exception is documented in https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access

[2020-07-30 18:59] #55 closed

[2020-07-30 18:59] jmprieur commented on #54
This is now fixed. The scopes are space delimited.
Documented in This is by design, and handling the exception is documented in https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access

[2020-07-30 18:59] #54 closed

[2020-07-30 22:18] jennyf19 commented on #379
@CalamityLorenzo nice name of your client app. 😆 🏴‍☠️

[2020-07-31 02:21] pmaytak opened #380 "Handle possible null HttpContext in ReplyForbiddenWithWwwAuthenticateHeaderAsync"
Come up with a solution to handle possible null HttpContext in ReplyForbiddenWithWwwAuthenticateHeaderAsync in TokenAcquisition class.

https://github.com/AzureAD/microsoft-identity-web/blob/3c77e3c8f6fe1f8adad523b3278615a3585b8755/src/Microsoft.Identity.Web/TokenAcquisition.cs#L578-L582

[2020-07-31 09:48] jmprieur commented on #11
@baywet : this is now possible and documented in https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access#in-mvc-controllers

[2020-07-31 09:49] #11 closed

[2020-07-31 12:19] jmprieur commented on #380
We should have an extra parameter with a default value of null.
If passed-in we'd use it in the method, otherwise we'd use the HttpContextAccessor as today.

[code]

Alternatively we could just pass-in the HttpResponse:
1. Pro this is all it needs
2. in term of usability this could be more complicated for customers to find they need to use HttpContext.Reponse ?

@jennyf19 @pmaytak what do you thin

[2020-07-31 14:05] jmprieur commented on #80
![image](https://user-images.githubusercontent.com/13203188/89042701-a6097d80-d347-11ea-88e7-b2c12ec767c8.png)

[2020-07-31 14:23] jmprieur opened #381 "[Bug] In Web APIs we don't need to call AcquireTokenSilent before calling AcquireTokenOnBehalfOf"
**Which version of Microsoft Identity Web are you using?**
0.2.1-preview

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [x ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     *

[2020-07-31 14:23] jmprieur commented on #381
cc: @jennyf19 @bgavrilMS

[2020-07-31 18:48] jennyf19 commented on #344
This issue is fixed in microsoft identity web, but there is an additional fix needed in msal .net, so moving this to blocked for now. That work will be in progress soon.

[2020-07-31 19:31] pmaytak commented on #376
Verified, we have everything set up correctly. The issue is that VSC-Service-Account doesn't create a release package, which is what gets pushed to the MS Docs server via webhook, which is why the sample on their end was not updated. Docs team created a work item for tracking this on their end.

[2020-07-31 19:31] #376 closed

[2020-08-01 01:23] jennyf19 commented on #322
@leaderanalytics closing as we need more info, but feel free to reopen if needed

[2020-08-01 01:23] #322 closed

[2020-08-01 03:36] pmaytak commented on #80
![image](https://user-images.githubusercontent.com/34331512/89093258-88e7a580-d36d-11ea-8e57-1472c096e834.png)

[2020-08-01 13:29] efonsecab opened #384 "[Bug] Unable to retrieve document from: 'https://{instance}/{TenantId}/v2.0/.well-known/openid-configuration' using Azure AD B2C"
**Which version of Microsoft Identity Web are you using?**
**0.2.1 Preview**
Note that to get help, you need to run the latest version.

**Where is the issue?**
* Web app
    * [**X**] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web AP

[2020-08-01 16:45] jennyf19 commented on #374
@adriannasui We are thinking of throwing now if the roles do not match, verses returning to the controller, because the controller could continue to do things it shouldn't at that point. We are still looking at the user experience here, but if you have thoughts on this, let us know. Changes are in this [branch](https://github.com/AzureAD/microsoft-identity-web/tree/jennyf/roles). thank you.

[2020-08-01 16:58] jennyf19 commented on #384
@efonsecab It's not completely clear what you are doing. If you were using the templates from Visual Studio, and now using Microsoft Identity Web, there are differences.
Are you using `login.microsoftonline.com`, or `*.b2clogin.com` or a custom domain?
Can you share the appsettings.json w/us?
Have you see this [B2C sample which uses Microsoft Identity Web](https://github.com/Azure-Samples/active-d

[2020-08-02 13:33] jmprieur commented on #380
@pmaytak
Let's go with providing the HttpResponse as a parameter

This will also fix Azure devops [Bug 1099665: Defect : CS8602, Component : src\Microsoft.Identity.Web\TokenAcquisition.cs (1 issue)](https://identitydivision.visualstudio.com/IDDP/_workitems/edit/1099665) and therefore assigning to you.

[2020-08-02 14:21] jmprieur commented on #80
![image](https://user-images.githubusercontent.com/13203188/89124954-2f9d8480-d4db-11ea-9a3a-010668c45f1c.png)

[2020-08-02 14:27] jmprieur opened #389 "[Bug] VerifyUserHasAnyAcceptedScope should throw UnauthorizedAccessException(message) (like roles)"
**Which version of Microsoft Identity Web are you using?**
0.2.1-preview

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [x  ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     *

[2020-08-02 15:42] adriannasui commented on #374
sorry about not answering, seems my github notifications are not properly setup on my part.
About _throwing_ I suspect for the caller it looks like a 403 (Forbidden) with a custom message in both cases (throw vs no throw).
Throwing seems safer to me, it conveys the fact that stopping at this point is mandatory due to authorization issues.
Was looking at your code and it looks fine, a bit slimmer t

[2020-08-03 00:10] jennyf19 commented on #374
Thanks for the quick feedback @adriannasui ....we agree that throwing seems safer and less "magical"

[2020-08-03 11:53] jmprieur commented on #8
I looked at UseAzureAppServices() and it's only for logging (cc: @navyasric)

See also http://jsandersblog.azurewebsites.net/2020/01/17/easy-auth-using-x-ms-token-aad-access-token-as-a-bearer-token/

[2020-08-03 14:13] molntamas opened #391 "Should RoleClaimType be mapped to roles by default?"
I noticed that in the latest version I cannot add validation for a role as a C# attribute to an MVC controller anymore.
Instead I have to add a line in the controller action.

I would still like to be able to use this syntax

[code]

instead of

`HttpContext.ValidateAppRole("role")`

Would this be possible in the future?
Or do I have to implement an attribute myself?

[2020-08-03 16:51] brentschmaltz commented on #233
@blowdart @jmprieur @pmaytak turning off claim mapping is potentially breaking for users that look for specific claim types.
IsInRole may not work as expected.

As a note, whenever a claim is mapped a property is added to the claim with the key value (JwtSecurityTokenHandler.ShortClaimTypeProperty, claimType),

This mapping issue was one of the driving forces behind the JsonWebTokenHandler which p

[2020-08-03 17:13] JunTaoLuo commented on #378
FYI @javiercn, @blowdart

[2020-08-03 20:35] DanielMannInCycle opened #392 "[Bug] NullReferenceException when using Azure SignalR in server-side Blazor app"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

0.2.1-preview

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* To

[2020-08-03 21:45] jennyf19 commented on #392
thanks @DanielMannInCycle

[2020-08-04 03:24] DanielMannInCycle commented on #392
I'm still working on paring things down for a MVCE, but I'm about 90% sure I've identified the scenario that triggers this:

We have a `DelegatingHandler` middleware that is responsible for constructing an `HttpClient` with the Bearer token already already applied:

[code]
The `NullReferenceException` happens when that middleware runs. Take this snippet as an example:

[code]

The call to `Acquire

[2020-08-04 04:05] pmaytak commented on #391
Hello.
Web app [sample 5-1](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/5-WebApp-AuthZ/5-1-Roles/Startup.cs) shows how to use roles. Have you made sure that the role claim type is set to the one that's in claims?

[code]

[2020-08-04 06:09] pmaytak opened #394 "[Bug] Exception thrown for non-default user flows when a B2C app issues user flow in a 'tfp' claim"
**Which version of Microsoft Identity Web are you using?**
0.2.1-preview

**Repro**
- Set up a B2C app registration issuing a user flow claim in a 'tfp' token instead of 'acr'.
- Login into [B2CWebAppCallsWebApi](https://github.com/AzureAD/microsoft-identity-web/tree/master/tests/B2CWebAppCallsWebApi) Client app.
- Click **Edit Profile**, then click **Continue**.

**Actual behavior**
`Microsoft.Id

[2020-08-04 08:57] jmprieur commented on #391
@molntamas @pmaytak @brentschmaltz @jennyf19 should Microsoft.identity.web set this by default?

[2020-08-04 09:06] jmprieur commented on #392
Thanks for the update, @DanielMannInCycle

[2020-08-04 13:35] oakular opened #396 "Issuer validation failed in Azure app service only [Bug]"
**Which version of Microsoft Identity Web are you using?**
0.2.1-preview

**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     * [

[2020-08-04 18:01] DanielMannInCycle commented on #392
I have put the repro code into a private repo. I have added both @jennyf19 and @jmprieur to the repo.

https://github.com/DanielMannInCycle/identityrepro

[2020-08-04 18:07] jennyf19 commented on #344
moving this to done for us, as MSAL .NET has a fix that will go out in their next release.

[2020-08-04 18:08] jennyf19 commented on #394
@pmaytak i see you assigned this to me, is there an action item for me?

[2020-08-04 18:10] cbrianball opened #398 "AuthorizeForScopesAttribute not detecting MsalUiRequiredException"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
v0.2.1-preview

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* To

[2020-08-04 18:15] pmaytak commented on #394
@jennyf19 Just created this for tracking. Assigned to you, to give you credit for the fix.

[2020-08-04 18:36] jennyf19 commented on #392
@DanielMannInCycle I checked with ASP .NET Core team and here is their guidance for this:
"The HttpContext is not "fully" available when the user uses the SignalR service. That's one of the reasons why our guidance on Blazor is to completely avoid its usage. SignalR Service will try to "mock" some of the properties of the HTTP Context, but in general it is not going to work well. Our guidance to u

[2020-08-04 19:02] DanielMannInCycle commented on #392
@jennyf19 Thanks for the information. However, I'm a bit confused. An external SignalR hub is required for scaling a Blazor server-side app. If there's nothing that can be done to fix this library to work for a Blazor server-side app backed by external SignalR, then wouldn't it be appropriate to say that this library is not compatible with Blazor Server-Side?

[2020-08-05 06:01] schmid37 commented on #392
@jennyf19 @jmprieur this is exactly this, what I wrote you about the Blazor SignalR problem.

[2020-08-05 06:42] pmaytak opened #402 "In AadIssuerValidator, make the config manager an injectable singleton"
Currently in AadIssuerValidator, `ConfigurationManager` is a private static variable.
https://github.com/AzureAD/microsoft-identity-web/blob/d33ab13b7ef11f33fa4b8a4eca7949a79c95a144/src/Microsoft.Identity.Web/Resource/AadIssuerValidator.cs#L25

Investigate to possibly make it an injectable singleton, so it's easier to fake/replace.

[2020-08-05 07:23] pmaytak commented on #396
Hello, @oakular.

If possible, you can show PII, as described [here](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/PII).

Also if deployed apps are behind a load balancer, for example, that can mess with redirects. More info [here](https://github.com/AzureAD/microsoft-identity-web/wiki/Deploying-Web-apps-to-App-services-as-Linux-containers).

[2020-08-05 07:44] jmprieur commented on #396
Did you enable Authentication on app services, @oakular ?
See https://github.com/AzureAD/microsoft-identity-web/wiki/deploying-to-app-services

[2020-08-05 09:37] jmprieur commented on #398
Thanks for reporting @cbrianball
It is fixed and we'll release an update of Microsoft.Identity.Web with many bug fixes. No ETA yet as we need to release MSAL.NET first (which also has a fix for us)

[2020-08-05 11:52] jmprieur opened #403 "[Feature Request] Add GraphService and Web APi part of the library"
**Is your feature request related to a problem? Please describe.**
Today the template introduce three files that would benefit from being in the product:

**Describe the solution you'd like**
- Incorporate the [`Services`](https://github.com/AzureAD/microsoft-identity-web/tree/master/ProjectTemplates/templates/StarterWeb-CSharp/Services) folder from the templates into the library
- Update both so

[2020-08-05 11:55] jmprieur opened #404 "[Feature Request] AddTokenAcquisition should take a delegate rather than a boolean"
**Is your feature request related to a problem? Please describe.**
AddTokenAcquisition is taking a boolean (to use a singleton service instead of a scoped one)

**Describe the solution you'd like**
This is not the pattern that the ASP.NET Core team uses.
Please have an option + a delegate.

**Suggested design**
Add an option class:

[code]

Change `AddTokenAcquisition` to take an optional delegate

[2020-08-05 14:57] efonsecab commented on #384
I found the issue already, it turned out to be a typo in configuration tha end up showing this error.

[2020-08-05 14:57] #384 closed

[2020-08-05 16:39] jmprieur commented on #8
See also [Feature 964131: Microsoft.identity.web populates User object with claims received in Headers from EasyAuth](https://identitydivision.visualstudio.com/Engineering/_workitems/edit/964131)

[2020-08-05 16:59] jennyf19 opened #408 "[Bug] Set name claim in Web API scenario, like is done in web app."
like this in web app:
[code]
do it in web api as well, as in the web API controller:
[code]

`User.Identity.Name` is null, there is no value, so we need to set it.__

Update. Based in @pmaytak's PR feedback, we decided to not take this issue now, as it would not work for v1.0 tokens.
but to change the test app to use .GetDisplayName()

We'll take this issue later

[2020-08-05 19:49] Tratcher opened #410 "[Bug] Remove the Microsoft.AspNetCore.DataProtection.Abstractions dependency"
https://github.com/AzureAD/microsoft-identity-web/blob/d23ca81bd6c7511b5bfeccf63d490f79dbbd63bd/src/Microsoft.Identity.Web/Microsoft.Identity.Web.csproj#L84

You shouldn't need this dependency, it should be pulled in transitively.

If you really do need it, it should be moved to the TFM specific dependency section so you get the correct 3.x or 5.x version.
https://github.com/AzureAD/microsoft-iden

[2020-08-05 21:08] jennyf19 commented on #410
thanks @Tratcher this will be in our next release, later this week (0.2.2-preview)

[2020-08-05 21:10] jennyf19 commented on #384
Thanks for getting back to us @efonsecab

[2020-08-06 02:24] jennyf19 commented on #392
@DanielMannInCycle I used the repo you sent, and had to make a few changes to get it working, but I'm not able to repro your issue now. I'm going to have @javiercn take a look as well.

In Startup.cs, I commented this:
`//_authenticationStrategy.AddAuthentication(services, Configuration);`

and added this, as you'll need to add Microsoft Identity Web explicitly:
[code]

Then i had to connect the M

[2020-08-06 07:38] pmaytak commented on #233
Closing this issue, since testing was done on Identity Web side.

@blowdart If you decide to change this behavior ASP.NET side, please let us know then.

[2020-08-06 11:21] stvonolf opened #413 "[Feature Request] Allow to pass tenantId when requesting application access token"
**Is your feature request related to a problem? Please describe.**
We would use a multi-tenant application which is authorized in several tenants. In each tenant, the application would be added in the Dynamics CRM as an app user. For each of those, we need to request the token using the tenant authority.

**Describe the solution you'd like**
Add tenantId parameter to GetAccessTokenForAppAsync - si

[2020-08-06 12:10] jmprieur commented on #413
@stvonolf how urgent is it for you?

[2020-08-06 12:59] stvonolf commented on #413
If this is a use-case you want to support, it would be good to have it until the end of August if possible.

[2020-08-06 13:01] stvonolf commented on #413
We should clarify first though, if requesting application tokens for multiple tenants is considered an anti-pattern.

[2020-08-06 17:01] jennyf19 commented on #392
@DanielMannInCycle any update on this? Make sure you also delete your local nuget cache to make sure it's picking up the right build... @schmid37 i think this is working for you now, correct? any advice?

[2020-08-06 17:09] schmid37 commented on #392
@jennyf19 works fine. Daniel, Javier and me verified that in the meeting.

[2020-08-06 17:14] jennyf19 commented on #392
@schmid37 awesome! so this issue can close once we release w/the changes from Javier?

[2020-08-06 17:15] schmid37 commented on #392
@jennyf19 think so. You're about to release the 0.2.3 this week?

[2020-08-06 17:16] DanielMannInCycle commented on #392
@jennyf19  I'm still trying to get it to work -- I'm still seeing a null `NavigationManager`.

[2020-08-06 17:17] jennyf19 commented on #392
@schmid37 we are testing the release now, would be 0.2.2-preview, so probably available tomorrow, Monday at the latest.

@DanielMannInCycle did you delete the local nuget cache, to make sure you're picking up the build w/the fix?

[2020-08-06 17:29] DanielMannInCycle commented on #392
@jennyf19  I cloned the repo and added project references to ensure I'm picking up the latest changes. I cannot get the changes you made to my repro application to work properly. The line you commented out is necessary -- we use a strategy pattern to determine whether to use AzureAD or B2C.

If I change the `AzureB2CAuthenticationStrategy.cs` file to include this snippet:

[code]

[2020-08-06 17:39] jennyf19 commented on #392
@DanielMannInCycle can you send me an email - jeferrie@microsoft.com ? thanks. :)

[2020-08-06 19:17] jennyf19 opened #414 "[Feature Request] Update to net core 5 preview 8"
with this: `5.0.*-*`

[2020-08-06 19:38] jmprieur commented on #370
Fixed:
https://identitydivision.visualstudio.com/IDDP/_releaseDefinition?definitionId=34&_a=definition-history

@jennyf19

[2020-08-07 03:11] glasody opened #415 "Domain hint only specified when login hint is not null or blank"
**Which version of Microsoft Identity Web are you using?**
0.2.1-preview

**Where is the issue?**

* Web app

  * [x]  Sign-in users
  * [ ]  Sign-in users and call web APIs
* Web API

  * [ ]  Protected web APIs (validating tokens)
  * [ ]  Protected web APIs (validating scopes)
  * [ ]  Protected web APIs call downstream web APIs
* Token cache serialization

  * [ ]  In-memory caches
  * [ ]  Se

[2020-08-07 07:48] MSThug opened #417 "ITokenAcquisition.GetAccessTokenForUserAsync() results in AADSTS50158: External security challenge not satisfied."
I know I'm touching tech from a number of teams here so if this is not the right forum I apologize.

So, I have a netcoreap3.1 Azure web service I've created that is setup with MVC and API controllers. I'm also using the latest MSAL.NET library for authentication.  Additionally, I'm using the latest Microsoft Graph API.  When users login and use the MVC controllers/actions, calls to ITokenAcquisit

[2020-08-07 08:50] ankitk20 opened #416 "[Feature Request] Support for non-AAD token authorize filter to protect API endpoints"
**Is your feature request related to a problem? Please describe.**
Custom JWT based authorization instead of AAD

**Describe the solution you'd like**
Global authorization filter for custom JWT token instead of AAD token. The below codes secures the API with AAD token.

services.AddMicrosoftWebApiAuthentication(Configuration) // this statement adds AAD token authorization to all APIs
					.AddMicr

[2020-08-07 11:34] jmprieur commented on #416
@ankitk20
I don't understand your scenario. What are you trying to achieve? how can we help you (given that our library is to help using AAD and Azure AD B2C ?)

If you don't want to use Azure AD, you can also just use:
`services.AddAuthentication(OpenIdConnectDefault.AuthenticationScheme)`, and start from there?

If you want to customize what Microsoft.Identity.Web does (for AAD), you can read ht

[2020-08-07 12:23] ankitk20 commented on #416
I hav Basic Auth in the app which returns a custom JWT token to the client. The client uses this token to access the controllers. The controllers use Service Principal auth using MSAL to invoke Microsoft REST endpoints.

Now, with the given code on [Wiki](https://github.com/AzureAD/microsoft-identity-web/wiki/web-apis) it adds AAD authorization to all the controllers in the service. My question is

[2020-08-07 15:55] jennyf19 commented on #370
Included in [0.2.2-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.2-preview)

[2020-08-07 15:55] #370 closed

[2020-08-07 15:56] jennyf19 commented on #233
Included in [0.2.2-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.2-preview)

[2020-08-07 15:56] jennyf19 commented on #410
Included in [0.2.2-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.2-preview)

[2020-08-07 15:56] #410 closed

[2020-08-07 15:56] jennyf19 commented on #392
Included in [0.2.2-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.2-preview)

[2020-08-07 15:56] #392 closed

[2020-08-07 15:56] jennyf19 commented on #274
Included in [0.2.2-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.2-preview)

[2020-08-07 15:56] #274 closed

[2020-08-07 15:56] jennyf19 commented on #398
Included in [0.2.2-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.2-preview)

[2020-08-07 15:56] #398 closed

[2020-08-07 15:56] jennyf19 commented on #344
Included in [0.2.2-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.2-preview)

[2020-08-07 15:56] #344 closed

[2020-08-07 15:57] jennyf19 commented on #389
Included in [0.2.2-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.2-preview)

[2020-08-07 15:57] #389 closed

[2020-08-07 15:57] jennyf19 commented on #381
Included in [0.2.2-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.2-preview)

[2020-08-07 15:57] #381 closed

[2020-08-07 15:57] jennyf19 commented on #374
Included in [0.2.2-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.2-preview)

[2020-08-07 15:57] #374 closed

[2020-08-07 15:57] jennyf19 commented on #332
Included in [0.2.2-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.2-preview)

[2020-08-07 15:57] #332 closed

[2020-08-07 15:57] jennyf19 commented on #394
Included in [0.2.2-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.2-preview)

[2020-08-07 15:57] #394 closed

[2020-08-07 15:57] jennyf19 commented on #376
Included in [0.2.2-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.2-preview)

[2020-08-07 15:57] jennyf19 commented on #351
Included in [0.2.2-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.2.2-preview)

[2020-08-07 15:58] #233 closed

[2020-08-07 16:30] MSThug commented on #417
@jmprieur : There is so much MSAL documentation to sort through that I don't know that I even came across incremental consent.  Thanks for the pointer. I'll let you know how it goes.

[2020-08-07 16:34] jennyf19 opened #418 "Update Templates and Dev Apps w/new API for 0.3.0-preview"
https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2
https://github.com/Azure-Samples/active-directory-dotnetcore-daemon-v2
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2

- [ ] Web app MVC
- [ ] Web app Razor
- [ ] Web app Blazor server
- [ ] Blazor web assembly
- [ ] Web API

Can MS identity web be referenced w/ *? so the templates w

[2020-08-07 16:43] jennyf19 commented on #102
related to this issue in [msal .net](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1979)

[2020-08-07 16:51] jmprieur commented on #417
If you use Microsoft.Identity.Web, @MSThug you should not need to worry about MSAL.NET

[2020-08-07 16:59] MSThug commented on #417
@jmprieur So functionally the MVC template is identical to my project which works.  Where it breaks is on the API controller side.  Are there samples for API projects?  I did [take a look at this](https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access#handling-incremental-consent-or-conditional-access-in-web-apis) but the sample is incomplete.

[

[2020-08-07 17:05] MSThug commented on #417
@jmprieur I found the [API sample](https://github.com/AzureAD/microsoft-identity-web/wiki/web-api-template). It also doesn't cover my scenario. It basically looks exactly the same as the MVC sample.  I don't know how common this scenario is but a complete sample would be helpful because I already had these samples on my machine so I had been looking in the right place.  Thanks.

[2020-08-07 17:08] jmprieur commented on #417
@MSThug : did you try out https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph ?

[2020-08-07 17:12] MSThug commented on #417
@jmprieur I just realized what that line in the CallGraphApiOnBehalofOfUser is intended to represent.  That should be a call to an actual Graph API.  That's a bit confusing especially with no comment to identify that the intent is not to make a recursive call of some kind.

Also, I did miss that last sample you sent. That seems to be the one I needed.  Thanks so much for your help! I appreciate it

[2020-08-07 17:12] #417 closed

[2020-08-07 17:17] jmprieur commented on #417
@MSThug
thanks for the feedback and the update.
We are working on clarifying the API: next version should be much easier to understand (See https://github.com/AzureAD/microsoft-identity-web/issues/378)

[2020-08-08 18:05] jmprieur commented on #380
Updated the wiki:
https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access#handling-incremental-consent-or-conditional-access-in-web-apis

cc: @pmaytak @jennyf19

[2020-08-08 18:20] pmaytak commented on #415
Hi @glasody. Thanks for reporting. We also appreciate outside contributions, if you'd like to submit a PR.

[2020-08-08 22:40] pmaytak commented on #418
Side note: `Version="*"` gets the latest stable version. `Version="*-*"` gets the latest version including pre-release.
[Reference](https://github.com/NuGet/Home/wiki/Support-pre-release-packages-with-floating-versions#common-scenarios)

[2020-08-09 09:39] jmprieur commented on #413
Checked with @hpsin and here is what we agreed to:
- Change the signature of `GetAccessTokenForUserAsync` to take a `string` (instead of a `IEnumerable<string>`) as there is only one possible string for a given resource of App Id URI AppIdUri: "AppIdUri/.default". We can check that the resource ends in "./default"
- Add an additional optional parameter `tenant` to support this scenario, and verify

[2020-08-09 09:45] jmprieur commented on #413
Taking it as there is an API breaking change so I'd like it to be in 0.3.0-preview

[2020-08-09 10:10] jmprieur commented on #418
The samples are, for the moment, using .NET Core 3.1, and I would not recommend moving them to 5.0 until it's RC or GA as this would add a tax to customers.

[2020-08-09 10:11] jmprieur commented on #418
Proposal for templates update in https://github.com/AzureAD/microsoft-identity-web/pull/397, part of https://github.com/AzureAD/microsoft-identity-web/pull/397/commits/83a292186b9e231067f7bc4128c74e77c255e52a

[2020-08-09 11:43] jmprieur commented on #403
Proposed design:

## Add a `DownstreamApiSupport` folder

## Add an option class to use in the services to configure the APIs to be called

[code]

## Add an `IDownstreamWebApi` interface.
[code]

This interface will be injected by dependency injection in controllers. Or, in the case where the developer wants to call several APIs, some interface derived from this one would be injected

[2020-08-10 07:41] jmprieur commented on #335
@mia01 @Mrcl1450.
I've updated the wiki page: https://github.com/AzureAD/microsoft-identity-web/wiki/Token-cache-serialization#managing-the-expiry

cc: @jennyf19

[2020-08-10 07:41] #335 closed

[2020-08-10 07:44] jmprieur commented on #396
@oakular : I suppose you've enabled the authentication in app services.
I'm closing this issue, but feel free to reopen if I'm wrong.

[2020-08-10 07:44] #396 closed

[2020-08-10 08:01] jmprieur commented on #391
This is now documented in https://github.com/AzureAD/microsoft-identity-web/wiki/Web-APIs#verification-of-scopes-or-app-roles-in-the-controller-actions

[2020-08-10 08:05] jmprieur commented on #126
See  [microsoft-identity-web-docs-release-matrix.xlsx](https://microsoft.sharepoint.com/:x:/t/AzureADDevDocs/EQCsp43-DtlItmUVGtGMB7QBWMa7fVncyrqcenl-EDosEw?e=uA9y4L&CID=55A22DEE-ED9F-49EA-8C4C-5C3098E588D2)

[2020-08-10 08:07] jmprieur commented on #126
[ ] Quickstart: MVC web app that   signs in user
[ ] Quickstart: WebAPI
[ ] scenario overview -   web app
[ ] scenario overview -   web API
[ ] scenario overview -   daemon
[ ] move wiki to docs.ms

[2020-08-10 09:04] #380 closed

[2020-08-10 09:06] #414 closed

[2020-08-10 11:13] jmprieur commented on #404
@pmaytak : proposing to assign this one to you.

[2020-08-10 11:42] jmprieur opened #426 "AddInMemoryTokenCaches should take options and delegates"
From DevDiv review
AddInMemoryTokenCaches should take options and delegates

[2020-08-10 13:21] jmprieur opened #427 "[Feature Request] CallsMicrosoftGraph in Startup.cs enables usage of the Graph SDK in controllers / Razor / Blazor pages"
## Issue
Today the template introduce files to easy calling MIcrosoft Graph that would benefit from being productized in the library

## Spec

See https://github.com/AzureAD/microsoft-identity-web/pull/431

We'd want to be able to set which Microsoft graph endpoint to use (v1.0, Beta, but also national clouds) from the configuration, or programmatically. For instance in the **appsettings.json**

[

[2020-08-10 13:36] durandt commented on #415
I stumbled upon the same issue and it was a great time-saver that @glasody found it before me.
I pushed a PR-suggestion.

Regards,

[2020-08-10 16:55] pheuter opened #429 "[Bug] 'Scheme already exists: Bearer' when trying to setup both AAD and AAD B2C auth"
**Which version of Microsoft Identity Web are you using?**
0.2.2-preview

**Where is the issue?**

I'm trying to make my ASP.NET Core Web API compatible with both AAD tokens issued on behalf of applications as well as AAD B2C tokens issued on behalf of users, but run into errors when trying to configure both entries in my appsettings.json file. If I only initialize `AddMicrosoftWebApi` once, then

[2020-08-10 19:04] #415 closed

[2020-08-10 19:59] jmprieur commented on #429
You added twice the same authentication scheme. You'd need to use a different name for the `jwtBearerScheme` parameter in one of your calls. for instance:

[code]

BTW, the default one will be "Bearer" (JwtBearerDefaults.AuthenticationScheme).

[2020-08-10 20:00] jmprieur commented on #403
assigning to me as I'm spec-ing it

[2020-08-10 20:32] pheuter commented on #429
@jmprieur Got it, that makes sense! I am seeing a new error now:

[code]

[2020-08-10 20:39] pheuter commented on #429
One thought that just occurred to me is if it's even possible to support passing different `Authorization: Bearer` tokens to the same Web Api that are issued by different providers, i.e. one from Active Directory and another from AAD B2C?

[2020-08-11 06:22] pmaytak commented on #429
The [IDX10501](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/93097e3aca4b8180e295c9b4b1b10ffcbf082240/src/Microsoft.IdentityModel.JsonWebTokens/JsonWebTokenHandler.cs#L1245) was thrown when the issuer signing key was found but didn't match the token. I think all the [keys were retrieved from IDP](https://github.com/AzureAD/azure-activedirectory-identitym

[2020-08-11 10:08] oakular commented on #396
Hi @jmprieur, yes I have enabled authentication in App Services.

@pmaytak I have also set `ShowPII = true` at the top of `ConfigureServices` in `Startup.cs`, but I am still seeing the same error message in Azure:
_{"code":400,"message":"IDX10205: Issuer validation failed. Issuer: '[PII is hidden]'. Did not match: validationParameters.ValidIssuer: '[PII is hidden]' or validationParameters.ValidIss

[2020-08-11 13:03] pheuter commented on #429
Strangely enough I get a different error when I switch the order of `AddMicrosoftWebApi()` calls, so if I first setup `AzureAdB2C` instead of `AzureAd`, I'll get a different error:

[code]

[code]

It appears that the **Instance** configuration is overridden with the second call to `AddMicrosoftWebApi()`, so instead of using `"Instance": "https://mytenant.b2clogin.com"` it uses `"Instance": "https

[2020-08-11 14:22] durandt opened #432 "Add CookieAuthenticationOptions parameter to AddMicrosoftWebAppAuthentication-method?"
Hi,

This is a usability question.

I used [this documentation](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-1-MyOrg) to add Azure AD OpenId Connect authentication to my web application.

In this step to step, we are told to use `AddMicrosoftWebAppAuthentication`. Here is its implementation:
https://github.com/AzureAD/microsoft-id

[2020-08-11 15:32] snebjorn commented on #281
I just encountered this. I'm using a organization specific tenant and we're not passing any roles or scopes. It's simply enough to have a valid token.

So my ASP.NET Core 3.1 API simply returns ERROR 500

Also shouldn't that be 401?

[2020-08-11 20:58] pmaytak commented on #432
Hello @durandt.
To configure cookie options, we advise to use a different overload of that method that has action and instead of config parameters:
https://github.com/AzureAD/microsoft-identity-web/blob/18fe4cef0f65ac76c42da87b097c009c9eebba1e/src/Microsoft.Identity.Web/WebAppExtensions/WebAppAuthenticationBuilderExtensions.cs#L62-L68

It can be used like so:
[code]

You can get the desired behavi

[2020-08-12 05:43] ankitk20 commented on #416
@jmprieur any update on this?

[2020-08-12 06:25] durandt commented on #432
Thanks for the detailed answer @pmaytak

I did just that (first one) yesterday and it works great :)
This is my first .Net Core project so I think it takes some getting used to digging into the code extensions and create my own.

The second solution looks neat to me.

[2020-08-12 06:25] #432 closed

[2020-08-12 06:53] pmaytak commented on #432
👍 Glad that helped.

I find the [ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-3.1) docs very helpful and dotnet [aspnetcore](https://github.com/dotnet/aspnetcore) and [runtime](https://github.com/dotnet/runtime) repos useful for looking more closely at the code itself.

[2020-08-12 07:15] jmprieur commented on #416
@ankitk20. What is basic auth?  do you mean username/password?
and what is service principal auth? do you mean client credentials (AcquireTokenForClient?)

Do you want to draw an architectural diagram of your solution? showing where you want to use MIcrosoft.Identity.Web.
Do you want to share some repro of the issue you've been experiencing?

[2020-08-12 07:27] ankitk20 commented on #416
Yes, basic auth is username/password and service principal is using _GetAccessTokenForAppAsync()_

This is issue I face when I try to use _AddMicrosoftWebApiCallsWebApi()_ as below

`services.AddAuthentication("OAuth").AddJwtBearer("OAuth", options => ....)
                                .AddMicrosoftWebApiCallWebApi(...)
                                .AddInMemoryTokenCaches()`

<img width="681

[2020-08-12 07:45] jmprieur commented on #416
@ankitk20
you should not call .AddMicrosoftWebApiCallWebApi without having called .AddMicrosoftWebApi(), at least that's not a scenario we have tested.
If you really want to do that, in relation to what I see in your screenshot, you'd need .AddHttpClient at least

https://github.com/AzureAD/microsoft-identity-web/blob/18fe4cef0f65ac76c42da87b097c009c9eebba1e/src/Microsoft.Identity.Web/WebApiExtens

[2020-08-12 08:03] ankitk20 commented on #416
Thanks @jmprieur ! Adding `services.AddHttpClient()` to the middleware worked. I've just one question before I close this Issue.
Is the below code (from your reply) used to override default AAD authorization by a custom JWT based authorization or is it just used to customize the default AAD authorization?

services.AddAuthentication("OAuth")
    .AddMicrosoftWebApi(options => ..., "OAuth".)
   .Ad

[2020-08-12 08:13] jmprieur commented on #416
The following code avoids testing for scopes and roles when the token is validated.

[code]

[2020-08-12 08:15] ankitk20 commented on #416
Thanks!

[2020-08-12 08:15] #416 closed

[2020-08-12 08:49] tymtam2 opened #433 "Running locally vs deployed on Azure"
### Documentation related to component
Web Api

### Please check all that apply

- [ ] typo
- [x] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in the example
- [x] needs an example

### Description of the issue

# TL;DR

In a asp.net core 3.1 setup, a console app using `ConfidentialClientApplicationBuilder` and `AcquireTokenForClient` calls a web api set up wi

[2020-08-12 11:01] jmprieur commented on #378
PR is https://github.com/AzureAD/microsoft-identity-web/pull/425

[2020-08-12 13:12] jmprieur commented on #433
What error do you get, @tymtam2 ?
You definitively want to have App Service authentication off.

Did you see this article?
https://github.com/AzureAD/microsoft-identity-web/wiki/deploying-to-app-services

[2020-08-12 13:45] Cholo981 opened #435 "The collection type 'Microsoft.Graph.IUserAppRoleAssignmentsCollectionPage' on 'Microsoft.Graph.User.AppRoleAssignments' is not supported."
I got this error trying to call Graph from an API.
What does it means?

[2020-08-12 14:04] jmprieur opened #436 "[Feature Request] (If possible) have AddMemoryTokenCaches being the default (when no other specified)"
**Is your feature request related to a problem? Please describe.**
When developers don't specify a token cache serialization implementation we should try (if possible) to use the in memory token caches.

**Describe the solution you'd like**

**Describe alternatives you've considered**
Keep as it is

**Additional context**
Feedback from Damien

[2020-08-12 14:06] #436 closed

[2020-08-12 16:28] jennyf19 opened #437 "[Bug] null ref on NavigationManager on Blazor server w/AzureSignalR when using Prerendering"
Blazor server does prerendering to load the application initially, as noted in _Host.cshml:
[code]
This causes the NavigationManager to be null because the Blazor component is not yet started, as it is in "pre-rendering mode". Once the app is active, it renders again. On the pre-render, the MicrosoftIdentityCircuitHandler is not started.

Use the _httpContext in the case of the pre-render, as it i

[2020-08-12 16:37] jennyf19 opened #438 "[Bug] Blazor server apps require scoped services -> error `Cannot resolve scoped service 'Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider'`"
Due to the nature of Blazor server, with multiple user contexts on the same app, all the services must be scoped, not singleton. Now, in order to support the Microsoft Graph SDK, we have to implement a Singleton for token acquisition. This does not work with Blazor, as the token acquisition will be registered as a singleton.

This is the error that is surfaced:
`System.InvalidOperationException: '

[2020-08-12 17:18] jmprieur commented on #435
@Cholo981
This is a question for the Microsoft Graph team.

@dkershaw10 @darrelmiller can you please help?

[2020-08-12 17:23] jennyf19 commented on #438
FYI: putting this on your radar: @DanielMannInCycle @schmid37 @gwgrubbs @jaimunday @josheinstein

[2020-08-12 17:23] jennyf19 commented on #437
This has been fixed in master, but there are API breaking changes there, we do not have our documentation updated yet, but there is a migration aid, it might be a bit premature, but you are welcome to try this out, and/or the workaround of removing the prerendering (see above).
@DanielMannInCycle @schmid37 @gwgrubbs @jaimunday @josheinstein

[2020-08-12 20:25] brentschmaltz commented on #391
@jmprieur sorry for the late response, i think you are better off NOT setting by default.
So it looks like you did the right thing.

A strong solution would have the IdentityProvider specify what claim type should be used for 'roles'.
We do know what AAD uses and could have a switch that maps to the AAD behavior.

[2020-08-12 22:53] schmid37 commented on #437
Hey @jennyf19 the workaround works fine. I hope I'll find some time to test the master. Got some internal development I need to deliver in the next days.

[2020-08-12 23:27] jennyf19 commented on #437
Thanks for the quick feedback @schmid37 If there is anything we can do to help with the testing let us know.

[2020-08-12 23:27] hraz-msft opened #440 "[Question] How to get OBO token in an event handler"
How can I get an OBO access token in an event handler like:

[code]

In this case the `this.User` is already disposed, and even without it, `GetAccessTokenForUserAsync` crashes with NullObjectException.

My process takes a very long time (hours).

How can I get the token inside a callback when I need it?

[2020-08-12 23:30] #440 closed

[2020-08-12 23:31] hrazmsft opened #441 "[Question] How to get OBO token from an event handler"
How can I get an OBO access token in an event handler like:

[code]

In this case the `this.User` is already disposed, and even without it, `GetAccessTokenForUserAsync` crashes with NullObjectException.

My process takes a very long time (hours).

How can I get the token inside a callback when I need it?

[2020-08-13 07:03] tymtam2 commented on #433
@jmprieur It seems the problem was between the seat and the keyboard. It works.

[2020-08-13 07:03] #433 closed

[2020-08-13 07:23] jmprieur commented on #433
Thanks for the update, @tymtam2

[2020-08-13 07:43] tymtam2 commented on #429
The doco @pheuter refers to ([Use multiple authentication schemes](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/limitingidentitybyscheme?view=aspnetcore-3.1#use-multiple-authentication-schemes)) uses 2 stage process:

Step 1:
[code]

Step 2:

[code]

[2020-08-13 07:44] mohsinhere opened #444 "[Question] Can we validate a v1 token using this library?"
I have a v1 token with "iss": "https://sts.windows.net/{tenantid}/"

Microsoft.Identity.Web worked fine when I was using a v2 token.

But when I use a v1 token I'm getting a "The signature key was not found" error when I try to hit the api.

My Azure AD Config is below:

[code]

Authentication code is:

`services.AddProtectedWebApi(Configuration, "AzureAppRegistration");`

Can anyone advise if I n

[2020-08-13 08:20] jmprieur commented on #444
@mohsinhere do you mean:
- a v1.0 token (acquired for a Web API that is using the AAD v2.0 endpoint?
- Or a token acquired for your Web API that would be using the AAD v1.0 endpoint. ?

**If the earlier**, that's a bug, and we want to know (do you have a repro? this works for me.

**If the later**, this is by design as Microsoft.Identity.Web is to support the v2.0 endpoint,
See https://github.com/

[2020-08-13 08:28] jmprieur commented on #441
@hraz-msft when your start your long running process, you should keep some claims about the user (at least the home tenant id and home object id), and then you can use `ClaimsPrincipalFactory.FromTenantIdAndObjectId` to get back a claims principal, and pass it instead of this.User.

https://github.com/AzureAD/microsoft-identity-web/blob/41195539af65836b464b063c186842896ab15e0e/src/Microsoft.Identi

[2020-08-13 09:14] hraz-msft commented on #441
Hmm, it still crushing internally... The `tid` and `oid` are valid.

![image](https://user-images.githubusercontent.com/66222191/90116437-28d60380-dd5e-11ea-80c2-ac692bb1fcdb.png)

[2020-08-13 13:03] pheuter commented on #429
@tymtam2 The second stage is separate from the first in the same way Authorization is separate from Authentication in ASP.NET. The problems I'm describing all occur in the first stage when attempting to authenticate Bearer tokens created by two different issuers: AAD and AAD B2C.

You can see in your first code snippet that the docs show how to specify two different authorities. The issue I'm seei

[2020-08-13 13:32] jmprieur commented on #429
@pheuter: do you have repro steps so that we can debug? a repro project?

[2020-08-13 13:40] jmprieur opened #445 "[Bug] AddMicrosoftIdentityWebApiAuthentication(this IServiceCollection, IConfiguration ..,) should return MicrosoftIdentityWebApiAuthenticationBuilderWithConfiguration"
**Which version of Microsoft Identity Web are you using?**
0.3.0-preview

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ x] Protected web APIs (validating tokens)
    * [ x] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     *

[2020-08-13 14:16] jmprieur commented on #441
I think that the problem is that the HttpContext is null, or HttpContext.Items is null:

https://github.com/AzureAD/microsoft-identity-web/blob/41195539af65836b464b063c186842896ab15e0e/src/Microsoft.Identity.Web/HttpContextExtensions.cs#L30

[2020-08-13 14:33] pheuter commented on #429
@jmprieur I just created this repo: https://github.com/pheuter/IdentityWebRepro

You'll need to fill in your own AAD and AAD B2C configuration in **appsettings.json**. Once you do, you'll notice that when you try to hit the authorized `WeatherController` endpoint, you'll get an error that suggests it's not properly pulling in the configuration.

[2020-08-13 14:42] ramiglez30 opened #446 "[Bug] JWT validations fails with ClientId: client-guid and no Audience."
**Which version of Microsoft Identity Web are you using?**
Microsoft.AspNetCore.Authentication.AzureAD.UI **v3.1.7**

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ x] Sign-in users and call web APIs
* Web API
    * [ x] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache seri

[2020-08-13 18:29] jmprieur commented on #446
@ramiglez30 if you want to use Microsoft.AspNetCore.Authentication.AzureAD.UI, then is an issue for aspnetcore, not Microsoft.Identity.Web

If, on the other hand, you are happy to use Microsoft.Identity.Web you'd do the following and that would just work:

[code]

BTW, Microsoft.AspNetCore.Authentication.AzureAD.UI is going to be deprecated in .NET 5.0.

cc: @Tratcher @blowdart

[2020-08-13 18:41] blowdart commented on #446
You should definately switch now @ramiglez30 if you can, it will be easier in the long run.

[2020-08-14 01:14] mohsinhere commented on #444
@jmprieur

The app registration for which I'm requesting for a token is configured to issue v1 token (the config value in the manifest).

All I need is, I need to use this token to call my API which uses Microsoft.Identity.Web.

PS: The reason I'm not changing the token version to 2 is that this same app registration is used to authenticate to an Application Proxy. So if I switch to v2, authentica

[2020-08-14 09:38] PSHREYASHOLLA opened #452 "How to make Azure AD access_token compliant for its signature validation outside Microsoft Graph APIs?"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache seria

[2020-08-14 09:44] jmprieur commented on #452
@PSHREYASHOLLA :
You should not validate a token in a mobile/desktop application. you acquire a token which is for a web API which is the only to be able to validate it (you don't have the keys)

You might want to look at the following documentation? https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-desktop-overview

Finally, how is this question related to MIcrosoft.Identit

[2020-08-14 10:32] jmprieur opened #453 "[Feature Request] Update the project templates to use the new public API"
**Is your feature request related to a problem? Please describe.**
0.3.0-preview

**Describe the solution you'd like**
- Have the template generate projects using the new public API and the MicrosoftGraph and DownstreamApi services
- Refresh the templates from the ASP.NET core ones in RC1

[2020-08-14 10:50] jmprieur opened #454 "[Bug] Performance: when IConfidentialClientApplication is used as a singleton service, the cache size grows"
**Which Version of MSAL are you using ?**
4.17.1

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [x ] OBO

**Repro**
See the repro with Ramjot (offline)
See [Product Backlog Item 1103111: Pe

[2020-08-14 16:30] jennyf19 commented on #97
Waiting on guidance from ASP NET

[2020-08-14 16:32] jennyf19 commented on #99
not needed.

[2020-08-14 16:32] #99 closed

[2020-08-14 16:39] jennyf19 commented on #446
closing as answered. Thanks @ramiglez30

[2020-08-14 16:39] #446 closed

[2020-08-14 16:41] jennyf19 commented on #435
closing as not relevant to MS identity web.

[2020-08-14 16:41] #435 closed

[2020-08-14 17:14] cmatskas opened #456 "[Bug] API token validation with AAD B2C fails due to wrong metadata endpoint"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
**Microsoft Identity Web 0.2.3-preview**

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [**x**] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs

[2020-08-14 17:23] cmatskas opened #457 "[Bug] Protected API with B2C throws a 401 (Invalid Token) error due to wrong Audience in the token"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
**Microsoft Identity Web 0.2.3-preview**

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [**X**] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs

[2020-08-14 17:31] cmatskas opened #458 "[Bug] Protected API with B2C throws a 401 (Invalid Token) error due to Issuer validation failing"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
**Microsoft Identity Web 0.2.3-preview**

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [X] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs cal

[2020-08-14 17:45] jmprieur commented on #456
@cmatskas this should not be necessary
can you please also share your appsettings.json?

[2020-08-14 17:47] jmprieur commented on #457
@cmatskas can you please share the appsettings.json

[2020-08-14 17:47] jmprieur commented on #458
@cmatskas can you please share the appsettings.json

[2020-08-14 20:55] cmatskas commented on #457
Thanks @jmprieur

[code]

[2020-08-14 20:56] cmatskas commented on #458
@jmprieur please see below

[code]

[2020-08-14 20:57] cmatskas commented on #456
[code]

[2020-08-14 20:58] cmatskas commented on #456
[Full repo](https://github.com/cmatskas/BlazorWASMB2C) with all the code to clone and repro

Make sure to use the appropriate tag

[2020-08-14 21:25] codegardener opened #459 "[Bug] MsalUiRequiredException when obtaining token for policy in AuthorizationHandler"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 0.2.3-preview

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In

[2020-08-14 23:57] jennyf19 commented on #457
@cmatskas The Instance you have in the config is not correct, it should be: `https://cmatdevb2c.b2clogin.com`

[2020-08-14 23:57] jennyf19 commented on #458
@cmatskas The Instance you have in the config is not correct, it should be: `https://cmatdevb2c.b2clogin.com`

[2020-08-15 00:00] jennyf19 commented on #456
It attempts to retrieve that information from here:
'https://cmatdevb2c.onmicrosoft.com/cmatdevb2c.onmicrosoft.com/v2.0/.well-known/openid-configuration'.

This is because the Instance is incorrect. It should be `https://cmatdevb2c.b2clogin.com`

You have the correct MetadataAddress in the config, but we are constructing it based on the values provided in the config, which are different, so that's

[2020-08-16 01:27] mia01 opened #460 "How can I call ITokenAcquisition.GetAccessTokenForUserAsync from startup.cs"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 0.2.3-preview

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In

[2020-08-16 01:46] mia01 opened #461 "[Bug] Reply address does not match the reply address provided when requesting authorization"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 0.2.3-preview

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In

[2020-08-16 13:53] timClyburn commented on #429
I wonder if it's related to this section of code:

![image](https://user-images.githubusercontent.com/28535141/90335336-3bee0b00-dfcc-11ea-81e6-dafc3419c4e4.png)

Which seems to apply a configuration to the services. Executing `AddMicrosoftWebApi(Configuration, "")` twice seems to merge the two sets together, the final config seems to depend on the order that you add them.

Looking at the services

[2020-08-16 23:24] sprakash10 opened #462 "[Bug] ADSTS50059: No tenant-identifying information found in either the request or implied by any provided credentials"
version : 0.2.3-preview
How do I call downstream api. I am trying to call "GetAccessTokenForAppAsync" but I get the above-mentioned error. I am using multi tenant setup. Tenant is "common" in appsettings. It's .net core web app.

below appsettings
"Instance": "https://login.microsoftonline.com/",
    "Domain": "xxxx.com",
    "TenantId": "common",
    "ClientId": "ac2b0838-xxxxxxxxxxxxx",
    "Cal

[2020-08-17 06:50] pmaytak commented on #441
@hraz-msft, which version of Microsoft Identity Web do you use?

As of 0.2.2-preview, we added a null-conditional operator, so `GetTokenUsedToCallWebAPI` is not called on a null `HttpContext`.
https://github.com/AzureAD/microsoft-identity-web/blob/fe145b3fbe75960faead1476176f7c63b8afd976/src/Microsoft.Identity.Web/TokenAcquisition.cs#L277

If you are using the latest version, then most likely the

[2020-08-17 08:19] jmprieur commented on #462
@sprakash10
If you want to use GetAccessTokenForAppAsync you need:
- either to configure your tenantId to a tenanted authority
- or to pass-in the tenantId to GetAccessTokenForAppAsync (which is a feature coming in 0.3.0-preview)

[2020-08-17 08:31] Abrissirba opened #463 "[Bug] Redirects to Account/Login"
Microsoft Identity Web 0.2.3-preview

**Where is the issue?**
* Web app
    * [x ] Sign-in users
    * [ ] Sign-in users and call web APIs

This is a new app or an experiment.

**Repro**

# Startup.cs
[code]
# Controller
[code]
**Expected behavior**
I expected that when I navigate to /mycontroller/azureAd I would be navigated to microsoft login.

**Actual behavior**
I get redirected to /Account/Lo

[2020-08-17 08:36] jmprieur commented on #460
@mia01 : did you see this article? https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access

[2020-08-17 08:39] jmprieur commented on #461
@Tratcher, @blowdart: can you please help?

[2020-08-17 08:41] jmprieur commented on #463
@Abrissirba : you should also call `.AddMicrosoftIdentityUI();`. See for instance:
https://github.com/AzureAD/microsoft-identity-web/blob/fe145b3fbe75960faead1476176f7c63b8afd976/tests/WebAppCallsMicrosoftGraph/Startup.cs#L74

[2020-08-17 08:55] Abrissirba commented on #463
Thanks but I'm still getting redirected to account/login instead of the microsoft sign in page

[2020-08-17 09:00] jmprieur commented on #463
and then accounts/login does not redirect you to the Microsoft sign-in page?

[2020-08-17 09:00] jmprieur commented on #463
Do you need to use `AuthenticationSchemes = "AzureAdCookies"` in your `Authorize` attribute?

[2020-08-17 09:04] Abrissirba commented on #463
I get a 404 on this adress, https://localhost:5001/Account/Login?ReturnUrl=%2Fapi%2Fauth%2Fazuread. no nedirects

I want to have different authenticationschemes on different endpoints and I therefore declare the AutneicationScheme there.

[2020-08-17 11:13] GeekJosh commented on #463
I'm experiencing the same issue, even stripping code right back to match the sample WebApp code the Account controller does not appear to get injected (or at least the routes to it aren't mapped)

[2020-08-17 11:42] blowdart commented on #461
So the bounce back is http://mywebsite.com/signin-oid, but you're expecting https://?

Can you capture a fiddler trace to see what's being sent as the return URL? Can you also check your site is actualling seeing the X-ForwardedFor and Proto headers, and share your complete startup.cs (with any secrets removed), as ordering is important with middleware, and we can't see what order you've added thi

[2020-08-17 13:34] GeekJosh commented on #463
In the end I coped the and slightly modified the old AzureAAD Account controller and removed Microsoft.Identity.UI, and this is now working (I have a similar use case to you where I'm using OpenID for the MVC part of the app and JWT for a shared API):

[code]

[2020-08-17 13:45] codegardener commented on #459
Solved my own issue. Problem is that the authorization policies are being checked before the User is authenticated, even though there is a ```RequireAuthenticatedUser``` policy in Startup. The uncaught MsalUiRequiredException surfaces before the normal policy checking can complete, short-circuiting the normal challenge login process.

Simply wrapping my service calls in a check for the authenticat

[2020-08-17 13:45] #459 closed

[2020-08-17 15:26] Tratcher commented on #461
[code]

You're right, it's strange that you've set the RedirectUri but that's not what shows up in the error message. That's a question for AAD.

However, you shouldn't need to set RedirectUri if the forwarders are right, it will be auto-generated with the correct scheme. See the [troubleshooting](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-3.1#

[2020-08-17 15:56] jmprieur commented on #463
Do you mind sharing what the issue was?

[2020-08-18 01:16] sprakash10 commented on #462
Thanks, jmprieur
I don't understand what do you mean by the first bullet. However glad to know that the next release will have a way to pass the tenant id. I have done some workaround to accomplish the task.

[2020-08-18 01:16] #462 closed

[2020-08-18 01:21] sprakash10 opened #465 "[Bug] AddAccountToCacheFromAuthorizationCodeAsync isn't accessible"
version 0.2.3

below code
/// <code>
        /// private async Task OnAuthorizationCodeReceived(AuthorizationCodeReceivedContext context)
        /// {
        ///   var tokenAcquisition = context.HttpContext.RequestServices.GetRequiredService&lt;ITokenAcquisition&gt;();
        ///    await _tokenAcquisition.AddAccountToCacheFromAuthorizationCode(context, new string[] { "user.read" });
        //

[2020-08-18 03:12] jennyf19 opened #467 "[Bug]Template IndividualAuth B2C Password reset uses default policy"
Repro:
- Create an app with the IndividualAuth and B2C template.
- Use the same settings in our dev app for B2C.
- Run the app.
- On the sign-in screen, hit "I forgot my password"
- Do the billion steps on the screen.
- Once complete and the password is reset, you'll get an error, in the console see this:

fail: Microsoft.AspNetCore.Authentication.OpenIdConnect.OpenIdConnectHandler[12]
Message con

[2020-08-18 07:32] Abrissirba commented on #463
I think I found my mistake. I was confused about the two different authenticationschemes used in AddMicrosoftWebApp. I used AzureAdCookeis in the authorization filter then I should have used AzureAd. When I changed to AzureAd everything started to work as I wanted,

[2020-08-18 07:32] #463 closed

[2020-08-18 07:39] jmprieur commented on #463
Thanks for the update, @Abrissirba : I'm glad you worked it out.
Do you have feedback on how we can improve our documentation?

[2020-08-18 07:48] GeekJosh commented on #463
I have to admit, I'm still not sure what went wrong, but it was as though the call to AddMicrosoftIdentityUI wasn't actually doing anything - I'd get a 404 whenever the app navigated to a view on the Account controller. As a workaround, I just created my own Account contoller and relevant views.

Weirdly, I'm using almost the exact same setup in another project without issue.

[2020-08-18 07:53] astaykov opened #468 "[Bug] Protecting WebAPI does not work if one wants to use multiple bearer schemes, e.g. for AAD *and* B2C"
Using **Microsoft Identity Web 0.2.3-preview** protecting WebAPI with multiple Bearer schemes for different authorities.

Referring to [this sample for multi bearer auth for Web Apis](https://github.com/azure-ad-b2c/apps/blob/master/apps/spa-hellojs/source-code/.Net-Core-API-RBAC/MultiBearerAPI/Startup.cs), it is impossible to use Microsoft.Identity.Web package to accomplish the required setup.

S

[2020-08-18 08:30] jmprieur commented on #468
@astaykov
By using `AddMicrosoftWebApiAuthentication`, this also sets the default scheme.

Do you try

[code]

[2020-08-18 08:42] jmprieur commented on #463
Oh, I think that I understand what happens, now. you have only Blazor pages without a controller
You need to map the controllers:

https://github.com/AzureAD/microsoft-identity-web/blob/f3795480db4974f8436fec01b6416ed2201a8cba/tests/BlazorServerCallsGraph/Startup.cs#L73-L77

[2020-08-18 08:45] jmprieur commented on #465
@sprakash10
It's now implemented by another interface: [`ITokenAcquisitionInternal`](https://github.com/AzureAD/microsoft-identity-web/blob/master/src/Microsoft.Identity.Web/ITokenAcquisitionInternal.cs)

Why do you need it? can you please explain your scenario?

Isn't using `WebAppCallsWebApi` (or `EnableTokenAcquisitionToCallDownstreamApi` in 0.3.0-preview) enough ?

[2020-08-18 09:06] jmprieur commented on #460
@mia01

you'd need something like the following:
[code]

[2020-08-18 15:43] pmaytak commented on #429
Thanks everyone for your investigations. @timClyburn, you're right.

When we call `AddMicrosoftWebApi` twice (for each configuration), Line 81 adds two options delegates to the service collection. Both configure actions are run, and second one overwrites the first. Then Line 94 resolves `IOptions<MicrosoftIdentityOptions>` as merged options.

@tratcher, I tried using the `IOptionsSnapshot` on Line

[2020-08-18 15:50] pmaytak commented on #468
Thanks @astaykov for investigation and a write-up.

This is also a duplicate of #429. I wrote a [reply there](https://github.com/AzureAD/microsoft-identity-web/issues/429#issuecomment-675556730).

The issue is with calling `builder.Services.Configure(configureMicrosoftIdentityOptions);` twice - with second time overwriting the first options.

`builder.Services.TryAddEnumerable(ServiceDescriptor.Si

[2020-08-18 15:55] Tratcher commented on #429
It seems like you're set up for a single `MicrosoftIdentityOptions` across all providers? To get around that you need to use named options. The auth scheme works as a unique name in this case.
https://github.com/dotnet/aspnetcore/blob/0e592df3ecfb402fc33cd8e31603b217393b5f94/src/Security/Authentication/Core/src/AuthenticationBuilder.cs#L42

But then at the consumption point you also need to resolv

[2020-08-19 08:13] mia01 commented on #460
@jmprieur  thanks for that snippet. Looks like it could work IIUC!
I'll give it a go...

[2020-08-19 13:22] astaykov commented on #468
Using the suggested approach has absolutely same (erronous) results like in my original approach.
My workaround works fully, and it is so far fine to work this way given the preview status of the package.

[2020-08-19 13:54] darrelmiller commented on #435
@Cholo981 This repo https://github.com/microsoftgraph/msgraph-sdk-dotnet is the right one to open this issue.  It could be that you are trying to use the latest preview of Microsoft.Graph.Core with the Microsoft.Graph library.  That won't work unfortunately.  You need to use the latest non-preview version of Microsoft.Graph.Core.

[2020-08-19 22:11] jennyf19 opened #470 "[Feature Request] During auth code redemption, send `code_verifier` to /token endpoint as part of auth code + pkce"
**Background**
For details, see the spec for auth code + pkce for [public clients](https://tools.ietf.org/html/rfc7636).

Auth code + pkce was originally implemented for public clients as they are susceptible to having the auth code intercepted. However, more and more confidential clients are wanting to implement pkce:
![image](https://user-images.githubusercontent.com/19942418/90693264-5d98fd80-e

[2020-08-20 15:18] timClyburn commented on #429
@Tratcher @pmaytak can someone point me in the right direction for completing the contributor licence agreement? I have followed the link and can have the sample pdf. I can't see where or how to submit anything?

I have a code change completed and passes the tests for changing this to use IOptionsMonitor and named options but I need to sign the agreement before I can contribute.

[2020-08-20 15:28] plemm98 opened #474 "[Bug] - Unable to authenticate a user bearer token and also an application bearer token in a web api endpoint at the same time"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

**Platform**
netcore 3.1

**What authentication flow has the issue?**
ClientCredential flow

**Is this a new or existing app?**
This is a new app or experiment

**Repro**

[2020-08-20 18:15] pmaytak commented on #429
@timClyburn I'm not exactly sure but I think if you just try to submit a pull request, the CLA bot will post a link where to sign the CLA.
![image](https://user-images.githubusercontent.com/34331512/90809352-33e8e080-e2d6-11ea-9fe0-6e9d38ab3246.png)

[2020-08-21 04:02] pmaytak commented on #474
Hello @plemm98. What error specifically do you get?

[2020-08-21 04:07] pmaytak commented on #396
@oakular Have you been able to resolve this issue?

Also I think can you try to disable the App Service Authentication in AAD?

[2020-08-21 14:04] jmprieur opened #480 "Test generated projects from 0.3.0-preview templates"
## Test the generated templates

1. Build the Microsoft.Identity.Web.sln solution: from the root of the repository:
[code]
1. Delete Microsoft.Identity.Web and MIcrosoft.Identity.Web.UI from the .nuget cache.
1. Delete the `ProjectTemplates\bin\Debug\tests` folder.
1. Run the `ProjectTemplates\test-templates.bat` file (in a developer command prompt)
1. Open the `ProjectTemplates\bin\Debug\tests\te

[2020-08-23 01:29] sprakash10 opened #483 "Incremental consent throwing exception in blazor app."
Version user: 0.2.3-preview

Followed configuration explained in https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access for blazor app. However, it throws below exception:
![image](https://user-images.githubusercontent.com/53528930/90968770-3b6ade00-e4be-11ea-8a51-3b9676b025c8.png)

Below is my code
protected override async Task OnInitializedAsyn

[2020-08-23 20:14] jmprieur opened #484 "[Bug] Infinite loop in B2C when acquiring a token with a different policy/user-flow"
**Which version of Microsoft Identity Web are you using?**
0.3.0-preview

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     *

[2020-08-23 20:39] jennyf19 commented on #483
@sprakash10 did you add this to startup.cs:
[code]
and this as well:
[code]

[2020-08-24 03:20] jennyf19 opened #485 "[Bug] blazorwasm - hosted b2c authority needs to include the policy"
The client in the blazorwasm-hosted is using MSAL JS, and it needs to have the policy appended to the end in order for the OIDC metadata endpoint to be discovered.

[code]

This `"https://fabrikamb2c.b2clogin.com/fabrikamb2c.onmicrosoft.com/` does not work and results in an OIDC metadata discovery error.

[2020-08-24 13:10] jmprieur opened #488 "[Feature Request] Need for a blazor server B2C test app"
**Is your feature request related to a problem? Please describe.**
In order to test b2C specificities like policies and conditional access with B2C, we'd want to have a blazor server B2C test app.

**How to get it**
My recommendation would be to clone the **BlazorServerCallsGraph** sample (blazor.csproj), to for instance creating a new folder blazor-server-b2c and then change a few files in the cl

[2020-08-24 19:06] stephan14x commented on #167
@playground0076 did you find a solution for your problem and could you share it?
I have looked at the Forwarded Headers solution, but can't get it to work. I need to set the proxy url and port, can not use os default. thanks

[2020-08-24 21:44] jmprieur opened #490 "[Bug] Fix .NET Core 3.1 blazorwasm2 and blazorserver project template"
**Which version of Microsoft Identity Web are you using?**
0.3.0-preview

**Where is the issue?**
blazorwasm project template

**Repro**
Create a blasorwasm project from the template

**Expected behavior**
The expected UI appears with the menu bar on the left side

**Actual behavior**
The UI is not great. There is an error in the browser that `_framework/scoped.styles.css` cannot be found

**Inves

[2020-08-24 22:09] jmprieur commented on #485
This is actually a tool problem (needs to be fixed here):
https://github.com/AzureAD/microsoft-identity-web/blob/1bb75bd2a0ec532ba35f07360b53ed294e915cea/ProjectTemplates/configuration.json#L5

The template is right:
https://github.com/AzureAD/microsoft-identity-web/blob/master/ProjectTemplates/templates/ComponentsWebAssembly-CSharp/Client/wwwroot/appsettings.json#L10

[2020-08-25 00:25] sprakash10 commented on #483
@jennyf19, Yes.

[2020-08-25 01:15] pranavgk opened #494 "[Feature Request] Expose requestID or correlation ID for requests made to AAD"
**Is your feature request related to a problem? Please describe.**
Currently, we want to investigate an issue with the token received as part of the OBO flow. Since we don't have a request id or correlation id, we are having trouble in identifying the logs of the calls made for obtaining the token when we call `await tokenAcquisition.GetAccessTokenForUserAsync(scopes);`

**Describe the solution yo

[2020-08-25 02:51] jennyf19 commented on #483
@sprakash10 do you have a repro you can share?

[2020-08-25 09:03] jmprieur opened #496 "[Bug] Cannot resolve IHttpContextAccessor scoped service in blazorserver web apps that sign-in users"
**Which version of Microsoft Identity Web are you using?**
0.3.0-preview
With the fixed Blazorserver UI changes

**Where is the issue?**
Blazor server B2C or single org

**Repro**
dotnet new blasorserver2 --auth SingleOrg
configure the app coordinates.

**Expected behavior**
This works

**Actual behavior**
System.AggregateException: 'Some services are not able to be constructed (Error while valida

[2020-08-25 09:39] mia01 commented on #460
@jmprieur I've tried this yet still getting the exact same error, unfortunately :(

[2020-08-25 11:46] molntamas commented on #391
Thanks for the feedback.
With version 2.3 Preview it actually worked for me without adding this:

[code]

And adding
`Authorize(Roles = "myRoleName")`

But I guess it is safer to specify the role claim type explicitly. Or what is recommended?

[2020-08-25 14:52] jennyf19 commented on #483
@sprakash10 actually, you might want to wait until we release 0.3.0-preview, which contains a [fix for blazor](https://github.com/AzureAD/microsoft-identity-web/issues/437) (i thought we had already released this one), you can also try removing the pre-rendering.

[2020-08-25 15:28] jennyf19 commented on #480
Included in [0.3.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.3.0-preview).

[2020-08-25 15:28] #480 closed

[2020-08-25 15:28] jennyf19 commented on #496
Included in [0.3.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.3.0-preview).

[2020-08-25 15:28] #496 closed

[2020-08-25 15:28] jennyf19 commented on #490
Included in [0.3.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.3.0-preview).

[2020-08-25 15:28] #490 closed

[2020-08-25 15:28] jennyf19 commented on #485
Included in [0.3.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.3.0-preview).

[2020-08-25 15:28] #485 closed

[2020-08-25 15:28] jennyf19 commented on #488
Included in [0.3.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.3.0-preview).

[2020-08-25 15:28] #488 closed

[2020-08-25 15:28] jennyf19 commented on #484
Included in [0.3.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.3.0-preview).

[2020-08-25 15:28] #484 closed

[2020-08-25 15:28] jennyf19 commented on #453
Included in [0.3.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.3.0-preview).

[2020-08-25 15:28] #453 closed

[2020-08-25 15:28] jennyf19 commented on #426
Included in [0.3.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.3.0-preview).

[2020-08-25 15:28] #426 closed

[2020-08-25 15:29] jennyf19 commented on #427
Included in [0.3.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.3.0-preview).

[2020-08-25 15:29] #427 closed

[2020-08-25 15:29] #445 closed

[2020-08-25 15:29] jennyf19 commented on #437
Included in [0.3.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.3.0-preview).

[2020-08-25 15:29] #437 closed

[2020-08-25 15:29] jennyf19 commented on #415
Included in [0.3.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.3.0-preview).

[2020-08-25 15:29] jennyf19 commented on #403
Included in [0.3.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.3.0-preview).

[2020-08-25 15:29] jennyf19 commented on #418
Included in [0.3.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.3.0-preview).

[2020-08-25 15:29] #418 closed

[2020-08-25 15:29] #413 closed

[2020-08-25 15:29] jennyf19 commented on #378
Included in [0.3.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.3.0-preview).

[2020-08-25 15:29] #378 closed

[2020-08-25 15:35] jennyf19 commented on #483
@sprakash10 we've released 0.3.0-preview, there are API breaking changes in this one. see https://aka.ms/ms-id-web/0.3.0-preview for details.

[2020-08-25 15:36] jennyf19 commented on #456
@cmatskas any update on these issues? thanks.
cc: @jmprieur

[2020-08-25 22:14] chriswill opened #500 "Configuration sample without using MicrosoftIdentityUI"
I see how you've supplied the MicrosoftIdentity area, but I'd like to integrate the sign-in, sign-out, profile, etc within my own routes. I'm not sure how to configure the project so that I can supply the appropriate route values.  Is it the action for Microsoft.AspNetCore.Authentication.AuthenticationOptions? CookieAuthenticationOptions?

[2020-08-26 00:06] pmaytak commented on #500
@chriswill I think in your view pages you would just specify your own routes. Like in [this sample](https://github.com/AzureAD/microsoft-identity-web/blob/master/tests/WebAppCallsMicrosoftGraph/Pages/Shared/_LoginPartial.cshtml#L9) you would point to your own sign in/out route.
I think you can also configure similar paths in `CookieAuthenticationOptions', kind of like we do [here](https://github.c

[2020-08-26 00:48] chriswill commented on #500
Thanks @pmaytak. I've implemented CookieAuthenticationOptions, but don't think that's all there is to it.  For example, I intentionally induced an error by choosing the Run option on a Azure B2C user flow, and it automatically directed me to /MicrosoftIdentity/Account/Error.  I don't have a route there, so it just displayed the standard Error.cshtml page.

I was never a fan of the built-in Identit

[2020-08-26 01:09] pmaytak commented on #500
1. Just to be sure - I assume you don't call `.AddMicrosoftIdentityUI()` in `ConfigureServices` method right?
2. Based on your description, this might be a bug in AzureADB2COpenIDConnectEventHandlers because of hard-coded paths.
https://github.com/AzureAD/microsoft-identity-web/blob/492b041167ef8fa33c80552202e5a9174724a10c/src/Microsoft.Identity.Web/AzureADB2COpenIDConnectEventHandlers.cs#L72

As

[2020-08-26 01:15] pmaytak commented on #465
@sprakash10 0.3.0-preview was released today. [Wiki](https://github.com/AzureAD/microsoft-identity-web/wiki/0.3.0-preview#calling-microsoft-graph-and-downstream-apis) has info and examples on how you can call downstream APIs.

[2020-08-26 01:36] chriswill commented on #500
That's correct, I'm not calling .AddMicrosoftIdentityUI().

Thanks for the pointer on the events.  Those are very helpful.

[2020-08-26 06:23] durandt commented on #415
Thank you for the heads-up. Works as expected 👍

[2020-08-26 07:05] jmprieur commented on #415
Thanks for the update, @durandt !

[2020-08-26 07:24] jmprieur commented on #465
@sprakash10: If you [build the .NET core project templates for Microsoft.Identity.Web](https://github.com/AzureAD/microsoft-identity-web/wiki/web-app-template) from the repo (we have not released them yet), you can create a project doing exactly what you want:

[code]

Then look in the CallWebApi page.
I confirm you don't need at all to use AddAccountToCacheFromAuthorizationCodeAsync

Closing this

[2020-08-26 07:24] #465 closed

[2020-08-26 07:25] jmprieur commented on #457
Closing as we've answered the question
@cmatskas : if you disagree, feel free to reopen

[2020-08-26 07:25] #457 closed

[2020-08-26 07:26] jmprieur commented on #269
@ajmaly : can we close this issue? or is it something you'd like Microsoft.Identity.Web to do?

[2020-08-26 15:00] NikolaosWakem opened #503 "Some thoughts on CallWebApiForUserAsync2<TInput, TOutput>"
I have switched some existing code to use IDownstreamWebApi which is great..

In the end I i knocked together the following so the app could access an existing API

[code]
1) Current CallWebApiForUserAsync only accepts OK status code
2) Current CallWebApiForUserAsync seems to not be able to accept Ok() returned from webapi i.e. blank string
3) Current CallWebApiForUserAsync only accepts TOutput as

[2020-08-26 18:13] pmaytak commented on #503
@NikolaosWakem thanks for your feedback. The idea behind `DownstreamWebApi` classes was to encapsulate some common code (that accesses protected APIs) for reuse. [Wiki](https://github.com/AzureAD/microsoft-identity-web/wiki/0.3.0-preview#calling-microsoft-graph-and-downstream-apis) has more info. Also [this](https://github.com/AzureAD/microsoft-identity-web/tree/master/tests/WebAppCallsWebApiCalls

[2020-08-26 20:38] jennyf19 commented on #203
https://github.com/AzureAD/microsoft-identity-web/issues/16 - duplicate

[2020-08-26 20:38] jennyf19 commented on #16
closing as duplicate of #203

[2020-08-26 20:38] #16 closed

[2020-08-26 20:40] #41 closed

[2020-08-26 20:42] jennyf19 commented on #62
@kdblocher is this still reproducing 0.3.0-preview? we've done a lot of work for SPAs (blazor) in this release, this should be working now. thanks.

[2020-08-26 20:44] jennyf19 commented on #133
@pmaytak could you take a look at this when you have time (after your current task is done)? thanks.

[2020-08-26 20:47] jennyf19 commented on #269
closing. @ajmaly please reopen if needed.

[2020-08-26 20:47] #269 closed

[2020-08-26 20:48] jennyf19 commented on #327
@jmprieur to clarify expectations here.

[2020-08-26 20:49] jennyf19 commented on #355
i don't think this is needed now that we have the tool.

[2020-08-26 20:49] #355 closed

[2020-08-26 20:51] jennyf19 commented on #408
used .GetDisplayName() instead.

[2020-08-26 20:51] #408 closed

[2020-08-26 20:52] jennyf19 commented on #452
closing as answered, please reopen if needed. @PSHREYASHOLLA

[2020-08-26 20:52] #452 closed

[2020-08-26 20:53] jennyf19 commented on #456
closing as answered, please reopen if needed @cmatskas

[2020-08-26 20:53] #456 closed

[2020-08-26 20:54] jennyf19 commented on #458
closing as this is a config issue, please reopen if needed @cmatskas

[2020-08-26 20:54] #458 closed

[2020-08-26 20:55] jennyf19 commented on #461
@mia01 is your question answered?

[2020-08-26 20:56] jennyf19 commented on #474
@pmaytak this looks like a duplicate of another one assigned to you. fyi.

[2020-08-26 20:57] jennyf19 commented on #483
closing as i believe this is fixed in 0.3.0-preview. please reopen if needed. thanks. @sprakash10

[2020-08-26 20:57] #483 closed

[2020-08-26 21:58] NikolaosWakem commented on #503
All the example code seems to always returns the Todo item e.g. OK(Todo) which isn't how most apis work :-(

[2020-08-27 03:31] jennyf19 commented on #503
@NikolaosWakem going to reopen, as, based on your analysis, looks like we a bug, and/or overlooked an important scenario.

[2020-08-27 07:33] jmprieur opened #505 "[Fundamentals] SDL session"
Complete SDL session

[2020-08-27 08:54] jmprieur commented on #467
### Analysis
What happens, is that in `AzureADB2COpenIDConnectEventHandlers.OnRedirectToIdentityProvider` we request an IdTokenCode even in the OIDC case (when the app does not call a Web API)

[code]

https://github.com/AzureAD/microsoft-identity-web/blob/e83d7bb8efb6909ac31d69b0de50d7d2ff8bd4c5/src/Microsoft.Identity.Web/AzureADB2COpenIDConnectEventHandlers.cs#L35

When the code is received, Mic

[2020-08-27 11:19] schmid37 opened #506 "Is it possible to use Microsoft.Graph.Beta instead of Microsoft.Graph?"
Both Libraries are using the same namespaces… We have to use the Beta because of the new Intune fuctions and it produces reference errors.

Please evaluate if this is possible.

[2020-08-27 14:17] johnayoub opened #508 "[Documentation] change changelog extension to .md"
### Documentation related to component
changelog

### Please check all that apply

- [x] typo
- [ ] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in the example
- [ ] needs an example

### Description of the issue
changelog is a markdown document but with a .txt extension and therefore doesn't render properly on github

[2020-08-27 14:23] jmprieur opened #509 "[Feature Request] In the Blazorwasm templates hosted, show how to call graph and a downstream api"
**Is your feature request related to a problem? Please describe.**
The Blasorwasm template has all the initialization to call a downstream API, or Graph, but we did not expose pages that actually call them

[2020-08-27 14:44] mia01 commented on #461
@jennyf19 I'm looking into setting up https redirection which I think might resolve it on our end since I realised this issue only happens when I load the app on http to begin with. In the meantime I've found adding this seems to help:

[code]

[2020-08-27 14:53] jennyf19 commented on #461
@Tratcher FYI, see @mia01's response above. thanks.

[2020-08-27 15:17] jennyf19 commented on #508
thanks @johnayoub. most of our teams use the same format, so we'll check and get back to you.

[2020-08-27 15:25] Tratcher commented on #461
@mia01 https redirection is the way to go. The workaround you've show should only be applied in https reverse proxy scenarios, not to requests that are really http.

HTTPS redirection is covered here: https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-3.1&tabs=visual-studio

[2020-08-27 16:41] jennyf19 commented on #467
included in [0.3.1-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.3.1-preview).

[2020-08-27 16:41] #467 closed

[2020-08-27 17:08] jmprieur commented on #429
@pmaytak : is there more work to do on this one?

[2020-08-27 17:18] pmaytak commented on #429
@jmprieur Just testing a solution and will write a wiki article.

[2020-08-27 17:36] cmatskas commented on #456
Hi @jennyf19, I must be doing something wrong as I'm still getting an error trying to obtain the confirmation as the address is wrong.
I updated the config with the correct instance:

[code]
And I followed the instructions here:
https://github.com/AzureAD/microsoft-identity-web/wiki/Azure-AD-B2C-issuer-claim-support

This is my config in B2C in the correct policy
![image](https://user-images.githu

[2020-08-27 18:15] jennyf19 commented on #456
@cmatskas you need to include a policy in the configuration. B2C is all about the user experience and each policy is a separate authorization server.
That's why this `https://cmatdevb2c.b2clogin.com/cmatdevb2c.onmicrosoft.com/v2.0/.well-known/openid-configuration` doesn't exist, but if you add your policy to the end, you should get a hit:
`https://cmatdevb2c.b2clogin.com/cmatdevb2c.onmicrosoft.com

[2020-08-27 21:41] jennyf19 commented on #429
fixed by customer @timClyburn

[2020-08-27 22:28] dakahler opened #513 "[Bug] Adding reference to Blazor WebAssembly .net 5.0 template project causes build error"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 0.3.1-preview

**Where is the issue?**

Build error: error NETSDK1073: The FrameworkReference 'Microsoft.AspNetCore.App' was not recognized

**Is this a new or an existing app?**
New app

**Repro**

- Create new Blazor WebAssembly hosted project with the project template in Visual Studio 16.8 Preview 2. Select .net 5

[2020-08-28 02:48] pmaytak commented on #474
Thanks @plemm98 for your investigation. This is related to issue #429 and a fix in PR #475 (which will be included in the next release). Also added a small [section](https://github.com/AzureAD/microsoft-identity-web/wiki/Web-APIs#using-multiple-authentication-schemes) to the wiki related to this. I'll close it as resolved/duplicate.

[2020-08-28 02:48] #474 closed

[2020-08-28 02:55] pmaytak commented on #468
Thanks @astaykov for all the feedback. A fix is in PR #475 (which will be included in the next release). Also added a small [section](https://github.com/AzureAD/microsoft-identity-web/wiki/Web-APIs#using-multiple-authentication-schemes) to the wiki related to this. I'll close this issue as duplicate of #429.

[2020-08-28 02:55] #468 closed

[2020-08-28 02:57] pmaytak commented on #429
Thanks everyone for feedback. A fix is in PR #475 (which will be included in the next release). Also added a small [section](https://github.com/AzureAD/microsoft-identity-web/wiki/Web-APIs#using-multiple-authentication-schemes) to the wiki related to this.

[2020-08-28 06:19] pmaytak commented on #444
Hi @mohsinhere, have you resolved this question?

Just to confirm - if you have
1. a web API that uses Microsoft Identity Web
2. set `"accessTokenAcceptedVersion": 1,` in manifest in AAD app registration for this web API

The API will accept that v1 access token (which has `"iss": "https://sts.windows.net/{tenantid}/"` as you mentioned)

[2020-08-28 09:04] jmprieur commented on #429
Thanks everybody
@pmaytak it might be worth describing the appconfig.json, and possibly the attribute
Thx

[2020-08-28 11:33] henriksen opened #516 "[Bug] TokenAcquisitionalways fails with MicrosoftIdentityWebChallengeUserException when called from a DelegatingHandler, but only on an Azure Web App."
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 0.3.0-preview

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [X] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In

[2020-08-28 12:50] jmprieur commented on #513
@dakahler : did you self-resolve your issue?
Do you want to share what the problem was? is there anything we could have done to avoid your issue in the first place?

[2020-08-28 13:32] jmprieur commented on #516
Thanks @henriksen

Do you have details about the MicrosoftIdentityWebChallengeUserException  exception and the MsalUiRequiredException inner exception?

We'll look at your repo. Thanks for sharing

[2020-08-28 13:36] henriksen commented on #516
Yes, of course!

[code]

[2020-08-28 13:40] jmprieur commented on #516
Oh, ok, @henriksen. So Microsoft.Identity.Web, in this particular context cannot find the user. (because the HttpContext is not available in Blazor, and probably the NavigationManager either)
 You probably want to get it from wherever you can and pass it as an optional argument of  `GetAccessTokenForUserAsync()`. There is a user parameter for these kind of situations where developers have to help.

[2020-08-28 13:43] jmprieur commented on #516
@henriksen: a possible idea (to try) might be to inject `MicrosoftIdentityConsentAndConditionalAccessHandler` in the constructor of you delegating handler, and use the `.User` member when calling `GetAccessTokenForUserAsync()`

[2020-08-28 13:43] henriksen commented on #516
But why does it work fine locally? Or fine when I call it in the `TestClient` directly. It's only when it's in the handler running in Azure it doesn't work.

[2020-08-28 13:44] henriksen commented on #516
I'll try that, thanks!

[2020-08-28 13:45] jmprieur commented on #516
I don't know. maybe the execution context is different.
@javiercn would you know?

[2020-08-28 14:02] henriksen commented on #516
Looks like the `MicrosoftIdentityConsentAndConditionalAccessHandler` couldn't find a user either.
Tried
[code]

[code]

[2020-08-28 14:03] jmprieur commented on #516
Thanks for trying, @henriksen
That's definitively one for @javiercn, then

[2020-08-28 14:04] schmid37 commented on #506
@jmprieur how do you think Microsoft should handle this? The namespace in Microsoft.Graph and Microsoft.Graph.Beta are the same... We definatelly need the new functions of Microsoft.Graph.Beta to integration Win32Lob apps in intune. This is not possible with Microsoft.Graph. This is very inconsistent.

[2020-08-28 14:08] jmprieur commented on #506
@darrelmiller: what would you suggest?
when would Intune be available in Graph v1.0 ?

[2020-08-28 14:14] schmid37 commented on #506
@jmprieur Intune Graph v1.0 is available since I think the beginning. The whole world is waiting for the release of the actual Beta 😆

[2020-08-28 15:04] jmprieur opened #517 "[Checklist] GA Microsoft.Identity.Web"
## GA Criteria

### 1. Functionally complete
Library supports  major service features)
- [x] Web apps, Web apis, MVC, Razor, Blazor (hosted and not)
- [x] SingleOrg, AnyOrg, B2C
- [x] Calling Web APIs, Calling Graph or nothing
- [x] Templates for major scenarios and variations available in .NET 5

Out of Scope - We can explain these to customers:
- Integration with easy auth
- Identity framework

[2020-08-28 15:07] dakahler commented on #513
I initially thought I had mistakenly attributed this issue to the Identity package, which is why I closed it. More investigation seemed to indicate it was actually the fault of the Radzen.Blazor package.

However, even further investigation indicates that the issue only appears when both of these packages are included. Whether this is a problem with Identity, Radzen, or the .net 5 toolchain. I'm r

[2020-08-28 15:57] jmprieur commented on #513
@dakahler : how is it related to MIcrosoft.Identity.Web? I'm not familiar with Radzen.Blazor.

[2020-08-28 16:49] pmaytak commented on #441
Hi @hraz-msft, is this still an issue for you?

[2020-08-28 16:50] dakahler commented on #513
It appears to be an interaction between Microsoft.Identity.Web and Radzen.Blazor. I can't say what the root cause is without a deeper investigation.

[2020-08-28 18:13] hraz-msft commented on #441
Yes, it is still an issue that I don't know how to solve directly. I've found several workarounds like blocking the request until the operation done or sumbit a request to the sercer itself to simulate Webhook. But I don't have direct solution

[2020-08-28 19:45] jennyf19 commented on #503
@NikolaosWakem I have a [PR](https://github.com/AzureAD/microsoft-identity-web/pull/518) w/your code suggestions, if you want to take a look.

[2020-08-28 22:30] darrelmiller commented on #506
@schmid37   Microsoft.Graph.Beta is a superset of the Microsoft.Graph library so you could use the Microsoft.Graph.Beta library instead of Microsoft.Graph.  It would mean that your client is calling beta for all of the resources.  However, due to the fact that we don't allow breaking changes, calling the beta APIs would not likely cause issues.

The alternate approach to use `extern alias` to refe

[2020-08-28 22:46] schmid37 commented on #506
@darrelmiller Thanks for the reply. We use the Microsoft.Graph.Beta for sure. Because we need to integrate Win32Lob apps in Intune. This is only possible with the beta.

The question is, what impacts would @jmprieur have when they would use Microsoft.Graph.Beta instead of Microsoft.Graph?

An other question is, when will you find the consistency between Microsoft.Graph and Microsoft.Graph.Beta? Ma

[2020-08-29 00:32] jennyf19 opened #520 "[Checklist] GA Criteria - Quick start - ASP.NET Core Web App that signs-in users (from template)"
Running sample should not be more than few steps.

The quickstart is https://docs.microsoft.com/azure/active-directory/develop/quickstart-v2-aspnet-core-webapp
Also tacked as https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/1128821

[2020-08-29 00:33] jennyf19 opened #521 "[Checklist] GA Criteria - Quickstart - ASP.NET Core Web App that signs-in users and calls Graph (from template)"
Running sample should not be more than few steps.

[2020-08-29 00:33] jennyf19 opened #522 "[Checklist] GA Criteria - Quick start - ASP.NET Core Protected Web API (from template)"
Running sample should not be more than few steps.

[2020-08-29 00:34] jennyf19 opened #523 "[Checklist] GA Criteria - Quick start - Web app signs-in user and calls web APIs scenario landing page (using GraphService and/or IDownstream API)"
Running sample should not be more than few steps.

[2020-08-29 00:35] jennyf19 opened #524 "[Checklist] GA Criteria - Protected web APIs that calls downstream APIs scenario articles (using GraphService and/or IDownstream API)"
Running sample should not be more than few steps.

[2020-08-29 00:36] jennyf19 opened #525 "[Checklist] GA Criteria - Wiki migrated to docs.ms with links from the wiki pages to the corresponding docs.ms page."
this GitHub issue corresponds to work item https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/1128824

[2020-08-29 00:37] jennyf19 opened #526 "[Checklist] GA Criteria - Ensure tutorials exist for the scenarios based on the templates"

[2020-08-29 00:38] jennyf19 opened #527 "[Checklist] GA Criteria - Adoption Program in place"
- CxP driving 3P adoption plan
- PM team driving 1P adoption plan

[2020-08-29 02:34] sprakash10 commented on #462
Thanks. This works well in this release.

[2020-08-29 02:36] sprakash10 commented on #465
Thanks. Correct I don't need to use above method at all.

[2020-08-29 15:26] jennyf19 commented on #334
I was going to fix this, but when going through the code, i don't see how we will ever have a null value here, as there is a default.
![image](https://user-images.githubusercontent.com/19942418/91640215-afcae300-e9d0-11ea-948c-1eb692b90789.png)
I'm not sure how to repro this part from the above issue: "The default parameter value is not applied.", as in our tests, we do not use the default paramet

[2020-08-29 15:26] #334 closed

[2020-08-29 17:23] mlinschulte commented on #516
Interested in this bug as well. I can confirm that in a server side blazor app the user is not available in HttpContext reliably. Instead you might use [AuthenticationStateProvider](https://docs.microsoft.com/en-us/aspnet/core/blazor/security/?view=aspnetcore-3.1#authenticationstateprovider-service). You can add it via DI as follows:
`
public SampleService(ITokenAcquisition tokenAcquisition, HttpC

[2020-08-29 18:51] sprakash10 commented on #483
I am getting different issue now. Flow is getting stuck in infinite loop. I have verified all the code, it is the same as explained in the wiki. Browser keep in redirecting between given two URLs. I don't know what's wrong.

https://login.microsoftonline.com/common/reprocess?ctx=rQIIAY2TO4vjVgCF7fGMd3ZCyORB2CYwkC1C4I6vrKcHUkiWZEuy5Jc8lhyC0NtX1suWxg-lDymnDGkC2W5JmkAgbJV6YMkWYYu06bZKtkqRIrP_IM0HB86B

[2020-08-29 18:54] sprakash10 opened #531 "[Bug] Blazor app Incremental consent issue"
Version: Latest

I am getting a different issue now. Flow is getting stuck in an infinite loop. I have verified all the code, it is the same as explained in the wiki. The browser keeps redirecting between given two URLs. I don't know what's wrong.

https://login.microsoftonline.com/common/reprocess?ctx=rQIIAY2TO4vjVgCF7fGMd3ZCyORB2CYwkC1C4I6vrKcHUkiWZEuy5Jc8lhyC0NtX1suWxg-lDymnDGkC2W5JmkAgbJV6YMkW

[2020-08-29 19:05] jennyf19 commented on #483
@sprakash10 do you have a repro you can share?

[2020-08-29 21:12] jennyf19 commented on #531
@sprakash10 can you provide a repro?

[2020-08-30 21:28] gavinmnz commented on #506
We're also encountering this issue as we're attempting to build an application using the Bookings API ahead of its official release, this is being done in conjunction with Microsoft NZ. We therefore need to use the Beta API but can't alongside this Auth library currently.

I note that on the original feature request that was added in 0.3.0-preview (#427) there were references to calling the Beta A

[2020-08-31 08:49] jmprieur commented on #506
@schmid37 @gavinmn
Would that work for you if we splat Microsoft.Identity web into another NuGet package (for instance Microsoft.Identity.Web.MicrosoftGraph) to bring the MicrosoftGraph specific classes?

We could then have two:
- Microsoft.Identity.Web.MicrosoftGraph (Leveraging the MicrosoftGraph SDK)
- Microsoft.Identity.Web.MicrosoftGraphBeta (Leveraging the MicrosoftGraph SDK Beta SDK)

The A

[2020-08-31 09:32] schmid37 commented on #506
@jmprieur sounds good to me. Hopefully not to forget that this is only a workaround. That would work for us.

@darrelmiller is it possible to get a clear way with the Graph SDK? Will this case remain after .Net 5 release?

[2020-08-31 09:45] jmprieur commented on #506
@gavinmnz

Unless I did not understand anything, you can always call the Graph beta endpoint (you change the BaseURL like [here](https://github.com/AzureAD/microsoft-identity-web/blob/875468f193d3a76d0e770a6568971f4b400928e3/tests/WebAppCallsMicrosoftGraph/appsettings.json#L12)) with the non-beta Graph SDK ?

[2020-08-31 12:52] javiercn commented on #516
@jmprieur let me ask this question to some folks, I'm not an expert in HttpClientFactory, the dev who worked on it is no longer on the team, and is now part of dotnet/runtime, so I'll need to familiarize myself a bit with it before I can understand if there's something going on.

[2020-08-31 13:10] darrelmiller commented on #506
@jmprieur  We have an issue open for creating Microsoft.Graph.Web  https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/766.  We can also create Microsoft.Graph.Beta.Web.  The Microsoft Graph libraries should take a dependency on the Microsoft.Identity libraries, not the other way around.

@schmid37 Microsoft.Graph and Microsoft.Graph.Beta will always be different as long as we are continui

[2020-08-31 13:22] schmid37 commented on #506
@darrelmiller Thanks for the feedback! Seems to be logic. To be honest, it would be easier to deal with an explicit **Beta** namespace to know what you are using in the code itself. It's a mess when you have the Microsoft.Graph referenced from an external NuGet package, but your project uses the Microsoft.Graph.Beta. We are very open for solutions. Doesn't matter which way.
I think a good way is t

[2020-08-31 13:59] jmprieur commented on #506
@jennyf19
@darrelmiller and I just synced and we propose to split Microsoft.Identity.Web into:
- P1/ Microsoft.Identity.Web (current, without the https://github.com/AzureAD/microsoft-identity-web/tree/master/src/Microsoft.Identity.Web/MicrosoftGraph folder)
- P1/ Microsoft.Identity.Web.MicrosoftGraph (only that MicrosoftGraph folder, references both Microsoft.Identity.Web and the MicrosoftGraph SD

[2020-08-31 19:04] pmaytak commented on #441
Can you verify that the issue still exists in version 0.2.2-preview or later?

[2020-08-31 19:11] hraz-msft commented on #441
Yes, in 0.2.3-preview there is no null pointer exception, but there is another exception.

![image](https://user-images.githubusercontent.com/66222191/91757390-e40ff080-ebd6-11ea-9ce6-1b83c404b5f9.png)

[2020-08-31 20:45] jennyf19 commented on #441
@hraz-msft there is a bug in this method. I'll get a fix out today, and it will be in our next release.

[2020-08-31 22:22] NikolaosWakem commented on #503
Thanks for getting back to me... I just use the following...

`public static class MicrosoftIdentityWebExtensions
    {
        public static bool IsMsalUiRequiredException(this Exception exception)
        {
            if (exception is Microsoft.Identity.Client.MsalUiRequiredException)
                return true;
            else if (exception.InnerException != null)
                return IsMs

[2020-08-31 23:26] snehanagendra opened #532 "Clear user token from cache and acquire token from AAD in on-behalf-of flow"
**Is your feature request related to a problem? Please describe.**
We are using MSAL and Microsoft.Identity.Web library for on-behalf-of token acquisition. We have token caching enabled via the Identity.Web library and we are looking for a way to clear the user token cache and acquire a token from AAD in certain flows.

**Describe the solution you'd like**
We would like to be able to invoke an API

[2020-09-01 15:13] AshTappin opened #533 "Reset Password Policy is using implicit flow by default, not authorisation code"
I have an app with sign in/up and reset password, and I want it to use authorisation code flow. I do this by setting the response type to `code`. Here is my configuration:

[code]

The sign in flow is using authorisation code flow, however when I run the reset password flow, id_token is being added to the response type parameter (I am not sure what is adding it) and since my application does not a

[2020-09-01 16:10] AshTappin commented on #533
I have debugged it further and the issue lies in `AzureADB2COpenIDConnectEventHandlers`

[code]

If the policy is not the default one, i.e. sign in/ up and I set a client secret so I have client credentials, then the response type is set to `code id_token`. Why is this? If I have configured the response type to be `code` then should it just use that?

[2020-09-01 21:14] jennyf19 commented on #533
@AshTappin This is an issue with the portal, you will need to check id_token, not access_token, just checking id_token does not enable implicit flow. B2C needs to have the id_token. We'll add some documentation to explain this. It's pretty confusing.

[2020-09-02 07:46] AshTappin commented on #533
@jennyf19 Where do I configure it to just check id_token ? Is it somewhere in the portal? Realised I have created an application in "Applications (Legacy)" so I might not be seeing some options.

[2020-09-02 08:25] AshTappin commented on #533
I have created an application the "new way" with this

![image](https://user-images.githubusercontent.com/6740075/91957553-1700d400-ecfe-11ea-9774-5c15b9ceff27.png)

But I am still getting the same `'AADB2C90057: The provided application is not configured to allow the 'OAuth' Implicit flow.` error.

Any other ideas?

[2020-09-02 10:52] jennyf19 commented on #533
@AshTappin which version are you using of microsoft identity web? You'll want to be on the latest.
Can you run the policy in the portal directly? Does it work there?

[2020-09-02 11:58] andagon commented on #516
Just as an info: a valid HTTPContext seems to be available in _Host.cshtml of a Blazor Server App (see also first link below)

For @henriksen and others who are interested in how to connect an Azure ADB2C with a Blazor server and a .Net Core Web api using the same ADB2C for auth, perhaps the two links below are helping you until this bug is fixed:

- [ASP.NET Core Blazor Server additional security

[2020-09-02 12:46] henriksen commented on #516
@andagon I don't think those would work in my case. Firstly, I'm not using B2C, but secondly, from my understanding the problem here is when getting a new access token for a downstream API. Having the original id-token or access-token from login wouldn't work, since the audience for those tokens are the Blazor app. I need to go to AAD, present one of those tokens and say "can I have an access toke

[2020-09-02 14:47] AshTappin commented on #533
@jennyf19 I am using 0.3.1-preview and when I run from the portal directly, I get a `Exception: OpenIdConnectAuthenticationHandler: message.State is null or empty.` after I reset the password

[2020-09-02 15:10] jennyf19 commented on #533
@AshTappin that's interesting. it should work directly in the portal.
Which one did you select?
![image](https://user-images.githubusercontent.com/19942418/92001665-ce441d80-ecf3-11ea-8645-4e4769826a1c.png)

[2020-09-02 15:27] AshTappin commented on #533
I selected the "Standard" option. I'll give the "Recommended" option a go.

[2020-09-02 15:30] AshTappin commented on #533
I still get the same `Exception: OpenIdConnectAuthenticationHandler: message.State is null or empty.` error with the 'Recommended' option

[2020-09-02 15:32] jennyf19 commented on #533
thanks for the update. i'll try to find someone from B2C to help. What is your tenant name?

[2020-09-02 15:34] AshTappin commented on #533
Thanks! It is `moneycorpcfxd.onmicrosoft.com`

[2020-09-02 19:12] jmprieur opened #536 "[Bug] When setting a ClientSecret programmatically, the developer should not need to configure both MicrosoftIdentityOptions and ConfidentialClientApplicationOptions"
**Which version of Microsoft Identity Web are you using?**
0.4.0-preview

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ]x Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     *

[2020-09-02 19:43] jmprieur commented on #444
@mohsinhere
If you look at this sample: https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/1.%20Desktop%20app%20calls%20Web%20API and run the app creation scripts but don't do the manual steps, you'll see that the API requests a v1.0 access tokens and this works fine.

Closing this issue as we think we've answered.
Feel free to reopen if you disagree.

[2020-09-02 19:43] #444 closed

[2020-09-02 19:46] jmprieur opened #537 "[Enhancement] Improved public API for IDownstreamWebApi"
Thanks for getting back to me... I just use the following...

[code]

_Originally posted by @NikolaosWakem in https://github.com/AzureAD/microsoft-identity-web/issues/503#issuecomment-684073768_

[2020-09-02 20:50] husseinkorly opened #538 "[Bug] Using certificate to decrypt tokens in web API"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [x] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache seria

[2020-09-02 21:08] jmprieur commented on #538
@husseinkorly:
looking at your appsettings.json

https://github.com/husseinkorly/todo-service-aadv2/blob/90023d3229734ad94374f669f572509e97ef49bd/appsettings.json#L7-L12

you've used the certificate as Client certificates (which is used when you call a downstream API), whereas you'd want to use it as a **TokenDecryptionCertificates**:

https://github.com/AzureAD/microsoft-identity-web/wiki/Using-c

[2020-09-02 21:15] jennyf19 commented on #533
@AshTappin Can you share your run now link?

[2020-09-02 21:21] husseinkorly commented on #538
@jmprieur ,
I changed `ClientCertificates` to `TokenDecryptionCertificates` and still having the same issue.

[2020-09-03 03:24] henrik-me opened #541 "Update nuget release notes to point to changelog.md instead of changelog.txt."
See under release notes for details: https://www.nuget.org/packages/Microsoft.Identity.Web/0.3.1-preview

[2020-09-03 06:49] jmprieur commented on #541
Thanks for raising, @henrik-me
this was fixed already in 0.4.1, (point to releases), but not yet published (hence the trick of having changelog.txt 'redirecting' the developer to changelog.md

[2020-09-03 06:51] jmprieur commented on #541
![image](https://user-images.githubusercontent.com/13203188/92080977-abcd0580-edc2-11ea-99fe-730e8a8550e5.png)

[2020-09-03 06:53] jmprieur commented on #541
Assigning to @jennyf19  as it was done when fixing #508
part of https://github.com/AzureAD/microsoft-identity-web/pull/519/files

[2020-09-03 08:03] jmprieur commented on #538
@husseinkorly : would you have a repro that I could use (your repo https://github.com/husseinkorly/todo-service-aadv2 does not have the change yet)
What error do you see in the web API?

[2020-09-03 09:25] jmprieur opened #543 "[Feature Request] ITokenAcquisition should have extra methods to expose AuthenticationResult"
**Is your feature request related to a problem? Please describe.**
The Azure SDK has the notion of TokenCredential which is used by various SDKs. It's possible to derive from TokenCredential to provide credentials coming from Microsoft.Identity.Web, however this requires both the token and the expiry. ITokenAcquisition covers the simple scenario where the token is returned, but not the expiry.

In

[2020-09-03 10:55] jennyf19 commented on #541
Is there more work to be done here?

[2020-09-03 12:50] jennyf19 commented on #441
@hraz-msft do you want to try out the master branch and see if the initial issue is resolved?

[2020-09-03 12:51] spotnick opened #544 "Workaround with Configuration Section AzureAD"
Hi all,

when using Microsoft.Identity.Web we usually inject all the necessary configuration with the following code:

`services.AddMicrosoftIdentityWebAppAuthentication(Configuration, "AzureAd");`

This works as long as a applicationConfig.json file is present.

If I publish my solution as an Azure Web Application I don´t want to use the applicationConfig.json file but rather the environment vari

[2020-09-03 13:06] jmprieur commented on #520
https://github.com/MicrosoftDocs/azure-docs-pr/pull/128358

[2020-09-03 13:27] hraz-msft commented on #441
Hi @jennyf19 I still can't get a token inside a callback with the latest master (error below).

I've open a repo with sample code with repro of the problem [here](https://github.com/hraz-msft/ms-identity-javascript-react-spa-dotnetcore-webapi-obo/blob/master/ProfileAPI/Controllers/ProfileController.cs#L49)

![image](https://user-images.githubusercontent.com/66222191/92120188-68de5280-ee01-11ea-8d8

[2020-09-03 13:32] jmprieur commented on #126
Closing as a duplicate of https://github.com/AzureAD/microsoft-identity-web/issues/520

[2020-09-03 13:32] #126 closed

[2020-09-03 13:34] jmprieur commented on #520
@mmacy : in progress.

[2020-09-03 13:42] spotnick commented on #544
Hi again,

ok if someone has the same issue or problem like me I found a solution. I´m not quite happy with it but it might help someone.

I first created the following two classes:

`
public class AzureConfig
    {
        public AzureAD AzureAD { get; set; }
    }

    public class AzureAD
    {
        public string Instance { get; set; }
        public string Domain { get; set; }
        publi

[2020-09-03 14:01] jmprieur commented on #544
@spotnick
The way to do is to use `AddAuthentication` followed by a different override of `AddMicrosoftIdentityWebApp` which takes delegates:

[code]

[2020-09-03 14:23] stvonolf opened #545 "[Feature Request] Support token acquisition for multiple applications"
**Is your feature request related to a problem? Please describe.**
Currently it is only possible to configure a single application - example:

`"AzureAd": {
    "Instance": "https://login.microsoftonline.com/",
    "TenantId": "7f58f645-c190-4ce5-9de4-e2b7acd2a6ab",
    "ClientId": "a4c2469b-cf84-4145-8f5f-cb7bacf814bc",
  }`

**Describe the solution you'd like**
We would like to use multiple appl

[2020-09-03 14:36] stvonolf commented on #545
Does that make sense or would the recommendation be to create a single app registration per WebApp?

[2020-09-03 16:52] mjnorman opened #546 "[Bug] Signing Out redirects to 404 -- https://<host>/Account/SignOut?page=%2FAccount%2FSignedOut"
**Which version of Microsoft Identity Web are you using?**
0.3.1-preview

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     * [

[2020-09-03 17:29] ktsakas commented on #533
It seems like implicit flow fails, unless you select both access token and id token. Could you try this?

![Annotation 2020-09-03 102549](https://user-images.githubusercontent.com/4787050/92147449-06b92980-edd0-11ea-80e0-d33bf3affa37.png)

This will give you a run now link with id_token in it (implicit flow).
I will check if this is a bug on our side.

[2020-09-03 17:31] mjnorman commented on #546
Comparing my code to the sample, I was missing the `MapRazorPages()` command in the `UseEndpoints` block.  This is mentioned in the migration from 2.2 to 3.0 guide, and I apparently missed it.  Adding this, code now works as expected. Thanks for your work on this library!

[code]

Closing issue.

[2020-09-03 17:31] #546 closed

[2020-09-03 17:32] jennyf19 commented on #533
Thanks @ktsakas we will sync w/someone from B2C

[2020-09-04 02:43] sprakash10 commented on #531
blazor server.

[2020-09-04 06:30] spotnick commented on #544
@jmprieur

Awesome!! Thank you so much! That worked instant 👍

[2020-09-04 06:30] #544 closed

[2020-09-04 09:36] AshTappin commented on #533
Thanks @ktsakas . But what if I wanted to reset password using authorisation code flow? Is that not possible?

[2020-09-04 11:13] rollandjb commented on #503
It would also be helpful to be able to set up `DefaultRequestHeaders` on the HttpClient, for example, to add an `api key` to every call to the `api`.

[2020-09-04 11:23] levi106 opened #547 "How to configure Microsoft.Identity.Web when Web App and Web API exist in the same project."
I looked at the [document](https://github.com/AzureAD/microsoft-identity-web/wiki/0.3.0-preview) but couldn't figure out how to configure the following project.

- The project is an ASP.NET Core MVC project with API controller.
- Both Web App and Web API call backend API (e.g. Microsoft Graph)

Do I need to call AddMicrosoftIdentityWebAppAuthentication and also AddMicrosoftIdentityWebApiAuthentica

[2020-09-04 12:07] husseinkorly commented on #538
@jmprieur,
sorry for the confusion, but I found that I was setting the `Audience` incorrectly, and it worked after fixing that.

Thank you

[2020-09-04 12:07] #538 closed

[2020-09-04 13:21] jmprieur commented on #547
yes @levi106 : you need to call both.

[2020-09-04 13:22] jmprieur commented on #538
Thanks for the update, @husseinkorly
We're glad you unblocked yourself.

[2020-09-04 13:25] jmprieur commented on #543
@jennyf19 @henrik-me @pmaytak
I wonder if we should not just take (for 0-4-0) the `GetAuthenticationResultForUserAsync` addition (as this is a small refactoring and does not even need more tests). This would unblock this scenario

But I'm not suggesting we take the TokenAcquisitionTokenCredential which requires more specs.

What do you think? PR: #542

cc: @maliksahil

[2020-09-04 13:30] jmprieur commented on #503
@rollandjb : we were advised against doing it by the ASP.NET Core team (HttpClient is pooled).
Do you think it would be harmless to do it?

[2020-09-04 13:33] jmprieur commented on #531
that's not a repro, @sprakash10. We'd like you to provide repro steps, something like:

1. dotnet new blazorserver2 --auth SingleOrg
2. change these values in the appsettings.json

etc ...

[2020-09-04 13:48] levi106 commented on #547
Does the call order matter? Calling AddMicrosoftIdentityWebApiAuthentication after AddMicrosoftIdentityWebAppAuthentication resulted in a 401 error.

[code]

![image](https://user-images.githubusercontent.com/16788901/92246414-ac6bb600-ef00-11ea-91cd-f42122297c5b.png)

[2020-09-04 14:02] jmprieur commented on #547
I does not but I think that you probably need to use the non-contracted from and decide of which scheme (OpenIdConnect or JWT has the priority), and specify which scheme to use for which page / controller action.

See details in https://github.com/AzureAD/microsoft-identity-web/wiki/adding-call-api-to-web-app

[2020-09-04 14:26] jmprieur commented on #346
@Tratcher : does the following work  for you:
- https://github.com/AzureAD/microsoft-identity-web/wiki/Web-Apps#with-azure-ad
- https://github.com/AzureAD/microsoft-identity-web/wiki/Web-APIs#why-to-use-microsoftidentityweb-in-web-apis
?

[2020-09-04 14:28] jmprieur commented on #438
@jennyf19 @henrik-me @pmaytak
this does not seem to repro;
Moving it to a later milestone (won't cause API breaking changes anyway)

[2020-09-04 14:29] UM001 opened #548 "[Feature Request] Make internal constants class public"
In the AccountController example constants are used. However, those constants are internal and not public usable.
Maybe make them usable? Same for AzureAdB2C, I used it from other library instead this one.

https://github.com/AzureAD/microsoft-identity-web/blob/master/src/Microsoft.Identity.Web.UI/Areas/MicrosoftIdentity/Controllers/AccountController.cs

namespace Microsoft.Identity.Web
{
    //

[2020-09-04 15:07] UM001 opened #549 "Sample documentation on how to authenticate with Azure AD AND Azure B2C in one application .net core 3.x"
- [ X] documentation doesn't exist
- [ X] documentation needs clarification
- [ X] needs an example

### Description of the issue
Can you show an example of how to create an application on which employees from an Azure AD can sign-in and with another url users from an Azure B2C instance? I can have them both work separately, but not together.

[2020-09-04 15:29] jmprieur commented on #549
Would the following help, @UM001 ?
https://github.com/AzureAD/microsoft-identity-web/wiki/web-apis#using-multiple-authentication-schemes

(adapted to Web Apps)

[2020-09-04 15:38] UM001 opened #550 "'NonController' and //.AddMicrosoftIdentityUI() should be commented out for custom AccountController"
### Documentation related to component
I do not like the markup of the SignedOut.html page. So I want to customize the controller.
It took me some time to understand that I needed to comment out the 'noncontroller' on the accountcontroller code and the 'AddMicrosoftIdentityUI' as well.

'NonController' and //.AddMicrosoftIdentityUI() should be commented out for custom AccountController

 /// <summ

[2020-09-04 15:46] UM001 commented on #549
Thank you. I will give it a try. I have no webapi's as given in this example by the way.

`An unhandled exception occurred while processing the request.
InvalidOperationException: No authentication handler is registered for the scheme 'OpenIdConnect'. The registered schemes are: Bearer, B2CScheme. Did you forget to call AddAuthentication().Add[SomeAuthHandler]("OpenIdConnect",...)?`

[2020-09-04 15:49] jennyf19 commented on #548
makes sense. @jmprieur thoughts? only issue i see is breaking changes if we change the constant values, we have flexibility to do that right now.

[2020-09-04 15:52] UM001 commented on #549
I modified for now using webapi, but mvc. I get System.InvalidOperationException: 'Scheme already exists: Cookies'
I guess the openconnect is using identical cookie for both azuread and azureb2c. I guess loading azureb2c users into azuread is faster than getting this to work.

`   services.AddAuthentication(AzureADDefaults.AuthenticationScheme)
                .AddMicrosoftIdentityWebApp(Configura

[2020-09-04 16:06] jmprieur commented on #95
Closing duplicate https://github.com/AzureAD/microsoft-identity-web/issues/102

[2020-09-04 16:07] jmprieur commented on #95
@jennyf19 to close if you feel that this is well covered.

[2020-09-04 16:10] jmprieur commented on #438
Closing for now
Will reopen if this error really happens.

[2020-09-04 16:10] #438 closed

[2020-09-04 17:00] mjnorman opened #551 "[Bug] Signing in users breaks when using backchannel proxy"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
0.3.1-preview

**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Tok

[2020-09-04 17:14] jmprieur commented on #549
@UM001 : the overrides have default parameters, including the cookie scheme:
https://github.com/AzureAD/microsoft-identity-web/blob/56a8ee30939b6871c59f15bd806ea16c4a55578e/src/Microsoft.Identity.Web/WebAppExtensions/MicrosoftIdentityWebAppAuthenticationBuilderExtensions.cs#L43

you could use a different name, and that would work.

[2020-09-04 17:16] jmprieur commented on #548
yes, I agree. This is the problem (avoiding breaking changes)
@UM001 : is there constants in particular you'd want to see?

[2020-09-04 17:19] jmprieur commented on #551
@mjnorman : did you read https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?

[2020-09-04 17:21] jmprieur commented on #550
@UM001 : Wouldn't it be an option to use this technics: https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-3.1&tabs=visual-studio#override-views-partial-views-and-pages
(without removing the controller, just overriding the pages?

[2020-09-04 17:35] mjnorman commented on #551
Yes, we are set up correctly on the repro. Also recall that simply moving back to AzureAd method and to OpenIdConnectOptions with no other changes works perfectly.

[2020-09-04 18:47] jmprieur commented on #527
@jennyf19 @henrik-me
Sahil confirmed we already have adoption. No need to do more work for this work item.

[2020-09-04 18:47] #527 closed

[2020-09-04 20:28] UM001 commented on #548
For the account controller I used next.
I believe the AzureAd and AzureAdB2c are also commonly used, and api. If that can avoid adding other references that would be great.

`
        public static class Constants
        {
            public const string Policy = "policy";
            public const string LoginHint = "loginhint";
            public const string DomainHint = "domainhint";

[2020-09-04 21:12] pmaytak commented on #548
The idea behind the Constants class was so that we internally don't have to type out all the literal strings, which can be added/changed/removed as the library develops. This class has a lot of unrelated constants, which will not be useful to the end users and, if made public, can add more confusion to the API.

There's public [ClaimConstants](https://github.com/AzureAD/microsoft-identity-web/blob

[2020-09-04 22:21] pmaytak commented on #551
@mjnorman
1. What if you move the [AddAuth lines](https://github.com/mjnorman/identity-web-repro/blob/a7eae62d18f0d16357afda21c8164450f13e65c7/Startup.cs#L124-L125) before the [Configure](https://github.com/mjnorman/identity-web-repro/blob/a7eae62d18f0d16357afda21c8164450f13e65c7/Startup.cs#L44) method.
(You would have to change your [events](https://github.com/mjnorman/identity-web-repro/blob/a7e

[2020-09-04 22:24] UM001 commented on #549
I have difficulities understanding how this should work. I have no errors now in the startup, but getting it to work is another thing.

I did not add 4 schemes, only 2?

`InvalidOperationException: No authentication handler is registered for the scheme 'AzureB2C'. The registered schemes are: AzureAd, AzureAD, b2c, AzureADB2C. Did you forget to call AddAuthentication().Add[SomeAuthHandler]("AzureB2

[2020-09-04 22:48] UM001 commented on #549
It keeps going to azure b2c, not to azure ad anymore:
`            services.AddMicrosoftIdentityWebAppAuthentication(Configuration);

            services.AddMicrosoftIdentityWebAppAuthentication(Configuration, "AzureAdB2C",
                AzureADB2CDefaults.AuthenticationScheme,
                "b2c", false);`

[2020-09-04 23:51] mjnorman commented on #551
It does not make a difference. However, we did originally have that ordering, but after re-reading tratcher's comments from last year on the old issue mentioned above, it is clear that Configure has to come first because the backchannel HttpClient is consumed when the Options are initialized. Here if memory serves,
https://github.com/dotnet/aspnetcore/blob/1e7d6d56a5ae6b9ddfc8680d6f4f8282a8f17400/

[2020-09-04 23:53] mjnorman commented on #551
@pmaytak Missed your second point. If OpenIdConnectOptions is used, the Configure code is not even hit.

[2020-09-05 02:09] jennyf19 commented on #95
i looked at this class, i think we are good.

[2020-09-05 02:09] #95 closed

[2020-09-05 13:38] UM001 commented on #549
I think the issue lies in the fact that the configuration options for 2 authentication schemes are overwritten and/or only 1 is allowed.

`            services.AddMicrosoftIdentityWebAppAuthentication(Configuration, "AzureAd", "AzureAd", "AzureAdCookies");
            services.AddMicrosoftIdentityWebAppAuthentication(Configuration, "AzureAdB2C", "AzureAdB2C", "AzureAdB2CCookies");`
Above makes 4 s

[2020-09-05 13:55] UM001 commented on #549
I confirm something is wrong in your code. Not exactly sure where as I have no net 5.0 to add a default asp .netcore next to your code to see how that goes. If I add this piece of code from Woodgrove sample I get in my accountcontrollers 2 different (but still erronous) calls to Azure AD and Azure B2C, but as setup is not 100% both do not exactly work.

`   private static void ConfigureAuthenticat

[2020-09-05 20:27] UM001 commented on #549
I have it working with Woodgrove as example. Not using this library as I believe the MicrosoftIdentityOptions and scheme can only be one instead of multiple.

`  private void ConfigureAuthentication(IServiceCollection services)
        {
            var authenticationBuilder = services.AddAuthentication(options =>
            {
                options.DefaultScheme = CookieAuthenticationDefaults.A

[2020-09-06 15:45] rollandjb commented on #503
@jmprieur : I am no expert, but according to [.NET microservices - Architecture e-book](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests) `HttpMessageHandlers` are pooled, not `HttpClient`. The document encourages the use of `IHttpClientFactory` as provided by Typed Clients, described as

[2020-09-07 00:16] markholst opened #554 "Post Sign-out Redirect"
Apologies if I've missed this in the documentation, samples, or source code!

What I'd like to achieve is the ability to, after the user clicks Sign-Out, redirect the user back to the home screen of the application.  Currently they are left on the "it is a good idea to close all of your browser windows" screen.

I'm running an ASP.NET Core 3.1 MVC application, using Microsoft.Identity.Web/Microsof

[2020-09-07 18:44] Alfetta159 opened #555 "Confusing Package Version Numbers"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
Microsoft Identity Web 0.3.1-preview

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call do

[2020-09-07 19:25] Alfetta159 commented on #555
I believe this is due to a remnant on a "local" nuget server of mine.

[2020-09-07 19:25] #555 closed

[2020-09-08 07:34] #543 closed

[2020-09-08 08:37] jmprieur commented on #554
@markholst : this is an app registration topic; you need to be sure that you register <yourAppUrl>/signout-oidc in **Logout URL** which is located in the **Advanced settings** section for the **Authentication page** for your app registration

See https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-1-MyOrg#step-1-register-the-sample-with-

[2020-09-08 08:38] jmprieur commented on #551
@Tratcher do you have an idea?

[2020-09-08 08:42] jmprieur commented on #545
@stvonolf : what is your scenario? why would you want to have several AppId for the same Web app / Web API? that's not the model that we recommend.
You can have several web apps (code) that uses the same client ID, but the contrary (have several AppId in the same web app code), although possible if you use MSAL.NET directly, is not something we've plan to support with MIcrosoft.Identity.Web.

Prop

[2020-09-08 08:43] jmprieur commented on #545
@stvonolf : I'm however curious about your scenario. and would like to understand it better (in case we miss something)

[2020-09-08 09:03] markholst commented on #554
@jmprieur thanks for responding quickly, I know you are all very busy over there!

I have updated this setting in the App Registration.  It hasn't solved the situation, but things have certainly changed.

After an iisreset and a fresh incognito session to run it through, I can see it now generates a different URL with "post_logout_redirect_uri=" in there.  So far, so good!

It then leaves me with

[2020-09-08 09:10] jmprieur commented on #97
@jennyf19 : this is covered by you UI test. proposing to consider it as duplicate / fixed?

[2020-09-08 11:48] Tratcher commented on #551
Note to self: This is likely part of the problem.
https://github.com/AzureAD/microsoft-identity-web/blob/c83cb5d0e0b3c1641adee9c431db2fbae63706aa/src/Microsoft.Identity.Web/WebAppExtensions/MicrosoftIdentityWebAppAuthenticationBuilderExtensions.cs#L242

[2020-09-08 12:02] Tratcher commented on #551
No, here: https://github.com/AzureAD/microsoft-identity-web/blob/d33ab13b7ef11f33fa4b8a4eca7949a79c95a144/src/Microsoft.Identity.Web/Resource/AadIssuerValidator.cs#L25

It's not using the back channel. Statics are bad...

[2020-09-08 13:04] jmprieur commented on #520
blocked waiting for review

[2020-09-08 13:04] jmprieur commented on #522
blocked waiting for review

[2020-09-08 13:28] jmprieur commented on #97
PR is: https://github.com/AzureAD/microsoft-identity-web/pull/556

[2020-09-08 13:43] jmprieur commented on #554
@markholst it's actually ASP.NET Core that handles it.

[2020-09-08 13:44] markholst commented on #554
Hah.  Explains why I couldn't find it on github.

[2020-09-08 13:50] markholst commented on #554
https://github.com/dotnet/aspnetcore/blob/fae4a56ff6a2d0d1656d6d720d95963ca6f9b1f8/src/Security/Authentication/OpenIdConnect/src/OpenIdConnectOptions.cs

so one would need to set 'SignedOutRedirectUri'

I'll give this a go tomorrow

[2020-09-08 14:48] EdAlexander opened #557 "[Bug] Blazor server multi-tenant authentication to Azure AD for use with Graph API"
**Which version of Microsoft Identity Web are you using?**
Microsoft Identity Web 0.3.1-preview

**Where is the issue?**
* Web app
    * [x] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In

[2020-09-08 15:42] Tratcher commented on #551
@mjnorman For now you'll need to set the proxy here:
https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient.defaultproxy?view=netcore-3.1

Do that really early in Startup or Main so that the statics pick it up.

There should also be a way to set this from a config file, but you'd have to ask about that over at https://github.com/dotnet/runtime.

@jmprieur the outbound network commu

[2020-09-08 16:55] mpp opened #559 "[Bug] Web App call local API cause IDX10214: Audience validation failed."
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
Microsoft Identity Web 0.3.1-preview

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call do

[2020-09-08 17:47] mjnorman commented on #551
@Tratcher This worked perfectly.  I almost want to say this is might be a preferred method when everything outbound would need to go through a proxy such as CF instances with no internet connectivity, so you don't have to configure options individually, although I agree with your statement that it should be configurable in these options as well.

[code]

[2020-09-08 19:51] mpp commented on #559
I found the issue.

I set a custom App ID URI in the Azure AD App Registration and didn't set the Audience value as detailed in the documentation:
https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-app-configuration

[2020-09-08 19:51] #559 closed

[2020-09-08 21:13] mderriey opened #560 "[Documentation] - Question about wiki page statement"
### Documentation related to component

Wiki page "Why use Microsoft.Identity.Web?"

### Please check all that apply

- [ ] typo
- [ ] documentation doesn't exist
- [X] documentation needs clarification
- [ ] error(s) in the example
- [ ] needs an example

### Description of the issue

In the [Why use Microsoft.Identity.Web?](https://github.com/AzureAD/microsoft-identity-web/wiki/Microsoft-Identit

[2020-09-08 22:51] Shama-K opened #561 "[Feature Request] To Pass extraQueryParameters using Microsoft.Identity.Web"
We can not pass extra query parameters in query string, as **WithExtraQueryParameters** of [AcquireTokenSilentParameterBuilder Class](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.client.acquiretokensilentparameterbuilder?view=azure-dotnet) is not supported by Microsoft.Identity.Web.

[2020-09-08 23:48] mmacy commented on #520
@jmprieur Thanks Jean-Marc, will tackle this tomorrow first thing in the morning.

[2020-09-09 01:09] jennyf19 commented on #557
@EdAlexander do you have a link to the blazor server sample you refer to above?

[2020-09-09 07:40] jmprieur commented on #532
@jennyf19, @pmaytak, @henrik-me: we could expose an optional delegate (here and in downstreamApi options) to provide more options:
- @snehanagendra : would a `forceRefresh` boolean work for your scenario?
- another ask is to expose `extraQueryParameters`. See https://github.com/AzureAD/microsoft-identity-web/issues/561

[2020-09-09 07:41] jmprieur commented on #561
See also https://github.com/AzureAD/microsoft-identity-web/issues/532

[2020-09-09 08:07] jmprieur commented on #560
Thanks for the heads-up @mderriey. This sentence was obviously wrong. I fixed it by "There is also no issuer validation happening in multi-tenant applications."

[2020-09-09 08:07] #560 closed

[2020-09-09 08:18] jmprieur commented on #557
@EdAlexander
I just tried creating a multi-tenant blazor app:

1. ```shell
   dotnet new blazorserver2 --auth MultiOrg --calls-graph
[code]

[2020-09-09 08:19] jmprieur commented on #557
cc: @jennyf19

[2020-09-09 08:19] #557 closed

[2020-09-09 08:19] jmprieur commented on #554
yes, indeed.
Do you agree that we can close this issue?

[2020-09-09 08:21] jmprieur commented on #551
@Tratcher ; would removing the static be solved by this issue?: https://github.com/AzureAD/microsoft-identity-web/issues/402 ?

[2020-09-09 08:22] #545 closed

[2020-09-09 08:22] #346 closed

[2020-09-09 10:49] Tratcher commented on #551
Sure, something like that.

[2020-09-09 11:31] EdAlexander commented on #557
https://github.com/wmgdev/BlazorGraphApi is the sample i am running.

I am not using a tenant with multi-factor or conditional access enabled.

The template mentioned by @jmprieur does run and work fine, but does not use microsoft.identity.web and i don't see that it returns the bearer token for use with graph (I had tried that sample before and was not able to access the graph using the graph api

[2020-09-09 12:10] jmprieur commented on #557
What do you mean @EdAlexander it does not use Microsoft.Identity.Web ? it's a Microsoft.Identity.Web template:
See https://github.com/AzureAD/microsoft-identity-web/wiki/web-app-template#use-the-web-app-blazor-server-template

[2020-09-09 12:24] EdAlexander commented on #557
I built the sample from the visual studio blazor server template, choosing multi-tenant and graph and found no package (nuget) for microsoft.identity.web installed.  To be honest i don't know where that template is came from, but it doesn't seem to do the trick.

I see the templates in the identity.web project now and will try blazorserver2 from there (and compare to what i was using in my applica

[2020-09-09 12:36] EdAlexander commented on #557
having trouble picking up blazorserver2 template...
PS C:\Users\ed.alexander\source\repos> **dotnet new --install "Microsoft.Identity.Web.ProjectTemplates"**
  Determining projects to restore...
  Restored C:\Users\ed.alexander\.templateengine\dotnetcli\v3.1.402\scratch\restore.csproj (in 1.39 sec).

Templates                                                                      Short Name

[2020-09-09 12:45] jmprieur commented on #557
@EdAlexander
Just download the https://www.nuget.org/packages/Microsoft.Identity.Web.ProjectTemplates/0.3.1-preview NuGet package and save it somewhere on your disk (let's say the folder path is `yourSavedlocation`)

then run the following command to install the templates:

[code]

and you'll be set. This is explained in https://github.com/AzureAD/microsoft-identity-web/wiki/web-app-template, btw

[2020-09-09 13:28] EdAlexander commented on #557
Thanks for the link to documentation...  looking forward to v1.0 :)

[2020-09-09 14:10] EdAlexander commented on #557
found my original issue (now resolved)... sometimes the simple things are the hardest.  I changed appsettings.json TenantId to "common" and all is well....

[2020-09-09 21:33] 3GDXC opened #564 "Claims Enrichment"
Please provide an example where a web application may hook into the authorization flow and enrich the user claims token with additional user information for the applications own data source(s)

[2020-09-09 21:43] 3GDXC commented on #532
@jmprieur what is the defaults for caching; is the duration of the token cache based on the token expiry? its not clear what the default behavior of the token cache is? and this would IMHO lead to confusions I feel the token caching needs some work/explanations and considerations around when/what/if hooks are needed and/or the ability to remove/flush/clear tokens added to the cache based on dateti

[2020-09-10 00:38] snehanagendra commented on #532
@jmprieur Yes, a forceRefresh flag would work

[2020-09-10 08:03] jmprieur commented on #564
@3GDXC : what do you mean? Can you please explain your scenario?
Is it an example? (documentation not enhancement)? or do you wish to have something new in the API (enhancement)?

Did you read this article: https://github.com/AzureAD/microsoft-identity-web/wiki/customization ? which probably already explains it all?

[2020-09-10 09:15] mslucasMMID commented on #564
or more information on [https://github.com/AzureAD/microsoft-identity-web/wiki/web-apps](https://github.com/AzureAD/microsoft-identity-web/wiki/web-apps)

[2020-09-10 09:34] jmprieur commented on #564
@mslucasMMID : I still don't understand what the scenario is, and what you'd want? could you please elaborate? give an example?

[2020-09-10 09:43] mslucasMMID commented on #564
I'm not the original poster.
I use it because I want to insert a claim with a token/"specific info" to connect my local DB to the signin username. If I add the token during options.Events.OnTokenValidated I now the user is valid and I only have to lookup this specific info ones.

But i'm a newbie so maybe there is a better way.

[2020-09-10 22:25] mmacy commented on #520
@jmprieur The updated PR I created from your PR is now ready for your review:

https://github.com/MicrosoftDocs/azure-docs-pr/pull/129127

[2020-09-11 03:07] markholst commented on #554
Hi @jmprieur, apologies for not responding sooner.

I am still having issues, and having difficulty pinning it down.  I'll send through some additional details in the next couple of working days.  I'd appreciate it if you could at least help give me a quick sanity check to ensure I haven't done anything silly.

I haven't checked in the last couple of weeks, but do the demos include the sign-out ca

[2020-09-11 07:28] jmprieur commented on #494
Blocked as ASP.NET Core seems to not provide the x-ms-* headers which contain the correlation ID.

[2020-09-11 07:32] jmprieur commented on #327
Experiments done in the following branch: https://github.com/AzureAD/microsoft-identity-web/tree/jmprieur/experimentationsForSpecs

Marking this as blocked as:
- we can change `ID_NETSTANDARD_2` into `ID_NETSTANDARD_2_IDWEB`
- but we cannot add-up `IDWEB` to the `MSAL.NET` sku.
Henrik suggested using the telemetry blob, but they are for APIs, not for SKUs, and they would require surfacing somethin

[2020-09-11 09:10] jmprieur commented on #520
Reviewed by Marsh.

[2020-09-11 13:16] SviatoslavVilkovych commented on #249
So, there is no more posibility to have **TokenAcquisition** registered as a Singleton service, right?

[2020-09-11 14:44] jennyf19 commented on #97
Included in [0.4.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.4.0-preview)

[2020-09-11 14:44] #97 closed

[2020-09-11 14:44] jennyf19 commented on #543
Included in [0.4.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.4.0-preview)

[2020-09-11 14:44] jennyf19 commented on #95
Included in [0.4.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.4.0-preview)

[2020-09-11 14:44] jennyf19 commented on #102
Included in [0.4.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.4.0-preview)

[2020-09-11 14:44] #102 closed

[2020-09-11 14:44] jennyf19 commented on #541
Included in [0.4.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.4.0-preview)

[2020-09-11 14:44] #541 closed

[2020-09-11 14:45] jennyf19 commented on #444
Included in [0.4.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.4.0-preview)

[2020-09-11 14:45] jennyf19 commented on #506
Included in [0.4.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.4.0-preview)

[2020-09-11 14:45] #506 closed

[2020-09-11 14:45] jennyf19 commented on #508
Included in [0.4.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.4.0-preview)

[2020-09-11 14:45] #508 closed

[2020-09-11 14:45] jennyf19 commented on #429
Included in [0.4.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.4.0-preview)

[2020-09-11 14:45] jennyf19 commented on #468
Included in [0.4.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.4.0-preview)

[2020-09-11 14:45] jennyf19 commented on #468
Included in [0.4.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.4.0-preview)

[2020-09-11 14:45] jennyf19 commented on #474
Included in [0.4.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.4.0-preview)

[2020-09-11 14:47] jennyf19 commented on #503
Included in [0.4.0-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.4.0-preview). we have another issue, above, tracking more improvements here.

[2020-09-11 14:47] #503 closed

[2020-09-11 16:42] henriksen commented on #516
@EdAlexander The workaround is basically using `ITokenAccessor` anywhere but in a `DelegateHandler` 😄 What I did was make a new Typed Client that just reuse the DTOs and Query objects from the generated clients and then does the token aquisition and HTTP calls itself.
I have an example here: https://gist.github.com/henriksen/fe8846ffb4a4373a95403597b285ed18
The `BaseService` does the generic heavy

[2020-09-11 17:00] EdAlexander commented on #516
Very nice work Glenn!  Hopefully the default tooling catches up in Blazor and things will get back to simple.

EAC Partners/317.762.3331

COVID-19:  As always, EAC Partners is available to help your staff whether they are working at home or in the office. Remote assistance for your employees can be performed over the phone, through Microsoft Teams and/or Quick Assist on Windows 10.Together we can

[2020-09-11 18:56] pmaytak commented on #249
You still can. Call `services.AddTokenAcquisition(true)` at the end of `ConfigureServices` method. (The related PRs just removed `SingletonTokenAcquisition` property from `MicrosoftIdentityOptions`.)

https://github.com/AzureAD/microsoft-identity-web/blob/7df36791eb5314387c9aad3e084a94940ba24024/src/Microsoft.Identity.Web/ServiceCollectionExtensions.cs#L33-L35

[2020-09-11 20:53] #526 closed

[2020-09-11 21:22] jmprieur commented on #548
@UM001 : which constants would you want to see public?

[2020-09-12 00:57] iUnknwn opened #570 "[Bug] No Incremental Consent/Redirects when using AddMicrosoftIdentityWebApp"
**Which version of Microsoft Identity Web are you using?**
Note that to get help, you need to run the latest version.
0.4.0-preview

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [x] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Tok

[2020-09-12 01:43] MellVgaEcu opened #581 "CORS error Azure B2C"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
**Microsoft.AspNetCore.Authentication.AzureADB2C.U**

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Hi everyone!
I developed an ap

[2020-09-12 01:57] jennyf19 commented on #548
@jmprieur - @UM001 listed them above.
I went ahead and did a quick experiment w/moving some of our constants to a [public constants file](https://github.com/AzureAD/microsoft-identity-web/pull/571/files#diff-7fcdd3fe718552fda834a3ecb3a050b1). Opened a [draft pr](https://github.com/AzureAD/microsoft-identity-web/pull/571) to gather feedback. Thought better to start w/a smaller list, as we can add t

[2020-09-12 02:08] jennyf19 commented on #561
Making a note to self here that this may not work as we expect. We might have to do some fixes in MSAL .NET first
cc: @jmprieur

[2020-09-12 13:04] jassent opened #573 "[Bug] Looping redirect with Azure Signalr Service"
**Which version of Microsoft Identity Web are you using?**
Microsoft.Identity.Web (0.4.0-preview)

**Where is the issue?**
* Web app
      [X] Sign-in users and call web APIs

**Is this a new or an existing app?**
This is a new app or an experiment.

**Repro**
This sample app demonstrates the bug and uses Microsoft.Identity.Web, Blazor Server, Azure Signalr Service and Microsoft Graph:
https://git

[2020-09-12 16:35] damienbod opened #575 "wiki web-app-template 0.4.0-preview"
### Documentation related to component

https://github.com/AzureAD/microsoft-identity-web/wiki/web-app-template

### Description of the issue

Some links need to be updated to 0.4.0

Also maybe a Note about how to update a template would be useful. First uninstall then install (-u)

[2020-09-12 19:21] UM001 commented on #548
I think you have added them already. Great.

` public static class Constants
    {
        public const string Policy = "policy";
        public const string LoginHint = "loginhint";
        public const string DomainHint = "domainhint";
        public const string Claims = "claims";
        public const string Scope = "scope";
        public const string UILocales = "uilocales";
        public co

[2020-09-12 19:38] jmprieur commented on #575
Thanks for the heads-up @damienbod
This is fixed.

[2020-09-12 20:59] #575 closed

[2020-09-13 10:58] jtawil777 commented on #573
I update the example repro in the original comment to be based on a project within the microsoft-identity-web repository. The example is a modified version of the BlazorServerCallsGraph test project.

Also, the downstreamAPI.CallWebApiForAppAsync() method works and does not cause the endless login looping. This is illustrated in the example.

[2020-09-13 21:01] jennyf19 commented on #573
@jassent This might be due to the fact because of Graph, the token acquisition is registered as a singleton, however, Blazor can only work with scoped services. This should be a workaround:
[code]
btw, false is the default. Let us know if this resolves the issue for you.

[2020-09-13 21:07] jennyf19 commented on #570
@iUnknwn You cannot request scopes for different resources in the same call (this is an Azure AD constraint). So you would need to do `.EnableTokenAcquisitionToCallDownstreamApi()` for one of the resources, like `"user.read"`, and then request the other in the controller. Or you can do admin consent for your application in the portal, which means there will not be user consent.
[More info here on

[2020-09-13 23:21] sprakash10 commented on #531
@jmprieur, Let me put the repo in GitHub. I will send you the link once done. Thanks

[2020-09-14 01:20] jassent commented on #573
Thank you for the suggestion. I appreciate the assistance. I gave it a try and it didn't work for the /showprofile page. No data was returned by the graphclient and no looping redirect occurred. Instead an exception was generated. My hunch is that maybe the Azure SignalR Service doesn't like how Microsoft.Idenetity.Web is modifying the httpcontext?

After adding services.AddTokenAcquisition(false)

[2020-09-14 06:47] jmprieur commented on #573
@jassent
1. Did you add `services.AddTokenAcquisition(false)` after the call to .AddMicrosoftGraph (that is all the normal code + `services;AddTokenAcquisition()`
2. Which version of .NET framework do you use?

[2020-09-14 06:48] jmprieur commented on #531
Thanks @sprakash10 : that will be useful.

[2020-09-14 13:25] jassent commented on #573
1. Confirmed, I did add AddTokenAcquisition() after the call to AddMicrosoftGraph(). A copy of the startup.cs is below.

2. The project is .net core 3.1. The development machine has .NET Full 4.8.04084 and .NET Core 3.1.402. The project is referencing the Microsoft.Identity.Web nuget 0.4.0-preview packages

startup.cs

[code]

The project that reproduces the error is based on the "BlazorServerCall

[2020-09-14 14:19] destacey commented on #276
Is there an example of how to configure a web application with a local user repo and with Azure Ad as the only/main login provider?  I tried a few combinations of the config below with my Azure settings in appsettings, but was never able to register/login with my Azure user.

`
            services.AddDbContext<ApplicationDbContext>(options =>
                options.UseSqlServer(

[2020-09-14 15:20] jennyf19 commented on #573
@jassent do you still see the looping redirect?

[2020-09-14 15:26] jassent commented on #573
No, there is no looping redirect. Instead there is this error: "InvalidOperationException: Cannot resolve scoped service 'Microsoft.Identity.Web.ITokenAcquisition' from root provider."

[2020-09-14 15:52] mmacy commented on #520
@jmprieur The updated doc is now live:

https://docs.microsoft.com/azure/active-directory/develop/quickstart-v2-aspnet-core-webapp

[2020-09-14 18:08] iUnknwn commented on #570
Hi @jennyf19 - thank you for the explanation. Just to follow up, though - regardless of what scopes are requested, is it expected that, in this case, `AddMicrosoftIdentityWebAppAuthentication` work correctly (and incremental consent works), but `AddMicrosoftIdentityWebApp` fails to insert redirects? If so, can you explain the differences between the calls?

[2020-09-14 18:24] blowdart commented on #276
@destacey

That's not how ASP.NET identity works with external login providers, it's always going to prefer a user login.

Identity.Web is for no local user repos.

Finally, please don't respond to issues that are long closed, it's unlikely people will see your post in any triage process.

[2020-09-14 20:03] jennyf19 commented on #570
@iUnknwn that's because the default scheme is getting overridden, and there can only be one. This [documentation](https://github.com/azuread/microsoft-identity-web/wiki/web-apis#using-multiple-authentication-schemes) shows how to handle multiple schemes, more info in [asp .net](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/limitingidentitybyscheme?view=aspnetcore-3.1). This s

[2020-09-15 16:25] arcusic opened #580 "Multiple Authentication Methods"
**Which version of Microsoft Identity Web are you using?**
0.4.0-preview

**Where is the issue?**
Attempting to build a web application that incorporates AAD Single Sign On, but also has a independent URL that can be used for local accounts in our internal database. Authentication against our local db username and password are successful, but after successfully authenticating against our local dat

[2020-09-15 21:53] jennyf19 opened #583 "[Bug] Fix newly failing test"
W/same version of .net core (5.0.100-preview.7.20366.6) and VS 2019, the OpenIdConnectOptions properties
returns `MapInboundClaims` as a 57th claim, when we should be getting 56. This happens when running in Github as well.

this [PR](https://github.com/AzureAD/microsoft-identity-web/pull/582) skips the test for now.

[2020-09-15 22:31] MellVgaEcu commented on #581
@jmckennon I got it XD
![image](https://user-images.githubusercontent.com/71160286/93271319-92d83300-f778-11ea-9535-370fe08297a3.png)
I updated the packages you told me and then I re-write this code in **Startup.cs**
![image](https://user-images.githubusercontent.com/71160286/93271515-12660200-f779-11ea-8eb1-764a616271f7.png)

thank you very much ...

[2020-09-15 22:33] jennyf19 commented on #581
@MellVgaEcu are you getting the same error with the updated package?

[2020-09-15 22:35] MellVgaEcu commented on #581
@jennyf19  No, After updating the packages,my issue was resolved.

[2020-09-15 22:41] #581 closed

[2020-09-15 23:08] jennyf19 commented on #581
@MellVgaEcu awesome! Thanks for letting us know so quickly.

[2020-09-15 23:34] jennyf19 opened #584 "Remove obsolete methods for GA"

[2020-09-15 23:36] jennyf19 commented on #584
https://github.com/AzureAD/microsoft-identity-web/pull/576

[2020-09-16 07:13] pmaytak opened #586 "Complete penetration testing"
Complete penetration testing by a security team.
Request was submitted on Sept 16.

[2020-09-16 13:29] jmprieur commented on #80
![image](https://user-images.githubusercontent.com/13203188/93343934-5a486000-f831-11ea-9a09-a6a231d198f7.png)

![image](https://user-images.githubusercontent.com/13203188/93343955-603e4100-f831-11ea-9cd8-7025f6361453.png)

[2020-09-16 23:47] arcusic commented on #580
@jmprieur Do you need any additional information or was that detailed enough? Honestly this was the first time I have opened an issue on GitHub.

Secondly, I was just curious where something like this would fall on the roadmap for development since it a new scenario.

Thanks for your time!

[2020-09-16 23:57] iUnknwn commented on #570
Sorry - I still think I'm missing something. If I have an application that has some protected web apis (a /api endpoint), and a normal website that a user loads, both which need to be protected via OAuth, what is the correct way to mix a `WebApp` and `WebAPI` authentication scheme? The documentation you linked to covers multiple WebAPI providers, but not mixing types.

As I mentioned, from what I

[2020-09-17 03:23] jennyf19 commented on #573
@jassent i am able to repro the issue, will hopefully have an update for you this week. thanks.

[2020-09-17 05:29] damienbod opened #588 "[Bug] ITokenAcquisition.GetAccessTokenForUserAsync throws MsalUiRequiredException exception running second time"
When running a Web APP which uses an API, the `ITokenAcquisition.GetAccessTokenForUserAsync`  method throws an exception when running the second time after stopping the application. This is probably because the cookies are valid, but the in-memeory cache is empty because the application was restarted.

The GetAccessTokenForUserAsync should not throw an exception if it has no token, but get a new o

[2020-09-17 06:31] calbert82uhah opened #589 "[Bug] Error when attempting to use PCKE"
**Which version of Microsoft Identity Web are you using?**
0.4.0-preview

**Where is the issue?**
* Web app
    * [X] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     * [

[2020-09-17 09:23] jassent commented on #573
Good luck! You got this!

[2020-09-17 10:51] jmprieur commented on #589
@calbert82uhah : MSAL.NET does not support PKCE in confidential client applications yet (as CCA already share a secret with Azure AD, the AuthCode flow in confidential client is already very secure).
We have a feature request, though, to have Microsoft.Identity.Web and MSAL.NET support it in the future:https://github.com/AzureAD/microsoft-identity-web/issues/470

ASP.NET core does not try to do an

[2020-09-17 11:00] jmprieur commented on #588
@damienbod : Thanks for the feedback. You are right that there is a session cookie, but no access token in the cache, because you are using the In memory token cache (the default from the templates) and this cache is emptied when stopping the app.
If you were using another form of token cache serialization the user could be re-logged-in.

We recommend handling the exception by using the `Authorize

[2020-09-17 11:26] damienbod commented on #588
@jmprieur Thanks for the feedback. This means in-memory cache cannot be used for production in this setup. I usually check if I have a token, or it is expired and get another then if required. I would welcome the bool very much.  I will close this then and move to the other issue.

[2020-09-17 12:41] gerb0n opened #590 "AddDistributedTokenCaches without enabling MicrosoftIdentityWebAppAuthentication"
How to make use of the **distributed sqlserver cache** without enabling **MicrosoftIdentityWebAppAuthentication**?

I have a ConfidentialClientApplication which I created using this:

[code]
In the startup you can register the `IMsalTokenCacheProvider` using:
[code]

I want to use the sql server cache but I do not want to enable authentication towards azuread because it conflicts with my own authe

[2020-09-17 13:07] jmprieur commented on #590
@jennyf19 : where in fact it was useful to have the ServiceCollection extension for scenarios where customers/partners want to leverage MSAL.NET directly.

[2020-09-17 13:10] jmprieur commented on #590
@gerb0n : you could always use `AddMicrosoftIdentityWebApiAuthentication` (as you use JwtBearer, I'm assuming this is a Web API, not a Web app), but then override what you need: getting inspired by https://github.com/AzureAD/microsoft-identity-web/wiki/customization.

Out of curiosity, what does Microsoft.Identity.Web provide that does not work for you?

[2020-09-17 13:12] jmprieur commented on #588
Thanks @damienbod
Yes, in production you probably want to use another token cache serialization: For details, see https://github.com/AzureAD/microsoft-identity-web/wiki/token-cache-serialization

[2020-09-17 13:55] gerb0n commented on #590
@jmprieur It indeed is a Web API. It all worked fine untill I added `app.UseAuthentication()` to the `startup.cs`.
On startup I get an internal server error `OptionsValidationException: IDW10106: The 'ClientId' option must be provided.`

I understand why I get this message because the configuration I pass into `services.AddMicrosoftIdentityWebAppAuthentication()` is empty; but then again I don't w

[2020-09-17 14:29] #588 closed

[2020-09-17 15:34] jmprieur commented on #589
@calbert82uhah we've prepared a branch which we think solves this issue:
https://github.com/AzureAD/microsoft-identity-web/tree/jmprieur/investigationNoIdToken

Could you please test it?

[2020-09-17 19:28] #505 closed

[2020-09-18 06:20] calbert82uhah commented on #589
@jmprieur Yes, with this branch the `response_type `has changed to `code`, and I can log in a user!

[2020-09-18 06:37] jmprieur commented on #589
Thanks for confirming @calbert82uhah

[2020-09-18 08:53] damienbod commented on #13
Feature request: Request new access token instead of throwing exception

See https://github.com/AzureAD/microsoft-identity-web/issues/588 for details of setup.

It would really help if this (default in-memory cache with API requests) worked after application restarts. It is a really bad dev experience having to clear out the cache before you can test when you have a valid session but no token. Wou

[2020-09-18 10:35] jmprieur commented on #580
@arcusic : do you agree that this is a duplicate of https://github.com/AzureAD/microsoft-identity-web/issues/133 ?

[2020-09-18 11:38] arcusic commented on #580
@jmprieur It's similar, but I would not necessarily call it a duplicate. Here is a sample of our source code for review.

Given that we are trying to support multiple authentication scenarios (Disabled, AAD, and Okta -- granted only one can be chosen at a time). The intent is so that if you have AAD our back door using cookie authentication would still be functional and give us authorization.

**S

[2020-09-18 14:24] jennyf19 commented on #573
@jassent do you want to try this [branch](https://github.com/AzureAD/microsoft-identity-web/tree/jennyf/blazorLoop)? making the token acquisition a scoped service seems to be the fix. Blazor cannot handle singletons.

[2020-09-18 14:26] jmprieur commented on #404
We are actually not going to do this issue because a singleton has some bad effects:
- [Performance: when IConfidentialClientApplication is used as a singleton service, the cache size grows #454](https://github.com/AzureAD/microsoft-identity-web/issues/454) for the moment
- [Looping redirect with Azure Signalr Service #573](https://github.com/AzureAD/microsoft-identity-web/issues/573)

[2020-09-18 14:27] #404 closed

[2020-09-18 14:33] jmprieur commented on #494
@jennyf19 assigning this to you.
I think that for our partners it's important to have it for GA, along with the extra query parameters

[2020-09-18 15:07] jennyf19 commented on #533
@AshTappin sorry, i didn't see this before.
this shouldn't impact the authorization code flow because at the start of the auth code flow, once the user hits "sign-in", they will get directed to AAD B2C and AAD B2C will present them with the sign-in dialogue. This is where the user can hit "password reset". so there should be no problem here. If there is, let me know.

@ktsakas can you clarify some

[2020-09-18 15:07] #533 closed

[2020-09-18 15:31] jmprieur commented on #13
@damienbod. Unless I mis-understand, I'm confused. We already have this feature: The authorizeForScopes attribute and the MicrosoftIdentityConsentAndConditionalAccessHandler class.

Did you read this: https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access ?

What else would you have in mind? would you think that we don't even need to give a chanc

[2020-09-18 17:00] damienbod commented on #13
@jmprieur Thnks for your answer :) Now Im confused. At the moment when I run the application for the first time everything works fine. I use in-memory cache. When I stop my application and then start it again, it no longer works and returns an exception. I would like that no exception is thrown and that on the second start with in-memory cache it just works. (ie gets a new access token)

Is this p

[2020-09-18 17:00] levi106 commented on #547
I tried to specify the scheme name for the Web API, but I got the same result.

[code]

[2020-09-18 17:21] chris5287 commented on #13
This is behaviour we see with Blazor server as well if the connection is lost between the browser and server (eg: connectivity or user refreshes page after a while)

[2020-09-18 18:17] Henkolicious opened #595 "[Bug] Blazor wasm --hosted --auth SingleOrg. .NET 5 RC1"
**Which version of Microsoft Identity Web are you using?**

`Microsoft.Identity.Web` `0.4.0-preview`
`Microsoft.Identity.Web.UI` `0.4.0-preview`

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [x] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream w

[2020-09-19 02:36] jennyf19 commented on #531
@sprakash10 this has been address today. if you can pulling the master branch, you should see the issue resolved. I didn't realize this issue was related to this [one](https://github.com/AzureAD/microsoft-identity-web/issues/573)

[2020-09-20 12:50] jassent commented on #573
@jennyf19 this branch worked! No more looping redirect! The calls to graph return data w/ Azure Signalr Server wired-up. Thank you for the attention, quick turnaround and solution. Would you like me to "close with comment" or is that something you will do?

[2020-09-20 17:59] jennyf19 commented on #573
@jassent awesome! Thanks for getting back to us. We'll leave it open until the release w/this fix happens, probably end of month. Thanks again.

[2020-09-21 10:18] AshTappin commented on #533
@jennyf19 Does this mean,to use authorization code flow for resetting password, the user needs to be signed in already? Therefore, if I was to implement a Forgotten Password flow, I can only use implicit grant ? At the moment, I can only get reset password to work if I select "Access Tokens" (not "ID tokens) i.e. enabling implicit flow.

[2020-09-21 14:24] mmacy commented on #522
I've signed off on the PR:

https://github.com/MicrosoftDocs/azure-docs-pr/pull/130150

[2020-09-21 17:03] jennyf19 commented on #533
@AshTappin  you are right, the user does not need to be signed-in, because that wouldn't make sense if they don't know their password or want to reset it. I think this is just an issue in the portal, asking for you to check "access tokens", but it should not. @ktsakas should we open an issue w/the b2c portal UI for this?

[2020-09-21 17:43] jmprieur commented on #532
Addressed in https://github.com/AzureAD/microsoft-identity-web/pull/596/files

[2020-09-22 12:28] jmprieur commented on #524
PR is https://github.com/MicrosoftDocs/azure-docs-pr/pull/130706
@mmacy @jennyf19

[2020-09-22 20:34] creativebrother opened #603 "[Question] How to handle the MsalUiRequiredException for incremental consent with AJAX calls"
**Which version of Microsoft Identity Web are you using?**
 v0.4.0-preview
**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [x ] Sign-in users and call web APIs
* Web API
    * [ ] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory caches
     *

[2020-09-22 20:41] creativebrother commented on #603
Is the [AuthorizeForScopes(Scopes = new[] { "https://ccbcc.sharepoint.com/AllSites.Read" })]
works like [Authorize] Attribute by checking the header about the token scope to verify the scope exist, otherwise prompt user to a consent page?

[2020-09-22 20:50] jmprieur commented on #603
@creativebrother : the AuthorizeForScopes attribute is explained here: https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access

It's an exception handling attribute (it handles the MsalUiRequiredException)
which means that the method by which you acquire the token should be called by your controller action.

You can also place this attribute on th

[2020-09-23 05:10] creativebrother commented on #603
Hi, jmprieur
Thanks for point out that I should acquire the token in the controller action. Now it seems it is redirecting to the authorization endpoint when my jquery.ajax call to the controller action decorated with the AuthorizeForScopes attribute. But I have the following cors errors from chrome before and after I removed the custom header. (I tried to remove the custom header from xhr in jque

[2020-09-23 08:21] jmprieur commented on #603
@creativebrother did you have a look at this article: [Enable Cross-Origin Requests (CORS) in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/cors)

[2020-09-23 08:23] jmprieur commented on #460
@mia01 : I'm trying to understand your scenario. Why do you want to acquire a token from the Startup.cs, and not from the controller actions / Razor/Blazor pages ?

[2020-09-23 08:26] jmprieur commented on #547
@levi106 did you decorate the [Authorize] attribute for your HTML pages (Web app) and your api pages (web api) with the scheme ? did you read this article? [Authorize with a specific scheme in ASP.NET Core](https://docs.microsoft.com/aspnet/core/security/authorization/limitingidentitybyscheme)

[2020-09-23 08:28] jmprieur commented on #554
@markholst : did you see this sample: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-6-SignOut ?